﻿@model Foxxlegacy.ViewModel.ViewModel.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span.field-validation-error {
        position: initial !important;
    }
</style>
<div class="row">
    <div class="col-md-12 ">
        @if (TempData["SUCCESS_MESSAGE"] != null)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
            </div>
        }
    </div>
    <div class="col-md-12 ">
        @if (TempData["ERROR_MESSAGE"] != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
            </div>
        }
    </div>
</div>
<div class="login-left form-cont">
    <h1>Forgot Your Password?</h1>
    
    <div class="row">
        <h4 class="form-subhd">
            Enter your UserName. You will get an email with password change instructions.
        </h4>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
        {
            <div class="input-field col s12 m12">

                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "UserName", @placeholder = "User Name", @style = "font-size:24px;" })
                <span>
                    @Html.ValidationMessageFor(x => x.UserName)
                </span>
                

            </div>
            <div class="col m12 s12">
                <button type="submit" class="logingbtn btn-cstm-cls">Submit</button>
            </div>
            <div class="container">

                <div class="col m6 s6" style="display:@(TempData.ContainsKey("emailsent")==true?Convert.ToString(TempData["emailsent"]) == "success" ? "block" : "none":"none");">

                    <h3>
                      <b style="color:green;">Please check your email</b>

                    </h3>

                </div>
            </div>
        }
    </div>
</div>
