﻿@model Foxxlegacy.ViewModel.ViewModel.ForgotUserNameViewModel
@{


    ViewBag.Title = "ForgotUserName";
}
<div class="row">
    <div class="col-md-12 ">
        @if (TempData["SUCCESS_MESSAGE"] != null)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
            </div>
        }
    </div>
    <div class="col-md-12 ">
        @if (TempData["ERROR_MESSAGE"] != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
            </div>
        }
    </div>
</div>
<div class="form-cont">
    <h1>Forgot Your Username?</h1>

    <h4 class="form-subhd">
        Enter your Email. We will send a copy of your original welcome email conatining your username.

    </h4>

    <div class="row">
        @using (Html.BeginForm("ForgotUserName", "Login", FormMethod.Post))
        {
            <div class="input-field col s12 m12">

                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @style = "font-size:24px;" })
                @Html.ValidationMessageFor(x => x.Email)

            </div>
            <div class="col m12 s12">
                <button type="submit" class="logingbtn btn-cstm-cls">Submit</button>
            </div>
        }
    </div>
</div>
<div class="container">

    <div class="col m6 s6" style="display:@(TempData.ContainsKey("emailsent")==true?Convert.ToString(TempData["emailsent"]) == "success" ? "block" : "none":"none");">

        <h3>
            <img src="~/Images/mail.png" border="0" />&nbsp;<b style="color:green;">Please check your email</b>

        </h3>

    </div>
</div>