﻿@model Foxxlegacy.ViewModel.ViewModel.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span.field-validation-error {
        position: initial !important;
    }
    .errMargin{
        margin-bottom:10px !important;
    }
</style>
<div class="row">
    <div class="col-md-12 ">
        @if (Model.ResponseCode == 2)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>Password reset is done successfully. </p>
            </div>
        }
    </div>
    <div class="col-md-12 ">
        @if (Model.ResponseCode ==1)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>You can not reset password because your link has expired or is not valid. Please <a href='/login/forgotpassword'>click here</a> to request a new password reset request. </p>
            </div>
        }
    </div>
</div>
<div class="login-left">
    <h1>Reset Your Password?</h1>

    <div class="row" style="margin-top:50px;">

        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.Id)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-field col s12 m12">

                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control errMargin", @id = "NewPassword", @placeholder = "New password", @style = "font-size:24px;" })

                @Html.ValidationMessageFor(x => x.NewPassword)

            </div>
            <div class="input-field col s12 m12" style="margin-top:40px !important">

                @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control errMargin", @id = "ConfirmNewPassword", @placeholder = "Confirm New password", @style = "font-size:24px;" })
                <span>
                    @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                </span>
            </div>
            <div class="col m12 s12">
                <button type="submit" class="logingbtn">Reset Password</button>
            </div>

        }
    </div>
</div>

