﻿

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/customV4.css" rel="stylesheet" />
</head>
<body>
    <div class="w3-display-middle access_denied_cont">
        <div class="col_align_cls">
            <img src="/Images/404-error-img.png" alt="404 Error" class="res_img_cls">
            <h1 class="w3-animate-top w3-center">Access Denied</h1>
            <hr class="w3-border-white w3-animate-left" style="margin: auto; width:50%;margin:0px;">
            <h3 class="w3-center w3-animate-right">You dont have permission to view this page.</h3>
            <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
            <!----<h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>-->
            <div class="cstm_btn w3-center w3-animate-zoom"><a href="/Home/Home"> Go back to home page</a></div>
        </div>
    </div>
</body>
</html>