﻿@model Foxxlegacy.ViewModel.ViewModel.UserLoginRequestViewModel
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            @if (TempData["SUCCESS_MESSAGE"] != null)
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
                </div>
            }
        </div>
        <div class="col-md-12 ">
            @if (TempData["ERROR_MESSAGE"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
                </div>
            }
        </div>
    </div>
</div>
<div class="login-left form-cont">
    <h1 class="login-hd-text">Login</h1>
    @using (Html.BeginForm("UserLogin", "Login", FormMethod.Post))
    {
        <div>
            <div class="input-field col s12 m12">
                <label for="ContentPlaceHolder1_Login1_UserName" id="ContentPlaceHolder1_Login1_UserNameLabel" class="form-group">Username</label>
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "UserName", @placeholder = "User Name", @style = "font-size:24px;" })
                @Html.ValidationMessageFor(x => x.UserName)

            </div>
            <div class="input-field col s12 m12">
                <label for="ContentPlaceHolder1_Login1_Password" id="ContentPlaceHolder1_Login1_PasswordLabel">Password</label>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @id = "Password", @type = "password", @placeholder = "Password", @style = "font-size:24px;" })
                @Html.ValidationMessageFor(x => x.Password)

            </div>
            <div>
                <div class="col m12 s12">
                    <button type="submit" id="btnLogin" class="logingbtn btn-cstm-cls">Log In</button>


                </div>
            </div>
        </div>
    }

    <div class="loginbottom">
        <div id="ContentPlaceHolder1_Panel1">

            <div class="">
                <h4 class="login-link-text">
                    Forgot your password?
                    <a id="ContentPlaceHolder1_HyperLink1" href="@Url.Action("ForgotPassword", "Login")">Click Here</a>
                </h4>
            </div>
            <div class="">
                <h4 class="login-link-text">
                    Forgot your username?
                    <a id="ContentPlaceHolder1_HyperLink2" href="@Url.Action("ForgotUserName", "Login")">Click Here</a>
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>