﻿@model Foxxlegacy.ViewModel.ViewModel.AdLinksViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="table-responsive notificationtable">
        <table cellpadding="0" cellspacing="0" width="100%" id="tblCampaignInfo">
            <tbody>
                <tr>
                    <th>Action</th>

                    <th>
                        Page Name
                    </th>

                    <th>Preview</th>
                    <th style="display:none">CampId</th>
                    <th style="display:none">PageId</th>
                </tr>
                @{
                    for (int i = 0; i < Model.campaignPages.Count; i++)
                    {
                        <tr>
                            <td><a class="changepasswordbtn Add" id="btn_add" data-Id="@Model.campaignPages[i].Id">Add</a></td>
                            <td>@Html.DisplayFor(x => x.campaignPages[i].PageName)</td>
                            <td>
                                <a @*href='@Model.campaignPages[i].PageUrl' onClick="window.open(@Model.campaignPages[i].PageUrl,'name','width=800, height=900'); return false;">Preview </a>*@
                                <a class="changepasswordbtn" href="@Model.campaignPages[i].PageUrl" target="_blank">Preview</a>
                            </td>
                            <td class="CampaignId" style="display:none">@Model.CampId</td>
                            <td class="PageId" style="display:none">@Model.campaignPages[i].Id</td>
                        </tr>
                    }
                }
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    //$(document).on("click", "#btn_add", function () {
    //    var Id = $(this).attr("data-Id");
    //    window.location.href = "/Members/AdLinks?Id=" + Id;
    //});
    $("body").on("click", "#tblCampaignInfo .Add", function () {
        //var cId = $("#CampaignId").val();
        var row = $(this).closest("tr");
        //$("td", row).each(function () {
        //    if ($(this).find("input").length > 0) {
        //        var span = $(this).find("span");
        //        var input = $(this).find("input");
        //        span.html(input.val());
        //        span.show();
        //        input.hide();
        //    }
        //});
        var customer = {};
        customer.CampId = row.find(".CampaignId").text();
        customer.PageId = row.find(".PageId").text();
        //customer.CampName = row.find(".Name").find("span").html();
        var cId = customer.CampId;
        $.ajax({
            type: "POST",
            url: "/Members/AddCampaign",
            data: '{customer:' + JSON.stringify(customer) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Members/AdLinks?Id=" + cId;
    });
</script>