﻿@model Foxxlegacy.ViewModel.ViewModel.MiscInfoViewModel


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Information</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="modal-body">
        <div class="mypersonal_ab">
            <div class="tab">
                <button class="tablinks active" id="One" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab1.png" style="width:100%; position:relative; z-index:-1;" />
                    Users Information
                </button>
                <button class="tablinks" id="Two" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab2.png" style="width:100%; position:relative; z-index:-1;" />
                    Recurring Orders
                </button>
                <button class="tablinks" id="Three" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab3.png" style="width:100%; position:relative; z-index:-1;" />
                    Processed Orders
                </button>
                <button class="tablinks" id="Four" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab4.png" style="width:100%; position:relative; z-index:-1;" />
                    Advertising Links
                </button>
                <button class="tablinks" id="five" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab5.png" style="width:100%; position:relative; z-index:-1;" />
                    Rank History
                </button>
                <button class="tablinks" id="six" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab6.png" style="width:100%; position:relative; z-index:-1;" />
                    Marketing Activity
                </button>
                <button class="tablinks" id="seven" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab6.png" style="width:100%; position:relative; z-index:-1;" />
                    Mobile App Activity
                </button>
                @{
                    if (Model._menu.IsPlacementOn)
                    {
                        <button type="button" class="tablinks" id="eight" style="width:14%; display:inline-block;">
                            <img src="~/Images/mypersonaltab6.png" style="width:100%; position:relative; z-index:-1;" />
                            Placement
                        </button>
                    }
                }
            </div>


            <div class="">
                <div id="One" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>User Info Details</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="mypersosonalpopupsectionl">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>UserName:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <span id="MoveUserId">@Html.DisplayFor(x => x._personalInfo.UserName)</span>
                                                
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>SponsorName:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.SponserName)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Name:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Name)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Phone:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Phone)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Email:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Email)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Member Since:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Model._personalInfo.JoinDate.ToShortDateString()</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Level:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Level)</span></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="mypersosonalpopupsectionl">
                                        <p>
                                            Membership Type:  @Model.MembershipType<br />
                                            Highest Rank Achieved: @Model.HighestRankAchieved<br />


                                            QTE: @Model.QTE<a href="javascript:void(0)" id="btnQTEUpdatedUserInfoDetails" data-UserId="@TempData["TempDataUserId"]" data-TabName="UserInfoDetailsFromTree"><img src="/Images/refresh.png"></a><br />
                                            <span style="color:Orange;" id="UserInfoDetailsmsgQTEUpdatedId">

                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <h4 style="padding-top:20px; padding-bottom:10px;">Mobile App Q & A:</h4>
                            @if (Model._questionAnswer.Q1 != null)
                            {
                                <p><b>@Html.DisplayFor(x => x._questionAnswer.Q1)</b></p>
                                <p>@Html.DisplayFor(x => x._questionAnswer.Answer1)</p>
                                <p><b>@Html.DisplayFor(x => x._questionAnswer.Q2)</b></p>
                                <p>@Html.DisplayFor(x => x._questionAnswer.Answer2)</p>
                            }
                            else
                            {
                                <span>Not Completed</span>
                            }
                        </div>
                    </div>
                </div>

                <div id="Two" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Recurring Orders</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        @{
                            if (!string.IsNullOrEmpty(Model._recurringOrder.NickName))
                            {

                                <div class="table-responsive notificationtable">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Nick Name
                                                </th>
                                                <th>
                                                    Next Order
                                                </th>
                                                <th>
                                                    CV
                                                </th>
                                                <th>
                                                    Shipping Info
                                                </th>
                                                <th>
                                                    Payment Info
                                                </th>
                                                <th>Active</th>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayFor(x => x._recurringOrder.NickName)</td>
                                                <td>@Html.DisplayFor(x => x._recurringOrder.NextOrderDate)</td>
                                                <td>@Html.DisplayFor(x => x._recurringOrder.CV)</td>
                                                <td>@Html.DisplayFor(x => x._recurringOrder.ShippingInfo)</td>
                                                <td>@Html.DisplayFor(x => x._recurringOrder.PaymentInfo)</td>
                                                <td>@Html.DisplayFor(x => x._recurringOrder.Active)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            }
                            else
                            {
                                <div class="dashboard_main_inner">
                                    <p>No recurring orders at this time.</p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div id="Three" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Processed Orders</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            @{
                                if (Model._processOrder.Count > 0)
                                {
                                    <div class="table-responsive notificationtable">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>

                                                    <th>
                                                        Order No
                                                    </th>
                                                    <th>
                                                        Order Date
                                                    </th>
                                                    <th>
                                                        CV
                                                    </th>
                                                    <th>
                                                        Fulfillment Status
                                                    </th>
                                                    <th>
                                                        Qualifies for Uni-Level until
                                                    </th>
                                                    <th>
                                                        Retail Sales Commission
                                                    </th>
                                                </tr>
                                                @for (int i = 0; i < Model._processOrder.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(x => x._processOrder[i].OrderNo)</td>
                                                        <td>@Html.DisplayFor(x => x._processOrder[i].OrderDate)</td>
                                                        <td>@Html.DisplayFor(x => x._processOrder[i].CV)</td>
                                                        <td>@Html.DisplayFor(x => x._processOrder[i].FulfillmentStatus)</td>
                                                        <td>@Html.DisplayFor(x => x._processOrder[i].CVExpireDate)</td>
                                                        <td>@Html.DisplayFor(x => x._processOrder[i].RSC)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <p>
                                        No processed orders at this time.
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Four" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Ad Links Data</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        @{
                            if (Model._advertisment.Count > 0)
                            {
                                <div class="table-responsive notificationtable">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    Campaign Name
                                                </th>
                                                <th>
                                                    Link Name
                                                </th>
                                                <th>
                                                    Hits
                                                </th>
                                                <th>
                                                    Page Name
                                                </th>
                                            </tr>
                                            @for (int i = 0; i < Model._advertisment.Count; i++)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(x => x._advertisment[i].CampaignName)</td>
                                                    <td>@Html.DisplayFor(x => x._advertisment[i].LinkName)</td>
                                                    <td>@Html.DisplayFor(x => x._advertisment[i].Hits)</td>
                                                    <td>@Html.DisplayFor(x => x._advertisment[i].PageName)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="dashboard_main_inner">
                                    <p>
                                        No Ad Links data at this time.
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div id="five" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Rank History: Member Since @Model.JoinDate</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 colx-s-12">
                                    @{
                                        if (Model._rankHistory.Count > 0)
                                        {
                                            <div class="table-responsive notificationtable">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>

                                                            <th>
                                                                Rank Promotion History
                                                            </th>

                                                        </tr>
                                                        @for (int i = 0; i < Model._rankHistory.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(x => x._rankHistory[i].History)</td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        else
                                        {
                                            <p>
                                                No rank history at this time.
                                            </p>
                                        }
                                    }
                                </div>
                                <div class="col-md-6 col-sm-12 colx-s-12">
                                    <div class="mypersosonalpopupsectionr">
                                        <p>
                                            Membership Type:  @Model.MembershipType<br />
                                            Highest Rank Achieved: @Model.HighestRankAchieved<br />


                                            QTE: @Model.QTE<a href="javascript:void(0)" id="btnQTEUpdatedRankHistory" data-UserId="@TempData["TempDataUserId"]" data-TabName="RankHistoryFromTree"><img src="/Images/refresh.png"></a><br />
                                            <span style="color:Orange;" id="RankHistorymsgQTEUpdatedId">

                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="six" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Marketing Activity</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <p>

                                Marketing activity in the last 35 days for UserName @Model._personalInfo.UserName
                            </p>
                            @if (Model._marketingActivity.Count == 0)
                            {
                                <p>
                                    You have no marketing activity in the last 35 days
                                </p>
                            }
                            @{
                                if (Model._marketingActivity.Count > 0)
                                {
                                    <div class="table-responsive notificationtable">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Unique Hits
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Description
                                                    </th>
                                                    <th>
                                                        Method
                                                    </th>
                                                </tr>
                                                @for (int i = 0; i < Model._marketingActivity.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(x => x._marketingActivity[i].UniqueHits)</td>
                                                        <td>@Html.DisplayFor(x => x._marketingActivity[i].Name)</td>
                                                        <td>@Html.DisplayFor(x => x._marketingActivity[i].Description)</td>
                                                        <td>@Html.DisplayFor(x => x._marketingActivity[i].Method)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }

                            }


                        </div>
                    </div>
                </div>

                <div id="seven" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Marketing Activity</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <p>Mobile app video sharing activity for UserName @Model._personalInfo.UserName</p>
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                Last 72
                                                Hours
                                            </th>
                                            <th>
                                                Last 7
                                                Days
                                            </th>
                                            <th>
                                                8 -14
                                                Days Ago
                                            </th>
                                            <th>
                                                15 - 21
                                                Days ago
                                            </th>
                                            <th>
                                                22 - 28
                                                Days Ago
                                            </th>
                                            <th>Lifetime</th>
                                        </tr>
                                        <tr>
                                            <td><b style="color:#000;">Recipients</b></td>

                                            <td>@Model._mobileAppActivity.RecipientsLast72Hours</td>
                                            <td>@Model._mobileAppActivity.RecipientsLast7Days</td>
                                            <td>@Model._mobileAppActivity.Recipients8to14day</td>
                                            <td>@Model._mobileAppActivity.Recipinets15to21day</td>
                                            <td>@Model._mobileAppActivity.Recipients22to28day</td>
                                            <td>@Model._mobileAppActivity.RecipientsLife</td>
                                        </tr>
                                        <tr>
                                            <td><b style="color:#000;">Activity</b></td>

                                            <td>@Model._mobileAppActivity.Activity72h</td>
                                            <td>@Model._mobileAppActivity.Activity7day</td>
                                            <td>@Model._mobileAppActivity.Activity8to14day</td>
                                            <td>@Model._mobileAppActivity.Activity15to21day</td>
                                            <td>@Model._mobileAppActivity.Activity22to28day</td>
                                            <td>@Model._mobileAppActivity.ActivityLife</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

                <div id="eight" class="tabcontent">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Placement Activity</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <h4>
                                Search Downline for New Placement User Name for @Html.DisplayFor(x => x._personalInfo.UserName)
                            </h4>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="txtBxUsrname" placeholder="Type User Name..." />
                                    <p class="text-danger" id="searchErrorTxt" style="display:none">No Users Found.</p>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnSearchUser" data-id="@Model._personalInfo.Id" class="btn btn-info">Search</button>
                                </div>

                            </div>
                            <div class="row" id="PlacementUserPanel" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>User Name</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="placementUserTblBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>



























        @*<div class="row">
                <div class="col-md-12 col-xs-12 col-xs-12">
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                UserName
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._personalInfo.UserName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                Sponser Name
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._personalInfo.SponserName)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                Name
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._personalInfo.Name)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                Phone
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._personalInfo.Phone)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                Email
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._personalInfo.Email)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                Member Since
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Model._personalInfo.JoinDate.ToShortDateString()
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                Level
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._personalInfo.Level)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                @Html.DisplayFor(x => x._questionAnswer.Q1)
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._questionAnswer.Answer1)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l">
                            <span>
                                @Html.DisplayFor(x => x._questionAnswer.Q2)
                            </span>
                        </div>
                        <div class="myinfotop_r">
                            @Html.DisplayFor(x => x._questionAnswer.Answer2)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>*@



    </div>

    <div class="modal-footer">
        <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
    </div>
</div>
<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>



