﻿@model Foxxlegacy.ViewModel.ViewModel.UserInformationViewModel

<style>
    #EditInfoDiv .myinfotop_r{
        width:65% !important
    }
</style>
@using (Html.BeginForm("UpdateMyInfo", "Members", FormMethod.Post))
{

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update My Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="EditInfoDiv">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-xs-12">
                <div class="myinfobox" style="display:none">
                    <div class="myinfotop_l">
                        <span>
                            UserName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "UserName" })


                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Text Message Code
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.SMSCode, new { @class = "form-control", @id = "SMSCode" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            FirstName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @id = "FirstName" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            LastName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @id = "LastName" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Email
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "Email" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Phone
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "Phone" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Address
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @id = "Address" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            City
                        </span>
                    </div>

                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control", @id = "City" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Country
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.DropDownListFor(x => x.CountryId, new SelectList(Model.CountryList, "Id", "Name"), "- Select -", new { @class = "form-control", id = "CountryDrp", @onchange = "loadJoinStates(this.value)" })                       
                        

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            State
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @*@Html.TextBoxFor(x => x.State, new { @class = "form-control", @id = "State" })*@
                        @Html.DropDownListFor(x => x.StateId, new SelectList(Model.StateList, "Id", "Name"), "- Select -", new { @class = "form-control", id = "StateDrp" })


                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Zip
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Zip, new { @class = "form-control", @id = "Zip" })

                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}
<script>
    function loadJoinStates(CountryId) {
        var dd = $('#StateDrp');
        dd.html('');
        dd.append('<option value="">Select</option>');

        //   var CountryId = parseInt($('#sCountry').val());
        if (CountryId == '' || CountryId == undefined || isNaN(CountryId)) {

            return
        }
        showLoader('StateDrp')
        $.ajax({
            type: "GET",
            url: "/Join/GetStates?CountryId=" + CountryId,
            success: function (data) {
                debugger
                console.log('res', data)
                hideLoader('StateDrp');
                if (data.status == true) {

                    $.each(data.states, function (i) {
                        dd.append('<option value=' + data.states[i].Id + '>' + data.states[i].Name + '</option>');
                    });
                }
            },
            error: function (err) {
                hideLoader('StateDrp');
                console.log(err);
            }
        });
    }
</script>


