﻿@model Foxxlegacy.ViewModel.ViewModel.QRCodeModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="table-responsive notificationtable">
        <table cellpadding="0" cellspacing="0" width="100%" id="tblCampaignInfo">
            <tbody>
                <tr>
                    <th>
                        QR Code
                    </th>
                </tr>
        </table>
    </div>
    <img src="@Url.Content(Model.QRCodeImagePath)" alt="Image" />
    <div>
        <h4 style="color: #fff; background-color: #4a89dc; font-weight: bold; padding: 5px;">Social Media</h4>
        Copy the following link into any social media site:<br />
        @*<span>@Model.QRCodeText</span>*@
        <a href=@Model.QRCodeText target="_blank" style="text-decoration:none">@Model.QRCodeText</a>
    </div>
    <br />
    <a class="changepasswordbtn copyBtn" onclick="CopySocial(); return false" href="javascript:void(0)">Copy Social Link</a>
    <input type="text" value="@Model.QRCodeText" style="visibility:hidden" id="myInput">
    <br />&nbsp;<br />
    <h4 style="color: #fff; background-color: #4a89dc; font-weight: bold; padding: 5px;">Written URL</h4>
    The written URL is intended for print media use.<br />
    Below is an example of how to use this link code in your written materials.
    <br />
    &quot;Please go to Http://FoxxLegacy.com/Code and enter the following id and name"<br />
    The ID: @Model.CampaignId
    <br /><br />
    The Name:
    @if (@Model.Notes.Contains("The Written URL will not function without first Clicking the ‘Edit’ button on the previous page in order to create a name for the Link Name field. It is this Link Name that people will type into the form to access your link"))
    {
        <span style="color:red">@Model.Notes</span>
    }
    else
    {
        @Model.Notes
    }
</div>
@*<script type="text/javascript">
        $(function () {
            $('.copyBtn').click(function () {
                var copyText = $("#myInput").val();
                copyText.select();
                document.execCommand('copy');
            });
        });
    </script>*@