﻿@model List<Foxxlegacy.ViewModel.ViewModel.TargetUserNameViewModel>

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="hometableComm table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                 
                    <th>Name</th>
                    <th>Email</th>
               
                    <th>Phone</th>             
                   
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="#!" class="btn" onclick="sendMoreMitoCash(@item.ID, '@item.UserName', '@item.FirstName', '@item.LastName', '@item.Email', '@item.Phone')">Send MoreMito Cash</a> </td>
                       <td>@item.UserName</td>
                        <td>@item.FirstName  @item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
}
else
{
    <p><h3> No user found!</h3></p>
}
<script>
    function sendMoreMitoCash(id, username, firstname, lastname, email, phone) {
        $('#searchDiv').hide();
        $('#transferAreaDiv').show();
        $('#targetUserId').val(0);

        $('#target_username').text('');
        $('#target_name').text('');
        $('#targetEmail').text('');
        $('#targetPhone').text('');

        $('#targetUserId').val(id);
        $('#target_username').text(username);
        $('#target_name').text(firstname +' '+ lastname);
        $('#targetEmail').text(email);
        $('#targetPhone').text(phone);
        
    }
</script>