﻿@model Foxxlegacy.ViewModel.ViewModel.AdLinksViewModel
@{
    ViewBag.Title = "AdLinks";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Ad Links</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("AdLinks", "Members", FormMethod.Post))
    {
        <div class="dashboard_main_inner">
            <p>
                For help on how to use the Ad Link system <a href=""> Click Here</a>, or click on the Help Icon to the right.
            </p>
            <div class="addlinkbox">
                <h4>Campaigns</h4>
                <span>You currently have no campaigns. Get started by creating a new campaign below.</span>
                <div class="transfer_panel_bottom_someone addlinkboxbottom">
                    <label>New Campaign Name:</label>
                    @*<input type="text" class="form-control" placeholder="" />*@
                    @Html.TextBoxFor(x => x.campaign.CampaignName, new { @class = "form-control" })
                    <input type="submit" class="transfer_panel_bottom_btn" name="btnType" value="Create Campaign" />
                    <div class="clearfix"></div>
                </div>
            </div>
            @Html.DropDownListFor(m => m.CampaignId, Model.CampaignList)
            <a href="#" class="transfer_panel_bottom_btn campaignInfo" data-toggle="modal" data-target="#campaignfield">Add Campaign</a>
            @*<input type="submit" class="transfer_panel_bottom_btn" name="btnType" value="Add Campaign" />*@
            <input type="submit" class="transfer_panel_bottom_btn" name="btnType" value="Delete Campaign" />
            <div class="addlinkbox">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%" id="tblCampaign">
                        <tbody>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Link Name</th>

                                <th>
                                    Page Name
                                </th>

                                <th>Hits</th>
                                <th></th>
                                <th style="display:none"></th>
                            </tr>
                            @{
                                for (int i = 0; i < Model.usersCampaignPages.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <a class="changepasswordbtn qrCodeInfo" id="btn_add" data-toggle="modal" data-CampId="@Model.usersCampaignPages[i].Id"
                                               data-Guid="@Model.usersCampaignPages[i].LinkGUID" data-LinkName="@Model.usersCampaignPages[i].Name" href="javascript:;">Get Code</a>
                                        </td>
                                        <td>
                                            <a class="changepasswordbtn Edit" href="javascript:;" id="btn_add" data-Id="@Model.usersCampaignPages[i].Id">Edit</a>
                                            <a class="changepasswordbtn Update" href="javascript:;" data-Id="@Model.usersCampaignPages[i].Id" data-Name="@Model.usersCampaignPages[i].Name" style="display:none">Update</a>
                                            <a class="changepasswordbtn Cancel" href="javascript:;" data-Name="@Model.usersCampaignPages[i].Name" style="display:none">Cancel</a>
                                        </td>
                                        <td class="Name">
                                            <span>
                                                @Model.usersCampaignPages[i].Name
                                            </span>
                                            <input type="text" value="@Model.usersCampaignPages[i].Name" style="display:none" />
                                        </td>
                                        <td>@Model.usersCampaignPages[i].PageName</td>
                                        <td>@Model.usersCampaignPages[i].Hits</td>
                                        <td><a class="changepasswordbtn Remove" id="btn_add" data-Id="@Model.usersCampaignPages[i].Id" href="javascript:;">Remove</a></td>
                                        <td class="CampaignId" style="display:none">@Model.usersCampaignPages[i].Id</td>
                                    </tr>
                                }
                            }
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="campaignfield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='campaignModel'></div>

        </div>
    </div>
</div>

<div class="modal fade" id="QRcampaignfield" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='QRInfoModel'></div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    //var MyInfoURL = '/Members/CampaignInfo';
    $(".campaignInfo").click(function () {
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '/Members/CampaignInfo',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#campaignModel').html(data);
                $('#campaignfield').modal(options);
                $('#campaignfield').modal('show');
            },
            error: function () {
                alert("No Data to view");
            }
        });
    });
    $(document).on("change", "#CampaignId", function () {
        var Id = $(this).val();
        window.location.href = "/Members/AdLinks?Id=" + Id;
    });

    $("body").on("click", "#tblCampaign .Edit", function () {
        var row = $(this).closest("tr");
        //var $row = $(this).closest("tr");
        //var $text = $row.find(".CampaignId").text();
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblCampaign .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html().replace(/\s+$/g, '').replace(/^\s+/g, ''));
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblCampaign .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();

        var customer = {};
        customer.CampId = row.find(".CampaignId").text();
        customer.CampName = row.find(".Name").find("span").html();
        $.ajax({
            type: "POST",
            url: "/Members/UpdateCampaign",
            data: '{customer:' + JSON.stringify(customer) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    });

    $("body").on("click", "#tblCampaign .Remove", function () {
        var cId = $("#CampaignId").val();
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();
        var customer = {};
        customer.CampId = row.find(".CampaignId").text();
        customer.CampName = row.find(".Name").find("span").html();
        customer.CampaignId = cId;
        $.ajax({
            type: "POST",
            url: "/Members/DeleteCampaign",
            data: '{customer:' + JSON.stringify(customer) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Members/AdLinks?Id=" + cId;
    });
    //var MyQRURL = '/Members/QRCampaignInfo';
    $(".qrCodeInfo").click(function () {
        var CampId = $(this).attr("data-CampId");
        var Guid = $(this).attr("data-Guid");
        var LinkName = $(this).attr("data-LinkName");
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '/Members/QRCampaignInfo?Guid=' + Guid + "&LinkName=" + LinkName + "&CampId=" + CampId,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                debugger;
                $("#QRInfoModel").html(data);
               // $('#QRcampaignfield').modal(options);
                $("#QRcampaignfield").modal('show');

            },
            error: function () {
                alert("No Data to view");
            }
        });
    });
    function CopySocial() {
        var input = document.getElementById("myInput");
        var textToClipboard = input.value;
        var success = true;
        if (window.clipboardData) { // Internet Explorer
            window.clipboardData.setData("Text", textToClipboard);
        }
        else {
            // create a temporary element for the execCommand method
            var forExecElement = CreateElementForExecCommand(textToClipboard);
            /* Select the contents of the element
                (the execCommand for 'copy' method works on the selection) */
            SelectContent(forExecElement);
            var supported = true;
            // UniversalXPConnect privilege is required for clipboard access in Firefox
            try {
                if (window.netscape && netscape.security) {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                }
                // Copy the selected content to the clipboard
                // Works in Firefox and in Safari before version 5
                success = document.execCommand("copy", false, null);
            }
            catch (e) {
                success = false;
            }
            // remove the temporary element
            document.body.removeChild(forExecElement);
        }
        if (success) {
            alert("Copied social link code to clipboard");
        }
        else {
            alert("Your browser doesn't allow clipboard access!");
        }
    }
    function CopyAdvanced() {
        var input = document.getElementById('<%=txtCodeSnippet.ClientID %>');
        var textToClipboard = input.value;
        var success = true;
        if (window.clipboardData) { // Internet Explorer
            window.clipboardData.setData("Text", textToClipboard);
        }
        else {
            // create a temporary element for the execCommand method
            var forExecElement = CreateElementForExecCommand(textToClipboard);
            /* Select the contents of the element
                (the execCommand for 'copy' method works on the selection) */
            SelectContent(forExecElement);
            var supported = true;
            // UniversalXPConnect privilege is required for clipboard access in Firefox
            try {
                if (window.netscape && netscape.security) {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                }
                // Copy the selected content to the clipboard
                // Works in Firefox and in Safari before version 5
                success = document.execCommand("copy", false, null);
            }
            catch (e) {
                success = false;
            }
            // remove the temporary element
            document.body.removeChild(forExecElement);
        }
        if (success) {
            alert("Copied advanced link code to clipboard");
        }
        else {
            alert("Your browser doesn't allow clipboard access!");
        }
    }
    function CreateElementForExecCommand(textToClipboard) {
        var forExecElement = document.createElement("div");
        // place outside the visible area
        forExecElement.style.position = "absolute";
        forExecElement.style.left = "-10000px";
        forExecElement.style.top = "-10000px";
        // write the necessary text into the element and append to the document
        forExecElement.textContent = textToClipboard;
        document.body.appendChild(forExecElement);
        // the contentEditable mode is necessary for the  execCommand method in Firefox
        forExecElement.contentEditable = true;
        return forExecElement;
    }
    function SelectContent(element) {
        // first create a range
        var rangeToSelect = document.createRange();
        rangeToSelect.selectNodeContents(element);
        // select the contents
        var selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(rangeToSelect);
    }
</script>