﻿
@{
    ViewBag.Title = "AllCategories";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}


<div class="category-wrapper-content">
    <h2>Shop Our Health Products!</h2>
    <div class="category-cont">
        <div class="category-grid home-page-category-grid">
            <div class="item-grid">
                <div class="item-box">
                    <div class="category-item">
                        <div class="picture"><a href="/@ViewBag.ControlllerName/PetHealthProducts" title="Show products in category Pet Health Products"> <img src="~/Images/Categories/pet-health-products_450.png" class="w-100" alt="Picture for category Pet Health Products" title="Show products in category Pet Health Products" /> </a></div>
                        <h2 class="title"><a href="/@ViewBag.ControlllerName/PetHealthProducts" title="Show products in category Pet Health Products"> Pet Health Products </a></h2>
                    </div>
                </div>
                <div class="item-box">
                    <div class="category-item">
                        <div class="picture"><a href="/@ViewBag.ControlllerName/PeopleHealthProducts" title="Show products in category Nutritional Health Products"><img src="~/Images/Categories/nutritional-health-products_450.png" class="w-100" alt="Picture for category Nutritional Health Products" title="Show products in category Nutritional Health Products" /> </a></div>
                        <h2 class="title"><a href="/@ViewBag.ControlllerName/PeopleHealthProducts" title="Show products in category Nutritional Health Products"> People Health Products </a></h2>
                    </div>
                </div>
                <div class="item-box">
                    <div class="category-item">
                        <div class="picture"><a href="#" title="Show products in category Professional Packs"> <img src="~/Images/Categories/professional-packs_450.png" class="w-100" alt="Picture for category Professional Packs" title="Show products in category Professional Packs" /></a></div>
                        <h2 class="title"><a href="#" title="Show products in category Professional Packs"> Professional Packs </a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>