﻿
@{
    ViewBag.Title = "CompensationPlan";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h1>The Compensation Plan</h1>
            </div>
        </div>

    </div>
    <div class="dashboard_main_inner">
        <a class="btn" href="https://app.box.com/s/hnskz4k3iqso229d93we6eaj731ibu4y" target="_blank">Compensation Plan PDF</a>
        <hr />
        <a class="btn" href="/members/CommissionVideo" target="_blank">Compensation Plan Video</a>
       
    </div>
</div>

