﻿
@{
    ViewBag.Title = "ContactAdmin";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Contact Admin</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">


        <div class="col-md-10 col-sm-12 co-xs-12">

            <div class="row">
                <div class="contactadmin_form">
                    <h3>
                        Please fill out the contact request form below.
                    </h3>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <label>Name:</label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="Jonnathan King" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="email" class="form-control" placeholder="legal@foxxlegacy.com" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <label>Phone:</label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="tel" class="form-control" placeholder="17157719075" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <label>Subject:</label>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <input type="tel" class="form-control" placeholder="" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <label>Comments Questions:</label>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <textarea class="form-control" style="height:150px;"></textarea>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-2 col-sm-12 col-xs-12"></div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <input type="submit" class="contactadminbutton" value="Submit your Question or Comment to Administrator Staff" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <p>
                    Select A Contact To View
                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Your Comments / Questions</th>
                            <th>Answered</th>
                        </tr>
                        <tr>
                            <td><a class="changepasswordbtn" href="">View</a></td>
                            <td>6/17/2016</td>
                            <td>Test Contact From Members Back	</td>
                            <td>Test Contact From Members Back Office</td>
                            <td>Answered</td>
                        </tr>

                        <tr>
                            <td><a class="changepasswordbtn" href="">View</a></td>
                            <td>6/2/2016</td>
                            <td>Comp Plan</td>
                            <td>How do I learn about the compensation plan?</td>
                            <td>Not Answered</td>
                        </tr>

                        <tr>
                            <td><a class="changepasswordbtn" href="">View</a></td>
                            <td>3/31/2016</td>
                            <td>Question About Something</td>
                            <td>Question About Something</td>
                            <td>Answered</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

