﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";

    var uri = new Uri(Request.Url.AbsoluteUri);
    string ReturnUrl = null;
}



<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Welcome To Your Back Office</h2>
            </div>
        </div>
        @*<div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_Home",Return="Members/Dashboard" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>*@
    </div>
    <div class="dashboard_main_inner">
        <div class="row">
            <div class="col-md-12 aftermemberlogin_l" style="margin-bottom: 5px;">
                <h3>Share today! Your personal website link is:</h3>
                <h2><a href="@ViewBag.myWebsite" target="_blank">@ViewBag.myWebsite</a></h2>
                <p></p>
                <p>You can copy and paste this link into an email, social medial post, or text message. When someone clicks on this link they will visit your page. When they join, you will see them in your group.</p>
                <p></p>
                <p></p>
                <p></p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                @*@Html.Raw(@Model.Content)*@
                <div class="blog-header">
                    <h1 class="blog-title">Announcements</h1>
                    <p class="lead blog-description">JULY LAUNCHCONTEST!!! (THRU 3PM Eastern - Monday 7/18!!!)</p>
                </div>
                <div class="blog-main">
                    <div class="blog-post">
                        <blockquote>
                            MoreMito Celebrates the FULLYOPERATIONAL

                            opening of our Compensation Plan with our

                            JULY LAUNCHCONTEST!!! (THRU 3PM Eastern - Monday 7/18!!!)

                            EXTENDED THRU MONDAY July 18!!
                        </blockquote>

                            <h1><strong>Our winners Are......</strong></h1>

                            <blockquote>
                                <h3>1st Prize, $200 SuperBundle is Grace White</h3>

                                <h3>2nd Prize , $150 Bundle #1 is Sandra Morrow</h3>

                                <h3>3rd Prize, $100 Bottle of Restore 3.0 is Kay Jones</h3>

                                <h3>4th Prize, $100 Bottle of Restore 3.0 is Imani Lumumba</h3>

                                <h3>5th Prize, $50 Jar of Rejuvenate 2.0 is Shalom Peterson</h3>

                                <h3>6th Prize, $50 Jar of Rejuvenate 2.0 is Lorna Morrison</h3>

                                <h3>7th Prize, $50 Jar of Rejuvenate 2.0 is William Critchfield</h3>
                            </blockquote>

                       


                        <h1><strong> Recruiting Prizes...</strong></h1>
                        <blockquote>
                            <h3>1st Prize, $50 Jar of Rejuvenate 2.0 is Shirley Casavant, Gloria Robinson</h3>

                            <h3>2nd Prize, $50 Jar of Rejuvenate 2.0 is Richard Anastai, Elizibeth Overton</h3>

                            <h3>3rd Prize, $50 Jar of Rejuvenate 2.0 is Lee Rau, Jim Hancock</h3>

                            <h3>4th Prize, $50 Jar of Rejuvenate 2.0 is Dan Wade, David Griffiths</h3>
                        </blockquote>
                     

                        <h3><i><strong> Every order is an entry.... every recruit is an entry</strong></i></h3>

                        <h3>
                            <i>
                                <strong>
                                    7 prizes/winner for orders,

                                    4 prizes and winner for recruting!!
                                </strong>
                            </i>
                        </h3>

                        <h1><strong> Prizes for orders </strong></h1>
                        <blockquote>
                            <h3>1st Prize = SuperBundle ($200 - 2 Restore &amp;1 FREE Rejuvenate)</h3>

                            <h3>2nd Prize =Bundle #1 ($150 - 1 Restore, 1 Rejuvenate &amp;1 FREE Rejuvenate)</h3>

                            <h3>3rd Prize = 2 winners =1 Restoreeach ($100 each)</h3>

                            <h3>4rd Prize = 3 winners =1 Rejuvenate each($50each)</h3>

                            <h2><em> <strong>7 total winners!!!</strong></em></h2>
                        </blockquote>
                        

                        <p></p>

                        <h1><strong>Prizes for New Recruits</strong></h1>
                        <blockquote>
                            <h3>4 Prizes= 4 winners =1 Rejuvenate each($50each)</h3>
                            <h2><em> <strong>4 total Recruiting winners!!!</strong></em></h2>
                        </blockquote>
                       

                        

                        <h2 style="font-style:italic">Each direct upline sponsor for the 7 winners for orders contest will also get a free jar of Rejuvenate!!!</h2>

                        <p></p>

                        <p></p>

                        <h2></h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



