﻿
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Corporate Events</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        <div class="events_panel">
            <h2>Upcoming Foxx Legacy Events coming to your area!</h2>
            <h3>Upcoming Events:</h3>
            <span>Check back for upcoming events</span>
            <a href="">Addison, TX, June 24, 2017 Event with Host Ephriam McDaniel and Curtis Corbray</a>
            <div class="events_img1"></div>
            <div class="events_img2"></div>
            <b>For a printable flyer, click the above banner <br /> Scan the QR Code, or click <a href="">This Link</a> for ticketing information</b>
            <a href="">Bogalusa, LA, June 25, 2017 Event with Host Donna Elzey</a>
            <div class="clearfix"></div>
            <div class="events_img3"></div>
            <div class="events_img4"></div>
            <div class="clearfix"></div>
            <b class="eventslastb">For a printable flyer, click the above banner <br /> Scan the QR Code, or click <a href="">This Link</a> for ticketing information</b>
        </div>
    </div>

</div>

