﻿
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>FAQ's</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        <div class="faq">
            <div class="faq1">
                <div class="tab">
                    <button class="tablinks active" id="One">General</button>
                    <button class="tablinks" id="Two">Compensation Plan</button>
                    <button class="tablinks" id="Three">UltraMito Pet</button>
                    <button class="tablinks" id="Four">Delivery & Shipping</button>
                    <button class="tablinks" id="five">Billing & Returns</button>
                    <button class="tablinks" id="six">Recurring Orders</button>
                    <button class="tablinks" id="seven">UltraMito People</button>
                    <button class="tablinks" id="eight">Paylution</button>
                </div>
            </div>
            <div class="faq2">
                <div id="One" class="tabcontent">
                    <h4>General</h4>

                    <div class="faqbox">
                        <h6><span>Q:</span> Why did you change the Elevate product name?</h6>
                        <p>A: Through extensive market research and development, it was determined that the name UltraMito better exemplified how our products are designed to support cellular function. Our propietory Xponential Deliver System (XDS) technology built into our products, is designed for Mitochondrial cellular support, allowing for quicker more profound results for individuals. While this re-branding has changed the product's name from Elevate to UltraMito, our product remains the same.</p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I opt-out of email notifications?</h6>
                        <p>A: If you hover over the My Info tab you will see Email Notification Settings. Click on that, and you will be able to control what emails come to you.</p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Where can I change My personal information?</h6>
                        <p>A: Hover over the My Info tab, select Account Settings, then select Edit under the My Information section. This will allow you to make changes to your personal information.</p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> iPhone and Android devices</h6>
                        <p>A: We are very excited to launch this great tool! That being said, the mobile app is not available to the public at this time, as we are still working on the content. This app is being created by the company and will be for all representatives. As soon as it is available, there will be an area in your Member's Back Office where you can access the app code. Stay tuned for updates!!</p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Where are your products made/manufactured?</h6>
                        <p>A: Our products are manufactured at our facilities in Greenville S.C.</p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> What does the Foxx Legacy logo represent?</h6>
                        <p>
                            A: The Foxx Legacy Logo symbol is that of the Silver Fox. The original founding fathers of the company cherished the silver fox as a representation of their greatest dream. It represents and serves as a reminder that with persistence and faith,
                            even the grandest of dreams can and do come true.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span>  What is the customer service phone number?</h6>
                        <p>
                            A: Our toll free Customer Service number is 888-884-8661. We have representatives available to answer your questions or concerns
                            Monday through Friday, 10:00 AM to 4:00 PM Central Time.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span>  Are Foxx Legacy products non-GMO?</h6>
                        <p>
                            A: Yes our products are absolutely GMO free. They are all natural products
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span>  Are Foxx Legacy products organic?</h6>
                        <p>
                            A: Yes our products are organic, all natural products.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Are there any corn derived ingredients in your products?</h6>
                        <p>
                            A:  No there are no corn derived ingredients.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I print Business Cards?</h6>
                        <p>
                            A: From the Marketing tab or the Info Center tab, select File Resources. Select Business Cards. Choose which one you want to use making sure it ends in .psd. Send an email to support@foxxlegacy.com with the following information. Your name as you want it to appear on the card, your phone number, email address and the URL that you want to use on the card and for the QR (quick response for smartphones). Once customer service has completed your request, your customized card with be emailed back to you. You can then email
                            the file to your local print shop or print at home, if you have the capability.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I get brochures?</h6>
                        <p>
                            A: The brochures are the easiest for our members to access and it is quite simple to download. From your home page; www.foxxlegacy.com/"yourusername"; Select the Products tab. Next, choose the product line you are interested in creating a customized brochure for, UltraMito Nutritional or UltraMito Pets. Scroll down to the picture of the product you are interested in creating a brochure for. Under each picture are two green underlined words; INGREDIENTS & BROCHURE. Click on BROCHURE; this should create a customized brochure that includes your Contact name, your Contact telephone number, your email address as well as your Member page address. You will also be provided on the brochure, free of charge, a unique QR code that individuals with smart phones can scan to be taken directly to your Member page. Once you see the customized brochure, simply download the file as a pdf file and save it to your computer. You can then print it off yourself or you can email the file to a printer of your choice.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I keep my information private?</h6>
                        <p>
                            A: We have designed the webpage to assist you in keeping in contact with your customers and while we understand that sometimes it is necessary to keep information private, we do not recommend leaving out or creating invalid information to be entered in the Welcome Tag Editor. The information that appears in the header portion of your webpage is edited in the Welcome Tag Editor section in the Account Settings menu from the My Info tab. To have no information appear in one of the fields, select Edit, then delete the old information and enter a couple of spaces. If no spaces are entered, the system defaults to list the information from the My Information section.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> How can I stop getting courtesy phone calls when my order is shipping out?</h6>
                        <p>
                            A: Go to My Info tab and select Account Settings. At the bottom of the first section titled My Information under the Edit button it says Courtesy voice calls are enabled, select the change button and it will change to "disabled".
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> What is XDS?</h6>
                        <p>
                            A: XDS is the eXponential Delivery System used for delivery of the nanotechnologically engineered components of our proprietary blend ingredients.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> I keep getting a server error when trying to access the Foxx Legacy website. What should I do?</h6>
                        <p>
                            A: We have had several members that were trying to access the Foxx Legacy website from a tablet or an iPhone, and they received the message that the server is down. Sometimes these devices will return that error message due to the length of time it sometimes takes to initially download all the site information. Keep trying! It may take a few attempts but be assured, it will download. If you think that there is some other problem, check the devices internet connection or try to access the website from a desktop or laptop computer. If you still receive the error message, please contact our Customer Service Representatives for further troubleshooting.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> If I have had bariatric surgery, will I have trouble digesting the product?</h6>
                        <p>
                            A: Our products are all natural and there should be no digestion issues. That being said, follow your physician's pre-op and post-op care instructions
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I Upgrade so that I can get paid cash?</h6>
                        <p>
                            A: As a Referring Customer, you must have at least 1 person sponsored and at least two qualifying orders before you are eligible to upgrade to Paid Representative. Once eligible, you will see the Upgrade tab on your Menu bar in your Member's Back Office. Keep in mind, to upgrade to a Paid Representative, you will be asked to complete IRS tax form W9. When the upgrade is completed, you will be asked to agree to the Policies and Procedures for Paid Representatives.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> What should I use for my Tax ID number?</h6>
                        <p>
                            A: For individuals, your Tax ID number is your Social Security Number. Some individuals have a business Tax ID number, referred to as the EIN. Please see your business accountant or attorney when trying to determine if using a business EIN is appropriate.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Is Foxx Legacy sold Internationally?</h6>
                        <p>
                            A: At this time we support the sale of Foxx Legacy products in the US and Canada only.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> How did one of my downline end up creating 2 accounts?</h6>
                        <p>
                            A: Once someone has selected join in your website (www.foxxlegacy.com/username) , filled out all the information and selected submit, they have then created an account. If they then go to Shop from the same page and try to place an order, when they select checkout, it takes them to a page that says New Customer or Returning Customer, people select the New Customer when they are in fact a Returning Customer as they already set up an account. If they continue to fill out the New Customer information they will create a second account and will need to call CS to have one of the accounts deleted.
                        </p>
                    </div>


                </div>

                <div id="Two" class="tabcontent">
                    <h4>Compensation Plan</h4>

                    <div class="faqbox">
                        <h6><span>Q:</span> What does QTE stand for?</h6>
                        <p>
                            A: QTE stands for Qualified To Earn. Every day, every order for every representative is checked to verify that the representative is Qualified To Earn commissions based on the requirements of the representative's current rank.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> I noticed that I was skipped on a downline's order, the last time I checked I should have made a commission. How come I was skipped?</h6>
                        <p>
                            A: One of the big reasons that representatives don't see a commission on upcoming orders is that they are not QTE (Qualified To Earn) for that order. Please review the Eligibility Criteria for your rank. Also keep in mind that qualifying orders must be placed every 35 days in order to maintain a QTE status.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> Why aren't I a Paid Representative if I have several people below me ordering? Can I change that myself?</h6>
                        <p>
                            A: Absolutely, you can upgrade from Friend of Foxx to Referring Customer. Simply select the Upgrade tab from the top menu bar. Once there, select that you have read and agree to the Policies and Procedures. Once you are a Referring Customer, you must have at least 1 person sponsored and at least two qualifying orders. Then you will have the option to upgrade to Paid Representative. Keep in mind, to upgrade to a Paid Representative, you will be asked to complete IRS tax form W9. Once completed, you will be asked to agree to the Policies and Procedures.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How come I only received $5.00 for my commission, I thought I was supposed to get $10.00?</h6>
                        <p>
                            A: The $5.00 you received was for the FPB; the First Product Bonus. You must be a Silver Manager with 10 legs before your are QTE the FPB Matching Bonus. The bonus will pass up until it finds the first qualifying Silver Manager with 10 legs.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> What resources are available to help me to understand the compensation plan?</h6>
                        <p>
                            A: First, we recommend that you review the compensation plan material that is located under File Resources under either your Info Center tab or Marketing tab. The Compensation Plan section has two documents that are extremely useful, the complete text document and a power point pdf file. If you still have questions after reading and reviewing these documents, please contact your sponsor. There are also bi-weekly commission plan webinars that you can attend. The webinar information can be located on the Calendar. If you still have questions, please contact our Customer Service Representatives and they will have one of our Compensation Plan Advisors contact you.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> What happened to my Pending Commission?</h6>
                        <p>
                            A: After 5 days, Pending Commissions are moved to your Commissions Issued.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> What is the minimum amount of commissions I can withdraw at any one time?</h6>
                        <p>
                            A: The minimum amount of commissions that you can withdraw through the automated system is $10.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Why might I miss a commission on a personally sponsored customer or representative?</h6>
                        <p>
                            A: You'll want to check your Member's Back Office (MBO) and verify if the order in question was your own personal Pass Up order. A Pass Up order occurs when a commission skips you because you are not QTE by having your 20 CV (Content Volume) requirements met for the month.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Are there any maximum commission withdrawal limits?</h6>
                        <p>
                            A: The automated commissions withdraw system limits us to $3,000.00 per transaction. However, there is no daily limit. Therefore, if you wanted to withdraw $6,000.00 in commissions you would need to create two separate $3,000.00 withdrawal transactions.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I convert my commissions to cash?</h6>
                        <p>
                            A: First you must be a Paid Representative. If you are not, please look at the How do I Upgrade? Frequently Asked Question under the General Category. Once the upgrade process is complete, Select 4-Request Payment, from your Commissions tab, to start the account creation process. There is a page that must be completed and submitted to Paylution, the online Financial Institution, that will be creating your commission processing account. You can also purchase a Foxx Debit/Credit card from them for a fee. All items on this page MUST be completed. Please make sure that the email you list for Paylution matches the email you have listed as your Foxx Legacy contact email. You will also need to supply a valid Driver's License number. Please verify the accuracy of all pre-filled fields prior to selecting the Create Payment Account and Proceed with Account Activation button. Paylution requires you to create a unique Security Code. They recommend using your mother's maiden name but you can create something different, just remember that when you are asked by Paylution for your mother's maiden name that you enter the correct code you created.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Where do I go to set up my Commission sweep?</h6>
                        <p>
                            A: All sweep accounts are set up by a 3rd party vendor called Paylution. For all Paylution questions, please see the Paylution Category
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> Is there a fee for commission sweeps?</h6>
                        <p>
                            A: For electronic sweeps, there is a a $3.00 transaction fee. There is no fee if a paper check is requested.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I request a paper check?</h6>
                        <p>
                            A: To request a paper check, you will need to email us at Support@FoxxLegacy.com, and provide the following information: Name, Phone Number, Username, and the amount you would like swept to a paper check. Once we receive the request please allow up to 5 business days to verify the information and process the paper check. Before we send the check to you, we will call and verify all information.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Why is there a 'False' indication under my Commission Request History?</h6>
                        <p>
                            A: This is due to the external banking system experiencing an outage or planned maintenance and is unavailable when you made your commission request. If this has occurred contact Admin through the Contact tab in your Member's Back Office or call Customer Service so that your commission withdrawal request can be reset.
                        </p>
                    </div>



                </div>

                <div id="Three" class="tabcontent">
                    <h4>UltraMito Pet</h4>

                    <div class="faqbox">
                        <h6><span>Q:</span> How much should I give my pet?</h6>
                        <p>
                            A: The specific dosing instructions vary from pet to pet. Please read the dosing instructions on the label for more detailed information. All our dosing is based on the weight of the pet, so it is important to have a current weight for your pet.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> Is there a risk of overdosing my pet?</h6>
                        <p>
                            A: Our UltraMito products are all natural and there is no more of a risk of overdosing your pet than there is in overfeeding them. The UltraMito products are oil based solutions and excessive consumption could lead to soft or loose stools. Should you notice that your pet is developing softer than usual or loose stools, simply start to gradually reduce the dosage until the symptoms ease.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> At what age can I begin giving my pet UltraMito?</h6>
                        <p>
                            A: Since our products are natural food based products, there is no required age that a pet must be to take the UltraMito line of products.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Does it taste bad?</h6>
                        <p>
                            A: The taste of the product will vary from pet to pet. We find that generally speaking, dogs do not mind the taste of these products. Simply apply the product to any food that your dog already enjoys, and they will continue to eat it. Cats are a bit more finicky and may avoid food that the product has been added to. Like other cat medications or treatments, try applying the dosage to the cat's front paws; cats will usually lick off their paws rather than allow their fur to be wet.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span> Can my diabetic pet use these products?</h6>
                        <p>
                            A: Yes, since our product is a natural food based product, we find that there is no condition that good nutrition will not improve and certainly no condition that good nutrition will harm. There are no added sugars or sweeteners in our products, just the natural occurring contents of their ingredients. Should you have any additional concerns, please consult your veterinarian.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span>  Is it safe to give with vet prescribed medications?</h6>
                        <p>
                            A: Our products are natural food based products and are designed as an enhancement to your pet's current prescriptions.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span>  How long will a bottle of product last?</h6>
                        <p>
                            A: There is no set time-frame as to how long the product will last as our dosages are based on the weight of the pet as well as the type of product you are using. Here is a guide to give a possible number of doses that may be available per bottle; .25 ml = 300 doses, .50 ml = 150 doses, .75 ml = 100 doses & 1.0 ml = 75 doses.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6><span>Q:</span>  Are Foxx Legacy products non-GMO?</h6>
                        <p>
                            A: Yes our products are absolutely GMO free. They are all natural products

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span>   Are Foxx Legacy products organic?</h6>
                        <p>
                            A: Yes our products are organic, all natural products.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> Where do I store the product after it is opened?</h6>
                        <p>
                            A: You can store UltraMito brand products in the same manner that you would store any vitamin or supplement. UltraMito does not need to be refrigerated, although refrigeration does not harm the product or alter it's effectiveness. Generally speaking, it is best to store the product in a dry space that is not continuously exposed to direct sunlight.
                        </p>
                    </div>







                </div>

                <div id="Four" class="tabcontent">
                    <h4>Delivery & Shipping</h4>

                    <div class="faqbox">
                        <h6><span>Q:</span> How do I track my order?</h6>
                        <p>
                            A: For every order that leaves our shipping warehouse, there is a tracking number emailed to the email address you have on file. Please check the tracking number that was emailed to you when the order was initially shipped. The tracking number for your order can also be found in your Member's Back Office (MBO) in the Orders tab under My Orders.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6><span>Q:</span> Will I receive an email when my order ships?</h6>
                        <p>
                            A: When our shipping department completes the order packaging and sends the packages out of the building, an automated email is sent out that informs you that your order has been mailed, as well as the tracking number for that order.
                        </p>
                    </div>




                </div>




                <div id="five" class="tabcontent">
                    <h4>Billing & Returns</h4>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do I return my purchase?
                        </h6>
                        <p>
                            A: Call Customer Service at our toll free number; 888-884-8661. Once the order has been found and determined that the product is eligible for return, an RMA number will be given to you. Only online orders are eligible for return. Write that RMA number on the box. If the box has not been opened, you can take the box to your local post office and tell them that you refuse the package. They will return the shipment at no charge. When the product has been received and inspected by our shipping/receiving department, the credit to your account will be processed the same day as received.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Why do I have to pay postage for returning an opened box?
                        </h6>
                        <p>
                            A: Per USPS once a parcel has been delivered and opened it then cannot be returned to the sender without the addressee paying the applicable return postage. Please see the USPS Customer Support Ruling that discusses returning an opened parcel at http://pe.usps.com/text/csr/PS-177.htm
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How long will it take to receive my refund?
                        </h6>
                        <p>
                            A: Refunds are processed immediately upon receiving the return. The refund can be seen on your statement anywhere between 1-5 business days after, depending on your credit card company's processing policy.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Why does my refund show less than what I originally paid for my order?
                        </h6>
                        <p>
                            A: Orders where the box has been opened or product has been partially used are refunded for the product cost minus the shipping cost.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> What forms of payment are accepted?
                        </h6>
                        <p>
                            A: Currently we accept MasterCard and Visa credit cards.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Are cashier's checks or money orders accepted?
                        </h6>
                        <p>
                            A: We do not accept checks.
                        </p>
                    </div>



                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Do you charge sales tax?
                        </h6>
                        <p>
                            A: Our shopping cart automatically calculates sales tax for the states that require taxes to be collected. Any time that a state makes a sales tax collection a requirement, our software automatically adds that state to our system. At present we collect and remit taxes for the following states: AR, GA, IA, IN, KS, KY, MI, MN, NC, ND, NE, NJ, NV, OH, OK, RI, SD, TN, UT, VT, WA, WI, WV, WY. Use tax is charged for these states if a sales tax has not been collected. Either use or sales tax are calculated, not both.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Is the Foxx Legacy website safe to use my credit card on?
                        </h6>
                        <p>
                            A: Our website has been secured with a Secure Certificate Authority. The transmission of your data is encrypted. All modern browsers will alert you to any problems detected with a web pages' validation credentials.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Does Foxx Legacy accept tax exempt certificates?
                        </h6>
                        <p>
                            A: At this time, Foxx Legacy is not set up to sell our products to our customers without collecting sales & use taxes. We always research the benefits and detractions associated with changes that various implementations will bring to our system and customers. We do not currently have a high enough demand for this service; however, as we increase our customer base and receive more requests we will certainly revisit tax exemptions in the future. As a reseller, you are not required to pay taxes on a product twice. When you file your taxes, as a reseller, you can fill out your states Sales and Use tax form. On this form you can claim any and all taxes remitted to Foxx Legacy, LLC, and receive the appropriate reduction on your tax liability.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> What fees are associated with placing an order?
                        </h6>
                        <p>
                            A: The only fees currently associated with placing an order from the website are the shipping charges and any applicable taxes. The taxes are calculated based on local and state government mandates.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do you handle back orders?
                        </h6>
                        <p>
                            A: If a product was backordered, you will receive an email or call stating such with an estimate of the time to shipment.

                        </p>
                    </div>




                </div>

                <div id="six" class="tabcontent">
                    <h4>Recurring Orders</h4>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do I place a recurring order?
                        </h6>
                        <p>
                            A: There are 2 ways to place a recurring order. 1) As you complete your order, simply choose the Recurring Purchase Option, then complete the order. 2) Go to the Recurring Orders tab, then Create Order Now, following steps 1 - 7.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do I cancel my recurring order?
                        </h6>
                        <p>
                            A: You can cancel your recurring order by selecting the Recurring Order tab. Under the Modify Existing Recurring Order section, find the recurring order that you want to cancel, then select delete. You also have the option to deactivate the order. This will stop the order from processing and place the order into an inactive status. To deactivate the recurring order, select the Recurring Order tab, select Configure, then at Step 1 Status, select Deactivate.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> What do I need to do to reactivate my recurring order?
                        </h6>
                        <p>
                            A: To reactivate your recurring order, select the Recurring Orders tab. Find the recurring order that you want to reactivate, select Configure; this will open up your recurring order. At Step 1: Status, select Activate. Scroll to the bottom of the page to Step 7: Frequency. You can select a specific date to restart the recurring order in the date field; a calendar will appear when you click in the box, select the date you want the recurring order to start. Make sure that the frequency of month/weeK/day is selected properly, and select Update Frequency, this will complete any changes you made and you should then see a table listing future ship dates. By selecting the Start This Order Today button, the date will change to the current date and it will update the frequency without having to select the Update Frequency button.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  How do I update the payment method for a recurring order?
                        </h6>
                        <p>
                            A: Select the Recurring Orders tab. Under Modify Existing Recurring Order select Configure for the order you wish to update, and go to Step 5: Payment Method. Select Edit and enter the new information.
                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  Do I have to set up my recurring order for monthly?
                        </h6>
                        <p>
                            A: No, you do not. You have the option to select the recurring order frequency by days, weeks or months. These options allow you to choose what will be the best times for you to process payments and receive shipments. Just keep in mind that the requirements for the frequency of qualifying orders is every 35 days.

                        </p>
                    </div>




                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  How do I change a recurring order?
                        </h6>
                        <p>
                            A: Select the Recurring Orders tab, then under Modify Existing Recurring Order select Configure for the recurring order you want to change.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  What information can be changed in a recurring order?
                        </h6>
                        <p>
                            A: You can change the status of the order, your nickname, whether you want to use Foxx Cash towards the order, the items being purchased, the payment method, the shipping address and the frequency to which you will be receiving your recurring order.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>   I did not deactivate my recurring order, Why was it deactivated?
                        </h6>
                        <p>
                            A: Recurring orders that have attempted to process and payment has been declined for three consecutive months are automatically deactivated. You will have received a phone call from Customer Service advising of the decline payment monthly and on the third month will also be notified that the recurring order will be deactivated. Along with the call from Customer Service, you will receive a system generated email stating the same.

                        </p>
                    </div>



                </div>

                <div id="seven" class="tabcontent">
                    <h4>UltraMito People</h4>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Can I take both UltraMito Mind and UltraMito Perform! at the same time?
                        </h6>
                        <p>
                            A: Yes, our UltraMito People products were formulated to be taken together and some individuals have found that the affects they achieve are enhanced by taking these products together.

                        </p>
                    </div>



                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> What is the recommended dosage for UltraMito Mind or UltraMito Perform! ?
                        </h6>
                        <p>
                            A: Currently the recommended dosage is one tablet a day for UltraMito Mind and one or two tablets a day for UltraMito Perform!. Each individual's body processes these supplements differently, with that in mind, some customers may find that taking a product twice a day may be more beneficial and they may achieve more of the affects they are looking for.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Is there caffeine in the UltraMito products?
                        </h6>
                        <p>
                            A: Yes, as one of the UltraMito's natural ingredients is green tea, there is caffeine present. That being said, the percentage present is unmeasurable as the amount per dose is so small.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Are Foxx Legacy products non-GMO?
                        </h6>
                        <p>
                            A: Yes our products are absolutely GMO free. They are all natural products.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  Is there calcium or potassium in the UltraMito People products?
                        </h6>
                        <p>
                            A: Our products are produced with all natural ingredients. There are no measurable levels of calcium or potassium present in the UltraMito products.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  Are Foxx Legacy products organic?
                        </h6>
                        <p>
                            A: Yes our products are organic, all natural products.


                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  Will the UltraMito products adversely affect a drug screening test?
                        </h6>
                        <p>
                            A: Our products are produced with all natural ingredients and as is the case with most vitamins and supplements, should not affect a drug screening test.
                        </p>
                    </div>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span>  I sometimes have difficulty swallowing capsules, do you have any suggestions?
                        </h6>
                        <p>
                            A: Some people have state that they take the supplement with a mouthful of oatmeal or similar consistency food to help in swallowing the capsule. While others have suggested separating the UltraMito capsules and sprinkling the contents over a favorite food item, such as applesauce, pudding or yogurt. The UltraMito capsules separate very easily. Please note that as this is an all natural supplement with no artificial sweeteners added, the taste may be strong and not very palatable for some people with more sensitive tastes.
                        </p>
                    </div>


                </div>

                <div id="eight" class="tabcontent">
                    <h4>Paylution</h4>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do I complete the W-9?
                        </h6>
                        <p>
                            A: Paid Representative Required Filing: As a paid representative, you are required to file the tax form W-9 with Foxx Legacy. This information is collected for the mandatory year end tax reporting requirement. Please fill out this form completely, for the entity that is registering as a Paid Representative. Even though annual earnings are reported on Form 1099, you may still withdraw commissions indirectly, by applying commissions issued to orders in your Foxx Legacy Shopping Cart. This is done on the final payment page during the checkout process. All commissions applied to order balances will be reported in the commission history report in the Paid Representative’s back office. Note: IRS instructions on how to fill the form out are included below the Submit Form Button. Please fill out the form below and click the Submit Form button in order to proceed.

                        </p>
                    </div>



                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do I convert my commissions to cash?
                        </h6>
                        <p>
                            A: First you must be a Paid Representative. If you are not, please look at the How do I Upgrade? Frequently Asked Question under the General Category. Once the upgrade process is complete, Select 4-Request Payment, from your Commissions tab, to start the account creation process. There is a page that must be completed and submitted to Paylution, the online Financial Institution, that will be creating your commission processing account. You can also purchase a Foxx Debit/Credit card from them for a fee. All items on this page MUST be completed. Please make sure that the email you list for Paylution matches the email you have listed as your Foxx Legacy contact email. You will also need to supply a valid Driver's License number. Please verify the accuracy of all pre-filled fields prior to selecting the Create Payment Account and Proceed with Account Activation button. Paylution requires you to create a unique Security Code. They recommend using your mother's maiden name but you can create something different, just remember that when you are asked by Paylution for your mother's maiden name that you enter the correct code you created.

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> How do I contact Paylution if I have a question about my eWallet account or Foxx card?
                        </h6>
                        <p>
                            A: All questions regarding any accounts or cards purchased through Paylution must be directed to Paylution Customer Service, North American Office at (855) 587-6533

                        </p>
                    </div>


                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> What is my Foxx Membership ID for Paylution?
                        </h6>
                        <p>
                            A: All Paylution Foxx Member ID's start with "Foxx_" and then your unique username. This is the same username you use for Foxx Legacy login.

                        </p>
                    </div>

                    <div class="faqbox">
                        <h6>
                            <span>Q:</span> Where do I go to access Paylution online?
                        </h6>
                        <p>
                            A: To access Paylution online, enter foxx.paylution.com and this will take you directly to the Paylution Pay Portal. This is where you will enter either your email address or your Foxx Membership ID as well as the password you created in the Paylution sign up process. If you do not remember what your password is there is a place to request an email containing login information. If you cannot find any of the Activation emails from Paylution, you can select Resend Activation Email from this login screen.

                        </p>
                    </div>



                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


</div>

<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
    i.addEventListener('click', function (event) {

    for (let x = 0; x < buttonElement.length; x++) {
    if (event.target.id == buttonElement[x].id) {
    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    tabContent[x].style.display = "block";
    event.currentTarget.className += " active";
    } else {
    tabContent[x].style.display = "none";
    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    }
    }

    });
    });
</script>

