﻿
@{
    ViewBag.Title = "FoxxCashDetails";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Details</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <p>This page lists all the Foxx Cash you have earned for referring others to Foxx Legacy.</p>
        <p>
            This list eliminates any need for coupons, in-store credit claims, or the hassle of recording who ordered what and when.
            Plus your Foxx Cash NEVER expires and is available for you to use as soon as it is earned.
        </p>
        <p>Selecting Details will pull up information for each months activities for that year.  Selecting Details by a specific month will pull up further details.  Please see the help section for further information.</p>

        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">               
                <br />
                <p>
                    <b>Total Foxx Cash Earned: $726.06</b>
                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Year</th>
                            <th>Total Earned</th>
                        </tr>
                        <tr>
                            <td><a class="outbtn" href="">Details</a></td>
                            <td>2018</td>
                            <td>$726.06</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
    </div>
</div>

