﻿
@{
    ViewBag.Title = "FoxxCashIssued";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Commissions Issued</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">


        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">
                <p>
                    All amounts that you have earned are displayed below.
                </p>
                <br />
                <p>
                    <b>Total Amount Earned: $1,550.00</b>
                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Year</th>
                            <th>Total Earned</th>
                        </tr>
                        <tr>
                            <td><a class="outbtn" href="">Details</a></td>
                            <td>2020</td>
                            <td>$1,550.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

