﻿
@{
    ViewBag.Title = "FoxxCashPending";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Commissions Pending $0.00</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-11 col-sm-12 co-xs-12">
            <div class="row">

                <div class="myfoxxcash_panel_innerbottom">
                    <p>All amounts earned and pending release are displayed in this report.</p>
                    <br />
                    <br />
                    <span>
                        No data to display.
                    </span>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

