﻿@model Foxxlegacy.ViewModel.ViewModel.MobileApp
@{
    ViewBag.Title = "FoxxNetwork";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Network Website</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        @(Html.Raw(Model.mobileContentData.WebContentValue))
        @*<p>
            FoxxNetwork.com is a lead generation website that each member automatically receives free of charge when they join Foxx Legacy. This site works the same way that FoxxLegacy.com works in that it is personalized for you by adding your username to the end of the website address.
        </p>
        <br />
        <p>Your Foxx Network website is: www.FoxxNetwork.com/USERNAME</p>
        <div class="foxxnetworkimgbox"><img src="~/Images/download.png" /></div>
        <p>
            All visitors are encouraged to register to receive more information. Leads generated from this website are available on the <a href="">My Leads</a> page as well as emailed and texted to you if you have opted to receive text messages and emails. Your prospects are presented with the Foxx Legacy product information while you are notified of the audio and videos that are being watched.
        </p>*@
    </div>

</div>

