﻿@model Foxxlegacy.ViewModel.ViewModel.GenealogySearchViewModel
@{
    ViewBag.Title = "GenealogySearch";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<style>
    .treeView li span span.NoQual b {
        color: red !important;
    }

    .treeView li span span.Qual b {
        color: green !important;
    }
</style>
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Referral Network search tool</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_GenealogySearch",Return="Members/GenealogySearch" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("GenealogySearch", "Members", FormMethod.Post))
    {
        <div class="dashboard_main_inner">
            <div class="genealogy_mainpanel">
                <p>
                    Search for an individual within your Referral Network by username, first name, last name, or email address. Enter your search criteria in the 'Search for' field and click the search button.
                </p>
                <label> Search for:</label>
                @*<input type="text" class="form-control" placeholder="" />*@
                @Html.TextBoxFor(x => x.keySearch, new { @class = "form-control", @placeholder = "" })
                <input type="submit" class="genealogy_mainpanelsearch" value="Search" />
            </div>
        </div>

    }
    @{
        if (Model.genealogyList.Count > 0)
        {
            <div class="table-responsive notificationtable">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                User Name
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Sponser Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                In My Level
                            </th>
                        </tr>
                        @for (int i = 0; i < Model.genealogyList.Count; i++)
                        {
                            <tr>
                                <td><a class="changepasswordbtn" id="personalinfo" href="" data-Id="@Model.genealogyList[i].Id" data-toggle="modal">View</a></td>
                                <td><a class="changepasswordbtn" id="personaltree" href="" data-Id="@Model.genealogyList[i].Id" data-toggle="modal">Tree</a></td>
                                <td><a style="text-decoration:underline" id="personalCurrenttree" href="" data-Id="@Model.genealogyList[i].Id" data-toggle="modal"> @Html.DisplayFor(x => x.genealogyList[i].UserName)</a></td>
                                <td>@Html.DisplayFor(x => x.genealogyList[i].FirstName)</td>
                                <td>@Html.DisplayFor(x => x.genealogyList[i].LastName)</td>
                                <td>@Html.DisplayFor(x => x.genealogyList[i].SponsorUserName)</td>
                                <td>@Html.DisplayFor(x => x.genealogyList[i].Phone)</td>
                                <td>@Html.DisplayFor(x => x.genealogyList[i].InMyLevel)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    }
    <div class="modal fade" id="infofield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id='myModalMyInfo'></div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="userTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-cont-wrap" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body genealogy_mainpanel" id='userTreeInfo'>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modalclosebtn cstm-btn" data-dismiss="modal">Close This Page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Js/Personal")