﻿@model Foxxlegacy.ViewModel.ViewModel.GenealogyViewModel
@{
    ViewBag.Title = "Genealogy";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<style>
    .organicnation {
        padding: 15px;
    }

        .organicnation span {
            display: inline-block;
            color: #000;
            font-size: 13px;
            font-weight: 400;
            padding-right: 20px;
        }

            .organicnation span b {
                color: green;
            }

            .organicnation span em {
                color: red;
                font-style: normal;
            }

    #infofield button.active {
        border-radius: inherit;
        background-color: #4CAF50 !important;
        /* border: none; */
        color: white;
    }

    .custom-menu {
        display: none;
        z-index: 1000;
        position: absolute;
        overflow: hidden;
        border: 1px solid #CCC;
        white-space: nowrap;
        font-family: sans-serif;
        background: #FFF;
        color: #333;
        border-radius: 5px;
        padding: 0;
    }

        /* Each of the items in the list */
        .custom-menu li {
            padding: 8px 12px;
            cursor: pointer;
            list-style-type: none;
            transition: all .3s ease;
            user-select: none;
        }

            .custom-menu li:hover {
                background-color: #DEF;
            }

    .selectedCreditCard {
        background-color: #1dc9b7 !important;
    }

    .cm_icon_span {
        width: 1.2em;
        height: 1.2em;
        vertical-align: bottom;
        display: inline-block;
        border-right: 1px solid #aaa;
        margin-right: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .treeView li span span.NoQual b {
        color: red !important;
    }

    .treeView li span span.Qual b {
        color: green !important;
    }
</style>
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Referral Network</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("help", "members", new {KeyName="Members_Help_Genealogy",Return="members/genealogy" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner" id="genDiv">
        <div class="genealogy_mainpanel">
            @*<p>
                    Click on the icon to the left of the person to expand the network. Click on the person's name to view
                    additional details. Four additional indicators follow: Qual - R.O.-<b><i class="fa fa-mobile" aria-hidden="true"></i><i class="fa fa-envelope" aria-hidden="true"></i></b>. Qual will be in green "<b>Qual</b>" if the person
                    has a qualifying order<b><i class="fa fa-mobile" aria-hidden="true"></i></b>. The "<b>R.O.</b>" will be in green "<b><i class="fa fa-mobile" aria-hidden="true"></i></b>" if they have set up an active Recurring Order.
                    will be in green "" if the person has SMS Opt-In. <b><i class="fa fa-envelope" aria-hidden="true"></i></b>  will be in green " <b><i class="fa fa-envelope" aria-hidden="true"></i></b>" if the person has Email Opt-In.
                    If anyone in your referral network falls out of Qualification or does not have a current qualifying order
                    (within the past 35 days) or does not set up a Recurring Order or SMS Opt-Out or Email Opt-Out, you are notified in red,
                    ie <span>Qual - R.O. <i class="fa fa-mobile" aria-hidden="true"></i>&nbsp; &nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></span>  -  - . <a href="">CLICK HERE: to SEARCH for people in your Referral Network</a>
                </p>*@
            <div class="organicnation">
                <span><b>Qual:</b> Qualified</span>
                <span><em>Qual:</em> Not Qualified</span>
                <span><b>R.O.:</b> Recurring Order</span>
                <span><em>R.O.:</em> Not Recurring Order</span>
                <span><b><i class="fa fa-mobile" aria-hidden="true"></i></b> SMS Opt-In</span>
                <span><em><i class="fa fa-mobile" aria-hidden="true"></i></em> SMS Opt-Out</span>
                <span><b><i class="fa fa-envelope" aria-hidden="true"></i></b> Email Opt-In</span>
                <span><em><i class="fa fa-envelope" aria-hidden="true"></i></em> Email Opt-Out</span>
                <span><i class="fa fa-clock" style="color:black" aria-hidden="true"></i> Personal Moveable</span>
                @*<span><em><i class="fa fa-user" aria-hidden="true"></i></em>  User Info</span>*@
            </div>
            <br />
            <p>Reps in your first level are sponsored by you.</p>
            <div class="treeview_box tree_view_wrap">
                <ul class="treeView">
                    <li class="user-tree-row">
                        <button class="treebutton" type="button" data-id="@Model.ReferralData.Id"> + </button>
                        <span class="user-info-span" id="personalinfo" data-id="@Model.ReferralData.Id">

                            @{
                                if (Model.ReferralData.IsQualified)
                                {
                                    <span class="Qual">
                                        @Model.ReferralData.Text <b> Qual</b>
                                    </span>

                                    @*<img src="@Url.Content("~/Images/red_check.png")" />*@
                                }
                                else
                                {
                                    <span class="NoQual">
                                        @Model.ReferralData.Text <b> Qual</b>
                                    </span>
                                }
                                if (Model.ReferralData.IsRecurringOrder)
                                {
                                    <b><span style="color:green;">R.O</span></b>
                                }
                                else
                                {
                                    <b><span style="color:red;">R.O</span></b>
                                }
                                if (Model.ReferralData.IsSms)
                                {



                                    @*<img src="@Url.Content("~/Images/sms_opt_in.png")" />*@
                                    <b><i class="fa fa-mobile" style="color:green;" aria-hidden="true"></i></b>

                                }
                                else
                                {
                                    <b><i class="fa fa-mobile" style="color:red;" aria-hidden="true"></i></b>
                                }

                                if (Model.ReferralData.IsEmail)
                                {
                                    @*<img src="@Url.Content("~/Images/email_opt_in.png")" />*@

                                    <b><i class="fa fa-envelope" style="color:green;" aria-hidden="true"></i></b>
                                }
                                else
                                {
                                    <b><i class="fa fa-envelope" style="color:red;" aria-hidden="true"></i></b>
                                }

                                if (true)
                                {

                                    if (Model.ReferralData.IsPersonalMovable)
                                    {
                                        <b><i class="fa fa-clock" style="color:black;" aria-hidden="true"></i></b>
                                    }
                                    @*else if (Model.ReferralData.IsPersonalPermanent)
                                    {
                                        <img class="black-watch-img" title="Personal Permanent" alt="Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                    }
                                    else if (Model.ReferralData.IsNonPersonalMovable)
                                    {
                                        <img title="Non-Personal Movable" alt="Non-Personal Movable" src="@Url.Content("~/Images/black-stopwatch.png")" />
                                    }
                                    else if (Model.ReferralData.IsPersonalPermanent)
                                    {
                                        <img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                    }*@
                                    <span>Rank:</span> @Model.ReferralData.RankText


                                }


                            }
                        </span>

                        @*<img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />*@
                        <a href="/Members/RankManagementReport?id=@Model.ReferralData.Id" target="_blank">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            Rank management report
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ul class='custom-menu'>
    <li class="move-user" data-action="move"><span class="cm_icon_span"></span><span>Move User</span> </li>
    @*<li class="capture-trans" data-action="capture"><span class="cm_icon_span"></span><span>Capture Transaction</span></li>
        <li class="credit-trans" data-action="credit"><span class="cm_icon_span"></span><span>Credit Transaction</span> </li>*@
    <li data-action="cancel"><span class="cm_icon_span"></span><span>Cancel</span></li>
</ul>
<div class="modal fade" id="infofield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo'></div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Js/Personal")
