﻿@model Foxxlegacy.ViewModel.ViewModel.HelpViewModel

@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}


<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Back Office Help Center</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                
            </div>
           
        </div>
    </div>
    <div class="dashboard_main_inner">
        @Html.Raw(Model.HelpContent)
        <a href="~/@Model.Return">   <input  class="outbtn" type="button" value="Return"></a>

        <div class="clearfix"></div>
    </div>
</div>

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>From Your Friends At Foxx</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">

            </div>
           
        </div>
    </div>
    <div class="dashboard_main_inner">
        @Html.Raw(Model.HelpContent2);

        <div class="clearfix"></div>
    </div>
</div>


