﻿
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="row dashboard_main">
    <div class="col-md-12 row align-items-center no-gutters">
        <div class="col-sm-2"><label class="m-0 mr-2" for="">Select File</label></div>
        <div class="col-sm-4">
            <div class="custom-file mt-3 mb-3">
                <input type="file" class="custom-file-input" id="AttachmentFile" name="AttachmentFile">
                <label class="custom-file-label" for="customFile">Select Excel File</label>
            </div>

        </div>
        <div class="col-md-6 form-group d-flex align-items-center">
          
                <button type="button" id="Import" class="btn btn-primary inner-btn ml-2"><i class="fas fa-upload"></i>Import</button>
           

        </div>
    </div>
</div>

<script>
      $('#Import').click(function () {
        showLoader('bomTable');
        var form = $('#frm_bomcreation').get(0);
        var postData = new FormData(form);
        $.ajax({
            statusCode: {
                500: function () {
                    alert('Something went wrong while importing Excel file', 'Error')
                }
            },
            type: 'POST',
            url: '/Home/ShopifyOrders',
            processData: false,
            contentType: false,
            data: postData,
            success: function (Result) {
                console.log('bom', Result);
                if (Result.status) {
                    $('#bomTable').html(' ');
                    $('#bomTable').html(Result.data);
                    $('#BomName').val(Result.bomName.BomName);
                    $('#bomTable').show();
                } else {
                    toastr.error(Result.message, 'Error');
                }

             
                hideLoader('bomTable');
            },

            error: function (xhr, status, error) {
                console.log('error', error);
               
            }
        });
    });
</script>