﻿@model Foxxlegacy.ViewModel.ViewModel.MobileApp

@{
    ViewBag.Title = "MobileAppRecipientData";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Mobile App Recipient Information</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        @(Html.Raw(Model.mobileContentData.WebContentValue))
        @*<p>
            Track your video share activity here. Each time you use the <a href="@Url.Action("MobileApp", "Members")">Foxx Legacy Video Sharing Mobile App</a> to share a
            video with someone, the recipient info is saved here for your reference. The newest activity is always at the
            top of the list. Click the Plus icon to the left of the contact to view tracking data.  All times are listed in
            Central Time Zone, regardless of where recipient resides.
        </p>*@
        <br />
    </div>

</div>

