﻿@model Foxxlegacy.ViewModel.ViewModel.MobileApp
@{
    ViewBag.Title = "MobileApp";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Mobile App</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner mobileapp">
        @(Html.Raw(Model.mobileContentData.WebContentValue))
    </div>
</div>

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Mobile App Survey</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">

            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        <div class="Mobile_App_Survey">
            <h3>Please answer the following questions about your intended use of the mobile app.</h3>

            <h6><b>Q:</b> How much time per week will you commit to your marketing efforts?</h6>
            <select class="mobilesurveydropdown">
                <option selected>Choose Your Answer</option>
                <option value="Choose Your Answer">Choose Your Answer</option>
                <option value="1 - 5 Hours">1 - 5 Hours</option>
                <option value="5 - 10 Hours">5 - 10 Hours</option>
                <option value="10 - 15 Hours">10 - 15 Hours</option>
                <option value="15 - 20 Hours">15 - 20 Hours</option>
                <option value="More than 20 Hours">More than 20 Hours</option>
            </select>
            <h6><b>Q:</b> How much time per week will you commit to your marketing efforts?</h6>
            <select class="mobilesurveydropdown">
                <option selected>Choose Your Answer</option>
                <option value="Choose Your Answer">Choose Your Answer</option>
                <option value="Enough to pay for my product">Enough to pay for my product</option>
                <option value="$100 - $500 per month">$100 - $500 per month</option>
                <option value="$500 - $1,000 per month">$500 - $1,000 per month</option>
                <option value="$1,000 - $2,500 per month">$1,000 - $2,500 per month</option>
                <option value="$2,500 - $5,000 per month">$2,500 - $5,000 per month</option>
                <option value="$5,000 - $10,000 or more per month">$5,000 - $10,000 or more  per month</option>
            </select>
            <div class="clearfix"></div>
            <input type="submit" value="Save your answers"  class="saveaddreddbtn"/>
        </div>
    </div>
</div>