﻿
@{
    ViewBag.Title = "MyContacts";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Contacts</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <p>
            Contacts from the Foxx Legacy website will be displayed below. Click the Select button to view the contact details.
        </p>
        <br />
        <p>
            Click Select to view Message
        </p>
        <div class="col-md-12 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Origin</th>
                            <th>Name</th>
                            <th>Subject</th>
                        </tr>
                        <tr>
                            <td><a class="changepasswordbtn" href="">Select</a></td>
                            <td>5/7/2021</td>
                            <td>Retail Side</td>
                            <td>chandan mandal</td>
                            <td>Test Subject</td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

