﻿
@{
    ViewBag.Title = "MyFoxxCash";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Available For Purchases:  $1,530.00</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">


        <div class="col-md-11 col-sm-12 co-xs-12">
            <div class="row">
                <div class="myfoxxcash_panel">
                    <p>All Commissions Issued and Pending can be used like Foxx Cash when applied to a purchase.</p>
                    <div class="myfoxxcash_panel_inner">
                        <h6>
                            <span>Foxx Cash Issued:</span>$0.00
                        </h6>
                        <h6>
                            <span>Commissions Pending:</span>+ $0.00
                        </h6>
                        <h6>
                            <span>Commissions Issued:</span>+ $1,550.00
                        </h6>
                        <hr />
                        <h6>
                            <span>Total Earned:</span>$1,550.00
                        </h6>
                    </div>

                    <div class="myfoxxcash_panel_inner">
                        <h6>
                            <span>Total Earned:</span>$1,550.00
                        </h6>
                        <h6>
                            <span>Total Withdrawn Commissions:</span>-$20.00
                        </h6>

                        <hr />
                        <h6>
                            <span>Cash Available For Purchases:</span>$1,530.00
                        </h6>
                    </div>
                    <div class="myfoxxcash_panel_innerbottom">
                        <p>For a history of transfer, withdraw or commissions used for purchase, please <a href="">Click Here</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

