﻿
@{
    ViewBag.Title = "MyFoxxCashRC";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Available:  $0.00</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">


        <div class="col-md-9 col-sm-12 co-xs-12">
            <div class="row">
                <div class="myfoxxcashrc_panel">
                    <p>
                        All Foxx Cash can be used immediately.
                    </p>
                    <div class="myfoxxcash_panel_inner">
                        <h6><span>Total Foxx Cash Earned:</span>$726.06</h6>
                        <h6><span>Total Foxx Cash Redeemed:	</span>-$726.06</h6>
                        <hr />
                        <h6>
                            <span>Total Available Foxx Cash:</span>$0.00
                        </h6>
                    </div>
                </div> 
                
                
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

