﻿@model Foxxlegacy.ViewModel.ViewModel.UserInformationViewModel
@{
    ViewBag.Title = "MyInfo";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<style>
    #myInfoTopDiv .myinfotop_l {
        width: 30% !important
    }

    #myInfoTopDiv .myinfotop_r {
        width: 58% !important
    }

    #myInfoTopDiv .myinfobutton {
        width: 88% !important
    }

    .field-validation-error span {
        bottom: 0px !important;
    }

    .field-validation-error, .no-float {
        position: relative !important
    }

    span#CurrentPassword-error {
        color: red !important;
        margin-top: 8px;
    }
</style>
<div class="dashboard_main dash-cont-wrap" id="myInfoTopDiv">

    <div class="row">
        <div class="col-md-12 ">
            @if (TempData["SUCCESS_MESSAGE"] != null)
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
                </div>
            }
        </div>
        <div class="col-md-12 ">
            @if (TempData["ERROR_MESSAGE"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Information</h2>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <div class="threestar">
                    <span>My Current Rank:</span>
                    <span id="myCurrentRank">

                    </span>
                    <a href="#!" onclick="showMyRankHistory()">View Rank History</a>
                </div>
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_MyInfo",Return="Members/MyInfo" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner myinfomain">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-xs-12">
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            UserName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.UserName, new { @class = "form-control", @id = "lblUserName" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Text Message Code
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.SMSCode, new { @class = "form-control", @id = "lblSMSCode" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            FirstName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.FirstName, new { @class = "form-control", @id = "lblFirstName" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            LastName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.LastName, new { @class = "form-control", @id = "lblLastName" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Email
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.Email, new { @class = "form-control", @id = "lblEmail" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Phone
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.Phone, new { @class = "form-control", @id = "lblPhone" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Address
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.Address, new { @class = "form-control", @id = "lblAddress" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            City
                        </span>
                    </div>

                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.City, new { @class = "form-control", @id = "lblCity" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Country
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.Country, new { @class = "form-control", @id = "lblCountry" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            State
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.State, new { @class = "form-control", @id = "lblState" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Zip
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        <span>
                            @Html.DisplayFor(x => x.Zip, new { @class = "form-control", @id = "lblZip" })
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobutton">
                    <a href="#" class="EditMyInfo" data-toggle="modal" data-target="#editfield">Edit</a>
                </div>

            </div>
        </div>
        @if (Model.CourtesyCalls == true)
        {
            <p>Courtesy voice calls are enable &nbsp;  <a href="@Url.Action("ChangeCallStatus", "Members",new {CallStatus=Convert.ToBoolean(0) } )"><input class="myinfochangebtn" type="submit" value="Change" /></a> </p>
        }
        else
        {
            <p>Courtesy voice calls are disabled &nbsp; <a href="@Url.Action("ChangeCallStatus", "Members",new {CallStatus=Convert.ToBoolean(1) } )"><input class="myinfochangebtn" type="submit" value="Change" /></a> </p>
        }

    </div>
</div>

<div class="dashboard_main dash-cont-wrap">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Your Website Header Display</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner myinfomain">
        <div class="row">
            @if (Model.WelcomeName == "" && Model.WelcomeEmail == "" && Model.WelcomePhone == "")
            {
                <div class="col-md-12 col-xs-12 col-xs-12">
                    <span>Your Welcome Tag is the personalized line of text that is displayed in the header of your website.</span><br />
                    <span> The default message is the Name, Email and Phone number that you signed up with.</span> <br />
                    <span> To return to the default msg, delete your welcome tag.</span><br />

                    <a href="@Url.Action("InsertWelcomeTagInfo", "Members",new {UserName=Model.FirstName+" "+Model.LastName } )"><input type="submit" value="Create Your Welcome Tag Now." /></a>
                    <br />
                    <br />
                    <span> Once you create your welcome tag, you should edit it.</span>
                </div>
            }
            else
            {
                <div class="col-md-8 col-xs-12 col-xs-12">
                    <div class="myinfobox">
                        <div class="myinfotop_l myinfowelcometagl">
                            <span>
                                Name
                            </span>
                        </div>
                        <div class="myinfotop_r myinfowelcometagr">
                            <span>
                                @Html.DisplayFor(x => x.WelcomeName, new { @class = "form-control", @id = "lblWelcomeName" })
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l myinfowelcometagl">
                            <span>
                                Email
                            </span>
                        </div>
                        <div class="myinfotop_r myinfowelcometagr">
                            <span>
                                @Html.DisplayFor(x => x.WelcomeEmail, new { @class = "form-control", @id = "lblWelcomeEmail" })
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobox">
                        <div class="myinfotop_l myinfowelcometagl">
                            <span>
                                Phone
                            </span>
                        </div>
                        <div class="myinfotop_r myinfowelcometagr">
                            <span>
                                @Html.DisplayFor(x => x.WelcomePhone, new { @class = "form-control", @id = "lblWelcomePhone" })
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="myinfobutton">
                        <a href="" data-toggle="modal" data-target="#editWelcomeTag">Edit</a>

                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="dashboard_main dash-cont-wrap">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Password Modification</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">

            </div>
        </div>
    </div>
    <div class="dashboard_main_inner myinfomain">
        @using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post))
        {
            <div class="myinfopassword_bottom">
                <div class="row">
                    <span>Your Current Password:</span>
                    @Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control", @type = "password", @id = "CurrentPassword" })
                    @Html.ValidationMessageFor(x => x.CurrentPassword, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <span>New Password:</span>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", @id = "password" })
                    <span></span>
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <span>Confirm New Password:</span>
                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password", @id = "ConfirmPassword" })
                    <span></span>
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>


                <input type="submit" class="changepasswordbtn" value="Change password" />
                @*<input type="submit" class="changepasswordbtn" value="Cancel" />*@
            </div>
        }
    </div>
</div>
<div class="dashboard_main dash-cont-wrap">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>User type Modification</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">

            </div>
        </div>
    </div>
    @if (Model.CurrentRoleModel != null)
    {
        <div class="dashboard_main_inner myinfomain role_modifi_cont">
            <div class="myinfopassword_bottom">
                <span>My Current user type:</span>
                <label id="myCurrentRole">
                    @if (Model.CurrentRoleModel != null)
                    {
                        <input type="hidden" id="myCurrentRoleKey" value="@Model.CurrentRoleModel.RoleName" />
                        <input type="hidden" id="myCurrentRoleId" value="@Model.CurrentRoleModel.RoleId" />
                        @Model.CurrentRoleModel.Description
                    }
                </label>
                <div class="clearfix"></div>
                <div>
                    <span>New User type:</span>
                    <span style="padding:0px;">
                        <select id="NewRole" class="form-control">
                            <option value="">Select</option>
                            @if (Model != null && Model.RoleList != null)
                            {
                                foreach (var item in Model.RoleList)
                                {
                                    <option value="@item.RoleName" role-id="@item.RoleId">@item.Description</option>
                                }
                            }
                        </select>
                    </span>
                </div>
                <div class="clearfix"></div>
                <div class="btn_spc">
                    <input type="button" id="btnChangeRole" class="changepasswordbtn" value="Change Role" />
                    <input type="button" class="changepasswordbtn" value="Cancel" />
                </div>
            </div>
        </div>
    }

</div>



<!-- Modal -->
<div class="modal fade" id="editWelcomeTag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("UpdateWelcomeTagInfo", "Members", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Welcome Tag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-xs-12 col-xs-12">
                            <div class="myinfobox">
                                <div class="myinfotop_l myinfowelcometagl">
                                    <span>
                                        Name
                                    </span>
                                </div>
                                <div class="myinfotop_r myinfowelcometagr">

                                    @Html.TextBoxFor(x => x.WelcomeName, new { @class = "form-control", @id = "WelcomeName" })

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="myinfobox">
                                <div class="myinfotop_l myinfowelcometagl">
                                    <span>
                                        Email
                                    </span>
                                </div>
                                <div class="myinfotop_r myinfowelcometagr">

                                    @Html.TextBoxFor(x => x.WelcomeEmail, new { @class = "form-control", @id = "WelcomeEmail" })

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="myinfobox">
                                <div class="myinfotop_l myinfowelcometagl">
                                    <span>
                                        Phone
                                    </span>
                                </div>
                                <div class="myinfotop_r myinfowelcometagr">

                                    @Html.TextBoxFor(x => x.WelcomePhone, new { @class = "form-control", @id = "WelcomePhone" })

                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>

                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="editfield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalEditMyInfo'></div>

        </div>
    </div>
</div>
<div class="modal fade" id="changeRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order_header">Change Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <input type="hidden" id="MsgKey" />
                    <div id="changeRoleModalContent">


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="ChnageUserRole()" class="modalclosebtn">Change Role </button>
                    <button type="button" style="float:right;" class="modalclosebtn" data-dismiss="modal">Close </button>
                </div>
            </div>


        </div>
    </div>

</div>
<div class="modal fade" id="RankHistoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My Rank History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id='myRankInfo'>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        getMyRank();
    });
    var MyInfoURL = '/Members/GetMyInfo';
    $(".EditMyInfo").click(function () {
        debugger;
        //var $buttonClicked = $(this);
        //var Id = $buttonClicked.attr('data-id1');
        showLoader('myInfoTopDiv')
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: MyInfoURL,
            contentType: "application/json; charset=utf-8",

            datatype: "json",
            success: function (data) {
                debugger;
                $('#myModalEditMyInfo').html(data);
                $('#editfield').modal(options);
                $('#editfield').modal('show');
                hideLoader('myInfoTopDiv')
            },
            error: function () {
                hideLoader('myInfoTopDiv')
                alert('Error occured');
            }
        });
    });

    $("#btnChangeRole").click(function () {
        var currentRole = $('#myCurrentRoleKey').val();
        if (currentRole == '' || currentRole == undefined) {
            alert('Unable to find current role of user!');
            return;
        }
        var newRole = $('#NewRole').val();
        if (newRole == '' || newRole == undefined) {
            alert('Select new role!');
            $('#NewRole').focus();
            return
        }

        var ContentKey = '';
        var MsgKey = '';
        if (currentRole == 'ReferringCustomer') {
            if (newRole == 'Member') { // PR
                ContentKey = 'Member_ChangeRole_RC_to_PR';
                MsgKey = 'Member_ChangeRole_RC_to_PR_SuccessMsg';
            } else if (newRole == 'FriendOfFoxx') {  // Customer
                ContentKey = 'Member_ChangeRole_RC_to_Customer';
                MsgKey = 'Member_ChangeRole_RC_to_Customer_SuccessMsg';
            }
        } else if (currentRole == 'Member') {
            if (newRole == 'ReferringCustomer') {
                ContentKey = 'Member_ChangeRole_PR_to_RC';
                MsgKey = 'Member_ChangeRole_PR_to_RC_SuccessMsg';
            } else if (newRole == 'FriendOfFoxx') {
                ContentKey = 'Member_ChangeRole_PR_to_Customer';
                MsgKey = 'Member_ChangeRole_PR_to_Customer_SuccessMsg';
            }
        } else if (currentRole == 'FriendOfFoxx') {
            if (newRole == 'ReferringCustomer') {
                ContentKey = 'Member_ChangeRole_Customer_to_RC';
                MsgKey = 'Member_ChangeRole_Customer_to_RC_SuccessMsg';
            } else if (newRole == 'Member') {
                ContentKey = 'Member_ChangeRole_Customer_to_PR';
                MsgKey = '';
            }
        }
        if (ContentKey == '') {
            alert('Target role now found!');
            return
        }



        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '/Members/GetChangeRoleContent?ContentKey=' + ContentKey + '&MessageKey=' + MsgKey,
            contentType: "application/json; charset=utf-8",

            datatype: "json",
            success: function (data) {
                console.log('d', data)
                if (data != undefined && data.data != undefined) {

                    $('#changeRoleModal').modal('show');
                    $('#changeRoleModalContent').html('');
                    $('#changeRoleModalContent').append(data.data);
                }
                $('#MsgKey').val('');
                if (data != undefined && data.Message != undefined) {
                    $('#MsgKey').val(data.Message);
                }

            },
            error: function (err) {
                console.log('err', err)
                alert("Error occurred!");
            }
        });
    });
    function ChnageUserRole() {
        debugger
        var isAgreed = $('#AgreeChk').is(':checked');
        if (isAgreed == false || isAgreed == undefined) {
            alert('Please check the I agree checkbox');
            return
        }
        var newRole = $('#NewRole').val();

        var currentRoleId = $('#myCurrentRoleId').val();
        var nexRoleId = $('#NewRole').find(':selected').attr('role-id');
        if (currentRoleId == '' || currentRoleId == undefined) {
            alert('Current role id not found!');
            return;
        }
        if (nexRoleId == '' || nexRoleId == undefined) {
            alert('Target role id not found!');
            return;
        }

        $.ajax({
            type: "GET",
            url: '/Members/ChangeUserRole?TargetRole=' + newRole + "&CurrentRoleId=" + currentRoleId + "&NewRoleId=" + nexRoleId,
            success: function (data) {
                debugger
                console.log('d', data)
                if (data != undefined) {
                    if (data.status == true) {

                        debugger
                        if (data.responseCode == 1) {
                            var msg = data.Message;
                            if (msg != '' && msg != undefined) {
                                var msgText = '';
                                try {
                                    msgText = $(msg).text();
                                } catch (err) {
                                    console.log('err', err)
                                }

                                if (msgText == '') {
                                    alert(msg);
                                } else {
                                    alert(msgText);
                                }

                            } else {
                                alert('Unable to change role as there is no qualifying order!')
                                return
                            }


                        } else if (data.responseCode == 2) {
                            var msg = $('#MsgKey').val();
                            if (msg != '' && msg != undefined) {

                                var msgText = '';
                                try {
                                    msgText = $(msg).text();
                                } catch (err) {
                                    console.log('err', err)
                                }
                                if (msgText == '') {
                                    alert(msg);
                                } else {
                                    alert(msgText);
                                }

                            } else {
                                alert('Role is changed successfully.');
                            }

                            $('#changeRoleModal').modal('hide');
                            location.reload();
                        }
                    }
                }

            },
            error: function (err) {
                console.log('err', err)
                alert("Error occurred!");
            }
        });
    }
    function getMyRank() {

        $.ajax({
            url: '/Members/IsAdminUser',
            type: "GET",
            success: function (data) {

                if (data.CurrentRank != '' && data.CurrentRank != undefined) {
                    $('#myCurrentRank').text(data.CurrentRank);
                }

            },
            error: function () {

            }
        });
    }

    function showMyRankHistory() {
        $('#RankHistoryModal').modal('show');
        showLoader('RankHistoryModal')
        $.ajax({
            url: '/Members/GetMyRankHistory',
            type: "GET",
            success: function (data) {
                $('#myRankInfo').html('')
                if (data.status) {
                    $('#myRankInfo').html(data.content);
                }
                hideLoader('RankHistoryModal')
            },
            error: function () {
                hideLoader('RankHistoryModal')
            }
        });
    }

</script>