﻿@model Foxxlegacy.ViewModel.ViewModel.MyLeadsViewModel
@{
    ViewBag.Title = "MyLeads";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Leads</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        @(Html.Raw(Model.leadsContentValue.LeadsContentValue))
        @*<p>
            The following prospect data comes directly from the <a href="@Url.Action("TMRIS", "Members")">Text Message Request Info System</a> or directly
            from your <a href="@Url.Action("FoxxNetwork", "Members")">FoxxNetwork.com</a> website. Both systems capture prospect data and store the data here for future reference.
            If you are signed up to receive <a href="@Url.Action("SMSNotificationSettings", "Members")">Text Message Notifications</a> and <a href="@Url.Action("NotificationSettings", "Members")">Email Notifications</a>, you will receive real time updates
            while your prospects are going through the system. This is quite useful because your prospects are presented with product
            information from across the Foxx Legacy product lines and you are notified about which products they are most interested in as they review the
            information and watch the videos.
        </p>*@
        <br />
        <br />
        <p>Click Select to View Message <a class="viewarchivedlink" href="">View Archived Leads</a></p>
        <div class="myleadsbottom">
            <p>You have no messages at this time.</p>
        </div>
    </div>

</div>

