﻿
@{
   
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Available For Purchases:  <span id="totalAv"></span></h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner" id="cashDiv">


        <div class="col-md-11 col-sm-12 co-xs-12">
            <div class="row">
                <div class="myfoxxcash_panel">
                    <p>All Compensation Issued and Pending can be used like MoreMito Cash when applied to a purchase.</p>
                    @*<div class="myfoxxcash_panel_inner">
                        <h6>
                            <span>Foxx Cash Issued:</span>$0.00
                        </h6>
                        <h6>
                            <span>Commissions Pending:</span>+ $0.00
                        </h6>
                        <h6>
                            <span>Commissions Issued:</span>+ $1,550.00
                        </h6>
                        <hr />
                        <h6>
                            <span>Total Earned:</span>$1,550.00
                        </h6>
                    </div>*@

                    <div class="myfoxxcash_panel_inner">
                        <h5>
                            Total accrued:  <span id="TotalEarned"></span>
                        </h5>
                        <h5>
                            <span>Used for purchases:  </span><span id="TotalSwept"></span>
                        </h5>

                        <hr />
                        <h5>
                            <span>Available For Purchases:  </span><span id="TotalAvailable"></span>
                        </h5>
                    </div>
                    <div class="myfoxxcash_panel_innerbottom">
                        <p style="display:none;">For a history of transfer, withdraw or commissions used for purchase, please <a href="">Click Here</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        myCash()
    });
    function myCash() {
       
        showLoader('cashDiv');
        $.ajax({
            url: '/Members/GetMyCash',
            type: "GET",
            success: function (result) {
                console.log('res 1', result);
                if (result.status) {
                    var res = result.res;
                    $('#totalAv').text('$' + res.TotalAvailable);
                    $('#TotalEarned').text('$' + res.TotalEarnedCommission);
                    $('#TotalSwept').text('$' + res.TotalSwept);
                    $('#TotalAvailable').text('$' + res.TotalAvailable);
                }
                hideLoader('cashDiv');
            },
            error: function () {
                hideLoader('cashDiv');
            }
        });
    }
</script>