﻿@model Foxxlegacy.ViewModel.ViewModel.Orders
@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Order</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @{
        if (Model.myOrders != null && Model.myOrders.Count > 0)
        {
            for (int i = 0; i < Model.myOrders.Count; i++)
            {
            <h4>Order Number : @Model.myOrders[i].OrderId   <a class="changepasswordbtn2" style="float:right;" href="@Url.Action("MyOrdersDetails", "Members", new { OrderId = Model.myOrders[i].OrderId })">Details</a> <div class="clearfix"></div></h4>

            <div class="myorders_box">
                <span>Order Status <b>@Model.myOrders[i].Status</b></span>
                <span>Order Date <b>@Model.myOrders[i].CreatedOn</b></span>
                <span>Order Total <b>$@Model.myOrders[i].OrderTotal</b></span>

            </div>
                }
            }
            else
            {
                <span>No Records found !</span>
            }

        }
</div>