﻿@model List<Foxxlegacy.ViewModel.ViewModel.PersonalInformationViewModel>
@{
    ViewBag.Title = "MyPersonals";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<style>
    #infofield button.active {
        border-radius: inherit;
        background-color: #4CAF50 !important;
        /* border: none; */
        color: white;
    }
</style>

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Personals</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_MyPersonals",Return="Members/MyPersonals" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="changenumber">
            <p>This report shows you the list of individuals that you have personally introduced to MoreMito. Click the INFO button for more in depth data.</p>
            <div class="col-md-12 col-sm-12 co-xs-12">
                <div class="row">
                    <div class="table-responsive notificationtable">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th></th>
                                <th>Placement Upline</th>
                                <th>Name</th>
                                <th>UserName</th>
                                @*<th>Phone</th>*@
                                <th>Email</th>
                                <th>JoinDate</th>
                                <th>Rank</th>

                            </tr>
                            @{
                                for (int i = 0; i < Model.Count; i++)
                                {
                                                        <tr>
                                                            <td><a class="changepasswordbtn" id="personalinfo" href="" data-Id="@Model[i].Id" data-toggle="modal">Info</a></td>
                                                            @*data-target="#mypersonalpopup"*@
                                                            <td>@Model[i].PlacementUser</td>
                                                            <td>@Model[i].Name </td>
                                                            <td>@Model[i].UserName</td>

                                                            @*<td>@Model[i].Phone</td>*@
                                                            <td>@Model[i].Email</td>
                                                            <td>@Model[i].JoinDate.ToShortDateString()</td>
                                                            <td>@Model[i].RankName</td>

                                                        </tr>
                                }
                            }

                            @*<tr>
                                    <td><a class="changepasswordbtn" href="">Info</a></td>
                                    <td>JSAUCE <b>Qual</b> - <b>R.O.</b></td>
                                    <td>JOel Sauceda</td>
                                    <td>2106690545</td>
                                    <td>CustomerCare@SVJMarketing.com</td>
                                    <td>12/29/2017</td>
                                    <td>-</td>
                                </tr>

                                <tr>
                                    <td><a class="changepasswordbtn" href="">Info</a></td>
                                    <td>Sharanya <b>Qual</b> - <b>R.O.</b></td>
                                    <td>Sharanya Kannan</td>
                                    <td>888-555-1212</td>
                                    <td>jon+1@digitalmarketingspecialists.com</td>
                                    <td>11/7/2017</td>
                                    <td>-</td>
                                </tr>*@

                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>


    </div>
</div>





<div class="modal fade" id="infofield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo'></div>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mypersonalpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Js/Personal")


@*@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Js/PesonalInfo")*@
@*<script type="text/javascript">
         $(function () {
            var MyInfoURL = '/Members/GetMyInfo';
            $("#personalinfo").on("click", function (e) {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-Id');
            //$("#personalinfo").click(function () {
                //debugger;
                //var Id = $(this).attr("data-Id");
                alert(id);

                //var options = { "backdrop": "static", keyboard: true };
                //$.ajax({
                //    type: "GET",
                //    url: MyInfoURL,
                //    contentType: "application/json; charset=utf-8",

                //    datatype: "json",
                //    success: function (data) {
                //        debugger;
                //        $('#myModalEditMyInfo').html(data);
                //        $('#editfield').modal(options);
                //        $('#editfield').modal('show');

                //    },
                //    error: function () {
                //        alert("No Data to view");
                //    }
                //});
            });
        });
    </script>*@

