﻿@model Foxxlegacy.ViewModel.ViewModel.RepresentativeInformationViewModel
@{
    ViewBag.Title = "MyRep";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My MoreMito Representative Contact Details</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_MyManager_Contact_Details",Return="Members/MyRep" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="mysupportcontact_details">
            <span><b>UserName:</b>@Model.UserName</span>
            <span><b>Name:</b>@Model.Name</span>
            <span><b>Phone:</b>	@Model.Phone</span>
            <span><b>Email:</b>@Model.Email</span>
        </div>

    </div>
</div>



<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My MoreMito Representative Support Network Contact Details</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_MyManager_Upline_Contact_Details",Return="Members/MyRep" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-8 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Rank</th>
                        </tr>
                        <tr>
                            <td>Co Founders</td>
                            <td>cofounders@foxxlegacy.com</td>
                            <td>(888) 884-8661</td>
                            <td>Three Star Platinum</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

