﻿
@model List<Foxxlegacy.ViewModel.ViewModel.EmailNotificationSettings>
@{
    ViewBag.Title = "NotificationSettings";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Email Notification Settings</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_SMS_NotificationSettings",Return="Members/NotificationSettings" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        @*<p>
            Please click the 'Opt In' button or the 'Opt Out' button to set your notification preferences.
        </p>*@
        <div class="col-md-8 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>Email Notification Description</th>
                            <th>Opted In</th>
                            <th></th>
                        </tr>

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.IsOptedIn</td>
                                    <td><a class="outbtn" href="javascript:void(0)" data-OptOutCatID="@item.OptOutCatID" data-IsOptedIn="@item.IsOptedIn" id="EmailNotificationSettingsOptInOutbtn">@(item.IsOptedIn== "Yes"? "Opt Out" : "Opt In")</a></td>
                                </tr>
                            }
                        }


                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

@Scripts.Render("~/bundles/Js/EmailNotificationSettings")
