﻿@model Foxxlegacy.ViewModel.ViewModel.MyReferralOrders
@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Orders By Your Personally Sponsored People</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="table-responsive">
        <table class="hometableComm table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>  </th>
                    <th>Name</th>
                    <th>Order No.</th>
                    <th>Order Amount</th>
                    <th>Date</th>
                    <th>Expiration Date</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.OrderList != null && Model.OrderList.Count > 0)
                {
                    foreach (var item in Model.OrderList)
                    {
                        <tr>
                            <td><a href="#" onclick="showOrderInfo(@item.OrderId,@item.UserId)">View</a></td>
                            <td>@item.UserName</td>
                            <td> @item.OrderId </td>
                            <td>$ @item.OrderTotal </td>
                            <td>@item.CreatedOn</td>
                            <td></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            <span>No Records found !</span>
                        </td>

                    </tr>

                }
            </tbody>


        </table>
    </div>


</div>
<div class="modal fade" id="OrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="orderFrom"> Order information</span> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div id="OrderDetailModalBody">
                       
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function showOrderInfo(OrderId, OrderOwnerId) {
        showLoader('OrderDetailModal');
        $('#OrderDetailModalBody').html('');
        $('#OrderDetailModal').modal('show');
        $.ajax({
            url: "/members/OrderDetail?OrderId=" + OrderId + "&OrderOwnerId=" + OrderOwnerId,
            type: "GET",           
            success: function (response) {
                hideLoader('OrderDetailModal')
               
                $('#OrderDetailModalBody').html('');
                $('#OrderDetailModalBody').html(response);
               
            },
            error: function (err) {
                hideLoader('OrderDetailModal')
            }
        });
    }
</script>