﻿@model Foxxlegacy.ViewModel.ViewModel.RankManagementViewModel
@{
    ViewBag.Title = "Genealogy";
    Layout = null;
}

@if (Model != null)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Rank Management Report for @Model.myRankData.Name (@Model.myRankData.UserName) </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/Assets/RankHistoryReport/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/customV4.css" rel="stylesheet" />

    </head>
    <body>
        @Html.Partial("_rankManagementPartialView", Model);

    </body>
</html>
<script src="~/Assets/RankHistoryReport/js/bootstrap.bundle.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script>
        $(document).ready(function () {
            $(document).on('click', '#btn1', function () {
                var text = $(".first_row").html();
                $(".scrollone").addClass("first_scroll");
                $("#first").append(text);
            });
            $(document).on('click', '#btn2', function () {
                var text2 = $(".second_row").html();
                $(".scrolltwo").addClass("second_scroll");
                $("#second").append(text2);
            });
            $(document).on('click', '#btn3', function () {
                var text3 = $(".third_row").html();
                $(".scrollthree").addClass("third_scroll");
                $("#third").append(text3);
            });
            $(document).on('click', '#btn4', function () {
                var text4 = $(".fourth_row").html();
                $(".scrollfour").addClass("fourth_scroll");
                $("#fourth").append(text4);
            });
        });
</script>
}
else
{
<p>No data found !</p>
}