﻿@model Foxxlegacy.ViewModel.ViewModel.RankHistoryViewModel
@{
    ViewBag.Title = "RankHistory";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Rank History</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_RankHistory_Help",Return="Members/RankHistory" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        @{
            if (!string.IsNullOrEmpty(Model.webContentData.WebContentValue))
            {
                @Html.Raw(Model.webContentData.WebContentValue)
            }
            else
            {
                <p>No Ranks Achievements to display</p>
            }
        }
        @*<p>
                Your Highest Rank Achieved is listed below with the order number that caused the rank and the date on which the rank advancement occured.

                No Ranks Achievements to display
            </p>*@
        <br />

        @{
            if (Model.rankPromotion.Count > 0)
            {

                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <th>
                                    Rank Name
                                </th>
                                <th>
                                    Order Number
                                </th>
                                <th>
                                    PromoDate
                                </th>
                            </tr>
                            @for (int i = 0; i < Model.rankPromotion.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => x.rankPromotion[i].RankName)</td>
                                    <td>@Html.DisplayFor(x => x.rankPromotion[i].OrderNo)</td>
                                    <td>@Html.DisplayFor(x => x.rankPromotion[i].PromoDate)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }          
        }
    </div>
</div>

