﻿@model Foxxlegacy.ViewModel.ViewModel.RecurringViewModel
@{
    ViewBag.Title = "RecurringOrders";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Create New Recurring Order</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">

            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <a href="@Url.Action("NewAD", "Members",new { AdId=0})" class="recurringorderbtn">Create Order Now</a>
    </div>
</div>

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Modify Existing Recurring Order</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_Autoship_Directives",Return="Members/RecurringOrders" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">

        <div class="col-md-12 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Status</th>
                            <th>Foxx Cash</th>
                            <th>Nickname</th>
                            <th>Next Order</th>
                            <th>Processed Status</th>
                            <th></th>
                        </tr>
                        @foreach (var Item in Model.AutoshipList)
                        {
                            <tr>
                                <td> <a href="@Url.Action("NewAD", "Members",new { AdId=Item.Id})" class="recurringorderbtn">CONFIGURE</a></td>
                                <td>@Item.Active</td>
                                <td>@Item.UseFoxxCash</td>
                                <td>@Item.NickName</td>
                                <td>@Item.NextOrderDate</td>
                                <td>@Item.LastStatus</td>
                                <td><a href="" class="recurringorderbtn">Delete</a></td>
                            </tr>

                        }


                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Recurring Order History</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_Autoship_History",Return="Members/RecurringOrders" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">

        <div class="col-md-12 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>Select</th>
                            <th>Order No.</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        @*<tr>
                            <td> <a href="" class="outbtn">View</a></td>
                            <td>2888</td>
                            <td>4/29/2016</td>
                            <td>Order Complete</td>
                        </tr>

                        <tr>
                            <td> <a href="" class="outbtn">View</a></td>
                            <td>2888</td>
                            <td>4/29/2016</td>
                            <td>Order Complete</td>
                        </tr>

                        <tr>
                            <td> <a href="" class="outbtn">View</a></td>
                            <td>2888</td>
                            <td>4/29/2016</td>
                            <td>Order Complete</td>
                        </tr>

                        <tr>
                            <td> <a href="" class="outbtn">View</a></td>
                            <td>2888</td>
                            <td>4/29/2016</td>
                            <td>Order Complete</td>
                        </tr>

                        <tr>
                            <td> <a href="" class="outbtn">View</a></td>
                            <td>2888</td>
                            <td>4/29/2016</td>
                            <td>Order Complete</td>
                        </tr>*@

                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>