﻿@model Foxxlegacy.ViewModel.ViewModel.SilverStarReport

@{
    ViewBag.Title = "ReportsSilver1Star";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Silver 1 Star Report</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_Silver1StarReport",Return="Members/ReportsSilver1Star" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <p>This report shows the count of Silver one star reps in your downline, grouped together by the leg that they appear in.</p>
        <div class="col-md-4 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    @if (Model.silverStar.Count > 0)
                    {
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>UserName</th>
                                <th>Silver 1 Star Count</th>
                            </tr>
                            @{
                                for (int i = 0; i < Model.silverStar.Count; i++)
                                {

                                    <tr>
                                        <td>@Html.DisplayFor(x => x.silverStar[i].UserName)</td>
                                        <td>@Html.DisplayFor(x => x.silverStar[i].SilverStarCount)</td>
                                    </tr>
                                }
                            }
                            @*<tr>
                                    <td>Sharanya</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>JSAUCE</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>goteam</td>
                                    <td>0</td>
                                </tr>*@
                        </table>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

