﻿@model Foxxlegacy.ViewModel.ViewModel.ResourcesViewModel
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Resource Center</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        <div class="faq">
            <div class="faq1">
                <div class="tab">

                    @{
                        for (int i = 0; i < Model.resources.Count; i++)
                        {
                            <button class="tablinks @(Model.resources[i].Id == Model.activeId ? "active" : "")" id="tabMenu" data-Id="@Model.resources[i].Id">@Model.resources[i].Name</button>
                        }
                    }
                    @*<button class="tablinks active" id="One">Information Center</button>
                        <button class="tablinks" id="Two">Let's Get Started - The Basics</button>
                        <button class="tablinks" id="Three">Business Cards</button>
                        <button class="tablinks" id="Four">Brochures</button>
                        <button class="tablinks" id="five">Call Archive</button>
                        <button class="tablinks" id="six">Compensation Plan</button>
                        <button class="tablinks" id="seven">Testimonials</button>
                        <button class="tablinks" id="eight">Inspirational Videos</button>
                        <button class="tablinks" id="nine">Marketing Materials</button>
                        <button class="tablinks" id="ten">Meet the Co-Founders</button>
                        <button class="tablinks" id="eleven">Personal Development</button>*@
                </div>
            </div>
            <div class="faq2">
                <div id="One" class="tabcontent">
                    <h4>@Model.resources.Single(x => x.Id == Model.activeId).Name</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    @{
                                        for (int i = 0; i < Model.filesResources.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.filesResources[i].Name</td>
                                                <td>@Model.filesResources[i].Description</td>
                                                <td><a class="changepasswordbtn" href="@Model.filesResources[i].Link">Click Here</a></td>
                                            </tr>
                                        }
                                    }
                                    @*<tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>
                                        <tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>
                                        <tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>
                                        <tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>
                                        <tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>
                                        <tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>
                                        <tr>
                                            <td>Foxx_Presentation_v1.8.pdf</td>
                                            <td>Presenting Foxx Legacy</td>
                                            <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                        </tr>*@
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @*
                <div id="Two" class="tabcontent">
                    <h4>Let's Get Started - The Basics</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="Three" class="tabcontent">
                    <h4>Business Cards</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="Four" class="tabcontent">
                    <h4>Brochures</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="five" class="tabcontent">
                    <h4>Call Archive</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="six" class="tabcontent">
                    <h4>Compensation Plan</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="seven" class="tabcontent">
                    <h4>Testimonials</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="eight" class="tabcontent">
                    <h4>Inspirational Videos</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="nine" class="tabcontent">
                    <h4>Marketing Materials</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="ten" class="tabcontent">
                    <h4>Meet the Co-Founders</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="eleven" class="tabcontent">
                    <h4>Personal Development</h4>
                    <div class="col-md-12 col-sm-12 co-xs-12">
                        <div class="row">
                            <div class="table-responsive notificationtable">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                    <tr>
                                        <td>Foxx_Presentation_v1.8.pdf</td>
                                        <td>Presenting Foxx Legacy</td>
                                        <td><a class="changepasswordbtn" href="">Click Here</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                *@
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


</div>
@Scripts.Render("~/bundles/Js/Personal")
<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>

