﻿@model List<Foxxlegacy.ViewModel.ViewModel.TextNotificationSettings>
@{
    ViewBag.Title = "SMSNotificationSettings";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Text Notification Settings</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_NotificationSettings",Return="Members/SMSNotificationSettings" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="changenumber" id="changephonenumberId">
            <span>Your current SMS Number is: 1 (715) 771-9075</span> &nbsp;
            <input type="submit" value="Change Number" />
        </div>
        <div class="" id="changephonenumberdiv" style="display:none">
            <div class="row">
                <span>Phone Number:</span> &nbsp;
                <input type="text" id="phoneNumber" name="phoneNumber" class="validnumeric" />
                <input type="submit" value="Get Code" />

                <span>Enter Confirmation Code:</span> &nbsp;
                <input type="text" id="ConfirmationCode" name="ConfirmationCode" />
                <input type="submit" value="Confirm Code" />
                <input type="submit" name="btnCancelNumberChange" value="Cancel Number Change" id="btnCancelNumberChange" style="color:Red;">
            </div>
        </div>
        <div class="col-md-8 col-sm-12 co-xs-12" id="TextNotificationSettingslistdiv">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>Text Notification Description</th>
                            <th>Opted In</th>
                            <th></th>
                        </tr>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.IsOptedIn</td>
                                    <td><a class="outbtn" href="javascript:void(0)" data-OptOutCatID="@item.OptOutCatID" data-IsOptedIn="@item.IsOptedIn" id="TextNotificationSettingsOptInOutbtn">@(item.IsOptedIn== "Yes"? "Opt Out" : "Opt In")</a></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
@Scripts.Render("~/bundles/Js/TextNotificationSettings")

