﻿@model Foxxlegacy.ViewModel.ViewModel.SmsSettingModel

@{
    ViewBag.Title = "SMSNotificationSettings";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<style>
    .optInBadge{
        background-color:darkgreen !important;
        float:right;
        
    }
    .optOutBadge {
        background-color: orangered !important;
        float: right;
    }
</style>
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Text Notification Settings</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_NotificationSettings",Return="Members/SMSNotificationSettings" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-8 col-sm-12 co-xs-12" id="changeNumDiv">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Phone Number</h3>
                </div>
                <div class="panel-body">
                    <div class="changenumber" id="changephonenumberId">
                        <input type="hidden" id="FormattedPhone" value="@Model.FormattedPhone" />
                        <span>Your current SMS Number is: @Model.Phone</span> &nbsp;
                        <input type="button" onclick="changeNumber()" value="Change Number" />
                    </div>
                    <div class="">
                        <div class="row" id="changephonenumberdiv" style="display:none;">
                            <div class="col-md-12">
                                <span>Phone Number:</span><small>(Include Country code)</small>
                                <input type="text" id="phone" name="phone" />
                                <input type="button" onclick="getCode();" value="Get Code" />
                                <input type="button" name="btnCancelNumberChange" onclick="cancelChangeNumber()" value="Cancel Number Change" style="color:Red;">

                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>
                        <br />

                        <div class="row" id="confirmCodeDiv" style="display:none;">
                            <div class="col-md-12">
                                <span>Enter Confirmation Code:</span>
                                <input type="text" id="confirmation_code" name="ConfirmationCode" />
                                <input type="button" onclick="confirmCode()" value="Confirm Code" />
                                <input type="button" name="btnCancelNumberChange" onclick="cancelChangeNumber()" value="Cancel Number Change" style="color:Red;">

                            </div>
                            <div class="col-md-6">

                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-md-8 col-sm-12 co-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Broadcast SMS</strong>  
                        
                        @if (Model != null && Model.BroadCastOpt != null && Model.BroadCastOpt.IsOptOut == true)
                        {
                            <span class="badge badge-primary optOutBadge">Opted Out</span>
                        }
                        else
                        {
                            <span class="badge badge-success optInBadge">Opted In</span>
                        }
                    </h4>
                    
                </div>
                <div class="panel-body">

                    @if (Model != null && Model.BroadCastOpt != null && Model.BroadCastOpt.IsOptOut == true)
                    {
                        if (Model.BroadCastOpt.OptType == "PLIVO")
                        {
                            <span>To start receiving broadcast messages please text "START" on @Model.BroadCastOpt.phone</span>
                        }
                        else
                        {
                            <span>To start receiving broadcast messages click on the Opt In button</span>
                            <button class="btn btn-success" onclick="optOut('optin')" style="float:right">Opt In</button>
                        }
                    }
                    else
                    {
                        <span>To opt out of broadcast messages click on the Opt Out button</span>
                        <button class="btn btn-success" onclick="optOut('optout')" style="float:right">Opt Out</button>
                    }


                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 co-xs-12" id="TextNotificationSettingslistdiv">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Other SMS Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive notificationtable">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <th>Text Notification Description</th>
                                    <th>Opted In</th>
                                    <th></th>
                                </tr>
                                @if (Model != null && Model.OptList != null)
                                {
                                    foreach (var item in Model.OptList)
                                    {
                                        <tr>
                                            <td>@item.Description</td>
                                            <td>@item.IsOptedIn</td>
                                            <td><a class="outbtn" href="javascript:void(0)" data-OptOutCatID="@item.OptOutCatID" data-IsOptedIn="@item.IsOptedIn" id="TextNotificationSettingsOptInOutbtn">@(item.IsOptedIn== "Yes"? "Opt Out" : "Opt In")</a></td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>

    </div>
</div>
<script>
    function changeNumber() {
        $('#changephonenumberdiv').show();
        $('#confirmCodeDiv').hide();
    }
    function cancelChangeNumber() {
        $('#changephonenumberdiv').hide();
        $('#confirmCodeDiv').hide();
    }
    function getCode() {
        var code = $('#phone').val().trim();
        var userId = IntParse($('#userId').val());

        if (code == undefined || code == '') {
            alert('Phone number is required!');
            return
        }
        showLoader('changeNumDiv')
        $.ajax({
            type: "GET",
            url: "/Members/GetCode?smsNumber=" + code ,
            success: function (data) {
                console.log('get code', data)
                hideLoader('changeNumDiv')
                if (data != undefined && data.status == true) {
                    $('#changephonenumberdiv').hide();
                    $('#confirmCodeDiv').show();
                    alert("SMS confirmation code has been sent.\nPlease check your phone for confirmation code.");
                }
                hideLoader('changeNumDiv')

            },
            error: function () {
                alert("Error occurred");
                hideLoader('changeNumDiv')
            }
        });
    }

    function confirmCode() {
        var code = $('#confirmation_code').val().trim();
        var phone = $('#phone').val().trim();

        if (code == undefined || code == '') {
            alert('Code is required!');
            return
        }
        showLoader('changeNumDiv')
        $.ajax({
            type: "GET",
            url: "/Members/ConfirmCode?Code=" + code + '&Phone=' + phone,
            success: function (data) {
                hideLoader('changeNumDiv')
                console.log('confirm', data)
                if (data != undefined && data.status == true) {
                    alert('Phone no. verified successfully.');
                    location.reload();
                } else {
                    alert('Unable to verify the code.')
                }


            },
            error: function () {
                hideLoader('changeNumDiv')
                alert("No Data to view");
                
            }
        });
    }
    $(document).on("click", "#TextNotificationSettingsOptInOutbtn", function () {
        var href = window.location.href;
        var Id = $(this).attr("data-OptOutCatID");
        var IsOptedIn = $(this).attr("data-IsOptedIn");

        var dataObj = {};
        if (Id != undefined && Id != null) {
            dataObj.OptOutCatID = Id;
            dataObj.IsOptedIn = IsOptedIn;
            $.ajax({
                type: "GET",
                url: "/Members/TextNotificationSettingsOptOutInsertDelete",
                data: dataObj,
                success: function (res) {
                    window.location.href = href;


                }
            });
        }
    });
    function optOut(optType) {
        debugger
        var from = $('#FormattedPhone').val();
        if (from == undefined || from == '') {
            alert('Unable to locate phone number.');
            return
        }
        var smsText = optType =='optout'? 'STOP':'START';
        // var from = 'moremitoAdmin';
        var messageintent = 'optout';
        var messageUUID = 'moremito';
        showLoader('sendToAllBody');
        $.ajax({
            url: '/Members/OptOutInUser?Phone=' + from + '&OptType=' + optType + '&Text=' + smsText,
            type: "GET",

            success: function (data) {
                debugger
                console.log('res', data);
                if (data.status) {
                    if (data.statusCode == 200) {
                        if (optType == 'optout') {
                            alert('You have been Opted out successfully out of broadcast messages.');
                        } else {
                            alert('You have Opted In successfully for broadcast messages.');
                        }
                        
                        
                    } else if (data.statusCode == 500) {
                        alert('Already opted out')
                    }
                    location.reload();
                } else {
                    alert('Error :' + data.msg);
                }
                hideLoader('sendToAllBody');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('sendToAllBody');
            }
        });
    }
</script>