﻿
@{
    ViewBag.Title = "Sweeper";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<style>
    .paymentArea {
        border-top: #ccc solid 1px;
        /* margin: 50px 0 0 0; */
       /* padding: 30px 0 0 0;*/
    }
</style>
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Payment Requests</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-9 col-sm-12 co-xs-12">
            <div class="row">
                <p>This page reflects your payment request history.</p>

                <div class="commission_panel">
                    <h4>Commission Summary:</h4>
                    <p>(Pending commissions are not included in "Commissions Issued" amout.) </p>
                    <div class="myfoxxcash_panel_inner commission_panel_inner">
                        <h6>
                            <span>Commissions Issued:</span>$1,550.00
                        </h6>
                        <h6>
                            <span>Commissions Swept:</span>-$20.00
                        </h6>
                        <h6>
                            <span>Total available to</span> <b class="blackborder"></b>
                        </h6>

                        <h6>
                            <span>sweep:</span>$1,530.00
                        </h6>
                        <div class="amounttosweepbox"><p><span>Amount To Sweep:</span>   $ &nbsp;<input type="text" class="form-control" /></p></div>
                       
                    </div>
                    <div class="paymentArea">
                        <h4>Payment Methods:</h4>
                        <p>No payment method is added yet !</p>
                        <input type="button" onclick="addNewUserPaymentMethod()" class="SweepMyCommissions" value="Add a new payment method" />
                        @*<p>
            When you sweep some or all of your "Total Available to Sweep", you are requesting that the amount specified be
            transferred to your eWallet account. These transactions are processed daily.
        </p>
        <p>Commissions will be credited to:<b> Paylution Token: usr-667dd805-c138-43a6-af74-d327cdbc8cfa</b></p>
                        <div align="center">
                            <input type="submit" class="SweepMyCommissions" value="Sweep My Commissions" />
                            <div class="clearfix"></div>
                            <p>Note: all sweep requests are processed at 6:00 PM PST</p>
                        </div>
                        *@
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal fade" id="addNewPaymentMethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order_header">Add a new Payment method</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">                   
                    <div>
                        <table id="addNewPaymentMethodContent" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <thead>
                               <tr>
                                   <th>Name</th>
                                   <td></td>
                                   <td></td>
                               </tr>
                            </thead>
                            <tbody id="paymentBody">

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="modal-footer">                   
                    <button type="button" style="float:right;" class="modalclosebtn" data-dismiss="modal">Close </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="methodDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="method_header">Details for </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="myinfopassword_bottom">
                        <span>Name:</span>
                        <span id="paymentName"></span>
                        <div class="clearfix"></div>

                        <span>Field 1:</span>
                        <span id="lbl_field1_val"></span>
                        <div class="clearfix"></div>

                        <span>Field 2:</span>
                        <span id="lbl_field2_val"></span>
                        <div class="clearfix"></div>

                        <span>Field 3:</span>
                        <span id="lbl_field3_val"></span>
                        <div class="clearfix"></div>

                        <span>Field 4:</span>
                        <span id="lbl_field4_val"></span>
                        <div class="clearfix"></div>

                        <span>Field 5:</span>
                        <span id="lbl_field5_val"></span>
                        <div class="clearfix"></div>

                        <span>Field 6:</span>
                        <span id="lbl_field6_val"></span>
                        <div class="clearfix"></div>

                    
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" style="float:right;" class="modalclosebtn" data-dismiss="modal">Close </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addMethodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="method_header_add">Add a payment method </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form id="addPaymentMethodForm">
                        <div class="myinfopassword_bottom">
                            <input type="hidden" id="paymentMethodId" />
                            <span id="lbl_field1">Field 1:</span>
                            <input class="form-control" id="tb_field1_val" type="text" value="">
                            <div class="clearfix"></div>

                            <span id="lbl_field2">Field 2:</span>
                            <input class="form-control" id="tb_field2_val" type="text" value="">
                            <div class="clearfix"></div>

                            <span id="lbl_field3">Field 3:</span>
                            <input class="form-control" id="tb_field3_val" type="text" value="">
                            <div class="clearfix"></div>

                            <span id="lbl_field4">Field 4:</span>
                            <input class="form-control" id="tb_field4_val" type="text" value="">
                            <div class="clearfix"></div>

                            <span id="lbl_field5">Field 5:</span>
                            <input class="form-control" id="tb_field5_val" type="text" value="">
                            <div class="clearfix"></div>

                            <span id="lbl_field6">Field 6:</span>
                            <input class="form-control" id="tb_field6_val" type="text" value="">
                            <div class="clearfix"></div>


                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="savePaymentMethod()" style="float:right;" class="modalclosebtn">Add </button>
                    <button type="button" class="modalclosebtn" data-dismiss="modal">Close </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/PageJs/Sweeper.js"></script>