﻿
@{
    ViewBag.Title = "SweeperHistory";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Request History</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>CreateDate</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Paid</th>
                            <th>Paid Date</th>
                        </tr>
                        <tr>
                            <td>4/14/2020</td>
                            <td>$10.00</td>
                            <td>Request for $10.00 to be transferred to eWallet Account:</td>
                            <td>True</td>
                            <td>4/14/2020</td>
                        </tr>
                        <tr>
                            <td>4/14/2020</td>
                            <td>$10.00</td>
                            <td>Request for $10.00 to be transferred to eWallet Account:</td>
                            <td>True</td>
                            <td>4/14/2020</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

