﻿@model Foxxlegacy.ViewModel.ViewModel.TeamCustomerViewModel
@{
    ViewBag.Title = "TeamCustomerCounts";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Team Customers Count</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_TeamCustomerCountsReport",Return="Members/TeamCustomerCounts" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="teamcoustomercount">
            <h4>Your Active Leg Count: @Model.LegsCount</h4>
            <p>@Model.QualOrder</p>
            <br />
            <h4>Team Customers: @Model.MyCustomers</h4>
            <p>@Model.PersRefTC	 Your Personally Referred Team Customer Count</p>
            <p>+<u>@Model.TotalRefNetworkTC</u>	 Your total Referral Network Team Customer Count</p>
            <p> @Model.TotalTC	 Your Total Team Customer Count</p>

            <h5>Team Customers for each of your personally sponsored users.</h5>
            <div class="col-md-12 col-sm-12 co-xs-12">
                <div class="row">
                    <div class="table-responsive notificationtable">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>User Name</th>
                                <th>Total</th>
                                <th>Silver 2</th>
                                <th>Silver 3</th>
                                <th>Gold 1</th>
                                <th>Gold 2</th>
                                <th>Gold 3</th>
                                <th>Platinum 1</th>
                                <th>Platinum 2</th>
                                <th>Platinum 3</th>
                            </tr>
                            @for (int i = 0; i < Model.teamCustomer.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].UserName)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].Total)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].S2)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].S3)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].G1)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].G2)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].G3)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].P1)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].P2)</td>
                                    <td>@Html.DisplayFor(x => x.teamCustomer[i].P3)</td>
                                </tr>
                            }
                            @*<tr>
                                    <td>JSAUCE</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>goteam</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>*@
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

