﻿@model Foxxlegacy.ViewModel.ViewModel.MobileApp

@{
    ViewBag.Title = "TMRIS";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Text Message Request Info System</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        @(Html.Raw(Model.mobileContentData.WebContentValue))
        @*<p>
            The "Text Message Request Info System" works on a 'prospect pull' method that allows you to have your prospects identify themselves to you by texting you for more info. You can publish the TEXT Message instructions with a simple QR code or a short instruction. You have just one Text Message Code that can be sent to either of the Text Message Request lines.
        </p>

        <p>
            Your Text Message Code is unique to you and works similar to your username. You can change it from time to time by editing the field labled "SMS Code" on your <a href="@Url.Action("MyInfo", "Members")">Account Settings"</a> page.
        </p>
        <p>To use this system, have your prospect text your code to either or both of the following phone numbers depending on their product interest:</p>
        <div class="tmris_box">
            <h3>715.600.0242 - is for Pet Health Information</h3>
            <h3><b>715.600.0905</b> - is for People Nutritional Information</h3>
        </div>
        <p>
            The prospect will be greated with your own personal greeting and begin their journey toward gaining valuable product information. All information gained in this process is texted to you, emailed to you and stored in your Member's Back Office under the <a href="">My Generated Leads</a> link.
        </p>*@
    </div>

</div>

