﻿@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="container tab-content-cont">
    <div class="tab-content">
        <div id="range-search" class="tab-pane fade in active">
            <div class="commission_cont">
                <div class="dashboard_main" style="width:auto;">
                    <div class="">
                        <div class="tabcontainer_content">
                            <div class="tabcontainer_hdng_content">
                                <h2 class="table_tab_heading">MoreMito Cash Transfer History</h2>
                              
                            </div>
                            <div class="col-md-11 col-sm-12 co-xs-12" >
                                <div class="row">
                                    <div class="">
                                        <p>
                                            <b>Below is the history of the MoreMito Cash you have transfered, as well as the MoreMito Cash  you have received.</b>

                                        </p>
                                        <br />
                                        <div class="row" id="transferHistoryDiv">
                                          
                                        </div>
                                       
                                      

                                        

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        historyList()
    });
    function historyList() {
        showLoader('transferHistoryDiv');
        
        $.ajax({
            url: '/Members/GetTransferHistory',
            type: "GET",
            success: function (result) {
                console.log('history', result);
                if (result.status) {
                    $('#transferHistoryDiv').html('');
                    $('#transferHistoryDiv').append(result.content)
                }
                hideLoader('transferHistoryDiv');
            },
            error: function () {
                hideLoader('transferHistoryDiv');
            }
        });
    }
</script>