﻿@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="container tab-content-cont">
    <div class="tab-content">
        <div id="range-search" class="tab-pane fade in active">
            <div class="commission_cont">
                <div class="dashboard_main" style="width:auto;">
                    <div class="">
                        <div class="tabcontainer_content">
                            <div class="tabcontainer_hdng_content">
                                <h2 class="table_tab_heading">Transfer MoreMitoCash</h2>
                                <p>
                                    <div class="table-responsive table-responsive-cls">
                                        <table style="border-collapse: collapse; width: 100%;">
                                            <tbody>
                                                <tr style="padding: 0;">
                                                    <td class="boxLeftCorner" style="padding: 0;"></td>
                                                    <td class="boxTopRepeater" style="padding: 0;">
                                                    </td>
                                                    <td class="boxRightCorner" style="padding: 0;"></td>
                                                </tr>
                                                <tr style="padding: 0;">
                                                    <td class="boxLeftRepeater" style="padding: 0;"></td>
                                                    <td class="content" style="padding: 0;">
                                                        <table style="margin: 15px">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p>You may <span class="il">transfer</span> <span class="il">MoreMito</span> <span class="il">Cash</span> to someone for use in purchasing <span class="il">More Mito</span> Products.</p>
                                                                        <p>First: Make sure that they are signed up as a Referring Customer or Customer.</p>
                                                                        <p>Second: Either 'Search Network' by username for users inside your referral network </p>
                                                                        <table class="cashdiccont">
                                                                            <tbody id="CashDiv">
                                                                                <tr>
                                                                                    <td colspan="3">
                                                                                        <strong>
                                                                                            <span id="lblSubHeader1">MoreMito Cash Summary:</span>
                                                                                        </strong>
                                                                                        <br>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="text-align: left; width: 175px">
                                                                                        <span id="lblCommissionsIssued">MoreMito Cash Issued:</span>
                                                                                    </td>
                                                                                    <td style="text-align: right;">
                                                                                        <a href="#!" onclick="showSummaryModal()" class="btn"><span id="TotalEarned"></span></a>
                                                                                    </td>
                                                                                    <td style="text-align: center; width: 200px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="text-align: left; width: 175px">
                                                                                        <span id="lblCommissionsSwept2">MoreMito Cash Swept:</span>
                                                                                    </td>
                                                                                    <td style="text-align: right;">
                                                                                        <a href="#!" onclick="showSweptModal()" class="btn">-<span id="TotalSwept"></span></a>
</td>
                                                                                    <td style="text-align: center; width: 200px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="text-align: left; width: 175px;">
                                                                                        <span id="lblCommissionsAvailable">Total available to transfer:</span>
                                                                                    </td>
                                                                                    <td style="text-align: right;">
                                                                                        <a class="btn" href="#!" onclick="showAvailableModal()"><span id="TotalAvailable"></span></a>
                                                                                        @*<div class="dropdown">
                                                                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                                                <span id="TotalAvailable"></span>
                                                                                                <span class="caret"></span>
                                                                                            </button>
                                                                                            <ul class="dropdown-menu cashsummarycont" aria-labelledby="dropdownMenu1">
                                                                                                <div class="" id="cashComSummary" style="display:none;">
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-12">
                                                                                                            <strong>
                                                                                                                <span id="lblSubHeader1">MoreMito Cash/Commission Summary:</span>
                                                                                                            </strong>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-9"><span>Available MoreMito Cash:</span></div>
                                                                                                        <div class="col-md-3">
                                                                                                            <span id="MoreCashAmt"></span>
                                                                                                            <input type="hidden" value="0" id="MoreCashAmtVal" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-9"> <span>Available MoreMito Commission:</span></div>
                                                                                                        <div class="col-md-3">
                                                                                                            <span id="MoreCashCommission"></span>
                                                                                                            <input type="hidden" value="0" id="MoreCashCommissionVal" />
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </ul>
                                                                                        </div>*@
                                                                                        <input type="hidden" id="totalAvailableHidden" />
                                                                                    </td>
                                                                                    <td style="text-align: center; width: 200px"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div id="searchDiv">
                                                                            <div style="padding: 15px 0px;">
                                                                                <table>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                &nbsp;<strong>Search network:</strong>&nbsp;<input name="txtSearchString" type="text" id="txtSearchString">
                                                                                            </td>
                                                                                            <td>
                                                                                                &nbsp;&nbsp;<input type="button" name="btnSearch" value="Search" onclick="searchUser()" id="btnSearch">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div style="padding: 15px 0px;" id="userList">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="boxRightRepeater" style="padding: 0;"></td>
                                                </tr>
                                                <tr style="padding: 0;">
                                                    <td class="boxBotLeftCorner" style="padding: 0;"></td>
                                                    <td class="boxBotRepeater" style="padding: 0;"></td>
                                                    <td class="boxBotRightCorner" style="padding: 0;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </p>
                            </div>
                            <div class="col-md-11 col-sm-12 co-xs-12" id="transferAreaDiv" style="display:none;">
                                <div class="row">
                                    <div class="">
                                        <h3>Transfer Area</h3>
                                        <p>
                                            When you transfer some or all of your "Total Available to Transfer", you are requesting that the specified amount of MoreMito Cash be transferred to:
                                        </p>
                                        <div class="col-md-8 transferarea-info">
                                            <input type="hidden" id="targetUserId" value="0" />
                                            <h3>
                                                <span id="target_username"></span>
                                            </h3>
                                            <h3>
                                                <span id="target_name"></span>
                                            </h3>
                                            <h3>
                                                <span id="targetEmail"></span>
                                            </h3>
                                            <h3>
                                                <span id="targetPhone"></span>
                                            </h3>
                                            <input type="button" onclick="changeReceipent()" name="btnChangeRecipient" value="Change Recipient" id="btnChangeRecipient">
                                            <br />
                                            <hr />
                                            <div class="" id="cashComSummary" style="display:none;">
                                                @*
                                                    <div class="row">
                                                       <div class="col-md-12">
                                                          <strong>
                                                          <span id="lblSubHeader1">MoreMito Cash/Commission Summary:</span>
                                                          </strong>
                                                       </div>
                                                    </div>
                                                    <div class="row">
                                                       <div class="col-md-6"><span>Available MoreMito Cash:</span></div>
                                                       <div class="col-md-6">
                                                          <span id="MoreCashAmt"></span>
                                                          <input type="hidden" value="0" id="MoreCashAmtVal" />
                                                       </div>
                                                    </div>
                                                    <div class="row">
                                                       <div class="col-md-6"> <span>Available MoreMito Commission:</span></div>
                                                       <div class="col-md-6">
                                                          <span id="MoreCashCommission"></span>
                                                          <input type="hidden" value="0" id="MoreCashCommissionVal" />
                                                       </div>
                                                    </div>
                                                *@
                                                
                                            </div>
                                            <div class="commission_info">
                                                <div class="row">
                                                    <div class="col-md-4"><label class="mrgn_rgt" id="lblHeader">Amount to transfer</label></div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" onkeypress="return isDecimalKeyD(this, event)" id="transferAmount">
                                                    </div>
                                                </div>                                             
                                               

                                                <div class="row" style="margin-top:20px;">
                                                    <div class="col-md-4"><label class="mrgn_rgt" id="lblHeader">Add message to the User</label></div>
                                                    <div class="col-md-6">
                                                        <textarea class="form-control" id="msgToUser"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <input type="button" id="btnTransfer" onclick="TransferAmount()" style="margin-top:5px;float:right;" class="admin_btn" value="Send MoreMito Cash">

                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <div class="col-md-12" id="successDiv" style="display:none;">
                                            <div class="alert alert-dismissible alert-success">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>Amount transferred successfully. </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="errorDiv" style="display:none;">
                                            <div class="alert alert-dismissible alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <p style="text-align:center"><i class="fa fa-close" aria-hidden="true">&nbsp;</i><span id="errMsgDiv"></span> </p>
                                            </div>
                                        </div>
                                        <div class="myfoxxcash_panel_innerbottom">
                                            <p style="display:none;">For a history of transfer, withdraw or commissions used for purchase, please <a href="">Click Here</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="year_header">MoreMitoCash/Commission Summary:</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 15px;">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total MoreMitoCash Earned from Orders</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="m_cash"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total MoreMitoCommission Earned from Orders</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="m_commission"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total MoreMitoCash Received from others</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="m_received"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total accrued</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="m_total"></span>
                                </div>
                            </div>                           
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="modalclosebtn" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="showSweptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="year_header">MoreMito Swept Summary:</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 15px;">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total Swept on Purchases</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="sw_purchase"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total Swept on Transfers</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="sw_transfer"></span>
                                </div>
                            </div>
                            <hr />
                          
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total Swept</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="sw_total"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="modalclosebtn" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="showAvailableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="year_header">MoreMito Available Cash/Commission Summary:</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 15px;">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Available MoreMito Cash:</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="MoreCashAmt"></span>
                                    <input type="hidden" value="0" id="MoreCashAmtVal" />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Available MoreMito Commission:</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="MoreCashCommission"></span>
                                    <input type="hidden" value="0" id="MoreCashCommissionVal" />
                                </div>
                            </div>
                            <hr />

                           
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Total Available:</span>
                                </div>
                                <div class="col-md-6">
                                    <span id="av_total"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="modalclosebtn" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        myCash()
    });
    //
    function showSummaryModal() {
        $('#SummaryModal').modal('show');
    }
    function showSweptModal() {
        $('#showSweptModal').modal('show');
    }
    function showAvailableModal() {
        $('#showAvailableModal').modal('show');
    }
    function myCash() {

        showLoader('CashDiv');
        showLoader('cashComSummary')
        $.ajax({
            url: '/Members/GetMyCash',
            type: "GET",
            success: function (result) {
                console.log('res 1', result);
                if (result.status) {
                    var res = result.res;
                    $('#totalAv').text('$' + res.TotalAvailable);
                    $('#av_total').text('$' + res.TotalAvailable);
                    $('#TotalEarned').text('$' + res.TotalEarnedCommission);
                    $('#TotalSwept').text('$' + res.TotalSwept);
                    $('#TotalAvailable').text('$' + res.TotalAvailable);
                    $('#totalAvailableHidden').val(res.TotalAvailable);
                    $('#MoreCashAmt').text('$' + res.MoreCash);
                    $('#MoreCashAmtVal').val(res.MoreCash);
                    $('#MoreCashCommission').text('$' + res.MoreCommission);
                    $('#MoreCashCommissionVal').val(res.MoreCommission);
                    $('#m_cash').text('$' + res.TotalOrderCash);
                    $('#m_commission').text('$' + res.TotalOrderCommission);
                    $('#m_received').text('$' + res.MoreCashReceived);
                    $('#m_total').text('$' + res.TotalEarnedCommission);

                    $('#sw_purchase').text('$' + res.TotalSweptOnPurchase);
                    $('#sw_transfer').text('$' + res.TotalSweptOnTransfer);
                    $('#sw_total').text('$' + res.TotalSwept);

                    $('#cashComSummary').show();

                    //comType
                    //if (res.MoreCommission > 0) {
                    //    var a = '<option value="cash">Cash</option><option value="commission">Commission</option>';
                    //    $('#comType').append(a);
                    //    $('#cashComSummary').show();

                    //} else {
                    //    var a = '<option value="cash">Cash</option>';
                    //    $('#comType').append(a);
                    //    $('#cashComSummary').hide();
                    //    changeHeader('cash');
                    //}
                }
                hideLoader('CashDiv');
                hideLoader('cashComSummary')
            },
            error: function () {
                hideLoader('CashDiv');
                hideLoader('cashComSummary')
            }
        });
    }
    function searchUser() {
       
        var userName = $('#txtSearchString').val().trim();
        if (userName == '' || userName == undefined) {
            return
        }
        showLoader('userList');
        $.ajax({
            url: '/Members/SearchUser?Username=' + userName,
            type: "GET",
            success: function (result) {
                console.log('res 1', result);
                if (result.status) {
                    $('#userList').html('');
                    $('#userList').append(result.content)
                }
                hideLoader('userList');
            },
            error: function () {
                hideLoader('userList');
            }
        });
    }

    function changeReceipent() {
        debugger
        $('#targetUserId').val(0);
        $('#searchDiv').show();
        $('#transferAreaDiv').hide();
    }
    function TransferAmount() {
        //  var transferType = $('#comType').val();
        var targetUserId = parseInt($('#targetUserId').val());
        var amount = parseFloat($('#transferAmount').val());
        var available = parseFloat($('#totalAvailableHidden').val());
        var msgToUser = $('#msgToUser').val();
        var availabelCash = parseFloat($('#MoreCashAmtVal').val());
        var availabelCommission = parseFloat($('#MoreCashCommissionVal').val());
        if (amount == 0 || amount == undefined) {
            return
        }
        //if (transferType == 'commission') {
        //    available = availabelCommission
        //} else {
        //    available = availabelCash
        //}

        if (amount > available) {
            $('#successDiv').hide();
            $('#errMsgDiv').text('You must enter an amount that is less than or equal to your Total Available to Transfer.');
            $('#errorDiv').show();
            $('#errorDiv').delay(20000).fadeOut('slow');
            return
        }

        var obj = {
            TargetUserId: targetUserId,
            Amount: amount,
            TransferType: '',
            Message: msgToUser
        }

        $.ajax({
            url: '/Members/TransferCash',
            type: "POST",
            data: { 'model': obj },
            success: function (result) {
                debugger
                console.log('res 1', result);
                if (result.statusNo == 1) {
                    $('#transferAmount').val('');
                    $('#successDiv').show();
                    $('#errorDiv').hide();
                    myCash();
                } else if (result.statusNo == 2) {
                    $('#successDiv').hide();
                    $('#errMsgDiv').text('You must enter an amount that is less than or equal to your Total Available to Transfer.');
                    $('#errorDiv').show();
                    myCash();
                } else {

                    $('#successDiv').hide();
                    $('#errMsgDiv').text('Error occurred: ' + result.msg);
                    $('#errorDiv').show();
                }
                hideLoader('userList');
                $('#successDiv').delay(10000).fadeOut('slow');
                $('#errorDiv').delay(20000).fadeOut('slow');
            },
            error: function () {
                hideLoader('userList');
            }
        });
    }
    //$('#comType').on('change', function () {
    //    changeHeader(this.value);
    //});
    function changeHeader(type) {
        if (type == 'cash') {
            $('#lblHeader').text('Cash Amount to transfer');
            $('#btnTransfer').val('Send MoreMito Cash');
        } else if (type == 'commission') {
            $('#lblHeader').text('Commission Amount to transfer')
            $('#btnTransfer').val('Send MoreMito Commission');
        }
    }
</script>