﻿
@{
    ViewBag.Title = "TransferFCHistory";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Transfer History</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <p><b>Below is the history of the Foxx Cash you have transfered, as well as the Foxx Cash  you have received.</b></p>

        <div class="cashtransferhistory">
            <h3>Foxx Cash Transferred To You</h3>
        </div>

        <br />
        <p>Total Received: $726.06</p>
        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>Date Received</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>From Level</th>
                        </tr>
                        <tr>
                            <td>9/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>8/7/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7/21/2021</td>
                            <td>$40.00</td>
                            <td>$40.00 Foxx Cash transferred from GoodStewards</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="cashtransferhistory">
            <h3>Foxx Cash You Transferred To Your Downline</h3>
            <br />
            <p>Total Sent: $0.00</p>
            <span class="nodatafound">No data to display.</span>
        </div>
    </div>
</div>

