﻿
@{
    ViewBag.Title = "TransferFC";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Transfer Foxx Cash</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-8 col-sm-12 co-xs-12">
            <div class="row">
                <p>You may transfer Foxx Cash to someone for use in purchasing Foxx Legacy Products.</p>
                <p>
                    First: Make sure that they are signed up as a Referring Customer or Friend of Foxx.
                    Second: Either 'Search Network' by username for users inside your referral network or click the
                    'Transfer Foxx Cash Outside Network' button to transfer Foxx Cash to a user outside your network.
                </p>
                <div class="transferFC_panel">
                    <h5>Foxx Cash Summary:</h5>
                    <div class="myfoxxcash_panel_inner transferFC_panel_box">
                        <h6><span>Foxx Cash Issued:</span>$1,550.00</h6>
                        <h6><span>Foxx Cash Swept:</span>-$20.00</h6>
                        <hr />
                        <h6><span>Total available to transfer:</span>$1,530.00	</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="transfer_panel_bottom">
            <label> Search network:</label>
            <input type="text" class="form-control" placeholder="" />
            <input type="submit" class="transfer_panel_bottom_btn" value="Search" />
            <span>OR</span>
            <input type="submit" class="transfer_panel_bottom_btn toggletransferbutton" value="Transfer Foxx Cash Outside Network" />
            <div class="clearfix"></div>
        </div>

        <div class="transfer_panel_bottom_someone" style="display:none;">
            <h4>Transfer Foxx Cash to someone outside your network</h4>
            <label> Search network:</label>
            <input type="text" class="form-control" placeholder="" />
            <input type="submit" class="transfer_panel_bottom_btn" value="Continue" />
            <div class="clearfix"></div>
        </div>
    </div>
</div>



