﻿@{
    ViewBag.Title = "MyInfo";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">

    <div class="dashboard_main_inner myinfomain">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="aftermemberlogin_l">
                    <h1>Shopping cart under construction !</h1>
                    <br />
                    <h4>Our shopping cart is being upgarded. Please call or text  our customer care (509-593-3300) to place an order.</h4>
                </div>
            </div>

        </div>

    </div>
</div>
