﻿
@{
    ViewBag.Title = "Upgrade";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="container">
    <div class="upgrade">
        <h3>Paid Representative Required Filing:</h3>
        <p>As a paid representative, you are required to file the tax form W-9 with Foxx Legacy. This information is collected for the mandatory yearend tax reporting requirement. Please fill out this form completely, for the entity that is registering as a Paid Representative.</p>
        <p>Even though annual earnings are reported on Form 1099, you may still withdraw commissions indirectly, by applying commissions issued to orders in your Foxx Legacy Shopping Cart. This is done on the final payment page during the checkout process. All commissions applied to order balances will be reported in the commission history report in the Paid Representative’s  back office.</p>
        <p>Note: IRS instructions on how to fill the form out are included below the Submit Form Button.</p>
        <p>Please fill out the form below and click the Submit Form button in order to proceed.</p>
        <h2>Form W-9</h2>

        <div class="temp_div_container">
            <div style="float: right;">
                <a href="Help.aspx?key=Members_Help_FoxxCash_Form_W9&amp;Return=w-9.aspx">
                    <i class="fa fa-question-circle" aria-hidden="true" style="color: #0766c6 !important;
        font-size: 20px;"></i>&nbsp;Help with this section
                </a>
            </div>
            <div id="w9" style="width: 820px; font-family: Arial, Helvetica, sans-serif; background-color: #fff; padding: 10px;">
                <div style="width: 100%; font-size: 7pt;">
                    <div style="float: left; width: 132px; height: 93px; border-bottom: 2px solid black; border-right: 2px solid black;">
                        <div style="clear: both; position: relative; bottom: 12px;">
                            Form <span style="font-weight: bold; font-size: 27pt; padding-left: 8px;">W-9</span>
                            <br>
                            (Rev. December 2014)<br>
                            Department of the Treasury<br>
                            Internal Revenue Services
                        </div>
                    </div>
                    <div style="float: left; height: 93px; width: 512px; border-bottom: 2px solid black; border-right: 2px solid black; text-align: center; font-weight: bold; font-size: 14pt;">
                        <div style="clear: both; margin-top: 14px;">
                            Request for Taxpayer<br>
                            Identification Number and Certification
                        </div>
                    </div>
                    <div style="float: left; height: 93px; border-bottom: 2px solid black; width: 132px; font-size: 9pt; font-weight: bold;">
                        <div style="padding-top: 14px; padding-left: 8px;">
                            Give form to the requester. Do not send to the IRS.
                        </div>
                    </div>
                </div>
                <div style="width: 100%;">
                    <div style="float: left; width: 33px; height: 290px; border-right: 1px solid black;">

                        <img src="~/Images/w9-print.jpg" style="width: 32px; height: 219px; border: none; margin-top: 35px;"/>
                       
                    </div>

                    <div style="float: left; width: 746px;">
                        <div style="clear: both; width: 100%; border-bottom: 1px solid black; height: 35px;">
                            <div style="padding-left: 6px; font-size: 7pt; padding-bottom: 2px;">
                                Name (as shown on your income tax return)
                            </div>
                            <div style="padding-left: 6px; font-size: 8pt;">
                                <span>First:</span>&nbsp;<input name="txtFirstName" type="text" id="txtFirstName" style="background-color:#DDE4FF;"><span data-val-controltovalidate="txtFirstName" data-val-focusonerror="t" data-val-errormessage="Please enter your First Name" data-val-validationgroup="upper-half" id="RequiredFieldValidator1" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>&nbsp;&nbsp;Middle:&nbsp;<input name="txtMiddleName" type="text" id="txtMiddleName" style="background-color:#DDE4FF;">&nbsp;&nbsp;Last:&nbsp;<input name="txtLastName" type="text" id="txtLastName" style="background-color:#DDE4FF;">
                                <span data-val-controltovalidate="txtLastName" data-val-focusonerror="t" data-val-errormessage="Please enter your Last Name" data-val-validationgroup="upper-half" id="RequiredFieldValidator2" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                            </div>
                        </div>

                        <div style="clear: both; width: 100%; border-bottom: 1px solid black; height: 35px;">
                            <div style="clear: both; padding-left: 6px; font-size: 7pt;">
                                Business name/disregard entity name, if different from above

                            </div>

                            <div style="clear: both; padding-left: 6px; font-size: 12pt;">
                                <input name="txtBusinessName" type="text" id="txtBusinessName" style="background-color:#DDE4FF;width:325px;">

                            </div>
                        </div>

                        <div style="clear: both; width: 100%; border-bottom: 1px solid black; height: 124px; font-size: 7pt;">
                            <div style="float: left; width: 645px; border-right: 1px solid black; height: 124px;">
                                <div style="clear: both; padding-left: 6px;">
                                    Check appropriate box for federal tax classification; check only <strong>one</strong> of the following seven boxes:
                                </div>
                                <div style="clear: both; padding-left: 6px; font-size: 8pt;">
                                    <span>
                                        <input id="rb_Individaul" type="radio" name="bizType" value="rb_Individaul" checked="checked"><label for="rb_Individaul">Individual/sole proprietor</label>
                                    </span>
                                    <span style="padding-left: 26px;">
                                        <input id="rb_Ccorp" type="radio" name="bizType" value="rb_Ccorp" onclick="javascript:setTimeout('__doPostBack(\'rb_Ccorp\',\'\')', 0)"><label for="rb_Ccorp"> C Corporation</label>
                                    </span><span style="padding-left: 26px;">
                                        <input id="rb_Scorp" type="radio" name="bizType" value="rb_Scorp" onclick="javascript:setTimeout('__doPostBack(\'rb_Scorp\',\'\')', 0)"><label for="rb_Scorp">S Corporation</label>
                                    </span>
                                    <span style="padding-left: 26px;">
                                        <input id="rb_Partnership" type="radio" name="bizType" value="rb_Partnership" onclick="javascript:setTimeout('__doPostBack(\'rb_Partnership\',\'\')', 0)"><label for="rb_Partnership">Partnership</label>
                                    </span>
                                    <span style="padding-left: 26px;">
                                        <input id="rb_TrustEstate" type="radio" name="bizType" value="rb_TrustEstate" onclick="javascript:setTimeout('__doPostBack(\'rb_TrustEstate\',\'\')', 0)"><label for="rb_TrustEstate">Trust/estate</label>
                                    </span>
                                </div>
                                <div class="taxClassification" style="clear: both; padding-left: 6px; font-size: 8pt; " id="upper-half">
                                    <input id="rb_LLC" type="radio" name="bizType" value="rb_LLC" onclick="javascript:setTimeout('__doPostBack(\'rb_LLC\',\'\')', 0)"><label for="rb_LLC">Limited liability company. Enter the tax classification (C=C Corporation, S=S Corporation, P=partnership)</label>▶&nbsp;<input name="txtClassification" type="text" id="txtClassification" style="background-color:#DDE4FF;width:75px;"><span data-val-controltovalidate="txtClassification" data-val-focusonerror="t" data-val-errormessage="Please enter tax classification. " data-val-enabled="False" data-val-validationgroup="upper-half" id="RequiredFieldValidator5" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                                </div>
                                <div class="taxClassification" style="clear: both; padding-left: 6px; font-size: 8pt; padding-top: 10px;">
                                    <input id="rb_Other" type="radio" name="bizType" value="rb_Other" onclick="javascript:setTimeout('__doPostBack(\'rb_Other\',\'\')', 0)"><label for="rb_Other"> Other (see instructions)</label>▶&nbsp;<input name="txtOther" type="text" id="txtOther" style="background-color:#DDE4FF;width:250px;"><span data-val-controltovalidate="txtOther" data-val-focusonerror="t" data-val-errormessage="You selected Other. Please see instructions below and enter appropriate information. " data-val-enabled="False" data-val-validationgroup="upper-half" id="RequiredFieldValidator3" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                                </div>
                            </div>
                            <div style="float: left; height: 109px; line-height: 109px;">
                                <input id="rb_Exempt" type="radio" name="bizType" value="rb_Exempt" onclick="javascript:setTimeout('__doPostBack(\'rb_Exempt\',\'\')', 0)"><label for="rb_Exempt">Exempt Payee</label>
                            </div>
                        </div>
                        <div style="clear: both; width: 100%; border-bottom: 1px solid black; height: 71px;">
                            <div style="float: left; width: 499px; border-right: 1px solid black; height: 71px;">
                                <div style="clear: both; width: 499px; border-bottom: 1px solid black; height: 35px;">
                                    <div style="clear: both; padding-left: 6px; font-size: 7pt;">
                                        Address (number, street, and apt. or suite no.)
                                    </div>
                                    <div style="clear: both; padding-left: 6px; font-size: 12pt;">
                                        <input name="txtAddress" type="text" id="txtAddress" style="background-color:#DDE4FF;width:300px;"><span data-val-controltovalidate="txtAddress" data-val-focusonerror="t" data-val-errormessage="Please enter an Address" data-val-validationgroup="upper-half" id="RequiredFieldValidator6" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                                    </div>
                                </div>
                                <div style="clear: both; width: 499px; height: 35px;">
                                    <div style="clear: both; padding-left: 6px; font-size: 7pt;">
                                        City, state, and ZIP code
                                    </div>
                                    <div style="clear: both; padding-left: 6px; font-size: 12pt;">
                                        <span style="font-size: 8pt;">City:</span>&nbsp;<input name="txtCity" type="text" id="txtCity" style="background-color:#DDE4FF;width:100px;"><span data-val-controltovalidate="txtCity" data-val-focusonerror="t" data-val-errormessage="Please enter a City" data-val-validationgroup="upper-half" id="RequiredFieldValidator7" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>&nbsp;&nbsp;<span style="font-size: 8pt;">State:</span>&nbsp;<select name="ddlState" id="ddlState" style="background-color:#DDE4FF;font-size:X-Small;">
                                            <option selected="selected" value="Select">Select</option>
                                            <option value="AL">AL</option>
                                            <option value="AK">AK</option>
                                            <option value="AZ">AZ</option>
                                            <option value="AR">AR</option>
                                            <option value="CA">CA</option>
                                            <option value="CO">CO</option>
                                            <option value="CT">CT</option>
                                            <option value="DE">DE</option>
                                            <option value="DC">DC</option>
                                            <option value="FL">FL</option>
                                            <option value="GA">GA</option>
                                            <option value="HI">HI</option>
                                            <option value="ID">ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN">IN</option>
                                            <option value="IA">IA</option>
                                            <option value="KS">KS</option>
                                            <option value="KY">KY</option>
                                            <option value="LA">LA</option>
                                            <option value="ME">ME</option>
                                            <option value="MD">MD</option>
                                            <option value="MA">MA</option>
                                            <option value="MI">MI</option>
                                            <option value="MN">MN</option>
                                            <option value="MS">MS</option>
                                            <option value="MO">MO</option>
                                            <option value="MT">MT</option>
                                            <option value="NE">NE</option>
                                            <option value="NV">NV</option>
                                            <option value="NH">NH</option>
                                            <option value="NJ">NJ</option>
                                            <option value="NM">NM</option>
                                            <option value="NY">NY</option>
                                            <option value="NC">NC</option>
                                            <option value="ND">ND</option>
                                            <option value="OH">OH</option>
                                            <option value="OK">OK</option>
                                            <option value="OR">OR</option>
                                            <option value="PA">PA</option>
                                            <option value="RI">RI</option>
                                            <option value="SC">SC</option>
                                            <option value="SD">SD</option>
                                            <option value="TN">TN</option>
                                            <option value="TX">TX</option>
                                            <option value="UT">UT</option>
                                            <option value="VT">VT</option>
                                            <option value="VA">VA</option>
                                            <option value="WA">WA</option>
                                            <option value="WV">WV</option>
                                            <option value="WI">WI</option>
                                            <option value="WY">WY</option>
                                            <option value="AB">AB</option>
                                            <option value="BC">BC</option>
                                            <option value="MB">MB</option>
                                            <option value="NB">NB</option>
                                            <option value="NL">NL</option>
                                            <option value="NS">NS</option>
                                            <option value="ON">ON</option>
                                            <option value="PE">PE</option>
                                            <option value="QC">QC</option>
                                            <option value="SK">SK</option>
                                            <option value="NU">NU</option>
                                            <option value="NT">NT</option>
                                            <option value="YT">YT</option>
                                            <option value="PR">PR</option>

                                        </select>

                                        <span data-val-controltovalidate="ddlState" data-val-focusonerror="t" data-val-errormessage="Please select a State" data-val-validationgroup="upper-half" id="CompareValidator1" data-val="true" data-val-evaluationfunction="CompareValidatorEvaluateIsValid" data-val-valuetocompare="Select" data-val-operator="NotEqual" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>&nbsp;&nbsp;<span style="font-size: 8pt;">Zip:</span>&nbsp;<input name="txtZip" type="text" id="txtZip" style="background-color:#DDE4FF;width:75px;"><span data-val-controltovalidate="txtZip" data-val-errormessage="Please enter you Zip Code" data-val-validationgroup="upper-half" id="RequiredFieldValidator8" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                                    </div>
                                </div>
                            </div>
                            <div style="float: left; height: 71px;">
                                <div style="clear: both; padding-left: 6px; font-size: 7pt;">
                                    Requester's name and address (optional)
                                </div>
                                <div style="clear: both; padding-left: 6px; font-size: 12pt;">

                                </div>
                            </div>
                        </div>
                        <div data-val-validationgroup="upper-half" id="ValidationSummary2" data-valsummary="true" style="color:Red;font-size:X-Small;display:none;">

                        </div>

                    </div>
                </div>

                <div style="width: 100%;">
                    <div style="clear: both; width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; height: 19px;">
                        <div style="float: left; background-color: black; width: 56px; height: 19px; line-height: 17px; color: #FFFFFF; text-align: center; font-size: 10pt; font-weight: bold;">
                            Part I

                        </div>

                        <div style="float: left; padding-left: 29px; font-weight: bold; font-size: 10pt;">
                            Taxpayer Identification Number (TIN)

                        </div>
                    </div>

                    <div style="clear: both; width: 100%; height: 85px;">
                        <div style="width: 536px; float: left; font-size: 8pt;">
                            <p style="margin-top: 4px; margin-bottom: 0px;">
                                Enter your TIN in the appropriate box.  The TIN provided must match the name given on the "Name" line to avoid backup withholding.  For individuals, this is your social security number (SSN). However, for a resident alien, sole proprietor, or disregarded entity, see the Part I instructions on page 3. For other entities, it is your employer identification number (EIN). If you do not have a number, see <span style="font-style: italic;">How to get a TIN</span> on page 3.

                            </p>

                            <p style="margin-top: 7px; margin-bottom: 0px;">
                                <span style="font-weight: bold;">Note.</span> If the account is in more than one name, see the chart on page 4 for guidleines on whose number to enter.

                            </p>
                            <p style="margin-top: 7px; margin-bottom: 0px;">
                            </p>


                        </div>

                        <div style="float: left;">
                            <div style="clear: both;">
                                <div style="clear: both; width: 242px; height: 15px; border: 1px solid black; border-top: none;">
                                    <span style="padding-left: 6px; font-weight: bold; font-size: 8pt;">
                                        Tax Identification Number
                                    </span>
                                </div>

                                <div style="clear: both; margin-top: 2px; height: 55px; width: 244px;">
                                    <input name="txtTIN" type="text" id="txtTIN" style="background-color:#DDE4FF;">
                                    <span data-val-controltovalidate="txtTIN" data-val-focusonerror="t" data-val-errormessage="Please enter a TIN" data-val-validationgroup="check-TIN" id="RequiredFieldValidator4" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                                    <span data-val-controltovalidate="txtTIN" data-val-focusonerror="t" data-val-errormessage="US. Social Security Number, Canadian Social Insurance Number, U.S. Tax ID Number or U.S. Employer Id Number. ie 123-45-6789" data-val-validationgroup="check-TIN" id="RegularExpressionValidator5" data-val="true" data-val-evaluationfunction="RegularExpressionValidatorEvaluateIsValid" data-val-validationexpression="^.{9,30}$" style="color:Red;font-size:X-Small;visibility:hidden;">*</span>
                                    <div data-val-validationgroup="check-TIN" id="ValidationSummary1" data-valsummary="true" style="color:Red;font-size:X-Small;display:none;">

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div style="width: 100%;">
                    <div style="clear: both; width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; height: 19px;">
                        <div style="float: left; background-color: black; width: 56px; height: 19px; line-height: 17px; color: #FFFFFF; text-align: center; font-size: 10pt; font-weight: bold;">
                            Part II


                        </div>

                        <div style="float: left; padding-left: 29px; font-weight: bold; font-size: 10pt;">
                            Certification

                        </div>
                    </div>

                    <div style="clear: both; width: 780px; font-size: 8pt;">
                        <p style="margin-top: 4px; margin-bottom: 0px;">
                            Under penalties of perjury, I certify that:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            1. The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me), and

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <span id="field1" style="margin-bottom: 0px; text-decoration: none;">2. I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am no longer subject to backup withholding, and</span>
                            <span style="padding-left: 150px;">
                                <span id="lblpart2" onclick="strikeText('field1');" style="color:Red;font-size:10px;">Pursuant to Part II Certification instructions: click the button below to change line 2 status. </span>
                            </span>
                            <input type="submit" name="Button1" value="Cross out item 2" id="Button1" style="font-size:Small;">
                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            3. I am a U.S. citizen or other U.S. person (defined below).

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 2px;">
                            Certification instructions. You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage interest paid, acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payments other than interest and dividends, you are not required to sign the certification, but you must provide your correct TIN. See the instructions on page 4.

                        </p>
                        <p>
                            <span style="background-color:#DDE4FF;"><input id="cb_AgreeToDigitalSig" type="checkbox" name="cb_AgreeToDigitalSig" onclick="javascript:setTimeout('__doPostBack(\'cb_AgreeToDigitalSig\',\'\')', 0)"></span>&nbsp;
                            By checking this box and typing my name below in the “sign here” I am agreeing to and will be bound by items 1,2 and 3 plus the certification instructions.
                        </p>
                    </div>

                    <div style="clear: both; width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; height: 40px;">
                        <div style="float: left; width: 55px; border-right: 1px solid black; height: 40px; font-size: 10pt; font-weight: bold;">
                            Sign

                            <br>
                            Here

                        </div>

                        <div style="float: left; padding-left: 10px; font-weight: bold; font-size: 7pt; padding-top: 5px; width: 450px;">
                            <div style="float: left;">
                                Signature of

                                <br>
                                U.S. person ▶

                            </div>

                            <div style="float: left; position: relative; top: 4px; padding-left: 10px; left: 0px; height: 24px;">
                                <input name="txtDigitalSignature" type="text" id="txtDigitalSignature" style="background-color:#DDE4FF;">
                                <span data-val-controltovalidate="txtDigitalSignature" data-val-focusonerror="t" data-val-validationgroup="check-Sig" id="RequiredFieldValidator9" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:Red;font-size:X-Small;font-weight:normal;visibility:hidden;">* Please enter your full name</span>
                            </div>
                        </div>

                        <div style="float: left; padding-left: 10px; font-weight: bold; font-size: 7pt; padding-top: 5px;">
                            <div style="float: left;">
                                <br>
                                Date ▶

                            </div>

                            <div style="float: left; position: relative; top: 8px; padding-left: 10px;">
                                <span id="lblDate" style="font-size:Small;">5/12/2021</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <br>
                    <input type="submit" name="btnSubmit" value="Submit Form" id="btnSubmit">
                    <script type="text/javascript">
                                        function validate() {
                                            var group1 = Page_ClientValidate("upper-half");
                                            var group2 = Page_ClientValidate("check-TIN");
                                            var group3 = Page_ClientValidate("check-Sig");
                                            if (!group1 || !group2 || !group3) return false;

                                            return true;
                                        }
                    </script>
                    <br>
                </div>
                <div style="clear: both; width: 100%; font-size: 8pt;">
                    <div style="float: left; width: 380px;">
                        <p style="margin-top: 4px; margin-bottom: 0px; font-size: 13pt; font-weight: bold;">
                            General Instructions

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Section references are to the Internal Revenue Code unless otherwise noted.

                        </p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <b>Future developments.</b>The IRS has created a page on IRS.gov for information about Form W-9, at www.irs.gov/w9. Information about any future developments
                            affecting Form W-9 (such as legislation enacted after we release it) will be posted on that page.

                        </p>
                        <p style="margin-top: 7px; margin-bottom: 0px; font-size: 13pt; font-weight: bold;">
                            Purpose of Form

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            A person who is required to file an information return with the IRS must obtain your correct taxpayer identification number (TIN) to report, for example, income paid to you, real estate transactions, mortgage interest you paid, acquisition or abandonment of secured property, cancellation of debt, or contributions you made to an IRA.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Use Form W-9 only if you are a U.S. person (including a resident alien), to provide your correct TIN to the person requesting it (the requester) and, when applicable, to:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            1. Certify that the TIN you are giving is correct (or you are waiting for a number to be issued),

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            2. Certify that you are not subject to backup withholding, or

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 4px;">
                            3. Claim exemption from backup withholding if you are a U.S. exempt payee. If applicable, you are also certifying that as a U.S. person, your allocable share of any partnership income from a U.S. trade or business is not subject to the withholding tax on foreign partners’ share of effectively connected income.

                        </p>
                    </div>

                    <div style="float: left; width: 380px; margin-left: 20px;">
                        <p>&nbsp;</p>
                        <p style="margin-top: 4px; margin-bottom: 0px;">
                            <b>Note. </b>If you are a U.S. person and a requester gives you a form other than Form W-9 to request your TIN, you must use the requester’s form if it is substantially similar to this Form W-9.
                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <span style="font-weight: bold;">Definition of a U.S. person.</span> For federal tax purposes, you are considered a U.S. person if you are:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            • An individual who is a U.S. citizen or U.S. resident alien,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            • A partnership, corporation, company, or association created or organized in the United States or under the laws of the United States,


                        </p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">• An estate (other than a foreign estate), or</p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            • A domestic trust (as defined in Regulations section 301.7701-7).

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 4px;">
                            <span style="font-weight: bold;">Special rules for partnerships. </span>Partnerships that conduct a trade or business in the United States are generally required to pay a withholding tax under section 1446 on any foreign partners’ share of effectively connected taxable income from such business. Further, in certain cases where a Form W-9 has not been received, the rules under section 1446 require a partnership to presume that a partner is a foreign person, and pay the section 1446 withholding tax. Therefore, if you are a U.S. person that is a partner in a partnership conducting a trade or business in the United States, provide Form W-9 to the partnership to establish your U.S. status and avoid section 1446 withholding on your share of partnership income.
                        </p>
                    </div>
                </div>

                <!-- Page 2 -->
                <div style="clear: both; width: 100%; text-align: center; font-size: 7pt; padding-top: 4px; padding-bottom: 4px; border-top: 2px solid black; border-bottom: 2px solid black;">
                    Page <span style="font-size: 10pt; font-weight: bold;">2</span>
                </div>

                <div style="clear: both; width: 100%; font-size: 8pt;">
                    <div style="float: left; width: 380px;">
                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            In the cases below, the following person must give Form W-9 to the partnership for purposes of establishing its U.S. status and avoiding withholding on its allocable share of net income from the partnership conducting a trade or business in the United States:
                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            • In the case of a disregarded entity with a U.S. owner, the U.S. owner of the disregarded entity and not the entity,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            • In the case of a grantor trust with a U.S. grantor or other U.S. owner, generally, the U.S. grantor or other U.S. owner of the grantor trust and not the trust, and

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            • In the case of a U.S. trust (other than a grantor trust), the U.S. trust (other than a grantor trust) and not the beneficiaries of the trust.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <span style="font-weight: bold;">Foreign person.</span> If you are a foreign person, do not use Form W-9. Instead, use the appropriate Form W-8 (see Publication 515, Withholding of Tax on Nonresident Aliens and Foreign Entities).

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <span style="font-weight: bold;">Nonresident alien who becomes a resident alien.</span> Generally, only a nonresident alien individual may use the terms of a tax treaty to reduce or eliminate U.S. tax on certain types of income. However, most tax treaties contain a provision known as a “saving clause.” Exceptions specified in the saving clause may permit an exemption from tax to continue for certain types of income even after the payee has otherwise become a U.S. resident alien for tax purposes.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are a U.S. resident alien who is relying on an exception contained in the saving clause of a tax treaty to claim an exemption from U.S. tax on certain types of income, you must attach a statement to Form W-9 that specifies the following five items:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            1. The treaty country. Generally, this must be the same treaty under which you claimed exemption from tax as a nonresident alien.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            2. The treaty article addressing the income.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            3. The article number (or location) in the tax treaty that contains the saving clause and its exceptions.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            4. The type and amount of income that qualifies for the exemption from tax.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            5. Sufficient facts to justify the exemption from tax under the terms of the treaty article.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <span style="font-weight: bold; font-style: italic;">Example.</span> Article 20 of the U.S.-China income tax treaty allows an exemption from tax for scholarship income received by a Chinese student temporarily present in the United States. Under U.S. law, this student will become a resident alien for tax purposes if his or her stay in the United States exceeds 5 calendar years. However, paragraph 2 of the first Protocol to the U.S.-China treaty (dated April 30, 1984) allows the provisions of Article 20 to continue to apply even after the Chinese student becomes a resident alien of the United States. A Chinese student who qualifies for this exception (under paragraph 2 of the first protocol) and is relying on this exception to claim an exemption from tax on his or her scholarship or fellowship income would attach to Form W-9 a statement that includes the information described above to support that exemption.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are a nonresident alien or a foreign entity not subject to backup withholding, give the requester the appropriate completed Form W-8 or Form 8233.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <span style="font-weight: bold;">What is backup withholding?</span> Persons making certain payments to you must under certain conditions withhold and pay to the IRS a percentage of such payments. This is called “backup withholding.” Payments that may be subject to backup withholding include interest, tax-exempt interest, dividends, broker and barter exchange transactions, rents, royalties, nonemployee pay, and certain payments from fishing boat operators. Real estate transactions are not subject to backup withholding.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            You will not be subject to backup withholding on payments you receive if you give the requester your correct TIN, make the proper certifications, and report all your taxable interest and dividends on your tax return.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 10pt;">
                            Payments you receive will be subject to backup withholding if:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            1. You do not furnish your TIN to the requester,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            2. You do not certify your TIN when required (see the Part II instructions on page 3 for details),

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            3. The IRS tells the requester that you furnished an incorrect TIN,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            4. The IRS tells you that you are subject to backup withholding because you did not report all your interest and dividends on your tax return (for reportable interest and dividends only), or

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 4px;">
                            5. You do not certify to the requester that you are not subject to backup withholding under 4 above (for reportable interest and dividend accounts opened after 1983 only).

                        </p>
                    </div>

                    <div style="float: left; width: 380px; margin-left: 20px;">
                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Certain payees and payments are exempt from backup withholding. See the instructions below and the separate Instructions for the Requester of Form W-9.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Also see Special rules for partnerships on page 1.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 10pt;">
                            Updating Your Information

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            You must provide updated information to any person to whom you claimed to be an exempt payee if you are no longer an exempt payee and anticipate receiving reportable payments in the future from this person. For example, you may need to provide updated information if you are a C corporation that elects to be an S corporation, or if you no longer are tax exempt. In addition, you must furnish a new Form W-9 if the name or TIN changes for the account, for example, if the grantor of a grantor trust dies.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 10pt;">
                            Penalties

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Failure to furnish TIN.</strong> If you fail to furnish your correct TIN to a requester, you are subject to a penalty of $50 for each such failure unless your failure is due to reasonable cause and not to willful neglect.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Civil penalty for false information with respect to withholding.</strong> If you make a false statement with no reasonable basis that results in no backup withholding, you are subject to a $500 penalty.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Criminal penalty for falsifying information.</strong> Willfully falsifying certifications or affirmations may subject you to criminal penalties including fines and/or imprisonment.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Misuse of TINs.</strong> If the requester discloses or uses TINs in violation of federal law, the requester may be subject to civil and criminal penalties.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 13pt;">
                            Specific Instructions

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 10pt;">
                            Name

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are an individual, you must generally enter the name shown on your income tax return. However, if you have changed your last name, for instance, due to marriage without informing the Social Security Administration of the name change, enter your first name, the last name shown on your social security card, and your new last name.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If the account is in joint names, list first, and then circle, the name of the person or entity whose number you entered in Part I of the form.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Sole proprietor.</strong> Enter your individual name as shown on your income tax return on the “Name” line. You may enter your business, trade, or “doing business as (DBA)” name on the “Business name/disregarded entity name” line.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Partnership, C Corporation, or S Corporation.</strong> Enter the entity's name on the “Name” line and any business, trade, or “doing business as (DBA) name” on the “Business name/disregarded entity name” line.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Disregarded entity.</strong> Enter the owner's name on the “Name” line. The name of the entity entered on the “Name” line should never be a disregarded entity. The name on the “Name” line must be the name shown on the income tax return on which the income will be reported. For example, if a foreign LLC that is treated as a disregarded entity for U.S. federal tax purposes has a domestic owner, the domestic owner's name is required to be provided on the “Name” line. If the direct owner of the entity is also a disregarded entity, enter the first owner that is not disregarded for federal tax purposes. Enter the disregarded entity's name on the “Business name/disregarded entity name” line. If the owner of the disregarded entity is a foreign person, you must complete an appropriate Form W-8.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Note.</strong> Check the appropriate box for the federal tax classification of the person whose name is entered on the “Name” line (Individual/sole proprietor, Partnership, C Corporation, S Corporation, Trust/estate).

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 4px;">
                            <strong>Limited Liability Company (LLC).</strong> If the person identified on the “Name” line is an LLC, check the “Limited liability company” box only and enter the appropriate code for the tax classification in the space provided. If you are an LLC that is treated as a partnership for federal tax purposes, enter “P” for partnership. If you are an LLC that has filed a Form 8832 or a Form 2553 to be taxed as a corporation, enter “C” for C corporation or “S” for S corporation. If you are an LLC that is disregarded as an entity separate from its owner under Regulation section 301.7701-3 (except for employment and excise tax), do not check the LLC box unless the owner of the LLC (required to be identified on the “Name” line) is another LLC that is not disregarded for federal tax purposes. If the LLC is disregarded as an entity separate from its owner, enter the appropriate tax classification of the owner identified on the “Name” line.

                        </p>
                    </div>
                </div>

                <!-- Page 3 -->
                <div style="clear: both; width: 100%; text-align: center; font-size: 7pt; padding-top: 4px; padding-bottom: 4px; border-top: 2px solid black; border-bottom: 2px solid black;">
                    Page <span style="font-size: 10pt; font-weight: bold;">3</span>
                </div>

                <div style="clear: both; width: 100%; font-size: 8pt; background-color: #fff;">
                    <div style="float: left; width: 380px; background-color: #fff;">
                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Other entities.</strong> Enter your business name as shown on required federal tax documents on the “Name” line. This name should match the name shown on the charter or other legal document creating the entity. You may enter any business, trade, or DBA name on the “Business name/disregarded entity name” line.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 13pt;">
                            Exempt Payee

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are exempt from backup withholding, enter your name as described above and check the appropriate box for your status, then check the “Exempt payee” box in the line following the “Business name/disregarded entity name,” sign and date the form.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Generally, individuals (including sole proprietors) are not exempt from backup withholding. Corporations are exempt from backup withholding for certain payments, such as interest and dividends.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Note.</strong> If you are exempt from backup withholding, you should still complete this form to avoid possible erroneous backup withholding.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            The following payees are exempt from backup withholding:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            1. An organization exempt from tax under section 501(a), any IRA, or a custodial account under section 403(b)(7) if the account satisfies the requirements of section 401(f)(2),

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            2. The United States or any of its agencies or instrumentalities,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            3. A state, the District of Columbia, a possession of the United States, or any of their political subdivisions or instrumentalities,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            4. A foreign government or any of its political subdivisions, agencies, or instrumentalities, or

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            5. An international organization or any of its agencies or instrumentalities.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Other payees that may be exempt from backup withholding include:

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            6. A corporation,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            7. A foreign central bank of issue,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            8. A dealer in securities or commodities required to register in the United States, the District of Columbia, or a possession of the United States,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            9. A futures commission merchant registered with the Commodity Futures Trading Commission,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            10. A real estate investment trust,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            11. An entity registered at all times during the tax year under the Investment Company Act of 1940,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            12. A common trust fund operated by a bank under section 584(a),

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            13. A financial institution,

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            14. A middleman known in the investment community as a nominee or custodian, or

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            15. A trust exempt from tax under section 664 or described in section 4947.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            The following chart shows types of payments that may be exempt from backup withholding. The chart applies to the exempt payees listed above, 1 through 15.

                        </p>

                        <table cellpadding="0" cellspacing="0" style="border-top: 2px solid black; border-bottom: 2px solid black; border-left: none; border-right: none; font-size: 8pt; margin-top: 10px; width: 380px;">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid black; font-weight: bold; padding-top: 5px; padding-bottom: 5px; vertical-align: top; width: 189px;">
                                        IF the payment is for . . .
                                    </td>

                                    <td style="border-bottom: 1px solid black; font-weight: bold; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top; width: 190px;">
                                        THEN the payment is exempt

                                        <br>
                                        for . . .
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid black; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Interest and dividend payments
                                    </td>

                                    <td style="border-bottom: 1px solid black; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        All exempt payees except for 9
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid black; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Broker transactions
                                    </td>

                                    <td style="border-bottom: 1px solid black; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Exempt payees 1 through 5 and 7 through 13. Also, C corporations.
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid black; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Barter exchange transactions and patronage dividends
                                    </td>

                                    <td style="border-bottom: 1px solid black; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Exempt payees 1 through 5
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-bottom: 1px solid black; border-right: 1px solid black; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Payments over $600 required to be reported and direct sales over $5,000 1
                                    </td>

                                    <td style="border-bottom: 1px solid black; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Generally, exempt payees 1 through 7 2
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid black; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Payments made in settlement of payment card or third party network transactions
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top;">
                                        Exempt payees 1 through 4
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="margin-top: 2px; margin-bottom: 0px; font-size: 7pt;">
                            <sup>1</sup> See Form 1099-MISC, Miscellaneous Income, and its instructions.

                        </p>

                        <p style="margin-top: 2px; margin-bottom: 4px; font-size: 7pt;">
                            <sup>2</sup> However, the following payments made to a corporation and reportable on Form 1099-MISC are not exempt from backup withholding: medical and health care payments, attorneys' fees, gross proceeds paid to an attorney, and payments for services paid by a federal executive agency.

                        </p>
                    </div>

                    <div style="float: left; width: 380px; margin-left: 20px;">
                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 13pt;">
                            Part I. Taxpayer Identification Number (TIN)

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Enter your TIN in the appropriate box.</strong> If you are a resident alien and you do not have and are not eligible to get an SSN, your TIN is your IRS individual taxpayer identification number (ITIN). Enter it in the social security number box. If you do not have an ITIN, see How to get a TIN below.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are a sole proprietor and you have an EIN, you may enter either your SSN or EIN. However, the IRS prefers that you use your SSN.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are a single-member LLC that is disregarded as an entity separate from its owner (see Limited Liability Company (LLC) on page 2), enter the owner’s SSN (or EIN, if the owner has one). Do not enter the disregarded entity’s EIN. If the LLC is classified as a corporation or partnership, enter the entity’s EIN.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Note.</strong> See the chart on page 4 for further clarification of name and TIN combinations.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>How to get a TIN.</strong> If you do not have a TIN, apply for one immediately. To apply for an SSN, get Form SS-5, Application for a Social Security Card, from your local Social Security Administration office or get this form online at www.ssa.gov. You may also get this form by calling 1-800-772-1213. Use Form W-7, Application for IRS Individual Taxpayer Identification Number, to apply for an ITIN, or Form SS-4, Application for Employer Identification Number, to apply for an EIN. You can apply for an EIN online by accessing the IRS website at www.irs.gov/businesses and clicking on Employer Identification Number (EIN) under Starting a Business. You can get Forms W-7 and SS-4 from the IRS by visiting IRS.gov or by calling 1-800-TAX-FORM (1-800-829-3676).

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            If you are asked to complete Form W-9 but do not have a TIN, write “Applied For” in the space for the TIN, sign and date the form, and give it to the requester. For interest and dividend payments, and certain payments made with respect to readily tradable instruments, generally you will have 60 days to get a TIN and give it to the requester before you are subject to backup withholding on payments. The 60-day rule does not apply to other types of payments. You will be subject to backup withholding on all such payments until you provide your TIN to the requester.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Note.</strong> Entering “Applied For” means that you have already applied for a TIN or that you intend to apply for one soon.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Caution: A</strong> disregarded domestic entity that has a foreign owner must use the appropriate Form W-8.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 13pt;">
                            Part II. Certification

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            To establish to the withholding agent that you are a U.S. person, or resident alien, sign Form W-9. You may be requested to sign by the withholding agent even if item 1, below, and items 4 and 5 on page 4 indicate otherwise.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            For a joint account, only the person whose TIN is shown in Part I should sign (when required). In the case of a disregarded entity, the person identified on the “Name” line must sign. Exempt payees, see Exempt Payee on page 3.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Signature requirements.</strong> Complete the certification as indicated in items 1 through 3, below, and items 4 and 5 on page 4.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>1. Interest, dividend, and barter exchange accounts opened before 1984 and broker accounts considered active during 1983.</strong> You must give your correct TIN, but you do not have to sign the certification.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>2. Interest, dividend, broker, and barter exchange accounts opened after 1983 and broker accounts considered inactive during 1983. You must sign the certification or backup withholding will apply.</strong> If you are subject to backup withholding and you are merely providing your correct TIN to the requester, you must cross out item 2 in the certification before signing the form.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 4px;">
                            <strong>3. Real estate transactions. You must sign the certification.</strong> You may cross out item 2 of the certification.

                        </p>
                        <p style="margin-top: 7px; margin-bottom: 4px;">
                            <strong>4. Other payments.</strong> You must give your correct TIN, but you do not have to sign the certification unless you have been notified that you have previously given an incorrect TIN. “Other payments” include payments made in the course of the requester’s trade or business for rents, royalties, goods (other than bills for merchandise), medical and health care services (including payments to corporations), payments to a nonemployee for services, payments made in settlement of payment card and third party network transactions, payments to certain fishing boat crew members and fishermen, and gross proceeds paid to attorneys (including payments to corporations).

                        </p>
                    </div>
                </div>

                <!-- Page 4 -->
                <div style="clear: both; width: 100%; text-align: center; font-size: 7pt; padding-top: 4px; padding-bottom: 4px; border-top: 2px solid black; border-bottom: 2px solid black;">
                    Page <span style="font-size: 10pt; font-weight: bold;">4</span>
                </div>

                <div style="width: 100%; font-size: 8pt; background-color: #fff;">
                    <div style="float: left; width: 380px; background-color: #fff;">
                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>5. Mortgage interest paid by you, acquisition or abandonment of secured property, cancellation of debt, qualified tuition program payments (under section 529), IRA, Coverdell ESA, Archer MSA or HSA contributions or distributions, and pension distributions.</strong> You must give your correct TIN, but you do not have to sign the certification.

                        </p>

                        <div style="clear: both; padding-top: 5px; padding-bottom: 5px; width: 380px; border-top: 2px solid black; border-bottom: 2px solid black; font-size: 10pt; font-weight: bold; margin-top: 7px; margin-bottom: 0px;">
                            What Name and Number To Give the Requester

                        </div>

                        <table cellpadding="0" cellspacing="0" style="border: none; font-size: 8pt; width: 380px; background-color: #fff;">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid black; border-bottom: 1px solid black; font-weight: bold; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top; text-align: center; width: 189px;">
                                        For this type of account:
                                    </td>

                                    <td style="border-bottom: 1px solid black; font-weight: bold; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top; text-align: center; width: 190px;">
                                        Give name and SSN of:
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                1.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Individual

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The individual
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                2.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Two or more individuals (joint account)

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The actual owner of the account or, if combined funds, the first individual on the account <sup style="font-size: 4pt;">1</sup>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                3.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Custodian account of a minor (Uniform Gift to Minors Act)

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The minor <sup style="font-size: 4pt;">2</sup>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                4.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                a. The usual revocable savings trust (grantor is also trustee)

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The grantor-trustee <sup style="font-size: 4pt;">1</sup>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; padding-left: 12px; padding-right: 4px; width: 162px;">
                                                b. So-called trust account that is not a legal or valid trust under state law

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The actual owner <sup style="font-size: 4pt;">1</sup>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                5.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Sole proprietorship or disregarded entity owned by an individual

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The owner <sup style="font-size: 4pt;">3</sup>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                6.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Grantor trust filing under Optional Form 1099 Filing Method 1 (see Regulation section 1.671-4(b)(2)(i)(A))

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The grantor*
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; font-weight: bold; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top; text-align: center; width: 189px;">
                                        For this type of account:
                                    </td>

                                    <td style="border-bottom: 1px solid black; border-top: 1px solid black; font-weight: bold; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; vertical-align: top; text-align: center; width: 190px;">
                                        Give name and EIN of:
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                7.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Disregarded entity not owned by an individual

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The owner
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                8.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                A valid trust, estate, or pension trust

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        Legal entity <sup style="font-size: 4pt;">4</sup>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                9.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Corporation or LLC electing corporate status on Form 8832 or Form 2553

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The corporation
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                10.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Association, club, religious, charitable, educational, or other tax-exempt organization

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The organization
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                11.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Partnership or multi-member LLC

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The partnership
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                12.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                A broker or registered nominee

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The broker or nominee
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                13.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Account with the Department of Agriculture in the name of a public entity (such as a state or local government, school district, or prison) that receives agricultural program payments

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The public entity
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right: 1px solid black; padding-left: 5px; padding-top: 5px; vertical-align: top; max-width: 1px;">
                                        <div style="clear: both;">
                                            <div style="float: left; width: 12px; text-align: right;">
                                                14.

                                            </div>

                                            <div style="float: left; padding-left: 4px; padding-right: 4px; width: 162px;">
                                                Grantor trust filing under the Form 1041 Filing Method or the Optional Form 1099 Filing Method 2 (see Regulation section 1.671-4(b)(2)(i)(B))

                                            </div>
                                        </div>
                                    </td>

                                    <td style="padding-left: 5px; padding-top: 5px; vertical-align: top;">
                                        The trust
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="margin-top: 2px; margin-bottom: 0px; font-size: 7pt;">
                            <sup>1</sup> List first and circle the name of the person whose number you furnish. If only one person on a joint account has an SSN, that person’s number must be furnished.

                        </p>

                        <p style="margin-top: 2px; margin-bottom: 0px; font-size: 7pt;">
                            <sup>2</sup> Circle the minor’s name and furnish the minor’s SSN.

                        </p>

                        <p style="margin-top: 2px; margin-bottom: 0px; font-size: 7pt;">
                            <sup>3</sup> You must show your individual name and you may also enter your business or “DBA” name on the “Business name/disregarded entity” name line. You may use either your SSN or EIN (if you have one), but the IRS encourages you to use your SSN.

                        </p>

                        <p style="margin-top: 2px; margin-bottom: 0px; font-size: 7pt;">
                            <sup>4</sup> List first and circle the name of the trust, estate, or pension trust. (Do not furnish the TIN of the personal representative or trustee unless the legal entity itself is not designated in the account title.) Also see Special rules for partnerships on page 1.

                        </p>

                        <p style="margin-top: 2px; margin-bottom: 4px; font-size: 7pt;">
                            <strong>*Note.</strong> Grantor also must provide a Form W-9 to trustee of trust.

                        </p>
                    </div>

                    <div style="float: left; width: 380px; margin-left: 20px; background-color: #fff;">
                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            <strong>Note.</strong> If no name is circled when more than one name is listed, the number will be considered to be that of the first name listed.

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px; font-weight: bold; font-size: 10pt;">
                            Secure Your Tax Records from Identity Theft

                        </p>

                        <p style="margin-top: 7px; margin-bottom: 0px;">
                            Identity theft occurs when someone uses your personal information such as your name, social security number (SSN), or other identifying information, without your permission, to commit fraud or other crimes. An identity thief may use your SSN to get a job or may file a tax return using your SSN to receive a refund.<br>
                            To reduce your risk:
                        </p>
                        <ul style="list-style-type: disc;">
                            <li>Protect your SSN,</li>
                            <li>Ensure your employer is protecting your SSN, and</li>
                            <li>Be careful when choosing a tax preparer.</li>
                        </ul>
                        <p style="margin-top: 7px; margin-bottom: 0px;">If your tax records are affected by identity theft and you receive a notice from the IRS, respond right away to the name and phone number printed on the IRS notice or letter.</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">If your tax records are not currently affected by identity theft but you think you are at risk due to a lost or stolen purse or wallet, questionable credit card activity or credit report, contact the IRS Identity Theft Hotline at 1-800-908-4490 or submit Form 14039.</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">For more information, see Publication 4535, Identity Theft Prevention and Victim Assistance.</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">Victims of identity theft who are experiencing economic harm or a system problem, or are seeking help in resolving tax problems that have not been resolved through normal channels, may be eligible for Taxpayer Advocate Service (TAS) assistance. You can reach TAS by calling the TAS toll-free case intake line at 1-877-777-4778 or TTY/TDD 1-800-829-4059.</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;"><strong>Protect yourself from suspicious emails or phishing schemes.</strong> Phishing is the creation and use of email and websites designed to mimic legitimate business emails and websites. The most common act is sending an email to a user falsely claiming to be an established legitimate enterprise in an attempt to scam the user into surrendering private information that will be used for identity theft.</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">The IRS does not initiate contacts with taxpayers via emails. Also, the IRS does not request personal detailed information through email or ask taxpayers for the PIN numbers, passwords, or similar secret access information for their credit card, bank, or other financial accounts.</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">If you receive an unsolicited email claiming to be from the IRS, forward this message to phishing@irs.gov. You may also report misuse of the IRS name, logo, or other IRS property to the Treasury Inspector General for Tax Administration at 1-800-366-4484. You can forward suspicious emails to the Federal Trade Commission at: spam@uce.gov or contact them at <i>www.ftc.gov/idtheft</i> or 1-877-IDTHEFT (1-877-438-4338).</p>
                        <p style="margin-top: 7px; margin-bottom: 0px;">Visit IRS.gov to learn more about identity theft and how to reduce your risk.</p>

                    </div>

                </div>

            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

