﻿@model Foxxlegacy.ViewModel.ViewModel.FoxxCashDetailsViewModel
@{
    ViewBag.Title = "FoxxCashDetails";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Details</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        @Html.Raw(Model.Content)

        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">
                <br />
                <p>
                    <b>Total Foxx Cash Earned: $@Model.TotalEarned</b>
                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Year</th>
                            <th>Total Earned</th>
                        </tr>
                        @if (@Model.foxxCashDetailsListViewModel.Count > 0)
                        {
                            foreach (var item in Model.foxxCashDetailsListViewModel)
                            {
                                <tr>
                                    <td><a class="outbtn" href="javascript:void(0)" id="FirstbtnDetailsId" data-Year="@item.TheYear">Details</a></td>
                                    <td>@item.TheYear</td>
                                    <td>@item.Total</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10 col-sm-12 co-xs-12" id="secondTabledatalistdiv" style="display:none">
            <div class="row">
                <br />
                <p id="dispayHeadingForSecondTabledatalist">

                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Month</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="secondTabledatalisId">
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="col-md-10 col-sm-12 co-xs-12" id="thirdTabledatalistdiv" style="display:none">
            <div class="row">
                <br />
                <p id="dispayHeadingForthirdTabledatalist">

                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th>Type</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="thirdTabledatalisId">
                        </tbody>



                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-10 col-sm-12 co-xs-12" id="fourthTabledatalistdiv" style="display:none">
            <div class="row">
                <br />
                <p id="dispayHeadingForfourthTabledatalist">

                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th>OrderID</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>From Level</th>
                            </tr>
                        </thead>
                        <tbody id="fourthTabledatalisId">
                        </tbody>



                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-md-10 col-sm-12 co-xs-12" id="fifthTabledatalistdiv" style="display:none">
            <div class="row">
                <br />
                <p id="dispayHeadingForfifthTabledatalist">

                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th>Date Transferred</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>From Level</th>
                            </tr>
                        </thead>
                        <tbody id="fifthTabledatalisId">
                        </tbody>



                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/Js/FoxxCashDetails")
