﻿@{
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="container tab-content-cont">
    @*<ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#range-search">Date Range Search</a></li>
        <li><a data-toggle="tab" href="#search-order">Search By Order No.</a></li>
    </ul>*@
    <div class="tab-content">
        <div id="range-search" class="tab-pane fade in active">
            <div class="commission_cont">
                <div class="dashboard_main" style="width:auto;">
                    <div class="">
                        <div class="tabcontainer_content">
                            <div class="tabcontainer_hdng_content">
                                <h2 class="table_tab_heading">My Compensations</h2>
                                @*<p><b>Select Your Date Range</b></p>*@
                            </div>
                            <div class="adminormbox">
                                <form>
                                    <div class="commission_info d_flex">
                                        <div class=""><label class="mrgn_rgt">Enter Order No.</label></div>
                                        <div class="">
                                            <input type="text" id="orderNoSearch">
                                        </div>
                                        <div class="">
                                            <input type="button" onclick="getCommission('order','divDateCommission',1)" class="admin_btn" value="Go">
                                        </div>
                                    </div>
                                    @*<div class="commission_info d_flex">
            <div><label class="mrgn_rgt">From Date:</label></div>
            <div>
                <input type="text" class="mrgn_rgt datepicker" id="fromDate" autocomplete="off">
            </div>
            <div><label class="mrgn_rgt">To Date: </label></div>
            <div>
                <input type="text" id="toDate" class="datepicker">
            </div>
            <div>
                <input type="button" class="admin_btn" onclick="getCommission('date','divDateCommission',2)" value="Submit">
            </div>
        </div>*@
                                    <div class="tabcontainer_content" id="divDateCommission">
                                        @*<h4 class="Comm_View_title">
                                            Compensation View
                                        </h4>*@
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="search-order" class="tab-pane fade">
            <div class="commission_cont">
                <div class="dashboard_main" style="width:auto;">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aftermemberlogin_l">
                                <h2 class="table_tab_heading">My Commission Details</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aftermemberlogin_r">
                                <a href="/Members/Help?KeyName=Members_Help_MyManager_Contact_Details&amp;Return=Members%2FMyRep"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard_main_inner">
                        <div class="mysupportcontact_details">
                            <div class="commission_info d_flex">
                                <div class=""><label class="mrgn_rgt">Enter Order No.</label></div>
                                <div class="">
                                    <input type="text" id="orderNo">
                                </div>
                                <div class="">
                                    <input type="button" onclick="getCommission('order','divOrderCommission',1)" class="admin_btn" value="Go">
                                </div>
                            </div>
                            <div class="tabcontainer_content" id="divOrderCommission">
                                <h4 class="Comm_View_title">
                                    Commissions View
                                </h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        getCommission('', 'divDateCommission', 0)
    });
    function getCommission(reportType, divId, reqType) {

        debugger
        var SearchType = reqType;
        var orderNo = 0;
        var fromDate = new Date();
        var toDate = new Date();
        var sortBy = 1;
        if (reportType == 'order') {
            //   SearchType = 1;
            var val = $('#orderNoSearch').val();
            if (val != undefined && val !== '') {
                orderNo = parseInt(val);
            } else {
                alert('Order no. is required.');
                $('#orderNoSearch').focus();
                return
            }
        } else if (reportType == 'date') {
            // SearchType = 2;
            fromDate = $('#fromDate').val();
            toDate = $('#toDate').val();
            if (fromDate == undefined || fromDate == '') {
                alert('Start date required.')
                $('#fromDate').focus();
                return
            }
            if (toDate == undefined || toDate == '') {
                alert('End date required.')
                $('#toDate').focus();
                return
            }

        }

        var obj = {
            SearchType: SearchType,
            OrderNo: orderNo,
            FromDate: fromDate,
            ToDate: toDate,
            SortBy: sortBy
        }
        console.log('obj', obj)
        showLoader(divId);
        $.ajax({
            url: '/Members/GetCommisions',
            type: "POST",
            data: {
                model: obj
            },
            success: function (data) {
                debugger
                console.log('res', data);
               

                $('#divDateCommission').html('');
                $('#divOrderCommission').html('');
                $('#' + divId).html('');
                if (data != undefined) {
                    var res = data.data;
                    $('#' + divId).append(res);
                }
                


                hideLoader(divId);
            },
            error: function () {
                hideLoader(divId);
            }
        });
    }
</script>