﻿@model Foxxlegacy.ViewModel.ViewModel.MyFoxxCashViewModel
@{
    ViewBag.Title = "MyFoxxCashRC";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>MoreMito Cash Available:  $@Model.Balance</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">


        <div class="col-md-9 col-sm-12 co-xs-12">
            <div class="row">
                <div class="myfoxxcashrc_panel">
                    <p>
                        All MoreMito Cash can be used immediately.
                    </p>
                    <div class="myfoxxcash_panel_inner">
                        <h6><span>Total MoreMito Cash Earned:</span>$@Model.Earned</h6>
                        <h6><span>Total MoreMito Cash Redeemed:	</span>-$@Model.Swept</h6>
                        <hr />
                        <h6>
                            <span>Total Available MoreMito Cash:</span>$@Model.Balance
                        </h6>
                    </div>
                </div>


            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

