﻿@model  Foxxlegacy.ViewModel.ViewModel.SweeperHistoryListViewModel
@{
    ViewBag.Title = "SweeperHistory";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Request History</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>CreateDate</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Paid</th>
                            <th style="white-space:nowrap">Paid Date</th>
                        </tr>
                        @if (Model.sweeperHistoryListViewModel.Count > 0)
                        {

                            foreach (var item in Model.sweeperHistoryListViewModel)
                            {
                                <tr>
                                    <td>@item.CreateDate</td>
                                    <td>$@item.Amount</td>
                                    <td>@item.Description</td>
                                    <td>@item.Paid</td>
                                    <td>@item.PaidDate</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

