﻿@model Foxxlegacy.ViewModel.ViewModel.TransferFCHistoryListViewModel
@{
    ViewBag.Title = "TransferFCHistory";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Foxx Cash Transfer History</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner transferFChistorypanel">
        <p><b>@Html.Raw(@Model.Content)</b></p>

        <div class="cashtransferhistory">
            <h3>Foxx Cash Transferred To You</h3>
        </div>

        <br />
        <p class="totalreceivedfchistory">Total Received: $@Model.TotalReceived</p>
        <div class="col-md-10 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>Date Received</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>From Level</th>
                        </tr>

                        @if (Model.transferFCHistoryListViewModel.Count > 0)
                        {
                            foreach (var item in Model.transferFCHistoryListViewModel)
                            {
                                <tr>
                                    <td>@item.DateAvailable</td>
                                    <td>$@item.Amount</td>
                                    <td>@item.Description</td>
                                    <td>@item.FromLevel</td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="cashtransferhistory">
            <h3>Foxx Cash You Transferred To Your Downline</h3>
            <br />
            <p class="totalreceivedfchistory">Total Sent: $@Model.TotalSent</p>
            <div class="col-md-10 col-sm-12 co-xs-12">
                <div class="row">
                    <div class="table-responsive notificationtable">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>Date Transferred</th>
                                <th>Amount</th>
                                <th>Description</th>

                            </tr>

                            @if (Model.transferFCHistoryListViewModel2.Count > 0)
                            {
                                foreach (var item in Model.transferFCHistoryListViewModel2)
                                {
                                    <tr>
                                        <td>@item.CommissionsSweptCreateDate</td>
                                        <td>$@item.CommissionsSweptAmount</td>
                                        <td>@item.CommissionsSweptDescription</td>

                                    </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

