﻿@model Foxxlegacy.ViewModel.ViewModel.TransferFCViewModel
@{
    ViewBag.Title = "TransferFC";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Transfer Foxx Cash</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-8 col-sm-12 co-xs-12">
            <div class="row">
                @Html.Raw(Model.Content)
                <div class="transferFC_panel">
                    <h5>Foxx Cash Summary:</h5>
                    <div class="myfoxxcash_panel_inner transferFC_panel_box">
                        <h6><span>Foxx Cash Issued:</span>$@Model.Earned</h6>
                        <h6><span>Foxx Cash Swept:</span>-$@Model.Swept</h6>
                        <hr />
                        <h6><span>Total available to transfer:</span>$@Model.Balance	</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="transfer_panel_bottom">
            <label> Search network:</label>
            <input type="text" class="form-control" placeholder="" id="SearchId" />
            <input type="submit" class="transfer_panel_bottom_btn" value="Search" id="btnSearch" />
            <span>OR</span>
            <input type="submit" class="transfer_panel_bottom_btn toggletransferbutton" value="Transfer Foxx Cash Outside Network" id="btnSendFCAnyone" />
            <div class="clearfix"></div>
        </div>

        @*<div class="transfer_panel_bottom_someone" style="display:none;">
                <h4>Transfer Foxx Cash to someone outside your network</h4>
                <label> Search network:</label>
                <input type="text" class="form-control" placeholder="" />
                <input type="submit" class="transfer_panel_bottom_btn" value="Continue" id="btnSendFCAnyone" />
                <div class="clearfix"></div>
            </div>*@

        <div class="clearfix"></div>


        <div class="col-md-10 col-sm-12 co-xs-12" id="searchdiv" style="display:none">
            <div class="row">

                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="white-space:nowrap"></th>
                                <th style="white-space:nowrap">UsersID</th>
                                <th style="white-space:nowrap">UserName</th>
                                <th style="white-space:nowrap">First Name</th>
                                <th style="white-space:nowrap">Last Name</th>
                                <th style="white-space:nowrap">Email</th>
                                <th style="white-space:nowrap">Phone</th>
                                <th style="white-space:nowrap">In My Level</th>
                            </tr>
                        </thead>
                        <tbody id="searchdatatable">
                        </tbody>



                    </table>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>


        <div id="PanelSweeperAnyone" HorizontalAlign="Left" style="display:none" Width="578px" DefaultButton="btnValidateTransfer">

            <h3>Transfer Foxx Cash to someone <u>outside</u> your network</h3>

            <label> Enter UserName:</label>
            <input type="text" class="form-control" placeholder="" id="txtTransferUserName" />
            <input type="submit" class="transfer_panel_bottom_btn" value="Continue" id="btnValidateTransfer" />
            <div class="clearfix"></div>

            <div id="ValidUserNameErrorMessagediv">

            </div>



        </div>
        <div ID="PanelSweeper" HorizontalAlign="Left" style="display:none" Width="578px">
            <table style="width: 100%; margin-left: 10px;">
                <tr>
                    <td>
                        <hr style="margin:10px;" />
                        <strong>
                            <label ID="lblSweeperArea" Text="Transfer Area:"></label>
                        </strong><br />


                        <label ID="lblSweeperPara1" Text='When you transfer some or all of your "Total Available to Transfer", you are requesting that the specified amount of Foxx Cash be transferred to:'></label>


                        <br />&nbsp;&nbsp;&nbsp;<div ID="Recipientdiv" Font-Bold="True" ForeColor="Navy"></div>
                        <br />&nbsp;&nbsp;&nbsp;<div ID="RecipientNamediv" Font-Bold="True" ForeColor="Navy"></div>
                        <br />&nbsp;&nbsp;&nbsp;<div ID="RecipientPhonediv" Font-Bold="True" ForeColor="Navy"></div>
                        <br />&nbsp;&nbsp;&nbsp;<div ID="RecipientEmaildiv" Font-Bold="True" ForeColor="Navy"></div>
                        <br />&nbsp;&nbsp;&nbsp;<input type="submit" class="outbtn" value="Change Recipient" id="btnChangeRecipient" style="display:none">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 0px;display:none" id="AmounttoTransferdiv">

                        <label> Amount to Transfer:</label>
                        <input type="text" class="form-control" placeholder="" id="txtAmountToSweep" />
                        <input type="submit" class="transfer_panel_bottom_btn toggletransferbutton" value="Send Foxx Cash" id="btnAmounttoTransfer" />

                        <div id="AmounttoTransferErrorMessagediv">

                        </div>

                        <input type="hidden" id="BalanceId" value="@Model.Balance" />
                        <input type="hidden" id="RecipientsUsernameId" value="" />

                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="lblSweeperLabel">

                        </div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; margin-top: 10px; padding-top: 10px;">
                        <input type="hidden" id="RecipientUserID" />
                        <div ID="pnlConfirm" style="display:none">
                            <p id="lblConfirmMsg"></p>
                            
                            <input type="submit" id="btnConfirmYes" value="Yes" class="class="outbtn""/>
                            <input type="submit" id="btnConfirmNo" value="No" class="class="outbtn"" />
                            
                        </div>
                    </td>
                </tr>
            </table>
            <span style="color: red"></span>
        </div>


        <div ID="PanelNoSweeper" HorizontalAlign="Left" style="@(ViewBag.PanelNoSweeper==true?"display:block":"display:none")" Width="578px">
            <br />
            <table style="width: 100%">
                <tr>
                    <td>
                        <strong>
                            @*<asp:Label ID="lblSweeperArea2" meta:resourceKEy="lblSweeperArea2" runat="server"
                                Text="Sweeper Area:"></asp:Label><br />*@
                        </strong>
                        <div ID="lblNoSweeperNote" ForeColor="Red">@ViewBag.NoSweeperNote</div><br />
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/Js/TransferFC")



