﻿@model Foxxlegacy.ViewModel.ViewModel.MiscInfoViewModel

<style>
    #moveHereModal button.active {
        border-radius: inherit;
        background-color: #4CAF50 !important;
        /* border: none; */
        color: white;
    }
    .mypersonal_ab .tab button.tablinksAdmin {
        width: 13.8% !important;
        text-align: center !important;
        display: inline-block !important;
        position: relative;
        color: #000;
        text-align: center;
    }

    .tab button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
        width: 100%;
        background: none;
        font-weight: 500;
        font-size: 12px;
        /*color: #fff;*/
        text-align: left;
    }
</style>

<div class="modal-header" id="moveHereModal">
    <h5 class="modal-title" id="exampleModalLabel">Information</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="modal-body">
        <div class="mypersonal_ab">
            <div class="tab">
                <input type="hidden" id="selectedUserId" value="@Model._personalInfo.Id" />
                <button onclick="showUserTab()" class="tablinksAdmin active button" id="MoveOne" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab1.png" style="width:100%; position:relative; z-index:0;" />
                    Users Information
                </button>

                @{
                    if (Model._menu.IsPlacementOn)
                    {
                        <button onclick="showUserPlacementTab()" type="button" class="tablinksAdmin" id="MoveTwo" style="width:14%; display:inline-block;">
                            <img src="~/Images/mypersonaltab6.png" style="width:100%; position:relative; z-index:0;" />
                            Placement
                        </button>
                    }
                }
                <button onclick="showMoveOrder()" class="tablinksAdmin" id="MoveOrderTab" style="width:14%; display:inline-block;">
                    <img src="~/Images/mypersonaltab1.png" style="width:100%; position:relative; z-index:0;" />
                    Move Orders
                </button>
            </div>


            <div class="">
                <div id="One" class="tabcontentAdmin userTab">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>User Info Details</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_r">
                                    <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="mypersosonalpopupsectionl">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>UserName:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <span id="MoveUserId">@Html.DisplayFor(x => x._personalInfo.UserName)</span>

                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>SponsorName:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.SponserName)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Name:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Name)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Phone:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Phone)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Email:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Email)</span></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><label>Member Since:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Model._personalInfo.JoinDate.ToShortDateString()</span></div>
                                            <div class="clearfix"></div>
                                            @*<div class="col-md-6 col-sm-6 col-xs-12"><label>Level:</label></div>
                                            <div class="col-md-6 col-sm-6 col-xs-12"><span>@Html.DisplayFor(x => x._personalInfo.Level)</span></div>*@
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="mypersosonalpopupsectionl">
                                        <p>
                                            Membership Type:  @Model.MembershipType<br />
                                            Highest Rank Achieved: @Model.HighestRankAchieved<br />


                                            QTE: @Model.QTE<a href="javascript:void(0)" id="btnQTEUpdatedUserInfoDetails" data-UserId="@TempData["TempDataUserId"]" data-TabName="UserInfoDetailsFromTree"><img src="/Images/refresh.png"></a><br />
                                            <span style="color:Orange;" id="UserInfoDetailsmsgQTEUpdatedId">

                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="eight" class="tabcontentAdmin placementTab" style="display:none;">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2>Placement Activity</h2>
                                </div>
                            </div>

                        </div>
                        <div class="dashboard_main_inner">
                            <h5>
                                Search Downline for New Placement User Name for @Html.DisplayFor(x => x._personalInfo.UserName)
                            </h5>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="txtBxUsrname" placeholder="Type User Name..." />
                                    <p class="text-danger" id="searchErrorTxt" style="display:none">No Users Found.</p>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnSearchUser" data-id="@Model._personalInfo.Id" class="btn btn-info">Search</button>
                                </div>

                            </div>
                            <div class="row" id="PlacementUserPanel" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>User Name</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="placementUserTblBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="MoveOrderTab" class="tabcontentAdmin moveTab" style="display:none;">
                    <div class="dashboard_main popuppersonaldashboardbox">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="aftermemberlogin_l">
                                    <h2><span id="orderListHead">Order List</span></h2>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_main_inner">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    @*<input type="text" class="form-control" id="txtBxUsrname" placeholder="Type User Name..." />
                                        <p class="text-danger" id="searchErrorTxt" style="display:none">No Users Found.</p>*@
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="MoveOrders()" id="moveOrderBtn" data-id="@Model._personalInfo.Id" class="btn btn-info">Click to move order(s)</button>
                                </div>

                            </div>
                            <div class="row" id="OrderMoveDiv">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Order Id</th>
                                                <th>Order Date</th>
                                                <th>Order Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="OrderMoveDivBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
    </div>
</div>
<script>
    var buttonElement1 = document.querySelectorAll('.tablinksAdmin');
    var tabContent1 = document.querySelectorAll(".tabcontentAdmin");

    tabContent1[0].style.display = "block";

    buttonElement1.forEach(function (i) {
        i.addEventListener('click', function (event) {
            debugger
            for (let x = 0; x < buttonElement1.length; x++) {
                if (event.target.closest('button').id == buttonElement1[x].id) {
                    buttonElement1[x].className = buttonElement1[x].className.replace(" active", "");
                   // tabContent1[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                   // tabContent1[x].style.display = "none";
                    buttonElement1[x].className = buttonElement1[x].className.replace(" active", "");
                }
            }

        });
    });

    function showUserTab() {

        $('.placementTab').hide();
        $('.moveTab').hide();
        $('.userTab').show();
    }
    function showUserPlacementTab() {
        $('.userTab').hide();
        $('.moveTab').hide();
        $('.placementTab').show();
    }
    function showMoveOrder() {
        $('.userTab').hide();
        $('.placementTab').hide();
        $('.moveTab').show();
        loadMoveOrders();
    }
    function loadMoveOrders() {
        var name = $('#MoveUserId').text();
        $('#orderListHead').text('Order list for user ' + name);
        showLoader('OrderMoveDiv');
        debugger
        var Id = $('#selectedUserId').val();
        $.ajax({
            type: "GET",
            url: "/AdminPermission/GetOrdersForPlacement?UserId=" + Id,
            success: function (data) {
                if (data.status == true) {
                    $('#OrderMoveDivBody').html('');
                    $('#OrderMoveDivBody').html(data.content);
                }
                hideLoader('OrderMoveDiv');
            },
            error: function () {
                hideLoader('OrderMoveDiv');
                alert("No Data to view");
            }
        });
    }
    function MoveOrders() {
        var counter = 0;
        var orderList = [];
        $('#OrderMoveDivBody > tr').has('td').each(function (i, row) {
            debugger
            //     var tr = row.closest('tr');
            var chk = $(this).find('td:eq(0)').find('input').is(':checked');// tr.find('td:eq(0) input["checkbox"]').is(':checked');
            if (chk == true) {
                var orderId = parseInt($(this).find('td:eq(1)').find('input.orderId').val());
                if (orderId > 0) {
                    var obj = {
                        orderId: orderId
                    }
                    orderList.push(obj);
                }
                counter++;
            }

        });
        console.log('orders', orderList)
        if (counter == 0) {
            alert('Select at least one order!')
            return
        } else {
            
            $('#moveOrderModal').modal('show');
            $('#txtBxUsrnameMove').val('');
            $("#placementUserTblBodyMove").html('');
            $('#selectedOrderIdValues').val('');
            $('#selectedOrderIds').text('');
            $('#orderFrom').text('Move orders')

            var joinedIds = orderList.map(x => x.orderId).join(", ");
            if (joinedIds != undefined) {
                var name = $('#MoveUserId').text();
                $('#orderFrom').text('Move orders from ' + name)
                $('#selectedOrderIdValues').val(joinedIds);
                $('#selectedOrderIds').text(joinedIds);
            }
            
        }
    }
    $(document).on("click", "button#btnSearchUserMove", function (e) {
       
        var _this = $(e.currentTarget),
            _searchErrorTxt = $("p#searchErrorTxtMove"),
            _txtBxUsrNm = $("input#txtBxUsrnameMove"),
            _tblDivSection = $("div#PlacementUserPanelMove"),
            _tblObject = $("#placementUserTblBodyMove");

        var userName = _txtBxUsrNm.val(),
            UserId = $('#selectedUserId').val();

        _tblObject.html('');
        _tblDivSection.hide();
        _searchErrorTxt.hide();

        if (userName != null && userName.length > 0) {
            var moveUserName = $('#MoveUserId').text();
            $.ajax({
                url: "/AdminPermission/getuserdetails?Username=" + userName + "&CurrentUserId=" + UserId,
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    if (!res.status) {
                        _searchErrorTxt.show();
                        return
                    }
                    
                    if (res.status) {
                        _tblDivSection.show();
                        $("#placementUserTblBodyMove").html('');
                        $("#placementUserTblBodyMove").append(res.content);
                    }
                    //var response = res.userList;
                    //var trArray = [];
                    //if (typeof response === "object" && response.length > 0) {
                    //    $.each(response, function (i, user) {
                    //        console.log('user', user)
                    //        trArray.push('<tr>');
                    //        trArray.push('<td>' + user.UserName + '</td>');
                    //        trArray.push('<td>' + user.FirstName + '</td>');
                    //        trArray.push('<td>' + user.LastName + '</td>');
                    //        trArray.push('<td>' + user.Phone + '</td>');
                    //        trArray.push('<td><button type="button" class="btn btn-primary placementmapOrder" data-sid="' + user.ID + '" data-cid="' + user.CustomerID + '" data-uid="' + UserId + '">Move here</button></td>');

                    //        trArray.push('</tr>');
                    //    });
                    //    _tblObject.html(trArray.join(''));
                    //    if (trArray.length > 0) {
                    //        _tblDivSection.show();
                    //    }
                    //} else {
                    //    _searchErrorTxt.show();
                    //}
                },
            });
        }

    });
    $(document).on("click", "button.placementmapOrder", function (e) {
        var _this = $(e.currentTarget);
        if (confirm("Are you sure to move the selected orders ?")) {
            var _orderOwner = _this.data('uid'),
                _targetUser = _this.data('sid');

            var orders = [];
            var selectedOrders = $('#selectedOrderIdValues').val();
            if (selectedOrders != undefined) {
                var arr = selectedOrders.split(',').map(function (strVale) { return Number(strVale); });;
                if (arr != undefined && arr.length > 0) {
                    for (var i = 0; i < arr.length; i++) {
                        var m = {
                            OrderId: arr[i]
                        }
                        orders.push(m);
                    }
                }
            }
            var obj = {
                TargetUserId: _targetUser,
                OwnerUserId: _orderOwner,
                OrderList: orders
            }
            console.log('orders', obj)
            
            if (parseInt(_orderOwner) > 0 && parseInt(_targetUser) > 0 && orders != undefined) {
                showLoader('moveOrderModalBody')
                $.ajax({
                    url: "/AdminPermission/updateorderplacement",
                    data: { "model": obj },
                    type: "POST",                   
                    success: function (response) {
                        console.log('move res', response)
                        hideLoader('moveOrderModalBody')
                        if (response.status == true) {
                            alert('Orders moved successfully')
                            $('#moveOrderModal').modal('hide');
                            $('#infofield').modal('hide');
                        } else {
                            alert('Error :' + response.msg);
                        }
                        
                    },
                    error: function (err) {
                        console.log(err)
                        alert('Error')
                    }
                });
            }
        }
    });
</script>




