﻿@model Foxxlegacy.ViewModel.ViewModel.PermissionViewModel
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .table-layout {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
        font-family: "Trebuchet MS";
        margin: 0 auto 0;
    }

        .table-layout td, .table-layout th {
            border: 1px solid grey;
            padding: 5px 5px 0;
        }

        .table-layout td {
            text-align: left;
        }

    .selected {
        color: red;
    }
</style>
<div class="table-responsive notificationtable">
    <table cellpadding="0" cellspacing="0" width="40%" id="tblCampaignInfo">
        <tbody>
            <tr>
                <th>Action</th>
                <th>User Name</th>
                <th>Email</th>
            </tr>
            @{
                for (int i = 0; i < Model._member.Count; i++)
                {
                    <tr>
                        @*<td><a class="changepasswordbtn customerDetails" id="btn_User" href="javascript:;" data-UserName="@Model._member[i].LoweredUserName">SamePage</a></td>*@
                        <td><a class="changepasswordbtn roleSelect" id="btn_select" href="javascript:;" data-UserName="@Model._member[i].LoweredUserName">Select</a></td>
                        <td>@Html.DisplayFor(x => x._member[i].LoweredUserName)</td>
                        <td>@Html.DisplayFor(x => x._member[i].Email)</td>
                    </tr>
                }
            }
    </table>
</div>

<div id="viewPlaceHolder"></div>

@*<div class="modal fade" id="rolefield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id='roleModel'></div>

            </div>
        </div>
    </div>*@


@*<div id="dialog" style="display: none">
    </div>*@
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $(".roleSelect").click(function (evt) {
            var UserName = $(this).attr("data-UserName");
            $("#viewPlaceHolder").load("/AdminPermission/RoleDetails",
                { UserName: UserName, viewName: "_RoleInfoView" });
        });
    });

    highlight_row();
    function highlight_row() {
        var table = document.getElementById('tblCampaignInfo');
        var cells = table.getElementsByTagName('td');
        for (var i = 0; i < cells.length; i++) {
            // Take each cell
            var cell = cells[i];
            // do something on onclick event for cell
            cell.onclick = function () {
                // Get the row id where the cell exists
                var rowId = this.parentNode.rowIndex;
                var rowsNotSelected = table.getElementsByTagName('tr');
                for (var row = 0; row < rowsNotSelected.length; row++) {
                    rowsNotSelected[row].style.backgroundColor = "";
                    rowsNotSelected[row].style.fontWeight = "Normal";
                    rowsNotSelected[row].classList.remove('selected');
                }
                var rowSelected = table.getElementsByTagName('tr')[rowId];
                rowSelected.style.backgroundColor = "#ffffff";
                rowSelected.style.fontWeight = "bold"
                rowSelected.className += " selected";
            }
        }
    }
    //$(".roleSelect").click(function () {
    //    var options = { "backdrop": "static", keyboard: true };
    //    var UserName = $(this).attr("data-UserName");
    //    $.ajax({
    //        type: "GET",
    //        url: '/AdminPermission/RoleDetails?UserName=' + UserName,
    //        contentType: "application/json; charset=utf-8",
    //        datatype: "json",
    //        success: function (data) {
    //            $('#roleModel').html(data);
    //            $('#rolefield').modal(options);
    //            $('#rolefield').modal('show');
    //        },
    //        error: function () {
    //            alert("No Data to view");
    //        }
    //    });
    //});
    //$(function () {
    //    //$("#dialog").dialog({
    //    //    autoOpen: false,
    //    //    modal: true,
    //    //    title: "View Details"
    //    //});
    //    $(".roleSelect").click(function () {
    //        var UserName = $(this).attr("data-UserName");
    //        $.ajax({
    //            type: "GET",
    //            url: '/AdminPermission/RoleDetails?UserName=' + UserName,
    //            //data: '{UserName: "' + UserName + '" }',
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "html",
    //            success: function (response) {
    //                $('#dialog').html(response);
    //                $('#dialog').dialog('open');
    //            },
    //            failure: function (response) {
    //                alert(response.responseText);
    //            },
    //            error: function (response) {
    //                alert(response.responseText);
    //            }
    //        });
    //    });
    //});    
</script>