﻿@model List<Foxxlegacy.ViewModel.ViewModel.RanksDataUpdateViewModel>


@if (Model != null)
{
    foreach (var item in Model)
    {
<tr>
    <td class="rankName">
        @item.RankName
    </td>
    <td>
        <input type="text" class="form-control" value="@item.CompareCountLegs" onkeypress="return isDecimalKeyD(this, event)" />
        <input type="hidden" class="rankId" value="@item.ID" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.PerLegCappedCustomerCount" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.CappedCustomerCount" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.LegsWithRank3Rank4" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.CheckRankLegTotal" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.NoOfRankingLeg" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.Display1" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.Display2" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.Display3" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
    <td>
        <input type="text" class="form-control" value="@item.Display4" onkeypress="return isDecimalKeyD(this, event)" />
    </td>
</tr>
    }
}