@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
body {
	font-size:1rem;
	font-family: 'Heebo', sans-serif;
}

.table-hd-text {
	display: block;
	margin-top: 10px;
}

tr+tr th,
tbody th {
	background: #daeef3;
}

table,
th,
td {
	border: solid 1px;
	border-collapse: collapse;
}

.rank-table-cont .green-bg {
	background-color: #c6e0b4;
	border-right: 10px solid#ffffff;
}
div.first_scroll,div.second_scroll,div.third_scroll,div.fourth_scroll{
width:100%;
height: 300px;
margin: 0;
padding: 0;
overflow-y: scroll
}

.rank-table-cont .sky-bg {
	background-color: #ddebf7;
}
.rank-table-cont .btn,.rank-table-cont .btn:hover{width: 100%;}
.rank-management-tbl .btn,
.rank-management-tbl .btn:hover {
	border: none;
    font-size:1rem;
    background-color: #ddebf7;
    border-right: 10px solid #ffffff;
    padding:0.3rem 0.7rem;
    border-radius: 0;
        margin-top: 0.6rem;
}

.rank-table-cont .yellow-bg {
	background-color: #ffe699;
}
.rank-table-cont tr.per-list-cont td {
    vertical-align: top;
}
.rank-table-cont .highlight-text-bg {
	background-color: #ddf4ff;
}
.table-cont .list-styling-cls{
    height: 241px;
    overflow-y: scroll;
    margin-bottom: 1.1rem;
}
.btn-check:focus+.btn, .btn:focus{box-shadow:none;}
.rank-table-cont th,
.rank-table-cont td {
	vertical-align: middle;
	text-align: center;
	border: none;
	font-weight:normal;
}

.rank-table-cont,
.rank-table-cont th,
.rank-table-cont td,
.rank-table-cont p {
	font-size: 1rem;
	padding: 0px;
}

.rank-table-cont p {
	margin: 0px;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

.color-indication-cont .yellow-color-indi,
.color-indication-cont .green-color-indi {
	position: relative;
	padding-left: 27px;
	margin-bottom:0px;
}

.color-indication-cont .yellow-color-indi::after,
.color-indication-cont .green-color-indi::after {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	left: 0;
	top: 0.3rem;
	background-color:#c6e0b4;
}
.color-indication-cont .yellow-color-indi::after {
	background-color: #edc045;
}
.rank-table-cont td.tbl-pd-lft {
    border-left: 20px solid #ffffff;
}
.rank-table-cont .tbl-pd-rgt, .rank-table-cont .border-tp-cstm.tbl-pd-rgt {
    border-right: 20px solid #ffffff;
}
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting:after {
	opacity: 1;
}

.rank-table-cont .border-tp-cstm {
	border-top: 2px solid #000000;
	border-right: 10px solid #ffffff;
}

.rank-table-cont .border-tp-cstm:last-child {
	border-right: 0px;
}

.table-cont .border-cls-cstm {
	border:2px solid #000000;
	display: block;
}

.table-cont .border-lrt-cls {
	border-bottom: 0px;
}

.table-cont .border-lrb-cls {
	border-top: 0px;
}
.table-cont .per-list-cont a {
    color: #000000;
    text-decoration: none;
}