﻿@model List<Foxxlegacy.ViewModel.ViewModel.TargetUserNameViewModel>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
<tr>
    <td>@item.UserName</td>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.Phone</td>
    <td><button type="button" onclick="placeOrder(@item.ID)" class="btn btn-primary" data-sid="@item.ID" data-cid="@item.CustomerID" data-uid="@item.ID">Move here</button> </td>
</tr>
    }
}
else
{
    <td colspan="5">
        No record found !
    </td>
}
<script>
    function placeOrder(sid) {
        debugger
        var UserId = $('#selectedUserId').val();
        if (confirm("Are you sure to move the selected orders ?")) {
            var _orderOwner = UserId,
                _targetUser = sid;

            var orders = [];
            var selectedOrders = $('#selectedOrderIdValues').val();
            if (selectedOrders != undefined) {
                var arr = selectedOrders.split(',').map(function (strVale) { return Number(strVale); });;
                if (arr != undefined && arr.length > 0) {
                    for (var i = 0; i < arr.length; i++) {
                        var m = {
                            OrderId: arr[i]
                        }
                        orders.push(m);
                    }
                }
            }
            var obj = {
                TargetUserId: _targetUser,
                OwnerUserId: _orderOwner,
                OrderList: orders
            }
            console.log('orders', obj)

            if (parseInt(_orderOwner) > 0 && parseInt(_targetUser) > 0 && orders != undefined) {
                showLoader('moveOrderModalBody')
                $.ajax({
                    url: "/AdminPermission/updateorderplacement",
                    data: { "model": obj },
                    type: "POST",
                    success: function (response) {
                        console.log('move res', response)
                        hideLoader('moveOrderModalBody')
                        if (response.status == true) {
                            alert('Orders moved successfully')
                            $('#moveOrderModal').modal('hide');
                            $('#infofield').modal('hide');
                        } else {
                            alert('Error :' + response.msg);
                        }

                    },
                    error: function (err) {
                        console.log(err)
                        alert('Error')
                    }
                });
            }
        }
    }
</script>
