﻿@model Foxxlegacy.ViewModel.ViewModel.GenealogyViewModel
@{

    Layout = null;
}

<style>
 
    .treeview_box ul{
        display:block !important;
    }
    .treeView li span span.NoQual b {
        color: red !important;
    }

    .treeView li span span.Qual b {
        color: green !important;
    }
</style>
<div class="dashboard_main">   
    <div class="dashboard_main_inner" id="genDiv">
        <div class="genealogy_mainpanel">       
            @*<div class="organicnation">
                <span><b>Qual:</b> Qualified</span>
                <span><em>Qual:</em> Not Qualified</span>
                <span><b>R.O.:</b> Recurring Order</span>
                <span><em>R.O.:</em> Not Recurring Order</span>
                <span><b><i class="fa fa-mobile" aria-hidden="true"></i></b> SMS Opt-In</span>
                <span><em><i class="fa fa-mobile" aria-hidden="true"></i></em> SMS Opt-Out</span>
                <span><b><i class="fa fa-envelope" aria-hidden="true"></i></b> Email Opt-In</span>
                <span><em><i class="fa fa-envelope" aria-hidden="true"></i></em> Email Opt-Out</span>
                <span><i class="fa fa-clock" style="color:black" aria-hidden="true"></i> Personal Moveable</span>
             
            </div>*@
            <div class="treeview_box1 tree_view_wrap">
                <ul class="treeView">
                    <li class="user-tree-row">
                        <button class="treebutton" type="button" data-id="@Model.ReferralData.Id"> + </button>
                        <span class="user-info-span" id="personalinfo" data-id="@Model.ReferralData.Id">
                            @Model.ReferralData.Text 
                            @{
                                if (Model.ReferralData.IsQualified)
                                {
                                    <span class="Qual">
                                        <b> Qual</b>
                                    </span>

                                    @*<img src="@Url.Content("~/Images/red_check.png")" />*@
                                }
                                else
                                {
                                    <span class="NoQual">
                                        @Model.ReferralData.Text <b> Qual</b>
                                    </span>
                                }
                                if (Model.ReferralData.IsRecurringOrder)
                                {
                                    <b><span style="color:green;">R.O</span></b>
                                }
                                else
                                {
                                    <b><span style="color:red;">R.O</span></b>
                                }
                                if (Model.ReferralData.IsSms)
                                {



                                    @*<img src="@Url.Content("~/Images/sms_opt_in.png")" />*@
                                    <b><i class="fa fa-mobile" style="color:green;" aria-hidden="true"></i></b>

                                }
                                else
                                {
                                    <b><i class="fa fa-mobile" style="color:red;" aria-hidden="true"></i></b>
                                }

                                if (Model.ReferralData.IsEmail)
                                {
                                    @*<img src="@Url.Content("~/Images/email_opt_in.png")" />*@

                                    <b><i class="fa fa-envelope" style="color:green;" aria-hidden="true"></i></b>
                                }
                                else
                                {
                                    <b><i class="fa fa-envelope" style="color:red;" aria-hidden="true"></i></b>
                                }

                                if (true)
                                {
                                    if (Model.ReferralData.IsPersonalMovable)
                                    {
                                        <b><i class="fa fa-clock" style="color:black;" aria-hidden="true"></i></b>
                                    }
                                    @*else if (Model.ReferralData.IsPersonalPermanent)
                                    {
                                        <img class="black-watch-img" title="Personal Permanent" alt="Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                    }
                                    else if (Model.ReferralData.IsNonPersonalMovable)
                                    {
                                        <img title="Non-Personal Movable" alt="Non-Personal Movable" src="@Url.Content("~/Images/black-stopwatch.png")" />
                                    }
                                    else if (Model.ReferralData.IsPersonalPermanent)
                                    {
                                        <img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                    }*@
                                    <span>Rank:</span> @Model.ReferralData.RankText


                                }


                            }
                        </span>

                        @*<img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />*@
                    <a href="/Members/RankManagementReport?id=@Model.ReferralData.Id" target="_blank"> <i class="fa fa-file" aria-hidden="true"></i>Rank management report</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infofield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo'></div>

        </div>
    </div>
</div>


