﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moremito</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">*@
    <link href="~/Content/stellarnav_v1.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/customV4.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/loadingoverlay.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>

    @*--------------DateTimePicker-------------*@

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">




    @*--------------DateTimePicker--------------*@


    <link href="~/Content/admin-site.css" rel="stylesheet" />

    @*<script src="~/Scripts/jquery.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/stellarnav.js"></script>
    <script src="~/Scripts/common-function.js"></script>

</head>
<body>
    <div class="admin_container">
        <div class="stellarnav admin_navigation">
            <ul>
                <li><a href="@Url.Action("Home", "Admin")">Home</a></li>
                <li><a href="@Url.Action("AdminMember", "Admin")">Members</a></li>
                <li><a href="@Url.Action("Orders", "Admin")">Orders</a></li>
                <li><a href="@Url.Action("Shipping", "Admin")">Shipping</a></li>
                <li><a href="@Url.Action("Autoship", "Admin")">Autoship</a></li>
                <li><a href="@Url.Action("Utilities", "AdminPermission")">Utilities</a></li>
                <li><a href="@Url.Action("Commissions", "Admin")">Commissions</a></li>
                <li><a href="@Url.Action("Contact", "Admin")">Contacts</a></li>
                <li><a href="@Url.Action("AdminReport", "AdminPermission")">Reports</a></li>
                <li><a href="@Url.Action("broadcastemail", "admin")">Email</a></li>
                <li><a href="@Url.Action("AdminEditor", "Admin")">Editors</a></li>
                <li><a href="@Url.Action("AdminMEditor", "Admin")">M Editors</a></li>
                <li><a href="@Url.Action("Permission","AdminPermission")">Permissions</a></li>
                <li><a href="/Admin/SMS">SMS</a></li>
                @*<li><a href="">CK</a></li>
                <li><a href="">CK1</a></li>
                <li><a href="">CK2</a></li>*@
                <li><a href="@Url.Action("UserLogout", "Login")">Logout</a></li>
                <li><a href="@Url.Action("Dashboard", "Members")">Member Side</a></li>
            </ul>
        </div>


        @RenderBody()
    </div>
    @*<script src="~/Scripts/jquery.js"></script>*@
    @*<script src="~/Scripts/stellarnav.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>*@

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>


    @*----------------------------*@
    @*<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>*@
    @*<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

    @*-------------------------*@


    <script type="text/javascript">
        $(document).ready(function () {

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                changeMonth: true,
                changeYear: true
            });

            $('.stellarnav').stellarNav({
                theme: 'dark',
                breakpoint: 991,
                position: 'right',
                phoneBtn: '18009997788',
                locationBtn: 'https://www.google.com/maps'
            });
        });

        //jQuery(document).ready(function ($) {
        //    jQuery('.stellarnav').stellarNav({
        //        theme: 'dark',
        //        breakpoint: 991,
        //        position: 'right',
        //        phoneBtn: '18009997788',
        //        locationBtn: 'https://www.google.com/maps'
        //    });
        //});
    </script>

    <script>
        $(document).ready(function () {
            $('#deleteuserutlity').DataTable();
        });
    </script>

    <script>

        $(function () {

            /*expend and collapse*/

            $(".treeView li").each(function () {
                if ($(this).children('ul').length > 0) {
                    $(this).addClass('parent');
                }
            });
            $(".treeView .parent button").on(
                "click", function () {

                    $(this).parent("li").toggleClass('active').children('ul').slideToggle();
                    if ($(this).parent("li").hasClass('active')) {
                        $(this).text('-')
                    } else {
                        $(this).text('+')
                    }

                });

            /*checkbox function*/

            /*function called on change */
            $(".treeView input[type='checkbox']").on(
                "change", function () {
                    /*function called here */
                    checkParents($(this));
                    checkChildren($(this));
                });

        });
        /*for check parent */
        function checkParents(c) {
            var parentLi = c.parents('ul:eq(0)').parents('li:eq(0)');
            if (parentLi.length) {
                var siblingsChecked = parseInt($('input[type="checkbox"]:checked', c.parents('ul:eq(0)')).length),
                    rootCheckbox = parentLi.find('input[type="checkbox"]:eq(0)')
                    ;

                if (c.is(':checked'))
                    rootCheckbox.prop('checked', true)
                else if (siblingsChecked === 0)
                    rootCheckbox.prop('checked', false);

                checkParents(rootCheckbox);
            }

        }
        /*for check children */
        function checkChildren(c) {
            var childLi = $('ul li input[type="checkbox"]', c.parents('li:eq(0)'));

            if (childLi.length)
                childLi.prop('checked', c.is(':checked'));
        }

    </script>

    <script>
        $(document).ready(function () {

            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            })

            $('ul.tabs1 li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs1 li').removeClass('current1');
                $('.tab-content1').removeClass('current1');

                $(this).addClass('current1');
                $("#" + tab_id).addClass('current1');
            })
        })
    </script>



    <script>

        //CKEDITOR.replace('editor1');
        //CKEDITOR.replace('editor2');
        //CKEDITOR.replace('editor3');
        //CKEDITOR.replace('editor4');
        //CKEDITOR.replace('editor5');

    </script>

    <script>

        $(document).ready(function () {

            $('#show-hidden-menu').click(function () {
                $('.hidden-menu').slideToggle("slow");
                // Alternative animation for example
                // slideToggle("fast");
            });

            $('#show-hidden-menu1').click(function () {
                $('.hidden-menu1').slideToggle("slow");
                // Alternative animation for example
                // slideToggle("fast");
            });

        });

        function showLoader(elementID) {
            $("#" + elementID).LoadingOverlay("show", {
                imageColor: "#0095cd",
                imageAutoResize: true
            });
        }
        function hideLoader(elementID) {
            $("#" + elementID).LoadingOverlay("hide");
        }
        function isNumberKeyD(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 46) {
                if (txt.value.indexOf('.') > -1) {
                    return true;
                } else {
                    return false;
                }
            }
            else if (charCode == 45) {
                if (txt.selectionStart == 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                if (charCode > 31
                    && (charCode < 48 || charCode > 57))
                    return false;
            }
            return true;
        }
        function isDecimalKeyD(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            //var value = $('#' + txt.id).val();
            if (charCode == 46) {
                if (txt.value.indexOf('.') === -1) {
                    return true;
                } else {
                    return false;
                }
            }
            else if (charCode == 45) {
                if (/*txt.value.length == 0*/ txt.selectionStart == 0) {
                    return true;
                }
                else {
                    return false;
                }

            }
            else {
                if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
            }
            return true;
        }
        function floatParse(val) {
            var value = isNaN(parseFloat(val)) ? parseFloat(0) : parseFloat(val);
            if (!isFinite(value)) {
                value = 0;
            }

            return value;
        }
        function IntParse(val) {
            var value = isNaN(parseInt(val)) ? parseInt(0) : parseInt(val);
            return value;
        }
    </script>


    @*<script>

            // Initialize the DataTable
            $(document).ready(function () {
                $('#tableID').DataTable({

                    // Disable the searching
                    // of the DataTable
                    //searching: true,

                });
            });
        </script>*@

</body>
</html>
