﻿@model Foxxlegacy.ViewModel.ViewModel.BroadcastViewModel

<table class="table table-bordered" id="userTableList">
    <thead>
        <tr>
            @*<th>User ID</th>
            <th>User Name</th>
            <th>Name</th>*@
            <th>Action</th>
            <th id="phoneTh" class="headerSortDown">Phone</th>
            <th id="NameTh" class="headerSortDown">Name</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.userList != null && Model.userList.Count > 0)
        {
            foreach (var item in Model.userList)
            {
                <tr>
                    @*<td>@item.Id</td>
                    <td>@item.username</td>
                    <td>@item.firstname @item.lastname</td>*@
                    <td><input type="checkbox" /> </td>
                    <td><span>@item.phone</span> </td>
                    <td>@item.username</td>
                    <td><a href="#!" style="text-decoration:underline;" onclick="getDetail('@item.phone')">Detail</a> </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No user found</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
      //var table=  $('#userTableList').DataTable({
      //      //paging: false,
      //      search: {
      //          return: true,
      //      },
      //      lengthMenu: [
      //          [100, 250, 500, -1],
      //          [100, 250, 500, 'All'],
      //      ],
      //      "pageLength": 250,
      //       "autoWidth": false,
      //  });

        $('#phoneTh').on('click', reloadUsersByPhone);
        $('#NameTh').on('click', reloadUsers);
    });
    function deleteSelected() {
        var counter = 0;
        var totalSelected = 0;
        debugger
        $('#userTableList > tbody  > tr').each(function (index, tr) {
            
          
            var isChecked = $(this).find("td:eq(0) input[type=checkbox]").is(':checked')
            if (isChecked == true) {
                totalSelected++;
                $(this).remove();
            } else {
                counter++;
            }            

            //$(this).find("td:eq(3) span.totalTd").text('$' + total);
            //$(this).find("td:eq(4) span.currency").text('$');
            //$(this).find("td:eq(4) span.youSaved").text(saved);
            //$(this).find('td:eq(4)').removeClass('highlight_text')
            //if (saved > 0) {
            //    $(this).find('td:eq(4)').addClass('highlight_text')
            //}
            //totalSaved = totalSaved + saved;
            //orderTotal = orderTotal + total;
        });
        debugger
        if (totalSelected == 0) {
            alert('No phone number selected to delete.');
            return
        }
        $('#sendToAllCount').text(counter);
    }

    function getDetail(phone) {
        $('#phoneUsersModal').modal('show');
        $('#userListNames').text('');
        showLoader('phoneUsersModal');
        $.ajax({
            url: '/Admin/GetUsersFromPhone?Phone=' + phone,
            type: "GET",

            success: function (data) {
                debugger
                console.log('res', data);
                if (data.status) {
                    $('#userListNames').text(data.content);
                }

                hideLoader('phoneUsersModal');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('phoneUsersModal');
            }
        });

    }

    function reloadUsers() {
        debugger
        if ($(this).hasClass('headerSortDown')) {
            $(this).removeClass('headerSortDown');
            $(this).addClass('headerSortUp');
            getUserList(1);
        } else if ($(this).hasClass('headerSortUp')) {
            $(this).removeClass('headerSortUp');
            $(this).addClass('headerSortDown');
            getUserList(2);
        }
    }
    function reloadUsersByPhone() {
        debugger
        if ($(this).hasClass('headerSortDown')) {
            $(this).removeClass('headerSortDown');
            $(this).addClass('headerSortUp');
            getUserList(3);
        } else if ($(this).hasClass('headerSortUp')) {
            $(this).removeClass('headerSortUp');
            $(this).addClass('headerSortDown');
            getUserList(4);
        }
    }
</script>