﻿@model  List<Foxxlegacy.ViewModel.ViewModel.BundelViewModel>


<div class="container">
    <div class="bundle-cont">
        <h1>Free Bundles - Get FREE Rejuvenate!</h1>
        <h3 class="text-center">
            <b>Buy one Restore & 1 Rejuvenate and get a FREE jar or Pack of 12 Mini-Jars of Rejuvenate!!</br> That's a $50 Free gift and we even pay the shipping on the free jar!!</b>
        </h3>
       <input type="hidden" id="controllerName" value="@ViewBag.ControlllerName" />
        <h3>Each bundle contains a bottle of UltraMito Restore,a bottle of UltraMito Rejuvenate and your choice of an extra <b>Free Jar of Rejuvenate </b>or extra <b>Free Pack 12 Mini-jars of Rejuvenate</b> at <strike><span>$200</span></strike>  $150 each.</h3>
        <h3>Choose how many of each bundle or any individual bottles or jars you want below.</h3>
        <h3>Chose the Quantity of the item you want and check “yes” if you want auto-ship.</h3>
        @if (ViewBag.ControlllerName == "Members")
        {
            <h4 style="background-color: #fce5d7;padding: 1rem;">You can get <b>$10 off</b> and have <b>AutoShip pricing</b> on all the items in this order by doing one of the following:</h4>
            <h4>1 - Check <b>"Yes"</b> to Auto-ship to at least 1 item in this order.</h4>
            <h4>2 - Have an AutoShip already in place from a prior order</h4>
        }
        else
        {
            <h4 style="background-color: #fce5d7;padding: 1rem;">You can get <b>$10 off</b> and have <b>AutoShip pricing</b> on all the items in this order by doing the following:</h4>
            <h4>Check <b>"Yes"</b> to Auto-ship to at least 1 item in this order.</h4>
        }


        <h3 id="congratsMsg" class="mrgn-cls" style="background-color: #fce5d7;padding: 1rem;display:none;">Congratulations! You already have an Auto-ship on one or more items so you get $10 off of all your items in this order. Weather you add any new auto-ships or not.</h3>
        <div class="bundle-table-cont">

            <div class="table-responsive">
                <table class="table table-bordered" id="bundleTable">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>You Saved</th>
                            <th class="">
                                Auto-Ship<br />
                                Click Yes No
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var bundle in Model)
                            {
                                <tr class="brder-none bundle_tbl_hglttext">
                                    <td colspan="6">
                                        <b>@bundle.BundleName</b>
                                    </td>
                                </tr>
                                if (bundle.bundleItems != null)
                                {
                                    foreach (var item in bundle.bundleItems)
                                    {
                                        <tr class="item-tr">
                                            <td>
                                                <input type="hidden" value="@item.ItemId" class="itemId" />
                                                <b>@item.ItemName</b>
                                            </td>
                                            <td>$<span class="priceTd">@item.Price</span></td>
                                            <td><input type="number" min="0" value="0" oninput="calculateOrderTotal()" class="form-control qty" /></td>
                                            <td><span class="totalTd"></span> </td>
                                            <td><span class="currency"></span> <span class="youSaved"></span> </td>
                                            <td>
                                                <div class="btn-group btn-toggle">
                                                    <button class="btn btn-lg btn-default autoShipBtn">Yes</button>
                                                    <button class="btn btn-lg btn-primary autoShipBtn active">No</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td colspan="2"></td>
                                <td><b>Order Total</b></td>
                                <td><b><span id="orderTotal"></span></b></td>
                                <td><b><span id="discountTotal"></span> </b></td>
                                <td></td>
                            </tr>
                            <tr class="brder-none">
                                <td colspan="6">
                                    <h3 id="congratsMsg2" class="mrgn-cls" style="background-color: #fce5d7;padding: 1rem;display:none;">Congratulations! You already have an Auto-ship on one or more items so you get $10 off of all your items in this order. Weather you add any new auto-ships or not.</h3>
                                </td>
                            </tr>
                            <tr class="brder-none">
                                <td colspan="2"></td>
                                <td colspan="4">
                                    <button onclick="orderNow()" class="btn cart-btn-cls">Add to Cart</button>
                                    <button onclick="orderNow()" class="btn buy-btn-cls">Buy Now</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>



<script src="~/Scripts/PageJs/Bundle.js"></script>
