﻿@model List<Foxxlegacy.ViewModel.ViewModel.CommissionEarnedDescriptionModel>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Type != "Comm")
                {
                    <a class="admin_btn" style="margin:0px !important" onclick="commissionByMonth('@item.TheYear', '@item.Type',@item.TheMonthInt, '@item.TheMonth')">Details</a>

                }
            </td>
            <td>
                @if (item.Type == "Year")
                {
                    @item.TheYear
                }
                else if (item.Type == "Month")
                {
                    @item.TheMonth
                }
                else
                {
                    @item.TheYear
                }
            </td>
            <td>$ @item.total</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3">No records found!</td>
    </tr>
}