﻿
@model List<Foxxlegacy.ViewModel.ViewModel.ViewCommissionModel>

@if (Model != null)
{
    <div class="table-responsive">
        <table class="hometableComm table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name (Rank)</th>                   
                    <th>Commission Type</th>
                    <th>Date</th>
                    <th>Order Amount</th>
                    <th>Order Commission Amount</th>
                    <th>Commission %age</th>
                    <th>Commission Amount</th>
                    <th>Level</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.UserName (@item.UserRankId)</td>                       
                        <td>@item.CommissionType</td>
                        <td>@item.CreatedDate	</td>
                        <td>@item.OrderAmount</td>
                        <td>@item.OrderTotalCommissionAmount </td>
                        <td>@item.CommissionPercentage </td>
                        <td>@item.CommissionAmount </td>
                        <td>@item.CommissionLevel</td>
                        <td>@item.RecordType</td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
}
<script>
    //$(document).ready(function () {
    //    $('.hometableComm').DataTable({
    //        "pageLength": 25,
    //        "ordering": false
    //    });
    //});
</script>
