﻿@model List<Foxxlegacy.ViewModel.ViewModel.UserWiseCommissionModel>


@if (Model != null)
{

    foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name (@item.UserName)</td>
            <td>@item.RoleName</td>
            <td>@item.OrderCount</td>
            @*<td>@item.OrderTotalCommissionAmount </td>*@

            <td>@item.Amount </td>

        </tr>
    }


}

<script>
    $(document).ready(function () {
        $('#userWiseCommsionTable').DataTable({
            "pageLength": 25,
            "ordering": false,
            "bDestroy": true
        });        
    });

</script>