﻿@model List<Foxxlegacy.ViewModel.ViewModel.CommissionDetailByMonthYearModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
<tr>
    <td><a style="margin:0px !important" onclick="getCommissionByOrderId(@item.OrderID)" class="admin_btn1">View Commission details</a></td>
    <td>@item.DateAvailable</td>
    <td>$ @item.SumTotal</td>
    <td>@item.Description</td>
    <td>@item.CommissionType</td>
</tr>
    }
}
else
{
    <tr>
        <td colspan = "3"> No records found!</td>


         </tr>
}
