﻿@model List<Foxxlegacy.ViewModel.ViewModel.CSJDetailsViewModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
<tr>
    <td>@item.JournalEntryDate</td>
    <td>@item.LastModAdmin</td>
    <td>@item.Comments</td>
</tr>
    }
}
else
{
    <tr>
        <td colspan="3">No records found !</td>
    </tr>
}