﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moremito</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="~/Content/customV4.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Scripts/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/stellarnav_v1.css" rel="stylesheet" />
    <link href="~/Content/member-site_v1.css" rel="stylesheet" />

    <script src="~/Scripts/stellarnav.js"></script>
    <script src="~/Scripts/common-function.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
    <link href="~/Content/main.css" rel="stylesheet" />
    @*<link href="~/Content/admin-site.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/loadingoverlay.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
</head>
<body>

   
    <div class="member_header">
        <div class="container">
            <div class="row flex-wrap-cls">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="/Home/Home" class="logomember">
                        <img src="~/Images/moreMito_Logo-new.png" />
                    </a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header_r">
                        <div class="header_r_l">
                            <p><b>Welcome, <span id="UserFullName"></span> </b> (<span id="UserName"></span>)</p>
                            <p>Membership Type: <span id="MemberType"></span> </p>
                            <p>
                                Highest Rank Achieve: <span id="highestRank">NA/Rank</span> : <span id="currentRank">NA/Rank</span>
                                
                                <a id="btnAdmin" href="@Url.Action("Home", "Refresh")"><img src="~/Images/refresh.png" /></a>
                            </p>
                        </div>
                        <div class="header_r_r">
                            <a id="btnAdminSettings" style="display:none;" href="@Url.Action("Home", "Admin")"><i class="fa fa-cog" aria-hidden="true"></i></a>
                            @*<a href="@Url.Action("UserLogout", "Login")">Log Out</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="menu" class="stellarnav member_navigation">


        @*<ul>
            <li class="has-sub">
                <a href="@Url.Action("Dashboard", "Members")">Home</a>
                <ul>
                    <li><a href="@Url.Action("Calendar", "Home")">Calendar</a></li>
                    <li><a href="@Url.Action("Events", "Home")">Corporate Events</a></li>
                    <li><a href="@Url.Action("FAQ", "Home")">Frequently Asked Questions</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="@Url.Action("MyInfo", "Members")">My Info</a>
                <ul>
                    <li><a href="@Url.Action("MyInfo", "Members")">Account Settings</a></li>
                    <li><a href="@Url.Action("NotificationSettings", "Members")">Email Notification Settings</a></li>
                    <li><a href="@Url.Action("SMSNotificationSettings", "Members")">Text Notification Settings</a></li>
                    <li><a href="@Url.Action("MyPersonals", "Members")">My Personals</a></li>
                    <li><a href="@Url.Action("MyRep", "Members")">My Support Network</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="">My Network</a>
                <ul>
                    <li class="has-sub">
                        <a href="@Url.Action("Genealogy", "Members")">My Referral Network</a>
                        <ul>
                            <li><a href="@Url.Action("GenealogySearch", "Members")">Search My Referral Network</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("MyRep", "Members")">My Support Network</a></li>
                    <li><a href="@Url.Action("ReportsSilver1Star", "Members")">Silver 1 Star Report</a></li>
                    <li><a href="@Url.Action("ReportsSilver2Star", "Members")">Silver 2 Star Report</a></li>
                    <li><a href="@Url.Action("TeamCustomerCounts", "Members")">Leg Count and Team Customers Report</a></li>
                    <li><a href="@Url.Action("RankHistory", "Members")">My Rank History</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="@Url.Action("MyContacts", "Contacts")">Contacts</a>
                <ul>
                    <li><a href="@Url.Action("ContactAdmin", "Contacts")">Contact Admin</a></li>
                    <li><a href="@Url.Action("MyContacts", "Contacts")">People Contacting Me</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="">Orders</a>
                <ul>
                    <li><a href="@Url.Action("MyOrders", "Members")">My Orders</a></li>
                    <li><a href="@Url.Action("MyRep", "Members")">My Personal Referral's Orders</a></li>
                    <li><a href="@Url.Action("MyRep", "Members")">My Pass Up Orders</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="">Commissions</a>
                <ul>
                    <li><a href="@Url.Action("FoxxCashIssued", "Members")">1 - Commissions Available For Purchase</a></li>
                    <li><a href="@Url.Action("FoxxCashPending", "Members")">2 - Pending Commissions </a></li>
                    <li><a href="@Url.Action("MyFoxxCashRC", "FoxxCashController")">3 - Issued Commissions </a></li>
                    <li><a href="@Url.Action("Sweeper", "Members")">4 - Request Payment</a></li>
                    <li><a href="@Url.Action("SweeperHistory", "Members")">5 - Payment History</a></li>
                    <li>
                        <a href="@Url.Action("TransferFC", "Members")">Transfer Foxx Cash</a>
                        <ul>
                            <li><a href="@Url.Action("TransferFCHistory", "Members")">Foxx Cash Transfer History</a></li>
                            <li><a href="@Url.Action("FoxxCashDetails", "Members")">Foxx Cash Details</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="@Url.Action("MyFoxxCashRC", "Members")">Foxx Cash</a>
                <ul>
                    <li><a href="@Url.Action("MyFoxxCashRC", "FoxxCash")">1 - My Foxx Cash</a></li>
                    <li><a href="@Url.Action("FoxxCashDetails", "FoxxCash")">2 - Details</a></li>
                    <li><a href="@Url.Action("SweeperHistory", "FoxxCash")">Redeemed</a></li>
                    <li><a href="@Url.Action("TransferFC", "FoxxCash")">Transfer Foxx Cash</a></li>
                    <li><a href="@Url.Action("TransferFCHistory", "FoxxCash")">Foxx Cash Transfer History</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="@Url.Action("Resources", "Members")">Info Center</a>
                <ul>
                    <li><a href="@Url.Action("MobileApp", "Members")">Foxx Legacy Mobile App</a></li>
                    <li><a href="@Url.Action("MobileAppRecipientData", "Members")">Mobile App Activity</a></li>
                    <li><a href="@Url.Action("FoxxNetwork", "Members")">FoxxNetwork.com Website</a></li>
                    <li><a href="@Url.Action("TMRIS", "Members")">Text Message Info System</a></li>
                    <li><a href="@Url.Action("MyLeads", "Members")">My Generated Leads</a></li>
                    <li><a href="@Url.Action("Resources", "Members")">File Resources</a></li>
                    <li><a href="@Url.Action("Calendar", "Members")">Calendars</a></li>
                    <li><a href="@Url.Action("AdLinks", "Members")">My Ad Links</a></li>
                    <li><a href="@Url.Action("FAQ", "Members")">Frequently Asked Questions</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Upgrade", "Members")">Upgrade</a></li>
            <li><a href="">Shop Foxx</a></li>
            <li><a href="@Url.Action("RecurringOrders", "Members")">Recurring Orders</a></li>
            <li><a href="@Url.Action("UserLogout", "Login")">Log Out</a>
        </ul>*@
    </div>

    @RenderBody()

    <div class="footer memberfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="memberfooter_l"><p>Copyright © 2021 <a href="">More Mito LLC</a>. All rights reserved.</p></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="memberfooter_r">
                        <p>Hand-crafted & made with <i class="far fa-heart"></i>  <a href="">by Fitser</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                changeMonth: true,
                changeYear: true
            });

            getCurrentUser();
        });
        jQuery(document).ready(function ($) {
            jQuery('.stellarnav').stellarNav({
                theme: 'dark',
                breakpoint: 991,
                position: 'right',
                phoneBtn: '18009997788',
                locationBtn: 'https://www.google.com/maps'
            });
        });

        function showLoader(elementID) {
            $("#" + elementID).LoadingOverlay("show", {
                imageColor: "#0095cd",
                imageAutoResize: true
            });
        }
        function hideLoader(elementID) {
            $("#" + elementID).LoadingOverlay("hide");
        }
        function isNumberKeyD(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 46) {
                if (txt.value.indexOf('.') > -1) {
                    return true;
                } else {
                    return false;
                }
            }
            else if (charCode == 45) {
                if (txt.selectionStart == 0) {
                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                if (charCode > 31
                    && (charCode < 48 || charCode > 57))
                    return false;
            }
            return true;
        }
        function isDecimalKeyD(txt, evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            //var value = $('#' + txt.id).val();
            if (charCode == 46) {
                if (txt.value.indexOf('.') === -1) {
                    return true;
                } else {
                    return false;
                }
            }
            else if (charCode == 45) {
                if (/*txt.value.length == 0*/ txt.selectionStart == 0) {
                    return true;
                }
                else {
                    return false;
                }

            }
            else {
                if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
            }
            return true;
        }
        function floatParse(val) {
            var value = isNaN(parseFloat(val)) ? parseFloat(0) : parseFloat(val);
            if (!isFinite(value)) {
                value = 0;
            }

            return value;
        }
        function IntParse(val) {
            var value = isNaN(parseInt(val)) ? parseInt(0) : parseInt(val);
            return value;
        }

        function getCurrentUser() {
            var divId = 'btnAdminSettings';
            showLoader(divId);
            $.ajax({
                url: '/Members/IsAdminUser',
                type: "GET",               
                success: function (data) {
                    console.log('res', data);
                    if (data.status == true) {
                        $("#btnAdminSettings").show();
                    } else {
                        $("#btnAdminSettings").hide();
                       
                    }
                    if (data.HighestRank != '' && data.HighestRank != undefined) {
                        $('#highestRank').text(data.HighestRank);
                    }
                    if (data.CurrentRank != '' && data.CurrentRank != undefined) {
                        $('#currentRank').text(data.CurrentRank);
                    }
                    hideLoader(divId);
                },
                error: function () {
                    hideLoader(divId);
                }
            });
        }
    </script>

    <script type="text/javascript">

        function accountinfo() {
            var href = "";
            var balanceVal = 0;
            var userName = "";
            var fullName = "";
            var email = "";
            var MemberType = "";
            var expouserlimit = 0;
            var liability = 0;
            var totalBetPoint = 0;
            var logopath = "";
            var IsAdmin = "";
            var MembershipType = "";

            //Balance Value Updatation
            $.ajax({
                type: "GET",
                url: "/Login/UserCommonData",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                cache: false,
                async: true,
                success: function (result) {

                    $("#UserFullName").html("");
                    $("#UserName").html("");
                    $("#MemberType").html("");
                    userName = result.data.UserName;
                    fullName = result.data.FirstName + " " + result.data.LastName + " ";
                    IsAdmin = result.data.IsAdmin;
                    MembershipType = result.data.MembershipType;
                    //email = result.data.Email;
                    logopath = result.data.ProviderLogoPath;
                    $("#UserName").html(userName);
                    $("#UserFullName").html(fullName);
                    $("#MemberType").html(MembershipType);


                    if (IsAdmin == true) {
                        $("#btnAdmin").show();
                    } else {
                        $("#btnAdmin").hide();
                    }

                    // $("#email").html(email);
                    // $("#MemberType").html(MemberType);
                    //$('#logopath').html(logopath);
                    //$('#logourl').attr("src", logopath).addClass("active");
                    //$(".RoleId").val(result.data.RoleId);

                    //if (result.data.RoleId == 2) {
                    //    // $("#Lbl_Admin").show();
                    //    $(".CaseName").text("Cases ");
                    //    $("body").addClass("exp_btn_enable_only");
                    //}
                    //else {
                    //    $(".CaseName").text("Open Cases ");
                    //    // $("#Lbl_User").show();
                    //}

                }
            });
        };

        function getMenu() {

            $.ajax({
                type: "GET",
                url: "/Login/AllMenu",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                cache: false,
                success: function (result) {

                    // $(".menucontent").html(result.data);
                    var menu = result.data;
                    $("#menu").append(menu);
                    //  $("#menu").html(menu);
                    // $("#menu").append('<li>' + menu+'</li>');
                    // $("#menu").append('<li><a href="#">New list item</a></li>');
                    // $("#menu").append(result.data);

                    jQuery('.stellarnav').stellarNav({
                        theme: 'dark',
                        breakpoint: 991,
                        position: 'right',
                        phoneBtn: '18009997788',
                        locationBtn: 'https://www.google.com/maps'
                    });
                }
            });
        };

        accountinfo();
        getMenu();
    </script>

    <script>

        $(function () {

            /*expend and collapse*/

            $(".treeView li").each(function () {
                if ($(this).children('ul').length > 0) {
                    $(this).addClass('parent');
                }
            });
            $(".treeView .parent button").on(
                "click", function () {

                    $(this).parent("li").toggleClass('active').children('ul').slideToggle();
                    if ($(this).parent("li").hasClass('active')) {
                        $(this).text('-')
                    } else {
                        $(this).text('+')
                    }

                });

            /*checkbox function*/

            /*function called on change */
            $(".treeView input[type='checkbox']").on(
                "change", function () {
                    /*function called here */
                    checkParents($(this));
                    checkChildren($(this));
                });

        });
        /*for check parent */
        function checkParents(c) {
            var parentLi = c.parents('ul:eq(0)').parents('li:eq(0)');
            if (parentLi.length) {
                var siblingsChecked = parseInt($('input[type="checkbox"]:checked', c.parents('ul:eq(0)')).length),
                    rootCheckbox = parentLi.find('input[type="checkbox"]:eq(0)')
                    ;

                if (c.is(':checked'))
                    rootCheckbox.prop('checked', true)
                else if (siblingsChecked === 0)
                    rootCheckbox.prop('checked', false);

                checkParents(rootCheckbox);
            }

        }
        /*for check children */
        function checkChildren(c) {
            var childLi = $('ul li input[type="checkbox"]', c.parents('li:eq(0)'));

            if (childLi.length)
                childLi.prop('checked', c.is(':checked'));
        }

    </script>




</body>
</html>
