﻿@model  Foxxlegacy.ViewModel.ViewModel.AdminCommissionViewModel
<style>
    ul li:before {
        position: absolute;
        top: 6px;
        left: 0;
        background: #ffff !important;
        border-radius: 50%;
        width: 8px;
        height: 8px;
       padding:0px;
    }
</style>
@if (Model != null)
{
    
<ul class="nav nav-pills">
    <li class="active"><a data-toggle="tab" href="#range-search">Commissions Summary</a></li>
    <li><a data-toggle="tab" href="#search-order">Qualification</a></li>
    <li><a data-toggle="tab" href="#active-customer">Active Customer meta data</a></li>
    <li><a data-toggle="tab" href="#rank-history">Rank History</a></li>
</ul>
<div class="tab-content">
    <div id="range-search" class="tab-pane fade in active">
        <div class="table-responsive">
            <table class="hometableComm table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>

                        <th>User Name (Rank)</th>
                        <th>Compensation Type</th>
                        <th>Order Amount</th>
                        <th>Compensation %age</th>
                        <th>Compensation Amount</th>
                        <th>Level</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model._commissionList)
                    {
                        <tr>
                            <td>@item.UserName (@item.UserRankId)</td>
                            <td>@item.CommissionType</td>

                            <td>@item.OrderAmount</td>

                            <td>@item.CommissionPercentage </td>
                            <td>@item.CommissionAmount </td>
                            <td>@item.CommissionLevel</td>
                            <td>@item.RecordType</td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
    </div>
    <div id="search-order" class="tab-pane fade">
        <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="commDetailsMonthWise">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Entry Date</th>
                    <th>Expiry Date</th>


                </tr>
            </thead>
            <tbody>
                @if (Model._userQualify != null)
                {
                    foreach (var item in Model._userQualify)
                    {
                        <tr>
                            <td>@item.UName (@item.username)</td>
                            <td>
                                @if (item.dateofentry.HasValue)
                                {
                                    @item.dateofentry.Value.ToString("dd-MM-yy");
                                }
                            </td>
                            <td>
                                @if (item.QualTillDate.HasValue)
                                {
                                    @item.QualTillDate.Value.ToString("dd-MM-yy");
                                }
                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    <div id="active-customer" class="tab-pane fade">
        <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
            <thead>
                <tr>
                    <th>Sponsor Name</th>
                    <th>Next Unilevel Sponsor</th>
                    <th>Personal Customer</th>


                </tr>
            </thead>
            <tbody>
                @if (Model._activeCustomerMetaData != null)
                {
                    foreach (var item in Model._activeCustomerMetaData)
                    {
                        <tr>
                            <td>@item.SponsorName</td>
                            <td>@item.NextSponsorName</td>
                            <td>
                                @item.PersonalCustomer
                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    <div id="rank-history" class="tab-pane fade">
        <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>New Rank</th>
                    <th>Promo Date</th>
                    


                </tr>
            </thead>
            <tbody>
                @if (Model._rankHistory != null)
                {
                    foreach (var item in Model._rankHistory)
                    {
                        <tr>
                            <td>@item.UName (@item.username)</td>
                            <td>@item.RankName</td>
                            <td>
                                @if (item.promodate.HasValue)
                                {
                                    @item.promodate.Value.ToString("dd-MM-yy");
                                }
                                <span style="display:none;">@item.ranktype</span>
                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>
    
}