﻿

@model List<Foxxlegacy.ViewModel.ViewModel.ViewCommissionModel>

@if (Model != null)
{
    <div class="table-responsive">
        <table class="hometableComm table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Detail</th>
                    @*<th>User ID</th>*@
                    <th>User Name</th>
                    <th>Order No.</th>
                    @*<th>
            Compensation
            Type
        </th>*@
                    <th>Date</th>
                    <th>Order Amount</th>
                    @*<th>Order Compensation Amount</th>*@
                    @*<th>Compensation Percentage</th>*@
                    <th>Compensation Amount</th>
                    @*<th>Level</th>
        <th>Type</th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td><a href="#!" onclick="showCommissions(@item.OrderId)">Detail</a> </td>
                    @*<td>@item.UserId</td>*@
                    <td>@item.OrderOwner</td>
                    <td>@item.OrderId	</td>
                    @*<td>@item.CommissionType</td>*@
                    <td>
                        @if (item.CreatedDate.HasValue)
                        {
                            @item.CreatedDate.Value.Date.ToString("dd-MM-yyyy")
                        }

                    </td>
                    <td>$@item.OrderAmount</td>
                    @*<td>$@item.OrderTotalCommissionAmount </td>*@
                    @*<td>@item.CommissionPercentage </td>*@
                    <td>@item.CommissionAmount </td>
                    @*<td>@item.CommissionLevel</td>*@
                    @*<td>@item.RecordType</td>*@

                </tr>
                }
            </tbody>


        </table>
    </div>
}
<div class="modal fade" id="mycommissionByOrderId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order_header">Commission details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div id="mycommBodyByOrderId">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.hometableComm').DataTable({
            "pageLength": 25,
            "ordering": false
        });
    });
    function showCommissions(orderId) {

        showLoader('mycommissionByOrderId');
        
        $('#mycommissionByOrderId').modal('show');
        $('#mycommBodyByOrderId').html('');
        $.ajax({
            url: '/Members/GetCommisionsByOrderId?OrderId=' + orderId,
            type: "GET",
            success: function (data) {
                debugger
                console.log('res', data);
                $('#order_header').text('Compensation details for Order ID :' + orderId)
                $('#mycommBodyByOrderId').html('');
                if (data != undefined && data.content != undefined) {
                    $('#mycommBodyByOrderId').append(data.content);
                }
                hideLoader('mycommissionByOrderId');
            },
            error: function () {
                hideLoader('mycommissionByOrderId');
            }
        });
    }
</script>