﻿@model List<Foxxlegacy.ViewModel.ViewModel.NotFoundModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Description
            </td>
           
        </tr>
    }
}
else
{
<tr>
    <td>No records found !</td>
</tr>

}
