﻿@model List<Foxxlegacy.ViewModel.ViewModel.PlivoOptInOutReportModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
<tr>
    <td>@item.phone</td>
    <td>@item.From</td>
    <td>@item.MessageIntent</td>
    <td>@item.SmsText</td>
    <td>@item.createdon</td>
    <td>@item.username</td>
    <td><span class="badge badge-primary">@item.OptType</span> </td>
</tr>
    }
}
else
{
    <tr>
        <td colspan="5">No Record found!</td>
    </tr>
}