﻿@model List<Foxxlegacy.ViewModel.ViewModel.CommissionPaidModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>         
            <td>@item.CreateDate</td>
            <td>$ @item.Amount</td>
            <td>@item.Description</td>
            <td>@item.Paid</td>
            <td>@item.PaidDate</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5"> You have no sweeper events at this time.!</td>


    </tr>
}
