﻿@model  List<Foxxlegacy.ViewModel.ViewModel.PaymentMethodsViewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @item.paymentName
                @if (item.field1_req == true)
                {

                }
                <span class="r1" style="display:none;">@item.field1_req</span>
                <span class="r2" style="display:none;">@item.field2_req</span>
                <span class="r3" style="display:none;">@item.field3_req</span>
                <span class="r4" style="display:none;">@item.field4_req</span>
                <span class="r5" style="display:none;">@item.field5_req</span>
                <span class="r6" style="display:none;">@item.field6_req</span>
            </td>
        <td>
            @if (!string.IsNullOrEmpty(item.tb_field1))
            {
                @item.tb_field1 <span>( @item.field1_req)</span>
            }

        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.tb_field2))
            {
                @item.tb_field2 <span>( @item.field2_req)</span>
            }

        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.tb_field3))
            {
                @item.tb_field3 <span>( @item.field3_req)</span>
            }

        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.tb_field4))
            {
                @item.tb_field4 <span>( @item.field4_req)</span>
            }

        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.tb_field5))
            {
                @item.tb_field5 <span>( @item.field5_req)</span>
            }

        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.tb_field6))
            {
                @item.tb_field6 <span>( @item.field6_req)</span>
            }

        </td>


       
        <td>
            <a href="#!" onclick="EditPaymentMethod(@item.Id, '@item.paymentName', '@item.tb_field1', '@item.tb_field2', '@item.tb_field3', '@item.tb_field4', '@item.tb_field5', this)">Edit</a>
            <a href="#!" onclick="DeletePaymentMethod(@item.Id)">Delete</a>
        </td>
    </tr>
}
}
