﻿@model  List<Foxxlegacy.ViewModel.ViewModel.PaymentMethodsViewModel>

@if (Model != null) {
    foreach (var item in Model)
    {
        <tr>
            <td>@item.paymentName</td>
            <td><a href="#!" onclick="paymentDetails(@item.Id, '@item.paymentName')" >Details</a></td>
            <td><input type="button" onclick="addThisMethod(@item.Id, '@item.paymentName')" class="changepasswordbtn" style="margin-bottom:10px;" value="Add this method" /> </td>
        </tr>
    }
}
