﻿@model List<Foxxlegacy.ViewModel.ViewModel.CommissionDetailByMonthYearModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
<tr>
    <td><a style="margin:0px !important" onclick="getCommissionByOrderId(@item.OrderID)" class="admin_btn">View Commission details</a></td>
    <td>@item.CreateDate</td>
    <td>@item.DateAvailable</td>
    <td>$ @item.SumTotal</td>
    <td>@item.Description</td>
</tr>
    }
}
else
{
    <tr>
        <td colspan="5"> No commissions pending at this time!</td>


    </tr>
}
