﻿@{

    Layout = null;
}


<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<style>
    section.product-banner {
        background: #d5d5d5;
    }

        section.product-banner .img-hldr {
            width: 100%;
            max-width: 1200px;
            float: none !important;
            margin: 0 auto;
        }

        section.product-banner .maindiv {
            height: 850px;
            padding-top: 100px;
        }

        section.product-banner .bg {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        section.product-banner .heading {
            color: #fff;
            font-size: 54px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-top: 10px;
        }

        section.product-banner p {
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 40px;
        }

        section.product-banner .arrow-image {
            margin: 20px 0;
            margin-top: 100px;
        }

    @@media screen and (max-width: 767px) {
        section.product-banner .heading, section.product-template .product-heading h1 {
            font-size: 28px;
        }

        section.product-banner .maindiv {
            padding: 20px 10px !important;
        }

        section.product-banner p {
            font-size: 16px;
        }
    }

    @@media screen and (max-width: 1199px) {
        section.product-banner .maindiv {
            height: auto;
            padding: 100px 15px 0 15px;
        }

        section.product-banner .arrow-image {
            margin-top: 20px;
        }
    }
</style>
<style>
    div#shopify-section-related-products {
        padding: 55px 0;
        padding-top: 40px;
        text-align: center;
        background: #fff;
    }

        div#shopify-section-related-products p {
            font-size: 16px;
            text-transform: unset;
            margin-bottom: 0;
            padding: 15px;
        }

        div#shopify-section-related-products .product-heading h1 {
            font-size: 28px;
            color: #000;
            margin: 40px 0;
            text-transform: uppercase;
        }

            div#shopify-section-related-products .product-heading h1:after {
                background: #60bd0e;
                width: 40px;
                height: 3px;
                display: block;
                content: '';
                margin: 0 auto;
                margin-top: 10px;
            }

        div#shopify-section-related-products .card_item {
            position: relative;
            transition: all .3s ease-in-out;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
            border-bottom: 3px solid #60bd0e;
            min-height: 310px;
            text-align: center;
            margin: 0 15px;
        }

            div#shopify-section-related-products .card_item:hover {
                transform: translateY(-8px);
                transition: 0.6s all ease;
                text-decoration: none;
            }

            div#shopify-section-related-products .card_item img {
                width: 100%;
                height: 230px;
            }

        div#shopify-section-related-products .grid-view-item__image {
            max-width: 100%;
            max-height: 100%;
        }

        div#shopify-section-related-products .slick-prev:before,
        div#shopify-section-related-products .slick-next:before {
            color: #60bd0e;
            font-weight: 600;
            font-size: 40px;
            opacity: 1;
        }

        div#shopify-section-related-products .slick-prev:before {
            display: block;
            content: '\f100';
            font-family: 'FontAwesome';
            animation: slide1 1s ease-in-out infinite;
        }

        div#shopify-section-related-products .slick-next:before {
            display: block;
            content: '\f101';
            font-family: 'FontAwesome';
            animation: slide2 1s ease-in-out infinite;
        }

        div#shopify-section-related-products .slick-prev {
            left: -30px;
        }

        div#shopify-section-related-products .slick-next {
            right: -23px;
        }

    @@media screen and (max-width: 991px) {
        div#shopify-section-related-products .slick-prev {
            left: -20px;
        }

        div#shopify-section-related-products .slick-next {
            right: -7px;
        }
    }

    @@media screen and (max-width: 767px) {
        div#shopify-section-related-products .product-heading h1 {
            font-size: 24px;
        }

        div#shopify-section-related-products .card_item {
            min-height: auto;
            margin-bottom: 20px !important;
        }

        div#shopify-section-related-products .product-card {
            padding: 0;
        }

        div#shopify-section-related-products .tab-slider {
            display: none;
        }
    }

    @@media screen and (min-width: 768px) and (max-width: 991px) {
        div#shopify-section-related-products .page-width {
            padding: 0 20px;
        }

        div#shopify-section-related-products li.grid__item.small--one-whole.medium-up--one-quarter.product-card {
            padding-left: 15px;
        }
        /* div#shopify-section-related-products .card_item {
         min-height: 320px;
         } */
    }
</style>
<main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
    <div id="shopify-section-product-banner" class="shopify-section">
        <section class="product-banner text-center">

            <div class="bg" style="background-image: url('/Images/petColl_large.jpg')">
                <div class="maindiv">
                    <h1 class="heading">UltraMito Products For Pets</h1>
                    <p>A Little Drop Goes a Long Way to Better Health. A Dog is the Only Thing That Loves You More Than He Loves Himself.</p>
                    <div class="img-hldr" style="float: left; width: 100%;">
                        <script src="//fast.wistia.com/embed/medias/rf5w5n52fj.jsonp" async=""></script>
                        <script src="//fast.wistia.com/assets/external/E-v1.js" async=""></script>
                        <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                            <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><span class="wistia_embed wistia_async_rf5w5n52fj popover=true popoverAnimateThumbnail=true videoFoam=true wistia_embed_initialized" style="display: inline-block; height: 100%; width: 100%" id="wistia-rf5w5n52fj-1"><div id="wistia_41.thumb_container" class="wistia_click_to_play" style="position: relative; height: 675px; width: 1200px;"><div id="wistia_71.thumbnail" tabindex="0" style="cursor: pointer; display: block; height: 675px; overflow: hidden; outline: none; position: relative; width: 1200px;" class="wistia_mouseover"><div id="wistia_87.big_play_button_background" style="height: 675px; position: absolute; width: 1200px; z-index: 1; background-color: rgba(84, 187, 255, 0.5); left: 0px; top: 0px; transition: all 80ms ease-out 0s; mix-blend-mode: multiply;"></div><div id="wistia_87.big_play_button_graphic" tabindex="0" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH8AAABRCAYAAAD7G3lVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATFJREFUeNrs22FtwkAYx+F2QcAkMAfgYBKQwBxMQh1MwiRQB+CgEoaDzkG5S1a+E5IF+n+e5D4ve3+7N0s4mgYAAAAAAAAAAAAA7jFN06cp5MavjuWsTSMzfjWWszORzPizQzmvJpMZ3xYIj28LiG8LpMeffdsCufGrn3LeTS0z/uzLFsiNbwuEx7cFxL9ugY1pZsafdSaaG78abIHc+LaA+MvbAi/+XG5Sww9L2QLtEm/+P/2oUzkfbduexc+LX51L/DdrP09fzvaZf4GVhjf7/Vv3vVFk/bfvMUhg/PoAZG+6efE9Aw+MP/oCSGZ8tz0wvtseGn9w2zPjdyaXF99n9aHx3fbA+G57aHy3PTC+N/mh8b3DD4zvtofGd9tD47vtAAAAAAAAAAAAADymiwADAOSj1JBfF8xMAAAAAElFTkSuQmCC&quot;) 0px 0px / 127px 81px no-repeat transparent; cursor: pointer; display: block; height: 81px; outline: none; position: absolute; width: 127px; z-index: 1; left: 537px; top: 297px;" class=""></div><img id="wistia_71.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-fastly.wistia.com/deliveries/759fa02cd4482c6beee0995644136823f58e5d63.webp?image_crop_resized=1280x720" style="border: 0px; display: block; float: none; height: 675px; margin: 0px; max-height: none; max-width: none; padding: 0px; position: absolute; width: 1200px; left: 0px; top: 0px;"><div id="wistia_87.big_play_button_bottom_text" style="color: rgb(255, 255, 255); font-family: &quot;Courier New&quot;, Courier, sans-serif; font-size: 22px; background: none; left: 0px; position: absolute; text-align: center; width: 100%; z-index: 1; top: 381px;">2:32</div></div></div></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="arrow-image" src="~/Images/arrow_small.png" alt="Arrow Image">
        </section>


    </div>
    <div class="product-heading text-center">

        <h1><a href="~/Images/Files/UltraMito_pet_life_PDF_2022-07-12DB.pdf" target="_blank">Please click here for Pet product details:</a></h1></br></br>
        <img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/products/PetBttle10-7_110x110@2x.jpg?v=1633538892alt=" Product Image" /></br>
        @*<h1><a href="/@ViewBag.ControlllerName/Bundle?type=pet">Please Click Here To Purchase Pet Products:</a></h1></br></br>*@
        <h1><a href="#!" onclick="shopBundle('pet')">Please Click Here To Purchase Pet Products:</a></h1></br></br>


        <div id="shopify-section-related-products" class="shopify-section">
            <div class="page-width">
                <img class="arrow-image" src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/arrow_small.png?v=1618213953" alt="Arrow Image">
                <div class="product-heading text-center">
                    <h1>You may also like</h1>
                </div>
                <ul class="related-products desktop-slider slick-initialized slick-slider">
                    <li class="product-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="option" tabindex="-1" style="width: 364px;">
                        <div class="card_item">
                            <a href="/@ViewBag.ControlllerName/UltramitoRestore" tabindex="0">
                                <img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/thumbnail_Restore-bottle.jpg?v=1622493898" alt="Product Image">
                                <p>UltraMito Restore 3.0</p>
                            </a>
                        </div>
                    </li>
                    <li class="product-item slick-slide slick-active" data-slick-index="1" aria-hidden="false" role="option" tabindex="-1" style="width: 364px;">
                        <div class="card_item">
                            <a href="/@ViewBag.ControlllerName/Rejuvenate" tabindex="0">
                                <img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/thumbnail_Rejuvenate_Jar.jpg?v=1622493898" alt="Product Image">
                                <p>Rejuvenate</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</main>
