﻿
@model List<Foxxlegacy.ViewModel.ViewModel.PlivoOptInOutReportModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.phone</td>
            <td>@item.From</td>
         
            <td>@item.SmsText</td>
            <td>@item.createdon</td>
            <td>@item.username</td>
            <td>
                @if (item.IsOptOut == true)
                {
                    @*<button class="btn" onclick="optOut('@item.From', '@item.phone','optin')">Opt In</button>*@
                   
                    <span class="badge badge-success">Opted out</span>
                }
                else
                {
                    <button class="btn" onclick="optOut('@item.From', '@item.phone','optout')">Opt Out</button>
                }

            </td>
            <td></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">No Record found!</td>
    </tr>
}
<script>
    function optOut(from,to,optType) {
        var smsText = 'Stop';
       // var from = 'moremitoAdmin';
        var messageintent = 'optout';
        var messageUUID = 'moremito';
        showLoader('sendToAllBody');
        $.ajax({
            url: '/Admin/OptOutInUser?Phone=' + from + '&OptType=' + optType + '&Text=' + smsText,
            type: "GET",
            
            success: function (data) {
                debugger
                console.log('res', data);
                if (data.status) {
                    if (data.statusCode == 200) {
                        alert('Opted out successfully');
                        optReport(2);
                    } else if (data.statusCode == 500) {
                        alert('Already opted out')
                    }
                } else {
                    alert('Error :' + data.msg);
                }
                hideLoader('sendToAllBody');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('sendToAllBody');
            }
        });
    }
</script>