﻿@model List<Foxxlegacy.ViewModel.ViewModel.RankPromotion>

@if (Model.Count > 0)
{
<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" width="100%" class="hometableComm table table-striped table-bordered dataTable no-footer">
        <thead>
            <tr>
                <th>
                    Rank Name
                </th>
                <th>
                    Order Number
                </th>
                <th>
                    PromoDate
                </th>
                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(x => x[i].RankName)</td>
                    <td>@Html.DisplayFor(x => x[i].OrderNo)</td>
                    <td>@Html.DisplayFor(x => x[i].PromoDate)</td>

                </tr>
            }
        </tbody>
          

       
    </table>
</div>
   
}
else
{
    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
        <tbody>
            <tr>
                <td colspan="3">No history found</td>
            </tr>
        </tbody>
    </table>
}
