﻿@model Foxxlegacy.ViewModel.ViewModel.RankManagementViewModel
@{
    Layout = null;
}


@if (Model != null)
{
  
    @*<link href="~/Assets/RankHistoryReport/css/style.css" rel="stylesheet" />*@
   

    <div class="rank-management-tbl py-5 my-5">
        <div class="container">
            <h1 class="fs-5 text-center mb-5">
                <b>Rank Management Report for @Model.myRankData.Name (@Model.myRankData.UserName)</b><br>
                Your current rank is: @Model.myRankData.RankName <span class="table-hd-text">
                    You are <b><a href="https://app.box.com/s/ri2cqi5rj64ghq63s91o6achz1tjz2mu" target="_blank" class="text-black">personally qualified</a></b> by: @Model.myRankData.QualifiedBy@*<sup>1</sup>*@<br>
                    Expiring on: @if (Model.myRankData.ExpiringOn.HasValue)
                    {
                        @Model.myRankData.ExpiringOn.Value.Date.ToShortDateString()
                    }
                </span>
            </h1>
            <div class="table-responsive table-cont">
                <table class="table w-100 rank-table-cont mb-4 border-0">
                    <thead>
                        <tr>
                            <th class=""></th>
                            <th class=""></th>
                            <th class="tbl-pd-rgt">Legs with</th>
                            <th class="sky-bg" colspan="3">Legs with at least</th>
                        </tr>
                    </thead>
                    <tbody class="border-0">
                        <tr>
                            <td class="green-bg"><span class="border-cls-cstm border-lrt-cls">My current rank is</span></td>
                            <td class="tbl-pd-lft">Customers</td>
                            <td class="tbl-pd-rgt">Active Customers</td>
                            <td>1 *Silver</td>
                            <td>1 *Silver and 1 **Silver</td>
                            <td>2 **Silvers</td>
                        </tr>
                        <tr class="mb-4">
                            <td class="green-bg"><span class="border-cls-cstm border-lrb-cls">@Model.myRankData.RankName</span></td>
                            <td class="green-bg border-tp-cstm tbl-pd-lft">@Model.myRankData.Customers</td>
                            <td class="green-bg border-tp-cstm tbl-pd-rgt">@Model.myRankData.LegsWithActiveCustomers</td>
                            <td style="background-color:@Model.myRankData.S1_bg_color" class="border-tp-cstm">@Model.myRankData.Silver_1Star</td>
                            <td style="background-color:@Model.myRankData.S2_bg_color" class="border-tp-cstm">@Model.myRankData.Silver_1_2Star</td>
                            <td style="background-color:@Model.myRankData.S3_bg_color" class="border-tp-cstm">@Model.myRankData.Silver_2Star</td>
                        </tr>
                        <tr class="my-4 d-block"></tr>
                        @if (Model != null && Model.nextRanks != null)
                        {
                            foreach (var item in Model.nextRanks)
                            {
                                <tr>
                                    <td class="">
                                        <p>@item.RankName Requirements</p>
                                    <td>
                                        @if (item.CappedCustomerCount == 0)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            @item.CappedCustomerCount
                                        }
                                    </td>
                                    <td>
                                        @if (item.Display1 == 0)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            @item.Display1
                                        }

                                    </td>
                                    <td>
                                        @if (item.Display2 == 0)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            @item.Display2
                                        }
                                    </td>
                                    <td>
                                        @if (item.Display3 == 0)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            @item.Display3
                                        }
                                    </td>
                                    <td>
                                        @if (item.Display4 == 0)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            @item.Display4
                                        }
                                    </td>
                                </tr>
                            }
                        }


                        <tr class="per-list-cont">
                            <td></td>
                            <td></td>
                            <td>
                                <br />
                                <div class="first_row scrollone">
                                    @if (Model != null && Model.ranksNames != null)
                                    {
                                        foreach (var item in Model.ranksNames)
                                        {
                                            <p><a href="#">@item.Name</a></p><hr />
                                        }
                                    }
                                    <p id="first"></p>
                                </div>
                            </td>
                            <td>
                                <br />
                                <div class="second_row scrolltwo">
                                    @if (Model != null && Model.Silver_1Star != null)
                                    {
                                        foreach (var item in Model.Silver_1Star)
                                        {
                                            <p><a href="#">@item.Name</a></p> <hr />
                                        }
                                    }

                                    <p id="second"></p>
                                </div>
                            </td>
                            <td>
                                <br />
                                <div class="third_row scrollthree">

                                    @if (Model != null && Model.Silver_1_2_Star != null)
                                    {
                                        foreach (var item in Model.Silver_1_2_Star)
                                        {
                                            <p><a href="#">@item.Name</a></p> <hr />
                                        }
                                    }
                                    <p id="third"></p>
                                </div>
                            </td>
                            <td>
                                <br />
                                <div class="fourth_row scrollfour">
                                    @if (Model != null && Model.Silver_2star != null)
                                    {
                                        foreach (var item in Model.Silver_2star)
                                        {
                                            <p><a href="#">@item.Name</a></p> <hr />
                                        }
                                    }
                                    <p id="fourth"></p>
                                </div>
                            </td>
                        </tr>
                        @*<tr>
                                <td></td>
                                <td></td>
                                <td><button class="btn" id="btn1">Click to Scroll</button></td>
                                <td><button class="btn" id="btn2">Click to Scroll</button></td>
                                <td><button class="btn" id="btn3">Click to Scroll</button></td>
                                <td><button class="btn" id="btn4">Click to Scroll</button></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            @*<div class="color-indication-cont mb-3 pt-3 pt-md-0">
                    <p class="yellow-color-indi">Items highlighted in yellow indicate that the requirement is being met with the minimum requirement only, more is safer</p>
                    <p class="green-color-indi">Items highlighted in green exceed the minimum requirement for your current rank <i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
                </div>*@
            <ol class="ps-3">
                <li>Your name appears here if you were Personally Qualified by a purchase that you made. If you were Personally Qualified by signing up someone who made a purchase then their name would appear here.</li>
                <li>Only legs with active customers who have made a purchase in the last 35 days count here.</li>
                <li>Clicking on the rep's name will take you to the downline tree view of that rep</li>
            </ol>
            <a class="btn" href="https://app.box.com/s/hnskz4k3iqso229d93we6eaj731ibu4y" target="_blank">Compensation Plan PDF</a>
        </div>
    </div>

   
}