﻿@model List<Foxxlegacy.ViewModel.ViewModel.ReferralUser>

<div class="treeview_box">
    <ul class="treeView child-tree-node" style="display:block">
        @{
            if (Model.Count > 0)
            {
                foreach (var node in Model)
                {
                    <li>
                        @if (node.ChildNodeCount > 0)
                        {
                            <button class="treebutton" type="button" data-id="@node.Id"> + </button>
                        }
                    <span class="user-info-span" id="personalinfo" data-id="@node.Id">
                        @*@node.Text <b> Qual - R.O.</b>*@
                        @{
                            if (node.IsQualified)
                            {
                                <span class="Qual">
                                    @node.Text <b> Qual</b>
                                </span>
                                @*<img src="@Url.Content("~/Images/red_check.png")" />*@
                            }
                            else
                            {
                                <span class="NoQual">
                                    @node.Text <b> Qual</b>
                                </span>
                            }
                            if (node.IsRecurringOrder)
                            {
                                <b><span style="color:green;">R.O</span></b>
                            }
                            else
                            {
                                <b><span style="color:red;">R.O</span></b>
                            }
                            if (node.IsSms)
                            {
                                <b><i class="fa fa-mobile" style="color:green;" aria-hidden="true"></i></b>
                            }
                            else
                            {
                                <b><i class="fa fa-mobile" style="color:red;" aria-hidden="true"></i></b>
                            }
                            if (node.IsEmail)
                            {


                                <b><i class="fa fa-envelope" style="color:green;" aria-hidden="true"></i></b>
                            }
                            else
                            {
                                <b><i class="fa fa-envelope" style="color:red;" aria-hidden="true"></i></b>
                            }

                            if (true)
                            {
                                if (node.IsPersonalMovable)
                                {
                                    <b><i class="fa fa-clock" style="color:black;" aria-hidden="true"></i></b>
                                }
                                @*else if (node.IsPersonalPermanent)
                                {
                                    <img class="black-watch-img" title="Personal Permanent" alt="Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                }
                                else if (node.IsNonPersonalMovable)
                                {
                                    <img title="Non-Personal Movable" alt="Non-Personal Movable" src="@Url.Content("~/Images/black-stopwatch.png")" />
                                }
                                else if (node.IsPersonalPermanent)
                                {
                                    <img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                }*@
                                <span>Rank:</span> @node.RankText

                            }
                        }
                    </span>
                        @*<img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />*@
                        <a href="/Members/RankManagementReport?id=@node.Id" target="_blank">  <i class="fa fa-file" aria-hidden="true"></i> Rank management report</a>
                    </li>
                }
            }
        }
    </ul>
</div>
