﻿

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    section.product-template .product-single__description a#myBtn {
        font-size: 14px;
        color: #60bd0e;
        text-transform: uppercase;
        background: 0 0;
        border: none;
        display: inline-flex;
        font-weight: 600;
        cursor: pointer;
        float: right;
    }

    section.product-template .page-width {
        padding: 0px;
    }

    #shopify-section-new-collection-template .row .col-md-3 {
        flex: 0 0 33.333%;
    }

    section.product-template {
        background: #d5d5d5;
        padding: 110px 0 55px 0;
    }

    #shopify-section-new-collection-template .product-desc li {
        width: 100%;
    }

    body.template-collection main#MainContent {
        background: #d5d5d5;
    }

    #shopify-section-new-collection-template .maindiv {
        background: #fff;
        padding: 30px;
        margin: 40px auto;
    }

    #shopify-section-new-collection-template .row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

        #shopify-section-new-collection-template .row .col-md-3 {
            width: 33.33%;
        }

    #shopify-section-new-collection-template .product-desc {
        border: 1px solid #e6e6e6;
       /* float: left;*/
        margin-right: 30px;
        padding: 20px;
        width: 260px;
    }

    #shopify-section-new-collection-template h1.product-single__title {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
    }

    #shopify-section-new-collection-template .product-desc ul {
        margin: 0;
    }

    #shopify-section-new-collection-template .product-desc li {
        padding: 0;
    }

    #shopify-section-new-collection-template .product-desc ul img {
        max-width: 100%;
        width: auto;
    }

    #shopify-section-new-collection-template .custom-fields {
        display: flex;
        justify-content: space-around;
    }

    #shopify-section-new-collection-template #ingredientsBtn,
    #shopify-section-new-collection-template #brochureBtn {
        font-size: 14px;
        color: #60bd0e;
        text-transform: uppercase;
        text-decoration: underline;
        background: none;
        border: none;
    }

    .fact_modal {
        margin-right: 5px;
    }

    #shopify-section-new-collection-template .row .col-md-9 {
        width: 100%;
    }

    #shopify-section-new-collection-template .product-single__description.rte {
        margin-top: 0;
        margin-bottom: 20px;
    }

    #shopify-section-new-collection-template .product_videos ul.videos {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
    }

        #shopify-section-new-collection-template .product_videos ul.videos li {
            margin-right: 4%;
            width: 48%;
        }

    #shopify-section-new-collection-template .product_videos iframe {
        width: 100%;
        border: 5px solid #fff;
        box-shadow: 0 0 5px #ddd;
    }

    #shopify-section-new-collection-template .buy-now a {
        background: #60bd0e;
        border-radius: 50px;
        color: #fff;
        display: inline-block;
        padding: 12px 30px;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 10px;
    }

    #shopify-section-new-collection-template .product-form__controls-group--submit {
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
    }

    #shopify-section-new-collection-template .product-form__controls-group {
        display: flex;
        flex-wrap: nowrap;
    }

    #shopify-section-new-collection-template .product-desc.text-center {
        margin-bottom: 20px;
    }

    @@media screen and(max-width: 767px) {
        #shopify-section-new-collection-template .product_videos ul.videos,
        #shopify-section-new-collection-template .product-form__controls-group {
            display: block;
        }

        #shopify-section-new-collection-template .row .col-md-3,
        #shopify-section-new-collection-template .row .col-md-9 {
            width: 100%;
        }

        #shopify-section-new-collection-template .page-width {
            padding: 10px;
        }

        #shopify-section-new-collection-template .maindiv {
            padding: 15px;
        }

        #shopify-section-new-collection-template .buy-now a {
            margin-top: 10px;
            width: 100%;
            text-align: center;
        }
    }

    @@media screen and(max-width: 766px) {
        .product-single__thumbnail {
            width: 200px;
            margin: 0 auto;
        }

        .product-single__thumbnails-item {
            width: 100%;
        }

        #shopify-section-new-collection-template .product_videos ul.videos li {
            width: 100%;
        }
    }

    @@media screen and(max-width: 1199px) {
        #shopify-section-new-collection-template .row {
            display: block;
        }

            #shopify-section-new-collection-template .row .col-md-9 {
                width: 100%;
            }

        #shopify-section-new-collection-template .page-width {
            padding: 0 15px;
        }

        #shopify-section-new-collection-template .maindiv {
            padding: 15px;
        }
    }

    @@media screen and(max-width: 1439px) {
        .modal {
            width: 100% !important;
        }

        .modal-content {
            width: 95%;
        }
    }

    @@media(max-width:991px) {
        #shopify-section-new-collection-template .row {
            display: block;
        }

            #shopify-section-new-collection-template .row .col-md-3 {
                width: 100%;
            }

        #shopify-section-new-collection-template .product-form__controls-group {
            display: block;
        }

            #shopify-section-new-collection-template .product-form__controls-group .pop-up, #shopify-section-new-collection-template .product-form__controls-group .buy-now {
                margin-bottom: 10px;
                text-align: center;
            }

                #shopify-section-new-collection-template .product-form__controls-group .buy-now a {
                    display: block;
                }
    }
</style>
<style>
    div#shopify-section-related-products {
        padding: 55px 0;
        padding-top: 40px;
        text-align: center;
        background: #fff;
    }

        div#shopify-section-related-products p {
            font-size: 16px;
            text-transform: unset;
            margin-bottom: 0;
            padding: 15px;
        }

        div#shopify-section-related-products .product-heading h1 {
            font-size: 28px;
            color: #000;
            margin: 40px 0;
            text-transform: uppercase;
        }

            div#shopify-section-related-products .product-heading h1:after {
                background: #60bd0e;
                width: 40px;
                height: 3px;
                display: block;
                content: '';
                margin: 0 auto;
                margin-top: 10px;
            }

        div#shopify-section-related-products .card_item {
            position: relative;
            transition: all .3s ease-in-out;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
            border-bottom: 3px solid #60bd0e;
            min-height: 310px;
            text-align: center;
            margin: 0 15px;
        }

            div#shopify-section-related-products .card_item:hover {
                transform: translateY(-8px);
                transition: 0.6s all ease;
                text-decoration: none;
            }

            div#shopify-section-related-products .card_item img {
                width: 100%;
                height: 230px;
            }

        div#shopify-section-related-products .grid-view-item__image {
            max-width: 100%;
            max-height: 100%;
        }

        div#shopify-section-related-products .slick-prev:before,
        div#shopify-section-related-products .slick-next:before {
            color: #60bd0e;
            font-weight: 600;
            font-size: 40px;
            opacity: 1;
        }

        div#shopify-section-related-products .slick-prev:before {
            display: block;
            content: '\f100';
            font-family: 'FontAwesome';
            animation: slide1 1s ease-in-out infinite;
        }

        div#shopify-section-related-products .slick-next:before {
            display: block;
            content: '\f101';
            font-family: 'FontAwesome';
            animation: slide2 1s ease-in-out infinite;
        }

        div#shopify-section-related-products .slick-prev {
            left: -30px;
        }

        div#shopify-section-related-products .slick-next {
            right: -23px;
        }

    @@media screen and (max-width: 991px) {
        div#shopify-section-related-products .slick-prev {
            left: -20px;
        }

        div#shopify-section-related-products .slick-next {
            right: -7px;
        }
    }

    @@media screen and (max-width: 767px) {
        div#shopify-section-related-products .product-heading h1 {
            font-size: 24px;
        }

        div#shopify-section-related-products .card_item {
            min-height: auto;
            margin-bottom: 20px !important;
        }

        div#shopify-section-related-products .product-card {
            padding: 0;
        }

        div#shopify-section-related-products .tab-slider {
            display: none;
        }
    }

    @@media screen and (min-width: 768px) and (max-width: 991px) {
        div#shopify-section-related-products .page-width {
            padding: 0 20px;
        }

        div#shopify-section-related-products li.grid__item.small--one-whole.medium-up--one-quarter.product-card {
            padding-left: 15px;
        }
        /* div#shopify-section-related-products .card_item {
         min-height: 320px;
         } */
    }

    @@media(max-width:767px) {
        #shopify-section-new-collection-template .product_videos ul.videos li {
            margin-right: 0;
            width: 100%;
        }

        #shopify-section-new-collection-template .product_videos ul.videos {
            display: block;
        }

        .product-heading h1 {
            font-size: 24px;
        }
    }
</style>
<main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
    <div id="shopify-section-new-collection-template" class="shopify-section">
        <section class="product-template">
            <div class="page-width" id="Collection">
                <div class="product-heading text-center">
                    <h1>Our Products with XDS<sup>TM</sup> Technology</h1>
                </div>
                <div class="maindiv page-width row">
                    <div class="product-desc text-center col-md-3">
                        <div class="brand-logo people-brand-logo">
                            <img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/umBlue_large.png?v=1618405472">
                        </div>
                        <h1 class="product-single__title">Rejuvenate 2.0 </h1>
                        <div class="product-single__image">
                            <ul class="grid grid--uniform product-single__thumbnails
                        product-single__thumbnails-new-collection-template" style="overflow:hidden;">
                                <li class="grid__item  product-single__thumbnails-item
                           js">
                                    <a href="https://cdn.shopify.com/s/files/1/0310/1736/9736/products/Moremito-restore_small.png?v=1627457212" class="text-link product-single__thumbnail product-single__thumbnail--new-collection-template" data-thumbnail-id="">
                                        <img class="product-single__thumbnail-image" src="https://cdn.shopify.com/s/files/1/0310/1736/9736/products/thumbnail_Rejuvenate_Jar_110x110@2x.jpg?v=1627455123" alt="Load image into Gallery viewer, ">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="custom-fields">
                            <div class="pop-up">
                                <div class="fact_modal ingredients">
                                    <a href="~/Images/Files/UltramitoLabels.pdf" id="ingredientsBtn" target="_blank">Labels</a>
                                </div>
                            </div>
                            <div class="brochure">
                                <div class="fact_modal brochure">
                                    <a href="#!" onclick="broucherOpenModal()" id="brochureBtn">Product Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-single__meta col-md-9">
                        <div class="product-single__description rte">

                            <div style="float: left; margin-right: 20px;" id="readToMe" class="read-to-me"><img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/sound.png?v=1618923990"></div>
                            <p data-mce-fragment="1">UltraMito Rejuvenate 2.0  is profoundly effective because it has been formulated to enhance your skin's natural ability to heal itself. It contains all natural ingredients known for their pain and irritation reducing effects.</p>
                            <p>Available in 4.0 zz or Mini Travel Jars.</p><span id="dots" style="display: inline;"> &nbsp; </span>
                            <div id="more" style="display: none;">


                            </div>

                            <a onclick="moreDesc()" id="myBtn">Read more</a>
                        </div>
                        <div class="product_videos">
                            <ul class="videos">
                                <li>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                        <div class="product-form__controls-group product-form__controls-group--submit">
                            <div class="pop-up">
                                <div class="fact_modal product-label popup">
                                    <a class="popupButton" href="~/Images/Files/UltramitoLabels.pdf?v=1626856313" target="_blank" aria-describedby="a11y-new-window-external-message" rel="noopener">Product Label</a>
                                </div>
                            </div>
                            <div class="pop-up">
                                <div class="fact_modal view-details popup">
                                    @*<a class="popupButton" href="~/Images/Files/How_to_Use_Rejuvenate.pdf?v=1627302483" target="_blank" aria-describedby="a11y-new-window-external-message" rel="noopener">More Details</a>*@
                                    <a class="popupButton" href="#!" onclick="broucherOpenModal()">More Details</a>
                                </div>
                            </div>
                            <div class="pop-up">
                                <div class="fact_modal audio-testimonials popup">
                                    <a class="popupButton" href="~/Images/Files/UltraMito_Rejuvenate_2.0_Testimonials.pdf" target="_blank">Testimonials</a>
                                </div>
                            </div>
                            <div class="buy-now">
                                @*<a href="/@ViewBag.ControlllerName/Bundle">Choose your Bundle</a>*@
                                <a href="#!" onclick="shopBundle('pet')" >Choose your Bundle</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </section>

    </div>
    <div id="shopify-section-related-products" class="shopify-section">
        <div class="page-width">
            <img class="arrow-image" src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/arrow_small.png?v=1618213953" alt="Arrow Image">
            <div class="product-heading text-center">
                <h1>You may also like</h1>
            </div>
            <ul class="related-products desktop-slider slick-initialized slick-slider">
                <li class="product-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="option" tabindex="-1" style="width: 364px;">
                    <div class="card_item">
                        <a href="/@ViewBag.ControlllerName/UltramitoRestore" tabindex="0">
                            <img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/thumbnail_Restore-bottle.jpg?v=1622493898" alt="Product Image">
                            <p>UltraMito Restore 3.0</p>
                        </a>
                    </div>
                </li>
                <li class="product-item slick-slide slick-active" data-slick-index="1" aria-hidden="false" role="option" tabindex="-1" style="width: 364px;">
                    <div class="card_item">
                        <a href="/@ViewBag.ControlllerName/Rejuvenate" tabindex="0">
                            <img src="https://cdn.shopify.com/s/files/1/0310/1736/9736/files/thumbnail_Rejuvenate_Jar.jpg?v=1622493898" alt="Product Image">
                            <p>Rejuvenate 2.0 </p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</main>
<script>
    function moreDesc() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }

   
</script>