﻿@model Foxxlegacy.ViewModel.ViewModel.TransferHistoryModel

@if (Model != null)
{
<div class="row">
    
    <div class="col-md-12">
        <h3>MoreMito Cash Transferred To You</h3>
        <h4>Total Received: <b>$@Model.TotalReceived</b> </h4>
        <div class="table-responsive">
            <table class="hometableComm table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date Received</th>            
                        <th>Sent By</th>
                        <th>Amount</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.RecievedList != null && Model.RecievedList.Count > 0)
                    {
                        foreach (var item in Model.RecievedList)
                        {
                            <tr>
                                <td>@item.Transferdate</td>    
                                <td>@item.UName (@item.Username)</td>
                                <td>$@item.Transferamount  </td>
                                <td>@item.Message </td>
                                
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No Cash received yet !</td>
                        </tr>
                    }

                </tbody>


            </table>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-md-12">
        <h3>MoreMito Cash Transferred By You</h3>
        <h4>Total Sent: <b>$@Model.TotalTransfer</b> </h4>
        <div class="table-responsive">
            <table class="hometableComm table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date Transferred</th>
                        <th>Sent To</th>
                        <th>Amount</th>
                        <th>Message</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.TransferList != null && Model.TransferList.Count > 0)
                    {
                        foreach (var item in Model.TransferList)
                        {
                            <tr>
                                <td>@item.Transferdate</td>     
                                <td>@item.UName (@item.Username)</td>
                                <td>@item.Transferamount  </td>
                                <td>@item.Message </td>
                                
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No Cash transferred yet !</td>
                        </tr>
                    }

                </tbody>


            </table>
        </div>
    </div>
</div>
    
    
}
