﻿@model  List<Foxxlegacy.ViewModel.ViewModel.ImportOrderForPlacementModel>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" class="moveOrderChk" /></td>
            <td>
                <input type="hidden" class="orderId" value="@item.OrderId" />
                @item.OrderId
            </td>
            <td>@item.OrderDate</td>
            <td>@item.OrderTotal</td>

        </tr>
    }
}
else
{
<tr>
    <td colspan="4">No orders found !</td>
</tr>
}
