﻿@model Foxxlegacy.ViewModel.ViewModel.ContentViewModel
@{
    ViewBag.Title = "Term And Condition";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inner_content">
    <div class="container">

        @Html.Raw(Model.PoliciesAndProcedures)
        @Html.Raw(Model.TermsofService)

    </div>
</div>