﻿@model Foxxlegacy.ViewModel.ViewModel.UserViewModel
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @*<div class="col-md-12 ">
                @if (TempData["SUCCESS_MESSAGE"] != null)
                {
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
                    </div>
                }
            </div>*@
        <div class="col-md-12 ">
            @if (TempData["ERROR_MESSAGE"] != null)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
                </div>
            }
        </div>
    </div>
</div>
    <div class="inner_content" style="padding:0;">



        <div class="join_wrap" style="width:100%;">

            @if (TempData.ContainsKey("MESSAGE"))
            {

                if (TempData["MESSAGE"].ToString() == "2")
                {
                    <h2 class="top_heading" style="padding:0; margin:0; text-transform:inherit;">Join MoreMito as a Referring Customer</h2>
                    @*<div class="join_info">

                            @Html.Raw(@Model.Content)

                            <p>
                                <br /> http://www.foxxlegacy.com/<b>YourUserName</b>
                                @Model.SignUpBelowURL
                            </p>



                            <p>
                                <span>You are being referred by:  @Model.FullName</span>
                                <a href="@Url.Action("NoSponsor", "Home", new { ReturnUrl = "/Join/Join" })">If @Model.FullName is not your Foxx Legacy representative, please Click Here to locate.</a>
                            </p>
                        </div>*@
                }
                else if (TempData["MESSAGE"].ToString() == "3")
                {
                    <h2 class="top_heading" style="padding:0; margin:0; text-transform:capitalize;">Join MoreMito as a Customer</h2>

                    @*<div class="join_info">

                            @Html.Raw(@Model.Content)
                            <p>
                                http://www.foxxlegacy.com/<b>YourUserName</b>
                                @Model.SignUpBelowURL
                            </p>

                            <p>
                                <span>Your sponsor will be: @Model.FullName</span>
                                <a href="@Url.Action("NoSponsor", "Home", new { ReturnUrl = "/Join/Join" })">If @Model.FullName is not your Foxx Legacy representative, please Click Here to locate.</a>
                            </p>
                        </div>*@
                }

            }








            <div class="container">
                <div class="row">
                    <div class="joinformpanel">
                        @using (Html.BeginForm("Join", "Join", FormMethod.Post))
                        {
                            <div class="contact_l" style="padding-bottom:0;">

                                @Html.HiddenFor(x => x.SignupType)
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>
                                            Username
                                        </label>
                                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control nopaste", onkeypress = "return AvoidSpace(event)" })
                                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })

                                        @{
                                            if (TempData.ContainsKey("UserExits"))
                                            {
                                                <span class="text-danger field-validation-error" data-valmsg-for="UserName" data-valmsg-replace="true">
                                                    <span id="UserName-error" class="">
                                                        @TempData["UserExits"]
                                                    </span>
                                                </span>
                                            }
                                        }
                                    </div>


                                    <div class="col-md-4">
                                        <label>
                                            Email Address
                                        </label>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control nopaste", onkeypress = "return AvoidSpace(event)" })
                                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                        @{
                                            if (TempData.ContainsKey("EmailExits"))
                                            {
                                                <span class="text-danger field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true">
                                                    <span id="email-error" class="">
                                                        @TempData["EmailExits"]
                                                    </span>
                                                </span>
                                            }
                                        }
                                    </div>



                                    <div class="col-md-4">
                                        <label>Password</label>
                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
                                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                    </div>



                                    <div class="col-md-4">
                                        <label>First Name</label>
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control alphNumeric" })
                                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="col-md-4">
                                        <label>Last Name</label>
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control alphNumeric" })
                                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-4">
                                        <label>Phone</label>
                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control validnumeric", maxlength = 10 })
                                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">


                                        <label>Country</label>
                                        @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.StateList, "Value", "Text"), "- Select -", new { @class = "form-control", id = "CountryDrp", @onchange = "loadJoinStates(this.value)" })
                                        @Html.ValidationMessageFor(x => x.CountryId, "", new { @class = "text-danger" })


                                    </div>

                                    <div class="col-md-4">


                                        <label>State</label>
                                        @Html.DropDownListFor(model => model.State, new SelectList(Model.StateNewList, "Value", "Text"), "- Select -", new { @class = "form-control stateDrp", id = "StateDrp" })
                                        @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })


                                    </div>
                                    <div class="col-md-4">
                                        <label>City</label>
                                        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        <label>Address</label>
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-4">
                                        <label> Zip Code</label>
                                        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ZipCode, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix"></div>







                                    <div class="clearfix"></div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 terms-cond-sec" style="margin:15px 0;">
                                        <span class="treams_l">

                                            @Html.CheckBoxFor(x => x.CheckboxTermCondition, new { id = "chkTerm_TermsofService" })
                                        </span>
                                        @*<p class="treams_r">
                                                I have read and agree to both the
                                                Policies And Procedures and the
                                                Terms of Service.  <a href="">P&P HERE</a>   <a href="">TOS HERE.</a>


                                            </p>*@
                                        @Html.Raw(@Model.cbAgree)


                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input class="contactsubmit" type="submit" value="Register" id="btnSubmit" disabled />
                                    </div>


                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        }

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>



    </div>

    <script>
        function AvoidSpace(event) {
            var k = event ? event.which : window.event.keyCode;
            if (k == 32) return false;
        }
        $(document).on("cut copy paste", ".nopaste", function (e) {
            e.preventDefault();
        });
        function loadJoinStates(CountryId) {
            var dd = $('#StateDrp');
            dd.html('');
            dd.append('<option value="">Select</option>');

            //   var CountryId = parseInt($('#sCountry').val());
            if (CountryId == '' || CountryId == undefined || isNaN(CountryId)) {

                return
            }
            showLoader('StateDrp')
            $.ajax({
                type: "GET",
                url: "/Join/GetStates?CountryId=" + CountryId,
                success: function (data) {
                    debugger
                    console.log('res', data)
                    hideLoader('StateDrp');
                    if (data.status == true) {

                        $.each(data.states, function (i) {
                            dd.append('<option value=' + data.states[i].Id + '>' + data.states[i].Name + '</option>');
                        });
                    }
                },
                error: function (err) {
                    hideLoader('StateDrp');
                    console.log(err);
                }
            });
        }
    </script>
