﻿
@{
    ViewBag.Title = "JoinOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maincontent without_showcase">
    <h2 class="top_heading" style="font-size: 32px;text-transform: unset;">Getting Started</h2>
    <section class="rowpadding">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="prdctpage_main">
                        <div style="text-align: center;">

                        </div>
                        <div id="ContentPlaceHolder1_Panel3">

                            <div class="join_options">
                                <div class="customer_box rct">
                                    <img class="ctimg" src="~/Images/referral.jpg">
                                    <div class="option_info">
                                        <h2>Referring Customer</h2>
                                        <span><img src="~/Images/check.png">Build A Referral Network</span> <span><img src="~/Images/check.png">Earn More Cash</span> <span><img src="~/Images/check.png">1st step to Paid Rep</span> <a class="r_btn" href="Join.aspx?SignupType=2">Join Now</a>
                                    </div>
                                </div>
                                <div class="customer_box">
                                    <img class="ctimg" src="~/Images/customer.jpg">
                                    <div class="option_info">
                                        <h2>Customer</h2>
                                        <span><img src="~/Images/check.png">Customer Only Account</span> <span><img src="~/Images/check.png">Get Exclusive deals</span> <span><img src="~/Images/check.png">Spread the word</span> <a class="r_btn" href="Join.aspx?SignupType=3">Join Now</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display:none;">
                <div class="join_opt_box" style="margin-top: 20px;">
                    <div class="grnbox">
                        <h2>Paid Representative</h2>
                        <div class="option_info">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




@*<div class="join2_main">
    <div class="container">
        <h2 class="join_optionheading">GETTING STARTED</h2>
        <div class="join_opt_box">
            <div class="blubox">
                <h2>Referring Customer:</h2>
                <ul>
                    <li>Build A Referral Network</li>
                    <li>Earn Foxx Cash</li>
                    <li>1st step to Paid Rep.</li>
                </ul>
                <a href="@Url.Action("Join","Join",new { SignupType=3})">Join Now</a>
            </div>
            <div class="orgbox">
                <h2>Customer:</h2>
                <ul>
                    <li>Customer Only Account</li>
                    <li>Get Exclusive deals</li>
                    <li>Spread the word.</li>
                </ul>
                <a href="@Url.Action("Join","Join",new { SignupType=2})">Join Now</a>
            </div>
        </div>

    </div>
</div>*@

