﻿@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="phone_verification_cont">
    <div id="thankyou" class="thankyou_bg_cont dspy-none thank-content">
        <h1>Thank You for joining <br />MoreMito!</h1>
        <h5 style="font-size: 23px;">
            <span>Your personal website is:</span>
            <a href="@ViewBag.NavigationUrl" target="_blank" style="font-size:23px;">@ViewBag.NavigationUrl</a>
            <asp:HyperLink ID="linkWebURL" runat="server" Target="_blank" Text="" ForeColor="#0058a4" Font-Size="23px" Font-Bold="true"></asp:HyperLink>
        </h5>
    </div>
    <div id="confirmCodeMainDiv" class="phone_verifify_sec bg-img_cont bg-custm-cls">
        <div class="logo"><img src="~/Images/moreMito_Logo.png" alt="Proven"></div>
        <div class="min-vh-100">
            <div class="min-vh-100 verfication_content_cont">
                <div class="text-center">
                    <h1>Phone Verification</h1>
                    <h3 id="phoneNum">Phone number : <small> @ViewBag.formattedPhoneNumber</small></h3>
                    <input type="hidden" id="userId" value="@ViewBag.userid" />
                </div>
                <form class="form-bg-cont w-100">
                    <div class="mb getCodeDiv" style="display:none;">
                        <label for="phone">Enter your phone number</label>
                        <input type="tel" maxlength="10" id="phone" name="phone" required>
                    </div>
                    <div class="mb getCodeDiv" style="display:none;">
                        <button type="button" class="btn cstm-btn" onclick="getCode()">Get Code</button>
                    </div>
                    <div class="mb">
                        <label for="phone">Enter Confirmation Code</label>
                        <input type="text" id="confirmation_code" name="number" />
                    </div>
                    <div class="mb" id="changePhoneDiv" style="display:none;">
                        <label for="changephone">Change Number</label>
                        <input type="tel" id="change_phone" name="changephone" required>
                    </div>
                    <div class="mb changeNumberBtn">
                        <button type="button" class="btn cstm-btn" onclick="changeNumber()">Change Number</button>
                    </div>
                    <div class="mb getCodeDiv" style="display:none;">
                        <button type="button" class="btn cstm-btn" onclick="cancelChangeNumber()">Cancel Change Number</button>
                    </div>
                    <div class="mb">
                        <button type="button" onclick="confirmCode()" class="btn cstm-btn">Submit Verification Code</button>
                    </div>
                    <div class="mb">
                        <a href="#" onclick="continueWithoutPhoneVerification()" class="verify_text">Continue Without Verifying</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="container instruction_cntnt dspy-none thank-content" >
        <h3>
            1 Click on the link above and: <br />
            Make sure your personal information appears as you would like.<br />
            You can change what's shown in your back office under:<br />
            My Info - Website Info Header
        </h3>
        <h3>
            2 - Login to your back office with the username and password you just created.<br />
            Look around, get familiar and if you're ready, make purchases. <br />
            Note: Personal purchases must be made from your back office (Shop MoreMito) for proper credit.
        </h3>
        <h3>
            3 - You were sent a welcome email to the address you gave that has your website info in it as well.
        </h3>        
    </div>
</section>
<script>

    function changeNumber() {
        $('.getCodeDiv').show();
        $('#phoneNum').hide();
        $('.changeNumberBtn').hide();
    }
    function getCodeDiv() {

    }
    function cancelChangeNumber() {
        $('.getCodeDiv').hide();
    }
    function confirmCode() {
        var code = $('#confirmation_code').val().trim();
        var userId = IntParse($('#userId').val());

        if (code == undefined || code == '') {
            alert('Code is required!');
            return
        }
        if (userId == 0) {
            alert('Unable to locate user id.');
            return
        }
        $.ajax({
            type: "GET",
            url: "/Join/ConfirmCode?Code=" + code + "&userId=" + userId,          
            success: function (data) {
                console.log('confirm', data)
                if (data != undefined && data.status == true) {
                    $('#thankyou').show();
                    $('.thank-content').show();
                    $('#confirmCodeMainDiv').hide();
                } else {
                    alert('Unable to verify the code.')
                }
               
               
            },
            error: function () {
                alert("No Data to view");
            }
        });
    }

    function getCode() {
        var code = $('#phone').val().trim();
        var userId = IntParse($('#userId').val());

        if (code == undefined || code == '') {
            alert('Phone number is required!');
            return
        }
        $.ajax({
            type: "GET",
            url: "/Join/GetCode?smsNumber=" + code + "&userId=" + userId,          
            success: function (data) {
                console.log('get code', data)
                if (data != undefined && data.status == true) {
                    alert("SMS confirmation code has been sent.\nPlease check your phone for confirmation code.");
                }


            },
            error: function () {
                alert("No Data to view");
            }
        });
    }

    function continueWithoutPhoneVerification() {
        $('#thankyou').show();
        $('.thank-content').show();
        $('#confirmCodeMainDiv').hide();
    }
</script>