﻿@model Foxxlegacy.ViewModel.ViewModel.ContactUsViewModel
@{
    ViewBag.Title = "ContactAdmin";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Contact Admin</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">


        <div class="col-md-10 col-sm-12 co-xs-12">

            <div class="row">
                <div class="contactadmin_form">
                    <h3>
                        Please fill out the contact request form below.
                    </h3>

                    <span id="lblComplete" style="color:#C00000;font-size:Small;font-weight:bold;@(TempData["SUCCESS_MESSAGE"]=="success"?"display:block":"display:none")">
                        <p>Your contact has been submitted. You should receive a response to this contact within one business day. When our customer service representatives have addressed your concerns, the status of your contact will change in the table below. <br>If you prefer to talk with&nbsp;our friendly Customer Service Representatives, please call 1 888 884-8661 Monday through Friday 8am to 8pm.</p>
                        <p>Thank you for contacting Foxx Legacy Admin Support.</p>
                    </span>
                    @using (@Html.BeginForm("ContactAdmin", "Contacts", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Name:</label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">

                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "Name", placeholder = "Jonnathan King", autocomple = "off" })
                                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", id = "EmailId", placeholder = "legal@foxxlegacy.com" })
                                @Html.ValidationMessageFor(x => x.EmailId, "", new { @class = "text-danger" })

                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Phone:</label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control validnumeric", id = "Phone", placeholder = "17157719075", type = "tel",maxlength=10 })
                                @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })

                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Subject:</label>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", id = "Subject" })
                                @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })

                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Comments Questions:</label>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                @Html.TextAreaFor(x => x.Message, new { @class = "form-control", id = "Message", style = "height:150px;" })


                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2 col-sm-12 col-xs-12"></div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <input type="submit" class="contactadminbutton" value="Submit your Question or Comment to Administrator Staff" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>

            <div class="row">

                <p>
                    Select A Contact To View
                </p>
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Your Comments / Questions</th>
                            <th>Answered</th>
                        </tr>
                        @if (Model.contactUsListViewModel.Count > 0)
                        {
                            foreach (var item in Model.contactUsListViewModel)
                            {
                                <tr>
                                    <td style="white-space:nowrap"><a class="changepasswordbtn" data-toggle="modal" data-target="#myModal" href="javascript:void(0)" id="viewId" data-ID="@item.ID">View</a></td>
                                    <td style="white-space:nowrap">@item.EventDate</td>
                                    <td style="white-space:nowrap">@item.Subject</td>
                                    <td style="white-space:nowrap">@item.Details</td>
                                    <td style="white-space:nowrap">
                                        @(@item.OwnerAnswered==false? "Not Answered":"Answered")
                                    </td>
                                </tr>
                            }
                        }



                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>



    <!--Modal div popup for View Button start-->
    <div class="modal fade donemodal" id="myModal" role="dialog">
        <div class="modal-dialog modal-md" id="credit_card_modal" role="document">
            <div class="modal-content popsecond">

                <div class="modal-body modal-style-bg modalheading">
                    <h5>Contact Admin Details</h5>
                    <div class="clearfix"></div>


                </div>
                <div id="InvalidDataMsg"></div>
                
                <div class="notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" id="ContactsId" />
                                    <span class="contact_icon">Admin's response to your contact.</span>
                                    <div class="clearfix"></div>
                                    <strong>Date: </strong>
                                    <span id="lblDate"></span>
                                    <br>
                                    <strong>Subject: </strong>
                                    <span id="lblSubject"></span>
                                    <br>
                                    <strong>Your Question: </strong>
                                    <span id="lblDetails"></span>
                                    <br>
                                    <hr style="width: 100%; color: #4a89dc; height: 2px;">

                                    <strong>Dialogue:</strong><br>

                                    No Dialogue has been started For this contact.
                                    <div style="clear: both;" id="AddyourComments"></div>

                                    <br>
                                    <hr style="width: 100%; color: #4a89dc; height: 2px;">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">You can add your comments to the conversation or archive this contact.</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right:10px;">
                                                    <textarea name="txtDialogue" rows="5" cols="20" id="DialogueId" style="width:400px;"></textarea>
                                                </td>
                                                <td style="text-align: center;">
                                                    <input type="submit" name="btnAddDialogue" value="Add your comments" class="changepasswordbtn" id="btnAddDialogue" style="width:150px;">
                                                    <br>
                                                    OR<br>
                                                    <input type="submit" name="btnArchive" class="changepasswordbtn" value="Close this contact" id="btnArchive" style="width:150px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input type="submit" name="btnCxl" class="changepasswordbtn" value="Close Page" id="btnCxl" data-dismiss="modal">
            </div>
        </div>
    </div>


    <!--Modal div popup for View Button End-->
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Js/ContactAdmin")