﻿@model Foxxlegacy.ViewModel.ViewModel.ContactUsViewModel
@{
    ViewBag.Title = "MyContacts";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Contacts</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <p>
            Contacts from the Foxx Legacy website will be displayed below. Click the Select button to view the contact details.
        </p>
        <br />
        <p>
            Click Select to view Message
        </p>
        <div class="col-md-12 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Origin</th>
                            <th>Name</th>
                            <th>Subject</th>
                        </tr>
                        @if (Model.contactUsListViewModel.Count > 0)
                        {
                            foreach (var item in Model.contactUsListViewModel)
                            {
                                <tr>
                                    <td><a class="changepasswordbtn" data-toggle="modal" data-target="#MyContactsEditModal" href="javascript:void(0)" id="MyContactsSelectId" data-ID="@item.ID">Select</a></td>
                                    <td>@item.EventDate</td>
                                    <td>@item.Origin</td>
                                    <td>@item.Name</td>
                                    <td>@item.Subject</td>

                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Modal Start Section -->
    <div class="modal fade" id="MyContactsEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">My Contacts</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8 col-xs-12 col-xs-12">
                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Origin
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.Origin, new { @class = "form-control", @id = "Origin", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Date
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.EventDate, new { @class = "form-control", @id = "EventDate", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Name
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "Name", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Email
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", @id = "EmailId", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Phone
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "Phone", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Subject
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @id = "Subject", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="myinfobox">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Details
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.Details, new { @class = "form-control", @id = "Details", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="myinfobox" id="NotesdivTextBoxFor" style="display:none">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Notes
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextBoxFor(x => x.Notes, new { @class = "form-control", @id = "NotesTextbox", @readonly = "readonly" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="myinfobox" id="NotesdivTextAreaFor">
                                    <div class="myinfotop_l myinfowelcometagl">
                                        <span>
                                            Notes
                                        </span>
                                    </div>
                                    <div class="myinfotop_r myinfowelcometagr">

                                        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", @id = "NotesTextAreaFor" })

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <input type="hidden" id="ContactsId"/>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="btnMyContactsUpdate">Edit</button>

                    </div>
                

            </div>
        </div>
    </div>

    <!-- Modal End Section -->
</div>

@Scripts.Render("~/bundles/Js/MyContacts")