﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="productpanel">
    <div class="container">
        <div class="section-header text-center" style="margin-top:30px;">
            <h2>PRODUCTS</h2>
        </div>
        <div class="section-subheading text-center">
            More Mito, LLC  consistently delivers profoundly effective products for pets and people. Click on the image below to navigate to either our pet products or our people products.
        </div>
        <div class="product_categories row product_categories_productpage">
            <div class="category_item col-md-6 col-sm-6"><a href="/Products/PeopleHealthProducts"><img src="/Images/peopleCat.png" alt="peopleCat"></a></div>
            <div class="category_item col-md-6 col-sm-6"><a href="/Products/PetHealthProducts"><img src="/Images/petCat.png" alt="petCat"></a></div>
        </div>
    </div>
</div>
@*<div class="product_main">
        <div class="container">
            <h2>Product</h2>
            <p>
                Foxx Legacy LLC consistently delivers profoundly effective products for pets and people. Click on the image below to navigate to <br />
                either our pet products or our people products.
            </p>

            <ul>
                <li>
                    <h2>
                        Maximize your<br /> life experience
                    </h2>
                    <img src="../images/umRed.png" style="height:50px;">
                    <div class="clearfix"></div>
                    <a href="">Learn more</a>
                </li>
                <li>
                    <h2>
                        Enhance your <br />
                        pet's health
                    </h2>
                    <img id="Image2" src="../images/UltraMito_Logo.png">
                    <div class="clearfix"></div>
                    <a href="">Learn more</a>
                </li>
            </ul>
        </div>
    </div>*@

