﻿
@model List<Foxxlegacy.ViewModel.ViewModel.ViewCommissionModel>

@if (Model != null)
{
<table cellpadding="0" cellspacing="0" width="100%" class="hometableComm" id="adminCommissionsTable">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name (Rank)</th>          
            <th>Order No.</th>
            <th>Commission Type</th>
            <th>Date</th>
            <th>Order Amount</th>
            <th>Order Commission Amount</th>
            <th>Commission %age</th>
            <th>Commission Amount</th>
            <th>Level</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserName (@item.UserRankId)</td>                
                <td>@item.OrderId	</td>
                <td>@item.CommissionType</td>
                <td>@item.CreatedDate	</td>
                <td>@item.OrderAmount</td>
                <td>@item.OrderTotalCommissionAmount </td>
                <td>@item.CommissionPercentage </td>
                <td>@item.CommissionAmount </td>
                <td>@item.CommissionLevel</td>
                <td>@item.RecordType</td>
            </tr>
        }
    </tbody>
    

</table>

}

<script>
    $(document).ready(function () {
        $('#adminCommissionsTable').DataTable({
            "pageLength": 25,
            "ordering": false
        });
    });
    
</script>