﻿@model  Foxxlegacy.ViewModel.ViewModel.UserDownlineViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="table-responsive notificationtable">

        <table cellpadding="0" cellspacing="0" width="80%" id="tblRoleInfo" class="hometable">
            <tbody>
                @if (Model.emails.Count > 0)
                {
                    <tr>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>State</th>
                        <th>Zip</th>
                    </tr>
                }
                @if (Model.newUserData.Count > 0)
                {
                    <tr>
                        <th>Week</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Count</th>
                        <th>With PV</th>
                        <th>PCT</th>
                    </tr>
                }
                @{
                    for (int i = 0; i < Model.emails.Count; i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => x.emails[i].UserName)</td>
                            <td>@Html.DisplayFor(x => x.emails[i].FirstName)</td>
                            <td>@Html.DisplayFor(x => x.emails[i].LastName)</td>
                            <td>@Html.DisplayFor(x => x.emails[i].Email)</td>
                            <td>@Html.DisplayFor(x => x.emails[i].Phone)</td>
                            <td>@Html.DisplayFor(x => x.emails[i].State)</td>
                            <td>@Html.DisplayFor(x => x.emails[i].Zip)</td>
                        </tr>
                    }
                }
                @{
                    if (Model.newUserData.Count > 0)
                    {
                        for (int i = 0; i < Model.newUserData.Count; i++)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => x.newUserData[i].WEEKNO)</td>
                                <td>@Html.DisplayFor(x => x.newUserData[i].StartDate)</td>
                                <td>@Html.DisplayFor(x => x.newUserData[i].EndDate)</td>
                                <td>@Html.DisplayFor(x => x.newUserData[i].Count)</td>
                                <td>@Html.DisplayFor(x => x.newUserData[i].WithPV)</td>
                                <td>@Html.DisplayFor(x => x.newUserData[i].PCT)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" style="color:red;font-weight:bold;border:none">
                                @Html.DisplayFor(x => x.ErrorMsg)
                            </td>
                        </tr>
                    }
                }
        </table>
        @if (Model.UserId > 0)
        {
            <span>Average = </span> @(Model.TheAverage == null ? "0" : Model.TheAverage)
        }      
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")