﻿@model Foxxlegacy.ViewModel.ViewModel.UserInformationViewModel

@using (Html.BeginForm("UpdateAddressInfo", "Admin", FormMethod.Post))
{

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Update Address Information </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-xs-12">


                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Address
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Address1, new { @class = "form-control", @id = "Address1" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Address Line2
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Address2, new { @class = "form-control", @id = "Address2" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            City
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control", @id = "City" })

                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            State / Province
                        </span>
                    </div>
                    <div class="myinfotop_r">


                        @Html.DropDownListFor(emp => emp.State, new SelectList(Model.stateListViewModel, "Abbr", "Name", "Select State"), null, new { @class = "form-control" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Zip / Postal Code
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Zip, new { @class = "form-control", @id = "Zip" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                


            </div>
        </div>
    </div>
    <div class="modal-footer">
        @Html.HiddenFor(x => x.UsersAddressesID)
        @Html.HiddenFor(x => x.UserId)
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}





