﻿@model List<Foxxlegacy.ViewModel.ViewModel.ReferralUser>
<ul class="child-tree-node" style="display:block">
    @{
        if (Model.Count > 0)
        {
            foreach (var node in Model)
            {
                <li>
                    @if (node.ChildNodeCount > 0)
                    {
                        <button class="treebutton" type="button" data-id="@node.Id"> + </button>
                    }
                <span id="personalinfo" data-id="@node.Id">
                    @node.Text 
                    @{
                        if (node.IsQualified)
                        {
                            <span class="Qual"><b> Qual</b></span>
                        }
                        else
                        {
                            <span class="NoQual"><b> Qual</b></span>
                        }

                        if (node.IsSms)
                        {
                            <b><i class="fa fa-mobile" style="color:green;" aria-hidden="true"></i></b>
                        }
                        else
                        {
                            <b><i class="fa fa-mobile" style="color:red;" aria-hidden="true"></i></b>
                        }
                        if (node.IsEmail)
                        {
                            <b><i class="fa fa-envelope" style="color:green;" aria-hidden="true"></i></b>
                        }
                        else
                        {
                            <b><i class="fa fa-envelope" style="color:red;" aria-hidden="true"></i></b>
                        }
                        if (true)
                        {
                            if (node.IsPersonalMovable)
                            {
                                <b><i class="fa fa-clock" style="color:black;" aria-hidden="true"></i></b>
                            }
                            @*else if (node.IsPersonalPermanent)
                            {
                                <img title="Personal Permanent" alt="Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                            }
                            else if (node.IsNonPersonalMovable)
                            {
                                <img title="Non-Personal Movable" alt="Non-Personal Movable" src="@Url.Content("~/Images/black-stopwatch.png")" />
                            }
                            else if (node.IsPersonalPermanent)
                            {
                                <img title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                            }*@
                            <span>Rank:</span> @node.RankText
                        }
                        @*<img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />*@

                <a href="/Members/RankManagementReport?id=@node.Id" target="_blank"> <i class="fa fa-file" aria-hidden="true"></i> Rank management Report</a>
                    }
                </span>
                </li>
            }
        }
    }
</ul>


