﻿@model  Foxxlegacy.ViewModel.ViewModel.RoleInfoViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    @using (Html.BeginForm("UserRoleUpdae", "AdminPermission", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.UserName);
        <div class="table-responsive notificationtable">
            <table cellpadding="0" cellspacing="0" width="40%" id="tblRoleInfo">
                <tbody>
                    <tr>
                        <th>Permission</th>
                        <th>
                            Role Name
                        </th>
                    </tr>
                    @{
                        for (int i = 0; i < Model._roleDetails.Count; i++)
                        {
                            <tr>
                                <td style="display:none">@Html.HiddenFor(x => x._roleDetails[i].PermissionRoleId)</td>
                                <td>@Html.CheckBoxFor(x => x._roleDetails[i].Permission)</td>
                                <td>@Html.DisplayFor(x => x._roleDetails[i].RoleName)</td>
                                <td style="display:none">@Html.HiddenFor(x => x._roleDetails[i].MainRoleId)</td>
                                <td style="display:none">@Html.HiddenFor(x => x._roleDetails[i].RoleName)</td>
                                <td style="display:none">@Html.HiddenFor(x => x._roleDetails[i].UserId)</td>
                            </tr>
                        }
                    }
            </table>
        </div>
        <input type="submit" class="transfer_panel_bottom_btn" name="btnUpdate" value="Update" />
    }
</div>
@Scripts.Render("~/bundles/jqueryval")