﻿@model Foxxlegacy.ViewModel.ViewModel.UserInformationViewModel

@using (Html.BeginForm("UpdateMyInfo", "Admin", FormMethod.Post))
{

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Personal Information </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-xs-12">


                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            FirstName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @id = "FirstName" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            LastName
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @id = "LastName" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Phone
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "Phone" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Email Address
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "Email" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Sms Code
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        @Html.TextBoxFor(x => x.SMSCode, new { @class = "form-control", @id = "SMSCode" })

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="myinfobox">
                    <div class="myinfotop_l">
                        <span>
                            Rank
                        </span>
                    </div>
                    <div class="myinfotop_r">
                        

                        @Html.DropDownListFor(emp => emp.RankID,new SelectList(Model.promotionRanksViewModel, "RankId", "RankName", "Select Rank"),null, new { @class = "form-control" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                


            </div>
        </div>
    </div>
    <div class="modal-footer">
        @Html.HiddenFor(x=>x.UserId)
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}




