﻿@model Foxxlegacy.ViewModel.ViewModel.AdminEditorViewModel
@{
    ViewBag.Title = "AdminEditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 ">
        @if (TempData["SUCCESS_MESSAGE"] != null)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
            </div>
        }
    </div>
    <div class="col-md-12 ">
        @if (TempData["ERROR_MESSAGE"] != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="one"></button>
                <button class="tablinks" id="two">Email Editor</button>
                <button class="tablinks" id="three">Web Content Editor</button>
                <button class="tablinks" id="four">Web Content Editor 2</button>
                <button class="tablinks" id="five">Deeplink Editor</button>
                <button class="tablinks" id="six">SMS Editor</button>
                <button class="tablinks" id="seven">Broadcast SMS</button>
                <button class="tablinks" id="eight">Quick Link Editor</button>
                <h5>
                    Resources
                </h5>
                <button class="tablinks" id="nine">Uploader</button>
                <button class="tablinks" id="ten">Cats - Create Mod Del</button>
                <button class="tablinks" id="eleven">Items - Create Mod Del</button>
                <h5>
                    FAQs
                </h5>
                <button class="tablinks" id="twelve">Cats - Create Mod Del</button>
                <button class="tablinks" id="thirteen">Q&A - Create Mod Del</button>

            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="one" class="tabcontent" style="display:@(Model.ActiveTab == 1 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Email Editor:</h4>
                    <p>
                        This area facilitates the addition, modification of system emails.
                    </p>
                    <p>The trigger points for these emails are programmatically applied.</p>
                </div>

                <div class="tabcontainer_content">
                    <h4>Web Content Editor:</h4>
                    <p>
                        This area facilitates the modification of content in the Retail side, Members Back Office and Legal Documents.
                    </p>

                </div>

                <div class="tabcontainer_content">
                    <h4>Resource Center Editor:</h4>
                    <p>
                        This area facilitates the addition, modification and removal of items in the Members Back Office Resource Center.
                    </p>

                    <p>The Resource Center is arranged by categories.</p>
                    <p>
                        The categories display order is adjustable by using the "Cats CMD" tool.
                        Items are assigned to one or more categories and their display order can also be arranged by using the "Items CMD" tool.
                    </p>
                    <p>
                        This area facilitates the addition, modification and removal of items in the Members Back Office Resource Center.
                    </p>
                    <p>
                        The Resource Center is arranged by categories.
                    </p>
                    <p>
                        The categories display order is adjustable by using the "Cats CMD" tool.
                        Items are assigned to one or more categories and their display order can also be arranged by using the "Items CMD" tool.
                        Items have a File Path reference which must be located in the Assets/Resources folder of the website and referenced in a "Https://www.domainName.com/assets/resources/PDF/1.pdf" format.
                        An Upload tool is provided to facilitate sending files to the server.
                    </p>
                    <p>Please follow instructions on the "Upload Items" tool.</p>
                </div>

                <div class="tabcontainer_content">
                    <h4>FAQ Editor:</h4>
                    <p>
                        This area facilitates the addition, modification and removal of categories and content for FAQ's.
                    </p>

                    <p>The FAQ's are arranged by categories.</p>
                    <p>
                        The categories display order is adjustable by using the "Cats CMD" tool. Content is assigned to one or more categories and its display order can also be arranged by using the "Content CMD" tool.
                    </p>
                </div>
                <p>
                    Note: If one or more of the above items does not show up on the left, <br />
                    your username does not have permission to access them.
                </p>
            </div>

            <div id="two" class="tabcontent" style="display:@(Model.ActiveTab == 2 ? "block" : "none");">
                @using (Html.BeginForm("InsertUpdateEmailTemplateDetails", "AdminEditor", FormMethod.Post))
                {
                    @Html.HiddenFor(Model => Model.emailTemplateDetails.EmailId, new { @id = "EmailId" })
                    <div class="tabcontainer_content">
                        <h4>Email Editor</h4>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h5 class="admineditorgreentext">Select the email task that you want to edit</h5>
                            <label>Email Task: </label>
                            <select class="form-control" id="ddlEmailTaskList">
                                <option selected="selected" value="0">Select</option>
                                @foreach (var item in Model.EmailTaskList)
                                {
                                    <option value=@item.EmailId>@item.Task</option>
                                }
                            </select>
                            <br />
                            <input type="submit" class="admin_btn" />
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h5 class="admineditorgreentext">Or enter the name of a new Email All template.</h5>
                            <label>Email All Template:</label>
                            @Html.TextBoxFor(model => model.Task, new { @class = "form-control", @id = "NewTask" })
                            <br />
                            <input type="submit" class="admin_btn" />
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">

                            <label>Task:</label>
                            @Html.TextBoxFor(model => model.emailTemplateDetails.Task, new { @class = "form-control", @id = "Task" })

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">

                            <label>Subject:</label>
                            @Html.TextBoxFor(model => model.emailTemplateDetails.Subject, new { @class = "form-control", @id = "Subject" })
                            <br />
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            @Html.TextAreaFor(model => model.emailTemplateDetails.Body, new { @class = "form - control ckeditor Content", cols = "30", rows = "10", Id = "editText3" })
                            <br />
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="submit" class="admin_btn" value="Update" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="editorbottombox_first">
                            <p> Note: for Salutation, use "R_" meta data.</p>
                            <span>R= Recipient</span>
                            <span>F= FirstName</span>
                            <span>E= Email</span>
                            <span>O= Order</span>
                            <span>Courier= shipping courier ie </span>
                            <span>TG= Trigger Guy </span>
                            <span>L= LastName</span>
                            <span>SU= SponsorUserName</span>
                            <span>STATUS= Order Status</span>
                            <span>USPS</span>
                            <span>C= Customer</span>
                            <span>C_NAME= Customer Full </span>
                            <span>RANK= CurrentRank</span>
                            <span>TRACK= Tracking link</span>
                            <span>U= UserName</span>
                            <span>Name</span>
                            <span>OLDRANK = PreviousRank</span>
                            <span>NO= OrderNo</span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="clearfix"></div>
                    <div class="tabcontainer_content">
                        <h4>Sms Editor</h4>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <h5 class="admineditorgreentext">Enter the SMS text for the corresponding selected email. This is plain text only, No HTML.</h5>
                            <label>Sms Body:</label>
                            @Html.TextAreaFor(model => model.emailTemplateDetails.SmsBody, new { @class = "form-control", @id = "SmsBody" })
                            <br />
                            <input type="submit" class="admin_btn" value="Update SMS" />
                        </div>
                        <div class="clearfix"></div>
                        <p>
                            Available SMS Meta Tags:
                            @@TG_U@@, @@R_E@@, @@O_NO@@
                        </p>
                    </div>

                }
            </div>

            <div id="three" class="tabcontent" style="display:@(Model.ActiveTab == 3 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Edit Web Content</h4>
                    @using (Html.BeginForm("UpdateEditorData", "Admin", FormMethod.Post))
                    {
                        <div class="adminormbox">
                            <div class="col-md-4 col-sm-12">
                                @Html.HiddenFor(Model => Model.Id, new { @id = "ContentId" })
                                @*@Html.DropDownListFor(model => model.Id, new SelectList(Model.ContentKeyList, "Value", "Text"), "- Select -", new { @class = "form-control text-sm" })*@
                                <select class="form-control" id="ddlContentKey">
                                    <option selected="selected" value="0">Select</option>
                                    @foreach (var item in Model.ContentKeyList)
                                    {
                                        <option value=@item.Id>@item.WebContentName</option>
                                    }

                                </select>


                            </div>
                            <div class="col-md-12">
                                @*<textarea name="editor1" id="editText1">@Model.EditorContent</textarea>*@

                                @*@Html.TextAreaFor(m => m.EditorContent, new { name = "editor1", id = "editText" })*@
                                @Html.TextAreaFor(model => model.EditorContent, new { @class = "form - control ckeditor Content", cols = "30", rows = "10", Id = "editText" })
                            </div>
                            <br />
                            <br />
                            @*<textarea id="editor" name="ProductInformation" cols="30" rows="10">@Model.EditorContent</textarea>*@
                            <div class="col-md-12">
                                <input type="submit" class="admin_btn" value="Update Content" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>

                <div class="tabcontainer_content">
                    <h4>Meta Data</h4>
                    <p>
                        Some MBO pages allow the members metadata to be populated in the dynamic content of the page.
                        Below is a case sensitive list of allowed metatags.
                    </p>
                    <p>No Metadata at this time</p>
                </div>

            </div>

            <div id="four" class="tabcontent" style="display:@(Model.ActiveTab == 4 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Edit Web Content :Select</h4>
                    @using (Html.BeginForm("UpdateEditorData2", "Admin", FormMethod.Post))
                    {
                        <div class="adminormbox">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.HiddenFor(Model => Model.Id, new { @id = "ContentId2" })
                                    @*@Html.DropDownListFor(model => model.Id, new SelectList(Model.ContentKeyList, "Value", "Text"), "- Select -", new { @class = "form-control text-sm" })*@
                                    <select class="form-control" id="ddlContentKey2">
                                        <option selected="selected" value="0">Select</option>
                                        @foreach (var item in Model.ContentKeyList)
                                        {
                                            <option value=@item.Id>@item.WebContentName</option>
                                        }

                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(model => model.ContentKeyName, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="submit" class="admin_btn" value="New Web Content Name" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.EditorContent, new { @class = "form - control ckeditor Content", cols = "30", rows = "10", Id = "editText2" })
                                </div>
                                <div class="col-md-12" style="margin-top:15px;">
                                    <input type="submit" class="admin_btn" value="Update Content" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div id="five" class="tabcontent" style="display:@(Model.ActiveTab == 5 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Deeplink Details</h4>
                    @using (Html.BeginForm("InsertDeeplinkDetails", "AdminEditor", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.DeeplinkId)
                        <div class="adminormbox">
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Page Name:</label></div>
                                <div class="col-md-2 col-sm-12 col-xs-12"> @Html.TextBoxFor(model => model.PageName, new { @class = "form-control", @id = "PageName" })</div>
                                <div class="col-md-1 col-sm-12 col-xs-12"><label>Page Url:</label></div>
                                <div class="col-md-3 col-sm-12 col-xs-12"> @Html.TextBoxFor(model => model.Url, new { @class = "form-control", @id = "Url" })</div>
                                <div class="col-md-1 col-sm-12 col-xs-12"><label>Order:</label></div>
                                <div class="col-md-3 col-sm-12 col-xs-12"> @Html.TextBoxFor(model => model.Order, new { @class = "form-control", @id = "Order" })</div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <input id="btnAdd" type="submit" value="Add" class="admin_btn" />

                                </div>
                            </div>
                        </div>
                    }
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>PageName</th>
                                <th>PageUrl</th>
                                <th>Order</th>
                                <th></th>
                            </tr>
                            @foreach (var Item in Model.DeeplinkDetailsList)
                            {
                                <tr>
                                    <td>@Item.PageName</td>
                                    <td>@Item.Url</td>
                                    <td>@Item.Order</td>
                                    <td>
                                        <input type="button" class="btnEdit" value="Edit" data-id="@Item.DeeplinkId" data-PageName="@Item.PageName" data-Url="@Item.Url" data-Order="@Item.Order" />
                                        <a class="dropdown-item" href="@Url.Action("DeleteDeeplinkDetails", "AdminEditor",new { DeeplinkId=Item.DeeplinkId})"><input type="button" value="Delete" /></a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                </div>
            </div>


            <div id="six" class="tabcontent" style="display:@(Model.ActiveTab == 6 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Edit SMS Content </h4>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12"><label>Select an SMS Event to edit: </label></div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                @Html.DropDownListFor(model => model.SmsId, new SelectList(Model.SmsEventList, "Id", "EventName"), "- Select -", new { @class = "form-control select2", @id = "ddlSmsEvent" })

                            </div>
                            @using (Html.BeginForm("InsertSmsEventDetails", "AdminEditor", FormMethod.Post))
                            {
                                <div class="col-md-3 col-sm-12 col-xs-12"><label>Enter New SMS Event Name:</label></div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(model => model.SmsEventDetails.NewEventName, new { @class = "form-control", @id = "txtEventName" })
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <input type="submit" class="admin_btn" value="Create New SMS Event" />
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.SmsEventDetails != null)
                    {
                        <div class="table-responsive">

                            <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                <tr>
                                    <th></th>
                                    <th>Event Name</th>
                                    <th>Keyword</th>
                                    <th>Confirm Opt In</th>
                                    <th>Confirm Opt Out</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    @using (Html.BeginForm("UpdateSmsEventDetails", "AdminEditor", FormMethod.Post))
                                    {
                                        <td>

                                            <a class="changepasswordbtn Remove" href="@Url.Action("DeleteSmsEventDetails", "AdminEditor", new { Id = Model.SmsEventDetails.Id })" id="btn_smsRemove"><input class="admin_btn" type="button" value="Delete" /></a>
                                            <a class="changepasswordbtn Edit" href="javascript:;" id="btn_smsedit">Edit</a>
                                            <input class="admin_btn smsupdate" style="display:none" type="submit" value="Update" />
                                            <a class="changepasswordbtn smscancel" style="display:none" href="javascript:;" id="btn_smscancel">Cancel</a>
                                            @Html.HiddenFor(model => model.SmsEventDetails.Id, new { @id = "SmsEventId" })
                                        </td>
                                        <td><span class="lbl"> @Model.SmsEventDetails.EventName</span>@Html.TextBoxFor(model => model.SmsEventDetails.EventName, new { @class = "form-control smstext", style = "display:none" })</td>
                                        <td><span class="lbl"> @Model.SmsEventDetails.Keyword</span>@Html.TextBoxFor(model => model.SmsEventDetails.Keyword, new { @class = "form-control smstext", style = "display:none" })</td>
                                        <td><span class="lbl"> @Model.SmsEventDetails.ConfirmOptIn</span>@Html.TextBoxFor(model => model.SmsEventDetails.ConfirmOptIn, new { @class = "form-control smstext", style = "display:none" })</td>
                                        <td><span class="lbl"> @Model.SmsEventDetails.ConfirmOptOut</span>@Html.TextBoxFor(model => model.SmsEventDetails.ConfirmOptOut, new { @class = "form-control smstext", style = "display:none" })</td>
                                        <td></td>
                                    }
                                </tr>
                            </table>

                        </div>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <label>Messages for this event    </label> <a class="changepasswordbtn" href="@Url.Action("InsertSmsEventMessageDetails", "AdminEditor", new { Id = Model.SmsEventDetails.Id })" id="btn_smsmsgAdd"> <input type="button" class="admin_btn" value="Create Message For Event" /></a>
                        </div>
                        <br />
                        <br />

                    }
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable" id="tblSmsEventMessage">
                            <tr>
                                <th></th>
                                <th>Message</th>
                                <th>SendTime</th>
                                <th></th>
                            </tr>
                            @for (int i = 0; i < Model.SmsEventMsgList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a class="changepasswordbtn Remove" href="@Url.Action("DeleteSmsEventMsgDetails", "AdminEditor",new { Id=Model.SmsEventMsgList[i].Id,SmsId=Model.SmsEventDetails.Id})" id="btn_smsedit">Remove</a>
                                        <a class="changepasswordbtn Edit" href="javascript:;" id="btn_add" data-Id="@Model.SmsEventMsgList[i].Id">Edit</a>
                                        <a class="changepasswordbtn Update" href="javascript:;" data-Id="@Model.SmsEventMsgList[i].Id" data-Msg="@Model.SmsEventMsgList[i].Msg" data-SendTime="@Model.SmsEventMsgList[i].SendTime" style="display:none">Update</a>
                                        <a class="changepasswordbtn Cancel" href="javascript:;" data-Name="@Model.SmsEventMsgList[i].Id" style="display:none">Cancel</a>
                                    </td>
                                    <td class="Msg">
                                        <span>
                                            @Model.SmsEventMsgList[i].Msg
                                        </span>
                                        <input type="text" value="@Model.SmsEventMsgList[i].Msg" style="display:none" />
                                    </td>
                                    <td class="SendTime">
                                        <span>
                                            @Model.SmsEventMsgList[i].SendTime
                                        </span>
                                        <input type="text" value="@Model.SmsEventMsgList[i].SendTime" style="display:none" />
                                    </td>
                                    <td>
                                        <input class="admin_btn Duplicate" type="button" value="Duplicate" data-toggle="modal" data-time="@Convert.ToDateTime(Model.SmsEventMsgList[i].SendTime).ToString("h:mm tt")" data-target="#exampleModalLong" />


                                    </td>
                                    <td class="Id" style="display:none">@Model.SmsEventMsgList[i].Id</td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>
                <p>
                    NOTE: If you insert links into your text message body, ensure that you have inlcuded "www" i.e. Https://www.Google.com/TryMe
                    Note: Opting into an SMS Event use phone number 715.602.8256 ie "text ck to 7156028256"
                </p>
            </div>

            <div id="seven" class="tabcontent" style="display:@(Model.ActiveTab == 7 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>1 - Chose below who you want to send to (All, Username, Rank and Above or Rank Only)</h4>
                    <div class="adminemailinner_tab">
                        <ul class="tabs">
                            <li class="tab-link current" data-tab="tab-1">Send To All</li>
                            <li class="tab-link" data-tab="tab-2">Send To UserName</li>
                            <li class="tab-link" data-tab="tab-3">Send To Downline</li>
                            <li class="tab-link" data-tab="tab-4">Send To Rank And Above</li>
                            <li class="tab-link" data-tab="tab-5">Send To Only Rank</li>
                        </ul>

                        <div id="tab-1" class="tab-content current">

                        </div>
                        <div id="tab-2" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>User Name</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Add User" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>User Name</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Get Downline User" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>Rank</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control">
                                            <option value="1">Associate</option>
                                            <option value="2">Ambassador</option>
                                            <option value="3">Sr. Ambassador</option>
                                            <option value="4">One Star Silver</option>
                                            <option value="5">Two Star Silver</option>
                                            <option value="6">Three Star Silver</option>
                                            <option value="7">One Star Gold</option>
                                            <option value="8">Two Star Gold</option>
                                            <option value="9">Three Star Gold</option>
                                            <option value="10">One Star Platinum</option>
                                            <option value="11">Two Star Platinum</option>
                                            <option value="12">Three Star Platinum</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Get Count" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>Rank</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control">
                                            <option value="1">Associate</option>
                                            <option value="2">Ambassador</option>
                                            <option value="3">Sr. Ambassador</option>
                                            <option value="4">One Star Silver</option>
                                            <option value="5">Two Star Silver</option>
                                            <option value="6">Three Star Silver</option>
                                            <option value="7">One Star Gold</option>
                                            <option value="8">Two Star Gold</option>
                                            <option value="9">Three Star Gold</option>
                                            <option value="10">One Star Platinum</option>
                                            <option value="11">Two Star Platinum</option>
                                            <option value="12">Three Star Platinum</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Get Count" /></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        2 - Enter your SMS text message here and click "Add to Broadcast" below
                    </h4>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="editor3"></textarea>
                            </div>

                            <div class="col-md-12">
                                <br />
                                <input type="submit" class="admin_btn" value="Add To Broadcast" />
                            </div>
                        </div>
                    </div>
                    <p>306 characters remaining</p>
                </div>


                <div class="tabcontainer_content">
                    <h4>3 - Broadcast SMS messages to the list <span>Count: 0</span></h4>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <p><b>Regarding the broadcast Email list below:</b></p>
                            <p>1 – Choose to send them all by checking the box beside “User Name” or,</p>
                            <p>2 – Check the box beside the individual users you want to send to or,</p>
                            <p>3 – Use the Search to filter by “User Name” or “To Number” for users you want to keep, or delete from the list.</p>
                            <p>Then, select what you want to send and click “Send” when you are ready to broadcast.</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="adminemsailsrighttpanel">
                                <p>
                                    Server Time : 5/19/2021 2:06:47 AM
                                    <img src="~/Images/refresh.png" />
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Search" /></div>
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Delete Selected Users" /></div>
                            <div class="clearfix"></div>
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Schedule Email" /></div>
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Send Email Now" /></div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <p>No Records Found</p>
                </div>

                <div class="tabcontainer_content">
                    <h4>Schedule Broadcast List <span>Server Time : 5/19/2021 2:06:47 AM <img style="width: 21px;" src="~/Images/refresh.png" /></span></h4>
                    <p>No Records Found</p>
                </div>
            </div>

            <div id="eight" class="tabcontent" style="display:@(Model.ActiveTab == 8 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Link Pages</h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th></th>
                                <th>Page Name</th>
                                <th>Page Url</th>
                                <th>Order</th>
                            </tr>
                            @foreach (var Item in Model.DeeplinkDetailsList)
                            {
                                <tr>
                                    <td><input class="checkDeeplink" type="checkbox" value="@Item.SelectForQuickLinks" @(Item.SelectForQuickLinks == true ? "checked" : "") data-id="@Item.DeeplinkId" /></td>
                                    <td>@Item.PageName</td>
                                    <td>@Item.Url</td>
                                    <td>@Item.Order</td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

            </div>

            <div id="nine" class="tabcontent" style="display:@(Model.ActiveTab == 9 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Uploader:</h4>
                    <div class="greentext">
                        <h5>Click on the Image Icon.</h5>
                        <h5>Click on the "My Files" tab.</h5>
                        <h5>Click on the "Upload" link.</h5>
                    </div>

                    <div class="imageuploadadmineditor">
                        <a data-toggle="modal" data-target="#exampleModalCenter">
                            <img src="~/Images/imageicon.png" />
                        </a>
                    </div>


                </div>
            </div>

            <div id="ten" class="tabcontent" style="display:@(Model.ActiveTab == 10 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Categories: Create Modify Delete</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("InsertCatsData", "AdminEditor", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(model => model.CatsName, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"><input type="submit" value="Create New Category" /></div>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable" id="tblCats">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>CatOrder</th>
                            </tr>
                            @for (int i = 0; i < Model.CatsDetailsList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a class="changepasswordbtn Remove" id="btn_add" data-Id="@Model.CatsDetailsList[i].Id" href="javascript:;">Remove</a>
                                        <a class="changepasswordbtn Edit" href="javascript:;" id="btn_add" data-Id="@Model.CatsDetailsList[i].Id">Edit</a>
                                        <a class="changepasswordbtn Update" href="javascript:;" data-Id="@Model.CatsDetailsList[i].Id" data-Name="@Model.CatsDetailsList[i].Name" data-Order="@Model.CatsDetailsList[i].CatOrder" style="display:none">Update</a>
                                        <a class="changepasswordbtn Cancel" href="javascript:;" data-Name="@Model.CatsDetailsList[i].Name" style="display:none">Cancel</a>
                                    </td>
                                    <td class="Name">
                                        <span>
                                            @Model.CatsDetailsList[i].Name
                                        </span>
                                        <input type="text" value="@Model.CatsDetailsList[i].Name" style="display:none" />
                                    </td>
                                    <td class="Order">
                                        <span>
                                            @Model.CatsDetailsList[i].CatOrder
                                        </span>
                                        <input type="text" value="@Model.CatsDetailsList[i].CatOrder" style="display:none" />
                                    </td>
                                    <td class="Id" style="display:none">@Model.CatsDetailsList[i].Id</td>
                                </tr>
                            }



                        </table>
                    </div>
                </div>
            </div>



            <div id="eleven" class="tabcontent" style="display:@(Model.ActiveTab == 11 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>New Item</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("InsertResourcesItems", "AdminEditor", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.resourcesItems.Id, new { @id = "resourcesItemId" })
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Name</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(model => model.resourcesItems.Name, new { @class = "form-control", @id = "resourcesName" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Description</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(model => model.resourcesItems.Description, new { @class = "form-control", @id = "resourcesDescription" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>File Path</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(model => model.resourcesItems.FilePath, new { @class = "form-control", @id = "resourcesFilePath" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Display Order</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(model => model.resourcesItems.DisplayOrder, new { @class = "form-control", @id = "resourcesDisplayOrder" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>	Category</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.DropDownListFor(model => model.resourcesItems.CatsId, new SelectList(Model.CatsDetailsList, "Id", "Name"), "- Select -", new { @class = "form-control select2", @id = "resourcesCatsId" })

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <input type="submit" id="btnResourcesItem" class="admin_btn" value="Create New Item Now" />
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Resource Center Items: Modify / Delete:   Delimit by Category &nbsp; &nbsp; &nbsp;
                        @Html.DropDownListFor(model => model.resourcesItems.CatsId, new SelectList(Model.CatsDetailsList, "Id", "Name"), "- Select -", new { @class = "headingselect", @id = "ddlResCats" })

                    </h4>
                </div>

                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>File Path</th>
                            <th>Order</th>
                        </tr>
                        @for (int i = 0; i < Model.resourcesItemsList.Count; i++)
                        {
                            <tr>
                                <td>
                                    @*@Model.resourcesItemsList[i].Id*@
                                    <input type="button" class="btnResourcesItemsEdit" value="Edit" data-id="@Model.resourcesItemsList[i].Id" data-Name="@Model.resourcesItemsList[i].Name" data-Description="@Model.resourcesItemsList[i].Description" data-FilePath="@Model.resourcesItemsList[i].FilePath" data-DisplayOrder="@Model.resourcesItemsList[i].DisplayOrder" data-CatsId="@Model.resourcesItemsList[i].CatsId" />
                                    <a class="dropdown-item" href="@Url.Action("DeleteResourcesItems", "AdminEditor",new { Id=Model.resourcesItemsList[i].Id})"><input type="button" value="Delete" /></a>

                                </td>
                                <td>
                                    @Model.resourcesItemsList[i].Name
                                </td>
                                <td class="Name">
                                    @Model.resourcesItemsList[i].Description
                                </td>
                                <td class="Order">
                                    @Model.resourcesItemsList[i].FilePath
                                </td>
                                <td>
                                    @Model.resourcesItemsList[i].DisplayOrder
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>


            <div id="twelve" class="tabcontent" style="display:@(Model.ActiveTab == 8 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Categories: Create Modify Delete</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("InsertCatsData", "AdminEditor", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(model => model.CatsName, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"><input type="submit" value="Create New Category" /></div>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable" id="tblFaqCats">
                            <tr>
                                <th></th>
                                <th>CatName</th>
                                <th>CatOrder</th>
                            </tr>
                            @for (int i = 0; i < Model.FaqCatsDetailsList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a class="changepasswordbtn Remove" id="btn_add" data-Id="@Model.FaqCatsDetailsList[i].Id" href="javascript:;">Remove</a>
                                        <a class="changepasswordbtn Edit" href="javascript:;" id="btn_add" data-Id="@Model.FaqCatsDetailsList[i].Id">Edit</a>
                                        <a class="changepasswordbtn Update" href="javascript:;" data-Id="@Model.FaqCatsDetailsList[i].Id" data-Name="@Model.FaqCatsDetailsList[i].Name" data-Order="@Model.CatsDetailsList[i].CatOrder" style="display:none">Update</a>
                                        <a class="changepasswordbtn Cancel" href="javascript:;" data-Name="@Model.FaqCatsDetailsList[i].Name" style="display:none">Cancel</a>
                                    </td>
                                    <td class="Name">
                                        <span>
                                            @Model.FaqCatsDetailsList[i].Name
                                        </span>
                                        <input type="text" value="@Model.FaqCatsDetailsList[i].Name" style="display:none" />
                                    </td>
                                    <td class="Order">
                                        <span>
                                            @Model.FaqCatsDetailsList[i].CatOrder
                                        </span>
                                        <input type="text" value="@Model.FaqCatsDetailsList[i].CatOrder" style="display:none" />
                                    </td>
                                    <td class="Id" style="display:none">@Model.FaqCatsDetailsList[i].Id</td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

            <div id="thirteen" class="tabcontent" style="display:@(Model.ActiveTab == 13 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Create FAQ's</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("InsertFaqItems", "AdminEditor", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.FaqsItems.Id, new { @id = "FaqId" })
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Question:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12"> @Html.TextBoxFor(model => model.FaqsItems.Question, new { @class = "form-control", @id = "faqQuestion" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Add To Category:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @Html.DropDownListFor(model => model.FaqsItems.Category, new SelectList(Model.FAQCategoriesList, "Id", "Name"), "- Select -", new { @class = "form-control", @id = "ddlFaqCategory" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Cat. Display Order:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12"> @Html.TextBoxFor(model => model.FaqsItems.DisplayOrder, new { @class = "form-control", @id = "faqDisplayOrder" })</div>
                                <div class="clearfix"></div>
                                <div class="col-md-12 col-sm-12 col-xs-12"><label>Enter Answer Below:</label></div>
                                <div class="col-md-12 col-sm-12 col-xs-12"> @Html.TextAreaFor(model => model.FaqsItems.Answer, new { @class = "form-control", @id = "faqAnswer" })</div>
                                <div class="col-md-12">
                                    <input type="submit" id="btnFaqAdd" class="admin_btn" value="Add New FAQ" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>

                        FAQ's Content: Modify / Delete	  Select By Category &nbsp; &nbsp; &nbsp;
                        @Html.DropDownListFor(model => model.FaqsItems.Category, new SelectList(Model.FAQCategoriesList, "Id", "Name"), "- Select -", new { @class = "headingselect", @id = "ddlFaqCats" })

                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th></th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Display Order</th>

                            </tr>
                            @for (int i = 0; i < Model.FaqsItemsList.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @*@Model.resourcesItemsList[i].Id*@
                                        <input type="button" class="btnFaqItemsEdit" value="Edit" data-id="@Model.FaqsItemsList[i].Id" data-Question="@Model.FaqsItemsList[i].Question" data-Answer="@Model.FaqsItemsList[i].Answer" data-DisplayOrder="@Model.FaqsItemsList[i].DisplayOrder" data-Category="@Model.FaqsItemsList[i].Category" />
                                        <a class="dropdown-item" href="@Url.Action("DeleteFaqItems", "AdminEditor",new { Id=Model.FaqsItemsList[i].Id})"><input type="button" value="Delete" /></a>

                                    </td>
                                    <td>
                                        @Model.FaqsItemsList[i].Question
                                    </td>
                                    <td class="Name">
                                        @Model.FaqsItemsList[i].Answer
                                    </td>
                                    <td class="Order">
                                        @Model.FaqsItemsList[i].DisplayOrder
                                    </td>

                                </tr>
                            }

                        </table>
                    </div>

                    <div style="display:block;">
                        @using (Html.BeginForm("UpdateFaqItems", "AdminEditor", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.FaqsItems.Category, new { @id = "updateCategoryId" })
                            <div class="col-md-12">
                                @Html.ListBoxFor(model => model.FaqsItems.SelectedTeaIds, new SelectList(Model.FAQCategoriesList, "Id", "Name"), new { @class = "headingselect", @id = "listFaqCats" })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="admin_btn" value="Update" />
                            </div>
                        }
                    </div>
                </div>

            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="uploadpopup_l">
                            <ul class="tabs1">
                                <li class="tab-link current1" data-tab="tab-01">Send To All</li>
                                <li class="tab-link" data-tab="tab-02">Send To UserName</li>
                                <li class="tab-link" data-tab="tab-03">Send To Downline</li>
                            </ul>

                            <div id="tab-01" class="tab-content1 current1">
                                <div class="adminormbox">
                                    <div class="row">
                                        <div class="col-md-12"><label>Tags:</label></div>
                                        <div class="col-md-12"><input type="text" class="form-control" /></div>
                                        <div class="col-md-12"><input type="submit" value="Search" class="admin_btn" /></div>
                                        <div class="col-md-12"><a href="">Load More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div id="tab-02" class="tab-content1">
                                <div class="myfilesupload">
                                    <a class="newfolderlinkupload" id="show-hidden-menu">New Folder</a>
                                    <a class="newfolderlinkupload" id="show-hidden-menu1">Upload</a>
                                    <div class="newfoldertoggleboxupload hidden-menu" style="display:none;">
                                        <h3>New Folder</h3>
                                        <div class="adminormbox">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <input type="submit" value="Create" class="admin_btn" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploadtoggleboxupload hidden-menu1" style="display:none;">
                                        <h3>Upload</h3>
                                    </div>
                                    <ul>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                        <li><a href=""><i class="fa fa-folder" aria-hidden="true"></i> Folder</a></li>
                                        <li><a href=""><img src="~/Images/imageicon.png" /> Folder</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div id="tab-03" class="tab-content1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox1">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox2">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox3">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox4">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox5">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox6">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox7">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox8">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="upload_imgbox9">
                                            <img src="~/Images/7937N.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12" style="background:#f3f2f2;">
                        <div class="adminormbox">
                            <div class="row">
                                <div class="col-md-12 col-md-12 col-xs-12"><label>IMAGE SOURCE:</label></div>
                                <div class="col-md-12 col-md-12 col-xs-12"><input type="text" class="form-control" /></div>
                                <div class="col-md-12 col-md-12 col-xs-12"><label>TITLE:</label></div>
                                <div class="col-md-12 col-md-12 col-xs-12"><input type="text" class="form-control" /></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <label>ALIGN:</label>
                                    <select class="form-control">
                                        <option value="" id="optAlign" name="optAlign"></option>
                                        <option value="left" id="optAlign" name="optAlign">Left</option>
                                        <option value="right" id="optAlign" name="optAlign">Right</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <label>V-SPACING:</label>
                                    <select class="form-control">
                                        <option value="0"></option>
                                        <option value="1">1px</option>
                                        <option value="2">2px</option>
                                        <option value="3">3px</option>
                                        <option value="4">4px</option>
                                        <option value="5">5px</option>
                                        <option value="6">6px</option>
                                        <option value="7">7px</option>
                                        <option value="8">8px</option>
                                        <option value="9">9px</option>
                                        <option value="10">10px</option>
                                        <option value="11">11px</option>
                                        <option value="12">12px</option>
                                        <option value="13">13px</option>
                                        <option value="14">14px</option>
                                        <option value="15">15px</option>
                                        <option value="16">16px</option>
                                        <option value="17">17px</option>
                                        <option value="18">18px</option>
                                        <option value="19">19px</option>
                                        <option value="20">20px</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <label>H-SPACING:</label>
                                    <select class="form-control">
                                        <option value="0"></option>
                                        <option value="1">1px</option>
                                        <option value="2">2px</option>
                                        <option value="3">3px</option>
                                        <option value="4">4px</option>
                                        <option value="5">5px</option>
                                        <option value="6">6px</option>
                                        <option value="7">7px</option>
                                        <option value="8">8px</option>
                                        <option value="9">9px</option>
                                        <option value="10">10px</option>
                                        <option value="11">11px</option>
                                        <option value="12">12px</option>
                                        <option value="13">13px</option>
                                        <option value="14">14px</option>
                                        <option value="15">15px</option>
                                        <option value="16">16px</option>
                                        <option value="17">17px</option>
                                        <option value="18">18px</option>
                                        <option value="19">19px</option>
                                        <option value="20">20px</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-12 col-md-12 col-xs-12"><label>WIDTH x HEIGHT:</label></div>
                                <div class="col-md-3 col-md-12 col-xs-12"><input type="text" class="form-control" /></div>
                                <div class="col-md-1 col-md-12 col-xs-12">x</div>
                                <div class="col-md-3 col-md-12 col-xs-12"><input type="text" class="form-control" /></div>
                                <div class="col-md-1 col-md-12 col-xs-12">px</div>
                                <div class="clearfix"></div>
                                <hr />

                                <div class="col-md-12 col-md-12 col-xs-12"><label>LINK TO URL:</label></div>
                                <div class="col-md-12 col-md-12 col-xs-12"><input type="text" class="form-control" /></div>
                                <div class="col-md-12 col-md-12 col-xs-12"><label><input type="checkbox" /> OPEN IN A NEW WINDOW.</label></div>
                                <div class="col-md-12 col-md-12 col-xs-12">
                                    <br />
                                    <input type="button" value="Close" class="admin_btn" />
                                    <input type="submit" value="Insert" class="admin_btn" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("DuplicateMessageInsert", "AdminEditor", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Time, new { Id = "TimeId" })

                @Html.HiddenFor(model => model.Id, new { Id = "SmsId" })

                <div class="modal-body">
                    <h2>Duplicate Message</h2>
                    <h3>Message Frequency</h3>
                    <div class="col-md-12">
                        <span>
                            Please set the quantity, interval, period and starting on date then click on update frequency.
                            The duplicated messages will assume the same send time as the original message
                        </span>
                    </div>
                    <div class="col-md-12">
                        Quantity    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @id = "txtQuantity" })
                    </div>
                    <div class="col-md-12">
                        Once every    @Html.TextBoxFor(model => model.OnceEvery, new { @class = "form-control", @id = "txtOnceEvery" })
                    </div>
                    <div class="col-md-12">
                        <select name="ddlFreqPeriod" id="ddlFreqPeriod" class="ddl">
                            <option selected="selected" value="1">Day(s)</option>
                            <option value="2">Week(s)</option>
                            <option value="3">Month(s)</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        Starting on  @Html.TextBoxFor(model => model.StartingOn, new { @class = "form-control", @id = "txtStartingOn", @type = "Date" })
                    </div>

                    <div>
                        <input type="button" id="btnPreviewSendDates" value="Preview Send Dates" />
                        @*<input type="button" value="Preview Send Dates" onclick="location.href='@Url.Action("PopulateFreqTable","Admin")'" />*@
                    </div>
                    <div>
                        <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="tblPreviewSendDates">
                            <thead>
                                <tr>
                                    <th>Message #</th>
                                    <th>Send Date</th>

                                </tr>
                            </thead>
                            <tbody id="DuplicateMessagedatatable">
                            </tbody>
                            

                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnDuplicateMessageSave" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Js/AdminEditor")
<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    // tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlContentKey').on('change', function () {
            var ddlvalue = $(this).val();
            if (ddlvalue != '0') {
                // alert('ExactEstateLocation');
                var HelpContent = '';
                $.ajax({
                    type: "GET",
                    url: "/Admin/GetContentData?Id=" + ddlvalue,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    async: true,
                    success: function (result) {
                        debugger;
                        $("#ContentId").val(ddlvalue);
                        HelpContent = result.data.HelpContent;
                        CKEDITOR.instances['editText'].setData(HelpContent);



                    }
                });

            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('#ddlContentKey2').on('change', function () {
            var ddlvalue = $(this).val();
            if (ddlvalue != '0') {
                // alert('ExactEstateLocation');
                var HelpContent = '';
                $.ajax({
                    type: "GET",
                    url: "/Admin/GetContentData?Id=" + ddlvalue,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    async: true,
                    success: function (result) {
                        debugger;
                        $("#ContentId2").val(ddlvalue);
                        HelpContent = result.data.HelpContent;
                        CKEDITOR.instances['editText2'].setData(HelpContent);



                    }
                });

            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('.btnEdit').on('click', function () {
            debugger;

            var dataId = $(this).attr("data-id");
            var dataPageName = $(this).attr("data-PageName");
            var dataUrl = $(this).attr("data-Url");
            var dataOrder = $(this).attr("data-Order");

            if (dataId != '0') {

                $("#DeeplinkId").val(dataId);
                $("#PageName").val(dataPageName);
                $("#Url").val(dataUrl);
                $("#Order").val(dataOrder);

                $("#btnAdd").val('Update');

            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('#ddlEmailTaskList').on('change', function () {
            var ddlvalue = $(this).val();
            if (ddlvalue != '0') {
                // alert('ExactEstateLocation');
                var HelpContent = '';
                var VTask = '';
                var VSubject = '';
                var VSmsBody = '';

                $.ajax({
                    type: "GET",
                    url: "/AdminEditor/GetEmailTemplateData?Id=" + ddlvalue,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    async: true,
                    success: function (result) {
                        debugger;
                        $("#EmailId").val(ddlvalue);
                        HelpContent = result.data.Body;
                        VTask = result.data.Task;
                        VSubject = result.data.Subject;
                        VSmsBody = result.data.SmsBody;
                        CKEDITOR.instances['editText3'].setData(HelpContent);
                        $("#Task").val(VTask);
                        $("#Subject").val(VSubject);
                        $("#SmsBody").val(VSmsBody);


                    }
                });

            }
            else {
                alert('FExactEstateLocation');
            }
        });



        $('.checkDeeplink').on('change', function () {
            debugger;
            var ddlvalue = $(this).val();
            var dataId = $(this).attr("data-id");
            var CheckStatus = '';
            if (dataId != '0') {

                if ($(this).prop("checked") == true) {

                    CheckStatus = 'true';
                };

                if ($(this).prop("checked") == false) {

                    CheckStatus = 'false';
                };


                $.ajax({
                    type: "GET",
                    url: "/AdminEditor/CheckUpdateDeeplinkDetails?DeeplinkId=" + dataId + "&IsCheck=" + CheckStatus,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    cache: false,
                    async: true,
                    success: function (result) {
                        debugger;



                    }
                });

            }
        });

        $('#ddlResCats').on('change', function () {
            var ddlvalue = $(this).val();
            if (ddlvalue != '0') {
                // alert('ExactEstateLocation');
                var HelpContent = '';
                var VTask = '';
                var VSubject = '';
                var VSmsBody = '';
                window.location.href = "/Admin/AdminEditor?Id=" + ddlvalue;


            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('#ddlFaqCats').on('change', function () {
            var ddlvalue = $(this).val();
            if (ddlvalue != '0') {
                // alert('ExactEstateLocation');
                var HelpContent = '';
                var VTask = '';
                var VSubject = '';
                var VSmsBody = '';

                window.location.href = "/Admin/AdminEditor?Id=0&CategoriesId=" + ddlvalue;


            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('.btnResourcesItemsEdit').on('click', function () {
            debugger;

            var dataId = $(this).attr("data-id");
            var dataName = $(this).attr("data-Name");
            var dataDescription = $(this).attr("data-Description");
            var dataFilePath = $(this).attr("data-FilePath");
            var dataDisplayOrder = $(this).attr("data-DisplayOrder");
            var dataCatsId = $(this).attr("data-CatsId");

            if (dataId != '0') {

                $("#resourcesItemId").val(dataId);
                $("#resourcesName").val(dataName);
                $("#resourcesDescription").val(dataDescription);
                $("#resourcesFilePath").val(dataFilePath);
                $("#resourcesDisplayOrder").val(dataDisplayOrder);
                $("#resourcesCatsId").val(dataCatsId);
                $("#resourcesCatsId").prop("disabled", true);

                $("#btnResourcesItem").val('Update');

            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('.btnFaqItemsEdit').on('click', function () {
            debugger;

            var dataId = $(this).attr("data-id");
            var Question = $(this).attr("data-Question");
            var dataAnswer = $(this).attr("data-Answer");
            var dataDisplayOrder = $(this).attr("data-DisplayOrder");
            var dataCatsId = $(this).attr("data-Category");

            if (dataId != '0') {

                $("#FaqId").val(dataId);
                $("#faqQuestion").val(Question);
                $("#faqDisplayOrder").val(dataDisplayOrder);
                $("#faqAnswer").val(dataAnswer);
                $("#ddlFaqCategory").val(dataCatsId);
                $("#ddlFaqCategory").prop("disabled", true);

                $("#btnFaqAdd").val('Update');

            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('#ddlSmsEvent').on('change', function () {
            var ddlvalue = $(this).val();
            if (ddlvalue != '0') {


                window.location.href = "/Admin/AdminEditor?Id=0&CategoriesId=0&SmsId=" + ddlvalue;


            }
            else {
                alert('FExactEstateLocation');
            }
        });

        $('#btn_smsedit').on('click', function () {
            debugger;

            $(".lbl").hide();
            $("#btn_smsedit").hide();
            $("#btn_smsRemove").hide();
            $(".smstext").show();
            $("#btn_smscancel").show();
            $(".smsupdate").show();


        });

        $('#btn_smscancel').on('click', function () {
            debugger;

            $(".lbl").show();
            $("#btn_smsedit").show();
            $("#btn_smsRemove").show();
            $(".smstext").hide();
            $("#btn_smscancel").hide();
            $(".smsupdate").hide();

        });

        $('.Duplicate').on('click', function () {
            debugger;
            var time = $(this).attr("data-time");
            $("#TimeId").val(time);
            var SmsEventId = $("#SmsEventId").val();
            $("#SmsId").val(SmsEventId);
        });
    });
</script>

<script>
    $("body").on("click", "#tblCats .Edit", function () {
        var row = $(this).closest("tr");
        //var $row = $(this).closest("tr");
        //var $text = $row.find(".CampaignId").text();
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblCats .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html().replace(/\s+$/g, '').replace(/^\s+/g, ''));
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblCats .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();
        debugger;
        //var dataId = $(this).attr("data-Id");
        //var dataname = $(this).attr("data-Name");
        var cats = {};
        cats.Id = row.find(".Id").text();
        cats.Name = row.find(".Name").find("span").html();
        cats.CatOrder = row.find(".Order").find("span").html();
        $.ajax({
            type: "POST",
            url: "/AdminEditor/UpdateCats",
            data: '{cats:' + JSON.stringify(cats) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Admin/AdminEditor";
    });

    $("body").on("click", "#tblCats .Remove", function () {
        var cId = $("#Id").val();
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();
        var cats = {};
        cats.Id = row.find(".Id").text();
        cats.Name = row.find(".Name").find("span").html();
        cats.CatOrder = row.find(".Order").find("span").html();
        $.ajax({
            type: "POST",
            url: "/AdminEditor/DeleteCats",
            data: '{cats:' + JSON.stringify(cats) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Admin/AdminEditor";
    });

    $("body").on("click", "#tblFaqCats .Edit", function () {
        var row = $(this).closest("tr");
        //var $row = $(this).closest("tr");
        //var $text = $row.find(".CampaignId").text();
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblFaqCats .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html().replace(/\s+$/g, '').replace(/^\s+/g, ''));
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblFaqCats .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();
        debugger;
        //var dataId = $(this).attr("data-Id");
        //var dataname = $(this).attr("data-Name");
        var cats = {};
        cats.Id = row.find(".Id").text();
        cats.Name = row.find(".Name").find("span").html();
        cats.CatOrder = row.find(".Order").find("span").html();
        $.ajax({
            type: "POST",
            url: "/AdminEditor/FaqUpdateCats",
            data: '{cats:' + JSON.stringify(cats) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Admin/AdminEditor";
    });

    $("body").on("click", "#tblFaqCats .Remove", function () {
        var cId = $("#Id").val();
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();
        var cats = {};
        cats.Id = row.find(".Id").text();
        cats.Name = row.find(".Name").find("span").html();
        cats.CatOrder = row.find(".Order").find("span").html();
        $.ajax({
            type: "POST",
            url: "/AdminEditor/FaqDeleteCats",
            data: '{cats:' + JSON.stringify(cats) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Admin/AdminEditor";
    });

    $("body").on("click", "#tblSmsEventMessage .Edit", function () {
        var row = $(this).closest("tr");
        //var $row = $(this).closest("tr");
        //var $text = $row.find(".CampaignId").text();
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
        row.find(".Delete").hide();
        $(this).hide();
    });

    $("body").on("click", "#tblSmsEventMessage .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();
        debugger;

        var smsId = $("#SmsEventId").val();
        var message = {};
        message.Id = row.find(".Id").text();
        message.Msg = row.find(".Msg").find("span").html();
        message.SendTime = row.find(".SendTime").find("span").html();
        $.ajax({
            type: "POST",
            url: "/AdminEditor/UpdateSmsEventMessageDetails",
            data: '{model:' + JSON.stringify(message) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        window.location.href = "/Admin/AdminEditor?Id=0&CategoriesId=0&SmsId=" + smsId;
    });

    $("body").on("click", "#tblSmsEventMessage .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html().replace(/\s+$/g, '').replace(/^\s+/g, ''));
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        $(this).hide();
    });
</script>
