﻿@model Foxxlegacy.ViewModel.ViewModel.AdminHomeViewModel
@{
    ViewBag.Title = "AdminMember";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "MemberInfoTab"?"active":"":"")" id="One">Member Info</button>
                <button class="tablinks" id="Two">Passwords</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "ChangeUserNameTab"?"active":"":"")" id="Three">UserName Change</button>
                <button class="tablinks" id="Four">Sponsor Change</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "OrderCallListTab"?"active":"":"")" id="Five">Order Call List</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "DeclineCallListTab"?"active":"":"")" id="Six">Decline Call List</button>
                <h5>Rank:</h5>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "PinCertificateListTab"?"active":"":"")" id="Seven">Pin/Certificate List</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "CallListTab"?"active":"":"")" id="Eight">Call List</button>
                <button class="tablinks" id="Nine">AutoShip</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">


            <div id="One" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "MemberInfoTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>User Finder -- No wildcards needed. To find Anderson you only need to enter nders</h4>
                    <div class="adminormbox">
                        @using (@Html.BeginForm("AdminMember", "Admin", FormMethod.Post))
                        {
                            <form>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Search for</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "Subject" })
                                    </div>

                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Order Results By:</label>
                                    </div>
                                       <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(model => model.SearchBy, new List<SelectListItem>
                                     {
                                        new SelectListItem{Text="User Name", Value="UserName"},
                                         new SelectListItem{Text="First Name", Value="FirstName"},
                                         new SelectListItem{Text="Last Name", Value="LastName"},
                                         new SelectListItem{Text="Email Address", Value="Email"},
                                         new SelectListItem{Text="Phone", Value="Phone"}
                                   }, new { @class = "form-control" })

                                        @*<select class="form-control">
                                <option selected="selected" value="UserName">User Name</option>
                                <option value="FirstName">First Name</option>
                                <option value="LastName">Last Name</option>
                                <option value="Email">Email Address</option>
                                <option value="Phone">Phone</option>
                            </select>*@
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" class="admin_btn" value="Search" />
                                    </div>
                                    <div class="clr"></div>

                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Search by orderNo:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.OrderNo, new { @class = "form-control", id = "OrderNo" })
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" class="admin_btn" value="Search" />
                                    </div>
                                </div>
                            </form>
                        }
                    </div>

                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>Admin Notes</th>
                                <th>User Info</th>
                                <th>Pers</th>
                                <th>Tree</th>
                                <th>Upline</th>
                                <th>Cust.Count</th>
                                <th>Comm</th>
                                <th>Orders</th>
                                <th>Rank</th>
                                <th>Msgs</th>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </tr>
                            <tbody>

                                @if (Model.MemberInfo != null)
                                {

                                    foreach (var item in Model.MemberInfo)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=CSJTab"><img src="~/Images/notes.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=MemberInfonTab"><img src="~/Images/user_info.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=PersonalsTab"><img src="~/Images/personals.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=TreeTab"><img src="~/Images/Tree.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=UplineTab"><img src="~/Images/up_arrow.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=TeamCustomersCountTab"><img src="~/Images/customers-icon.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=CommissionsTab"><img src="~/Images/commissions.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=OrdersTab"><img src="~/Images/orders.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=RankTab"><img src="~/Images/trophy.png" /></a>

                                            </td>
                                            <td>
                                                <a href="/Admin/contact_inner?UserId=@item.UserId&ActiveTab=MessagesTab"><img src="~/Images/messages.png" /></a>

                                            </td>
                                            <td> @Html.DisplayFor(model => item.UserName)</td>
                                            <td> @Html.DisplayFor(model => item.FirstName)</td>
                                            <td> @Html.DisplayFor(model => item.LastName)</td>
                                            <td> @Html.DisplayFor(model => item.Email)</td>
                                            <td> @Html.DisplayFor(model => item.Phone)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div id="Two" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "PasswordsTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>Use this tool to retrieve the members password.	</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Username:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="UserName" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Password:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <label id="lblPassword"></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="btnGetPassword" type="button" class="admin_btn" value="Submit" />

                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div id="Three" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "ChangeUserNameTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>Members Username Modification.</h4>
                    <p>This tool is used to modify an affiliate's username.</p>
                    <div class="adminormbox">

                        @using (@Html.BeginForm("ChangeUserName", "Admin", FormMethod.Post))
                        {
                            <input type="hidden" name="TabName" value="ChangeUserNameTab" />
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Old Username:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.OldUserName, new { @class = "form-control", id = "OldUserName" })
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>New Username:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.NewUserName, new { @class = "form-control", id = "NewUserName" })
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="submit" class="admin_btn" value="Submit" />
                                </div>
                                <div class="clr"></div>
                            </div>

                        }
                    </div>
                    <p style="text-align:center">
                        <span style="color:DarkCyan;font-weight:bold;text-align:center">
                            @if (TempData.ContainsKey("SUCCESS_MESSAGE"))
                            {
                                @TempData["SUCCESS_MESSAGE"]
                            }
                        </span>
                    </p>
                    @if (TempData["ERROR_MESSAGE"] != null)
                    {
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
                        </div>
                    }
                    <p>

                        note: when modifying a UserName for the purposes of deleting that user,
                        the new UserName should be "removed_UserName".
                        example: Joe should be changed to removed_Joe
                    </p>
                </div>
            </div>





            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Sponsor Change Tool</h4>
                    <p>Changes User's sponsor</p>
                    <div class="adminormbox">
                        @using (@Html.BeginForm("ChangeSponsor", "Admin", FormMethod.Post))
                        {
                            <input type="hidden" name="TabName" value="ChangeSponsorTab" />
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>UserName:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "UserName" })

                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Old Sponsor:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.OldSponsor, new { @class = "form-control", id = "OldSponsor" })

                                </div>
                                <div class="clr"></div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>New Sponsor:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.NewSponsor, new { @class = "form-control", id = "NewSponsor" })

                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="submit" class="admin_btn" value="Do you want to continue" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div id="Five" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "OrderCallListTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>Order Call List <span>@Model.OrderCallListViewModel.Count records.</span></h4>
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>OrderNo</th>
                            <th>Customer Name</th>
                            <th>Customer Phone</th>
                            <th>State</th>
                            <th>CSR</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                        @if (Model.OrderCallListViewModel.Count > 0)
                        {
                            foreach (var item in Model.OrderCallListViewModel)
                            {
                                <tr>


                                    <td>
                                        <input type="button" value="Member Info" onclick="location.href='@Url.Action("Contact_inner", "Admin",new {ContactsID=0,UserId=item.UsersID,ActiveTab="MemberInfonTab" })'" />
                                    </td>
                                    <td><input type="button" value="View Order" /></td>
                                    <td>@item.Orderno</td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.state</td>
                                    <td>@item.CSR</td>
                                    @using (Html.BeginForm("OrderCallListNoCall", "Admin", new { OrderID = item.OrdersId, theUsersID = item.UsersID, OrderNo = item.Orderno }, FormMethod.Post))
                                    {


                                        <td><input type="button" value="Mark As Called" onclick="location.href='@Url.Action("OrderCallList", "Admin", new { OrderID = item.OrdersId, theUsersID = item.UsersID, CommandName = "Called",OrderNo=item.Orderno })'" /></td>
                                        <td><input type="button" value="My Call" onclick="location.href='@Url.Action("OrderCallList", "Admin", new { OrderID = item.OrdersId, theUsersID = 0, CommandName = "MyCall",OrderNo=item.Orderno })'" /></td>

                                        <td><input type="submit" value="No Call" onclick="return confirm('Are you sure you want to No-Call this record?');" /></td>


                                    }
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>

            <div id="Six" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "DeclineCallListTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>Autoship Decline Call List <span>@Model.DeclineCallListViewModel.Count records.</span></h4>
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>OrderNo</th>
                            <th>Customer Name</th>
                            <th>Customer Phone</th>
                            <th>State</th>
                            <th>CSR</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                        @if (Model.DeclineCallListViewModel.Count > 0)
                        {
                            foreach (var item in Model.DeclineCallListViewModel)
                            {
                                <tr>


                                    <td>
                                        <input type="button" value="Member Info" onclick="location.href='@Url.Action("Contact_inner", "Admin",new {ContactsID=0,UserId=item.UsersID,ActiveTab="MemberInfonTab" })'" />
                                    </td>
                                    <td><input type="button" value="View Order" /></td>
                                    <td>@item.Orderno</td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.state</td>
                                    <td>@item.CSR</td>
                                    @using (Html.BeginForm("DeclineCallListNoCall", "Admin", new { OrderID = item.OrdersId, theUsersID = item.UsersID, OrderNo = item.Orderno }, FormMethod.Post))
                                    {


                                        <td><input type="button" value="Mark As Called" onclick="location.href='@Url.Action("DeclineCallList", "Admin", new { OrderID = item.OrdersId, theUsersID = item.UsersID, CommandName = "Called",OrderNo=item.Orderno })'" /></td>
                                        <td><input type="button" value="My Call" onclick="location.href='@Url.Action("DeclineCallList", "Admin", new { OrderID = item.OrdersId, theUsersID = 0, CommandName = "MyCall",OrderNo=item.Orderno })'" /></td>

                                        <td><input type="submit" value="No Call" onclick="return confirm('Are you sure you want to No-Call this record?');" /></td>


                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>

            <div id="Seven" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "PinCertificateListTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>Rank Achievement Pin List <input class="" type="button" value="btnExportAllList" onclick="location.href='@Url.Action("ExportToExcel","Admin")'" /></h4>
                    

                    @*<h4>Rank Achievement Pin List <input class="" type="button" value="btnExportAllList" onclick="location.href='@Url.Action("ExportToExcel","Admin",new {ModelList=Model.PinCertificateListViewModel })'" /></h4>*@




                    <p>This is a list of Members who have not been sent a Rank Pin for their Rank Type Advancement (currently @Model.PinsToSendCount pins need to be sent).</p>
                    <p>* After you have mailed the appropriate pin, locate the corresponding record and click the "Pin Sent" button.</p>
                    <p>This action will remove the record from this list and create a new CSJ entry for the Member indicating which pin, when the pin was sent, and by whom.</p>
                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tr>
                                <th></th>
                                <th>UserName</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>RankName</th>
                                <th>PromoDate</th>
                                <th>Address1</th>
                                <th>Address2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th></th>
                            </tr>

                            @if (Model.PinCertificateListViewModel.Count > 0)
                            {
                                foreach (var item in Model.PinCertificateListViewModel)
                                {
                                    <tr>
                                        <td><input type="button" value="Pin/Cert Sent" onclick="location.href='@Url.Action("SentPin","Admin",new {Id=item.LogID,theUsersID=item.UserId,PinRankName=item.RankName })'" /></td>

                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.RankName</td>
                                        <td>@item.PromoDate</td>
                                        <td>@item.Address1</td>
                                        <td>@item.Address2</td>
                                        <td>@item.City</td>
                                        <td>@item.State</td>
                                        <td>@item.Zip</td>
                                        <td>@item.Country</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>

                                        @using (Html.BeginForm("PinCertificateListNoCall", "Admin", new { LogRankID = item.LogID, theUsersID = item.UserId, PinRankName = item.RankName }, FormMethod.Post))
                                        {



                                            <td><input type="submit" value="No Call" onclick="return confirm('Are you sure you want to No-Call this record?');" /></td>


                                        }

                                    </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>

            <div id="Eight" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "CallListTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <div class="tabcontainer_content">
                        <h4>Rank Achievement Call List </h4>
                        <p>This is a list of Members who have not been called and congratulated for their Rank Type Advancement (currently @Model.CallToMakeCount Members need to be called).</p>
                        <p>* After you have called a Member, locate the appropriate record and click the "Called" button.</p>
                        <p>This action will remove the record from this list and create a new CSJ entry for the Member indicating when they were called, for what Rank, and by whom.</p>
                        <div class="table-responsive">
                            <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                                <tr>
                                    <th></th>
                                    <th>UserName</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>RankName</th>
                                    <th>PromoDate</th>

                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                    <th>Country</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>CSR</th>
                                    <th></th>
                                </tr>

                                @if (Model.CallListViewModel.Count > 0)
                                {
                                    foreach (var item in Model.CallListViewModel)
                                    {
                                        <tr>
                                            <td>
                                                <input type="button" value="Member Info" onclick="location.href='@Url.Action("Contact_inner", "Admin",new {ContactsID=0,UserId=item.UserId,ActiveTab="MemberInfonTab" })'" />
                                            </td>
                                            <td>@item.UserName</td>
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@item.RankName</td>
                                            <td>@item.PromoDate</td>

                                            <td>@item.City</td>
                                            <td>@item.State</td>
                                            <td>@item.Zip</td>
                                            <td>@item.Country</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.CSR</td>

                                            @using (Html.BeginForm("CallListNoCall", "Admin", new { LogID = item.LogID, theUsersID=item.UserId, PinRankName=item.RankName }, FormMethod.Post))
                                            {


                                                <td><input type="button" value="Mark As Called" onclick="location.href='@Url.Action("CallList", "Admin", new {LogID = item.LogID, CommandName = "Called",PinRankName=item.RankName,theUsersID=item.UserId })'" /></td>
                                                <td><input type="button" value="My Call" onclick="location.href='@Url.Action("CallList", "Admin", new { LogID = item.LogID, CommandName = "MyCall",PinRankName=item.RankName,theUsersID=item.UserId })'" /></td>

                                                <td><input type="submit" value="No Call" onclick="return confirm('Are you sure you want to No-Call this record?');" /></td>


                                            }

                                        </tr>
                                    }
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Nine" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>User Finder -- No wildcards needed. To find Anderson you only need to enter nders</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Search for:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Order Results By:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option selected="selected" value="UserName">User Name</option>
                                        <option value="FirstName">First Name</option>
                                        <option value="LastName">Last Name</option>
                                        <option value="Email">Email Address</option>
                                        <option value="Phone">Phone</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Search" />
                                </div>
                                <div class="clr"></div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Search by orderNo:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Search" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>





        </div>
        <div class="clearfix"></div>
    </div>
</div>
@Scripts.Render("~/bundles/Js/AdminMember")
<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    //tabContent[0].style.display = "block";//not in use

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>

