﻿
@{
    ViewBag.Title = "AdminPermissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-12 col-sm-12">
        <div class="faq2_admin">
            <div class="tabcontainer_content">
                <h4>
                    Admin Permissions Manager
                </h4>

                <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                    <tr>
                        <th></th>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td><a class="admin_btn" href="">Select</a></td>
                        <td>Amindale</td>
                        <td>foxx@capgen.biz</td>
                    </tr>
                    <tr>
                        <td><a class="admin_btn" href="">Select</a></td>
                        <td>Amindale</td>
                        <td>foxx@capgen.biz</td>
                    </tr>
                    <tr>
                        <td><a class="admin_btn" href="">Select</a></td>
                        <td>Amindale</td>
                        <td>foxx@capgen.biz</td>
                    </tr>
                    <tr>
                        <td><a class="admin_btn" href="">Select</a></td>
                        <td>Amindale</td>
                        <td>foxx@capgen.biz</td>
                    </tr>
                    <tr>
                        <td><a class="admin_btn" href="">Select</a></td>
                        <td>Amindale</td>
                        <td>foxx@capgen.biz</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-sm-12">
        <div class="faq2_admin">
            <div class="tabcontainer_content">
                <h4>
                    Policies and Procedures Updates:
                </h4>
                <div style="padding:20px">
                    <a class="admin_btn" href="">Reset Member's P&P Agreements</a>
                </div>
            </div>
        </div>
    </div>
</div>


