﻿@model Foxxlegacy.ViewModel.ViewModel.ContactDetailsViewModel
@{
    ViewBag.Title = "Admin Private Notes";
   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="contactinner_forstbottom">







    <h5>Enter private notes for this contact. These notes will only be seen by Admin.</h5>
    @using (Html.BeginForm("AdminPrivateNotes", "Admin", FormMethod.Post))
    {


        @Html.TextAreaFor(x => x.Notes, new { @class = "form-control", style = "height:150px;" })
        @Html.HiddenFor(x => x.ContactID)
        @Html.HiddenFor(x => x.UsersID)

        <div align="center" class="button_paneladmin">

            <input type="submit" class="admin_btn" value="Admin Private Notes" />
            <div class="clearfix"></div>
        </div>

    }
</div>

