﻿
@{
    ViewBag.Title = "AdminEmails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="One"></button>
                <button class="tablinks" id="Two">Broadcast Email</button>
                <button class="tablinks" id="Three">Sent Email Report</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="One" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Send Emails:</h4>
                    <p>
                        This area facilitates the sending of system emails to a group of people by
                        pre-defined categories as well as user-defined lists.
                    </p>
                </div>

            </div>

            <div id="Two" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>1 - Chose below who you want to send to (All, Username, Rank and Above or Rank Only)</h4>

                    <div class="adminemailinner_tab">
                        <ul class="tabs">
                            <li class="tab-link current" data-tab="tab-1">Send To All</li>
                            <li class="tab-link" data-tab="tab-2">Send To UserName</li>
                            <li class="tab-link" data-tab="tab-3">Send To Downline</li>
                            <li class="tab-link" data-tab="tab-4">Send To Rank And Above</li>
                            <li class="tab-link" data-tab="tab-5">Send To Only Rank</li>
                            <li class="tab-link" data-tab="tab-6">FOF Only</li>
                            <li class="tab-link" data-tab="tab-7">PR & RC Only</li>
                            <li class="tab-link" data-tab="tab-8">General SMS Opt-Out Only</li>
                            <li class="tab-link" data-tab="tab-9">SMS Not Verify User Only</li>
                        </ul>

                        <div id="tab-1" class="tab-content current">

                        </div>
                        <div id="tab-2" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>User Name</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Add User" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>User Name</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Get Downline User" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>Rank</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control">
                                            <option value="1">Associate</option>
                                            <option value="2">Ambassador</option>
                                            <option value="3">Sr. Ambassador</option>
                                            <option value="4">One Star Silver</option>
                                            <option value="5">Two Star Silver</option>
                                            <option value="6">Three Star Silver</option>
                                            <option value="7">One Star Gold</option>
                                            <option value="8">Two Star Gold</option>
                                            <option value="9">Three Star Gold</option>
                                            <option value="10">One Star Platinum</option>
                                            <option value="11">Two Star Platinum</option>
                                            <option value="12">Three Star Platinum</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Get Count" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-content">
                            <div class="adminormbox">
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12"><label>Rank</label></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control">
                                            <option value="1">Associate</option>
                                            <option value="2">Ambassador</option>
                                            <option value="3">Sr. Ambassador</option>
                                            <option value="4">One Star Silver</option>
                                            <option value="5">Two Star Silver</option>
                                            <option value="6">Three Star Silver</option>
                                            <option value="7">One Star Gold</option>
                                            <option value="8">Two Star Gold</option>
                                            <option value="9">Three Star Gold</option>
                                            <option value="10">One Star Platinum</option>
                                            <option value="11">Two Star Platinum</option>
                                            <option value="12">Three Star Platinum</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" value="Get Count" /></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-content">

                        </div>
                        <div id="tab-7" class="tab-content">

                        </div>
                        <div id="tab-8" class="tab-content">

                        </div>
                        <div id="tab-9" class="tab-content">

                        </div>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>2 - Enter your Email text message here and click "Add to Broadcast" below <span>Recipient Count: 4	</span></h4>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12"><label>Choose Your Template : </label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <select class="form-control">
                                    <option selected="selected" value="0">Please select a template</option>
                                    <option value="1">Template</option>
                                    <option value="2">Customer_Create_Welcome</option>
                                    <option value="6">User_Create_FOF</option>
                                    <option value="7">User_Create_FOF_SP1</option>
                                    <option value="8">User_Create_FOF_SP2</option>
                                    <option value="9">User_Create_FOF_SP3</option>
                                    <option value="10">User_Create_RC</option>
                                    <option value="11">User_Create_RC_SP1</option>
                                    <option value="12">User_Create_RC_SP2</option>
                                    <option value="13">User_Create_RC_SP3</option>
                                    <option value="14">User_Upgrade_RC</option>
                                    <option value="15">User_Upgrade_RC_SP1</option>
                                    <option value="16">User_Upgrade_RC_SP2</option>
                                    <option value="17">User_Upgrade_RC_SP3</option>
                                    <option value="18">User_Upgrade_PR</option>
                                    <option value="19">User_Upgrade_PR_SP1</option>
                                    <option value="20">User_Upgrade_PR_SP2</option>
                                    <option value="21">User_Upgrade_PR_SP3</option>
                                    <option value="22">User_Rank_advance</option>
                                    <option value="23">User_Rank_advance_SP1</option>
                                    <option value="24">User_Rank_advance_SP2</option>
                                    <option value="25">User_Rank_advance_SP3</option>
                                    <option value="26">Order_Placement</option>
                                    <option value="27">Order_Status_Update</option>
                                    <option value="29">Contacts_FrontEnd_ToMember</option>
                                    <option value="30">Contacts_Member_ToAdmin_Confirm</option>
                                    <option value="31">Contacts_Admin_Reply_ToMember</option>
                                    <option value="32">Order_Tracking</option>
                                    <option value="33">Autoship_ProcessingFailure</option>
                                    <option value="34">Autoship_ProcessingSuccess</option>
                                    <option value="35">No in use</option>
                                    <option value="36">Conference Call Notification</option>
                                    <option value="37">Admin_ContactUser</option>
                                    <option value="38">Training Call</option>
                                    <option value="39">Admin_CSJ_Feedback</option>
                                    <option value="40">Order_Confirmation_SMS_ONLY</option>
                                    <option value="41">Password_Recovery_SMS_ONLY</option>
                                    <option value="42">Commission_received_PR</option>
                                    <option value="43">Commission_received_RC</option>
                                    <option value="44">Attempted Contact</option>
                                    <option value="45">New Foxx Legacy Customer</option>
                                    <option value="46">Foxx Legacy Event Template 1</option>
                                    <option value="47">SteakDinner</option>
                                    <option value="48">SMS Subscribe</option>
                                    <option value="49">Deactivating Recurring Order</option>
                                    <option value="50">September Pet Product Promo</option>
                                    <option value="51">Last Week September Pet Product Promo</option>
                                    <option value="52">October Mobility Sale</option>
                                    <option value="53">October Mobility Sale with Image</option>
                                    <option value="54">Cyber_Monday</option>
                                    <option value="55">Holiday Notification Email</option>
                                    <option value="56">Perform! Announcement</option>
                                    <option value="57">Tuesday Conf Call</option>
                                    <option value="58">Saturday call</option>
                                    <option value="59">Sat call - 2-23-2019</option>
                                    <option value="60">happy Thursday</option>
                                    <option value="61">Thanks Giving  Holoiday cancellation</option>
                                    <option value="62">Mobile App Preview</option>
                                    <option value="63">Lyme disese and Covid-19</option>
                                    <option value="64">No Foxx Legacy Monday Cal</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 col-sm-12 col-xs-12"><label>Subject :</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <textarea name="editor1"></textarea>
                            </div>

                            <div class="col-md-12">
                                <br />
                                <input type="submit" class="admin_btn" value="Add To Broadcast" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tabcontainer_content">
                    <h4>3 - Broadcast Email messages to the list <span>Count: 0</span></h4>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <p><b>Regarding the broadcast Email list below:</b></p>
                            <p>1 – Choose to send them all by checking the box beside “User Name” or,</p>
                            <p>2 – Check the box beside the individual users you want to send to or,</p>
                            <p>3 – Use the Search to filter by “User Name” or “To Number” for users you want to keep, or delete from the list.</p>
                            <p>Then, select what you want to send and click “Send” when you are ready to broadcast.</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="adminemsailsrighttpanel">
                                <p>
                                    Server Time : 5/19/2021 2:06:47 AM
                                    <img src="~/Images/refresh.png" />
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Search" /></div>
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Delete Selected Users" /></div>
                            <div class="clearfix"></div>
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Schedule Email" /></div>
                            <div class="col-md-3 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Send Email Now" /></div>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>Schedule Broadcast List <span>Server Time : 5/19/2021 2:06:47 AM <img style="width: 21px;" src="~/Images/refresh.png" /></span></h4>
                </div>

            </div>

            <div id="Three" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Sent Email Reports </h4>
                    <p>No Records Found</p>

                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>







