﻿
@{
    ViewBag.Title = "AdminCK1";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>Long = 1</p>
<p>Lat = 1</p>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="faq2_admin">
            <div class="tabcontainer_content">
                <h4>
                    Text Here
                    <span><a href="" style="color:#fff;">QR Code</a></span>
                </h4>

                <p>This is a test page for CKing. GUID = 516681c0-4a64-4f24-a137-4f1d20823b45</p>
                <p>
                    Please dont change or use
                </p>
                <br />
                <div class="clearfix"></div>
                <div class="col-md-12">                    
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-1 col-sm-12 col-sm-12"><input type="button" class="admin_btn" value="Show Email" /></div>
                            <div class="col-md-2 col-sm-12 col-sm-12"><label><b> &nbsp; Label</b></label></div>                            
                            <div class="clearfix"></div>                           
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Email" />
                            </div>
                        </div>
                    </div>

                   

                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-1 col-sm-12 col-sm-12"><label>txt:</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><textarea class="form-control" style="height:100px;"></textarea></div>
                            <div class="clearfix"></div>
                            <div class="col-md-1"><label>To</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Send SMS" />
                            </div>
                            <br />
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Enroll Calls" />
                            </div>


                            <div class="col-md-2 col-sm-12 col-sm-12"><label>Is UserName:</label></div>
                            <div class="col-md-2 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-sm-12"><label>Grandfathered at RankID:</label></div>
                            <div class="col-md-2 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-1">
                                <input type="button" class="admin_btn" value="?" />
                            </div>
                            <div class="col-md-3">
                               <label>Who Knows</label>
                            </div>
                        </div>


                    </div>
                    
                </div>
                <div class="clearfix"></div>
            </div>

            
        </div>
    </div>
</div>

<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            PDF Manipulation
        </h4>
        <p></p>
        <div class="col-md-12">
            <input type="button" class="admin_btn" value="Try Me" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            Map thing
        </h4>
        <p></p>
        <div class="col-md-12">
            <input type="button" class="admin_btn" value="Try Me" />
        </div>

        <div class="clearfix"></div>
    </div>
    </div>

<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            Populate Long Lat
        </h4>
        <p>Populate LongLat	</p>
        <div class="col-md-12">
            <input type="button" class="admin_btn" value="Button" />
        </div>
        <div class="clearfix"></div>
    </div>
    </div>

<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            Populate SMS Code
        </h4>
        <p>Populate Sms Code	</p>
        <div class="col-md-12">
            <input type="button" class="admin_btn" value="Button" />
        </div>
        <div class="clearfix"></div>
    </div>
    </div>

<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            Populate Partners Code
        </h4>
        <p>PrePop Partners Code	</p>
        <div class="col-md-12">
            <input type="button" class="admin_btn" value="Go" />
        </div>
        <div class="clearfix"></div>
    </div>
    </div>