﻿
@{
    ViewBag.Title = "AdminCK2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="faq2_admin">
    <div class="tabcontainer_content">

        <div class="ck2_panel">
            <div class="col-md-12">
                <input type="button" class="admin_btn" value="getCustomerProfileIds" />
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="Create Customer Profile Request" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>ID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>Description</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>Email </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="email" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="getCustomerProfile" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="updateCustomerProfile" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>ID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>Description </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>Email  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID    </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="deleteCustomerProfile" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>DeleteCustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="createCustomerPaymentProfile" />
                <div class="clearfix"></div>
                <h3>CUSTOMER:</h3>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>ValideationMode</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <select class="form-control">
                        <option value="none">none</option>
                        <option value="testMode">testMode</option>
                        <option value="liveMode">liveMode</option>
                    </select>
                </div>

                <div class="clearfix"></div>
                <h3>BILL TO INFO:</h3>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> FirstName</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> LastName</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Company </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Address  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> City  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> State   </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Zip    </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Country     </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Phone      </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Fax      </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="clearfix"></div>
                <h3> CC INFO: </h3>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> CardNumber </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="col-md-2 col-sm-12 col-xs-12"><label> ExpirationDate </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="col-md-2 col-sm-12 col-xs-12"><label>  CardCode </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="clearfix"></div>
                <h3>  BANK ACCT: </h3>

                <div class="col-md-2 col-sm-12 col-xs-12"><label>  RoutingNumber </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="col-md-2 col-sm-12 col-xs-12"><label>  AccountNumber  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="col-md-2 col-sm-12 col-xs-12"><label>  NameOnAccount  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>

                <div class="col-md-2 col-sm-12 col-xs-12"><label>  BankName  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="getCustomerPaymentProfile" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerPaymentProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="updateCustomerPaymentProfile" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>  Use the same fields in CreateCustomerShippingAddress and this field:   CustomerAddressID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="deleteCustomerPaymentProfile" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerPaymentProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="createCustomerShippingAddress" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="clearfix"></div>
                <h3>Address INFO:</h3>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> FirstName</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> LastName</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Company </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Address  </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> City   </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> State    </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Zip     </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Country     </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Phone     </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label> Fax     </label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="getCustomerShippingAddress" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerAddressID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="updateCustomerShippingAddress" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>Use the same fields in CreateCustomerShippingAddress and this field:   CustomerAddressID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="deleteCustomerShippingAddress" />
                <div class="clearfix"></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerProfileID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                <div class="col-md-2 col-sm-12 col-xs-12"><label>CustomerAddressID</label></div>
                <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="ck2_panel_box">
            <div class="adminormbox">
                <input type="button" class="admin_btn" value="deleteCustomerShippingAddress" />
            </div>
            <div class="clearfix"></div>
        </div>






    </div>
</div>