﻿@model Foxxlegacy.ViewModel.ViewModel.AdminMEditorsViewModel
@{
    ViewBag.Title = "AdminMEditor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="One"></button>
                <h5>
                    Marketing
                    Resources
                </h5>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "BrandsTab"?"active":"":"")" id="Two">Brands</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "ProductsTab"?"active":"":"")" id="Three">Products</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "SitesTab"?"active":"":"")" id="Four">Sites</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "MethodsTab"?"active":"":"")" id="Five">Methods</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "ResourcesTab"?"active":"":"")" id="Six">Resources</button>
                <span>
                    Resources reference sites.
                    Create a site for every product.
                </span>
                <h5>
                    Destination
                    Editors
                </h5>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "ProductVideoPagesTab"?"active":"":"")" id="Seven">Product Video Pages</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="One" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Marketing Resource Editor:</h4>
                    <p>This area facilitates the creation and modification of marketing assets</p>
                </div>

            </div>

            <div id="Two" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "BrandsTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>Brands: Create Modify Delete</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("CreateNewBrand", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.BrandsViewModel.ID)
                            <input type="hidden" id="MsgId" value="@TempData["Message"]" />
                            <div class="row" style="display:@(TempData.ContainsKey("EditBranddiv")==true?Convert.ToString(TempData["EditBranddiv"])== "hidediv" ? "block" : "none":"")">



                                <div class="col-md-2 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.BrandsViewModel.Name, new { @class = "form-control" })</div>
                                <div class="col-md-4 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Create New Brand" /></div>

                            </div>

                            <div class="row" style="display:@(TempData.ContainsKey("EditBranddiv")==true?Convert.ToString(TempData["EditBranddiv"]) == "showdiv" ? "block" : "none":"none")">


                                <table cellspacing="0" cellpadding="4" style="color:#333333;border-collapse:collapse;">
                                    <tbody>
                                        <tr style="color:White;background-color:#5D7B9D;font-weight:bold;">
                                            <th scope="col">&nbsp;</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>AppDisplayOrder</th>
                                            <th>AppImgUrl</th>
                                        </tr>
                                        <tr style="color:#333333;background-color:#999999;">
                                            <td style="color:Black;font-size:X-Small;font-weight:bold;font-style:italic;text-decoration:underline;">
                                                <input type="submit" class="admin_btn" value="Update" />
                                                <input type="button" class="admin_btn" value="Cancel" onclick="location.href='@Url.Action("CancelAdminMEditor","Admin")'" />
                                            </td>
                                            <td>@Html.TextBoxFor(x => x.BrandsViewModel.EditName, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(x => x.BrandsViewModel.Description, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(x => x.BrandsViewModel.AppDisplayOrder, new { @class = "form-control" })</td>
                                            <td>@Html.TextBoxFor(x => x.BrandsViewModel.AppImgUrl, new { @class = "form-control" })</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        }
                    </div>

                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>AppDisplayOrder	</th>
                                <th width="30%">AppImgUrl</th>
                            </tr>
                            @if (Model.BrandsListViewModel.Count > 0)
                            {
                                foreach (var item in Model.BrandsListViewModel)
                                {

                                    <tr>
                                        @using (Html.BeginForm("DeleteBrand", "Admin", new { Id = item.ID }, FormMethod.Post))
                                        {


                                            <td><input type="button" value="edit" onclick="location.href='@Url.Action("EditBrand","Admin",new {Id=item.ID  })'" /><input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this brand?\nAny products with this brand will be orphaned.');" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>@item.AppDisplayOrder</td>
                                            <td>@item.AppImgUrl</td>
                                        }
                                    </tr>
                                }
                            }



                        </table>
                    </div>
                </div>
            </div>

            <div id="Three" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ProductsTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>New Product</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("CreateNewProduct", "Admin", FormMethod.Post))
                        {

                            @Html.HiddenFor(x => x.ProductsViewModel.ID)

                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Name</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ProductsViewModel.Name, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ProductsViewModel.Name, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Description</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ProductsViewModel.Description, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ProductsViewModel.Description, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>App Image Url</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ProductsViewModel.AppImgUrl, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ProductsViewModel.AppImgUrl, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>App Display Order</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ProductsViewModel.AppDisplayOrder, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ProductsViewModel.AppDisplayOrder, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Brand</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @if (TempData.ContainsKey("DropDownListForBrandList") && TempData["DropDownListForBrandList"].ToString() == "Disabled")
                                    {
                                        @Html.DropDownListFor(model => model.ProductsViewModel.MBrandID, new SelectList(Model.BrandList, "Value", "Text"), "- Select -", new { @class = "form-control", id = "MBrandID", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.ProductsViewModel.MBrandID2, new SelectList(Model.BrandList, "Value", "Text"), "- Select -", new { @class = "form-control", id = "MBrandID" })
                                    }

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    @if (TempData.ContainsKey("buttonName"))
                                    {
                                        <input type="submit" class="admin_btn" value="@TempData["buttonName"]" />
                                    }
                                    else
                                    {
                                        <input type="submit" class="admin_btn" value="Create New Product Now" />
                                    }
                                </div>
                                <div class="clearfix"></div>
                                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

                            </div>
                        }
                    </div>

                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Product Items: Modify / Delete:   Delimit by Brand &nbsp;

                        @Html.DropDownListFor(model => model.ProductsViewModel.MBrandID, new SelectList(Model.BrandList, "Value", "Text"), "- Select -", new { @class = "headingselect", id = "MBrandID", onchange = "document.location.href = '/Admin/GetProductsListById?id=' + this.options[this.selectedIndex].value;" })
                    </h4>

                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>App Image Url</th>
                            <th>App Display Order</th>
                        </tr>
                        @if (Model.ProductsListViewModel.Count > 0)
                        {
                            foreach (var Item in Model.ProductsListViewModel)
                            {
                                <tr>
                                    @using (Html.BeginForm("DeleteProduct", "Admin", new { Id = Item.ID }, FormMethod.Post))
                                    {
                                        <td style="white-space:nowrap">
                                            <input type="button" value="Brands" onclick="location.href='@Url.Action("ChangeBrandsForthisProduct","Admin",new {ProductName=Item.Name,BrandId=Item.MBrandID,ProductId=Item.ID })'" />
                                            <input type="button" value="Edit" onclick="location.href='@Url.Action("EditProduct","Admin",new {MBrandID=Item.MBrandID,Id=Item.ID })'" />
                                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this product?');" />
                                        </td>
                                        <td>@Item.Name</td>
                                        <td>@Item.Description</td>
                                        <td>@Item.AppImgUrl</td>
                                        <td>@Item.AppDisplayOrder</td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <p>
                                No Products to Display
                            </p>
                        }

                    </table>

                </div>
                <div class="tabcontainer_content" style="display:@(TempData.ContainsKey("Changebrandsforthisproductdiv")?Convert.ToString(TempData["Changebrandsforthisproductdiv"]) == "Show" ? "block" : "none":"none");">
                    <h4>Change brands for this product</h4>
                    @using (Html.BeginForm("Updatebrandsforthisproduct", "Admin", FormMethod.Post))
                    {


                        @Model.ProductsViewModel.ProductName
                        // @Html.HiddenFor(x => x.ProductsViewModel.MBrandID)
                        @Html.HiddenFor(x => x.ProductsViewModel.ID)
                        @Html.ListBoxFor(s => s.ProductsViewModel.SelectedMBrandID, new SelectList(Model.BrandsforthisProductdList, "Value", "Text"), new { @style = "width:200px;" })

                        <div class="clearfix"></div>

                        <input type="submit" class="admin_btn" value="Update brands for this product" />
                    }
                </div>
            </div>

            <div id="Four" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "SitesTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>New Site</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("CreateNewSite", "Admin", FormMethod.Post))
                        {

                            @Html.HiddenFor(x => x.SiteViewModel.ID)

                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Name</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.SiteViewModel.Name, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.SiteViewModel.Name, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Description</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.SiteViewModel.Description, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.SiteViewModel.Description, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>FQDN</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.SiteViewModel.FQDN, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.SiteViewModel.FQDN, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Root Domain Name</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.SiteViewModel.RootDomainName, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.SiteViewModel.RootDomainName, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Product</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @if (TempData.ContainsKey("DropDownListForProductList") && TempData["DropDownListForProductList"].ToString() == "Disabled")
                                    {
                                        @Html.DropDownListFor(model => model.SiteViewModel.ProductID, new SelectList(Model.ProductList, "Value", "Text"), "- Select -", new { @class = "form-control", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.SiteViewModel.ProductID2, new SelectList(Model.ProductList, "Value", "Text"), "- Select -", new { @class = "form-control" })
                                    }

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    @if (TempData.ContainsKey("buttonName"))
                                    {
                                        <input type="submit" class="admin_btn" value="@TempData["buttonName"]" />
                                    }
                                    else
                                    {
                                        <input type="submit" class="admin_btn" value="Create New Site Now" />
                                    }
                                </div>
                            </div>
                        }
                    </div>

                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Sites: Modify / Delete:   Delimit by product &nbsp;

                        @Html.DropDownListFor(model => model.SiteViewModel.ProductID, new SelectList(Model.ProductList, "Value", "Text"), "- Select -", new { @class = "headingselect", onchange = "document.location.href = '/Admin/GetSiteListById?id=' + this.options[this.selectedIndex].value;" })

                    </h4>

                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>F.Q.D.N.</th>
                            <th>Root Domain Name</th>
                        </tr>
                        @if (Model.SiteListViewModel.Count > 0)
                        {
                            foreach (var Item in Model.SiteListViewModel)
                            {
                                <tr>
                                    @using (Html.BeginForm("DeleteSite", "Admin", new { Id = Item.ID }, FormMethod.Post))
                                    {
                                        <td style="white-space:nowrap">
                                            <input type="button" value="Products" onclick="location.href='@Url.Action("ChangeBrandsForthisSite","Admin",new {SiteName=Item.Name,SiteId=Item.ID,ProductID=Model.SiteViewModel.ProductID })'" />
                                            <input type="button" value="Edit" onclick="location.href='@Url.Action("EditSite","Admin",new {SiteID=Item.ID })'" />
                                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this Site?');" />
                                        </td>
                                        <td>@Item.Name</td>
                                        <td>@Item.Description</td>
                                        <td>@Item.FQDN</td>
                                        <td>@Item.RootDomainName</td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <p>
                                No Sites to Display
                            </p>
                        }

                    </table>

                </div>

                <div class="tabcontainer_content" style="display:@(TempData.ContainsKey("ChangebrandsforthisSitediv")?Convert.ToString(TempData["ChangebrandsforthisSitediv"]) == "Show" ? "block" : "none":"none");">
                    <h4>Change brands for this product</h4>
                    @using (Html.BeginForm("UpdatebrandsforthisSite", "Admin", FormMethod.Post))
                    {


                        @Model.SiteViewModel.SiteName
                        @Html.HiddenFor(x => x.SiteViewModel.ID)
                        @Html.ListBoxFor(s => s.SiteViewModel.SelectedProductID, new SelectList(Model.BrandsforthisSiteList, "Value", "Text"), new { @style = "width:200px;" })

                        <div class="clearfix"></div>

                        <input type="submit" class="admin_btn" value="Update Product for this Site" />
                    }
                </div>
            </div>

            <div id="Five" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "MethodsTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>Methods: Create Modify Delete</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("CreateNewMethods", "Admin", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.MethodsViewModel.ID)
                            <div class="row" style="display:@(TempData.ContainsKey("EditMethodsdiv")==true?Convert.ToString(TempData["EditMethodsdiv"]) == "hidediv" ? "block" : "none":"none");">
                                <div class="col-md-2 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MethodsViewModel.Name, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MethodsViewModel.Name, "", new { @class = "text-danger" })</div>
                                <div class="col-md-4 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Create New Method" /></div>

                            </div>
                            <div class="row" style="display:@(TempData.ContainsKey("EditMethodsdiv")==true?Convert.ToString(TempData["EditMethodsdiv"]) == "showdiv" ? "block" : "none":"none");">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Name</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MethodsViewModel.EditName, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MethodsViewModel.EditName, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Description</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MethodsViewModel.Description, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MethodsViewModel.Description, "", new { @class = "text-danger" })</div>

                                <div class="col-md-4 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Update New Method" /></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Cancel" onclick="location.href='@Url.Action("CancelAdminMEditor","Admin",new { TabName="Methods"})'" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            @if (Model.MethodsListViewModel.Count > 0)
                            {
                                foreach (var item in Model.MethodsListViewModel)
                                {
                                    <tr>
                                        @using (Html.BeginForm("DeleteMethods", "Admin", new { Id = item.ID }, FormMethod.Post))
                                        {
                                            <td><input type="button" value="edit" onclick="location.href='@Url.Action("EditMethods","Admin",new {Id=item.ID })'" /> <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this Method?\nAny resources with this method will be orphaned.');" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                        }
                                    </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>

            <div id="Six" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ResourcesTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>New Resource</h4>
                    <div class="adminormbox">

                        <div class="row">
                            @using (Html.BeginForm("CreateNewResources", "Admin", FormMethod.Post))
                            {

                                @Html.HiddenFor(x => x.ResourcesViewModel.ID)
                                <div class="col-md-2 col-sm-12 col-xs-12">Name</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.Name, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.Name, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Description</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.Description, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.Description, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Url "Code"</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.Code, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.Code, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">DestinationURL</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.DestinationURL, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.DestinationURL, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Site</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @Html.DropDownListFor(model => model.ResourcesViewModel.SitesID, new SelectList(Model.SiteList, "Value", "Text"), "- Select -", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">App Img Url</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.AppImgUrl, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.AppImgUrl, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">App SMS Message</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.AppSMSMessage, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.AppSMSMessage, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">App Email Subject</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.AppEmailSubject, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.AppEmailSubject, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">App Email Body</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.AppEmailBody, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.AppEmailBody, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Method</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.DropDownListFor(model => model.ResourcesViewModel.MethodsID, new SelectList(Model.MethodList, "Value", "Text"), "- Select -", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">App Display Order</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.AppDisplayOrder, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.AppDisplayOrder, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">PDF Source Url</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.PDFSource, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.PDFSource, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">VideoCode</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.VideoCode, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.VideoCode, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Does PDF have a form</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">



                                    @Html.DropDownListFor(model => model.ResourcesViewModel.PdfHasForm, new List<SelectListItem>
                                        {
                                        new SelectListItem{Text="True", Value="true"},
                                        new SelectListItem{Text="False", Value="false"},

                                        }, new { @class = "form-control" })

                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Preview URL</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.ResourcesViewModel.PreviewURL, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.ResourcesViewModel.PreviewURL, "", new { @class = "text-danger" })</div>
                                <div class="col-md-12">
                                    @if (!TempData.ContainsKey("buttonName"))
                                    {

                                        <input type="submit" formaction="CreateNewResources" class="admin_btn" value="Create New Resource Now" />
                                    }

                                </div>
                                <div class="col-md-12">
                                    @if (TempData.ContainsKey("buttonName"))
                                    {

                                        <input type="submit" class="admin_btn" value="Update Resource Now" />
                                    }



                                </div>
                            }
                            <div class="col-md-12">
                                @if (TempData.ContainsKey("buttonName"))
                                {


                                    <input type="button" class="admin_btn" value="Cancel Edit" onclick="location.href='@Url.Action("CancelAdminMEditor", "Admin", new { TabName = "Resources" })'" />
                                    <input type="submit" class="admin_btn" data-toggle="modal" data-target="#QRDataforthisresourceModaldiv" value="QR Data for this resource" onclick="location.href='@Url.Action("GetResourcesQrCodeList","Admin",new {SourcesID=Model.ResourcesViewModel.ID })'" />

                                    @*<input type="submit" class="admin_btn" data-toggle="modal" data-target="#QRDataforthisresourceModaldiv" value="QR Data for this resource" id="QRDataforthisresourceId" data-SourcesID="@Model.ResourcesViewModel.ID" />*@
                                    using (Html.BeginForm("DeleteResources", "Admin", new { Id = Model.ResourcesViewModel.ID }, FormMethod.Post))
                                    {
                                        <input type="submit" formaction="DeleteResources?Id=@Model.ResourcesViewModel.ID" class="admin_btn" value="Delete this Resource" onclick="return confirm('Do you want to delete this resource?');" />
                                    }
                                }

                            </div>


                        </div>

                    </div>

                </div>


                <p>Pdf Source Url is for non-form pdf's.</p>
                <p>
                    If pdf has a form, the finished pdf needs to be uploaded to the server with it's id as its name.
                    ie "Https://www.FoxxLegacy.com/Assets/M/Pdf/19.pdf"
                </p>

                <div class="tabcontainer_content">
                    <h4>
                        Resources: Modify:   Delimit by Site &nbsp;

                        @Html.DropDownListFor(model => model.ResourcesViewModel.SitesID, new SelectList(Model.SiteList, "Value", "Text"), "- Select -", new { @class = "headingselect", onchange = "document.location.href = '/Admin/GetResourcesListById?id=' + this.options[this.selectedIndex].value;" })

                    </h4>

                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Destination URL</th>
                            <th>Display Order</th>
                        </tr>
                        @if (Model.ResourcesListViewModel.Count > 0)
                        {
                            foreach (var Item in Model.ResourcesListViewModel)
                            {
                                <tr>

                                    <td style="white-space:nowrap">

                                        <input type="button" value="Modify" onclick="location.href='@Url.Action("ModifyResources","Admin",new {ResourcesId=Item.ID,SitesID=Model.ResourcesViewModel.SitesID })'" />

                                    </td>
                                    <td>@Item.Name</td>
                                    <td>@Item.Description</td>
                                    <td>@Item.Code</td>
                                    <td>@Item.DestinationURL</td>
                                    <td>@Item.AppDisplayOrder</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <p>
                                No Sites to Display
                            </p>
                        }

                    </table>

                </div>


            </div>

            <div id="Seven" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ProductVideoPagesTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>New Video Page</h4>
                    <div class="adminormbox">


                        <div class="row">
                            @using (Html.BeginForm("CreateNewProductVideoPages", "Admin", FormMethod.Post))
                            {
                                @Html.HiddenFor(x => x.MarketingResourceVideoPages.ID)
                                <div class="col-md-2 col-sm-12 col-xs-12">Name</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MarketingResourceVideoPages.Name, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MarketingResourceVideoPages.Name, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Category</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MarketingResourceVideoPages.Category, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MarketingResourceVideoPages.Category, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Description</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MarketingResourceVideoPages.Description, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MarketingResourceVideoPages.Description, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Active</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @Html.DropDownListFor(model => model.MarketingResourceVideoPages.Active, new List<SelectListItem>
                                           {
                                           new SelectListItem{Text="Yes", Value="true"},
                                           new SelectListItem{Text="No", Value="false"},

                                           }, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Info Button URL</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MarketingResourceVideoPages.InfoButtonURL, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MarketingResourceVideoPages.InfoButtonURL, "", new { @class = "text-danger" })</div>
                                <div class="col-md-2 col-sm-12 col-xs-12">Buy Button URL</div>
                                <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(x => x.MarketingResourceVideoPages.BuyButtonURL, new { @class = "form-control" })@Html.ValidationMessageFor(x => x.MarketingResourceVideoPages.BuyButtonURL, "", new { @class = "text-danger" })</div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label>Video Div Inner Code</label>
                                    @Html.TextAreaFor(x => x.MarketingResourceVideoPages.VideoHTML, new { id = "editor4" })
                                    @*<textarea id="editor4"></textarea>*@
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label>Body Div Inner Code</label>
                                    @Html.TextAreaFor(x => x.MarketingResourceVideoPages.BodyHTML, new {  id = "editor5" })
                                    @*<textarea id="editor5"></textarea>*@
                                </div>
                                <div class="clearfix"></div>
                                if (TempData.ContainsKey("buttonName") == false)
                                {
                                    <div class="col-md-12">
                                        <input type="submit" class="admin_btn" value="Create New Resource Now" />
                                    </div>
                                }
                                if (TempData.ContainsKey("buttonName"))
                                {
                                    <div class="col-md-12">
                                        <input type="submit" class="admin_btn" value="Update Resource Now" />
                                    </div>
                                }
                            }
                            @if (TempData.ContainsKey("buttonName"))
                            {


                                <div class="col-md-12">
                                    <input type="submit" class="admin_btn" value="Cancel Edit" onclick="location.href='@Url.Action("CancelAdminMEditor","Admin",new { TabName="Resources"})'" />
                                </div>
                                using (Html.BeginForm("DeleteProductVideoPages", "Admin", new { Id = Model.MarketingResourceVideoPages.ID, Category = Model.MarketingResourceVideoPages.Category }, FormMethod.Post))
                                {
                                    <div class="col-md-12">
                                        <input type="submit" class="admin_btn" value="Delete this Video Page" onclick="return confirm('Do you want to delete this Page?');" />
                                    </div>
                                }

                            }

                        </div>

                    </div>

                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Video Pages:   Select Category &nbsp; &nbsp;


                        @Html.DropDownListFor(model => model.MarketingResourceVideoPages.CategoryDropdown, new SelectList(Model.CategoryList, "Value", "Text"), "- Select -", new { @class = "headingselect", onchange = "document.location.href = '/Admin/GetProductVideoPagesListById?Category=' + this.options[this.selectedIndex].value;" })

                        <span style="float:right;">
                            <a href="/Admin/CancelAdminMEditor?TabName=ProductVideoPages"><img style="width:22px;" src="~/Images/refresh.png" /></a>
                        </span>
                    </h4>
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>


                        </tr>
                        @if (Model.MarketingResourceListVideoPages.Count > 0)
                        {
                            foreach (var Item in Model.MarketingResourceListVideoPages)
                            {
                                <tr>

                                    <td style="white-space:nowrap">

                                        <input type="button" value="Modify" onclick="location.href='@Url.Action("ModifyProductVideoPages","Admin",new {Id=Item.ID,Category=Item.Category })'" />

                                    </td>

                                    <td>@Item.ID</td>
                                    <td>@Item.Name</td>
                                    <td>@Item.Description</td>



                                </tr>
                            }
                        }
                        else
                        {
                            <p>No video pages to Display</p>
                        }

                    </table>


                </div>
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</div>




@*-------------------Modal div for QR Data for this resource Start Section---------------------*@

<div class="modal fade @(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ResourcesQrCodeTab" ? "in" : "":"")" id="QRDataforthisresourceModaldiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ResourcesQrCodeTab" ? "block" : "none":"none");">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalQRDataforthisresourceModaldiv'>


                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> New Qr Code Element</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.href='@Url.Action("CancelAdminMEditor","Admin",new { TabName="Resources"})'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("CreateNewResourcesQrCode", "Admin", FormMethod.Post))
                {

                    @Html.HiddenFor(x => x.QRDataForResource.QRDataForResourceId)
                    @Html.HiddenFor(x => x.QRDataForResource.SourcesID)
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-xs-12">

                                @if (TempData.ContainsKey("EditResourcesQrCodediv") && TempData["EditResourcesQrCodediv"].ToString() == "hidediv")
                                {
                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                URL
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">
                                            @Html.TextBoxFor(x => x.QRDataForResource.URL, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.QRDataForResource.URL, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                }
                                @if (TempData.ContainsKey("EditResourcesQrCodediv") && TempData["EditResourcesQrCodediv"].ToString() == "showdiv")
                                {
                                    @Html.HiddenFor(x => x.QRDataForResource.QRDataForResourceId)

                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                URL
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">
                                            @Html.TextBoxFor(x => x.QRDataForResource.EditURL, new { @class = "form-control", @id = "URLId" })
                                            @Html.ValidationMessageFor(x => x.QRDataForResource.EditURL, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>



                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                Pdf Page
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">
                                            @Html.TextBoxFor(x => x.QRDataForResource.PdfPage, new { @class = "form-control", @id = "PdfPageId" })
                                            @Html.ValidationMessageFor(x => x.QRDataForResource.PdfPage, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                X px
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">
                                            @Html.TextBoxFor(x => x.QRDataForResource.Xpx, new { @class = "form-control", @id = "XpxId" })

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                Y px
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">
                                            @Html.TextBoxFor(x => x.QRDataForResource.Ypx, new { @class = "form-control", @id = "YpxId" })

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                Color
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">
                                            @Html.TextBoxFor(x => x.QRDataForResource.Color, new { @class = "form-control", @id = "ColorId" })

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                Back Color
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">


                                            @Html.TextBoxFor(x => x.QRDataForResource.BackColor, new { @class = "form-control", @id = "BackColorId" })

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                Version Size
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">


                                            @Html.TextBoxFor(x => x.QRDataForResource.VersionSize, new { @class = "form-control", @id = "VersionSizeId" })

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="myinfobox">
                                        <div class="myinfotop_l">
                                            <span>
                                                Spacing
                                            </span>
                                        </div>
                                        <div class="myinfotop_r">


                                            @Html.TextBoxFor(x => x.QRDataForResource.Spacing, new { @class = "form-control", @id = "SpacingId" })

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @Html.HiddenFor(x => x.QRDataForResource.QRDataForResourceId)
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='@Url.Action("CancelAdminMEditor","Admin",new { TabName="Resources"})'">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }


                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>Url</th>
                            <th>Pdf Page</th>
                            <th>X px</th>
                            <th>Y px</th>
                            <th>Color</th>
                            <th>Back Color</th>
                            <th>Version Size</th>
                            <th>Spacing</th>
                        </tr>
                        @if (Model.QRDataListForResource.Count > 0)
                        {
                            foreach (var item in Model.QRDataListForResource)
                            {
                                <tr>
                                    @using (Html.BeginForm("DeleteResourcesQrCode", "Admin", new { Id = item.QRDataForResourceId, SourcesID = item.SourcesID }, FormMethod.Post))
                                    {
                                        <td><input type="button" value="edit" onclick="location.href='@Url.Action("EditResourcesQrCode","Admin",new {Id=item.QRDataForResourceId })'" /> <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete?');" /></td>
                                        <td>@item.URL</td>
                                        <td>@item.PdfPage</td>
                                        <td>@item.Xpx</td>
                                        <td>@item.Ypx</td>
                                        <td>@item.Color</td>
                                        <td>@item.BackColor</td>
                                        <td>@item.VersionSize</td>
                                        <td>@item.Spacing</td>
                                    }
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


@*-------------------Modal div for QR Data for this resource End Section---------------------*@





@Scripts.Render("~/bundles/Js/AdminMEditor")
@Scripts.Render("~/bundles/jqueryval")
<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    //tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>
    l

