﻿
@{
    ViewBag.Title = "AdminCK";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="faq2_admin">
            <div class="tabcontainer_content">
                <h4>
                    CK Only
                    <input type="button" value="Jon King" />
                </h4>

                <p><b>5/24/2021 ... 9:19:59 AM</b></p>
                <p>
                    This is a test page for CKing. GUID = cf2dc8b2-c34c-4e98-b6fc-fb06a730fc26
                    Please dont change or use
                </p>
                <br />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a href="" class="admin_btn">test taxcloud</a>
                    <a href="" class="admin_btn">Md5Hash</a>
                    <h3 class="mailuser">
                        Mail user test
                    </h3>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-sm-12"><label>UserID:</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-sm-12"><label>TUserID</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-sm-12"><label>EmailID</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Show Email" />
                            </div>
                            <br />
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Set order vars" />
                            </div>
                        </div>


                    </div>

                    <h3 class="mailuser">
                        Mail order test
                    </h3>

                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-sm-12"><label>OrderID:</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2"><span>200 207</span></div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Show Mail" />
                            </div>
                        </div>


                    </div>
                    <p>843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866</p>
                    <div class="col-md-12">
                        <br />
                        <input type="button" class="admin_btn" value="Add To Downline Counts" />
                    </div>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-sm-12"><label>Usersignup ID :</label></div>
                            <div class="col-md-4 col-sm-12 col-sm-12"><input type="text" class="form-control" /></div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Finish Create Customer" />
                            </div>

                            <div class="col-md-12">
                                <br /><br />
                                <input type="button" class="admin_btn" value="Fix TransferFoxxCash Records" />
                            </div>

                            <div class="col-md-12">
                                <input type="button" class="admin_btn" value="Downline Counts thing for Donna's People" />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <h2>
                Four CoFounders,
                Welcome To Foxx Legacy!
            </h2>

            <p>Please keep this email for future reference because it contains the links and login information to access your account online.</p>
            <p>
                To access your Foxx Legacy back office, Click Here.
                - your back username: foxx
                - your back password: is the password that you selected when you created your account.
            </p>
            <p>Note: If necessary, you can have your password emailed to you in a separate email by clicking here. This tool will email your password to your email address listed in your account.</p>
            <p>Note: If necessary, you can have your password emailed to you in a separate email by clicking here. This tool will email your password to your email address listed in your account.</p>
            <p>Sincerely,</p>
            <p>The Foxx Legacy Support Team</p>
        </div>
    </div>

    <div class="col-md-6 cl-sm-12 col-xs-12">
        <div class="faq2_admin">
            <div class="tabcontainer_content">
                <h4>
                    Text Here
                    <div style="float:right;"><img src="~/Images/info.png" /></div>
                </h4>
                <p>Content Here</p>
            </div>
            </div>
        </div>

    </div>

