﻿@model Foxxlegacy.ViewModel.ViewModel.AdminReportViewModel
@{
    ViewBag.Title = "AdminReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="zero"></button>
                <h5>Customer Service:</h5>
                <button class="tablinks" id="one">CSJ Entries</button>
                <button class="tablinks" id="two">Correspondence</button>
                <h5>Rank:</h5>
                <button class="tablinks" id="three">Pin List</button>
                <button class="tablinks" id="four">Call List</button>
                <h5>Misc.</h5>
                <button class="tablinks" id="five">New Users</button>
                <h5>Sales</h5>
                <button class="tablinks" id="Six">Items By State</button>
                <button class="tablinks" id="seven">Items By Date</button>
                <button class="tablinks" id="eight">Items By Product</button>
                <h5>Maps:</h5>
                <button class="tablinks" id="nine">Orders</button>
                <button class="tablinks" id="ten">Joins</button>
                <h5>User Counts:</h5>
                <button class="tablinks" id="eleven">Max Level</button>
                <h5>Sweeper</h5>
                <button class="tablinks" id="twelve">Sweep Report</button>
                <h5>User Downline</h5>
                <button class="tablinks" id="thirteen">Emails</button>
                <button class="tablinks" id="fourteen">New User Data</button>
                <button class="tablinks" id="fiveteen">Items per Order</button>
                <h5>Emails</h5>
                <button class="tablinks" id="sixteen" onclick="location.href='@Url.Action("EmailExport","AdminPermission")'">Email Export</button>
                <button class="tablinks" id="seventeen" onclick="location.href='@Url.Action("EmailExportNoOrder","AdminPermission")'">Email Export No Order</button>
                <button class="tablinks" id="eightteen">Customers with order conditions</button>

                <h5>Autoship</h5>
                <button class="tablinks" id="tewnty">Autoship counts</button>
                <h5>Out-Of-Stock</h5>
                <button class="tablinks" id="twentyone">Out-Of-Stock Item</button>
                <br />
                <button class="tablinks" id="twentytwo">Contest</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="zero" class="tabcontent">

                <div class="tabcontainer_content">
                    <h4>Basic Numbers: <input type="button" value="show" /></h4>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Revenue, Orders and New Users
                        <select style="margin-left:30px;" class="headingselect">
                            <option selected="selected" value="Partners">All Partners</option>
                            <option value="1">Michael Burnett</option>
                            <option value="2">Blane Williams</option>
                            <option value="3">FBI</option>
                        </select>
                        <input type="button" value="show" /> <input type="button" value="Monthly" />
                    </h4>
                </div>

            </div>

            <div id="One" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Latest CSJ Entries</h4>
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>UserName</th>
                            <th>Entered On</th>
                            <th>Modified On</th>
                            <th>Modified By</th>
                        </tr>
                        @{
                            foreach (var csjEntries in Model.csjEntries)
                            {
                                <tr>
                                    <td>@Html.ActionLink("View", "contact_inner", "Admin", new { ContactsID = 0, UserId = csjEntries.UserId, ActiveTab = "CSJTab" }, new { target = "_blank" })</td>
                                    <td>@csjEntries.UserName</td>
                                    <td>@(csjEntries.JournalEntryDate != null ? csjEntries.JournalEntryDate.Value.ToShortDateString() : string.Empty)</td>
                                    <td>@(csjEntries.LastModDate != null ? csjEntries.JournalEntryDate.Value.ToShortDateString() : string.Empty)</td>
                                    <td>@csjEntries.LastModAdmin</td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            </div>

            <div id="Two" class="tabcontent">

                <div class="tabcontainer_content">
                    <h4>Administrative review of how CSR's are handling contacts.</h4>
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>Origin</th>
                            <th>User</th>
                            <th>subject</th>
                            <th>Created</th>
                            <th>AdminReviewNeededDate</th>
                            <th>CSR Archived</th>
                        </tr>

                        @{
                            foreach (var correspondence in Model.correspondence)
                            {
                                <tr>
                                    <td>@Html.ActionLink("Select", "contact_inner", "Admin", new { ContactsID = correspondence.Id, UserId = correspondence.UserId }, new { target = "_blank" })</td>
                                    <td>@correspondence.Origin</td>
                                    <td>@correspondence.UserName</td>
                                    <td>@correspondence.Subject</td>
                                    <td>@correspondence.EventDate</td>
                                    <td>@correspondence.AdminReviewNeededDate</td>
                                    <td>@correspondence.CSRArchived</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>

            <div id="Three" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Rank Achievement Pin List
                        <input type="button" value="Export Rank Promo List" />
                    </h4>
                    <p>This is a list of Members who have not been sent a Rank Pin for their Rank Type Advancement (currently 35 pins need to be sent).</p>
                    <p>* After you have mailed the appropriate pin, locate the corresponding record and click the "Pin Sent" button.</p>
                    <p>This action will remove the record from this list and create a new CSJ entry for the Member indicating which pin, when the pin was sent, and by whom.</p>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th></th>
                                <th>UserName</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>RankName</th>
                                <th>PromoDate</th>
                                <th>Address1</th>
                                <th>Address2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Country</th>
                                <th>Phon</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                            @if (Model.PinCertificateList.Count > 0)
                            {
                                foreach (var item in Model.PinCertificateList)
                                {
                                    <tr>
                                        <td><input type="button" value="Pin/Cert Sent" target="_blank" onclick="location.href='@Url.Action("SentPin", "Admin", new { Id = item.LogID, theUsersID = item.UserId, PinRankName = item.RankName })'" /></td>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.RankName</td>
                                        <td>@item.PromoDate</td>
                                        <td>@item.Address1</td>
                                        <td>@item.Address2</td>
                                        <td>@item.City</td>
                                        <td>@item.State</td>
                                        <td>@item.Zip</td>
                                        <td>@item.Country</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        @using (Html.BeginForm("PinCertificateListNoCall", "Admin", new { LogRankID = item.LogID, theUsersID = item.UserId, PinRankName = item.RankName }, FormMethod.Post))
                                        {
                                            <td><input type="submit" value="No Call" onclick="return confirm('Are you sure you want to No-Call this record?');" /></td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>

            </div>

            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Rank Achievement Call List
                    </h4>
                    <p>This is a list of Members who have not been called and congratulated for their Rank Type Advancement (currently 45 Members need to be called).</p>
                    <p>* After you have called a Member, locate the appropriate record and click the "Called" button.</p>
                    <p>This action will remove the record from this list and create a new CSJ entry for the Member indicating when they were called, for what Rank, and by whom.</p>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th></th>
                                <th>UserName</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>RankName</th>
                                <th>PromoDate</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>CSR	</th>
                                <th width="20%"></th>
                            </tr>
                            @if (Model.CallList.Count > 0)
                            {
                                foreach (var item in Model.CallList)
                                {
                                    <tr>
                                        <td>
                                            <input type="button" value="Member Info" target="_blank" onclick="location.href='@Url.Action("Contact_inner", "Admin", new { ContactsID = 0, UserId = item.UserId, ActiveTab = "MemberInfonTab" })'" />
                                        </td>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.RankName</td>
                                        <td>@item.PromoDate</td>
                                        <td>@item.City</td>
                                        <td>@item.State</td>
                                        <td>@item.Zip</td>
                                        <td>@item.Country</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.CSR</td>
                                        @using (Html.BeginForm("CallListNoCall", "Admin", new { LogID = item.LogID, theUsersID = item.UserId, PinRankName = item.RankName }, FormMethod.Post))
                                        {
                                            <td><input type="button" value="Mark As Called" onclick="location.href='@Url.Action("CallList", "Admin", new { LogID = item.LogID, CommandName = "Called", PinRankName = item.RankName, theUsersID = item.UserId })'" /></td>
                                            <td><input type="button" value="My Call" onclick="location.href='@Url.Action("CallList", "Admin", new { LogID = item.LogID, CommandName = "MyCall", PinRankName = item.RankName, theUsersID = item.UserId })'" /></td>
                                            <td><input type="submit" value="No Call" onclick="return confirm('Are you sure you want to No-Call this record?');" /></td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div id="Five" class="tabcontent">
                <div class="tabcontainer_content">
                    @*<h4>
                            New users signup list
                            <input type="button" value="CSV File" />
                        </h4>*@
                    @using (Html.BeginForm("ExportToCSVNewUser", "AdminPermission", FormMethod.Post))
                    {
                        <h4>
                            New users signup list
                            <input type="submit" value="CSV File" />
                        </h4>
                        @*@Html.Hidden("UserList", (object)Json.Encode(Model.newUsers))*@
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                <tr>
                                    <th></th>
                                    <th>User Name</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Join Date</th>
                                    <th>Signup Type</th>
                                    <th>Sponsor</th>
                                    <th>Spon Spon</th>
                                </tr>
                                @{
                                    for (int i = 0; i < Model.newUsers.Count; i++)
                                    {
                                        <tr>
                                            @*Admin/contact_inner?UserId=6&ActiveTab=MemberInfonTab*@
                                            <td><a target="_blank" href="@Url.Action("contact_inner", "Admin", new { UserId = Model.newUsers[i].UserId, ActiveTab = "MemberInfonTab" })"><i class="fa fa-user" aria-hidden="true"></i></a></td>
                                            <td>
                                                @Html.HiddenFor(x => x.newUsers[i].UserId)
                                                @Html.DisplayFor(x => x.newUsers[i].UserName)
                                                @Html.HiddenFor(x => x.newUsers[i].UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.newUsers[i].FirstName)
                                                @Html.HiddenFor(x => x.newUsers[i].FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.newUsers[i].LastName)
                                                @Html.HiddenFor(x => x.newUsers[i].LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.newUsers[i].JoinDate)
                                                @Html.HiddenFor(x => x.newUsers[i].JoinDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.newUsers[i].SignupType)
                                                @Html.HiddenFor(x => x.newUsers[i].SignupType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.newUsers[i].Sponsor)
                                                @Html.HiddenFor(x => x.newUsers[i].Sponsor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.newUsers[i].SponSpon)
                                                @Html.HiddenFor(x => x.newUsers[i].SponSpon)
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    }
                </div>
            </div>

            <div id="Six" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Items By State
                    </h4>
                    <div class="itemstatesubheading">
                        <h3>Totals by Item <span>Totals by State</span><div class="clearfix"></div></h3>
                    </div>
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                    <tr>
                                        <th>Total</th>
                                        <th>State</th>
                                        <th>Name</th>
                                        <th>Item No.</th>

                                    </tr>

                                    @if (Model.ItemByState.Count > 0)
                                    {
                                        foreach (var item in Model.ItemByState)
                                        {
                                            <tr>
                                                <td>@item.TheCountByItems</td>
                                                <td>@item.ShipstateByItems</td>
                                                <td>@item.Name</td>
                                                <td>@item.Itemno</td>

                                            </tr>
                                        }
                                    }




                                </table>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                    <tr>

                                        <th>Total</th>
                                        <th>State</th>
                                    </tr>

                                    @if (Model.TotalsbyState.Count > 0)
                                    {
                                        foreach (var item in Model.TotalsbyState)
                                        {
                                            <tr>

                                                <td>@item.TheCountByState</td>
                                                <td>@item.ShipstateByState</td>
                                            </tr>
                                        }
                                    }




                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div id="Seven" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ItemsByDateTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>
                        Total Items
                    </h4>
                    <div class="itemstatesubheading">
                        <h3>Select Your Date Range</h3>
                    </div>
                    <div class="adminormbox">
                        <div class="row">
                            @using (Html.BeginForm("GetItemsByDate", "AdminPermission", FormMethod.Get))
                            {


                                <div class="col-md-2 col-sm-12 col-xs-12"><label>From Date:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @Html.TextBoxFor(x => x.MinimumDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MinimumDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>To Date:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @Html.TextBoxFor(x => x.MaximumDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MaximumDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <input type="submit" class="admin_btn" value="Submit" />
                                </div>
                            }

                            <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                <tr>
                                    <th>Total</th>

                                    <th>Name</th>
                                    <th>Item No.</th>

                                </tr>

                                @if (Model.ItemByDate.Count > 0)
                                {
                                    foreach (var item in Model.ItemByDate)
                                    {
                                        <tr>
                                            <td>@item.TheCountByItems</td>

                                            <td>@item.Name</td>
                                            <td>@item.Itemno</td>

                                        </tr>
                                    }
                                }




                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Eight" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "ItemsByProductTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>
                        Total Items
                    </h4>
                    <div class="itemstatesubheading">
                        <h3>Select Your Date Range</h3>
                    </div>
                    <div class="adminormbox">
                        <div class="row">
                            @using (Html.BeginForm("GetItemsByProduct", "AdminPermission", FormMethod.Post))
                            {
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>From Date:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.MinimumDateForProduct, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MinimumDateForProduct, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>To Date:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.MaximumDateForProduct, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.MaximumDateForProduct, "", new { @class = "text-danger" })
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Product:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.ProductList, "Value", "Text"), "- Select -", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ProductId, "", new { @class = "text-danger" })

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <input type="submit" class="admin_btn" value="Submit" />
                                </div>
                            }

                            <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                <tr>
                                    <th>Total</th>
                                    <th>Product Quantity</th>
                                    <th>Name</th>
                                    <th>Item No.</th>

                                </tr>

                                @if (Model.ItemByProduct.Count > 0)
                                {
                                    foreach (var item in Model.ItemByProduct)
                                    {
                                        <tr>
                                            <td>@item.TheCountByItems</td>
                                            <td>@item.ProductQuantity</td>
                                            <td>@item.Name</td>
                                            <td>@item.Itemno</td>

                                        </tr>
                                    }
                                }




                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Nine" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "MapsOrderTab" ? "block" : "none":"none");">
                @using (Html.BeginForm("GetMapsOrder", "AdminPermission", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="tabcontainer_content">
                                <h4>
                                    Select Your Date Range
                                </h4>

                                <div class="adminormbox">
                                    <div class="row">

                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>From Date:</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(x => x.MinimumDateForOrder, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.MinimumDateForOrder, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>To Date:</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(x => x.MaximumDateForOrder, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.MaximumDateForOrder, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <input type="submit" class="admin_btn" value="Get Map" />
                                        </div>

                                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                            <tr>

                                                <th>Name</th>
                                                <th>Description</th>

                                            </tr>

                                            @if (Model.MapsOrders.Count > 0)
                                            {
                                                foreach (var item in Model.MapsOrders)
                                                {
                                                    <tr>

                                                        <td>@item.Name</td>
                                                        <td>@item.Description</td>

                                                    </tr>
                                                }
                                            }




                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="tabcontainer_content">
                                <h4>
                                    Delimit by UserName
                                </h4>

                                <div class="adminormbox">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12"><label>UserName:</label></div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <p>Note: leave blank for no delimitation.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                }
            </div>

            <div id="ten" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "GetMapsJoin" ? "block" : "none":"none");">


                @using (Html.BeginForm("GetMapsJoin", "AdminPermission", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="tabcontainer_content">
                                <h4>
                                    Select Your Date Range
                                </h4>

                                <div class="adminormbox">
                                    <div class="row">

                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>From Date:</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(x => x.MinimumDateForJoin, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.MinimumDateForJoin, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>To Date:</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(x => x.MaximumDateForJoin, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.MaximumDateForJoin, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <input type="submit" class="admin_btn" value="Get Map" />
                                        </div>

                                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                            <tr>

                                                <th>Name</th>
                                                <th>Longitude</th>
                                                <th>Latitude</th>
                                                <th>Description</th>

                                            </tr>

                                            @if (Model.MapsJoins.Count > 0)
                                            {
                                                foreach (var item in Model.MapsJoins)
                                                {
                                                    <tr>

                                                        <td>@item.Name</td>
                                                        <td>@item.Longitude</td>
                                                        <td>@item.Latitude</td>
                                                        <td>@item.Description</td>

                                                    </tr>
                                                }
                                            }




                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="tabcontainer_content">
                                <h4>
                                    Delimit by UserName
                                </h4>

                                <div class="adminormbox">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12"><label>UserName:</label></div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <p>Note: leave blank for no delimitation.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                }
            </div>

            <div id="eleven" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "MaxLevelUserCountsTab" ? "block" : "none":"none");">


                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="tabcontainer_content">
                            <h4>
                                User counts by max level achieved starting with username Foxx
                            </h4>

                            <div class="adminormbox">
                                <div class="row">



                                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                        <tr>
                                            <th></th>
                                            <th>Number Of Users Which</th>
                                            <th>Have Users As Deep As Level</th>


                                        </tr>

                                        @if (Model.Usercountsbymaxlevel.Count > 0)
                                        {
                                            foreach (var item in Model.Usercountsbymaxlevel)
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("GetMaxLevelUserCountsDeatis","AdminPermission",new {Level=item.HaveUsersAsDeepAsLevel })">Select</a></td>
                                                    <td>@item.NumberOfUsersWhich</td>
                                                    <td>@item.HaveUsersAsDeepAsLevel</td>


                                                </tr>
                                            }
                                        }




                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tabcontainer_content">
                            <h4>
                                Details
                            </h4>

                            <div class="adminormbox">
                                <div class="row">
                                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                        <tr>
                                            <th></th>
                                            <th>UserName</th>
                                            <th>MaxLevel</th>


                                        </tr>

                                        @if (Model.UsercountsbymaxlevelDetails.Count > 0)
                                        {
                                            foreach (var item in Model.UsercountsbymaxlevelDetails)
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("contact_inner","Admin",new {UserId=item.UserId,ActiveTab="MemberInfonTab" })"><img src="~/images/open_new_window.png" /></a></td>
                                                    <td>@item.UserName</td>
                                                    <td>@item.MaxLevel</td>


                                                </tr>
                                            }
                                        }




                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="twelve" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "SweepReportTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>
                        Sweeper Details
                        <input type="button" value="Export To Excel" onclick="location.href='@Url.Action("SweepDetailsExportToExcel","AdminPermission")'" />
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr style="white-space:nowrap">
                                <th>FirstName</th>
                                <th>MiddleName</th>
                                <th>LastName</th>
                                <th>Amount</th>
                                <th>P AccountNumber</th>
                                <th>P ExtraID</th>
                                <th>CreateDate</th>
                                <th>Description</th>
                                <th></th>
                            </tr>

                            @if (Model.SweepReport.Count > 0)
                            {
                                foreach (var item in Model.SweepReport)
                                {
                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.MiddleName</td>
                                        <td>@item.LastName</td>
                                        <td>$@item.Amount</td>
                                        <td>@item.AccountNumber</td>
                                        <td>@item.ExtraID</td>
                                        <td>@item.CreateDate</td>
                                        <td>@item.Description</td>
                                        <td align="center">
                                            <input class="tablesimplebutton" type="button" value="Paid" onclick="location.href='@Url.Action("PaidSweepReport","AdminPermission",new {Id=item.Id })'" />
                                            @using (Html.BeginForm("DeleteSweepReport", "AdminPermission", new { Id = item.Id }, FormMethod.Post))
                                            {
                                                <input class="tablesimplebutton" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this?')" />
                                            }
                                            <input class="tablesimplebutton" type="button" value="Try Again" />
                                        </td>
                                    </tr>
                                }
                            }





                        </table>
                    </div>
                </div>
            </div>

            <div id="thirteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Downline Users Emails
                    </h4>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12"><label>UserName:</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @*<input type="text" class="form-control" />*@
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "UserNameEmail" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="submit" class="admin_btn adm_email" value="Get Emails" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <label><input type="checkbox" id="check_email" />&nbsp;CSV</label>
                            </div>
                        </div>
                    </div>
                    <div id="viewEmailPlaceHolder"></div>
                </div>
            </div>

            <div id="fourteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Downline Users New Distributor Sign Ups
                    </h4>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12"><label>UserName:</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "UserNameUser" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="button" class="admin_btn adm_user" value="Get Signup Data" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <label><input type="checkbox" id="check_user" />&nbsp;CSV</label>
                            </div>
                        </div>
                    </div>
                    <div id="viewUsersPlaceHolder"></div>
                </div>
            </div>

            <div id="fiveteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Downline Users Average items per order
                    </h4>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12"><label>UserName:</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "UserNameItem" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="button" class="admin_btn adm_item" value="Get Average" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <label><input type="checkbox" id="check_item" />&nbsp;CSV</label>
                            </div>
                        </div>
                    </div>
                    <div id="viewItemPlaceHolder"></div>
                </div>
            </div>

            <div id="sixteen" class="tabcontent"></div>

            <div id="seventeen" class="tabcontent"></div>

            <div id="eightteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Select Condition
                    </h4>
                    <div class="adminormbox">
                        <div class="row">
                            @using (Html.BeginForm("CustomerEmailsbyOrderCondition", "AdminPermission", FormMethod.Post))
                            {


                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @*<select class="form-control">
                                            <option value="Select">Select</option>
                                            <option value="0">All Customers</option>
                                            <option value="1">Customers with no orders</option>
                                            <option value="2">Customers with order, but not in last 35 days.</option>
                                            <option value="3">Customer w/ no Rejuvenate purchase</option>
                                            <option value="4">Customer w/ no Mind purchase</option>
                                            <option value="5">Customer w/ no Perform purchase</option>
                                        </select>*@

                                    @Html.DropDownListFor(model => model.CustomerEmailsbyOrderCondition.ReportType, new List<SelectListItem>
                                        {
                                        new SelectListItem{Text="All Customers", Value="0"},
                                        new SelectListItem{Text="Customers with no orders", Value="1"},
                                         new SelectListItem{Text="Customers with order, but not in last 35 days.", Value="2"},
                                          new SelectListItem{Text="Customer w/ no Rejuvenate purchase", Value="3"},
                                           new SelectListItem{Text="Customer w/ no Mind purchase", Value="4"},
                                            new SelectListItem{Text="Customer w/ no Perform purchase", Value="5"},

                                        }, "Select", new { @class = "form-control" })
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <input type="submit" class="admin_btn" value="Get Emails" />
                                </div>
                                <div class="clearfix"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>



            <div id="twenty" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Active Autoship Counts
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>name</th>
                                <th>Sum of Qty on Autoship</th>
                            </tr>

                            @if (Model.AutoShipCounts.Count > 0)
                            {
                                foreach (var item in Model.AutoShipCounts)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.SumofQtyonAutoship</td>
                                    </tr>
                                }
                            }



                        </table>
                    </div>

                </div>
            </div>

            <div id="twentyone" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "OutOfStockItemTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>
                        Out Of Stock Item
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>Name</th>
                                <th>Item Number</th>
                                <th>Quantity</th>
                                <th>User Count</th>
                                <th></th>
                            </tr>

                            @if (Model.OutOfStockItem.Count > 0)
                            {
                                foreach (var item in Model.OutOfStockItem)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.itemno</td>
                                        <td>@item.Qty</td>
                                        <td>@item.Count</td>
                                        <td><input type="button" value="Details" onclick="location.href='@Url.Action("GetOutOfStockItemUserDetails","AdminPermission",new {Id=item.Id })'" /></td>
                                    </tr>
                                }
                            }



                        </table>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable" style="display:@(TempData.ContainsKey("UserDetailsTab")==true?Convert.ToString(TempData["UserDetailsTab"]) == "UserDetailsTab" ? "block" : "none":"none");">
                            <tr>
                                <th>User Name</th>
                                <th>Full Name</th>

                                <th></th>
                            </tr>
                            @{
                                long autoshipDirectivesItemsItemsID = 0;
                            }
                            @if (Model.OutOfStockItemUserDetils.Count > 0)
                            {
                                if (TempData.ContainsKey("GetOutOfStockItemUserDetails"))
                                {

                                    autoshipDirectivesItemsItemsID = Convert.ToInt64(@TempData["GetOutOfStockItemUserDetails"]);

                                }
                                foreach (var item in Model.OutOfStockItemUserDetils)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FullName</td>

                                        <td><input type="button" value="Order Details" onclick="location.href='@Url.Action("GetOutOfStockItemOrderDetails","AdminPermission",new {AutoshipDirectivesID=item.AutoshipDirectivesID,AutoshipDirectivesItemsItemsID=autoshipDirectivesItemsItemsID })'" /></td>
                                    </tr>
                                }
                            }



                        </table>



                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable" style="display:@(TempData.ContainsKey("OutOfStockItemOrderDetails")==true?Convert.ToString(TempData["OutOfStockItemOrderDetails"]) == "OutOfStockItemOrderDetails" ? "block" : "none":"none");">
                            <tr>
                                <th>Id</th>
                                <th>ItemName</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Stock</th>


                            </tr>

                            @if (Model.OutOfStockItemOrderDetails.Count > 0)
                            {

                                foreach (var item in Model.OutOfStockItemOrderDetails)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.Qty</td>
                                        <td>@item.Price</td>
                                        <td>


                                            @(item.ItemQuantity>=item.Qty? "In-Stock" : "Out-Of-Stock")
                                        </td>


                                    </tr>
                                }
                            }



                        </table>
                    </div>

                </div>
            </div>

            <div id="twentytwo" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Contest Oct 2017
                    </h4>

                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Count</th>
                            </tr>

                            @if (@ViewBag.GetContestOct2017.Count > 0)
                            {
                                foreach (var item in ViewBag.GetContestOct2017)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TheCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center">
                                        No records found..
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Contest Sept 2017
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Count</th>
                            </tr>

                            @if (@ViewBag.GetContestSep2017.Count > 0)
                            {
                                foreach (var item in ViewBag.GetContestSep2017)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TheCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center">
                                        No records found..
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Contest Aug 2017
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Count</th>
                            </tr>

                            @if (@ViewBag.GetContestAug2017.Count > 0)
                            {
                                foreach (var item in ViewBag.GetContestAug2017)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TheCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center">
                                        No records found..
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Contest July 2017
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Count</th>
                            </tr>

                            @if (@ViewBag.GetContestJuly2017.Count > 0)
                            {
                                foreach (var item in ViewBag.GetContestJuly2017)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TheCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center">
                                        No records found..
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Contest June 2017
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Count</th>
                            </tr>

                            @if (@ViewBag.GetContestJune2017.Count > 0)
                            {
                                foreach (var item in ViewBag.GetContestJune2017)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TheCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center">
                                        No records found..
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Contest May 2017
                    </h4>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Count</th>
                            </tr>

                            @if (@ViewBag.GetContestMay2017.Count > 0)
                            {
                                foreach (var item in ViewBag.GetContestMay2017)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.TheCount</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align:center">
                                        No records found..
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>

            </div>





        </div>
        <div class="clearfix"></div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $(".adm_email").click(function (evt) {
            var UserName = $("#UserNameEmail").val();
            var csvCheck = $("#check_email").is(":checked");
            $("#viewEmailPlaceHolder").load("/AdminPermission/GetUDEmailDetails",
                { UserName: UserName, csvCheck: csvCheck, viewName: "_DownLineEmail" });
            if (csvCheck == true) {
                window.location.href = "/AdminPermission/ExportToUDEmail?UserName=" + UserName;
            }
        });
    });

    $(document).ready(function () {
        $(".adm_user").click(function (evt) {
            var UserName = $("#UserNameUser").val();
            var csvCheck = $("#check_user").is(":checked");
            $("#viewUsersPlaceHolder").load("/AdminPermission/GetNewUserData",
                { UserName: UserName, csvCheck: csvCheck, viewName: "_DownLineEmail" });
            if (csvCheck == true) {
                window.location.href = "/AdminPermission/ExportToNewUserData?UserName=" + UserName;
            }
        });
    });

    $(document).ready(function () {
        $(".adm_item").click(function (evt) {
            var UserName = $("#UserNameItem").val();
            var csvCheck = $("#check_item").is(":checked");
            $("#viewItemPlaceHolder").load("/AdminPermission/GetItemPerOrderDetails",
                { UserName: UserName, csvCheck: csvCheck, viewName: "_DownLineEmail" });
        });
    });

    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    //tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });
</script>

