﻿
@{
    ViewBag.Title = "Autoship";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
       
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="Two" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        There is one recurring order to process at this time.
                        <input type="button" value="Process Now" />
                    </h4>

                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th>User Name</th>
                                    <th>Full Name</th>                                    
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>ellamathis123</td>
                                    <td>Ella Mathis	</td>                                   
                                    <td><input type="button" value="Order Details"></td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>

                    <p>0 autoships tomorrow</p>
                    <p>0 autoships the next day</p>
                </div>
            </div>








        </div>
        <div class="clearfix"></div>
    </div>
</div>


<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
    i.addEventListener('click', function (event) {

    for (let x = 0; x < buttonElement.length; x++) {
    if (event.target.id == buttonElement[x].id) {
    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    tabContent[x].style.display = "block";
    event.currentTarget.className += " active";
    } else {
    tabContent[x].style.display = "none";
    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    }
    }

    });
    });
</script>

