﻿@model Foxxlegacy.Web.Models.AdminBroadcastEmailDataValidation
@{
    ViewBag.Title = "Broadcast Email";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    table {
        table-layout: fixed;
        width: 100%;
    }

    .email-body {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="One"></button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab") == true ? TempData["ActiveTab"].ToString() == "broadcastEmailTab" ? "active" : "" : "")">@Html.ActionLink("Broadcast Email", "broadcastemail", "admin", new { TabName = "broadcastemail", MenuName = "broadcastemail" }, null)</button>
                <button class="tablinks" @(TempData.ContainsKey("ActiveTab") == true ? TempData["ActiveTab"].ToString() == "broadcastsmsTab" ? "active" : "" : "")>@Html.ActionLink("Broadcast SMS", "broadcastsms", "admin")</button>
                <button class="tablinks" id="Four" @(TempData.ContainsKey("ActiveTab") == true ? TempData["ActiveTab"].ToString() == "BroadcastReportsTab" ? "active" : "" : "")>@Html.ActionLink("Broadcast Reports", "BroadcastReports", "admin", new { TabName = "BroadcastReports", MenuName = "broadcastemail" }, null)</button>

                <button class="tablinks" id="Five" @(TempData.ContainsKey("ActiveTab") == true ? TempData["ActiveTab"].ToString() == "SentEmailReportTab" ? "active" : "" : "")>@Html.ActionLink("Sent Email Report", "SentEmailReport", "admin", new { TabName = "SentEmailReport", MenuName = "broadcastemail" }, null)</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">
            <div id="Two" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "broadcastEmailTab" ? "block" : "none":"none");">
                @using (Html.BeginForm("broadcastemail", "admin"))
                {
                    <div class="tabcontainer_content">
                        <h4>1 - Chose below who you want to send to (All, Username, Rank and Above or Rank Only)</h4>

                        <div class="adminemailinner_tab">
                            <ul class="tabs">
                                @{
                                    int i = 0;
                                    foreach (var item in Model.EmailSendingTypeList)
                                    {
                                        string id = Foxxlegacy.Data.RandomString(4);
                                        <li class="tab-link @(i == 0 ? "current" : "")" data-tab="tab-@id">@Html.RadioButtonFor(m => m.EmailSendingTypeId, item.Value, new { id, @class = "SendingType" }) <label for="@id">@item.Text</label></li>
                                        i++;
                                    }
                                }
                            </ul>
                            @Html.ValidationMessageFor(m => m.EmailSendingTypeId)

                            <div id="UsernamePanel" style="display:none;">
                                <div class="adminormbox">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>User Name</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(m => m.SpecificUserName, new { @class = "form-control" })</div>
                                        <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" id="btnGetUserNameCount" value="Add User" /></div>
                                        @Html.ValidationMessageFor(m => m.SpecificUserName)
                                    </div>
                                    <div class="row" style="display:none;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>User ID</th>
                                                    <th>User Name</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="DownlineUserPanel" style="display:none;">
                                <div class="adminormbox">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>User Name</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">@Html.TextBoxFor(m => m.DownlineUserName, new { @class = "form-control" })</div>
                                        <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" id="btnGetDownlineUserNameCount" value="Get Downline User" /></div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>User ID</th>
                                                    <th>User Name</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="UserRankPanel" style="display:none;">
                                <div class="adminormbox">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12"><label>Rank</label></div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(m => m.UserRankId, Model.UserRankList, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.UserRankId)
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="admin_btn" id="btnGetRankUserCount" value="Get Count" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tabcontainer_content">
                        <h4>2 - Enter your Email text message here and click "Add to Broadcast" below <span>Recipient Count: <span id="BroadcastEmailRecipientCountField">0</span>	</span></h4>
                        <div class="adminormbox">
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Choose Your Template : </label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.DropDownListFor(m => m.EmailTemplateId, Model.EmailTemplateTypeList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EmailTemplateId)
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Subject :</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.EmailSubject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EmailSubject)
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(m => m.EmailBody, new { @id = "editor1" })
                                    @Html.ValidationMessageFor(m => m.EmailBody)
                                </div>

                                <div class="col-md-12">
                                    <br />
                                    <input type="submit" class="admin_btn" value="Add To Broadcast" />
                                </div>
                            </div>
                        </div>
                    </div>
                }




                <div class="tabcontainer_content">
                    <h4>3 - Broadcast Email messages to the list <span>Count: @ViewBag.BroadcastEmailmessagesCount</span></h4>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <p><b>Regarding the broadcast Email list below:</b></p>
                            <p>1 – Choose to send them all by checking the box beside “User Name” or,</p>
                            <p>2 – Check the box beside the individual users you want to send to or,</p>
                            <p>3 – Use the Search to filter by “User Name” or “To Number” for users you want to keep, or delete from the list.</p>
                            <p>Then, select what you want to send and click “Send” when you are ready to broadcast.</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="adminemsailsrighttpanel">
                                <p>
                                    Server Time : @DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss tt")
                                    <img src="~/Images/refresh.png" />
                                </p>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("SearchDeleteBroadcastEmail", "Admin", FormMethod.Post))
                    {
                        <div class="adminormbox">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(x => x.SearchUserNameOrPhone, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Search" name="Search" /></div>
                                <div class="col-md-3 col-sm-12 col-xs-12"><input type="submit" name="delete" class="admin_btn" value="Delete Selected Users" onclick="return confirm('Are you sure you want to delete this?');" /></div>
                                <div class="clearfix"></div>


                                <div class="col-md-3 col-sm-12 col-xs-12 input-group date" id="datetimepicker">

                                    @Html.TextBoxFor(x => x.ScheduleTime, new { @class = "form-control", autocomplete = "off" })

                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Schedule Email" name="ScheduleEmail" /></div>
                                <div class="col-md-3 col-sm-12 col-xs-12"><input type="submit" class="admin_btn" value="Send Email Now" name="SendEmailNow" /></div>
                                <div class="clr"></div>
                            </div>
                        </div>
                        if (TempData.ContainsKey("SUCCESS_MESSAGE"))
                        {
                            <span style="color:Green;">
                                @TempData["SUCCESS_MESSAGE"]
                            </span>
                        }
                        else if (TempData.ContainsKey("ERROR_MESSAGE"))
                        {
                            <span style="color:red;text-align:center">
                                @TempData["ERROR_MESSAGE"]
                            </span>
                        }

                        <div class="row" style="display:@(TempData.ContainsKey("ActiveTab") == true ? Convert.ToString(TempData["ActiveTab"]) == "broadcastEmailTab" ? "block" : "none" : "none");">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="ckbCheckAll" /></th>
                                        <th>User Name</th>
                                        <th>Name</th>
                                        <th>To Email</th>
                                        <th>Subject</th>
                                        <th>Email Text</th>
                                        <th>Email Body</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.GetBroadcastEmailList.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(x => x.GetBroadcastEmailList[i].CheckId, new { @class = "checkBoxClass" })
                                                @Html.HiddenFor(x => x.GetBroadcastEmailList[i].Id)
                                            </td>
                                            <td>@Model.GetBroadcastEmailList[i].UserName</td>
                                            <td>@Model.GetBroadcastEmailList[i].Name</td>
                                            <td>@Model.GetBroadcastEmailList[i].ToEmail</td>
                                            <td>@Model.GetBroadcastEmailList[i].EmailSubject</td>
                                            <td class="email-body">@Model.GetBroadcastEmailList[i].EmailBody</td>
                                            <td>
                                                <input type="button" value="View Email" id="ViewEmailDetails" />
                                            </td>
                                            <td>@Model.GetBroadcastEmailList[i].Date</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="tabcontainer_content">
                    <h4>Schedule Broadcast List <span>Server Time : @DateTime.Now.ToString("MM/dd/yyyy hh:mm:ss tt") @*5/19/2021 2:06:47 AM*@ <img style="width: 21px;" src="~/Images/refresh.png" id="DataRefresh" /></span></h4>
                    <table class="table table-bordered">
                        <tbody>
                            @{
                                foreach (var item in Model.ScheduleList)
                                {
                                    <tr>
                                        <td>@item.ScheduleTime</td>
                                        <td>@item.CountInfo</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div id="Four" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "BroadcastReportsTab" ? "block" : "none":"none");">

                @if (TempData.ContainsKey("SUCCESS_MESSAGE"))
                {
                    <span style="color:Green;">
                        @TempData["SUCCESS_MESSAGE"]
                    </span>
                }
                else if (TempData.ContainsKey("ERROR_MESSAGE"))
                {
                    <span style="color:red;text-align:center">
                        @TempData["ERROR_MESSAGE"]
                    </span>
                }

                <table style="border-collapse: collapse;">
                    <tr style="padding: 0;">
                        <td class="boxLeftCorner" style="padding: 0;"></td>
                        <td class="boxTopRepeater" style="padding: 0;">

                            <label>Email Reports</label>
                        </td>
                        <td class="boxRightCorner" style="padding: 0;"></td>
                    </tr>
                    <tr style="padding: 0;">
                        <td class="boxLeftRepeater" style="padding: 0;"></td>
                        <td class="content" style="padding: 0;">
                            <table>
                                <tr>
                                    <td>
                                        Total unsent emails:<a href="@Url.Action("EmailReports","Admin",new { TabName = "EmailReports", MenuName = "broadcastemail",  qtype="emailunsend"})">@Model.BroadcastReportsViewModel.UnSendEmail</a>

                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total sent emails:<a href="@Url.Action("EmailReports","Admin",new { TabName = "EmailReports", MenuName = "broadcastemail",  qtype="emailsend"})">@Model.BroadcastReportsViewModel.SendEmail</a>

                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        @using (Html.BeginForm("ClearEmailData", "Admin", new { TabName = "broadcastemail" }, FormMethod.Post))
                                        {
                                            <input type="submit" name="ClearEmailData" class="admin_btn" value="Clear Email Data" onclick="return confirm('Are you sure you want to clear these records?');" />
                                        }
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="boxRightRepeater" style="padding: 0;"></td>
                    </tr>
                    <tr style="padding: 0;">
                        <td class="boxBotLeftCorner" style="padding: 0;"></td>
                        <td class="boxBotRepeater" style="padding: 0;"></td>
                        <td class="boxBotRightCorner" style="padding: 0;"></td>
                    </tr>
                </table>



                <table style="border-collapse: collapse;">
                    <tr style="padding: 0;">
                        <td class="boxLeftCorner" style="padding: 0;"></td>
                        <td class="boxTopRepeater" style="padding: 0;">
                            <label>Sms Reports</label>
                        </td>
                        <td class="boxRightCorner" style="padding: 0;"></td>
                    </tr>
                    <tr style="padding: 0;">
                        <td class="boxLeftRepeater" style="padding: 0;"></td>
                        <td class="content" style="padding: 0;">
                            <table>
                                <tr>
                                    <td>
                                        Total unsent sms:
                                        <a href="@Url.Action("SmsReports","Admin",new { TabName = "SmsReports", MenuName = "broadcastemail",  qtype="smsunsend"})">@Model.BroadcastReportsViewModel.UnSendSms</a>
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total sent sms:
                                        <a href="@Url.Action("SmsReports","Admin",new { TabName = "SmsReports", MenuName = "broadcastemail",  qtype="smssend"})">@Model.BroadcastReportsViewModel.SendSms</a>
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        @using (Html.BeginForm("ClearSMSData", "Admin", new { TabName = "broadcastemail" }, FormMethod.Post))
                                        {
                                            <input type="submit" name="ClearSMSData" class="admin_btn" value="Clear SMS Data" onclick="return confirm('Are you sure you want to clear these records?');" />
                                        }
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="boxRightRepeater" style="padding: 0;"></td>
                    </tr>
                    <tr style="padding: 0;">
                        <td class="boxBotLeftCorner" style="padding: 0;"></td>
                        <td class="boxBotRepeater" style="padding: 0;"></td>
                        <td class="boxBotRightCorner" style="padding: 0;"></td>
                    </tr>
                </table>


            </div>


            <div style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "EmailSmsReportsTab" ? "block" : "none":"none");">

                <table class="table table-bordered">
                    <thead>
                        <tr style="white-space:nowrap">

                            <th>User Name</th>
                            @if (TempData.ContainsKey("EmailReports") && (TempData.ContainsKey("EmailReportsqtype")))
                            {
                               
                                <th>To Email</th>
                            }
                            else
                            {
                                <th>To Number</th>
                            }
                            <th>Subject</th>
                            <th>Date Time</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.SentEmailReport.Count; i++)
                        {
                        <tr>

                            <td>@Model.SentEmailReport[i].UserName</td>
                            @if (TempData.ContainsKey("EmailReports") && (TempData.ContainsKey("EmailReportsqtype")))
                            {
                                <td>@Model.SentEmailReport[i].ToEmail</td>
                            }
                            else
                            {
                                <td>@Model.SentEmailReport[i].ToNumber</td>
                            }

                            <td>@Model.SentEmailReport[i].Subject</td>
                            <td>@Model.SentEmailReport[i].Date</td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>


            <div id="Five" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "SentEmailReportTab" ? "block" : "none":"none");">

                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>User Name</th>
                            <th>To Email</th>
                            <th>Subject</th>
                            <th>Email Body</th>
                            <th>Date Time</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.SentEmailReport.Count; i++)
                        {
                            <tr>

                                <td>@Model.SentEmailReport[i].UserName</td>

                                <td>@Model.SentEmailReport[i].ToEmail</td>
                                <td>@Model.SentEmailReport[i].EmailSubject</td>
                                <td class="email-body">

                                    <p style="display:none">@Model.SentEmailReport[i].EmailBody</p>
                                    <input type="button" value="View Email" id="ViewEmailDetailsSentEmailReport" />
                                </td>
                                <td>@Model.SentEmailReport[i].Date</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*------------  Modal div for ViewEmailDetails----------------*@



<div class="modal fade" id="ViewEmailDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='ViewEmailDetailsModalInfo'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

@*------------  Modal div for ViewEmailDetails----------------*@



@*------------  Modal div for Sent Email Report----------------*@



<div class="modal fade" id="SentEmailReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='SentEmailReportModalInfo'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

@*------------  Modal div for Sent Email Report----------------*@




@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Js/AdminBroadcastingEmailManagement")
<script>

</script>

