﻿
@{
    ViewBag.Title = "Commissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1 sidebar_panel">
            <div class="tab">
                <ul>
                    <li class="dspy-none"><button class="tablinks" id="Zero"></button></li>
                    <li><button class="tablinks" id="One">Commissions Mod</button></li>
                    <li><button class="tablinks" id="Two">Create Foxx Cash</button></li>
                    <li><button class="tablinks" id="Three">Commissions Liability</button></li>
                    <li><button class="tablinks" id="Four">Comm/Negative Balance</button></li>
                    <li><button class="tablinks" id="Five">Commissions By Type</button></li>

                    <li>
                        <h5>Commissions</h5>
                        <ul class="sub-menu">
                            <li>
                                <button class="tablinks" onclick="getCommission('','divOrderCommission',0)" id="Six">By Order</button>
                            </li>
                            <li>
                                <button class="tablinks" onclick="getCommission('','divDateCommission',0)" id="Seven">By Date</button>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <h5>QTE</h5>
                        <ul class="sub-menu">
                            <li><button class="tablinks" id="Eight">QTE by Order</button></li>
                        </ul>
                    </li>
                    <li>
                        <h5>User Commissions</h5>
                        <ul class="sub-menu">
                            <li onclick="getUserWiseCommissions(0)"><button class="tablinks" id="Nine">Users</button></li>
                            <li onclick="getUserWiseCommissions(1)"><button class="tablinks" id="Ten">Admin Users</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="Zero" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Commissions Area </h4>
                    <p>Choose from one of the tasks on the left.</p>
                </div>
                @*<div class="tabcontainer_content">
                        <h4>
                            Commissions View
                        </h4>

                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>ID</th>
                                <th>Orderno</th>
                                <th>UserName</th>
                                <th>Type</th>
                                <th>Create Date</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>From Level</th>
                            </tr>
                            <tr>
                                <td>231160</td>
                                <td>16152	</td>
                                <td>User2</td>
                                <td>U5-F</td>
                                <td>4/25/2021	</td>
                                <td>$1.00</td>
                                <td>Uni-Level 5 first of $1.00 for OrderNo 16152 ordered by username BOBBI</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>231160</td>
                                <td>16152	</td>
                                <td>User2</td>
                                <td>U5-F</td>
                                <td>4/25/2021	</td>
                                <td>$1.00</td>
                                <td>Uni-Level 5 first of $1.00 for OrderNo 16152 ordered by username BOBBI</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>231160</td>
                                <td>16152	</td>
                                <td>User2</td>
                                <td>U5-F</td>
                                <td>4/25/2021	</td>
                                <td>$1.00</td>
                                <td>Uni-Level 5 first of $1.00 for OrderNo 16152 ordered by username BOBBI</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>231160</td>
                                <td>16152	</td>
                                <td>User2</td>
                                <td>U5-F</td>
                                <td>4/25/2021	</td>
                                <td>$1.00</td>
                                <td>Uni-Level 5 first of $1.00 for OrderNo 16152 ordered by username BOBBI</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>231160</td>
                                <td>16152	</td>
                                <td>User2</td>
                                <td>U5-F</td>
                                <td>4/25/2021	</td>
                                <td>$1.00</td>
                                <td>Uni-Level 5 first of $1.00 for OrderNo 16152 ordered by username BOBBI</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>231160</td>
                                <td>16152	</td>
                                <td>User2</td>
                                <td>U5-F</td>
                                <td>4/25/2021	</td>
                                <td>$1.00</td>
                                <td>Uni-Level 5 first of $1.00 for OrderNo 16152 ordered by username BOBBI</td>
                                <td>7</td>
                            </tr>
                        </table>

                    </div>*@

            </div>

            <div id="One" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Commission Adjustment by UserName
                    </h4>

                    <p>
                        To add or remove a commission for a user, fill out all fields including the CSJ Entry.
                    </p>

                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>UserName:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Type:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option value="Select">Select</option>
                                        <option value="1">FP/First Product Bonus</option>
                                        <option value="2">FP-R/First Product Bonus for Rep</option>
                                        <option value="3">FP-RMatch/First Product Rep Matching Bonus</option>
                                        <option value="4">U1/Uni-Level 1</option>
                                        <option value="5">U1-R/Uni-Level 1 for Rep</option>
                                        <option value="6">U1-P/Uni-Level 1 Match to Pool</option>
                                        <option value="7">U2/Uni-Level 2</option>
                                        <option value="8">U2-R/Uni-Level 2 for Rep</option>
                                        <option value="9">U2-P/Uni-Level 2 Match to Pool</option>
                                        <option value="10">U3/Uni-Level 3</option>
                                        <option value="11">U3-R/Uni-Level 3 for Rep</option>
                                        <option value="12">U3-P/Uni-Level 3 Match to Pool</option>
                                        <option value="13">U4/Uni-Level 4</option>
                                        <option value="14">U4-R/Uni-Level 4 for Rep</option>
                                        <option value="15">U4-P/Uni-Level 4 Match to Pool</option>
                                        <option value="16">U5/Uni-Level 5</option>
                                        <option value="17">U5-R/Uni-Level 5 for Rep</option>
                                        <option value="18">U5-P/Uni-Level 5 Match to Pool</option>
                                        <option value="19">S1/Silver 1</option>
                                        <option value="20">S2A/Silver 2A</option>
                                        <option value="21">S2B/Silver 2B</option>
                                        <option value="22">S3/Silver 3</option>
                                        <option value="23">G1/Gold 1</option>
                                        <option value="24">G2A/Gold 2A</option>
                                        <option value="25">G2B/Gold 2B</option>
                                        <option value="26">G3/Gold 3</option>
                                        <option value="27">P1/Platinum 1</option>
                                        <option value="28">P2/Platinum 2</option>
                                        <option value="29">P2-F/Platinum 2 first</option>
                                        <option value="30">P3/Platinum 3</option>
                                        <option value="31">P3-F/Platinum 3 first</option>
                                        <option value="32">Pool/Pool</option>
                                        <option value="33">RSC/Retail</option>
                                        <option value="34">TFC/Transferred Foxx Cash</option>
                                        <option value="35">FPSS2/First Product Super Silver Bonus 2</option>
                                        <option value="36">U2-F/Uni-Level 2 first</option>
                                        <option value="37">U2-R-F/Uni-Level 2 first for Rep</option>
                                        <option value="38">U2-P-F/Uni-Level 2 first match to Pool</option>
                                        <option value="39">U3-F/Uni-Level 3 first</option>
                                        <option value="40">U3-R-F/Uni-Level 3 first for Rep</option>
                                        <option value="41">U3-P-F/Uni-Level 3 first match to Pool</option>
                                        <option value="42">U4-F/Uni-Level 4 first</option>
                                        <option value="43">U4-R-F/Uni-Level 4 first for Rep</option>
                                        <option value="44">U4-P-F/Uni-Level 4 first match to Pool</option>
                                        <option value="45">U5-F/Uni-Level 5 first</option>
                                        <option value="46">U5-R-F/Uni-Level 5 first for Rep</option>
                                        <option value="47">U5-P-F/Uni-Level 5 first match to Pool</option>
                                        <option value="48">S1-F/Silver 1 first</option>
                                        <option value="49">S2A-F/Silver 2A first</option>
                                        <option value="50">S2B-F/Silver 2B first</option>
                                        <option value="51">S3-F/Silver 3 first</option>
                                        <option value="52">G1-F/Gold 1 first</option>
                                        <option value="53">G2A-F/Gold 2A first</option>
                                        <option value="54">G2B-F/Gold 2B first</option>
                                        <option value="55">G3-F/Gold 3 first</option>
                                        <option value="56">P1-F/Platinum 1 first</option>
                                        <option value="57">Contest/Contest Winner</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Date Created	:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Date Available:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Amount: <br /><span>(See Footer Notes)</span></label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Order No.: <br /></label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Description: <br /> <span> (This is what the member  will see.)</span></label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="date" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>CSJ Entry: <br /> <span> (This dialog will be entered into the Customer Service Journal for the above UserName)</span></label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <textarea class="form-control" style="height:150px;"></textarea>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Click for Summary" />
                                </div>

                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>

                    <p>Footer Notes:</p>
                    <p>&nbsp;Amount field is positive or negitive number only. ie no $ sign or , symbol.</p>
                    <p>&nbsp;Amount should be a negitive number for removing commissions for a user. ie -1234.56</p>
                </div>

            </div>

            <div id="Two" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Create Foxx Cash</h4>
                    <p>To create Foxx Cash for a user, fill out all fields including the CSJ Entry.</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>UserName</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Amount: <span> (See Footer Notes) </span></label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>CSJ Entry: <span> (This dialog will be entered into the Customer Service Journal for the above UserName) </span></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" style="height:150px;"></textarea>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Click for Summary" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                    <p>
                        Footer Notes:
                    </p>
                    <p>
                        &nbsp; Amount field is + or -  decimal only. ie no $ sign or , symbol.
                    </p>
                </div>
            </div>

            <div id="Three" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Liability Summary</h4>
                    <p>Issued: $325,553.50</p>
                    <p>Swept: $113,994.17</p>
                    <p>Current Liability: $211,559.33</p>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Liability Details: Positive Balance
                        &nbsp;<span>Active funding level: $27,854.22	</span> &nbsp;
                        <input type="button" value="Export" />
                    </h4>
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Amount Paid</th>
                            <th>Amount Swept	</th>
                            <th>Balance</th>
                            <th>User Type</th>
                        </tr>

                        <tr>
                            <td>User3</td>
                            <td>User Three</td>
                            <td>$7,164.10</td>
                            <td>$0.00</td>
                            <td>$7,164.10</td>
                            <td>RC</td>
                        </tr>

                        <tr>
                            <td>User3</td>
                            <td>User Three</td>
                            <td>$7,164.10</td>
                            <td>$0.00</td>
                            <td>$7,164.10</td>
                            <td>RC</td>
                        </tr>

                        <tr>
                            <td>User3</td>
                            <td>User Three</td>
                            <td>$7,164.10</td>
                            <td>$0.00</td>
                            <td>$7,164.10</td>
                            <td>RC</td>
                        </tr>

                        <tr>
                            <td>User3</td>
                            <td>User Three</td>
                            <td>$7,164.10</td>
                            <td>$0.00</td>
                            <td>$7,164.10</td>
                            <td>RC</td>
                        </tr>

                        <tr>
                            <td>User3</td>
                            <td>User Three</td>
                            <td>$7,164.10</td>
                            <td>$0.00</td>
                            <td>$7,164.10</td>
                            <td>RC</td>
                        </tr>
                    </table>
                </div>

                <div class="tabcontainer_content">
                    <h4>
                        Liability Details:  Negative Balance
                        <input type="button" value="Export" />
                    </h4>
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Amount Paid</th>
                            <th>Amount Swept	</th>
                            <th>Balance</th>
                            <th>User Type</th>
                        </tr>

                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                            <td>Member</td>
                        </tr>


                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                            <td>Member</td>
                        </tr>

                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                            <td>Member</td>
                        </tr>

                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                            <td>Member</td>
                        </tr>

                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                            <td>Member</td>
                        </tr>

                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                            <td>Member</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Distributor's with a Negative Balance
                        <input type="button" value="Export" />
                    </h4>

                    <table class="hometable" cellpadding="0" cellspacing="0" width="100%;">
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Paid</th>
                            <th>Balance</th>
                        </tr>
                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                        </tr>
                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                        </tr>
                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                        </tr>
                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                        </tr>
                        <tr>
                            <td>Fit4wealth</td>
                            <td>Rochelle Saulsberry</td>
                            <td>$5.50</td>
                            <td>$10.00</td>
                            <td>($4.50)</td>
                        </tr>
                    </table>

                </div>
            </div>

            <div id="Five" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Commissions By Type
                        <input type="button" value="Export" />
                    </h4>

                    <table class="hometable" cellpadding="0" cellspacing="0" width="100%;">
                        <tr>
                            <th>Type</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>
                        <tr>
                            <td>Contest</td>
                            <td>$2,093.58</td>
                        </tr>

                    </table>

                </div>
            </div>


            <div id="Six" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Commissions By Order No.</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Enter Order No.</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" id="orderNo" class="form-control" />
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Sort Results By </label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control" id="orderNoSort">
                                        <option value="1">Order No. Newest</option>
                                        <option value="2">Order No. Oldest</option>
                                        <option value="3">Date Newest</option>
                                        <option value="4">Date Oldest</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" onclick="getCommission('order','divOrderCommission',1)" class="admin_btn" value="Go" />
                                </div>
                            </div>
                            <div class="" id="divOrderCommission">
                                <h4>
                                    Commissions View
                                </h4>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div id="Seven" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Commission by Date Lookup</h4>
                    <p>Select Your Date Range</p>

                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>From Date:</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" id="fromDate" autocomplete="off" class="form-control datepicker" />
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>To Date: </label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" id="toDate" class="form-control datepicker" />
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Sort Results By </label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control" id="DateSort">
                                        <option value="1">Order No. Newest</option>
                                        <option value="2">Order No. Oldest</option>
                                        <option value="3">Date Newest</option>
                                        <option value="4">Date Oldest</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" onclick="getCommission('date','divDateCommission',2)" value="Submit" />
                                </div>
                            </div>
                            <div class="" id="divDateCommission">
                                <h4>
                                    Commissions View
                                </h4>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


            <div id="Eight" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>QTE By Order No.</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12"><label>Enter Order No.</label></div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Go" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div id="Nine" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        User wise commissions
                        <span id="UserWiseTotalAmount">Total: $0	</span>
                    </h4>
                    <div class="adminormbox">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometableComm1" id="userWiseCommsionTable">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Name(User name)</th>
                                    <th>User Type</th>
                                    <th>No. of Orders</th>
                                    @*<th>Order Commission Amount</th>*@
                                    <th>Compensation Amount</th>
                                </tr>
                            </thead>
                            <tbody id="userWiseCommsionTableBody">
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div id="Ten" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Admin User wise commissions
                        <span id="AdminUserWiseTotalAmount">Total: $0	</span>
                    </h4>
                    <div class="adminormbox">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometableComm1" id="AdminuserWiseCommsionTable">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Name(User name)</th>
                                    <th>User Type</th>
                                    <th>No. of Orders</th>
                                    @*<th>Order Commission Amount</th>*@
                                    <th>Compensation Amount</th>
                                </tr>
                            </thead>
                            <tbody id="AdminuserWiseCommsionTableBody">
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>


    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });

    function getCommission(reportType, divId, reqType) {
        debugger
        var SearchType = reqType;
        var orderNo = 0;
        var fromDate = new Date();
        var toDate = new Date();
        var sortBy = 1;
        if (reportType == 'order') {
            // SearchType = 1;
            var val = $('#orderNo').val();
            sortBy = parseInt($('#orderNoSort').val());
            if (val != undefined && val !== '') {
                orderNo = parseInt(val);
            } else {
                //alert('Order no. is required.');
                //$('#orderNo').focus();
                //return
                SearchType = 0;
            }
        } else if (reportType == 'date') {
            //  SearchType = 2;
            sortBy = parseInt($('#DateSort').val());
            fromDate = $('#fromDate').val();
            toDate = $('#toDate').val();
            if (fromDate == undefined || fromDate == '') {
                alert('Start date required.')
                $('#fromDate').focus();
                return
            }
            if (toDate == undefined || toDate == '') {
                alert('End date required.')
                $('#toDate').focus();
                return
            }

        }

        var obj = {
            SearchType: SearchType,
            OrderNo: orderNo,
            FromDate: fromDate,
            ToDate: toDate,
            SortBy: sortBy
        }
        console.log('obj', obj)
        showLoader(divId);
        $.ajax({
            url: '/Admin/GetCommisions',
            type: "POST",
            data: {
                model: obj
            },
            success: function (data) {
                console.log('res', data);
                var res = data;
                if (res.Status) {
                    $('#divDateCommission').html('');
                    $('#divOrderCommission').html('');
                    $('#' + divId).html(res.data);

                } else {
                    alert('Error : ' + res.Message);
                }
                hideLoader(divId);
            },
            error: function (err) {
                console.log('err', err)
                hideLoader(divId);
            }
        });
    }

    function getUserWiseCommissions(type) {
        var divId = '';
        var spanId = '';
        if (type == 0) {
            divId = 'userWiseCommsionTable';
            spanId = 'UserWiseTotalAmount';
        } else {
            divId = 'AdminuserWiseCommsionTable';
            spanId = 'AdminUserWiseTotalAmount';
        }
        var body = divId + 'Body';
        showLoader(divId);
        $.ajax({
            url: '/Admin/GetUserWiseCommissions?Id=' + type,
            type: "GET",
            success: function (data) {
                debugger
                console.log('res', data);
                var res = data;
                if (data.Status) {
                    $('#' + body).html('');
                    $('#' + body).html(res.data.content);
                    $('#' + spanId).text('Total Amount :$ ' + res.data.TotalCommissionAmount);

                } else {
                    alert('Error : ' + res.Message);
                }
                hideLoader(divId);
            },
            error: function (err) {
                console.log('err', err)
                hideLoader(divId);
            }
        });
    }


</script>


