﻿@model Foxxlegacy.ViewModel.ViewModel.ArchiveCommonResponseViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            Contacts:
            <input type="button" value="Common Responses" id="btnCommonResponsediv" />
        </h4>

        <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>UserName</th>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Dialogue Count</th>
                </tr>
                @if (Model!= null)
                {
                    foreach (var item in Model.archiveCommonResponseListViewModel)
                    {
                        <tr>
                            <td><a href="@Url.Action("Contact_inner","Admin",new {ContactsID=item.ID,UserId=item.FromUsersID })">Select</a></td>
                            <td>@item.EventDate</td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.subject</td>
                            <td>@item.DialogueCount</td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
</div>





<script>
    $(document).on("click", "#btnCommonResponsediv", function () {

        window.location.href = "/Admin/CreateNewCommonResponse";
       

    });
</script>