﻿@model Foxxlegacy.ViewModel.ViewModel.UserInformationViewModel
@{
    ViewBag.Title = "Contact_inner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .treeView li span span.NoQual b {
        color: red !important;
    }

    .treeView li span span.Qual b {
        color: green !important;
    }
</style>
<div class="faq2_admin">
    <div class="tabcontainer_content">
        <h4>
            Short Cuts for:  @(Model.UserName)
            <input type="hidden" id="selectedUserName" value="@Model.UserName" />
        </h4>
        <div class="tab contact_inner_tab">
            <button class="tablinks" id="Zero" style="background:none;padding:0;"></button>
            <button onclick="onCsjTabClick()" class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "CSJTab"?"active":"":"")" id="One">CSJ</button>
            <button onclick="onMemberInfoTabClick()" class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "MemberInfonTab"?"active":"":"")" id="Two">Member Info</button>
            <button class="tablinks" id="Three">AutoShip</button>
            <button class="tablinks @(Model.ActiveTab == "OrdersTab"?"active":"")" id="Four">Orders</button>
            <button class="tablinks @(Model.ActiveTab == "PersonalsTab"?"active":"")" id="five">Personals</button>
            <button class="tablinks @(Model.ActiveTab == "TeamCustomersCountTab"?"active":"")" id="six">Rank management report</button>
            <button onclick="onCommissionTabClick()" class="tablinks @(Model.ActiveTab == "CommissionsTab"?"active":"")" id="seven">Commissions</button>
            @*<button class="tablinks @(Model.ActiveTab == "TreeTab"?"active":"")" id="eight">Tree(Organic)</button>*@
            <button class="tablinks" id="nine">Tree</button>
            <button class="tablinks @(Model.ActiveTab == "UplineTab"?"active":"")" id="ten">Upline</button>
            <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "RankTab"?"active":"":"")" id="eleven">Rank</button>
            <button class="tablinks @(Model.ActiveTab == "MessagesTab"?"active":"")" id="twelve">Messages</button>
            <button class="tablinks @(Model.ActiveTab == "SearchPlacementToolTab"?"active":"")" id="thirteen">Placement Tool</button>
        </div>
    </div>
</div>

<div class="faq2_admin">
    <div class="tabcontainer_content contact_innermaintab">

        <div id="Zero" class="tabcontent">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-xs-12" style="display:@(Model.ActiveTab == "ContactDetailsTab" ? "block" : "none");">
                    <div class="contactinner_first">
                        <h4>Contact Details</h4>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <span><b>Origin Location:</b>@(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].Origin : "") </span>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <span><b>Origin Date:</b>@(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].EventDate : "")</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span><b>Name:</b> @(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].Name : "") </span>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <span><b>Email:</b> @(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].EmailId : "")</span>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <span><b>Phone:</b> @(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].Phone : "")</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span><b>Subject:</b> @(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].Subject : "")</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span><b>Details:</b> @(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].Details : "")</span>
                        </div>
                        <div class="clearfix"></div>

                        <div class="contactinner_forstbottom">
                            <h5>Contact Notes:</h5>

                            @if (Model.contactDetailsViewModel.contactNotesListViewModel.Count > 0)
                            {
                                foreach (var item in Model.contactDetailsViewModel.contactNotesListViewModel)
                                {
                                    <p><span><b>{@item.CreateDate - by @item.UserName}-</b> @item.Notes</span></p>
                                }
                            }
                            else
                            {
                                <p>No private notes have been recorded for this contact.</p>
                            }




                            <h5>Contact Dialogue:</h5>
                            <span>
                                @if (Model.contactDetailsListViewModel.Count > 0)
                                {
                                    <b>
                                        {@(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].CreateDate : "") - by @(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].UserName : "")}
                                    </b>
                                }
                                <p>@(Model.contactDetailsListViewModel.Count > 0 ? Model.contactDetailsListViewModel[0].Dialogue : "")</p>
                            </span>


                            <h5>Add to the dialogue:</h5>
                            @using (Html.BeginForm("InsertRecordDialogue", "Admin", FormMethod.Post))
                            {


                                @Html.TextAreaFor(x => x.contactDetailsViewModel.Dialogue, new { @class = "form-control", style = "height:150px;", id = "DialogueTextAreaFor" })
                                <h5>Add to the dialogue:</h5>
                                @Html.DropDownListFor(model => model.contactDetailsViewModel.DialogueId, new SelectList(Model.contactDetailsViewModel.DialogueList, "Value", "Text"), "- Select -", new { @class = "form-control", id = "DialogueId" })

                                <input type="hidden" name="contactDetailsViewModel.ContactID" value="@TempData["TempDataContactsID"]" />
                                <input type="hidden" name="contactDetailsViewModel.UsersID" value="@TempData["TempDataUserId"]" />
                                <div align="center" class="button_paneladmin">
                                    <input type="submit" class="admin_btn" name="submitRecordDialogue" value="Record Dialogue" />
                                    <input type="submit" class="admin_btn" name="submitRecordDialogue" value="Archive" />
                                    <input type="submit" class="admin_btn" name="submitRecordDialogue" value="Admin Private Notes" />
                                    <div class="clearfix"></div>
                                </div>
                                if (TempData.ContainsKey("SUCCESS_MESSAGE"))

                                {
                                    <div>@TempData["SUCCESS_MESSAGE"]</div>
                                }
                            }
                        </div>


                    </div>

                    <a href="" class="admin_btn">Return to Contacts List</a>
                </div>
                <div class="col-md-6 col-xs-12 col-xs-12" style="display:@(Model.ActiveTab == "ContactDetailsTab" ? "block" : "none");">
                    <div class="contactinner_first">
                        <h4>History of contacts</h4>

                        @if (Model.historyofContactsViewModel.historyofContactsListViewModel.Count > 0)
                        {


                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <span><b>Date:</b>@Model.historyofContactsViewModel.historyofContactsListViewModel[0].EventDate </span>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <span><b>Subject:</b>@Model.historyofContactsViewModel.historyofContactsListViewModel[0].Subject</span>
                            </div>
                            @*<div class="col-md-6 col-sm-12 col-xs-12">
                                    <span><b>Name:</b> Jonnathan King </span>
                                </div>*@
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <span><b>Details:</b> @Model.historyofContactsViewModel.historyofContactsListViewModel[0].Details</span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span><b>Notes:</b> @Model.historyofContactsViewModel.historyofContactsListViewModel[0].Notes</span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span><b>Dialogue:</b></span>
                            </div>
                            foreach (var item in Model.historyofContactsViewModel.dialogueList)
                            {


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <span><b>{@item.CreateDate - by @item.UserName}- </b>@item.Dialogue</span>

                                </div>
                            }
                            <div class="clearfix"></div>

                            <hr />


                            <div class="clearfix"></div>
                        }

                        else
                        {
                            <div><p align='center'>No historical data for this user yet</p></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div id="One" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "CSJTab" ? "block" : "none":"");">
            <div class="col-md-12 col-xs-12 col-xs-12">
                <div class="contactinner_first">
                    <h4>
                        CSJ for:  @(Model.UserName)

                        <input type="button" value="Send Feedback Email" id="SendFeedbackEmail" />

                    </h4>
                    <p>
                        Please record a synopsis of your transactions with this customer in the My Record area. <br />
                        Your record will be appended with a date, time and CSR stamp when complete.
                    </p>

                    <div class="csjpanel" id="csjDiv">
                        <input value="@ViewBag.UserName" type="hidden" name="UserName" />
                        <input value="@ViewBag.UserId" type="hidden" name="UserId" />
                       
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>My Record:</label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                @*@Html.TextAreaFor(x => x.cSJDetailsViewModel.MyRecord, new { @class = "form-control", @style = "height:150px;margin-bottom:20px;" })*@
                                <textarea id="csjInput" class="form-control" style="height: 150px; margin-bottom: 20px;"></textarea>
                                <input type="button" onclick="addCsj();" style="float:right;" class="admin_btn" value="Update CSJ" />
                                <span style="color:DarkCyan;font-weight:bold;">
                                    @if (TempData.ContainsKey("SUCCESS_MESSAGE_NotesUpdated"))
                                    {
                                        @TempData["SUCCESS_MESSAGE_NotesUpdated"]
                                    }
                                </span>
                            </div>

                            <div class="col-md-12">
                                <label>Journal Historical Records:</label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="table-responsive">
                                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="csjTable">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Modified By</th>
                                                <th>Comments</th>
                                            </tr>

                                        </thead>
                                        <tbody id="csjTableBody">
                                        </tbody>
                                    </table>
                                </div>
                                @*@Html.Raw(@Html.TextAreaFor(x => x.cSJDetailsViewModel.JournalHistoricalRecords, new { @class = "form-control", style = "height:150px;" }))*@

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="Two" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "MemberInfonTab" ? "block" : "none":"");">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="contactinner_first">
                        <h4>
                            Personal Information     UserName: @Model.UserName
                        </h4>
                        <div class="adminmemberinfo">
                            <div class="dashboard_main_inner myinfomain">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12 col-xs-12">

                                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                            <tr>
                                                <th>First Name</th>
                                                <td> @Html.DisplayFor(x => x.FirstName, new { @class = "form-control", @id = "lblFirstName" })</td>
                                            </tr>
                                            <tr>
                                                <th>Last Name</th>
                                                <td>@Html.DisplayFor(x => x.LastName, new { @class = "form-control", @id = "lblLastName" })</td>
                                            </tr>
                                            <tr>
                                                <th>Phone</th>
                                                <td> @Html.DisplayFor(x => x.Phone, new { @class = "form-control", @id = "lblPhone" })</td>
                                            </tr>
                                            <tr>
                                                <th>Email Address</th>
                                                <td> @Html.DisplayFor(x => x.Email, new { @class = "form-control", @id = "lblEmail" })</td>
                                            </tr>
                                            <tr>
                                                <th>Sms Code</th>
                                                <td> @Html.DisplayFor(x => x.SMSCode, new { @class = "form-control", @id = "lblSMSCode" })</td>
                                            </tr>
                                            <tr>
                                                <th>Rank</th>
                                                <td>@Html.DisplayFor(x => x.Rank, new { @class = "form-control", @id = "lblrank" })</td>
                                            </tr>
                                        </table>











                                        <div class="myinfobutton">

                                            <a href="javascript:void(0)" data-UserId="@Model.ID" class="EditMyPersonalInfo" data-toggle="modal" data-target="#editfieldPersonalInfo">Edit</a>
                                        </div>

                                    </div>
                                </div>
                                @if (Model.CourtesyCalls == true)
                                {
                                    <p>Courtesy voice calls are enable &nbsp;  <a href="@Url.Action("ChangeCallStatus", "Admin", new { CallStatus = Convert.ToBoolean(0), UserId = Model.ID })"><input type="submit" value="Change" /></a> </p>
                                }
                                else
                                {
                                    <p>Courtesy voice calls are disabled &nbsp; <a href="@Url.Action("ChangeCallStatus", "Admin", new { CallStatus = Convert.ToBoolean(1), UserId = Model.ID })"><input type="submit" value="Change" /></a> </p>
                                }

                            </div>
                        </div>
                    </div>

                    <div class="contactinner_first">
                        <h4>
                            Update Address Information
                        </h4>
                        <div class="adminmemberinfo">
                            <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                <tr>
                                    <th>Address</th>
                                    <td>@Html.DisplayFor(x => x.Address1, new { @class = "form-control", @id = "lblAddress1" })</td>
                                </tr>
                                <tr>
                                    <th>Address line 2</th>
                                    <td>@Html.DisplayFor(x => x.Address2, new { @class = "form-control", @id = "lblAddress2" })</td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td>@Html.DisplayFor(x => x.City, new { @class = "form-control", @id = "lblCity" })</td>
                                </tr>
                                <tr>
                                    <th>State / Province</th>
                                    <td>@Html.DisplayFor(x => x.State, new { @class = "form-control", @id = "lblState" })</td>
                                </tr>
                                <tr>
                                    <th>Zip / Postal Code</th>
                                    <td>@Html.DisplayFor(x => x.Zip, new { @class = "form-control", @id = "lblZip" })</td>
                                </tr>
                            </table>
                            <a href="javascript:void(0)" data-UserId="@Model.ID" class="admin_btn EditMyAddressInfo " data-toggle="modal" data-target="#editfieldAddressInfo">Edit</a>

                        </div>
                        <p>
                            @if (TempData.ContainsKey("SUCCESS_MESSAGE_UpdateAddressInfo"))
                            {
                                @TempData["SUCCESS_MESSAGE_UpdateAddressInfo"]
                            }
                        </p>
                    </div>

                    <div class="contactinner_first" id="OptUsersMsg">
                        <h4>
                            Opt users out of messages.
                        </h4>
                        <div class="adminmemberinfo">

                            <h5>Email:</h5>
                            <p>
                                Current Status Of All Emails: <b> <span id="emailOpt"></span></b>
                                <input onclick="optUserChange('emailIn')" id="btnOptEmailIn" style="display:none;" type="button" class="optuderin" value="Opt User In" />
                                <input onclick="optUserChange('emailOut')" id="btnOptEmailOut" style="display:none;" type="button" class="optuderout" value="Opt User Out" />
                                <div class="clearfix"></div>
                            </p>
                            <p>
                                Current Status Of General Emails: <span id="emailOptGeneral"></span>
                                <input onclick="optUserChange('emailInGen')" id="btnOptEmailInGen" class="optuderin" style="display:none;" type="button" value="Opt User In" />
                                <input onclick="optUserChange('emailOutGen')" id="btnOptEmailOutGen" class="optuderout" style="display:none;" type="button" value="Opt User Out" />
                                <div class="clearfix"></div>
                            </p>

                            <h5>SMS:</h5>
                            <p>
                                Current Status Of All SMS: <span id="smsOpt"></span>
                                <input onclick="optUserChange('smsIn')" id="btnSmsOptIn" style="display:none;" type="button" class="optuderin" value="Opt User In" />
                                <input onclick="optUserChange('smsOut')" id="btnSmsOptOut" style="display:none;" type="button" class="optuderout" value="Opt User Out" />
                                <div class="clearfix"></div>
                            </p>
                            <p>
                                Current Status Of General SMS: <span id="smsOptGeneral"></span>
                                <input onclick="optUserChange('smsInGen')" id="btnSmsOptInGen" type="button" class="optuderin" style="display:none;" value="Opt User In" />
                                <input onclick="optUserChange('smsOutGen')" id="btnSmsOptOutGen" type="button" class="optuderout" style="display:none;" value="Opt User Out" />
                                <div class="clearfix"></div>
                            </p>
                            <div class="adminormbox">
                                <form>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-12 colx-s-12"><label>Phone:</label></div>
                                        <div class="col-md-4 col-sm-12 colx-s-12"><input type="text" id="optOutPhone" maxlength="10" class="form-control" /></div>
                                        <div onclick="OptOutofNonSystem()" class="col-md-4 col-sm-12 colx-s-12"><input type="button" value="Opt out of non-system SMS Messages" class="admin_btn" /></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="contactinner_first">
                        <h4>
                            Admin Management Items
                            <a href="">CSJ</a>
                        </h4>
                        <div class="adminormbox">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Sponsor:</label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        @Model.UserName
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Block Sweeper:</label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <select class="form-control">
                                            <option selected="selected" value="True">Sweeper Blocked</option>
                                            <option value="false">Sweeper Not Blocked</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Back office login:</label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <select class="form-control">
                                            <option selected="selected" value="UserName">Login Blocked</option>
                                            <option value="FirstName">Login Not Blocked</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>New Password:</label>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <input type="button" value="Change Password" />
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Membership Type: </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="button" class="admin_btn" value="Re-send welcome email" onclick="window.location.href='@Url.Action("WelcomeEmail","Admin", new { Id = Model.ID })'">
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>W9 Complete? </label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <span style="color:green;">Yes</span>
                                    </div>
                                    <div class="clearfix"></div>


                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="contactinner_first">
                        <h4>
                            Modify Membership Type
                        </h4>
                        <div class="adminormbox">
                            @using (Html.BeginForm("ModifyMembershipType", "Admin", FormMethod.Post))
                            {
                                <input id="hdnUserName" value="@ViewBag.UserName" type="hidden" name="UserName" />
                                <div class="row" id="RoleList">

                                    @if (Model.userRoleDetailsListViewModel.userRoleListViewModel.Count > 0)
                                    {

                                        for (int i = 0; i < Model.userRoleDetailsListViewModel.RoleNameList.Count; i++)
                                        {
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.userRoleDetailsListViewModel.IsUserInRoleList[i])

                                                    @Model.userRoleDetailsListViewModel.RoleNameList[i]
                                                    @Html.HiddenFor(x => x.userRoleDetailsListViewModel.RoleIdList[i])
                                                    @Html.HiddenFor(x => x.userRoleDetailsListViewModel.UserIdList[i])
                                                    @Html.HiddenFor(x => x.userRoleDetailsListViewModel.RoleNameList[i])
                                                </label>
                                            </div>
                                        }
                                        @*@Html.HiddenFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[0].RoleId)
                                            @Html.CheckBoxFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[0].Check)
                                            @Html.HiddenFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[1].RoleId)
                                            @Html.CheckBoxFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[1].Check)
                                            @Html.HiddenFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[2].RoleId)
                                            @Html.CheckBoxFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[2].Check)
                                            @Html.HiddenFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[3].RoleId)
                                            @Html.CheckBoxFor(x => x.userRoleDetailsListViewModel.userRoleListViewModel[3].Check)*@


                                    }
                                    @Html.HiddenFor(x => x.ID)
                                    @Html.HiddenFor(x => x.UserName)
                                    <br />
                                    <br />
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" class="admin_btn" value="Update">
                                    </div>
                                    <div class="clearfix"></div>
                                    <label>@TempData["SUCCESS_MESSAGE"]</label>
                                    <div class="clearfix"></div>
                                </div>
                            }


                        </div>
                    </div>

                    <h3>Mobile App Code: c6a</h3>

                    <div class="contactinner_first">
                        <h4>
                            Grand Fathering
                        </h4>
                        <div class="adminormbox">
                            <form>
                                <div class="row">

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Rank:</label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(emp => emp.RankID, new SelectList(Model.RankDropDownList, "RankID", "RankName", "Select Rank"), null, new { @class = "form-control", id = "RankID" })
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Expiry Date:</label>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <input type="date" class="form-control" id="ExpireDateId" />
                                    </div>
                                    <div class="clearfix"></div>
                                    <div id="ExpireDateIdErrormsg" style="color:red;text-align:center;display:none">Please Enter Expiry Date </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <label>Reason:</label>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" id="ReasonId" />
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="button" class="admin_btn" value="Add" id="btnAdd" data-UserId="@Model.ID" />
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="table-responsive notificationtable" style="display:none" id="GrandFathersdiv">
                                        <table cellpadding="0" cellspacing="0" width="100%" id="GrandFathersTabledatalisId">
                                            <tr>
                                                <th>Rank Name</th>
                                                <th>Expiry Date</th>
                                                <th>Reason</th>

                                            </tr>

                                        </table>
                                    </div>


                                </div>

                                <input id="hdnUserID" value="@ViewBag.UserId" type="hidden" />

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div id="Three" class="tabcontent">
            <div class="faq2_admin">
                <div class="tabcontainer_content">
                    <h4>
                        Create New Recurring Order (@Model.UserName)
                        <input type="button" value="Back to User">
                    </h4>
                    <div class="autoshipadmbcreate_box">
                        <a href="@Url.Action("NewAutoship", "Admin",new { AdId=0})" class="recurringorderbtn">Create Order Now</a>
                    </div>
                </div>



                <div class="tabcontainer_content">
                    <h4>
                        Modify Existing Recurring Order
                        <a href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_Directives",Return="Admin/Contact_inner" })" class="adminhelpbox"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                    </h4>
                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>Status</th>
                                    <th>MoreMito Cash</th>
                                    <th>Nickname</th>
                                    <th>Next Order</th>
                                    <th>Processed Status</th>
                                    <th></th>
                                </tr>
                                @foreach (var Item in Model.AutoshipList)
                                {
                                    <tr>
                                        <td> <a href="@Url.Action("NewAutoship", "Admin",new { AdId=Item.Id})" class="recurringorderbtn">CONFIGURE</a></td>
                                        <td>@Item.Active</td>
                                        <td>@Item.UseFoxxCash</td>
                                        <td>@Item.NickName</td>
                                        <td>@Item.NextOrderDate</td>
                                        <td>@Item.LastStatus</td>
                                        <td><a href="" class="recurringorderbtn">Delete</a></td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="tabcontainer_content">
                    <h4>
                        Recurring Order History
                        <a href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_History",Return="Admin/Contact_inner" })" class="adminhelpbox"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                    </h4>
                    
                    
                      <div class="table-responsive">
                                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                                        <tr>
                                            <th>Select</th>
                                            <th>Order No.</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                        @foreach (var Item in Model.RecurringOrderHistoryList)
                                        {
                                            <tr>
                                                <td> <a href="@Url.Action("AutoshipOrdersDetails", "Admin", new { OrderId =Item.Id,CustomerId=Item.Customerid})" class="outbtn">View</a></td>
                                                <td>@Item.OrderNo</td>
                                                <td>@Item.OrderDate</td>
                                                <td>@Item.Status</td>
                                            </tr>

                                        }

                                    </table>
                                </div>


                </div>

            </div>

        </div>

        <div id="four" class="tabcontent" style="display:@(Model.ActiveTab == "OrdersTab" ? "block" : "none");">
            <div class="tabcontainer_content">
                <h4>
                    Orders
                </h4>
                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>OrderNo</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Pass Up</th>
                                <th>Order Owner</th>
                                <th>CV</th>
                                <th>Exp. Date</th>

                            </tr>
                            @foreach (var item in Model.adminOrders)
                                                {


                                <tr>
                                    <td><a href="javascript:void();"></a></td>
                                    <td>@item.orderno</td>
                                    <td>@item.orderdate</td>
                                    <td>@item.status</td>
                                    <td>@item.PassUp</td>
                                    <td>@item.OrderOwner</td>
                                    <td>@item.Qty</td>
                                    <td>@item.expDate</td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="five" class="tabcontent" style="display:@(Model.ActiveTab == "PersonalsTab" ? "block" : "none");">
            <div class="tabcontainer_content">
                <h4>
                    Affiliates Sponsored By  @Model.UserName
                </h4>
                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                        <tbody>
                            <tr>
                                <th>User Name</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Join Date</th>
                            </tr>
                            @if (Model.personalsListViewModel.Count > 0)
                                                {

                                                    foreach (var item in Model.personalsListViewModel)
                                                    {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td>@item.City</td>
                                        <td>@item.State</td>
                                        <td>@item.Zip</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.JoinDate</td>

                                    </tr>
                                                    }
                                                }




                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="six" class="tabcontent" style="display:@(Model.ActiveTab == "TeamCustomersCountTab" ? "block" : "none");">
            <div class="tabcontainer_content">
                <div class="table-responsive">
                    @if (Model != null && Model.RankManagement != null)
                                                {
                                                    @Html.Partial("_rankManagementPartialView", Model.RankManagement);
                                                }
                </div>
            </div>
        </div>

        <div id="seven" class="tabcontent" style="display:@(Model.ActiveTab == "CommissionsTab" ? "block" : "none");">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="tabcontainer_content">

                        <h4>
                            Commissions and MoreMito Summary for <b>@Model.UserName </b>
                        </h4>

                        <div class="table-responsive commissiontabletop1">
                            <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                                <tbody>

                                    <tr>
                                        <td width="70%">Commission</td>
                                        <td>$@Model.commissionSummary.Earned</td>
                                    </tr>

                                    <tr>
                                        <td>- Swept </td>
                                        <td>$@Model.commissionSummary.Swept</td>
                                    </tr>

                                    <tr>
                                        <td>= Balance</td>
                                        <td>$@Model.commissionSummary.Summarybalance</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                        @*<div class="table-responsive commissiontabletop2">
                                <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                                    <tbody>

                                        <tr>
                                            <td width="70%">- Swept, Xfered or Spent</td>
                                            <td>$20.00</td>
                                        </tr>

                                        <tr>
                                            <td>= Available to Spend Now</td>
                                            <td>$1,530.00</td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>*@

                        <p>Or</p>

                        <div class="table-responsive commissiontabletop2">
                            <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                                <tbody>

                                    <tr>
                                        <td width="70%">- Commissions Pending</td>
                                        <td>$@Model.commissionSummary.Pending</td>
                                    </tr>

                                    <tr>
                                        <td>= Available to Sweep Now</td>
                                        <td>$@Model.commissionSummary.SummarySweepNow</td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="tabcontainer_content" id="comm_payment">

                        <h4>
                            Payment Utility
                            <span>W9 Complete?  <b class="wocomleted"><span id="w9Text"></span></b>	</span>
                        </h4>

                        <p>
                            <b>@(Model.UserName)</b> has chosen to be paid by <b class="wocomleted">Not Chosen</b>
                            Modify this Users Payment Information:
                            Select Payment Option to Modify:
                        </p>
                        <div class="col-md-12">
                            <select class="form-control">
                                <option selected="selected" value="Select">Select</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div class="tabcontainer_content">

                <h4 id="total_fc_earned">
                    Total Amount Earned:
                </h4>

                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="CommDetTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Year</th>
                                <th>Total Commissions Earned</th>
                            </tr>

                        </thead>
                        <tbody id="comListBody">
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tabcontainer_content">

                <h4>
                    Commissions Pending
                    <span id="pendingSpanTotal">Total Pending Amount: $0.00	</span>
                </h4>

                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="pendingCommissions">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Date Created</th>
                                <th>Date Available</th>
                                <th>Amount</th>
                                <th>Description</th>
                            </tr>

                        </thead>
                        <tbody id="pendingCommissionsBody">
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="tabcontainer_content">

                <h4>
                    Payments
                    <span id="paidSpanTotal">Total Amount Paid: $00.00</span>
                </h4>

                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="paidCommissionTable">
                        <thead>
                            <tr>
                                <th>Create Date</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Paid</th>
                                <th>Date Paid</th>
                            </tr>
                        </thead>
                        <tbody id="paidCommissionTableBody">
                            <tr>
                                <td>4/14/2020</td>
                                <td>$10.00</td>
                                <td>Request for $10.00 to be transferred to eWallet Account:</td>
                                <td>True</td>
                                <td>4/14/2020</td>
                            </tr>
                            <tr>
                                <td>4/14/2020</td>
                                <td>$10.00</td>
                                <td>Request for $10.00 to be transferred to eWallet Account:</td>
                                <td>True</td>
                                <td>4/14/2020</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>




        </div>


        @*<div id="eight" class="tabcontent" style="display:@(Model.ActiveTab == "TreeTab" ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Notation:</h4>
                    <div class="organicnation">
                        <span><b>Qual:</b> Qualified</span>
                        <span><em>Qual:</em> Not Qualified</span>
                        <span><b>R.O.:</b> Recurring Order</span>
                        <span><em>R.O.:</em> Not Recurring Order</span>
                        <span><b><i class="fa fa-mobile" aria-hidden="true"></i></b> SMS Opt-In</span>
                        <span><em><i class="fa fa-mobile" aria-hidden="true"></i></em> SMS Opt-Out</span>
                        <span><b><i class="fa fa-envelope" aria-hidden="true"></i></b> Email Opt-In</span>
                        <span><em><i class="fa fa-envelope" aria-hidden="true"></i></em> Email Opt-Out</span>
                        <span><em><i class="fa fa-user" aria-hidden="true"></i></em>  User Info</span>
                    </div>
                </div>
                <h3>Foxx Legacy Representative and Customer Network Structure:</h3>


                <h5>@Model.TreeContentOrganicPlacement</h5>
                <p>Representatives and Customers on your first level are sponsored by you.</p>

                <div class="treeview_box">
                    <ul class="treeView" style="display:block">
                        <li>
                            <button class="treebutton" type="button" data-id="@Model.treeOrganicViewModel.mainList.Id"> + </button>
                            <span id="personalinfo" data-id="@Model.treeOrganicViewModel.mainList.Id">
                                @Model.treeOrganicViewModel.mainList.Text <b> Qual - R.O.</b>
                                @{
                                    if (Model.treeOrganicViewModel.mainList.IsQualified)
                                    {
                                        <img src="@Url.Content("~/Images/red_check.png")" />
                                    }

                                    if (Model.treeOrganicViewModel.mainList.IsSms)
                                    {
                                        <img src="@Url.Content("~/Images/sms_opt_in.png")" />
                                    }

                                    if (Model.treeOrganicViewModel.mainList.IsEmail)
                                    {
                                        <img src="@Url.Content("~/Images/email_opt_in.png")" />
                                    }

                                    if (true)
                                    {
                                        if (Model.treeOrganicViewModel.mainList.IsPersonalMovable)
                                        {
                                            <img title="Personal Movable" alt="Personal Movable" src="@Url.Content("~/Images/orange-stopwatch.png")" />
                                        }
                                        else if (Model.treeOrganicViewModel.mainList.IsPersonalPermanent)
                                        {
                                            <img title="Personal Permanent" alt="Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                        }
                                        else if (Model.treeOrganicViewModel.mainList.IsNonPersonalMovable)
                                        {
                                            <img title="Non-Personal Movable" alt="Non-Personal Movable" src="@Url.Content("~/Images/black-stopwatch.png")" />
                                        }
                                        else if (Model.treeOrganicViewModel.mainList.IsPersonalPermanent)
                                        {
                                            <img title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                                        }
                                        <span>Rank:</span> @Model.treeOrganicViewModel.mainList.RankText
                                    }
                                }
                            </span>
                        </li>
                    </ul>
                </div>

            </div>*@

        <div id="nine" class="tabcontent">
            <div class="tabcontainer_content">
                <h4>Notation:</h4>
                <div class="organicnation">
                    <span><b>Qual:</b> Qualified</span>
                    <span><em>Qual:</em> Not Qualified</span>
                    <span><b>R.O.:</b> Recurring Order</span>
                    <span><em>R.O.:</em> Not Recurring Order</span>
                    <span><b><i class="fa fa-mobile" aria-hidden="true"></i></b> SMS Opt-In</span>
                    <span><em><i class="fa fa-mobile" aria-hidden="true"></i></em> SMS Opt-Out</span>
                    <span><b><i class="fa fa-envelope" aria-hidden="true"></i></b> Email Opt-In</span>
                    <span><em><i class="fa fa-envelope" aria-hidden="true"></i></em> Email Opt-Out</span>
                    <span><em><i class="fa fa-user" aria-hidden="true"></i></em>  User Info</span>
                    <span><i class="fa fa-clock" style="color:black" aria-hidden="true"></i> Personal Moveable</span>
                </div>
            </div>
            <h3>Your network down line tree view</h3>
            <h5>@Model.TreeContentOrganicPlacement</h5>
            <p>Representatives and Customers on your first level are sponsored by you.</p>

            <div class="treeview_box">
                <ul class="treeView" style="display:block">
                    <li>
                        <button class="treebutton" type="button" data-id="@Model.treePlacementViewModel.mainList.Id"> + </button>
                        <span id="personalinfo" data-id="@Model.treePlacementViewModel.mainList.Id">
                            @Model.treePlacementViewModel.mainList.Text
                            @{
                                if (Model.treePlacementViewModel.mainList.IsQualified)
                                {
                                    <span class="Qual"><b> Qual</b></span>
                                }
                                else
                                {
                                    <span class="NoQual"><b> Qual</b></span>
                                }
                                if (Model.treePlacementViewModel.mainList.IsRecurringOrder)
                                {
                                    <b><span style="color:green;">R.O</span></b>
                                }
                                else
                                {
                                    <b><span style="color:red;">R.O</span></b>
                                }
                                if (Model.treePlacementViewModel.mainList.IsSms)
                                {
                                    <b><i class="fa fa-mobile" style="color:green;" aria-hidden="true"></i></b>
                                }
                                else
                                {
                                    <b><i class="fa fa-mobile" style="color:red;" aria-hidden="true"></i></b>
                                }
                                if (Model.treePlacementViewModel.mainList.IsEmail)
                                {
                                    <b><i class="fa fa-envelope" style="color:green;" aria-hidden="true"></i></b>
                                }
                                else
                                {
                                    <b><i class="fa fa-envelope" style="color:red;" aria-hidden="true"></i></b>
                                }
                                if (true)
                                {
                                    if (Model.treePlacementViewModel.mainList.IsPersonalMovable)
                                    {
                                        <b><i class="fa fa-clock" style="color:black;" aria-hidden="true"></i></b>
                                    }
                                    @*else if (Model.treePlacementViewModel.mainList.IsPersonalPermanent)
                {
                    <img title="Personal Permanent" alt="Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                }
                else if (Model.treePlacementViewModel.mainList.IsNonPersonalMovable)
                {
                    <img title="Non-Personal Movable" alt="Non-Personal Movable" src="@Url.Content("~/Images/black-stopwatch.png")" />
                }
                else if (Model.treePlacementViewModel.mainList.IsPersonalPermanent)
                {
                    <img title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />
                }*@
                                    <span>Rank:</span> @Model.treePlacementViewModel.mainList.RankText
                                }
                                if (Model.treePlacementViewModel.mainList.Id > 0)
                                {
                                    @*<img class="black-watch-img" title="Non-Personal Permanent" alt="Non-Personal Permanent" src="@Url.Content("~/Images/black-watch.png")" />*@

                                    <a href="/Members/RankManagementReport?id=@Model.treePlacementViewModel.mainList.Id" target="_blank"> <i class="fa fa-file" aria-hidden="true"></i>Rank management report</a>
                                }

                            }
                        </span>
                    </li>
                </ul>
            </div>


        </div>

        <div id="ten" class="tabcontent" style="display:@(Model.ActiveTab == "UplineTab" ? "block" : "none");">
            <div class="tabcontainer_content">
                <h4>Sponsor Contact Details:</h4>
                <div class="adminormbox">
                    <div class="col-md-3 col-sm-12 col-xs-12"><label>UserName:</label></div>
                    <div class="col-md-9 col-sm-12 col-xs-12"><span>@Model.sponsorContactDetailsViewModel.UserName</span></div>
                    <div class="clearfix"></div>
                    <div class="col-md-3 col-sm-12 col-xs-12"><label>Name:</label></div>
                    <div class="col-md-9 col-sm-12 col-xs-12"><span>@Model.sponsorContactDetailsViewModel.Name</span></div>
                    <div class="clearfix"></div>
                    <div class="col-md-3 col-sm-12 col-xs-12"><label>Phone:</label></div>
                    <div class="col-md-9 col-sm-12 col-xs-12"><span>@Model.sponsorContactDetailsViewModel.Phone</span></div>
                    <div class="clearfix"></div>
                    <div class="col-md-3 col-sm-12 col-xs-12"><label>Email:</label></div>
                    <div class="col-md-9 col-sm-12 col-xs-12"><span>@Model.sponsorContactDetailsViewModel.Email</span></div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="tabcontainer_content">
                <h4>Upline Contact Details:</h4>
                <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Rank</th>
                        @*<th>Level</th>*@
                    </tr>

                    @if (Model.UplineContactDetailsViewModelList.Count > 0)
                    {
                        foreach (var item in Model.UplineContactDetailsViewModelList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.Rank</td>
                                @*<td>@item.Level</td>*@
                            </tr>
                        }
            }
            else
            {
                <tr><td colspan="4">No records found !</td> </tr>
            }

                </table>
            </div>
        </div>

        <div id="eleven" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString() == "RankTab" ? "block" : "none":"");">
            <div class="tabcontainer_content">
                <h4>
                    Rank History

                    <span>Current Rank:  @(Model.GetCurrentRank!=null?Model.GetCurrentRank: "No Rank Achieved")</span>
                </h4>

                @{
                    if (Model.rankPromotion.Count > 0)
                    {
                        <div class="col-md-8 col-sm-12 colx-s-12">
                            <div class="table-responsive">
                                <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Rank Name
                                            </th>
                                            <th>
                                                Order Number
                                            </th>
                                            <th>
                                                PromoDate
                                            </th>
                                            <th></th>
                                        </tr>

                                        @for (int i = 0; i < Model.rankPromotion.Count; i++)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(x => x.rankPromotion[i].RankName)</td>
                                                <td>@Html.DisplayFor(x => x.rankPromotion[i].OrderNo)</td>
                                                <td>@Html.DisplayFor(x => x.rankPromotion[i].PromoDate)</td>
                                                @*<td>@Html.DisplayFor(x => x.rankPromotion[i].PromoDate.ToShortDateString())</td>*@
                                            </tr>
                                        }

                                    </tbody>
                                </table>


                            </div>


                        </div>

                        <div class="col-md-4 col-sm-12 colx-s-12">
                            <p style="text-align:right;">
                                Membership Type:  @Model.MembershipType<br />
                                Highest Rank Achieved: @Model.HighestRankAchieved  <br />
                                QTE: @Model.QTE<a href="@Url.Action("QTEUpdated","Admin",new {UserId=TempData["TempDataUserId"] })"><img src="/Images/refresh.png"></a><br />
                                <span style="color:Orange;">
                                    @if (TempData.ContainsKey("SUCCESS_MESSAGE"))

                                    {
                                        @TempData["SUCCESS_MESSAGE"]
                                    }
                                </span>
                            </p>
                        </div>
                        <div class="clearfix"></div>



                    }
                    else
                    {
                        <div class="col-md-6 col-sm-12 colx-s-12"><p>No Ranks Achievements to display</p></div>
                    }

                }

            </div>


        </div>

        <div id="twelve" class="tabcontent" style="display:@(Model.ActiveTab == "MessagesTab" ? "block" : "none");">
            <div class="tabcontainer_content">
                <h4>Admin Contacts for @Model.UserName</h4>
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Origin</th>
                            <th>Subject</th>
                        </tr>
                        @if (Model.messagesListViewModel.Count > 0)
                        {
                            foreach (var item in Model.messagesListViewModel)
                            {
                                <tr>

                                    @*<td><a href="javascript:void(0);" id="btnAdminContactsforId" data-ContactsID="@item.ID">Select</a></td>*@

                                    @*<td><a href="">Select</a></td>*@
                                    <td><a href="@Url.Action("Contact_inner","Admin",new {ContactsID=item.ID, UserId=item.UserId })">Select</a></td>
                                    <td>@item.EventDate</td>
                                    <td>@item.Origin</td>
                                    <td>@item.Subject</td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>


        </div>

        <div id="thirteen" class="tabcontent" style="display:@(Model.ActiveTab == "SearchPlacementToolTab" ? "block" : "none");">
            <div class="tabcontainer_content">
                <h4>You are placing JKing</h4>
                <div class="adminormbox">
                    @using (@Html.BeginForm("SearchPlacementTool", "Admin", FormMethod.Post))
                    {
                        <input type="hidden" value="@Model.ID" name="UserId" />
                        <input type="hidden" value="@ViewBag.UserName" name="UserName" />
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Search for</label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @Html.TextBoxFor(x => x.Value, new { @class = "form-control", id = "ValueId" })
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Order Results By:</label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                @Html.DropDownListFor(model => model.SearchBy, new List<SelectListItem>
                             {
                                new SelectListItem{Text="User Name", Value="UserName"},
                                 new SelectListItem{Text="First Name", Value="FirstName"},
                                 new SelectListItem{Text="Last Name", Value="LastName"},
                                 new SelectListItem{Text="Email Address", Value="Email"},
                                 new SelectListItem{Text="Phone", Value="Phone"}
                           }, new { @class = "form-control" })


                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="submit" class="admin_btn" value="Search" />
                            </div>
                            <div class="clr"></div>


                        </div>

                    }

                    @*<div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12"><label>Search for:</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12"><input type="text" class="form-control" /></div>
                            <div class="col-md-2 col-sm-12 col-xs-12"><label>Order Results By:</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <select class="form-control">
                                    <option selected="selected" value="UserName">User Name</option>
                                    <option value="FirstName">First Name</option>
                                    <option value="LastName">Last Name</option>
                                    <option value="Email">Email Address</option>
                                    <option value="Phone">Phone</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <input type="submit" value="Srarch" class="admin_btn" />
                            </div>
                        </div>*@
                </div>
                <div class="table-responsive">
                    @*<input id="hdnUserName" value="@ViewBag.UserName" type="hidden" name="UserName" />*@
                    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                        <tr>

                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th></th>
                        </tr>
                        <tbody>

                            @if (Model.placementTooListlViewModel != null)
                            {

                                foreach (var item in Model.placementTooListlViewModel)
                                {
                                    <tr>

                                        <td> @Html.DisplayFor(model => item.UserName)</td>
                                        <td> @Html.DisplayFor(model => item.FirstName)</td>
                                        <td> @Html.DisplayFor(model => item.LastName)</td>
                                        <td> @Html.DisplayFor(model => item.Email)</td>
                                        <td> @Html.DisplayFor(model => item.Phone)</td>
                                        @*<td><a onclick="PlaceUser(this);return false">Place Here</a></td>*@
                                        <td><a href="@Url.Action("PlacementToolPlaceHere","Admin",new {PlacementUserID=@item.PlacementUserID,UserId= TempData["TempDataUserId"] })" class="admin_btn" id="PlacementToolPlaceHere">Place Here</a></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>


                <span style="color:DarkCyan;font-weight:bold;text-align:center">
                    @if (TempData.ContainsKey("SUCCESS_MESSAGE_PlaceHere"))
                    {
                        @TempData["SUCCESS_MESSAGE_PlaceHere"]
                    }
                </span>
            </div>


        </div>
    </div>

</div>
@*------------  Modal div for Personal Information----------------*@
<div class="modal fade" id="editfieldPersonalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalEditPersonalInfo'></div>

        </div>
    </div>
</div>
@*------------  Modal div for Personal Information----------------*@

@*------------  Modal div for Address Information----------------*@
<div class="modal fade" id="editfieldAddressInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalEditAddressInfo'></div>

        </div>
    </div>
</div>
@*------------  Modal div for Address Information----------------*@

@*------------  Modal div for Tree Organic Section----------------*@
<div class="modal fade" id="infofield01" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo01'></div>
        </div>
    </div>
</div>
@*------------  Modal div for Tree Organic Section----------------*@
@*------------  Modal div for Tree Placement Section----------------*@
<div class="modal fade" id="infofield02" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo02'></div>

        </div>
    </div>
</div>
@*------------  Modal div for Tree Placement Section----------------*@
@*------------  Modal div for  Placement Tool Section----------------*@
<div id="myModalPlacementToolPlaceHere" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            @if (TempData.ContainsKey("SUCCESS_MESSAGE_ContentPlacementTool"))
            {
                @TempData["SUCCESS_MESSAGE_ContentPlacementTool"]
            }
        </div>
        <div class="modal-actions">
            <button type="button" class="reject" onclick="Reject()">No</button>  <button type="button" onclick="Accept()" class="accept">Yes</button>
        </div>
    </div>

</div>

<div class="modal fade" id="infofield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo'></div>

        </div>
    </div>
</div>

<div class="modal fade" id="commissionInfoByYear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="year_header">Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div id='commissionInfoByYearDiv'>
                        <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="CommDetTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Month</th>
                                    <th>Total Commissions Earned</th>
                                </tr>

                            </thead>
                            <tbody id="comListMonthBody">
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="commissionInfoByMonth" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="month_header">Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#range-search">Commissions Summary</a></li>
                        <li><a data-toggle="tab" href="#search-order">Commissions Details</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="range-search" class="tab-pane fade in active">
                            <div class="commission_cont">
                                <div id='commissionInfoByMonthDiv'>
                                    <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="CommDetMonthTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Commission Type</th>
                                                <th>Total Commissions Earned</th>
                                            </tr>
                                        </thead>
                                        <tbody id="comListMonthCommBody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="search-order" class="tab-pane fade">
                            <table width="100%" cellpadding="0" cellspacing="0" class="hometable" id="commDetailsMonthWise">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Order Date</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody id="comListMonthCommDetailBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="commissionByOrderId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="order_header">Commission details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div id="commBodyByOrderId">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                </div>
            </div>


        </div>
    </div>
</div>

@*------------  Modal div for  Placement Tool Section----------------*@

@Scripts.Render("~/bundles/Js/UserInfo")
@*@Scripts.Render("~/bundles/Js/Personal")*@

<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });


</script>







