﻿@model Foxxlegacy.ViewModel.ViewModel.ArchiveCommonResponseViewModel
@{
    ViewBag.Title = "CreateNewCommonResponse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateNewCommonResponse</h2>



<div class="contactinner_forstbottom">


    <h5>New Common Response</h5>
    @using (Html.BeginForm("CreateNewCommonResponse", "Admin", FormMethod.Post))
    {

        <div class="col-md-6 col-sm-12 col-xs-12" style="margin-bottom:15px;">

            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "Name" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12" style="margin-bottom:15px;">
            @Html.TextBoxFor(x => x.DisplayOrder, new { @class = "form-control validnumeric", id = "DisplayOrder" })
            @Html.ValidationMessageFor(x => x.DisplayOrder, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:15px;">
            @Html.TextAreaFor(x => x.ReplyText, new { @class = "form-control", style = "height:150px;width=400px", id = "ReplyText" })
            @Html.ValidationMessageFor(x => x.ReplyText, "", new { @class = "text-danger" })
        </div>



        <div align="center" class="button_paneladmin">
            @Html.HiddenFor(x => x.ID, new { ID = "ID" })
            <input type="submit" class="admin_btn" value="Create New Common Response Now" />
            <div class="clearfix"></div>
        </div>

    }

    @if (TempData.ContainsKey("SUCCESS_MESSAGE"))
    {
        <p>@TempData["SUCCESS_MESSAGE"]</p>
    }
</div>


<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
        <tr>
            <th width="15%"></th>
            <th>Name</th>
            <th>ReplyText</th>
            <th>DisplayOrder</th>

        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.commonResponseList)
            {
                using (Html.BeginForm("DeleteNewCommonResponse", "Admin", new { ID = item.ID }, FormMethod.Post))
                {

                    <tr>
                        <td>
                            <a href="javascript:void(0)" id="btnEdit" class="admin_btn" data-ID="@item.ID" data-Name="@item.Name" data-ReplyText="@item.ReplyText" data-DisplayOrder="@item.DisplayOrder">Edit</a>
                            @*<a href="javascript:void(0)">Delete</a>*@
                            <input class="admin_btn" type="submit" class="" value="Delete" onclick="return confirm('Are you sure you want to delete record?');" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.ReplyText</td>

                        <td>@item.DisplayOrder</td>

                    </tr>
                }
            }
        }
    </table>
</div>

@Scripts.Render("~/bundles/Js/CreateNewCommonResponse")