﻿@model Foxxlegacy.ViewModel.ViewModel.AdminHomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                @{
                    <button class="tablinks " id="zero"></button>
                    <button class="tablinks " id="One">Member Info</button>
                    <button class="tablinks  " id="Two">Passwords</button>
                    <button class="tablinks " id="Three">UserName Change</button>
                    <button class="tablinks  " id="Four">Kill Mail</button>
                    <button class="tablinks " id="Five">Password Change</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="zero" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "AdminHomeTab" ? "block" : "none":"");">
                <div class="tabcontainer_content">
                    <h4>Admin Home <span>Users:@Model.UserCount</span></h4>
                    <p>@Model.AdminHomeContent</p>
                    <p>There are @Model.EmailCount unsent emails in queue.</p>
                    @if (@Model.EmailCount > 0)
                    {
                        <button type="button" onclick="location.href='@Url.Action("SendMailAdminHome","Admin")'">Send Mail</button>
                    }
                </div>
                <div class="tabcontainer_content">
                    <h4>Link Errors</h4>

                    <table class="hometable" width="100%" cellpadding="0" cellspacing="0" id="error404Div">
                        @*@if (Model.LinkErrorsList != null)
                    {
                        if (Model.LinkErrorsList.Count > 0)
                        {
                            foreach (var item in Model.LinkErrorsList)
                            {
                                <tr>
                                    <td>
                                        @item
                                    </td>
                                </tr>
                            }
                        }
                    }*@
                    </table>
                    <div>
                        @using (Html.BeginForm("ClearLog", "Admin", FormMethod.Post))
                        {


                            <button style="display:none;" id="btnClearLog" type="submit" onclick="return confirm('Are you sure you want to clear this log?');">Clear Log</button>
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    @*<div>
                    CKing's Mystery: @Model.MysteryNumber
                </div>*@
                </div>
            </div>



            <div id="One" class="tabcontent" style="display:@(Model.ActiveTab == 1 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>User Finder -- No wildcards needed. To find Anderson you only need to enter nders</h4>
                    <div class="adminormbox">
                        @using (@Html.BeginForm("Home", "Admin", FormMethod.Post))
                        {
                            <form>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Search for</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "Subject" })
                                    </div>

                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Order Results By:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.DropDownListFor(model => model.SearchBy, new List<SelectListItem>
                                     {
                                        new SelectListItem{Text="User Name", Value="UserName"},
                                         new SelectListItem{Text="First Name", Value="FirstName"},
                                         new SelectListItem{Text="Last Name", Value="LastName"},
                                         new SelectListItem{Text="Email Address", Value="Email"},
                                         new SelectListItem{Text="Phone", Value="Phone"}
                                   }, new { @class = "form-control" })

                                        @*<select class="form-control">
                                        <option selected="selected" value="UserName">User Name</option>
                                        <option value="FirstName">First Name</option>
                                        <option value="LastName">Last Name</option>
                                        <option value="Email">Email Address</option>
                                        <option value="Phone">Phone</option>
                                    </select>*@
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" class="admin_btn" value="Search" />
                                    </div>
                                    <div class="clr"></div>

                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Search by orderNo:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.OrderNo, new { @class = "form-control", id = "OrderNo" })
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" class="admin_btn" value="Search" />
                                    </div>
                                </div>
                            </form>
                        }
                    </div>

                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" width="100%" class="hometable">
                            <tr>
                                <th>Admin Notes</th>
                                <th>User Info</th>
                                <th>Pers</th>
                                <th>Tree</th>
                                <th>Upline</th>
                                <th>Cust.Count</th>
                                <th>Comm</th>
                                <th>Orders</th>
                                <th>Rank</th>
                                <th>Msgs</th>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </tr>
                            <tbody>

                                @if (Model.MemberInfo != null)
                                {

                                    foreach (var item in Model.MemberInfo)
                                    {
                                        <tr>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=CSJTab"><img src="~/Images/notes.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=MemberInfonTab"><img src="~/Images/user_info.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=PersonalsTab"><img src="~/Images/personals.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=TreeTab"><img src="~/Images/Tree.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=UplineTab"><img src="~/Images/up_arrow.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=TeamCustomersCountTab"><img src="~/Images/customers-icon.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=CommissionsTab"><img src="~/Images/commissions.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=OrdersTab"><img src="~/Images/orders.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=RankTab"><img src="~/Images/trophy.png" /></a>

                                            </td>
                                            <td>
                                                <a href="Admin/contact_inner?UserId=@item.UserId&ActiveTab=MessagesTab"><img src="~/Images/messages.png" /></a>

                                            </td>
                                            <td> @Html.DisplayFor(model => item.UserName)</td>
                                            <td> @Html.DisplayFor(model => item.FirstName)</td>
                                            <td> @Html.DisplayFor(model => item.LastName)</td>
                                            <td> @Html.DisplayFor(model => item.Email)</td>
                                            <td> @Html.DisplayFor(model => item.Phone)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div id="Two" class="tabcontent" style="display:@(Model.ActiveTab == 2 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Use this tool to retrieve the members password.	</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Username:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input id="UserName" type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Password:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <label id="lblPassword"></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="btnGetPassword" type="button" onclick="myFunction()" class="admin_btn" value="Submit" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Three" class="tabcontent" style="display:@(Model.ActiveTab == 3 ? "block" : "none");">
                <div class="tabcontainer_content">
                    <h4>Members Username Modification.</h4>
                    <p>This tool is used to modify an affiliate's username.</p>
                    <div class="adminormbox">
                        @using (@Html.BeginForm("ChangeUserName", "Admin", FormMethod.Post))
                        {
                            <form>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Old Username:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.OldUserName, new { @class = "form-control", id = "OldUserName" })
                                    </div>

                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>New Username:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        @Html.TextBoxFor(x => x.NewUserName, new { @class = "form-control", id = "NewUserName" })
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="submit" class="admin_btn" value="Submit" />
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </form>
                        }
                    </div>
                    <p style="text-align:center">
                        <span style="color:DarkCyan;font-weight:bold;text-align:center">
                            @if (TempData.ContainsKey("SUCCESS_MESSAGE"))
                            {
                                @TempData["SUCCESS_MESSAGE"]
                            }
                        </span>
                    </p>
                    <p>

                        note: when modifying a UserName for the purposes of deleting that user,
                        the new UserName should be "removed_UserName".
                        example: Joe should be changed to removed_Joe
                    </p>
                </div>
            </div>

            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Email Que</h4>
                    <p>There are 0 unsent emails in queue.</p>
                </div>
            </div>

            <div id="Five" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Use this tool to change the members password.	</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Username:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input id="UserNamePassword" type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Password:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input id="NewPassword" type="password" class="form-control" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input id="btnChangePassword" type="button" onclick="changePassword()" class="admin_btn" value="Change Password" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");
    debugger;
    //tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });




</script>

<script>
    function myFunction() {
        debugger;
        var UserName = $('#UserName').val();
        var Password = '';
        $.ajax({
            type: "GET",
            url: "/Admin/GetPasswordByName?UserName=" + UserName,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            cache: false,
            async: true,
            success: function (result) {
                // debugger;
                $("#lblPassword").html("");
                Password = result.data.Password;
                $("#lblPassword").html(Password);


            }
        });
    };
    function changePassword() {
        var UserName = $('#UserNamePassword').val();
        var NewPassword = $('#NewPassword').val();
        if (UserName == undefined || UserName == '') {
            alert('Username required.')
            return
        }
        if (NewPassword == undefined || NewPassword == '') {
            alert('Password required.')
            return
        }

        var obj = {
            UserName: UserName,
            NewPassword: NewPassword,
            ModifiedBy: 0
        }
        $.ajax({
            type: "POST",
            url: "/Admin/ChangePassword",
            data: { 'model': obj},
            success: function (res) {
                console.log('res',res)
                if (res.status) {
                    if (res.result == 1) {
                        alert('Password Changed successfully !');
                        $('#UserNamePassword').val('');
                        $('#NewPassword').val('');
                    } else if (res.result == 0) {
                        alert('No user found with this username !')
                    }
                    
                } else {
                    alert(res.msg)
                }
            }
        });
    }
    $(document).ready(function () {
        GetLogs();
       
    });
    function GetLogs() {
        showLoader('error404Div')
        $.ajax({
            type: "GET",
            url: "/Admin/Get404Logs",            
            success: function (data) {
               
                $('#error404Div').html('');
                if (data != undefined && data.Content != undefined && data.status == true) {
                    $('#error404Div').append(data.Content);
                    
                    var noRecord = data.Content.includes('No records found')

                    if (noRecord == true) {
                        $('#btnClearLog').hide();
                    } else {
                        $('#btnClearLog').show();
                    }
                }
                hideLoader('error404Div');
            },
            error: function () {
                hideLoader('error404Div')
            }
        });
    }
</script>

