﻿@model Foxxlegacy.ViewModel.ViewModel.RecurringOrderViewModel

@{
    ViewBag.Title = "NewAutoship";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Edit Recurring Order Details</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <input type="submit" value="Back to Recurring Orders" />
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="newad_panel">
            <h3>
                <span>Step 1:</span> <b>Status</b>
                <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_Status",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>

                @if (Model.Status == true)
                {
                    <a href="@Url.Action("ChangeAutoshipStatus", "Admin",new { AdId=Model.AdId,Status=false})" class="newadddeactive">Deactivate</a>
                }
                else if (Model.Status == false)
                {
                    <a href="@Url.Action("ChangeAutoshipStatus", "Admin",new { AdId=Model.AdId,Status=true})" class="newadddeactive">Active</a>
                }
            </h3>
            <em>
                This recurring order is currently
                @if (Model.Status == true)
                {
                    <b>Active</b>
                }
                else if (Model.Status == false)
                {
                    <b>InActive</b>
                }

            </em>
        </div>
        <div class="newad_panel">
            <h3>
                <span>Step 2:</span> <b>Nickname</b>
                <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_NickName",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                <a href="" class="newadddeactive" data-toggle="modal" data-target="#nickname">Change Nickname</a>
            </h3>
            <em>
                This recurring order's Nickname is:<b>@Model.NickName</b>
            </em>
        </div>
        <div class="newad_panel">
            <h3>
                <span>Step 3:</span> <b>MoreMito Cash</b>
                <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_FoxxCash",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                @if (Model.UseFoxxCash == true)
                {
            <a href="@Url.Action("ChangeUseFoxxCash", "Admin",new { AdId=Model.AdId,Status=false})" class="newadddeactive">Don't Pay with MoreMito Cash balance</a>
                }
                else
                {
                    <a href="@Url.Action("ChangeUseFoxxCash", "Admin",new { AdId=Model.AdId,Status=true})" class="newadddeactive">Pay with MoreMito Cash balance</a>
                }

            </h3>

            @if (Model.UseFoxxCash == true)
            {
                <em> Your MoreMito Cash balance <strong><u>will be used</u></strong> to pay for this order </em>
            }
            else
            {
                <em>Your MoreMito Cash balance <strong><u>is not being used </u> </strong> to pay for this order </em>

            }




        </div>


        <div class="newad_panel">
            <h3>
                <span>Step 4:</span> <b>Items</b>
                <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_Items",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                <a href="" class="newadddeactive" data-toggle="modal" data-target="#addnewitem">Add Item</a>
            </h3>

            <div class="table-responsive notificationtable">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <th></th>
                        <th>ItemNo</th>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                    @foreach (var Item in Model.ProductListFoxx)
                    {
                        <tr>
                            <td> <a href="" id="btnChangeQty" data-qty="@Item.Qty" data-id="@Item.Id" class="recurringorderbtn" data-toggle="modal" data-target="#popchangeQty">Change Qty</a> <a href="@Url.Action("RemoveProductItem", "Admin",new {Id=@Item.Id, AdId=Model.AdId})" class="recurringorderbtn">Remove Item</a></td>
                            <td>@Item.Id</td>
                            <td>@Item.Name</td>
                            <td>@Item.Qty</td>
                            <td class="amtItem">@Item.Price</td>
                        </tr>
                    }
                </table>
            </div>

            <em>
                Order Subtotal (before any applicable taxes or shipping):  $@ViewBag.Total
            </em>

            @*<em>
                    Order Subtotal (before any applicable taxes or shipping):  $0.00
                </em>*@
        </div>

        <div class="newad_panel">
            <h3>
                <span>Step 5:</span> <b>Payment Method</b>
                <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_Payment",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>

                @Html.DropDownListFor(m => m.CustomerPaymentID, Model.NickNamePaymentMethodList, "Select Payment", new { @class = "newadd_select", onchange = "document.location.href = '/Admin/ChangePaymentNickName?CustomerPaymentID=' + this.options[this.selectedIndex].value+'&AdId='+" + Model.AdId + "" })

                <a href="" id="btnAddPayment" class="newadddeactive" data-toggle="modal" data-target="#addpaymentmethod">Add New Payment Method</a>
            </h3>
            <div class="table-responsive notificationtable">
                @if (Model.PaymentMethod != null)
                {


                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Nickname</th>
                            <td width="80%">@Model.PaymentMethod.NickName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">First Name</th>
                            <td width="80%">@Model.PaymentMethod.FirstName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Last Name</th>
                            <td width="80%">@Model.PaymentMethod.LastName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Company Name</th>
                            <td width="80%">@Model.PaymentMethod.CompanyName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Address</th>
                            <td width="80%">@Model.PaymentMethod.Address</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">City</th>
                            <td width="80%">@Model.PaymentMethod.City</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">State</th>
                            <td width="80%">@Model.PaymentMethod.State</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Zip</th>
                            <td width="80%">@Model.PaymentMethod.Zip</td>
                        </tr>

                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Phone</th>
                            <td width="80%">@Model.PaymentMethod.Phone</td>
                        </tr>
                        @*<tr>
                                <th width="20%" style="border-bottom:#fff solid 1px;">Email</th>
                                <td width="80%">@Model.PaymentMethod.Email</td>
                            </tr>*@
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">CC No</th>
                            <td width="80%">@Model.PaymentMethod.CCNo</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Exp Date</th>
                            <td width="80%">@Model.PaymentMethod.ExpDate</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Type</th>
                            <td width="80%">@Model.PaymentMethod.Type</td>
                        </tr>
                        @*<tr>
                                <th width="20%" style="border-bottom:#fff solid 1px;">Routing Number</th>
                                <td width="80%">@Model.PaymentMethod.RoutingNumber</td>
                            </tr>*@

                    </table>
                    <a href="" class="newadddeactive" data-toggle="modal" data-target="#editpaymentmethod">Edit</a>
                }
            </div>

        </div>

        <div class="newad_panel">
            <h3>
                <span>Step 6:</span> <b>Shipping Address</b>
                <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_Shipping",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
                @Html.DropDownListFor(m => m.CustomerAddressId, Model.NickNameShipingAddressList, "Select Address", new { @class = "newadd_select", onchange = "document.location.href = '/Admin/ChangeAddressNickName?CustomerAddressID=' + this.options[this.selectedIndex].value+'&AdId='+" + Model.AdId + "" })

                <a href="" class="newadddeactive" id="btnAddAddress" data-toggle="modal" data-target="#addnewaddress">Add New Address</a>
            </h3>

            <div class="table-responsive notificationtable">
                @if (Model.ShippingAddress != null)
                {

                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">NickName</th>
                            <td width="80%">@Model.ShippingAddress.NickName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">First Name</th>
                            <td width="80%">@Model.ShippingAddress.FirstName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Last Name</th>
                            <td width="80%">@Model.ShippingAddress.LastName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Company Name</th>
                            <td width="80%">@Model.ShippingAddress.CompanyName</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Address</th>
                            <td width="80%">@Model.ShippingAddress.Address</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">City</th>
                            <td width="80%">@Model.ShippingAddress.City</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">State</th>
                            <td width="80%">@Model.ShippingAddress.State</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Zip</th>
                            <td width="80%">@Model.ShippingAddress.Zip</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Country</th>
                            <td width="80%">@Model.ShippingAddress.Country</td>
                        </tr>
                        <tr>
                            <th width="20%" style="border-bottom:#fff solid 1px;">Phone</th>
                            <td width="80%">@Model.ShippingAddress.Phone</td>
                        </tr>
                        @*<tr>
                                <th width="20%" style="border-bottom:#fff solid 1px;">Email</th>
                                <td width="80%">@Model.ShippingAddress.Email</td>
                            </tr>*@


                    </table>
                    <a href="" class="newadddeactive" data-toggle="modal" data-target="#editnewaddress">Edit</a>
                }

            </div>
            <em>* Recurring orders will be shipped USPS First Class Priority Mail with tracking number.</em>
        </div>


        @using (Html.BeginForm("AddAutoshipFrequency", "Admin", FormMethod.Post))
        {
            <div class="newad_panel">
                <h3>
                    <span>Step 7:</span> <b>Frequency</b>
                    <a class="newadhelp" href="@Url.Action("Help", "Admin", new {KeyName="Members_Help_Autoship_Frequency",Return="Admin/NewAutoship?AdId="+Model.AdId })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>

                    @Html.HiddenFor(m => m.AdId)
                    <button type="submit" class="newadddeactive">Update frequency</button>
                </h3>
                <em>Please set the interval, period and starting on date then click on update frequency.</em>
                <div class="frequency_panel">
                    <span>Once every</span>
                    @Html.TextBoxFor(m => m.OnceEvery, new { @class = "frequency_panel_textbox", @id = "OnceEvery" })
                    @Html.DropDownListFor(m => m.AutoshipPeriodId, Model.AutoshipPeriodList, "Select State", new { @class = "newadd_select", @id = "AutoshipPeriodId" })

                    <span>Starting on</span>
                    @Html.TextBoxFor(m => m.StartingOn, new { @class = "frequency_panel_textbox", @type = "Date", @id = "StartingOn" })
                    <a href="" class="newadddeactive" style="background:#8DC63F;">Start this order today</a>
                    <div class="clearfix"></div>

                    <button type="button" class="newadddeactive btnShowFrequency" style="float:left;">Preview 10 Order Dates</button>
                    <div class="clearfix"></div>
                    <div class="table-responsive notificationtable">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>Order #</th>
                                <th>Order Date</th>

                            </tr>
                            <tbody id="output">


                        </table>

                    </div>
                </div>
            </div>
        }



    </div>
    <div align="right" style="padding:10px 0 0 0;">
        <input type="submit" value="Back to Recurring Orders" />
    </div>
</div>




<!-- Modal -->

<div class="modal fade" id="nickname" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Nick Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangeNickName", "Admin", FormMethod.Post))
                {
                    <div class="paymentpageallforms">
                        <div class="form-group">
                            <label>Change New Nick Name</label>
                            @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                            @Html.HiddenFor(m => m.AdId)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Save changes</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="popchangeQty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Product Qty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ChangeProductQty", "Admin", FormMethod.Post))
                {
                    <div class="paymentpageallforms">
                        <div class="form-group">
                            <label>Change Qty</label>
                            @Html.TextBoxFor(m => m.Qty, new { @class = "form-control", @id = "txtQty" })
                            @Html.HiddenFor(m => m.AdId)
                            @Html.HiddenFor(m => m.Id, new { @id = "ProductId" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Save changes</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addpaymentmethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Payment Method</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddPaymentMethod", "Admin", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.AdId)
                @Html.HiddenFor(m => m.CustomerProfileId)
                @Html.HiddenFor(m => m.UserId)
                <div class="modal-body">
                    <div class="paymentpageallforms">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.FirstName, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.LastName, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.CompanyName, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Address, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.City, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.DropDownListFor(m => m.PaymentMethod.State, Model.StateList, "Select State", new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Zip</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Zip, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Phone, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Email, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Please assign a nickname to this payment method. </label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.NickName, new { @class = "form-control txtPay" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Card Number</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.CCNo, new { @class = "form-control txtPay" })
                                    <span>(Mastercard and Visa Only)</span>
                                    <a href="">Credit Card Security: How secure is this?</a>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Expiration Date</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.ExpDate, new { @class = "form-control txtPay" })
                                    <span>MM/YY</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Security Code (CVV)</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.CVV, new { @class = "form-control txtPay" })
                                    <a href=""></a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="editpaymentmethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Payment Method</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EditPaymentMethod", "Admin", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.AdId)
                @Html.HiddenFor(m => m.CustomerProfileId)
                @Html.HiddenFor(m => m.CustomerPaymentID)
                @Html.HiddenFor(m => m.UserId)
                <div class="modal-body">
                    <div class="paymentpageallforms">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.FirstName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.LastName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.CompanyName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Address, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.City, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.DropDownListFor(m => m.PaymentMethod.State, Model.StateList, "Select State", new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Zip</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Zip, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.Phone, new { @class = "form-control" })
                                </div>
                            </div>

                            @*<div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(m => m.PaymentMethod.Email, new { @class = "form-control" })
                                    </div>
                                </div>*@

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Please assign a nickname to this payment method. </label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.NickName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Card Number</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.CCNo, new { @class = "form-control" })
                                    <span>(Mastercard and Visa Only)</span>
                                    <a href="">Credit Card Security: How secure is this?</a>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Expiration Date</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.ExpDate, new { @class = "form-control" })
                                    <span>MM/YY</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Security Code (CVV)</label>
                                    @Html.TextBoxFor(m => m.PaymentMethod.CVV, new { @class = "form-control" })
                                    <a href=""></a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Update</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="addnewitem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddProductsToAutoship", "Admin", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.AdId)
                    <div class="table-responsive notificationtable">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th></th>
                                <th>Item No</th>
                                <th>Item Name</th>
                                <th>Price</th>
                            </tr>
                            @for (var i = 0; i < Model.ProductListFromNopCom.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(model => Model.ProductListFromNopCom[i].IsCheck)
                                        @Html.HiddenFor(model => Model.ProductListFromNopCom[i].ProductId)
                                        @Html.HiddenFor(model => Model.ProductListFromNopCom[i].Name)
                                        @Html.HiddenFor(model => Model.ProductListFromNopCom[i].Price)
                                    </td>
                                    <td>@Model.ProductListFromNopCom[i].ProductId </td>
                                    <td>@Model.ProductListFromNopCom[i].Name </td>
                                    <td>@Model.ProductListFromNopCom[i].Price</td>
                                </tr>
                            }



                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Add Item Now</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addnewaddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddAddressDetails", "Admin", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.AdId)
                @Html.HiddenFor(m => m.CustomerProfileId)
                @Html.HiddenFor(m => m.CustomerPaymentID)
                @Html.HiddenFor(m => m.UserId)
                <div class="modal-body">
                    <div class="paymentpageallforms">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.FirstName, new { @class = "form-control addText" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.LastName, new { @class = "form-control addText" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.CompanyName, new { @class = "form-control addText" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Address, new { @class = "form-control addText" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.City, new { @class = "form-control addText" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.DropDownListFor(m => m.ShippingAddress.State, Model.StateList, "Select State", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Zip</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Zip, new { @class = "form-control addText" })
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Country</label>
                                    @Html.DropDownListFor(m => m.ShippingAddress.Country, new List<SelectListItem>
                                    {
                                      new SelectListItem { Text = "Select", Value ="0" },
                                      new SelectListItem { Text = "Canada", Value = "CA"},
                                      new SelectListItem { Text = "United States", Value = "US"}
                                    }, new { @class = "form-control" })
                                </div>
                            </div>



                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Phone, new { @class = "form-control addText" })
                                </div>
                            </div>



                            @*<div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(m => m.ShippingAddress.Email, new { @class = "form-control" })
                                    </div>
                                </div>*@

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Please assign a nickname to this payment method. </label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.NickName, new { @class = "form-control addText" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Create New Address</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="editnewaddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EditAddressDetails", "Admin", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.AdId)
                @Html.HiddenFor(m => m.CustomerProfileId)
                @Html.HiddenFor(m => m.CustomerAddressId)
                @Html.HiddenFor(m => m.UserId)
                <div class="modal-body">
                    <div class="paymentpageallforms">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.FirstName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.LastName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.CompanyName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Address, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.City, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.DropDownListFor(m => m.ShippingAddress.State, Model.StateList, "Select State", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Zip</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Zip, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Country</label>
                                    @Html.DropDownListFor(m => m.ShippingAddress.Country, new List<SelectListItem>
                                     {
                                       new SelectListItem { Text = "Select", Value ="0" },
                                       new SelectListItem { Text = "Canada", Value = "CA"},
                                       new SelectListItem { Text = "United States", Value = "US"}
                                     }, new { @class = "form-control" })
                                </div>
                            </div>



                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.Phone, new { @class = "form-control" })
                                </div>
                            </div>



                            @*<div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(m => m.ShippingAddress.Email, new { @class = "form-control" })
                                    </div>
                                </div>*@

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Please assign a nickname to this payment method. </label>
                                    @Html.TextBoxFor(m => m.ShippingAddress.NickName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="changepasswordbtn1">Update</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btnChangeQty').click(function () {
        debugger;
        var id = $(this).data("id");
        var Qty = $(this).data("qty");
        $("#ProductId").val(id);
        $("#txtQty").val(Qty);

    });
    $('#btnAddAddress').click(function () {
        debugger;

        $(".addText").val("");

    });
    $('#btnAddPayment').click(function () {
        debugger;

        $(".txtPay").val("");

    });

    $('.btnShowFrequency').click(function () {
        debugger;
        var OnceEvery = $("#OnceEvery").val();
        var AutoshipPeriodId = $("#AutoshipPeriodId").val();
        var StartingOn = $("#StartingOn").val();

        $.ajax({
            type: "POST",
            url: "/Admin/PopulateAutoshipFrequencyTable?OnceEvery=" + OnceEvery + "&AutoshipPeriodId=" + AutoshipPeriodId + "&StartingOn=" + StartingOn,
            contentType: "application/json; charset=utf-8",
            datatype: "json",

            success: function (data) {
                debugger;
                let output = data.map(i => "<tr><td>" + i.Ordinal + "</td><td>" + i.OrderDate + "</td></tr>");

                $("#output").html(output);

            }


        });


    });


</script>

