﻿@model Foxxlegacy.ViewModel.ViewModel.OrderDetailsModel

@{
    ViewBag.Title = "OrdersDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Order Details</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""></a>
            </div>
        </div>
    </div>

    <div class="orderdetails">
        <h5>Order ID : #@Model.myOrders.OrderId</h5>
        <p>Order Date <b>@Model.myOrders.OrderId</b></p>
        <p>Order Status <b>@Model.OrderStatus</b></p>
        <p>Order Total <b>$@Model.myOrders.OrderTotal</b></p>
    </div>

    <div class="billingaddress">
        <h5>Billing Address</h5>
        <span>@Model.myOrders.FirstName  @Model.myOrders.LastName</span>
        <span>Email : @Model.myOrders.Email</span>
        <span>Phone No : @Model.myOrders.PhoneNumber</span>
        <span>Fax : @Model.myOrders.FaxNumber</span>
        @*<span>www.apb.com</span>*@
        <span>@Model.myOrders.Address1</span>
        <span>@Model.myOrders.Address2</span>
        <span>@Model.myOrders.ZipPostalCode</span>
        <h5>Payment</h5>
        <span>Payment Method: @Model.myOrders.PaymentMethodSystemName</span>
        <span>Payment Status: @Model.PaymentMethodStatus</span>
    </div>

    <div class="producttable">
        <h5>Products (s)</h5>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            @{
                foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Sku</td>
                        <td>@item.ProductName</td>
                        <td>$@item.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td>$@item.Total</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="totalprice">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th>Sub Total : </th>
                <td>$@Model.myOrders.SubTotal</td>
            </tr>
            <tr>
                <th>Tax : </th>
                <td>$0.0</td>
            </tr>
            <tr>
                <th>Order Total : </th>
                <td><b>$@Model.myOrders.OrderTotal</b></td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
    <div align="right">
        <div>
            <input type="button" value="Back" onclick="location.href='/Admin/OrdersAsPerCustomer?CustomerId=@Model.myOrders.CustomerId'">
        </div>
        @*<input type="button" class="changepasswordbtn1" value="Re-Order" />*@
    </div>
</div>