﻿@model Foxxlegacy.ViewModel.ViewModel.Orders
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Orders</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive">
        @using (Html.BeginForm("Orders", "Admin", FormMethod.Get))
        {


            <h2>
                <span>
                    Search By Customer Name @Html.TextBoxFor(x => x.SearchBy)<input type="submit" class="admin_btn" value="Search">
                </span>
            </h2>
        }
        <table cellpadding="0" cellspacing="0" width="100%" class="hometable display" id="tableID">
            <thead>
                <tr>

                    <th>Customer Name</th>
                    <th>No Of Order</th>
                    <th>Order Total</th>
                    <th width="30%" style="text-align:right">Details</th>
                </tr>
            </thead>

            @if (Model.myOrders.Count > 0)
            {
                foreach (var item in Model.myOrders)
                {

                    <tbody>
                        <tr>



                            <td>@item.FirstName&nbsp;@item.LastName</td>
                            <td>@item.NoOfOrder</td>
                            <td>@item.OrderTotal</td>
                            <td>
                                <a class="changepasswordbtn2" style="float:right;" href="@Url.Action("OrdersAsPerCustomer", "Admin",new { CustomerId = item.CustomerId })">Details</a>
                            </td>

                        </tr>
                    </tbody>
                }
            }

            else
            {
                <tr>
                    <td colspan="6" style="text-align:center">No Records</td>
                </tr>
            }

        </table>
    </div>
</div>

