﻿@model Foxxlegacy.ViewModel.ViewModel.Orders
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Order As Per Customer</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href=""></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    @{

        <div>


            <h4>
                <b>Customer Name</b> :&nbsp;@Model.myOrders[0].FirstName &nbsp; @Model.myOrders[0].LastName
                <span style="float:right"><b>OrderTotal&nbsp;</b>=&nbsp;$@Model.GrandOrderTotal</span>
            </h4>


        </div>
        for (int i = 0; i < Model.myOrders.Count; i++)
        {
            <h4>

                <b>Order Number</b> : @Model.myOrders[i].OrderId   <a class="changepasswordbtn2" style="float:right;" href="@Url.Action("OrdersDetails", "Admin",new { OrderId = Model.myOrders[i].OrderId,CustomerId=Model.myOrders[i].CustomerId })">Details</a> <div class="clearfix"></div>
            </h4>

            <div class="myorders_box">
                <span>Order Status <b>@Model.myOrders[i].Status</b></span>
                <span>Order Date <b>@Model.myOrders[i].CreatedOn</b></span>
                <span>Order Total <b>$@Model.myOrders[i].OrderTotal</b></span>

            </div>
        }

    }

    <div>
        <input type="button" value="Back" onclick="location.href='/Admin/Orders'">
    </div>
</div>