﻿
@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="One">Home</button>
                <button class="tablinks" id="Two">1. Export</button>
                <button class="tablinks" id="Three">2. Print</button>
                <button class="tablinks" id="Four">3. QC</button>
                <button class="tablinks" id="Five">4. Import Tracking</button>               
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="One" class="tabcontent">
                <h3>
                    Foxx Warehouse
                </h3>
                <div class="tabcontainer_content">
                    <h4>
                        0 pending shipping orders
                        <input type="button" value="Print Manifest"/>
                    </h4>
                   
                        <p>
                            Nothing to ship at this time
                        </p>
                   
                </div>

            </div>

            <div id="Two" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Export Shipping Data</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <label>Select A Status To Export:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option value="Pending Shipping">Pending Shipping</option>
                                        <option value="Partial Shipped">Partial Shipped</option>
                                        <option value="Backordered">Backordered</option>
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Preview" />
                                    <input type="button" class="admin_btn" value="Export to CSV" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Three" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4> Invoice Print</h4>
                    <p>This tool is used to modify an affiliate's username.</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Show What Status?</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option value="Pending Shipping">Pending Shipping</option>
                                        <option value="Partial Shipped">Partial Shipped</option>
                                        <option value="Backordered">Backordered</option>
                                    </select>
                                </div>
                                
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="View Now" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                    <p>
                        Please use your browsers "Page Setup" options to remove any printed headers and footers.

                    </p>
                </div>
            </div>

            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4> 1.  Please select your order status.</h4>                   
                    <div class="adminormbox">
                        <form>
                            <div class="row">                               
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <select class="form-control">
                                        <option value="Pending Shipping">Pending Shipping</option>
                                        <option value="Partial Shipped">Partial Shipped</option>
                                        <option value="BackOrdered">BackOrdered</option>
                                    </select>
                                </div>

                               
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Continue" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Five" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Tracking numbers import</h4>
                    <p>To continue, you will need to name your file "Tracking.csv".Use the browse button to locate your copy of the file "Tracking.csv" and then click Upload.</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                   <input type="file" class="form-control"/>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Upload" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <p>Note: Tracking.csv file should contain 2 fields per record in the following order.</p>
                    <p><b style="color:green;">OrderNo,Tracking</b></p>
                    <p>Note: If you include a header row, ensure the field names are the same as above. </p>
                    <p style="color:red;">Note: This utility will not change the order status</p>
                </div>
            </div>

          





        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
    i.addEventListener('click', function (event) {

    for (let x = 0; x < buttonElement.length; x++) {
    if (event.target.id == buttonElement[x].id) {
    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    tabContent[x].style.display = "block";
    event.currentTarget.className += " active";
    } else {
    tabContent[x].style.display = "none";
    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    }
    }

    });
    });
</script>

