﻿
@{
    ViewBag.Title = "Commissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .headerSortDown:after,
    .headerSortUp:after {
        content: ' ';
        position: relative;
        left: 10px;
        border: 7px solid transparent;
    }

    .headerSortDown:after {
        top: 10px;
        border-top-color: silver;
    }

    .headerSortUp:after {
        bottom: 15px;
        border-bottom-color: silver;
    }

    .headerSortDown,
    .headerSortUp {
        padding-left: 20px;
    }
</style>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1 sidebar_panel">
            <div class="tab">
                <ul>

                    <li><button class="tablinks" id="One">Send SMS</button></li>
                    <li><button class="tablinks" id="Two" onclick="getUserList(1)">Broadcast SMS</button></li>
                    <li><button class="tablinks" id="Three" onclick="getAllAPi()" >SMS Report</button></li>
                    <li><button class="tablinks" id="Four" onclick="optReport(1)" >Opt out/In Report</button></li>
                    <li><button class="tablinks" id="Five" onclick="optReport(2)">SMS Received</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">
            <div id="One" class="tabcontent">
                <div class="tabcontainer_content" id="smsDiv">
                    <h4>Send SMS</h4>
                    <p>To Send a SMS to a user, fill out all fields.</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Phone Number</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" id="PhoneNumber" class="form-control" />
                                </div>

                                @*<div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Amount: <span> (See Footer Notes) </span></label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" />
                            </div>*@

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>SMS Content: </label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea id="SmsText" class="form-control" onkeypress="textCounterSingle()" onkeydown="textCounterSingle()" onkeyup="textCounterSingle()" style="height:150px;"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>No. of characters eneterd: </label> <b> <span id="textCountSingle">0</span></b>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" onclick="sendSMS()" value="Send SMS" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                    @*<p>
                    Footer Notes:
                </p>
                <p>
                    &nbsp; Amount field is + or -  decimal only. ie no $ sign or , symbol.
                </p>*@
                </div>
            </div>

            <div id="Two" class="tabcontent">
                <div class="tabcontainer_content" style="display:none;">
                    <h4>1 - Chose below who you want to send to (All, Username, Rank and Above or Rank Only)</h4>

                    <div class="adminemailinner_tab" >
                        <ul class="tabs">
                            <li class="tab-link current" data-tab="tab-HM8C"><input class="SendingType" data-val="true" data-val-number="The field SmsSendingTypeId must be a number." data-val-range="Choose SMS Sending Type." data-val-range-max="9.22337203685478E+18" data-val-range-min="1" data-val-required="The SmsSendingTypeId field is required." id="HM8C" name="SmsSendingTypeId" type="radio" value="1"> <label for="HM8C">Send To All</label></li>
                            <li class="tab-link " data-tab="tab-0V2X"><input class="SendingType" id="0V2X" name="SmsSendingTypeId" type="radio" value="2"> <label for="0V2X">Send To UserName</label></li>
                            <li class="tab-link " data-tab="tab-BMT9"><input class="SendingType" id="BMT9" name="SmsSendingTypeId" type="radio" value="3"> <label for="BMT9">Send To Downline</label></li>
                            <li class="tab-link " data-tab="tab-RC5R"><input class="SendingType" id="RC5R" name="SmsSendingTypeId" type="radio" value="4"> <label for="RC5R">Send To Rank And Above</label></li>
                            <li class="tab-link " data-tab="tab-DFDJ"><input class="SendingType" id="DFDJ" name="SmsSendingTypeId" type="radio" value="5"> <label for="DFDJ">Send To Only Rank</label></li>
                            <li class="tab-link " data-tab="tab-NZEK"><input class="SendingType" id="NZEK" name="SmsSendingTypeId" type="radio" value="7"> <label for="NZEK">PR &amp; RC Only</label></li>
                            <li class="tab-link " data-tab="tab-DB36"><input class="SendingType" id="DB36" name="SmsSendingTypeId" type="radio" value="8"> <label for="DB36">General SMS Opt-Out Only</label></li>
                            <li class="tab-link " data-tab="tab-EY0W"><input class="SendingType" id="EY0W" name="SmsSendingTypeId" type="radio" value="9"> <label for="EY0W">SMS Not Verify User Only</label></li>
                            <li class="tab-link " data-tab="tab-0IW7"><input class="SendingType" id="0IW7" name="SmsSendingTypeId" type="radio" value="10"> <label for="0IW7">Send To Referring Customer</label></li>
                            <li class="tab-link " data-tab="tab-014K"><input class="SendingType" id="014K" name="SmsSendingTypeId" type="radio" value="11"> <label for="014K">Send To Customer</label></li>

                        </ul>
                        <span class="field-validation-valid" data-valmsg-for="SmsSendingTypeId" data-valmsg-replace="true"></span>




                    </div>
                </div>
                <div class="tabcontainer_content">
                    <h4>2 -List of users <span>Recipient Count: <span id="sendToAllCount">0</span>	</span></h4>
                    <div id="UsernamePanel" style="display:block;">
                        <div class="adminormbox">
                            <div class="col-md-8">
                                <span>To search a user press CTRL+F and type the name of user </span>
                            </div>
                            <div class="col-md-4">
                                <input type="button" class="admin_btn" onclick="deleteSelected()" value="Delete" style="float:right;" />
                            </div>
                            <div class="row" id="sendToAllBody" style="display:block;max-height:300px;overflow:auto;">

                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>SMS Content: </label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <textarea id="SmsTextAll" onkeypress="textCounterAll()" onkeydown="textCounterAll()" onkeyup="textCounterAll()" class="form-control" style="height:150px;"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>No. of characters eneterd: </label> <b> <span id="textCountAll">0</span></b>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" onclick="sendSMSToAll()" value="Send SMS" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Three" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>SMS Report</h4>

                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12"><label>Choose Date : </label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <select class="form-control" id="dateSelect" onchange="getSmsReport()"></select>
                            </div>
                        </div>
                        <div class="row" id="reportDiv">
                            <div class="col-sm-4">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Total Phone No.</h3>
                                    </div>
                                    <div class="panel-body">
                                        <span id="TotalPhoneCount"></span>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Total Invalid Number</h3>
                                    </div>
                                    <div class="panel-body">
                                        <span id="TotalInvalid"></span>
                                    </div>
                                </div>
                            </div><!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Total Queued</h3>
                                    </div>
                                    <div class="panel-body">
                                        <span id="TotalQueuedBefore"></span>
                                    </div>
                                </div>

                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Total Delivered</h3>
                                    </div>
                                    <div class="panel-body">
                                        <span id="TotalDelivered"></span>
                                    </div>
                                </div>
                            </div><!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Total Sent</h3>
                                    </div>
                                    <div class="panel-body">
                                        <span id="TotalSent"></span>
                                    </div>
                                </div>

                            </div><!-- /.col-sm-4 -->
                        </div>
                    </div>

                </div>
            </div>
            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Opt In - Opt Out SMS Report</h4>

                    <div class="adminormbox">
                        <div class="row">
                            <table class="table table-bordered" id="optTable">
                                <thead>
                                    <tr>
                                        <th>To</th>
                                        <th>From</th>
                                        <th>Message Intent</th>
                                        <th>SMS Text</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Opt In/Out By</th>
                                    </tr>
                                </thead>
                                <tbody id="optReportBody">
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>SMS Received Report</h4>

                    <div class="adminormbox">
                        <div class="row">
                            <table class="table table-bordered" id="recTable">
                                <thead>
                                    <tr>
                                        <th>To</th>
                                        <th>From</th>                                       
                                        <th>SMS Text</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="recReportBody">
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="phoneUsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="orderFrom"> User List</span> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div id="moveOrderModalBody">
                        <div class="dashboard_main_inner">
                            <input type="hidden" id="selectedOrderIdValues" />
                            <h5 class="modal-title"><span id="selectedPhoneNumber"></span> </h5>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <span id="userListNames"></span>
                                </div>
                               

                            </div>
                           
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        
        
    });

    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });


    function sendSMS() {
        var phone = $('#PhoneNumber').val().trim();
        var content = $('#SmsText').val().trim();

        if (phone == undefined || phone == '') {
            alert('Phone Number required.');
            return;
        }

        if (content == undefined || content == '') {
            alert('SMS content required.');
            return;
        }
        var obj = {
            phone: phone,
            content: content
        }
        showLoader('smsDiv');
        $.ajax({
            url: '/Admin/SendSMS',
            type: "POST",
            data: { 'model': obj },
            success: function (data) {
                debugger
                console.log('res', data);
                var res = data;
                if (data.status) {
                    alert('SMS sent successfully.');

                } else {
                    alert('Error occurred.');
                }
                hideLoader('smsDiv');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('smsDiv');
            }
        });
    }
    function getUserList(sortBy) {
        var obj = {
            filterType: sortBy
        }
        showLoader('sendToAllBody');
        $.ajax({
            url: '/Admin/GetSmsBroadCastList',
            type: "POST",
            data: { 'model': obj },
            success: function (data) {
                debugger
                console.log('res', data);
                $('#sendToAllCount').text(data.Count);
                $('#sendToAllBody').html(data.data);
                if (sortBy == 1) {
                    $('#NameTh').removeClass('headerSortDown');
                    $('#NameTh').addClass('headerSortUp');
                } else if (sortBy == 2) {
                    $('#NameTh').removeClass('headerSortUp');
                    $('#NameTh').addClass('headerSortDown');
                }
                else if (sortBy == 3) {
                    $('#phoneTh').removeClass('headerSortDown');
                    $('#phoneTh').addClass('headerSortUp');
                }
                else if (sortBy == 4) {
                    $('#phoneTh').removeClass('headerSortUp');
                    $('#phoneTh').addClass('headerSortDown');
                }
                hideLoader('sendToAllBody');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('sendToAllBody');
            }
        });
    }

    function sendSMSToAll() {
        var Phonelist = [];
        var cs = $('#SmsTextAll').val().length;
        var content = $('#SmsTextAll').val().trim();
        var sendToAllCount = parseInt($('#sendToAllCount').text());
        if (sendToAllCount == 0) {
            alert('No user found.')
            return
        }

        if (content == undefined || content == '') {
            alert('SMS content required.');
            return;
        }
        $('#userTableList > tbody  > tr').each(function (index, tr) {
            var phone = $(this).find("td:eq(1) span").text();
            var p = {
                Id: 0,
                phone: phone
            }
            Phonelist.push(p);
            
        });
        console.log('phones', Phonelist)
        
        if (confirm('You are about to broadcast ' + cs + ' character SMS to ' + sendToAllCount + ' users.Do you want to continue?')) {

            
            var obj = {
                filterType: 1,
                Content: content,
                Phonelist: Phonelist
            }
            showLoader('UsernamePanel');
            $.ajax({
                url: '/Admin/SmsBroadcast',
                type: "POST",
                data: { 'model': obj },
                success: function (data) {
                    debugger
                    console.log('BroadcastSms', data);
                    if (data.status) {
                        alert('SMS broadcasted successfully.')
                    }

                    hideLoader('UsernamePanel');
                },
                error: function (err) {
                    console.log('err', err)
                    hideLoader('UsernamePanel');
                }
            });
        }

    }

    function textCounterAll() {
        var cs = $('#SmsTextAll').val().length;
        if (cs == undefined) {
            cs = 0;
        }
        $('#textCountAll').text(cs);
    }
    function textCounterSingle() {
        var cs = $('#SmsText').val().length;
        if (cs == undefined) {
            cs = 0;
        }
        $('#textCountSingle').text(cs);
    }

    function getAllAPi() {

       
        showLoader('dateSelect');
        $.ajax({
            url: '/Admin/GetSmsApiId',
            type: "GET",
            
            success: function (data) {
                debugger
                console.log('res', data);
                if (data.status) {
                    var dd = $('#dateSelect');
                    dd.html('');
                    dd.append('<option value="">Select</option>');
                    $.each(data.list, function (i) {
                        dd.append('<option value=' + data.list[i].id + '>' + data.list[i].createddate + '</option>');
                    });
                }
               
                hideLoader('dateSelect');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('dateSelect');
            }
        });

    }
    function getSmsReport() {
        $('#TotalPhoneCount').text('0')
        $('#TotalInvalid').text('0')
        $('#TotalQueuedBefore').text('0')
        $('#TotalSent').text('0')
        $('#TotalDelivered').text('0')

        debugger
        var id = parseInt($('#dateSelect').val());
        if (id == undefined || id == isNaN(id) || id =='') {
            return
        }
        showLoader('reportDiv');
        $.ajax({
            url: '/Admin/GetSmsReport?id=' + id,
            type: "GET",

            success: function (data) {
                debugger
                console.log('report', data);
                if (data.status) {
                    var res = data.report.list;
                    if (res != undefined) {
                        $('#TotalPhoneCount').text(res.TotalPhoneCount)
                        $('#TotalInvalid').text(res.TotalInvalid)
                        $('#TotalQueuedBefore').text(res.TotalQueuedBefore)
                        $('#TotalSent').text(res.TotalSent)
                        $('#TotalDelivered').text(res.TotalDelivered)
                    }
                }

                hideLoader('reportDiv');
            },
            error: function (err) {
                console.log('err', err)
                hideLoader('reportDiv');
            }
        });
    }
    function optReport(id) {
        //optReportBody
        var loaderVid = id == 1 ? 'optTable' : 'recTable';
        var tableId = id == 1 ? 'optReportBody' : 'recReportBody';
        showLoader(loaderVid);
        $.ajax({
            url: '/Admin/GetOptReport?id=' + id,
            type: "GET",

            success: function (data) {
                debugger
                console.log('opt report', data);
                if (data.Status) {
                    $('#' + tableId).html('');
                    $('#' + tableId).append(data.data);
                }

                hideLoader(loaderVid);
            },
            error: function (err) {
                console.log('err', err)
                hideLoader(loaderVid);
            }
        });
    }
</script>
