﻿@model Foxxlegacy.ViewModel.ViewModel.GenealogyViewModel
@{
    ViewBag.Title = "Genealogy";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}
<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Referral Network</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_Genealogy",Return="Members/Genealogy" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="genealogy_mainpanel">
            <p>
                Click on the icon to the left of the person to expand the network. Click on the person's name to view
                additional details. Four additional indicators follow: Qual - R.O.-<b><i class="fa fa-mobile" aria-hidden="true"></i><i class="fa fa-envelope" aria-hidden="true"></i></b>. Qual will be in green "<b>Qual</b>" if the person
                has a qualifying order<b><i class="fa fa-mobile" aria-hidden="true"></i></b>. The "<b>R.O.</b>" will be in green "<b><i class="fa fa-mobile" aria-hidden="true"></i></b>" if they have set up an active Recurring Order.
                will be in green "" if the person has SMS Opt-In. <b><i class="fa fa-envelope" aria-hidden="true"></i></b>  will be in green " <b><i class="fa fa-envelope" aria-hidden="true"></i></b>" if the person has Email Opt-In.
                If anyone in your referral network falls out of Qualification or does not have a current qualifying order
                (within the past 35 days) or does not set up a Recurring Order or SMS Opt-Out or Email Opt-Out, you are notified in red,
                ie <span>Qual - R.O. <i class="fa fa-mobile" aria-hidden="true"></i>&nbsp; &nbsp;<i class="fa fa-envelope" aria-hidden="true"></i></span>  -  - . <a href="">CLICK HERE: to SEARCH for people in your Referral Network</a>
            </p>
            <br />
            <p>Reps in your first level are sponsored by you.</p>
            

            <div class="treeview_box">
                <ul class="treeView">
                    <li>
                        <button class="treebutton" type="button"> + </button>
                        <span id="personalinfo" data-Id=@Model.mainList.Id> @Model.mainList.Text <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>
                        <ul>
                            @for (int i = 0; i < Model.subMainList.Count; i++)
                            {
                                <li>
                                    @if (Model.subMainList[i].ChildNodeCount > 0)
                                    {
                                        <button class="treebutton" type="button"> + </button>
                                    }
                                    <span id="personalinfo" data-Id=@Model.subMainList[i].Id>@Model.subMainList[i].Text <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>

                                    @for (int j = 0; j < Model.childMainList.Count(x => x.SponsorUsersID == @Model.subMainList[i].Id); j++)
                                    {
                                        <ul>
                                            <li>
                                                <span id="personalinfo" data-Id=@Model.childMainList[j].Id> @Model.childMainList[j].Text <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>
                                            </li>
                                        </ul>
                                    }
                                </li>
                            }
                            @*<li>
                                    <span> JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>

                                </li>
                                <li>
                                    <span>  JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>

                                </li>
                                <li>
                                    <span> JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>

                                </li>*@
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="infofield" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalMyInfo'></div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Js/Personal")


@*<li>
        <button class="treebutton" type="button"> + </button>
        <span id="personalinfo" data-Id="4457"> JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>
        <ul>
            <li>
                <span> JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>
            </li>
            <li>
                <span> JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>
            </li>
            <li>
                <span>JKING (Jonnathan King) <b> Qual - R.O.</b> <i class="fa fa-mobile" aria-hidden="true"> </i> <i class="fa fa-envelope" aria-hidden="true"> </i> <i class="fa fa-user" aria-hidden="true"> </i> </span>
            </li>
        </ul>
    </li>*@