﻿@model Foxxlegacy.ViewModel.ViewModel.UtilitiesViewModel
@{
    ViewBag.Title = "Utilities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .rankName {
        width: 160px !important;
    }
</style>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="faq1">
            <div class="tab">
                <button class="tablinks" id="Zero"></button>
                <button class="tablinks" id="One">Change Sponsor</button>
                <button class="tablinks" id="Two">OVCP Order</button>
                <button class="tablinks" id="Three">Reverse OVCP</button>
                <button class="tablinks" id="Four">Move Order</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "VIEImportTab"?"active":"":"")" id="Five">VIE Import</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "VIEProcessCommissionTab"?"active":"":"")" id="Six">VIE Process</button>
                <button class="tablinks" id="Seven">VIE Missing ID</button>
                <button class="tablinks" id="Eight">VIE Import Monthly</button>
                <button class="tablinks" id="Nine">VIE Process Monthly</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "OpenDataBaseConnectionTab"?"active":"":"")" id="Ten">All Open DB Connection</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "IncompleteUsersTab"?"active":"":"")" id="Eleven">Incomplete Users</button>
                <button class="tablinks @(TempData.ContainsKey("ActiveTab")==true?TempData["ActiveTab"].ToString()== "DeleteUserUtilityTab"?"active":"":"")" id="Twelve">Delete User Utility</button>
                <button class="tablinks" id="Thirteen">Opt-Out Report</button>
                <button class="tablinks" id="Fourteen">Phone Not Verify User</button>
                <button class="tablinks" onclick="loadRanksData()" id="Fifteen">Update Rank data</button>
                <button class="tablinks" onclick="loadPaymentMethods()" id="Sixteen">Payment Methods</button>
                <button class="tablinks" onclick="loadUserQual()" id="Seventeen">Qualification time</button>
                @if (Model.IsPlacementAllowed == true)
                {
                    <button class="tablinks" onclick="loadAdminTree()" id="Eighteen">Placement tool</button>
                }

            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="faq2_admin">

            <div id="Zero" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Available Utilities:
                    </h4>

                    <p>
                        This utilities section will facilitate the following:
                    </p>

                    <ul>
                        <li>Create an order for a user.</li>
                        <li>OVCP an order. (order verify and comp plan)</li>
                        <li>Reverse OVCP an order</li>
                    </ul>
                    <p>
                        Note: If one or more of the above items does not show up on the left,<br />
                        your username does not have permission to access them.
                    </p>
                </div>

            </div>

            <div id="One" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Sponsor Change Tool
                    </h4>

                    <p>
                        Changes User's sponsor
                    </p>

                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>UserName:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Old Sponsor:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>New Sponsor:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Do you want to continue" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

            <div id="Two" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>OVCP</h4>
                    <p>Send an order through Order Verify and Comp Plan.</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>OrderID:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" value="OVCP By OrderID" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>OrderNo:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" value="OVCP By OrderNo" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Three" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Reverse OVCP</h4>
                    <p>This will reverse the implications of the comp plan for this order.</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>OrderID:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" value="Reverse OVCP By OrderID" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>OrderNo:</label>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="button" value="Reverse OVCP By OrderNo" />
                                </div>
                                <div class="clr"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Four" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Move Orders  By OrderNO</h4>
                    <p>
                        Move an order from one user to another.
                    </p>
                    <p>Remember to first "Reverse OVCP" this order if necessary</p>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>OrderNO:</label>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>Old UserName:</label>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-2 col-sm-12 col-xs-12">
                                    <label>New UserName:</label>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Move this order now" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="Five" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "VIEImportTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>VIE Import</h4>
                    <p>Upload a excel file.</p>
                    <div class="adminormbox">

                        @using (Html.BeginForm("VIEImport", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {


                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.TextBoxFor(m => m.importExcel.file, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.importExcel.file, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="submit" class="admin_btn" value="Import" />
                                </div>
                            </div>
                        }

                        <div style="color:red;">

                            @TempData["SUCCESS_MESSAGE"]

                        </div>
                        @*<form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="file" class="form-control" />
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="button" class="admin_btn" value="Import" />
                                    </div>
                                </div>
                            </form>*@
                    </div>

                </div>
            </div>


            <div id="Six" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "VIEProcessCommissionTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>VIE Process Commission</h4>
                    <div class="adminormbox">
                        @using (Html.BeginForm("VIEProcessCommission", "Admin", FormMethod.Post))
                        {


                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="submit" class="admin_btn" value="Process Commission" />
                                </div>
                            </div>
                        }
                    </div>
                    <div>
                        @if (TempData.ContainsKey("SUCCESS_MESSAGE"))
                        {
                            <span style="color:green">
                                @TempData["SUCCESS_MESSAGE"]
                            </span>
                        }

                        else if (TempData.ContainsKey("ERROR_MESSAGE"))
                        {
                            <span style="color:red">
                                @TempData["ERROR_MESSAGE"]
                            </span>
                        }
                    </div>
                </div>
            </div>

            <div id="Seven" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>VIE Missing Sponsor ID: Modify</h4>

                    <div class="adminormbox">
                        <form>
                        </form>
                    </div>

                </div>
            </div>

            <div id="Eight" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>VIE Import Monthly</h4>
                    <p>Upload an excel file.</p>
                    <div class="adminormbox">


                        <form>
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <input type="file" class="form-control" />
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Import" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


            <div id="Nine" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>VIE Process Commission Monthly</h4>
                    <div class="adminormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="button" class="admin_btn" value="Process Commission" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


            <div id="Ten" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "OpenDataBaseConnectionTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">

                    @using (Html.BeginForm("KillConnections", "AdminPermission", new { SpID = 0 }, FormMethod.Post))
                    {

                        <h4>Open DataBase Connection <input type="submit" class="headingrightbutton" value="Kill All Connections" id="btnKillAllConnections" /></h4>
                    }
                    <div class="table-responsive">
                        <table width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th>SPID</th>
                                    <th>DBName</th>
                                    <th>Status</th>
                                    <th>Program Name</th>
                                    <th>Command</th>
                                    <th>Login</th>
                                    <th>Host Name</th>
                                    <th>Last Batch</th>
                                    <th></th>
                                </tr>
                                @if (Model.OpenDataBaseConnection.Count > 0)
                                {
                                    foreach (var item in Model.OpenDataBaseConnection)
                                    {
                                        <tr>
                                            <td>@item.Spid</td>
                                            <td>@item.DBName</td>
                                            <td>@item.Status</td>
                                            <td>@item.ProgramName</td>
                                            <td>@item.Command</td>
                                            <td>@item.Login</td>
                                            <td>@item.hostname</td>
                                            <td>@item.LastBatch</td>
                                            @using (Html.BeginForm("KillConnections", "AdminPermission", new { SpID = item.Spid }, FormMethod.Post))
                                            {

                                                <td><input type="submit" value="Kill"></td>

                                            }
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div id="Eleven" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "IncompleteUsersTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>Incomplete Users</h4>


                    <div class="table-responsive">
                        <table id="IncompleteUsers" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th>AspNetUserID</th>
                                    <th>User Name</th>
                                    <th></th>
                                </tr>

                                @if (Model.IncompleteUsers.Count > 0)
                                {
                                    foreach (var item in Model.IncompleteUsers)
                                    {

                                        <tr>
                                            <td>@item.UserId</td>
                                            <td>@item.UserName</td>

                                            @using (Html.BeginForm("DeleteIncompleteUsers", "AdminPermission", new { UserName = item.UserName }, FormMethod.Post))
                                            {


                                                <td><input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this?');"></td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <p>
                                        No records found.
                                    </p>
                                }

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div id="Twelve" class="tabcontent" style="display:@(TempData.ContainsKey("ActiveTab")==true?Convert.ToString(TempData["ActiveTab"]) == "DeleteUserUtilityTab" ? "block" : "none":"none");">
                <div class="tabcontainer_content">
                    <h4>Not A Sponsor Users With No Orders</h4>
                    @using (Html.BeginForm("GetDeleteUserUtility", "AdminPermission", FormMethod.Get))
                    {


                        <div style="float: right;">
                            Search for:&nbsp;@Html.TextBoxFor(x => x.SearchDeleteUserUtility, new { placeholder = "Search Text" })
                            &nbsp;<input type="submit" name="btnSearch" value="Search" id="btnSearch" tabindex="1">
                        </div>
                    }
                    <div class="table-responsive">
                        <table id="deleteuserutlity" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>Join Date</th>
                                    <th></th>
                                </tr>

                                @if (Model.DeleteUserUtility.Count > 0)
                                {
                                    foreach (var item in Model.DeleteUserUtility)
                                    {

                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@item.Phone</td>
                                            <td>@item.JoinDate</td>
                                            @using (Html.BeginForm("DeleteUserUtility", "AdminPermission", new { Id = item.ID, UserName = item.UserName, SearchBy = Model.SearchDeleteUserUtility }, FormMethod.Post))
                                            {


                                                <td><input type="submit" value="Delete" onclick="return confirm('Please confirm that you wish to permanently delete @item.UserName');"></td>
                                            }
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div id="Thirteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Opt-Out Utility</h4>
                    <p>Upload a csv file.</p>
                    <div class="adminormbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 col-xs-12"><label>Upload a csv file</label></div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <input type="file" class="form-control" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="button" class="admin_btn" value="Do you want to continue">
                                <a href="@Url.Action("DownloadOptOutPhoneNumber", "AdminPermission")" style="color: #00397c;font-size: 12px;margin-bottom: 15px;text-decoration: underline" class="pull-right">Download Sample</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tabcontainer_content">
                    <h4>Opt-Out Reports</h4>
                    <div class="table-responsive">
                        <table id="deleteuserutlity" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th>User Name</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>

                                </tr>
                                @{
                                    foreach (var item in Model.optOutReports)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div id="Fourteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Phone Not Verify Users</h4>
                    <div class="table-responsive">
                        <table id="deleteuserutlity" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <tbody>
                                <tr>
                                    <th>User Name</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>

                                </tr>
                                @{
                                    foreach (var item in Model.phoneNotVerify)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="Fifteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>Update Rank data</h4>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-3 col-sm-3 col-xs-3" style="margin-left:10px;">
                            <label>This tool is used to update rank data.</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">

                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <input type="button" class="admin_btn" onclick="updateRanksData()" value="Update Rank Data">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="updateRankutility" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                            <thead>
                                <tr>
                                    <th>Rank Name</th>
                                    <th>
                                        Compare
                                        Count Legs
                                    </th>
                                    <th>
                                        Per Leg Capped
                                        Customer Count
                                    </th>
                                    <th>
                                        Capped
                                        Customer Count
                                    </th>
                                    <th>
                                        Legs With
                                        Rank3 Rank4
                                    </th>
                                    <th>
                                        Check Rank
                                        Leg Total
                                    </th>
                                    <th>
                                        No Of
                                        Ranking Leg
                                    </th>
                                    <th>Display 1</th>
                                    <th>Display 2</th>
                                    <th>Display 3</th>
                                    <th>Display 4</th>
                                </tr>
                            </thead>
                            <tbody id="_rankBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="Sixteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Payment methods
                    </h4>

                    <p>
                        Add a new payment method
                    </p>

                    <div class="adminormbox" id="addPaymentDiv">
                        <form id="paymentForm">
                            <div>
                                <div class="row">
                                    <input type="hidden" id="paymentMethodId" />
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Payment method name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_paymentName" class="form-control" />
                                    </div>
                                    @*<div class="col-md-2 col-sm-12 col-xs-12">
                                            <label>Required:</label>
                                        </div>
                                        <div class="">
                                            <input type="radio" id="PaymentYes" name="PaymentNameOptions" value="1">
                                            <label for="PaymentYes">Yes</label>
                                            <input type="radio" id="PaymentNo" checked name="PaymentNameOptions" value="0">
                                            <label for="PaymentNo">No</label>
                                        </div>*@
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Field 1 name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_field1" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Required:</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" id="Field1Yes" name="Field1Options" value="1">
                                        <label for="Field1Yes">Yes</label>
                                        <input type="radio" id="Field2No" checked name="Field1Options" value="0">
                                        <label for="Field2No">No</label>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Field 2 name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_field2" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Required:</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" id="Field2Yes" name="Field2Options" value="1">
                                        <label for="Field2Yes">Yes</label>
                                        <input type="radio" id="Field2No" checked name="Field2Options" value="0">
                                        <label for="Field2No">No</label>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Field 3 name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_field3" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Required:</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" id="Field3Yes" name="Field3Options" value="1">
                                        <label for="Field3Yes">Yes</label>
                                        <input type="radio" id="Field3No" checked name="Field3Options" value="0">
                                        <label for="Field3No">No</label>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Field 4 name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_field4" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Required:</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" id="Field4Yes" name="Field4Options" value="1">
                                        <label for="Field4Yes">Yes</label>
                                        <input type="radio" id="Field4No" checked name="Field4Options" value="0">
                                        <label for="Field4No">No</label>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Field 5 name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_field5" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Required:</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" id="Field5Yes" name="Field5Options" value="1">
                                        <label for="Field5Yes">Yes</label>
                                        <input type="radio" id="Field5No" checked name="Field5Options" value="0">
                                        <label for="Field5No">No</label>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Field 6 name:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="text" id="tb_field6" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Required:</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" id="Field6Yes" name="Field6Options" value="1">
                                        <label for="Field6Yes">Yes</label>
                                        <input type="radio" id="Field6No" checked name="Field6Options" value="0">
                                        <label for="Field6No">No</label>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="button" onclick="SavePaymentMethod()" class="admin_btn" style="float:right;" value="Save">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table id="PaymentListTable" width="100%" cellpadding="0" cellspacing="0" class="hometable">
                                <thead>
                                    <tr>
                                        <th>Payment Name</th>
                                        <th>
                                            Field 1 (Required)
                                        </th>
                                        <th>
                                            Field 2 (Required)
                                        </th>
                                        <th>
                                            Field 3 (Required)
                                        </th>
                                        <th>
                                            Field 4 (Required)
                                        </th>
                                        <th>
                                            Field 5 (Required)
                                        </th>
                                        <th>
                                            Field 6 (Required)
                                        </th>

                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="_paymentBody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <div id="Seventeen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        User qualification time period
                    </h4>
                    <div class="adminormbox" id="userQualDiv">
                        <form id="userQualForm">
                            <div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>Placement expiry time in numer of days:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="number" min="0" id="tb_days" class="form-control" />
                                    </div>

                                    <div class="clr"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 col-sm-12 col-xs-12">
                                        <label>User order qualification in days:</label>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <input type="number" min="0" id="tb_userQualDays" class="form-control" />
                                    </div>

                                    <div class="clr"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="button" onclick="SaveUserQual()" class="admin_btn" style="float:right;" value="Save">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div id="Eighteen" class="tabcontent">
                <div class="tabcontainer_content">
                    <h4>
                        Placement tool
                    </h4>
                    <div class="adminormbox">
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="searchPlacementTool" placeholder="Type User Name..." />
                           
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="btnSearchPlacementTool" onclick="SerachPlacementTree()" class="btn btn-info">Search</button>
                        </div>

                    </div>
                    <div class="adminormbox" id="adminRefferalNetwork">


                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal fade" id="moveOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="orderFrom"> Move Orders</span> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <div id="moveOrderModalBody">
                        <div class="dashboard_main_inner">
                            <input type="hidden" id="selectedOrderIdValues" />
                            <h5 class="modal-title">You have selected the following Order Id(s) : <span id="selectedOrderIds"></span> </h5>

                            <h6>
                                Search Target user by Username
                            </h6>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="txtBxUsrnameMove" placeholder="Type User Name..." />
                                    <p class="text-danger" id="searchErrorTxtMove" style="display:none">No Users Found.</p>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="btnSearchUserMove" class="btn btn-info">Search</button>
                                </div>

                            </div>
                            <div class="row" id="PlacementUserPanelMove" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>User Name</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="placementUserTblBodyMove">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="modalclosebtn" data-dismiss="modal">Close This Page</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/PageJs/AdminTree.js"></script>
<script>
    const buttonElement = document.querySelectorAll('.tablinks');
    const tabContent = document.querySelectorAll(".tabcontent");

    //tabContent[0].style.display = "block";

    buttonElement.forEach(function (i) {
        i.addEventListener('click', function (event) {

            for (let x = 0; x < buttonElement.length; x++) {
                if (event.target.id == buttonElement[x].id) {
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                    tabContent[x].style.display = "block";
                    event.currentTarget.className += " active";
                } else {
                    tabContent[x].style.display = "none";
                    buttonElement[x].className = buttonElement[x].className.replace(" active", "");
                }
            }

        });
    });

    function loadRanksData() {
        var divId = '_rankBody';
        showLoader(divId);
        $.ajax({
            url: '/AdminPermission/GetRanksData',
            type: "GET",
            success: function (res) {
                console.log('res', res);
                if (res.status) {
                    $('#' + divId).html('');
                    $('#' + divId).html(res.data);
                }
                hideLoader(divId);
            },
            error: function () {
                hideLoader(divId);
            }
        });
    }

    function updateRanksData() {
        var divId = '_rankBody';
        var rankArr = [];
        $('#updateRankutility > tbody > tr').each(function (i) {
            var id = IntParse($(this).find('td:eq(1) input.rankId').val());
            var CompareCountLegs = IntParse($(this).find('td:eq(1) input').val());
            var PerLegCappedCustomerCount = IntParse($(this).find('td:eq(2) input').val());
            var CappedCustomerCount = IntParse($(this).find('td:eq(3) input').val());
            var LegsWithRank3Rank4 = IntParse($(this).find('td:eq(4) input').val());
            var CheckRankLegTotal = IntParse($(this).find('td:eq(5) input').val());
            var NoOfRankingLeg = IntParse($(this).find('td:eq(6) input').val());
            var Display1 = IntParse($(this).find('td:eq(7) input').val());
            var Display2 = IntParse($(this).find('td:eq(8) input').val());
            var Display3 = IntParse($(this).find('td:eq(9) input').val());
            var Display4 = IntParse($(this).find('td:eq(10) input').val());

            var obj = {
                ID: id,
                CompareCountLegs: CompareCountLegs,
                PerLegCappedCustomerCount: PerLegCappedCustomerCount,
                CappedCustomerCount: CappedCustomerCount,
                LegsWithRank3Rank4: LegsWithRank3Rank4,
                CheckRankLegTotal: CheckRankLegTotal,
                NoOfRankingLeg: NoOfRankingLeg,
                Display1: Display1,
                Display2: Display2,
                Display3: Display3,
                Display4: Display4
            }
            rankArr.push(obj);
        });
        console.log('ranksData', rankArr);

        if (rankArr != undefined && rankArr.length > 0) {
            showLoader(divId);
            $.ajax({
                url: '/AdminPermission/UpdateRankData',
                type: "POST",
                data: {
                    model: rankArr
                },
                success: function (res) {
                    console.log('res', res);
                    if (res.status) {
                        alert('Records updated successfully !')
                    }
                    hideLoader(divId);
                },
                error: function () {
                    hideLoader(divId);
                }
            });
        }

    }

    function SavePaymentMethod() {
        var id = IntParse($('#paymentMethodId').val());

        var paymentName = $('#tb_paymentName').val();
        var tb_field1 = $('#tb_field1').val();
        var tb_field2 = $('#tb_field2').val();
        var tb_field3 = $('#tb_field3').val();
        var tb_field4 = $('#tb_field4').val();
        var tb_field5 = $('#tb_field5').val();
        var tb_field6 = $('#tb_field6').val();

        //  var paymentName_req = $('input[name=Field1Options]:checked').val() == '1' ? true : false;
        var field1_req = $('input[name=Field1Options]:checked').val() == '1' ? true : false;
        var field2_req = $('input[name=Field2Options]:checked').val() == '1' ? true : false;
        var field3_req = $('input[name=Field3Options]:checked').val() == '1' ? true : false;
        var field4_req = $('input[name=Field4Options]:checked').val() == '1' ? true : false;
        var field5_req = $('input[name=Field5Options]:checked').val() == '1' ? true : false;
        var field6_req = $('input[name=Field6Options]:checked').val() == '1' ? true : false;


        if (paymentName == undefined || paymentName == '') {
            alert('Payment method name required !');
            return
        }
        var model = {
            Id: id,
            paymentName: paymentName,
            tb_field1: tb_field1,
            tb_field2: tb_field2,
            tb_field3: tb_field3,
            tb_field4: tb_field4,
            tb_field5: tb_field5,
            tb_field6: tb_field6,
            field1_req: field1_req,
            field2_req: field2_req,
            field3_req: field3_req,
            field4_req: field4_req,
            field5_req: field5_req,
            field6_req: field6_req
        }
        showLoader('addPaymentDiv');
        $.ajax({
            url: '/AdminPermission/SavePaymentMethod',
            type: "POST",
            data: {
                model: model
            },
            success: function (res) {
                console.log('res', res);
                if (res.status) {
                    alert('Records updated successfully !');
                    loadPaymentMethods();
                    $('#paymentMethodId').val(0);
                    $('#paymentForm')[0].reset();

                }
                hideLoader('addPaymentDiv');
            },
            error: function () {
                hideLoader('addPaymentDiv');
            }
        });
    }

    function loadPaymentMethods() {
        showLoader('_paymentBody');
        $.ajax({
            url: '/AdminPermission/LoadPaymentMethods',
            type: "GET",
            success: function (res) {
                console.log('res', res);
                if (res.status) {
                    $('#_paymentBody').html('');
                    $('#_paymentBody').append(res.content);
                }
                hideLoader('_paymentBody');
            },
            error: function () {
                hideLoader('_paymentBody');
            }
        });
    }
    function DeletePaymentMethod(id) {
        if (confirm('Are you sure you want to delete this payment method ?')) {
            showLoader('_paymentBody');
            $.ajax({
                url: '/AdminPermission/DeletePaymentMethod?id=' + id,
                type: "GET",
                success: function (res) {
                    console.log('res', res);
                    if (res.status) {

                    }
                    hideLoader('_paymentBody');
                },
                error: function () {
                    hideLoader('_paymentBody');
                }
            });
        }
    }
    function EditPaymentMethod(id, name, f1, f2, f3, f4, f5, item) {
        debugger
        $('#paymentForm')[0].reset();

        var r1 = $(item).closest('tr').find('td:eq(0) span.r1').text()
        var r2 = $(item).closest('tr').find('td:eq(0) span.r2').text()
        var r3 = $(item).closest('tr').find('td:eq(0) span.r3').text()
        var r4 = $(item).closest('tr').find('td:eq(0) span.r4').text()
        var r5 = $(item).closest('tr').find('td:eq(0) span.r5').text()
        var r6 = $(item).closest('tr').find('td:eq(0) span.r6').text()

        $("#Field1Yes").prop("checked", r1.toLowerCase() == 'true' ? true : false);
        $("#Field2Yes").prop("checked", r2.toLowerCase() == 'true' ? true : false);
        $("#Field3Yes").prop("checked", r3.toLowerCase() == 'true' ? true : false);
        $("#Field4Yes").prop("checked", r4.toLowerCase() == 'true' ? true : false);
        $("#Field5Yes").prop("checked", r5.toLowerCase() == 'true' ? true : false);
        $("#Field6Yes").prop("checked", r6.toLowerCase() == 'true' ? true : false);



        $('#paymentMethodId').val(id);
        $('#tb_paymentName').val(name);
        $('#tb_field1').val(f1);
        $('#tb_field2').val(f2);
        $('#tb_field3').val(f3);
        $('#tb_field4').val(f4);
        $('#tb_field5').val(f5);
    }
    function SaveUserQual() {

        var days = parseInt($('#tb_days').val());
        var userQualDays = parseInt($('#tb_userQualDays').val());
        if (days == undefined || days == '') {
            days = 0;
        }
        if (userQualDays == undefined || userQualDays == '') {
            userQualDays = 0;
        }
        showLoader('userQualDiv');
        var model = {
            Days: days,
            UserQualOrderExpiryInDays: userQualDays
        }
        $.ajax({
            url: '/AdminPermission/SaveUserQualInfo',
            type: "POST",
            data: {
                model: model
            },
            success: function (res) {
                console.log('res', res);
                if (res.status) {
                    alert('Record saved successfully!')
                }
                hideLoader('userQualDiv');
            },
            error: function () {
                hideLoader('userQualDiv');
            }
        });
    }
    function loadUserQual() {
        showLoader('userQualDiv');
        $.ajax({
            url: '/AdminPermission/GetUserQualInfo',
            type: "GET",
            success: function (res) {
                console.log('res 1', res);
                if (res.status) {
                    $('#tb_days').val(res.data.Days);
                    $('#tb_userQualDays').val(res.data.UserQualOrderExpiryInDays);
                }
                hideLoader('userQualDiv');
            },
            error: function () {
                hideLoader('userQualDiv');
            }
        });
    }
    function SerachPlacementTree() {
        var username = $('#searchPlacementTool').val();
        loadAdminTree(username);
    }
    function loadAdminTree(username) {
        if (username == undefined) {
            username = 'adminPlacementView';
        }
        showLoader('adminRefferalNetwork');
        $.ajax({
            url: '/AdminPermission/GetAdminPlacementTree?username=' + username,
            type: "GET",
            success: function (res) {
                console.log('res 1', res);
                if (res.status) {
                    $('#adminRefferalNetwork').html('')
                    $('#adminRefferalNetwork').html(res.content);
                }
                hideLoader('adminRefferalNetwork');
            },
            error: function () {
                hideLoader('adminRefferalNetwork');
            }
        });
    }

</script>



