﻿@model Foxxlegacy.ViewModel.ViewModel.EventsViewModel
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}



<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>Calendar of Events</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_Calendar",Return="Home/Calendar" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        @Html.Raw(Model.Content)
        @*<div id='calendar'></div>*@
    </div>
</div>







<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listYear'
            },

            displayEventTime: false, // don't show the time column in list view

            // THIS KEY WON'T WORK IN PRODUCTION!!!
            // To make your own Google API key, follow the directions here:
            // http://fullcalendar.io/docs/google_calendar/
            googleCalendarApiKey: 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',

            // US Holidays
            events: 'en.usa#holiday@group.v.calendar.google.com',

            eventClick: function (arg) {
                // opens events in a popup window
                window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

                arg.jsEvent.preventDefault() // don't navigate in main tab
            },



        });

        calendar.render();
    });
</script>