﻿@model Foxxlegacy.ViewModel.ViewModel.ContactViewModel
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_content" style="padding:65px 0;">
    <div class="container">

        @if (TempData["SPONSER_NAME"] != null)
        {
            <h2>CONTACT: @Html.Raw(TempData["SPONSER_NAME"])</h2>
        }
        else
        {
            <h2>
                CONTACT:
            </h2>
        }
        <div class="row">
            <div class="col-md-12 ">
                @if (TempData["SUCCESS_MESSAGE"] != null)
                {
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
                    </div>
                }
            </div>
            <div class="col-md-12 ">
                @if (TempData["ERROR_MESSAGE"] != null)
                {
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">

                @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                {
                    <div class="contact_l">


                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <label>Name <span>*</span></label>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control validChar" })
                            @Html.ValidationMessageFor(x => x.Name,"", new { @class = "text-danger" })

                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <label>Email Address <span>*</span></label>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.EmailId,"", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <label>Phone  <span>*</span></label>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control validnumeric",maxlength=10 })
                            @Html.ValidationMessageFor(x => x.Phone,"", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <label>Subject  <span>*</span></label>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Subject,"", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <label>Message  <span>*</span></label>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @rows = "20", cols = "10", @style = "height:140px; " })
                            @Html.ValidationMessageFor(x => x.Message,"", new { @class = "text-danger" })
                            @*<textarea class="form-control" style="height:200px;"></textarea>*@
                            <p><span>*</span>Required</p>
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-3 col-sm-12 col-xs-12">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <button type="submit" id="btnAdd" name="ApplicationApply" class="contactsubmit">Submit</button>
                            @*<input class="contactsubmit" type="submit" value="Submit" />*@
                        </div>
                        <div class="clearfix"></div>

                    </div>

                }
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="contact_r">
                    <h3>CORPORATE ADDRESS</h3>
                    <p>
                        More Mito, LLC<br />
                        12541 N Pleasantburg Dr<br />
                        Unit S-190<br />
                        Greenville, SC 29609<br />
                        United States
                    </p>
                    <p>
                        Phone: <a href="tel:5095933300">509-593-3300</a><br />
                        Fax: (715) 952-0909
                    </p>

                    <img src="~/Images/googlemap_icon.png" />


                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.3533495737665!2d-82.3869968847843!3d34.888168280662555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88582e009e840485%3A0x5c8e4215f96d01fc!2s2541%20N%20Pleasantburg%20Dr%20Unit%20S-190%2C%20Greenville%2C%20SC%2029609!5e1!3m2!1sen!2sus!4v1622794474516!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>

