﻿@model Foxxlegacy.ViewModel.ViewModel.FAQViewModel
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}

<div class="dashboard_main">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>FAQ's</h2>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_FAQs",Return="Home/FAQ" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>

    <div class="dashboard_main_inner">
        <div class="faq">
            <div class="faq1" id="MenudivId">
                @*<div class="tab">
                        <button class="tablinks active" id="One" data-Id="@(@Model.fAQCategoryListViewModel.Count>0?@Model.fAQCategoryListViewModel[0].Id:0)">General</button>
                        <button class="tablinks" id="Two" data-Id="@(@Model.fAQCategoryListViewModel.Count>1?@Model.fAQCategoryListViewModel[1].Id:0)">Compensation Plan</button>
                        <button class="tablinks" id="Three" data-Id="@(@Model.fAQCategoryListViewModel.Count>2?@Model.fAQCategoryListViewModel[2].Id:0)">UltraMito Pet</button>
                        <button class="tablinks" id="Four" data-Id="@(@Model.fAQCategoryListViewModel.Count>3?@Model.fAQCategoryListViewModel[3].Id:0)">Delivery & Shipping</button>
                        <button class="tablinks" id="five" data-Id="@(@Model.fAQCategoryListViewModel.Count>4?@Model.fAQCategoryListViewModel[4].Id:0)">Billing & Returns</button>
                        <button class="tablinks" id="six" data-Id="@(@Model.fAQCategoryListViewModel.Count>5?@Model.fAQCategoryListViewModel[5].Id:0)">Recurring Orders</button>
                        <button class="tablinks" id="seven" data-Id="@(@Model.fAQCategoryListViewModel.Count>6?@Model.fAQCategoryListViewModel[6].Id:0)">UltraMito People</button>
                        <button class="tablinks" id="eight" data-Id="@(@Model.fAQCategoryListViewModel.Count>7?@Model.fAQCategoryListViewModel[7].Id:0)">Paylution</button>
                    </div>*@
                
            </div>
            <div class="faq2">
                <div id="One" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>0?@Model.fAQCategoryListViewModel[0].Id:0)" style="display:block">
                    <h4>@Model.fAQCategoryListViewModel[0].CatName</h4>

                    @if (Model.fAQCategoryListViewModel.Count > 0)
                    {
                        foreach (var item in Model.fAQCategoryListViewModel[0].FAQList)
                        {
                            <div class="faqbox">
                                <h6><span>Q:</span> @item.Title</h6>
                                <p>A: @item.Content</p>
                            </div>
                        }
                    }




                </div>

                <div id="Two" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>1?@Model.fAQCategoryListViewModel[1].Id:0)">






                </div>

                <div id="Three" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>2?@Model.fAQCategoryListViewModel[2].Id:0)">


                </div>

                <div id="Four" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>3?@Model.fAQCategoryListViewModel[3].Id:0)">


                </div>




                <div id="five" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>4?@Model.fAQCategoryListViewModel[4].Id:0)">


                </div>

                <div id="six" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>5?@Model.fAQCategoryListViewModel[5].Id:0)">




                </div>

                <div id="seven" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>6?@Model.fAQCategoryListViewModel[6].Id:0)">



                </div>

                <div id="eight" class="tabcontent FAQ@(@Model.fAQCategoryListViewModel.Count>7?@Model.fAQCategoryListViewModel[7].Id:0)">




                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


</div>
@Scripts.Render("~/bundles/Js/FAQ")
<script>
    //const buttonElement = document.querySelectorAll('.tablinks');
    //const tabContent = document.querySelectorAll(".tabcontent");

    //tabContent[0].style.display = "block";

    //buttonElement.forEach(function (i) {
    //    i.addEventListener('click', function (event) {

    //        for (let x = 0; x < buttonElement.length; x++) {
    //            if (event.target.id == buttonElement[x].id) {
    //                buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    //                tabContent[x].style.display = "block";
    //                event.currentTarget.className += " active";
    //            } else {
    //                tabContent[x].style.display = "none";
    //                buttonElement[x].className = buttonElement[x].className.replace(" active", "");
    //            }
    //        }

    //    });
    //});
</script>

