﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="banner" class="owl-carousel">
    <div class="item">
        <img src="~/Images/banner3.jpg" alt="banner3" />
        <div class="overlay1 fade">
            <h2>Life Is Precious</h2>
            <p>Take daily step to make your</p><p>healthy life style the best it can be </p>
        </div>
    </div>
    <div class="item">
        <img src="~/Images/banner5.jpg" alt="banner5" />
        <div class="overlay2 fade">
            <h2>Life Is Precious</h2>
            <p>Take daily step to make your</p><p>healthy life style the best it can be </p>
        </div>
    </div>
    <div class="item">
        <img src="~/Images/banner6.jpg" alt="banner6" />
        <div class="overlay3 fade">
            <h2>Life Is Precious</h2>
            <p>Take daily step to make your</p><p>healthy life style the best it can be </p>
        </div>
    </div>
    <div class="item">
        <img src="~/Images/banner2.jpg" alt="banner2" />
        <div class="overlay2 fade">
            <h2>Life Is Precious</h2>
            <p>Take daily step to make your</p><p>healthy life style the best it can be </p>

        </div>
    </div>
    <div class="item">
        <img src="~/Images/banner4.jpg" alt="banner4" />
        <div class="overlay2 fade-in-image">
            <h2>Life Is Precious</h2>
            <p>Take daily step to make your</p><p>healthy life style the best it can be </p>
        </div>
    </div>
    <div class="item">
        <img src="~/Images/banner1.jpg" alt="banner1" />
        <div class="overlay4 fade-in-image">
            <h2>Life Is Precious</h2>
            <p>Take daily step to make your</p><p>healthy life style the best it can be </p>
        </div>
    </div>
</div>


<div class="homeproduct">
    <div class="container">
        <h2 class="heading">Products</h2>
        <div class="sub-heading">
            <p><strong>MoreMito, LLC consistently delivers profoundly effective products for pets and people. Click on the image below to navigate to either our pet products or our people products.</strong></p>
        </div>
        <div class="product_categories row">
            <div class="category_item col-md-6 col-sm-6"><a href="/Products/PeopleHealthProducts"><img src="~/Images/peopleCat.png" alt="peopleCat"></a></div>
            <div class="category_item col-md-6 col-sm-6"><a href="/Products/PetHealthProducts"><img src="~/Images/petCat.png" alt="petCat"></a></div>
        </div>
    </div>
</div>

<div class="effective_product">
    <img src="~/Images/hand_leaf.png" alt="hand_leaf" />
    <h2>More Mito, LLC makes profoundly effective products.</h2>
</div>


@*<div class="altramito">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="altramito_l">
                    <a href=""><img src="~/Images/Ultra-Mito_Bottles_montagePlaySM.png" alt="Ultra-Mito_Bottles_montagePlaySM" /></a>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="altramito_r">
                    <img src="~/Images/UltraMito_Logo.png" alt="UltraMito_Logo" />
                    <p>
                        Foxx Legacy, LLC is dedicated to improving the lives of people and their pets.  Through our innovative nutraceutical delivery system, we have developed all-natural products, designed to deliver maximum benefit at the cellular level.  Find out what Foxx Legacy, LLC can do for you and your pets.

                    </p>

                    <a class="blue_btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>*@






<script>
    (function () {

        var parallax = document.querySelectorAll(".parallax-window"),
            speed = -0.2;

        window.onscroll = function () {
            [].slice.call(parallax).forEach(function (el, i) {

                var windowYOffset = window.pageYOffset,
                    elBackgrounPos = "50% " + (windowYOffset * speed) + "px";

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
    jQuery(document).ready(function () {
        //Examples of how to assign the Colorbox event to elements
        jQuery('.gal-imagelink').colorbox({ rel: 'gal-imagelink' });
        //jQuery('header').headtacular({ scrollPoint: 100 });
        jQuery('header').headtacular({ scrollPoint: 1 });
        jQuery("#accordion").accordion();

        jQuery('.tp-banner').show().revolution(
            {
                dottedOverlay: "yes",
                delay: 9000,
                startwidth: 2560,
                startheight: 1331,
                hideThumbs: 200,

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 3,

                navigationType: "bullet",
                navigationArrows: "solo",
                navigationStyle: "preview2",

                touchenabled: "on",
                onHoverStop: "on",

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                parallax: "scroll",
                parallaxBgFreeze: "off",
                parallaxLevels: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],


                keyboardNavigation: "on",

                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",

                spinner: "spinner0",

                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: "off",

                autoHeight: "off",
                forceFullWidth: "off",



                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0
            });
    })

    function jqUpdateSize() {
        var vheight = jQuery('.showcase_inner').height();
        //jQuery('.showcase').css('height', vheight);
        //jQuery('.showcase_inner').css('position', 'fixed');
    };
    jQuery(document).ready(jqUpdateSize);    // When the page first loads
    jQuery(window).resize(jqUpdateSize);     // When the browser changes size
</script>
<script type="text/javascript">

    jQuery(function () {
        jQuery.srSmoothscroll()
    })
</script>



