﻿
@{
    ViewBag.Title = "Legacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutus_panel">
    <div class="container">
        <div class="row feature-row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-row__image-wrapper" id="FeatureRowImageWrapper-about-info">
                    <img class="feature-row__image " src="~/Images/rodger_2048x.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-row__item feature-row__text feature-row__text--left aboutright">
                    <h2 class="h3  text-left">Rodger Hill -- CEO and Co-Founder</h2>
                    <hr class="box_seperator">
                    <div class="rte rte-setting featured-row__subtext">
                        <p>Rodger Hill has been an industry icon for the past 20 plus years. Rodger's unique analytical and mathematical skills were first developed as he began his professional career as a space program analyst. From there, Rodger went on to work for the military at the pentagon in Washington DC. What followed was a career with various government agencies, applying his analytical skills to various special projects. <span id="dots1" style="display: inline;">...</span><span id="more1" style="display: none;"> Throughout the years, Rodger developed a unique vision and perspective on attaining mission critical results. Rodger has gone on to re-create the industries top performing compensation plans. &nbsp;By applying his unique mathematical skills and extreme analytical insights, he has developed a plan that ensures everyone participating receives the benefit of a fair and efficient compensation system. &nbsp;Rodger and his think tank have optimized a compensation system whose efficiency and effectiveness in the industry is unmatched. It is his personal goal to provide you with an opportunity that works as hard for you as you do for yourself. </span></p>
                        <a onclick="myFunction1()" id="myBtn1">Read more</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="row feature-row middle-pic row-rev">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-row__item feature-row__text feature-row__text--right aboutright">
                    <h2 class="h3  text-left">Dr. Bevan Elliott - Co-Founder Director of Research &amp; Development</h2>
                    <hr class="box_seperator">
                    <div class="rte rte-setting featured-row__subtext">
                        <p><span style="text-decoration:underline"><strong>Education:</strong></span><br>B.S. Physics<br>M.S. Chemistry<br>PhD Chemistry<br>Clemson University<br><span style="text-decoration:underline"><strong>Experience:</strong></span><br>Visiting Scientist Air Force<br>Research Laboratory, Wright Patterson AFB<br>Research Chemist University of Dayton <span id="dots2">...</span><span id="more2" style="display:none;"><br><span style="text-decoration:underline"><strong>Research Experience:</strong></span><br>Nanotechnology<br>Medicinal deliver systems<br>Nano-electronics<br>Exotic materials synthesis<br>Natural health product research and development<br>25 papers in peer-reviewed Chemistry &amp; Physics Journals Empowered &nbsp;by his background in nanotechnology, physics and emerging science, Dr &nbsp;Bevan created a new, proprietary technology designed to potentiate, &nbsp;renew and increase the mitochondria.&nbsp;<br>Dr. &nbsp;Elliott’s research indicates that what affects health the most is the &nbsp;health of the mitochondria. You literally can’t be your healthiest &nbsp;unless your mitochondria are at their best.<br>"Renew and repair the body at the cellular level… and the body with repair and restore itself"</span></p>
                        <a onclick="myFunction2()" id="myBtn2">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-row__item" id="FeatureRowImageWrapper-about-info">
                    <div class="feature-row__image-wrapper beven">
                        <img class="feature-row__image " src="~/Images/team-2_2048x.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="row feature-row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-row__item" id="FeatureRowImageWrapper-about-info">
                    <div class="feature-row__image-wrapper">
                        <img class="feature-row__image " src="~/Images/team-3_2048x.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-row__item feature-row__text feature-row__text--left aboutright">
                    <h2 class="h3  text-left">Dale Bohnet - Director of Sales and Marketing</h2>
                    <hr class="box_seperator">
                    <div class="rte rte-setting featured-row__subtext">
                        <p>A former Manager at Procter &amp; Gamble in the Food and Beverage Division Dale was hired after College by P&amp;G. Dales brands included Jif Peanut Butter, Pringles, Crisco, Folgers Coffee, Duncan Hines and many other brands. Product introductions, Ads, promotional displays and Sales team training were all part of his responsibilities at P&amp;G. <span id="dots3">...</span><span id="more3" style="display:none;">He then went into business for himself and was highly successful leading and creating large teams in our industry and receiving the $100,000 Ring with double diamonds from one company among many other awards and trophies. He also created a unique marketing software system to take the risk out of success in our industry and make sure everyone can win if the product is real and the company is properly structured. All criteria for that success exists at MoreMito.&nbsp;</span></p>
                        <p><strong>"Let’s launch this rocket"&nbsp;</strong></p>
                        <a onclick="myFunction3()" id="myBtn3">Read more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function myFunction1() {
        var dots = document.getElementById("dots1");
        var moreText = document.getElementById("more1");
        var btnText = document.getElementById("myBtn1");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
    function myFunction2() {
        var dots = document.getElementById("dots2");
        var moreText = document.getElementById("more2");
        var btnText = document.getElementById("myBtn2");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }

    function myFunction3() {
        var dots = document.getElementById("dots3");
        var moreText = document.getElementById("more3");
        var btnText = document.getElementById("myBtn3");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script> 