﻿
@model IEnumerable<Foxxlegacy.ViewModel.ViewModel.MyPassUpOrdersViewModel>
@{
    ViewBag.Title = "My Pass Up Orders";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
}





<div class="dashboard_main">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_l">
                <h2>My Pass Up Orders</h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="aftermemberlogin_r">
                <a href="@Url.Action("Help", "Members", new {KeyName="Members_Help_MyManager_Upline_Contact_Details",Return="Members/MyRep" })"> <i class="fa fa-question-circle" aria-hidden="true"></i> Help with this section</a>
            </div>
        </div>
    </div>
    <div class="dashboard_main_inner">
        <div class="col-md-12 col-sm-12 co-xs-12">
            <div class="row">
                <div class="table-responsive notificationtable">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead style="white-space:nowrap">
                            <tr>
                                <th></th>
                                <th>UserName</th>
                                <th>OrderNo</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Order Owner</th>
                                <th>Order CV</th>
                                <th>Expiration Date</th>
                                <th>Retail Sales Commission</th>
                            </tr>
                        </thead>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tbody>
                                    <tr style="white-space:nowrap">
                                        <td><a class="changepasswordbtn" href="javascript:void(0)" id="MyContactsSelectId">Select</a></td>

                                        <td>@item.UserName</td>
                                        <td>@item.Orderno</td>
                                        <td>@item.Orderdate</td>
                                        <td>@item.Status</td>
                                        <td>@item.OrderOwner</td>
                                        <td>@item.OrderCV</td>
                                        <td>@item.ExpDate</td>
                                        <td>@item.RSC</td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

