﻿@model Foxxlegacy.ViewModel.ViewModel.UserDetailsViewModel

@{
    ViewBag.Title = "NoSponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="inner_content">
    <div class="container">
        <h2>No Representative</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 ">
                        @if (TempData["SUCCESS_MESSAGE"] != null)
                        {
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["SUCCESS_MESSAGE"]) </p>
                            </div>
                        }
                    </div>
                    <div class="col-md-12 ">
                        @if (TempData["ERROR_MESSAGE"] != null)
                        {
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <p style="text-align:center"><i class="fa fa-check-circle" aria-hidden="true">&nbsp;</i>@Html.Raw(TempData["ERROR_MESSAGE"]) </p>
                            </div>
                        }
                    </div>
                </div>
                @using (Html.BeginForm("NoSponsor", "Home", FormMethod.Post))
                {
                    
                    @Html.HiddenFor(x => x.ReturnUrl)
            <div class="representative_panel">

                <div class="row">
                    <div class="col-md-5">
                        <span>
                            Please enter your representative's username.
                        </span>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "representative_paneltextbox", @id = "UserName", @placeholder = "User Name" })
                        @Html.ValidationMessageFor(x => x.UserName)
                        @if (TempData.ContainsKey("MESSAGE"))
                        {
                            <label class="no-float">@TempData["MESSAGE"]</label>
                        }
                        <button type="submit" id="btnAdd" name="ApplicationApply" class="representative_panelbutton">LOCATE</button>
                    </div>
                </div>
                        <p>Please enter the username of the person that referred you to MoreMito and then click the LOCATE button above. </p>
                        <p>If you do not have the username, please either contact the person that told you about MoreMito. If you are unable to reach them, we can assist you in locating your representative if you contact us toll free at (888) 884-8661. When calling, please press option 0.  You will need to know the first and last name of the person that referred you to our website, their email address or their phone number that they have registered with us.</p>
                    </div>
                    }
                </div>
            </div>

    </div>



</div>


