﻿

@model Foxxlegacy.ViewModel.ViewModel.ContentViewModel
@{
    ViewBag.Title = "PaymentMethod";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="inner_content">
    <div class="container">

        @Html.Raw(Model.PaymentMethods)


    </div>
</div>