﻿@model Foxxlegacy.ViewModel.ViewModel.DynamicPagesViewModel
@{
    ViewBag.Title = "PeopleElevate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img src="~/Images/elevate_banner_main.jpg" />
    <div class="bannertop">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="bannertop_l">
                        <span><a href="">PRODUCTS</a> <b>/</b> People Health Products</span>
                        <div class="clearfix"></div>
                        <p>
                            <a href="">Home</a>
                            <a href="">Products</a>
                            <a href="">People Health Products</a>
                            <em>UltraMito Nutrition</em>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="bannertop_r">
                        <h4>UltraMito™</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerbottomoverlay">
        <h3>MAXIMIZE YOUR LIFE EXPERIENCE: ULTRAMITO</h3>
    </div>
</div>
<div class="maincontent">
    @Html.Raw(Model.peopleElevate.Front_PeopleElevate1)
    <section class="rowpadding">
        <div class="container">
            <div class="row">

                @Html.Raw(Model.peopleElevate.Front_PeopleElevate2)
            </div>
        </div>
    </section>
</div>

