﻿@model Foxxlegacy.ViewModel.ViewModel.DynamicPagesViewModel
@{
    ViewBag.Title = "PeopleElevateMind";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img src="~/Images/elevate_banner_mind.jpg" />
    <div class="bannertop">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="bannertop_l">
                        <span><a href="">PRODUCTS</a> <b>/</b> People Health Products</span>
                        <div class="clearfix"></div>
                        <p>
                            <a href="">Home</a>
                            <a href="">Products</a>
                            <a href="">People Health Products</a>
                            <a href="">UltraMito Nutrition</a>
                            <em>UltraMito Mind</em>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="bannertop_r">
                        <h4>UltraMito™ Mind</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerbottomoverlay">
        <h3>NATURALLY IMPROVE YOUR MENTAL FUNCTION AND CLARITY WITH ULTRAMITO MIND</h3>
    </div>
</div>
<div class="maincontent">
    <section class="rowpadding">
        <div class="container">
            <div class="row">
                @Html.Raw(Model.peopleElevateMind.Front_PeopleElevateMind1)
                @Html.Raw(Model.peopleElevateMind.Front_PeopleElevateMind2)
            </div>
        </div>
    </section>
</div>

