﻿
@model Foxxlegacy.ViewModel.ViewModel.ContentViewModel
@{
    ViewBag.Title = "PrivacyPolicy";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="inner_content">
    <div class="container">

        @Html.Raw(Model.PrivacyPolicy)


    </div>
</div>

