﻿


@model Foxxlegacy.ViewModel.ViewModel.ContentViewModel
@{
    ViewBag.Title = "ReturnPolicy";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="inner_content">
    <div class="container">

        @Html.Raw(Model.ReturnPolicy)


    </div>
</div>