﻿@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="phone_verification_cont">
    <div id="thankyou" class="thankyou_bg_cont thank-content">
        <h1>MoreMito!</h1>
        <h2>Welcome and thank you for your purchase!</h2>
        @*<h5 style="font-size: 23px;">
            <span>Your personal website is:</span>
            <a href="@ViewBag.NavigationUrl" target="_blank" style="font-size:23px;">@ViewBag.NavigationUrl</a>
            <asp:HyperLink ID="linkWebURL" runat="server" Target="_blank" Text="" ForeColor="#0058a4" Font-Size="23px" Font-Bold="true"></asp:HyperLink>
        </h5>*@
    </div>
    
    <div class="container instruction_cntnt thank-content">
        <h3>
            At MoreMito we believe that the mitochondria is the key to better health and wellness
        </h3>
        <h3>
             For your convenience we created a website that you can use to make it easier to make future purchases. Check for the email you were just sent that contains your login information.
        </h3>
        <h3>
            Also If you would like to receive discounts when others you may choose refer make purchases, click the box below.You were sent a welcome email to the address you gave that has your website info in it as well.
        </h3>
        <h3>
             Your personal website is : <a href="@ViewBag.NavigationUrl" target="_blank" style="font-size:23px;">@ViewBag.NavigationUrl</a>
           
        </h3>
        <h4>
            You can copy and paste this link into an email, social medial post, or text message. When someone clicks on this link they will visit your page. When they make purchases you can see their activity and receive product purchase credits that can be applied to your future purchases.

        </h4>
    </div>
</section>
<script>

   
</script>