﻿@model Foxxlegacy.ViewModel.ViewModel.DynamicPagesViewModel
@{
    ViewBag.Title = "UltraMitoLife";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img src="~/Images/promito_banner_life.jpg" />
    <div class="bannertop bannertop2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="bannertop_l">
                        <span><a href="">PRODUCTS</a> <b>/</b> Pet Health Products</span>
                        <div class="clearfix"></div>
                        <p>
                            <a href="">Home</a>
                            <a href="">Products</a>
                            <a href=""> Pet Health Products</a>
                            <em>UltraMito Pet Life</em>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="bannertop_r">
                        <h4>UltraMito™Life</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerbottomoverlay bannerbottomoverlay2">
        <h3>IMPROVE HEALTH AND VITALITY WITH ULTRAMITO LIFE</h3>
    </div>
</div>
<div class="maincontent">
    <section class="rowpadding">
        <div class="container">
            <div class="row">
                @Html.Raw(Model.ultraMitoLife.Front_UltraMitoLife1)
                @Html.Raw(Model.ultraMitoLife.Front_UltraMitoLife2)
            </div>
        </div>
    </section>
</div>

