﻿body {
    background: #e9e9e9;
    font-family: 'Open Sans', sans-serif;
}

.admin_navigation {
    background: #294b9f;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #8a8a8a;
    padding-left: 15px;
    padding-right: 15px;
    float: none;
    margin: 10px 0 20px 0;
}

    .admin_navigation ul li a {
        padding: 10px 4.5px;
        color: #fff !important;
        font-weight: 600;
        font-size: 13px;
    }

    .admin_navigation ul li a:hover {
        color: #ffd800 !important;
    }

.admin_container {
    padding: 0 15px;
}

.faq1 .tab .tablinks{
    border:0;
    width:100%;
    text-align:left;
    font-size:14px;
    margin-bottom:5px;
}

.faq2_admin .tabcontent {
    display:none;

}

.tabcontainer_content {
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #8a8a8a;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
}

.faq2_admin .tabcontainer_content h4 {
    background: #294b9f;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 20px;
    margin:0;
}

    .faq2_admin .tabcontainer_content h4 span{
        float:right;
    }

    .faq2_admin .tabcontainer_content h4 input[type="button"] {
        float: right;
        font-size:12px;
        color:#000;
        padding:3px 5px;
        margin:-2px 0 0 0;
    }

    .faq2_admin .tabcontainer_content h4 .headingrightbutton {
        float: right;
        font-size: 12px;
        color: #000;
        padding: 3px 5px;
        margin: -2px 0 0 0;
    }

    .adminormbox {
        padding: 20px;
    }

.adminormbox .form-control{
    font-size:13px;
    margin-bottom:15px;
}

.adminormbox label{
    font-size:13px;
    font-weight:400;
    color:#666;
    padding:3px 0 0 0;
}

.admin_btn {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: #4a89dc;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;
    margin:0 0 15px 0;
}

.tabcontainer_content p {
    padding: 10px 20px 5px 20px;
    margin: 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

.hometable tr th {
    padding: 10px;
    color: #294b9f;
    font-size: 16px;
    font-weight: 600;
    border-bottom: #294b9f solid 2px;
    background: #eaeaea;
}

.hometable tr td {
    padding: 10px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    border-bottom: #ccc solid 1px;
}

.hometable tr:last-child td{
    border-bottom:0;
}

.faq1 .tab h5 {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 4px 5px;
    margin: 0;
}


.faq1 .tab span {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0 10px 5px;
    margin: 0;
    display:block;
}



    .faq2_admin .tabcontent h3 {
        padding: 0 0 20px 0;
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }

.tabcontainer_content ul{
    padding:0 0 0 20px;
    margin:0;
    list-style:none;
}

.tabcontainer_content ul li{
    color:#666;
    font-size:14px;
    font-weight:400;
    margin:0 0 5px 0;
    padding:0 0 0 20px;
    position:relative;
    list-style:none;
}

.tabcontainer_content ul li:before{
        position:absolute;
        top:6px;
        left:0;
        background:#000;
        border-radius:50%;
        width:8px;
        height:8px;
        content:"";
 }

.contact_inner_tab{
    text-align:center;
    padding:10px 0 0 0;
}

    .contact_inner_tab button {
        background: #294b9f;
        padding:5px 10px;
        color:#fff;
        font-size:14px;
        font-weight:400;
        border:0;
    }


.contactinner_first {
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #8a8a8a;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
}

.contactinner_first h4 {        
    background: #294b9f;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 20px;
    margin: 0;
}

.contact_innermaintab{
    box-shadow:none;
    background:none;
}

.contactinner_first span{
    display:block;
    padding:10px 0 0 0;
    color:#000;
    font-size:15px;
    font-weight:400;
}

.contactinner_forstbottom{
    padding:0 15px 0 15px;
    border-top:#ccc solid 2px;
    margin:20px 0 0 0;
}

.contactinner_forstbottom h5 {
    padding: 20px 0 5px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.contactinner_forstbottom p{
    padding:0 0 20px 0;
    margin:0;
    font-size:13px;
}

.button_paneladmin{
    margin:20px 0 0 0;
}

.csjpanel{
    padding:15px 15px 0 15px;
}

.historicalrecord{
    height:150px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.contactinner_first .hometable{
    margin-bottom:15px;
    border:1px solid #ccc;
}

.contactinner_first .hometable tr th {
    background: #DEE8F5;
    color: #000;
    color: #000;
    border-bottom: #ccc solid 1px;;
}

.contactinner_first .hometable tr td:nth-child(even) {        
    background: #fff;

}

.contactinner_first .hometable tr td:nth-child(odd) {
    background: #DEE8F5;
}

.adminmemberinfo{
    padding:15px;
}

.adminmemberinfo p{
    padding-left:0;
}

.adminmemberinfo h5{
    padding:15px 0 5px 0;
    margin:0;
    color:#000;
    font-size:16px;
    font-weight:700;
}

.adminmemberinfo p{
    padding:0;
    margin:0;
    color:#000;
    font-size:14px;
    font-weight:400;
}

.adminmemberinfo p span{
    color:green;
    display:inline-block;
}

    .adminmemberinfo p b {
        color: red;
    }

.optuderout {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background:red;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
    float:right;
}

.optuderin {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: green;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px 0;
    float: right;
}

.contactinner_first > h4 > a {
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    float:right;
}

.adminhelpbox {
    color: #fff;
    font-size: 16px;
    float: right;
    font-weight: 700
}

    .adminhelpbox i {
        font-size: 23px;
        color: #90c856;
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
    }

.autoshipadmbcreate_box{
    padding:15px 15px 0 15px;
}

.adminteamcust{
    padding:15px;
}

.adminteamcust h3{
    padding:15px 0 15px 0 !important;
    margin:0;
    font-size:20px;
    font-weight:600;
}

.wocomleted{
    color:lawngreen;
}

.wonotcomleted {
    color: red;
}

.commissiontabletop1 table tr td {
    background: #D3EAF1;
}

.commissiontabletop2 table tr td {
    background: #FFFFD7;
}

.organicnation{
    padding:15px;
}

.organicnation span {
    display: inline-block;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    padding-right:20px;
}

.organicnation span b{
    color:green;
}

.organicnation span em {
    color: red;
    font-style:normal;
}



.admintablebtn {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: #4a89dc;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;

}

.headingselect{
    color:#000;
    font-size:13px;
}

.headingselect option {
    color: #000;
}

.treeview_box{
    padding:30px 0 0 0;
}

.treeview_box ul {
    display: none
}

.treeView {
    display: block
}

    .treeView li{
        margin-bottom:10px;
    }

    .treeView > li:before {
        background: none !important;
    }

    .treeView > li ul li:before {
        background: none !important;
    }

button.treebutton {
    background: none !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #294b9f;
    font-size: 20px;
}

.treeView li span{
    color:#000;
    font-size:13px;
    font-weight:400;
}

.treeView li span i{
    display:inline-block;
    padding:0 5px;
}

.treeView li span i.fa-mobile, .treeView li span i.fa-envelope{
    color:green;
}

.treeView li span i.fa-user {
    color: #294b9f;
}

.treeView li span b {
    color: red;
}

.tablesimplebutton{
    margin-bottom:5px;
}

.itemstatesubheading h3{
    padding:15px 15px 15px 15px !important;
    margin:0;
    font-size:18px !important;
    font-weight:700;
}

.itemstatesubheading h3 span{
    float:right;
}


.adminemailinner_tab ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.adminemailinner_tab ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 3px;
    cursor: pointer;
    list-style:none;
    font-size:13px;
}

    .adminemailinner_tab ul.tabs li:before{
        display:none;
    }

    .adminemailinner_tab ul.tabs li.current {
        background: #ededed;
        color: #222;
    }

.adminemailinner_tab .tab-content {
    display: none;   
}

    .adminemailinner_tab .tab-content.current {
        display: inherit;
    }

.adminemsailsrighttpanel{
    text-align:right;
}

.admineditorgreentext{
    color:green;
    font-size:16px;
    font-weight:700;
    padding:15px 0;
    margin:0;
}

.editorbottombox_first span{
    display:inline-block;
    padding-right:20px;
    width:20%;
    margin-bottom:5px;
}

.greentext{
    padding:15px 15px;
}

.greentext h5 {
    color: green;
    font-size:16px;
    font-weight:600;
    padding:5px 0;
    margin:0;
}

.imageuploadadmineditor {
    width: 60px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #ccc;
    margin: 0 0 0 15px;
}

.imageuploadadmineditor a{
    display:block;
    padding:5px 10px 10px 10px;
}

    .imageuploadadmineditor a img{
        width:100%;
    }

.modal-header h5 {
    padding:  0;
    margin: 0;
    color: #4d8cd9;
    font-weight: bold;
    font-size: medium;
    font-size: 17px;
}

.modal-header .close{
    position:absolute;
    top:10px;
    right:15px;
}

.modal-dialog {
    width: 850px !important;
}







.uploadpopup_l ul.tabs1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: #ededed;
}

.uploadpopup_l ul.tabs1 li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    list-style: none;
    font-size: 13px;
}

.uploadpopup_l ul.tabs1 li:before {
    display: none;
}

    .uploadpopup_l ul.tabs1 li.current1 {
        background: #294b9f;
        color: #fff;
    }

.uploadpopup_l .tab-content1 {
    display: none;
    background:#fff;
}

.uploadpopup_l .tab-content1.current1 {
    display: inherit;
}

.upload_imgbox1{
    margin:10px 0;
}

.upload_imgbox1 img {
    width: 100%;
}

.upload_imgbox2 {
    width: 100%;
    border: 5px solid #fff;
    margin: 10px 0;
    box-shadow:2px 2px 8px #ccc;
}

.upload_imgbox2 img{
    width:100%;
}

.upload_imgbox3 {
    width: 100%;
    border: 5px solid #fff;
    margin: 10px 0;
    box-shadow: 2px 10px 8px #ccc;
}

    .upload_imgbox3 img {
        width: 100%;
    }


.upload_imgbox4 {
    width: 100%;
    border: 5px solid #fff;
    margin: 10px 0;    
}

    .upload_imgbox4 img {
        width: 100%;
        border-radius:20px;
    }

.upload_imgbox5 {
    width: 100%;
    border: 5px solid #fff;
    margin: 10px 0;
    box-shadow: 2px 2px 8px #ccc;
    border-radius: 15px;
}

    .upload_imgbox5 img {
        width: 100%;
        border-radius: 15px;
    }

.upload_imgbox6 {
    width: 100%;
    border: 5px solid #fff;
    margin: 10px 0;
    box-shadow: 2px 10px 8px #ccc;
    border-radius: 15px;
}

    .upload_imgbox6 img {
        width: 100%;
        border-radius: 15px;
    }

.upload_imgbox7 {
    width: 100%;
    border: 5px solid #ccc;
    margin: 10px 0;
    padding:5px;
}

    .upload_imgbox7 img {
        width: 100%;       
    }

.upload_imgbox8 {
    width: 100%;
    border: 1px solid #ccc;
    margin: 10px 0;
    box-shadow: 2px 10px 8px #ccc;
    padding: 5px;
}

    .upload_imgbox8 img {
        width: 100%;
    }

.upload_imgbox9 {
    width: 100%;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 50px;
    padding: 5px;
}

    .upload_imgbox9 img {
        width: 100%;
        border-radius: 50px;
    }

.myfilesupload{
    height:500px;
    overflow-y:scroll;
}

.newfolderlinkupload{
    color:#000;
    font-size:14px;
    font-weight:600;
    margin-right:20px;
    margin-top:15px;
    display:inline-block;
}

.myfilesupload ul{
    padding:15px 0;
    margin:0;
    list-style:none;
}

.myfilesupload ul li{
    margin-bottom:5px;
}

.myfilesupload ul li a img{
    width:15px;
}

.newfoldertoggleboxupload{
    border:#ccc solid 1px;
    padding:15px;
    margin:15px 0;
}

    .newfoldertoggleboxupload .adminormbox{
        padding:0;
    }

    .newfoldertoggleboxupload h3 {
        padding: 0 0 15px 0;
        margin: 0;
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }

.uploadtoggleboxupload {
    border: #ccc solid 1px;
    padding: 15px;
    margin: 15px 0;
}

    .uploadtoggleboxupload h3 {
        padding: 0 0 15px 0;
        margin: 0;
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }

.hometable tr td img{
    width:38px;
}

.ck2_panel {
    padding: 20px;
}

.ck2_panel_box {
    border-bottom:#ccc solid 1px;
    padding:10px 0;
}











.aftermemberlogin_l h2 {
    padding: 0 0 30px 0;
    margin: 0;
    color: #4d8cd9;
    font-weight: bold;
    font-size: medium;
    font-size: 17px;
}

.aftermemberlogin_r {
    float: right;
}

.dashboard_main_inner {
    border: #ccc solid 1px;
    padding: 30px 15px 20px 15px;
}

.notificationtable {
    padding-bottom: 20px;
}

    .notificationtable table {
        border-right: solid 1px #c1c1c1;
    }

        .notificationtable table tr th {
            padding: 4px 8px;
            color: #fff;
            background-color: #468FDE;
            font-size: Medium;
            text-align: left;
            font-weight: 700;
            font-size: 16px;
        }

        .notificationtable table tr td {
            padding: 5px;
            border: solid 1px #c1c1c1;
            color: #000;
            text-align: left;
            font-size: 14px;
        }


.mypersonal_ab .tab button.tablinks01.active, .mypersonal_ab .tab button.tablinks01:hover {
    background: #fff;
}

.mypersonal_ab .tab button.tablinks01 {
    width: 13.8% !important;
    text-align: center !important;
    display: inline-block !important;
    position: relative;
    color: #000;
    text-align: center;
    height: 138px;
    vertical-align: top;
    background: #fff !important;
    border:0;
}



.mypersonal_ab .tab button.tablinks01 img {
    width: 100% !important;
    display: inline-block !important;
    z-index: 0 !important;
    pointer-events: none;
}

.tabcontent01 {
    display: none;
}

.modalclosebtn {
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: #4a89dc;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;
}



.dashboard_main {
    width: 960px;
    border-top: 10px solid #2363b6;
    margin: 10px auto 40px auto;
    background: #fff;
    padding: 30px;
}

.popuppersonaldashboardbox {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard_main_inner {
    border: #ccc solid 1px;
    padding: 30px 15px 20px 15px;
}


.tabcontent h4 {
    font-size: 18px !important;
    color: #666666;
    font-size: 22px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 600;
}

.dashboard_main_inner {
    border: #ccc solid 1px;
    padding: 30px 15px 20px 15px;
}

    .dashboard_main_inner p {
        font-size: 13px;
        color: #666;
    }



.mypersosonalpopupsectionr {
    text-align: right;
}

.notificationtable {
    padding-bottom: 20px;
}

    .notificationtable table {
        border-right: solid 1px #c1c1c1;
    }

        .notificationtable table tr th {
            padding: 4px 8px;
            color: #fff;
            background-color: #468FDE;
            font-size: Medium;
            text-align: left;
            font-weight: 700;
            font-size: 16px;
        }

        .notificationtable table tr td {
            padding: 5px;
            border: solid 1px #c1c1c1;
            color: #000;
            text-align: left;
            font-size: 14px;
        }

.aftermemberlogin_r {
    float: right;
}

    .aftermemberlogin_r a {
        color: #2363b6;
        font-size: 16px;
        float: left;
        font-weight: 700;
    }

        .aftermemberlogin_r a i {
            font-size: 23px;
            color: #90c856;
            display: inline-block;
            vertical-align: middle;
            padding-right: 5px;
        }

.myorders_box {
    background: #eee;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
}

    .myorders_box span {
        display: block;
        font-size: 13px;
        color: #666;
        margin: 0 0 8px 0;
    }

.orderdetails {
    text-align: center;
}

.billingaddress h5 {
    padding: 20px 0 15px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.producttable table tr th {
    background: #2363b6;
    padding: 8px 10px;
    color: #fff;
    font-size: 12px;
    border-right: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
}

.producttable table tr td {
    background: #fff;
    padding: 8px 10px;
    color: #000;
    font-size: 14px;
    border-right: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
}

.totalprice {
    width: 300px;
    float: right;
    margin: 30px 0 30px 0;
}

.totalprice table {
    border: #ccc solid 1px;
}

.totalprice table tr td, .totalprice table tr th {
    border-right: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    padding: 8px 10px;
    color: #000;
    font-size: 14px;
}