﻿p {
    font-size: 15px;
}

.cart_banner_area {
    text-align: center;
    position: relative;
    padding-top: 182px;
    width: 100%;
}

/* Make sure to update the root css/global.css search form sytling as well !!!!! */
.simplesearch_input {
    background-image: url('../images/searchicon25w.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 5px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    background-color: #FFFFFF;
    width: 200px;
    height: 30px;
}

.simplesearch_button {
    padding: 8px;
    position: absolute;
    margin-left: -30px; /*position: relative; left: -75px; top: 2px;*/
    width: 30px;
    height: 27px;
    background-image: url('../shop/img/pixel.gif');
    background-color: transparent;
    background-repeat: no-repeat;
    border-style: none;
}


.searchform { /*padding: 5px;*/
    float: right;
    margin-left: 30px;
    clear: both;
    margin-top: 0px;
}

#searchform {
    width: 200px;
}

#searchform_div img {
    position: relative;
    top: 5px;
}

/*Category page - Shop home page*/
.brand-container {
    float: left;
    width: 295px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    color: #252525;
}

/*.brand-block {
   background-color: #fff;
    border: 1px #e1e1e1 solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
/*border-radius: 3px;*/ /* future proofing */
/*-khtml-border-radius: 3px;*/ /* for old Konqueror browsers */
/*padding: 10px;
    margin-bottom: 15px;
    height: 217px;
}*/

/*.brand-block .img {
        padding: 5px;
        height: 177px;
    }*/

/*.brand-block .img img {*/
/*vertical-align: middle;*/
/*max-width: 265px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }*/

.brand-block .title {
    position: absolute;
    /*background-color: #bababa;*/
    color: #363636;
    font-size: 24px;
    text-align: center;
    /*font-family: 'Myriad Pro Regular';*/
    width: 293px;
    padding: 7px 0px;
    margin: 0px -5px 0px -11px;
    /*border-bottom: 1px #9b9b9b solid;
        border-left: 1px #9b9b9b solid;
        border-right: 1px #9b9b9b solid;*/
    /* top left, top right, bottom right, bottom left*/
    /*-moz-border-radius: 0px 0px 3px 3px;
        -webkit-border-radius: 0px 0px 3px 3px;*/
    /*border-radius: 0px 0px 3px 3px;*/ /* future proofing */
    /*-khtml-border-radius: 0px 0px 3px 3px;*/ /* for old Konqueror browsers */
}

    .brand-block .title a {
        text-decoration: none;
        /*color: #fff;*/
        color: #363636;
    }

.cart_view {
    text-align: right;
    padding: 5px;
}

    .cart_view a {
        font-size: 18px;
        color: #fff;
        padding-left: 8px;
        text-decoration: underline;
        font-family: 'proximanova-regular-webfont';
    }

h1 {
    margin: 0px 0 20px 0;
}

/* Item_Details.aspx */
#item-details {
    border: 1px solid #cecece;
    background: #fff;
    padding: 20px 30px;
    height: 100% !important;
}

.cart_container {
    border: 1px solid #cecece;
    background: #fff;
    padding: 20px 30px;
    height: 100% !important;
}

.pricing {
    width: 100%;
}

.prices {
    float: right;
   margin:5px;
}

.prices-last {
    float: right;
    margin-right: 0;
}

h3.item-heading {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #454545;
}

.the-price {
    /*font-family: 'Myriad Pro Regular';*/
    color: #0072bc;
}

.item-name {
    margin: 0;
    padding: 0;
    width: 140px;
    margin-bottom: 10px;
    /*border: solid 1px red;*/
}

.item-info {
    height: 150px;
    font-size: 14px;
    /*font-family: 'Myriad Pro Regular';*/
    color: #454545;
    margin-top: 20px;
}

h3.stock-message {
    color: #1a7a30;
}

.qty {
    border: 1px solid #cecece;
    padding: 10px;
    width: 55px;
    background-color: #f5f5f5;
    margin-left: 12px;
}

.qty-cartview {
    border: 1px solid #cecece;
    padding: 5px;
    width: 40px;
    background-color: #f5f5f5;
}

.cart-add {
    vertical-align: middle;
}

.view-cart-link {
}
/* item details tabs */

.tabs {
    position: relative;
    min-height: 300px !important; /* uggh */
    margin: 25px 0;
    /*border:1px green solid;*/
    padding-bottom: 20px;
    width: 850px;
}

.tab {
    float: left;
    padding: 0;
    border: none;
    margin: 0;
    line-height: 28px;
}

    .tab label {
        background: #eee;
        padding: 5px 10px 10px 10px;
        border: 1px solid #cecece;
        margin-left: -1px;
        position: relative;
        left: 1px;
        color: #454545;
        /*font-family: 'Myriad Pro Semibold';*/
        font-size: 18px;
    }

[type=radio]:checked ~ label {
    background: #fffdee;
    /*border-bottom: 1px solid white;*/
    border-bottom: none;
    z-index: 2;
    /*font-family: 'proxima_nova_rgregular', sans-serif; */
}

    [type=radio]:checked ~ label ~ .tab-content {
        z-index: 1;
        margin-top: -1px;
    }

.tab [type=radio] {
    display: none;
}

.tab-content {
    position: absolute;
    background: #fffdee;
    padding: 20px;
    border: 1px solid #cecece;
    color: #454545;
    top: 36px !important;
    left: 0;
    bottom: 0;
    line-height: 1.25em;
    font-size: .7em;
    overflow: auto;
    width: 100%;
}

.spacer {
    clear: both;
    padding: 20px;
}



/* end item details tabs */


/* End Item_Details.apx*/

.col-35 {
    width: 34%;
    float: left;
    margin-right: 1%;
    /*border:1px solid red;*/
}

.col-55 {
    width: 54%;
    float: left;
    margin-right: 1%;
    /*border:1px solid red;*/
}

.col-50 {
    width: 49%;
    float: left;
    margin-right: 1%;
    /*border:1px solid red;*/
}

.txtdrkblue {
    color: #0054a6;
}

.txtdrkred {
    color:darkred;
}

.bgDrkBlue {
    background: #0054a6;
}

.cookie_nav {
    font-weight: bold;
}



    .cookie_nav a:hover {
        text-decoration: underline;
    }

.main_brdcrmb ol li a {
    color: #c2de9e;
}

.txtblue {
    color: #0072bc;
}
