﻿@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

:root {
    --blue: #294b9f;
}

td.highlight {
    position: relative;
}

body .cstm-btn {
    background-color: #0766c6;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

.cstm_btn a {
    background-color: #0766c6;
    color: #ffffff;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}


/*=========commission_cont css start here===============*/

.commission_cont .d_flex {
    display: flex;
    align-items: center;
}

.commission_cont .mrgn_rgt {
    margin-right: 10px;
    margin-bottom: 0px;
}

.commission_cont input[type="button"] {
    background-color: #0766c6;
    color: #ffffff;
    border: 2px solid #0766c6;
}

.commission_cont .table_tab_heading {
    padding: 0 0 30px 0;
    margin: 0;
    color: #0766c6;
    font-weight: bold;
    font-size: 1.5em;
}

.commission_cont .pagination li a {
    background-color: #0766c6;
    color: #ffffff;
    cursor: pointer;
}

body .hometableComm thead th {
    background-color: #294b9f;
    color: #Ffffff;
    vertical-align: middle;
}

    body .hometableComm thead th::after {
        top: 50%;
        transform: translateY(-50%);
    }

div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_filter input[type="search"] {
    border: 1px solid #898989;
}

.commission_cont input[type='text'] {
    border: 1px solid #898989;
    height: 26px;
    border-radius: 0px;
}

.commission_cont .dataTables_wrapper {
    margin-top: 2rem;
}

.commission_cont .aftermemberlogin_r a,
body .aftermemberlogin_r a,
.commission_cont .aftermemberlogin_r i,
body .aftermemberlogin_r i {
    font-size: 1.5rem;
    font-weight: 500;
}

.tab-content-cont ul.nav.nav-pills li:hover a {
    background-color: #0766c6;
    color: #ffffff;
}

.tab-content-cont ul.nav.nav-pills li {
    border: 1px solid #0766c6;
    border-radius: 5px;
}

.tab-content-cont {
    margin-top: 40px;
}

    .tab-content-cont .dashboard_main {
        margin-top: 0px;
    }

    .tab-content-cont ul.nav.nav-pills {
        background-color: #ffffff;
    }

        .tab-content-cont ul.nav.nav-pills li a {
            font-weight: 600;
        }

.commission_cont .Comm_View_title {
    margin-top: 3rem;
    font-weight: bold;
}

.commission_cont .pagination li:hover a {
    background-color: #0766c6;
    color: #ffffff;
}


/*=========genealogy_mainpanel css start here===============*/

.genealogy_mainpanel .treeview_box .treeView li button.treebutton {
    color: #054689;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 26px;
}

.genealogy_mainpanel .treeView li span {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 4px 0;
}

.treeView ul.treeView.child-tree-node {
    border-left: 1px solid #cccccc;
}


/*=========genealogysearch css start here===============*/

.modal-cont-wrap {
    width: 100%;
    max-width: 900px;
}


/*=========access_denied_cont css start here===============*/

.access_denied_cont {
    background-color: #000;
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0px;
}

    .access_denied_cont h1 {
        color: #0766c6;
        font-size: 4rem;
    }

    .access_denied_cont .cstm_btn {
        margin: 1rem 0 0;
    }


/*=========thankyou page css start here===============*/

.thankyou_bg_cont {
    background-image: url(/Assets/images/thanks-bg.png);
    color: #b0d235;
    text-align: center;
    padding: 15rem 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

    .thankyou_bg_cont h1 {
        font-size: 7rem;
        font-weight: 700;
    }

.phone_verifify_sec.bg-img_cont {
    background: url(/Assets/images/form-bg-img.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.phone_verifify_sec .logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.phone_verifify_sec .min-vh-100 {
    min-height: 100vh !important;
}

.phone_verifify_sec .verfication_content_cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: auto;
}

    .phone_verifify_sec .verfication_content_cont h1 {
        font-size: 4.5rem;
        font-weight: bold;
        color: #e16242;
    }

.phone_verifify_sec label {
    display: block;
}

.phone_verifify_sec input {
    width: 100%;
}

.phone_verifify_sec input {
    width: 100%;
    border-radius: 13px;
    border: 1px solid #ced4da;
    padding: 0.6rem 0.75rem;
}

.phone_verifify_sec .mb {
    margin-bottom: 1.4rem;
}

.instruction_cntnt h3 {
    font-size: 2rem;
    font-weight: 600;
}


/*=========admin css start here===============*/

.res_img_cls {
    max-width: 100%;
}

.col_align_cls {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.sidebar_panel {
    background-color: var(--blue);
    border-radius: 0px 0px 15px 15px;
}

    .sidebar_panel .tablinks {
        background-color: transparent;
    }

.faq1.sidebar_panel .tab ul {
    padding: 0px;
}

.faq1.sidebar_panel .tab li {
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0px;
    list-style-type: none;
}

.faq1.sidebar_panel .tab ul li ul.sub-menu li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.faq1.sidebar_panel .tab ul li ul.sub-menu {
    padding-left: 13px;
}

.faq1.sidebar_panel .tab li .sidebar_panel ul {
    padding: 0px;
    list-style-type: none;
}

.faq1.sidebar_panel .tab li .tablinks {
    margin: 0px;
}

.faq1.sidebar_panel .tab h5 {
    color: #ffffff;
    font-weight: normal;
}

.admin_container .admin_navigation {
    border-radius: 15px 15px 15px 0px;
    margin: 10px 0 0px 0;
}

.sidebar_panel ul.sub-menu {
    padding-left: 22px;
}

.admin_container .tabcontainer_content {
    margin: 3rem 0;
}

.dspy-none {
    display: none;
}

.faq1.sidebar_panel .tab li:hover,
.faq1.sidebar_panel .tab li:focus,
.faq1.sidebar_panel .tab li.active,
.faq1.sidebar_panel .tab li .tablinks.active {
    background-color: #c6d5f9;
    color: #294b9f;
}

    .faq1.sidebar_panel .tab li:hover .tablinks,
    .faq1.sidebar_panel .tab li:hover h5 {
        color: #294b9f;
    }

.faq1.sidebar_panel .tab li .tablinks,
.faq1.sidebar_panel .tab li h5 {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.admin_container .stellarnav.admin_navigation {
    padding: 15px;
}

body .btn,
body .btn:hover {
    background-color: #294b9f;
    color: #ffffff;
}

.phone_verifify_sec .verfication_content_cont form.form-bg-cont.w-100 {
    width: 100%;
    max-width: 35rem;
}

.phone_verifify_sec a.verify_text {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.6rem;
}


/*====rank-management css start here======*/

.rank-management-tbl h1 {
    font-size: 20px;
    margin-bottom: 48px;
}

.rank-management-tbl {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

    .rank-management-tbl .table-hd-text {
        display: block;
        margin-top: 10px;
    }

    .rank-management-tbl tr + tr th,
    .rank-management-tbl tbody th {
        background: #daeef3;
    }

    .rank-management-tbl table,
    .rank-management-tbl th,
    .rank-management-tbl td {
        border: solid 1px;
        border-collapse: collapse;
    }

    .rank-management-tbl .rank-table-cont .green-bg {
        background-color: #c6e0b4;
        border-right: 10px solid#ffffff;
    }

    .rank-management-tbl div.first_scroll,
    .rank-management-tbl div.second_scroll,
    .rank-management-tbl div.third_scroll,
    .rank-management-tbl div.fourth_scroll {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        overflow-y: scroll
    }

    .rank-management-tbl .rank-table-cont .sky-bg {
        background-color: #ddebf7;
    }

    .rank-management-tbl .rank-table-cont .btn,
    .rank-management-tbl .rank-table-cont .btn:hover {
        width: 100%;
    }

    .rank-management-tbl .btn,
    .rank-management-tbl .btn:hover {
        border: none;
        font-size: 16px;
        background-color: #ddebf7;
        border-right: 10px solid #ffffff;
        padding: 0.3rem 0.7rem;
        border-radius: 0;
        margin-top: 0.6rem;
        color: #000000;
    }

    .rank-management-tbl .rank-table-cont .yellow-bg {
        background-color: #ffe699;
    }

    .rank-management-tbl .rank-table-cont tr.per-list-cont td {
        vertical-align: top;
    }

    .rank-management-tbl .rank-table-cont .highlight-text-bg {
        background-color: #ddf4ff;
    }

    .rank-management-tbl .table-cont .list-styling-cls {
        height: 241px;
        overflow-y: scroll;
        margin-bottom: 1.1rem;
    }

    .rank-management-tbl .btn-check:focus + .btn,
    .rank-management-tbl .btn:focus {
        box-shadow: none;
    }

    .rank-management-tbl .rank-table-cont th,
    .rank-management-tbl .rank-table-cont td {
        vertical-align: middle;
        text-align: center;
        border: none;
        font-weight: normal;
    }

    .rank-management-tbl .rank-table-cont,
    .rank-management-tbl .rank-table-cont th,
    .rank-management-tbl .rank-table-cont td,
    .rank-management-tbl .rank-table-cont p {
        font-size: 16px;
        padding: 0px;
    }

        .rank-management-tbl .rank-table-cont p {
            margin: 0px;
        }

    .rank-management-tbl .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .rank-management-tbl .color-indication-cont .yellow-color-indi,
    .rank-management-tbl .color-indication-cont .green-color-indi {
        position: relative;
        padding-left: 27px;
        margin-bottom: 0px;
    }

        .rank-management-tbl .color-indication-cont .yellow-color-indi::after,
        .rank-management-tbl .color-indication-cont .green-color-indi::after {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            left: 0;
            top: 0.3rem;
            background-color: #c6e0b4;
        }

        .rank-management-tbl .color-indication-cont .yellow-color-indi::after {
            background-color: #edc045;
        }

    .rank-management-tbl .rank-table-cont td.tbl-pd-lft {
        border-left: 20px solid #ffffff;
    }

    .rank-management-tbl .rank-table-cont .tbl-pd-rgt,
    .rank-table-cont .border-tp-cstm.tbl-pd-rgt {
        border-right: 10px solid #ffffff;
    }

    .rank-management-tbl table.dataTable thead .sorting_asc:after,
    .rank-management-tbl table.dataTable thead .sorting:after {
        opacity: 1;
    }

    .rank-management-tbl .rank-table-cont .border-tp-cstm {
        border-top: 2px solid #000000;
        border-right: 10px solid #ffffff;
    }

        .rank-management-tbl .rank-table-cont .border-tp-cstm:last-child {
            border-right: 0px;
        }

    .rank-management-tbl .table-cont .border-cls-cstm {
        border: 2px solid #000000;
        display: block;
    }

    .rank-management-tbl .table-cont .border-lrt-cls {
        border-bottom: 0px;
    }

    .rank-management-tbl .table-cont .border-lrb-cls {
        border-top: 0px;
    }

    .rank-management-tbl .table-cont .per-list-cont a {
        color: #000000;
        text-decoration: none;
    }

    .rank-management-tbl .table-hd-text .text-black {
        text-decoration: underline;
        color: #000000;
    }

    .rank-management-tbl .table-responsive table.table {
        border: none;
    }

    .rank-management-tbl .rank-table-cont tr.mb-4 {
        margin-bottom: 24px;
    }

    .rank-management-tbl .rank-table-cont tr.my-4.d-block {
        margin-top: 24px;
        margin-bottom: 24px;
        display: block
    }

    .rank-management-tbl .table-responsive table.table {
        margin-bottom: 24px;
    }

    .rank-management-tbl .rank-table-cont tr td hr {
        margin: 0px;
        border-color: #e0e0e0;
    }

    .rank-management-tbl .rank-table-cont tr td p {
        line-height: 30px;
        color: #212529;
    }

.popupButton {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    background: #3e3e3e;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}


/*====modal css start here======*/

body .modal-xl {
    max-width: 1000px;
    margin: 1.75rem auto;
}

body .modal-lg {
    max-width: 800px;
    margin: 1.75rem auto;
}

body .modal-sm {
    max-width: 500px;
    margin: 1.75rem auto;
}

a.admin_btn:hover,
a.admin_btn :focus {
    color: #ffffff;
    text-decoration: none;
}


/*====table css start here======*/

.bundle-cont {
    padding: 5rem 1rem;
}

    .bundle-cont strike {
        color: #2b79c3;
    }

        .bundle-cont strike span {
            color: #000000;
        }

    .bundle-cont h1 {
        text-align: center;
        border: 2px solid #2b79c3;
        width: auto;
        padding: 1rem 1rem;
        font-weight: bold;
        max-width: max-content;
        margin: 0 auto 3rem;
    }


.bundle-table-cont th:nth-child(1) {
    width: 40%;
}

.bundle-table-cont th {
    width: 12%;
}

.bundle-table-cont .table > thead > tr > th,
.bundle-table-cont > .table > tbody > tr > td {
    vertical-align: middle;
}

.bundle-table-cont tr td:nth-child(1) {
    text-align: left;
}

.bundle-table-cont tr td {
    font-size: 1.5rem;
    text-align: center;
}

.bundle-table-cont tr.brder-none td {
    text-align: center;
}

.bundle-table-cont tr th {
    font-size: 1.8rem;
    font-weight: bold;
}

.bundle-table-cont tr th {
    text-align: center;
}

.bundle-table-cont .table-bordered > tbody > tr.brder-none > td {
    border: 0px;
}

.bundle-table-cont .table > thead > tr > th,
.bundle-table-cont .table-bordered > tbody > tr > td.bg-bl-color {
    background-color: #2b79c3;
    color: #ffffff;
}

.bundle-table-cont table {
    background-color: #f9fcff;
}

.bundle-table-cont .btn-primary.active,
.bundle-table-cont .btn-primary:active,
.bundle-table-cont .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #2b79c3;
    background-image: none;
    border-color: #2b79c3;
}

.bundle-table-cont .bundle-table-cont table tr td {
    font-size: 1.7rem;
}

.bundle-table-cont .btn-default,
.bundle-table-cont .btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bundle-table-cont .btn-group button.btn {
    padding: 0.8rem;
    font-size: 1.5rem;
}

    .bundle-table-cont .btn-group button.btn,
    .bundle-table-cont .btn-group button.btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }

.bundle-cont button.btn.cart-btn-cls,
.bundle-cont .buy-btn-cls {
    padding: 10px 18px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.bundle-cont button.btn.cart-btn-cls {
    margin-bottom: 10px;
}

.bundle-table-cont {
    margin-top: 4rem;
    width: 100%;
    float: left;
    margin-bottom: 4rem;
}

    .bundle-table-cont tr th,
    .bundle-table-cont tr td {
        font-size: 1.8rem;
    }

.bundle-cont .cart-btn-cls,
.bundle-cont .cart-btn-cls:hover {
    background: #f0f0f0;
    border-color: #ebe7e7;
    color: #000000;
}

.bundle-cont .buy-btn-cls,
.bundle-cont .buy-btn-cls:hover {
    background: #60bd0e;
    border-color: #61b715;
}

    .bundle-cont button.btn.cart-btn-cls:focus,
    .bundle-cont button.btn.cart-btn-cls:active:focus,
    .bundle-cont .buy-btn-cls:focus,
    .bundle-cont .buy-btn-cls:active:focus {
        outline: none;
        box-shadow: none;
    }

    .bundle-cont .buy-btn-cls:focus,
    .bundle-cont .buy-btn-cls:active:focus {
        color: #ffffff;
    }

.role_modifi_cont label {
    margin: 0px;
    vertical-align: sub;
}

.role_modifi_cont .btn_spc {
    margin: 20px 0px 0px;
}

.role_modifi_cont .myinfopassword_bottom span {
    min-width: 13%;
    width: auto;
}

.role_modifi_cont span {
    width: 14%;
    margin: 0px;
}

.bundle-table-cont .table-bordered > tbody > tr.bundle_tbl_hglttext > td {
    text-align: left;
    font-size: 3.1rem;
    padding-left: 10%;
    background-color: #eff7e8;
}

.bundle-table-cont table tr, .bundle-table-cont table td {
    vertical-align: middle !important;
}

.bundle-table-cont .item-tr td.highlight {
    background-color: #fff285;
}








.bundle-table-cont .item-tr td.highlight_text {
    animation: bg 4s ease-in;
    -webkit-animation: bg 4s ease-in;
    -moz-animation: bg 4s ease-in;
    -ms-animation: bg 4s ease-in;
    -o-animation: bg 4s ease-in;
    background: rgba(230,245,178,1);
}

@-webkit-keyframes bg {
    0% {
        background: rgba(230,245,178,0);
    }

    20% {
        background: rgba(230,245,178,0.7);
    }

    50% 70% {
        background: rgba(230,245,178,0.8);
    }

    100% {
        background: rgba(230,245,178,1);
    }
}

@-moz-keyframes bg {
    0% {
        background: rgba(230,245,178,0);
    }

    20% {
        background: rgba(230,245,178,0.7);
    }

    50% 70% {
        background: rgba(230,245,178,0.8);
    }

    100% {
        background: rgba(230,245,178,1);
    }
}

@-ms-keyframes bg {
    0% {
        background: rgba(230,245,178,0);
    }

    20% {
        background: rgba(230,245,178,0.7);
    }

    50% 70% {
        background: rgba(230,245,178,0.8);
    }

    100% {
        background: rgba(230,245,178,1);
    }
}

@-o-keyframes bg {
    0% {
        background: rgba(230,245,178,0);
    }

    20% {
        background: rgba(230,245,178,0.7);
    }

    50% 70% {
        background: rgba(230,245,178,0.8);
    }

    100% {
        background: rgba(230,245,178,1);
    }
}


/*=====category box css start here=====*/
.category-wrapper-content {
    max-width: 990px;
    margin: auto;
    padding: 0px 10px;
}

    .category-wrapper-content .item-box .category-item {
        width: 32.33333%;
        margin: 0 0.5% 50px;
        border: #d2cece solid 1px;
        padding: 22px 10px;
        background: #fff;
        float: left;
        text-align: center;
    }

    .category-wrapper-content h2 {
        text-align: center;
        margin: 50px 0px;
    }

    .category-wrapper-content .item-box .picture a img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }

    .category-wrapper-content .item-box img {
        max-width: 100%;
    }

    .category-wrapper-content .item-box:hover .picture a img {
        opacity: 0.85;
    }

    .category-wrapper-content h2.title, .category-wrapper-content h2.title a {
        text-align: center;
        font-size: 22px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 18px 0 0 0;
        color: #444444;
        margin: 0px;
    }

.footer.memberfooter {
    width: 100%;
    float: left;
}

/*26-7-2022 css start here*/
.form-cont {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 16%);
}

body .btn-cstm-cls {
    background: #60bd0e;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 0px 0px;
    border: none;
}

body .form-cont input::placeholder {
    font-size: 15px;
}

.form-cont .form-control {
    margin-bottom: 0px;
}

.form-cont label {
    margin-bottom: 5px;
    margin-top: 15px;
}

.form-cont .login-link-text {
    margin: 0 0 7px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 17px;
    font-weight: 500;
}

.form-cont span.field-validation-error {
    position: relative;
    border: 0;
    bottom: 0px;
    margin-top: 5px;
}

.form-cont h1.login-hd-text {
    width: 100%;
    margin-bottom: 25px;
}

.form-cont h1 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 17px;
    font-family: 'Proxima Nova Rg';
    font-size: 31px;
    line-height: 30px;
    padding: 0;
    margin-top: 0;
    display: inline-block;
}

    .form-cont h1:before {
        content: '';
        width: 30px;
        height: 2px;
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: #2c6085;
        right: 0;
        margin: 0 auto;
    }

.form-cont .form-subhd {
    text-align: center;
    margin-bottom: 30px;
}

.joinformpanel .contact_l .form-control {
    display: inline-block;
}

.joinformpanel .terms-cond-sec p br {
    display: none;
}

.joinformpanel .terms-cond-sec p {
    width: 100% !important;
}
/*26-7-2022 css end here*/
div#broucherModal .modal-body .dashboard_main_inner a, body .modal-footer button.btn.btn-info {
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    background: #3e3e3e;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: inline-block;
    min-width: 120px;
}

div#broucherModal .modal-content {
    max-width: 500px;
    margin: 10px auto;
}

div#broucherModal .modal-header {
    padding: 60px;
}

div#broucherModal .modal-body .dashboard_main_inner hr, div#broucherModal .modal-body .modal-footer {
    display: none;
}

div#broucherModal .modal-header .modal-body {
    padding: 49px 10px 0px;
}

div#broucherModal .modal-header button.close, body .modal-header button.close {
    opacity: 1;
    background-color: #60bd0e;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

div#broucherModal .modal-header button.close span, body .modal-header button.close span {
    font-size: 38px;
    color: #ffffff;
    opacity: 1;
    font-weight: normal;
    line-height: normal;
}
#shopify-section-new-collection-template .row ul.grid.grid--uniform.product-single__thumbnails.product-single__thumbnails-new-collection-template img.product-single__thumbnail-image {
    margin-bottom: 10px;
}
body form .modal-header button.close span {
    line-height: normal !important;
}
#shopify-section-new-collection-template #ingredientsBtn, #shopify-section-new-collection-template #brochureBtn {
    font-size: 14px;
    color: #60bd0e;
    text-transform: uppercase;
    text-decoration: underline;
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
#shopify-section-new-collection-template .row .product-desc {
    flex: inherit !important;
}
#shopify-section-new-collection-template .row ul.grid.grid--uniform.product-single__thumbnails.product-single__thumbnails-new-collection-template {
    padding: 0px;
}

body .modal-header button span {
    line-height:24px !important;
}
div#broucherModal .modal-body .dashboard_main_inner {
    display: flex;
    justify-content: space-between;
}

.homeproduct .product_categories .category_item img, .product_categories_productpage .category_item img {
    width: 100%;
}

.related-products {
    margin: 0px;
    padding: 0px;
}

.shopify-section .fact_modal a.popupButton:hover, .shopify-section .fact_modal a.popupButton:focus {
    color: #ffffff !important;
}

body .modal-footer {
    padding: 15px 15px;
}

div#shopify-section-related-products .card_item a:focus {
    outline: none;
}

body .modal-footer button.btn.btn-info {
    width: auto;
    border: none;
}

.header .stellarnav {
    padding: 25px 0px;
}

.detail-img-cont p span img {
    width: 100%;
    max-width: 946px;
}

div#transferAreaDiv .transferarea-info h3 {
    line-height: 7px;
    font-weight: 600;
    font-size: 19px;
}

.dropdown-menu.cashsummarycont {
    width: 100%;
    padding: 20px 20px 15px;
}

.dash-cont-wrap .myinfomain .myinfopassword_bottom span#CurrentPassword-error {
    margin: 0px 0px 0px 10px;
}

.dash-cont-wrap .field-validation-error span {
    width: 100%;
    padding: 0px;
}

.dash-cont-wrap .field-validation-error {
    width: 47% !important;
    float: left !important;
    display: inline-block !important;
    padding: 0px 0px 0px 10px;
}

.dash-cont-wrap span:empty {
    display: none;
}

.dash-cont-wrap .myinfomain .myinfopassword_bottom span#CurrentPassword-error {
    margin: 0px;
}

.dash-cont-wrap .dashboard_main_inner .myinfotop_r, .dash-cont-wrap .dashboard_main_inner .myinfotop_l {
    border: none;
}

.dash-cont-wrap .dashboard_main_inner .myinfobox, body .dash-cont-wrap#myInfoTopDiv .dashboard_main_inner .myinfobutton {
    border-bottom: solid 1px #c1c1c1;
    width: 80% !important;
}

.dash-cont-wrap .myinfobutton {
    width: 80%;
}

.table-responsive-cls table #CashDiv tr td {
    padding: 8px;
}

    .table-responsive-cls table #CashDiv tr td:last-child {
        display: none;
    }

.table-responsive-cls table #CashDiv tr {
    border: 1px solid #ddd;
    clear: both;
}

    .table-responsive-cls table #CashDiv tr td:nth-child(2) {
        width: 61%;
    }

.myinfobox .myinfotop_l, .myinfobox .myinfotop_r {
    border: none;
}

div#myModalEditMyInfo .modal-header button.close {
    line-height: normal;
}

@media(max-width:1365px) {
    .header .stellarnav li a {
        padding: 0px 6px;
    }
}

@media(max-width:991px) {
    body .stellarnav.mobile > ul > li > a.dd-toggle, body .member_navigation ul li a:hover {
        height: 46px;
    }
    .stellarnav li.has-sub:nth-child(4) a.dd-toggle, .member_navigation ul ul li a.dd-toggle:hover {
        background-color: #000000 !important;
    }
    .bundle-table-cont .table-bordered > tbody > tr.bundle_tbl_hglttext > td {
        font-size: 2.8rem;
    }
    body .stellarnav.dark .menu-toggle span.bars span, body .stellarnav.mobile > ul > li > a.dd-toggle, body .member_navigation ul li a:hover {
        background: #000000;
    }
    .bundle-table-cont th:nth-child(1) {
        width: 25%;
    }
    .stellarnav li.has-sub:nth-child(4) ul {
        left:0px !important;
    }
    .category-wrapper-content h2.title, .category-wrapper-content h2.title a {
        font-size: 18px;
    }

    body .header .stellarnav.dark li a, body .member_navigation ul li a {
        color: #ffffff !important;
    }

    .stellarnav.dark a.menu-toggle, body .member_navigation .has-sub ul li a {
        color: #000000 !important;
    }

    body .stellarnav.dark .menu-toggle span.bars span{
        background: #000000;
    }

    .stellarnav.dark.right .menu-toggle:nth-child(2) {
        display: none;
    }

    .stellarnav.mobile {
        text-align: center;
    }
    .header .stellarnav ul ul {
        right: 0;
        padding: 0 15px 0 9px;
    }

    li.has-sub {
        padding: 0 0 10px;
    }

    .stellarnav ul ul.has-sub li span {
        padding: 8px 15px 8px;
    }

    ul.has-sub a {
        padding: 10px 15px 10px !important;
    }
    .stellarnav ul ul.has-sub li span, .stellarnav.dark .irp-menu-item a {
        color: #fff !important;
    }
    .irp-menu-item ul.has-sub li:nth-child(1) .dd-toggle, .irp-menu-item ul.has-sub li:nth-child(2) .dd-toggle {
        display: none;
    }
}

@media(max-width:767px) {
    .member_header .flex-wrap-cls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
   
    .member_header .header_r {
        display: flex;
        float: none;
        justify-content: center;
        margin-top: 10px;
    }

    .tab-content-cont .commission_cont .dashboard_main {
        padding: 15px;
    }

    .bundle-cont h1 {
        font-size: 20px;
    }

    .bundle-cont h3 {
        font-size: 18px;
        text-align: center;
    }

    .form-cont .login-link-text {
        font-size: 15px;
    }

    .form-cont h1 {
        font-size: 25px;
    }

    body .btn-cstm-cls {
        margin: 20px auto 0px;
        display: block;
    }

    body .form-cont {
        max-width: 450px;
        padding: 30px;
        margin: 50px auto;
    }

    .joinformpanel {
        padding: 20px;
    }

    .homeproduct .product_categories .category_item, .product_categories_productpage {
        text-align: center;
    }

        .homeproduct .product_categories .category_item img, .product_categories_productpage .category_item img {
            width: 100%;
            max-width: 410px;
            margin: 0px 0px 10px;
        }

    .effective_product h2 {
        font-size: 26px;
    }

    body #shopify-section-new-collection-template .maindiv {
        padding: 5px;
    }

    body #shopify-section-new-collection-template .buy-now a {
        padding: 12px;
    }
}


@media(max-width:745px) {
    .category-wrapper-content h2.title, .category-wrapper-content h2.title a {
        min-height: 56px;
    }
}

@media(max-width:575px) {
    .related-products {
        display: block;
    }

        .related-products li.product-item {
            width: 100% !important;
            max-width: 300px;
            margin: 0 auto;
        }

    .commission_cont .d_flex {
        display: inherit;
        margin-bottom: 1.2rem;
    }

    .commission_cont .mrgn_rgt,
    .commission_cont input[type='text'] {
        margin-right: 0px;
        margin-bottom: 0.2rem;
    }

    .access_denied_cont h1 {
        font-size: 3rem;
    }

    .access_denied_cont h3 {
        font-size: 1.3rem;
        line-height: normal;
    }

    .tab-content-cont ul.nav.nav-pills li {
        width: 100%;
        text-align: center;
    }

    .category-wrapper-content .item-box .category-item {
        width: 100%;
        max-width: 300px;
        float: none;
        margin: 30px auto;
    }

    .category-wrapper-content h2.title, .category-wrapper-content h2.title a {
        min-height: inherit;
    }

    body .form-cont {
        max-width: 300px;
        margin: 50px auto;
    }

    div#broucherModal .modal-body .dashboard_main_inner {
        display: inherit;
    }

        div#broucherModal .modal-body .dashboard_main_inner a {
            margin-top: 10px;
        }

    div#banner .owl-stage-outer .overlay1, div#banner .owl-stage-outer .overlay2, div#banner .owl-stage-outer .overlay3, div#banner .owl-stage-outer .overlay4, div#banner .owl-stage-outer .overlay5, div#banner .owl-stage-outer .overlay6 {
        position: relative;
        background: #000000;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        animation-duration: 1s;
        padding: 0px;
        width: 100%;
        padding: 15px 30px 50px;
    }

        div#banner .owl-stage-outer .overlay1 h2,
        div#banner .owl-stage-outer .overlay2 h2,
        div#banner .owl-stage-outer .overlay3 h2,
        div#banner .owl-stage-outer .overlay4 h2,
        div#banner .owl-stage-outer .overlay5 h2,
        div#banner .owl-stage-outer .overlay6 h2 {
            font-size: 32px;
            color: #ffffff
        }

    div#banner .owl-stage-outer {
        background-color: #000000;
    }

    .product-heading h1 {
        line-height: normal;
    }

        .product-heading h1 a {
            font-size: 27px;
        }

    .dash-cont-wrap span, .dash-cont-wrap input {
        width: 100% !important;
    }

    .dashboard_main.dash-cont-wrap .myinfopassword_bottom .row {
        margin: 0px;
    }

    .dash-cont-wrap .aftermemberlogin_r .threestar span, .dashboard_main_inner.myinfomain.role_modifi_cont .myinfopassword_bottom  span{
      
        width: 43% !important;
    }
    .role_modifi_cont .btn_spc input#btnChangeRole {
        margin-bottom: 10px;
    }
    .dash-cont-wrap .field-validation-error {
        padding: 0px;
        width: 100% !important;
        margin-top: -15px;
        margin-bottom: 9px;
    }

    .cashdiccont {
        width: 100%;
    }

    .table-responsive-cls table #CashDiv tr td {
        padding: 8px;
        width: 100% !important;
        display: block;
        text-align: left !important;
    }

    .dropdown-menu.cashsummarycont div#cashComSummary .row {
        margin-bottom: 10px;
    }

    .dash-cont-wrap .dashboard_main_inner .myinfobox, body .dash-cont-wrap#myInfoTopDiv .dashboard_main_inner .myinfobutton {
        width: 95% !important;
    }

    .dash-cont-wrap .aftermemberlogin_r {
        margin-bottom: 10px;
    }
}
.header .stellarnav ul ul, .stellarnav ul ul {
    right: 0;
}
