﻿body {
    background: #e9e9e9;
}

.member_header {
    padding: 8px 0 8px 0;
    background: #0766c6;
}

.logomember img {
    width: 200px;
}

.header_r {
    float: right;
}

.header_r_l {
    padding: 0 0;
    float: left;
    text-align:right;
}

    .header_r_l p {
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        color: #fff;
        padding: 0;
        margin: 0;
    }

.header_r_r {
    float: left;
   /* width: 100px;*/
    margin: 0 0 0 15px;
}

    .header_r_r a {
        color: #fff;
        background-color: transparent;
        border-style: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        display: inline-block;
        text-align: left;
        border: 0;
        width: 100%;
        font-size: 31px;
        padding: 5px;
    }

.member_navigation {
    float: none;
    background: #fff;
    padding:0  !important;
}

    .member_navigation ul li a {
        padding: 15px 12px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        color: #000 !important;
        margin: 0 1px;
    }

        .member_navigation ul li a:hover {
            background: #fff;
        }

    .member_navigation ul ul {
        background: #ffff !important;
        font-size: 13px !important;
        width: 350px;
        box-shadow:2px 2px 10px #ccc;
    }

        .member_navigation ul ul li {
            position:relative;
            padding:0 0 0 30px;
        }

            .member_navigation ul ul li:before {
                position: absolute;
                top: 25px;
                left: 20px;
                background: #000;
                width: 13px;
                height: 1px;
                content: "";
            }

            .member_navigation ul ul ul {
                left: 250px !important;
            }


        .member_navigation ul ul li a:hover {
            background: #fff !important;
        }


.stellarnav li.has-sub > a:after {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.stellarnav li.has-sub > a:hover:after {
    transform: rotate(180deg);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;

}


.dashboard_main {
    max-width: 1170px;
    margin: 20px auto 40px auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #d5dcec;
    width:95%;
}

.aftermemberlogin_l h2 {
    padding: 0 0 30px 0;
    margin: 0;
    color: #0766c6;
    font-weight: bold;
    font-size: medium;
    font-size: 1.5em;
}

.aftermemberlogin_r {
    float: right;
}

    .aftermemberlogin_r a i {
        font-size: 23px;
        color: #0766c6;
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
    }

    .aftermemberlogin_r a {
        color: #0766c6;
        font-size: 18px;
        float: left;
        font-weight: 400;
    }

.dashboard_main_inner {
    /* border: #ccc solid 1px; */
    padding: 10px 15px 20px 0;
}

.dashboard_main_inner_l {
    border-right: #000 solid 1px;
    border-bottom: #000 solid 1px;
    padding: 15px 0 0 0;
    width: 56%;
    float: left;
    margin: 0 0 0 15px;
    min-height: 330px
}

    .dashboard_main_inner_l h3 {
        padding: 0 0 15px 0;
        margin: 0;
        color: #000;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }


.dashboard_main_inner_r {
    border-bottom: #000 solid 1px;
    padding: 15px 0 0 0;
    width: 40%;
    float: left;
    margin: 0 15px 0 0;
    min-height: 330px
}

    .dashboard_main_inner_r h3 {
        padding: 0 0 15px 0;
        margin: 0;
        color: #000;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }


.dashboard_main_inner_l_box {
    padding-bottom: 20px;
}

    .dashboard_main_inner_l_box h6 {
        padding: 0 0 0 30px;
        margin: 0;
        color: #666666;
        font-size: 12px;
        font-weight: 400;
        position: relative;
    }

        .dashboard_main_inner_l_box h6:before {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #000;
            content: "";
            position: absolute;
            top: 5px;
            left: 15px;
        }

    .dashboard_main_inner_l_box span {
        padding: 5px 0 0 30px;
        margin: 0;
        color: #666666;
        font-size: 12px;
        font-weight: 400;
        display: block;
    }

.dashboard_main_inner_l a {
    display: block;
    color: #0766c6;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

    .dashboard_main_inner_l a:hover {
        color: #90c856;
        text-decoration: underline;
    }

.dashboard_main_inner_l b {
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    padding: 8px 0 0 0;
}

.form-control {
    font-size: 14px;
    height: 35px;
    box-shadow: none;
}

.dashboard_main_inner_r ul li a {
    font-size: 13px;
}

    .dashboard_main_inner_r ul li a:hover {
        color: #90c856;
        text-decoration: underline;
    }

.events_panel h2 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #666666;
}

.events_panel h3 {
    padding: 15px 0 0 0;
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #666666;
}

.events_panel span {
    padding: 10px 0 80px 0;
    margin: 0 0 30px 0;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: #666666;
    display: block;
    border-bottom: #ccc solid 1px;
}

.events_panel a {
    display: block;
}

.events_panel b a {
    display: inline-block;
}

.events_img1 {
    width: 600px;
    border: #ccc solid 1px;
    height: 258px;
    margin: 10px 0 0 0;
}

    .events_img1 img {
        width: 100%;
    }

.events_img2 {
    width: 220px;
    border: #ccc solid 1px;
    height: 220px;
}

    .events_img2 img {
        width: 100%;
    }

.events_panel b {
    padding: 10px 0 30px 0;
    margin: 0 0 30px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: #666666;
    display: block;
    border-bottom: #ccc solid 1px;
    text-align: left;
}



.events_img3 {
    width: 200px;
    border: #ccc solid 1px;
    height: 220px;
    margin: 10px 0;
    float: left;
}

    .events_img3 img {
        width: 100%;
    }

.events_img4 {
    width: 200px;
    border: #ccc solid 1px;
    height: 220px;
    float: left;
    margin: 10px 0 10px 15px;
}

    .events_img4 img {
        width: 100%;
    }

.eventslastb {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.faq {
    background: #808080;
}

.faq1 {
    width: 150px;
    float: left;
}

.faq2 {
    max-width: 943px;
    background: #fff;
    float: left;
    padding-left: 15px;
    min-height: 500px;
    width: 100%;
}

/******************************************************************TAB******************************/
.tab {
    overflow: hidden;
    text-align: left;
}

    .tab button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
        width: 100%;
        background: none;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-align: left;
    }

        .tab button:hover {
            background-color: #000;
        }

        .tab button.active {
            background-color: #000;
        }

.tabcontent {
    display: none;
}

.faq {
    margin-bottom: 30px;
}

.tabcontent h4 {
    font-size: 20px !important;
    color: #000;
    font-size: 22px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 600;
}

.faqbox h6 {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Myriad Pro Regular';
}

    .faqbox h6 span {
        text-transform: uppercase;
    }

.faqbox p {
    background-color: #f0f0f0;
    font-size: 13px;
    font-weight: 400;
    border-bottom: #000 solid 1px;
    padding: 5px 10px;
    margin: 0 0 40px 0;
}

.myinfotop_l {
    /* background-color: #E9ECF1; */
    font-weight: bold;
    border: none;
    border-bottom: solid 1px #c1c1c1;
    width: 33%;
    float: left;
}

    .myinfotop_l span {
        display: block;
        font-size: 18px;
        padding: 5px;
        color: #000;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
    }

.myinfotop_r {
    padding: 0 0 0 5px;
    border: solid 1px #c1c1c1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 14px;
    width: 30%;
    float: left;
}

    .myinfotop_r span {
        display: block;
        display: block;
        font-size: 18px;
        padding: 5px;
        color: #000;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
    }

.myinfomain {
    padding: 0;
}

.myinfobutton {  
    border-bottom: #ccc solid 1px;
    padding: 7px 5px;
    width: 60%;
}

    .myinfobutton a {
        padding: 7px 22px;
        /* background-color: #6B6B6B; */
        background-color: #fff;
        text-decoration: none;
        color: #fff;
        border: #0766c6 solid 1px;
        border-radius: 5px;
        color: #0766c6;
        display: inline-block;
    }

        .myinfobutton a:hover {
            background-color: #0766c6;
            color:#fff;
        }

    .myinfochangebtn {
        padding: 7px 22px;
        /* background-color: #6B6B6B; */
        background-color: #fff;
        text-decoration: none;
        color: #fff;
        border: #0766c6 solid 1px;
        border-radius: 5px;
        color: #0766c6;
        display: inline-block;
    }

        .myinfochangebtn:hover {
            background-color: #0766c6;
            color: #fff;
        }

        .myinfomain p {
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            color: #666666;
            padding: 20px 0 20px 5px;
            margin: 0;
        }

.myinfowelcometagl {
    width: 30%;
}

/*.myinfowelcometagr {
    width: 35%;
}*/

.myinfopassword_bottom {
    padding: 10px 0 0 0;
}

    .myinfopassword_bottom span {
        width: 25%;
        float: left;
        font-weight: 600;
        font-size: 14px;
        padding: 5px 5px 4.5px 10px;
        color: #474747;
        display: inline-block;
    }

    .myinfopassword_bottom input[type="password"] {
        width: 25%;
        float: left;
        height: 30px;
        border-radius: 3px;
        border: #777 solid 1px;
        margin-bottom: 10px;
    }

.changepasswordbtn {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
    margin-right:5px;
}


    .changepasswordbtn:hover {
        background-color: #0766c6;
        color: #fff;
    }

    .myinfobox:nth-child(even) .myinfotop_r {
        background: #fff
    }

.myinfobox:nth-child(odd) .myinfotop_r {
    background: #fff
}

.outbtn {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
    margin-right: 5px;
    width: 108px;
    text-align: center;
    font-size: 15px;
}

    .outbtn:hover {
        background-color: #0766c6;
        color: #fff;
    }

.changenumber input[type="submit"] {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
    margin-right: 5px;   
    text-align: center;
    font-size: 15px;
}

.changenumber input[type="submit"]:hover {
    background-color: #0766c6;
    color: #fff;
}

.genealogy_mainpanelsearch {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
}

   .genealogy_mainpanelsearch:hover {
        background-color: #0766c6;
        color: #fff;
    }

.notificationtable {
    padding-bottom: 20px;
}

    .notificationtable table {
       /* border-right: solid 1px #c1c1c1;
        border-left: #ccc solid 1px;*/
    }

        .notificationtable table tr th {
            padding: 4px 8px;
            color: #000;
            background-color: #fff;
            font-size: Medium;
            text-align: left;
            font-weight: 700;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            text-align:center;
        }

        .notificationtable table tr td {
            padding: 5px;
            border: solid 1px #c1c1c1;
            color: #000;
            text-align: left;
            font-weight: 700;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
        }

.changenumber span {
    color: #0766c6;
    font-size: Medium;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
}

.changenumber p {
    font-size: 13px;
}

.notificationtable table tr td b {
    color: red;
}

.mysupportcontact_details {
    padding: 0 0 30px 0;
}
    .mysupportcontact_details span {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        display: block;
        padding: 8px 0;
        border-bottom: #ccc solid 1px;
        width:40%;
    }

    .mysupportcontact_details b {
        color: #000;
        font-size: 18px;
        display: inline-block;
        width: 120px;
        font-weight: 400;
    }

.genealogy_mainpanel p {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

    .genealogy_mainpanel p a {
        color: #4a89dc;
        text-decoration: none;
        font-weight: 600;
        font-size: 13px;
    }

    .genealogy_mainpanel p b {
        color: #339966;
        font-weight: 600;
    }

        .genealogy_mainpanel p b i {
            display: inline-block;
            padding: 0 3px;
            font-size: 15px;
        }

    .genealogy_mainpanel p span {
        color: #ff0000;
        font-weight: 600;
    }

p.jkingboxgenealogy {
    padding-left: 60px;
}

    p.jkingboxgenealogy a {
        color: #000;
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
    }

.genealogy_mainpanel label {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.genealogy_mainpanel .form-control {
    width: 550px;
    height: 37px;
    border: #ccc solid 1px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 13px;
}

.genealogy_mainpanel .genealogy_mainpanelsearch {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.teamcoustomercount h4 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.1;
    color: #000;
}


.teamcoustomercount h5 {
    padding: 19px 0 20px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    color: #000;
}

.dashboard_main_inner p {
    font-size: 14px;
    color: #666;
    line-height: 26px;
}

.contactadmin_form {
    border-bottom: #4A89DC solid 2px;
    margin-bottom: 30px;
}

    .contactadmin_form h3 {
        padding: 0 0 15px 0;
        margin: 0;
        font-size: 1.3em;
        margin-bottom: 10px;
        font-family: 'Myriad Pro Regular';
        color: #000;
        font-weight: 700;
    }

    .contactadmin_form label {
        font-size: 18px;
        color: #000;
        font-weight: 400;
    }

    .contactadmin_form .form-control {
        width: 100%;
        height: 30px;
        border: #b7b7b7 solid 1px;
        padding: 0 10px;
        margin-bottom: 15px;
        font-size: 13px;
    }

.contactadminbutton {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
    margin:15px 0 30px 0;
}

    .contactadminbutton:hover {
        background-color: #0766c6;
        color: #fff;
    }

    .myfoxxcash_panel {
        width: 100%;
        border: #ccc solid 1px;
        padding: 20px;
        margin-bottom: 30px;
    }

.myfoxxcash_panel_inner {
    width: 400px;
}

.myfoxxcash_panel p {
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.myfoxxcash_panel_inner {
    padding: 25px 0 0 0;
}

    .myfoxxcash_panel_inner h6 {
        padding: 0 0 12px 0;
        margin: 0;
        color: #000;
        font-size: 18px;
        font-weight: 500;
    }

        .myfoxxcash_panel_inner h6 span {
            width: 300px;
            display: inline-block;
        }

    .myfoxxcash_panel_inner hr {
        margin: 0 0 5px 0;
        background: #000 !important;
        height: 1px;
    }

.myfoxxcash_panel_innerbottom {
    padding: 10px 0 0 0;
}

    .myfoxxcash_panel_innerbottom p {
        font-size: 12px;
    }

        .myfoxxcash_panel_innerbottom p a {
            color: #4a89dc;
            text-decoration: none;
        }

    .myfoxxcash_panel_innerbottom span {
        padding: 5px;
        border: solid 1px #c1c1c1;
        font-size: 14px;
        color: #666666;
        display: inline-block;
        margin-bottom: 20px;
    }

.commission_panel {
    border: #000 solid 1px;
    margin: 50px 0 20px 0;
    padding: 15px;
}

    .commission_panel h4 {
        line-height: 1.5;
        color: #000;
        font-weight: 700;
        padding: 0 0 15px 0;
        margin: 0;
        font-size: 18px;
    }

.commission_panel_inner {
    padding: 0;
}

b.blackborder {
    background: #000;
    width: 90px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
}

.sweeperarea {
    border-top: #ccc solid 1px;
    margin: 50px 0 0 0;
    padding: 30px 0 0 0;
}

    .sweeperarea h4 {
        line-height: 1.5;
        color: #000;
        font-weight: 700;
        padding: 0 0 30px 0;
        margin: 0;
        font-size: 18px;
    }

    .sweeperarea p {
        padding: 0;
        margin: 0;
        color: #666;
        font-size: 16px;
        font-weight: 400;
    }

        .sweeperarea p b {
            color: Navy;
        }

.amounttosweepbox span {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}

.amounttosweepbox .form-control {
    width: 200px;
    height: 30px;
    border: #909090cc solid 1px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}

.SweepMyCommissions {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
    margin: 15px 0 30px 0;
}

    .SweepMyCommissions:hover {
        background-color: #0766c6;
        color: #fff;
    }

.transferFC_panel h5 {
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
}

.transferFC_panel_box {
    padding: 0 0 20px 0;
}

    .transferFC_panel_box h6 {
        font-size: 18px;
    }

.transfer_panel_bottom {
    padding: 0 0 50px 0;
}

    .transfer_panel_bottom label {
        display: inline-block;
        font-weight: 400;
        font-size: 18px;
        vertical-align: middle;
    }
    .transfer_panel_bottom .form-control {
        display: inline-block;
        width: 200px;
        height: 35px;
        border: #9e9e9e solid 1px;
        margin-left: 10px;
        vertical-align: top;
        font-size: 13px;
        margin: 0 15px 0 0;
    }

.transfer_panel_bottom_btn {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
}

    .transfer_panel_bottom_btn:hover {
        background-color: #0766c6;
        color:#fff;
    }


    .transfer_panel_bottom_someone {
        padding-bottom: 20px;
    }

    .transfer_panel_bottom_someone h4 {
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        color: #666666;
    }


    .transfer_panel_bottom_someone label {
        display: inline-block;
        font-weight: 700;
        font-size: 13px;
        vertical-align: middle;
    }

        .transfer_panel_bottom_someone .form-control {
            display: inline-block;
            width: 200px;
            height: 36px;
            border: #9e9e9e solid 1px;
            margin-left: 10px;
            vertical-align: top;
            font-size: 13px;
        }

.myfoxxcashrc_panel p{
    padding:0;
    margin:0;
    color:#666;
    font-size:16px;
}

.myfoxxcashrc_panel{
    border:#ccc solid 1px;
    padding:10px;
    margin:0 0 30px 0;
}

.cashtransferhistory h3{
    padding:0;
    margin:0;
    font-size:18px;
    font-weight:600;
    color:#666;
}

.nodatafound{
    padding:5px;
    font-size:13px;
    font-weight:400;
    display:inline-block;
    border:1px solid #ccc;
    margin-bottom:30px;
}

.mobile_panel_box{
    padding:0 0 30px 0;
    margin:0 0 50px 0;
    border-bottom:#ccc solid 1px;
}

.mobile_panel_box h3 {
    padding: 0 0 20px 0;
    margin: 0;
    color: #666;
    font-size: 20px;
    font-weight: 700;
}

.mobile_panel_l img{
    width:100%;
}

.mobile_panel_r p {
    color: #666;
    padding: 0 0 25px 0;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.mobile_panel_r p a{
    display:block;
}

.mobile_panel_r ul{
    padding:0 0 20px 0;
    margin:0;
    list-style:none;
}

    .mobile_panel_r ul li {
        color: #666;
        padding: 0 0 0 15px;
        margin: 0;
        font-size: 13px;
        font-weight: 400;
        position:relative;
    }

    .mobile_panel_r ul li:before{
        width:5px;
        height:1px;
        background:#666;
        position:absolute;
        top:10px;
        left:0;
        content:"";
    }

.Mobile_App_Survey{
    border:#ccc solid 1px;
    margin-bottom:30px;
    padding:20px;
}

.Mobile_App_Survey h3{
    padding:0 0 25px 0;
    margin:0;
    color:#666;
    font-size:18px;
    font-weight:600;
}

.Mobile_App_Survey h6 {
    padding: 0 0 10px 0;
    margin: 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
}

.Mobile_App_Survey .mobilesurveydropdown{
    width:300px;
    height:30px;
    border:#ccc solid 1px;
    color:#666;
    font-size:13px;
    font-weight:400;
    margin:0 0 20px 0;
}

.foxxnetworkimgbox{
    text-align:center;
    margin:0 0 10px 0;
}

.tmris_box{
    padding:10px 0 5px 0;
}

.tmris_box h3 {
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 24px;
    color: #666;
    font-weight: 600;
}

.myleadsbottom{
    border:#ccc solid 1px;
    padding:10px 10px 5px 10px;
    margin:0 0 30px 0;
}

.viewarchivedlink{
    float:right;
}

.addlinkbox {
    padding: 15px;
    border: solid 1px #4d8cd9;
    margin-bottom:10px;
}

    .addlinkbox h4 {
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #000;
    }

    .addlinkbox span {
        padding: 0 0 15px 0;
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color:red;
    }


.addlinkboxbottom{
    margin:15px 0 0 0;
    padding-bottom:0;
}

.addlinkboxbottom label {
    font-weight: 400;
}

    .addlinkboxbottom .transfer_panel_bottom_btn {
        padding: 7px 22px;
        /* background-color: #6B6B6B; */
        background-color: #fff;
        text-decoration: none;
        color: #fff;
        border: #0766c6 solid 1px;
        border-radius: 5px;
        color: #0766c6;
        display: inline-block;
    }

        .addlinkboxbottom .transfer_panel_bottom_btn:hover {
            background-color: #0766c6;
            color: #fff;
        }

        .upgrade {
            padding: 30px;
            background: #fff;
            margin: 30px 0;
        }

    .upgrade h3 {
        padding: 0 0 30px 0;
        margin: 0;
        color: #0766c6;
        font-weight: bold;
        font-size: medium;
        font-size: 1.5em;
    }

    .upgrade p {
        font-size:16px;
        line-height:24px;
    }


    .upgrade h2 {
        padding: 30px 0 30px 0;
        margin: 0;
        color: #0766c6;
        font-weight: bold;
        font-size: medium;
        font-size: 1.5em;
    }

.temp_div_container {
    padding: 15px;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    margin-bottom: 15px;
}

#w9 input[type='text'] {
    margin: 0;
    height: 16px;
    line-height: 16px;
}

.recurringorderbtn {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
}

    .recurringorderbtn:hover {
        color: #fff;
        background: #0766c6;
        text-decoration:none;
    }

.newad_panel{
    border:#ccc solid 1px;
    padding:15px;
    margin:0 0 30px 0;
}


    .newad_panel h3 {
        padding: 0;
        margin: 0 0 15px 0;
    }

.newad_panel h3 span {
    color: red;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    vertical-align:middle;
}

    .newad_panel h3 b {
        color: #666;
        font-weight: bold;
        font-size: 24px;
        display: inline-block;
        vertical-align: top;
    }

.newadhelp {
    color: #2363b6;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    padding: 0 0 0 40px;
    vertical-align: top;
}

.newadhelp i {
    font-size: 23px !important;
    color: #90c856 !important;
    display: inline-block !important;
    vertical-align: middle !important;
    padding-right: 5px !important;
}

.newadddeactive {
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: #4a89dc;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

.newad_panel em{
    color:#666;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    padding:10px 0 0 0;
    display:block;
}

.newadd_select{
    width:100px;
    height:25px;
    border:#ccc solid 1px;
    color:#666;
    font-size:12px;
    vertical-align:top;
    margin:0 0 0 15px;
}

.frequency_panel{
    padding:20px 0 0 0;
}

.frequency_panel span {
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.modal-header .close{
    position:absolute;
    top:10px;
    right:10px;
}

.modal-header .modal-title {
    padding: 0 0 0 0;
    margin: 0;
    color: #4d8cd9;
    font-weight: bold;
    font-size: medium;
    font-size: 17px;
}

.field-validation-valid, .field-validation-error, #password-error, #ConfirmPassword-error {
    display: block !important;
    width: 100% !important;
    float: none !important;
    color: red;
}

.modalheading h5{
    padding: 0 0 0 0;
    margin: 0;
    color: #4d8cd9;
    font-weight: 700 !important;
    font-size: 17px;
}

.popsecond{
    padding:20px;
}

#credit_card_modal{
    width:720px !important;
}

#credit_card_modal .member-reply{
    padding:5px;
}



    #AddyourComments {
        padding: 10px 0;
    }

.mypersonal_ab > .tabcontent {
    display: none;
}

.mypersonal_ab .tab button.tablinks {
    width: 13.8% !important;
    text-align: center !important;
    display: inline-block !important;
    position:relative;
    color:#000;
    text-align:center;
}



    .mypersonal_ab .tab button.tablinks.active, .mypersonal_ab .tab button.tablinks:hover {
        background: #fff;
    }

    /*.mypersonal_ab .tab button.tablinks:nth-child(1):before {
        background: url(../Images/mypersonaltab1.png) no-repeat 0 0;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
    }*/

    .mypersonal_ab .tab button.tablinks img {
        width: 100% !important;
        display: inline-block !important;
        z-index: 0 !important;
        pointer-events: none;
    }

#infofield .modal-dialog {
    width: 800px;
}

.popuppersonaldashboardbox{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mypersosonalpopupsectionr{
    text-align:right;
}

.modalclosebtn {
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: #4a89dc;
    /* border-radius: 4px; */
    border: none;
    display: inline-block;
    vertical-align: top;
}

.treeview_box {
    padding: 0 0 0 0;
}

/*ul {
    display: none
}*/

.treeView {
    display: block;
    list-style: none !important;
}

    .treeView li {
        margin-bottom: 10px;
        list-style: none;
    }

    .treeView > li:before {
        background: none !important;
    }

    .treeView > li ul li:before {
        background: none !important;
    }

    .treeView ul, .treeView ul ul {
        margin: 0 0 10px 0;
    }


button.treebutton {
    background: none !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #294b9f;
    font-size: 20px;
}

.treeView li span {
    color: #474747;
    font-size: 19px;
    font-weight: 700;
    margin: 0 0 10px 0;
    display: inline-block;
}

    .treeView li span i {
        display: inline-block;
        padding: 0 5px;
    }

        .treeView li span i.fa-mobile, .treeView li span i.fa-envelope {
            color: green;
        }

        .treeView li span i.fa-user {
            color: #294b9f;
        }

    .treeView li span b {
        color: red;
    }

.myorders_box {
    background:#eee;
    padding:15px;
    border-radius:15px;
    margin-bottom:30px;
}

    .myorders_box span {
        display: block;
        font-size: 13px;
        color: #666;
        margin:0 0 8px 0;
    }

.orderdetails {
    text-align:center;
}

.orderdetails h5 {
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

    .orderdetails p {
        font-size: 13px;
        color: #666;
        margin: 0 0 8px 0;
    }

        .orderdetails p b {
            color: #4d8cd9;            
        }

        .billingaddress {
            padding: 20px 0 0 0;
        }

.billingaddress h5 {
    padding: 20px 0 15px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

    .billingaddress span{
        font-size: 13px;
        color: #666;
        margin: 0 0 8px 0;
        display:block;
    }

.producttable {
    padding:25px 0 0 0;
}

    .producttable h5 {
        padding: 20px 0 15px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #000;
    }

    .producttable table {
        border:#ccc solid 1px;
    }

        .producttable table tr th {
            background: #2363b6;
            padding: 8px 10px;
            color: #fff;
            font-size: 12px;
            border-right: #ccc solid 1px;
            border-bottom: #ccc solid 1px;
        }

    .producttable table tr td {
        background:#fff ;
        padding: 8px 10px;
        color: #000;
        font-size: 14px;
        border-right: #ccc solid 1px;
        border-bottom: #ccc solid 1px;
    }

.totalprice {
    width: 300px;
    float: right;
    margin: 30px 0 30px 0;
}

.totalprice table {
    border: #ccc solid 1px;
}

    .totalprice table tr td, .totalprice table tr th {
        border-right: #ccc solid 1px;
        border-bottom: #ccc solid 1px;
        padding: 8px 10px;
        color: #000;
        font-size: 14px;
    }


.changepasswordbtn1 {
    padding: 8px 20px;
    /* background-color: #6B6B6B; */
    background-color: #4a89dc;
    text-decoration: none;
    color: #fff;
    border: 0;
    margin-left: 0;
    margin-bottom: 0;
    display: inline-block;
}

    .changepasswordbtn1:hover {
        text-decoration:none;
        color:#fff;
    }

.changepasswordbtn2 {
    padding: 8px 20px;
    /* background-color: #6B6B6B; */
    background-color: transparent;
    text-decoration: none;
    color: #4a89dc;
    border: 0;
    margin-left: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size:14px;
}

    .changepasswordbtn2:hover {
        text-decoration: none;
        color: #4a89dc;
    }

.paymentpageallforms label {
    display:block;
}

.paymentpageallforms form-control {
    width:100%;
    height35px;
    border:#ccc solid 1px;
    padding:0 15px;
}

.threestar {
    float:left;
    padding-right:20px;
    padding-top:5px;
}

    .threestar span {       
        color: #0766c6;
        font-size: 14px;
        float: left;
        font-weight: 400;
        padding-right:15px;
        display:inline-block;
    }

    .threestar a {
        color: #0766c6;
        font-size: 14px;
        float: left;
        font-weight: 400;
        padding-right: 15px;
        display: inline-block;
    }

.modal-body .myinfowelcometagr {
    width: 65%;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    padding: 1px;
}

.transferFChistorypanel h3 {
    font-size:18px;
    font-weight:600;
    color:#000;
}

p.totalreceivedfchistory {
    padding: 0 0 30px 0;
    margin: 0;
    color: #0766c6;
    font-weight: bold;
    font-size: medium;
    font-size: 1.2em;
}

.transferFChistorypanel p strong{
    color:#000;
    font-size:16px;
    font-weight:400;
}

.mobileapp table tr td h2 {
    font-size:18px;
    font-weight:600;
    color:#000;
    margin:15px 0 30px 0;
}

.saveaddreddbtn {
    padding: 7px 22px;
    /* background-color: #6B6B6B; */
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    border: #0766c6 solid 1px;
    border-radius: 5px;
    color: #0766c6;
    display: inline-block;
}

    .saveaddreddbtn:hover {
        background-color: #0766c6;
        color: #fff;
    }

#CampaignId {
   height:35px;
   margin:0 0 10px 0;
}

a:hover {
  text-decoration:none;  
}

.memberfooter {
    background:none !important;
    padding:0 !important;
}

.memberfooter_l p {
    color: #a8abad;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

    .memberfooter_l p a {
        color: #00b297;
    }

.memberfooter_r {
    text-align:right;
}

.memberfooter_r p {
    color: #a8abad;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

    .memberfooter_r p a {
        color: #00b297;
    }

    .memberfooter_r p i {
        color: #000;
        font-size: 15px;
        margin: 0 2px;
    }

    .memberfooter .container {
        border-top: #ccc solid 1px;
        padding: 20px 0;
    }










