


@media only screen and (min-width:200px) and (max-width:767px) {

	.header {
		background: rgba(255,255,255,0.7);
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}

	.logo {
		display: block;
		text-align: center;
	}

	.contactinfo {
		padding: 12px 0 0 0;
		text-align: center;
	}

	.stellarnav {
		float: none;
	}

		.stellarnav.dark a {
			color: #000;
		}

		.stellarnav.dark .menu-toggle span.bars span {
			background: #000;
		}

		.stellarnav.mobile {
			position: static;
			text-align: center;
			float: none;
			padding: 0;
		}

	header.sticky {
		position: relative;
	}

	#banner .owl-controls .owl-nav .owl-prev {
		top: 30%;
		padding: 6px 10px;
	}

	#banner .owl-controls .owl-nav .owl-next {
		top: 30%;
		padding: 6px 10px;
	}

	.footer_box {
		text-align: center;
	}

		.footer_box ul {
			margin-bottom: 30px;
		}

	.footerbottom {
		text-align: center;
	}

	.footer_box ul li {
		width: 100%;
		display: inline-block;
	}

	.loginpage_mid {
		margin: 0 auto 40px auto;
		width: auto;
	}

	.inner_content {
		padding: 0;
	}

	.login_panel {
		padding: 30px 0 0 0;
	}

		.login_panel span {
			padding: 0 0 30px 0;
		}

	.login_l {
		background: #7da9d7;
		padding: 42px;
		text-align: center;
		margin-bottom: 40px;
	}

	.effective_product img {
		display: inline-block;
		padding: 0 5px;
	}




	.aboutus_main {
		width: 100%;
		margin: 0 auto;
		box-shadow: 2px 2px 8px #c5c5c5;
		margin-bottom: 50px;
	}

	.aboutus_banner img {
		width: 100%;
	}

	.team_box {
		width: 100%;
		margin: 0 auto 30px auto;
		background: #f7f7f7;
		padding: 0 15px 30px 15px;
	}

	.team_box_l {
		width: 100%;
		float: none;
	}

	.team_box_r {
		width: 100%;
		float: none;
	}

	.aboutus {
		padding: 27px 0 0 0;
	}

	.aboutus_banner_overlay {
		position: absolute;
		top: 36px;
		left: 0;
		width: 100%;
		text-align: center;
	}

		.aboutus_banner_overlay h3 {
			font-family: Poppins, Arial, sans-serif;
			line-height: 1.24;
			font-size: 25px;
		}

		.aboutus_banner_overlay h6 {
			font-family: Poppins, Arial, sans-serif;
			line-height: 1.24;
			font-size: 16px;
		}

	.bannerbottomabout h2 {
		font-size: 40px;
	}



	.inner_content h2 {
		font-family: 'Proxima Nova Rg';
		font-size: 29px;
		padding: 30px 0 30px 0;
		text-align: center;
	}

	.contact_l label {
		text-align: left;
	}

	.contact_r {
		background: #d3e2f3;
		padding: 18px;
		margin-bottom: 30px;
	}



	.product_categories img {
		width: 100%;
		height: auto;
	}

	.shopify-section .page-width {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 1250px;
		margin: 0 auto;
		padding-top: 20px;
	}

	.shopify-section .active_secound {
		position: initial !important;
		top: 40px;
		left: -40px;
	}

	.shopify-section .active_pepole img {
		width: 170px;
		margin-bottom: 20px;
	}
	img.arrow-image {
		width: auto !important;
		height: auto;
	}

	.customer_box {
		margin: 0 18px;
		width: calc(100% - 24px) !important;
		background: #2b79c3;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		border-radius: 15px;
		overflow: hidden;
		display: inline-block;
	}

	.stellarnav.dark li a {
		color: #ffffff;
	}

	#shopify-section-new-collection-template .product-desc li {
		padding: 0;
		list-style: none;
	}

	section.product-template {
		background: #d5d5d5;
		padding: 10px 0 55px 0;
	}

	ul.grid.grid--uniform.product-single__thumbnails.product-single__thumbnails-new-collection-template {
		padding-left: 0px;
		margin-bottom: 10px;
	}
}

@media only screen and (min-width:200px) and (max-width:319px) {
}


@media only screen and (min-width:320px) and (max-width:479px) {

	.overlay2 h2 {
		padding: 0;
		margin: 0;
		color: #fff;
		font-size: 22px;
		font-weight: 300;
	}

	.overlay2 p {
		font-size: 16px;
		background: rgb(253 253 253 / 60%);
	}


	.overlay1 h2 {
		padding: 0;
		margin: 0;
		color: #fff;
		font-size: 22px;
		font-weight: 300;
	}

	.overlay1 p {
		font-size: 16px;
		background: rgba(255,255,255,0.6);
	}

	.overlay1 {
		position: absolute;
		top: 30px;
		right: 50px;
	}

	.overlay2 {
		position: absolute;
		top: 30px;
		right: 50px;
	}

	.category_item.col-md-6.col-sm-6 {
		margin-bottom: 20px;
	}

	.login-left {
		max-width: 100%;
		margin: 10px 15px;
		background-color: #fff;
		padding: 50px;
		box-shadow: 0px 0px 10px rgb(0 0 0 / 16%);
	}

	ul.related-products.desktop-slider.slick-initialized.slick-slider {
		padding-left: 0px;
	}

	div#shopify-section-related-products .card_item {
		margin: 0 5px !important;
	}

	div#shopify-section-related-products {
		padding: 42px 0;
		padding-top: 0px;
	}

	.aboutus_panel .feature-row {
		padding: 25px 0;
		display: block;
	}

	.row-rev {
		display: flex !important;
		flex-flow: column-reverse;
	}

	.feature-row__image-wrapper img {
		margin: 0px 0px 10px 20px;
	}

	#shopify-section-product-banner img {
		width: 100%;
		height: auto;
	}

	div#shopify-section-product-banner {
		margin-top: 0px !important;
	}


}


@media only screen and (min-width:480px) and (max-width:767px) {
}



@media only screen and (min-width:768px) and (max-width:991px) {

	.header {
		background: rgba(255,255,255,0.7);
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}

	.logo {
		display: block;
		text-align: center;
	}

	.contactinfo {
		padding: 12px 0 0 0;
		text-align: center;
	}

	.stellarnav {
		float: none;
	}

		.stellarnav.dark a {
			color: #000;
		}

		.stellarnav.dark .menu-toggle span.bars span {
			background: #000;
		}

		.stellarnav.mobile {
			position: static;
			text-align: center;
			float: none;
			padding: 0;
		}

	header.sticky {
		position: relative;
	}

	.loginpage_mid {
		margin: 0 auto 40px auto;
		width: auto;
	}

	.inner_content {
		padding: 0;
	}

	.login_panel {
		padding: 30px 0 0 0;
	}

		.login_panel span {
			padding: 0 0 30px 0;
		}

	.login_l {
		background: #7da9d7;
		padding: 42px;
		text-align: center;
		margin-bottom: 40px;
	}

	.effective_product img {
		display: inline-block;
		padding: 0 25px;
	}

	.stellarnav.dark li a {
		color: #fff;
	}

	.stellarnav.mobile ul li ul li a {
		color: #fff;
	}

	.aboutus_main {
		width: 100%;
		margin: 0 auto;
		box-shadow: 2px 2px 8px #c5c5c5;
		margin-bottom: 50px;
	}

	.contact_l label {
		text-align: left;
	}

	.contact_r {
		background: #d3e2f3;
		padding: 18px;
		margin-bottom: 30px;
	}
}








/********************@media only screen and (min-width:1024px) and (max-width:1200px)********************/


@media (min-width:992px) and (max-width:1199px) {
	.stellarnav li a {
		font-size: 14px;
	}
}


/********************@media only screen and (min-width:1201px)********************/

@media (min-width:1650px) and (max-width:1920px) {
}

/********************@media only screen and (min-width:1201px)********************/
