﻿body {
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova Rg';
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header {
    background: rgba(255,255,255,0.7);
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}



header.sticky {
    position: fixed;
    font-size: au;
    /* line-height: 48px; */
    height: auto;
    width: 100%;
    background: rgba(255,255,255,0.6);
    padding-left: 0;
    z-index: 999;
    top: 0;
}

.logo {
    display: block;
    padding: 8px 0 0 0;
}

    .logo img {
        height: 52px;
        padding: 0 0 0 0;
    }

.contactinfo {
    padding: 1px 0 1px 0;
}

    .contactinfo p {
        padding: 0 0 2px 0;
        margin: 0;
        color: #000;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        font-weight:700;
    }

        .contactinfo p a {
            color: #000;
            font-size: 14px;
            text-decoration: none;
        }


        .contactinfo p i {
            display: inline-block;
            padding-right: 8px;
        }

#banner .owl-item img {
    width: 100%;
}

.productplay {
    text-align: center;
}

    .productplay img {
        width: 100%;
    }

.effective_product {
    background: #8cb23e;
    padding: 35px;
    text-align: center;
}

    .effective_product img {
        display: inline-block;
        padding: 0 25px;
    }

    .effective_product h2 {
        color: #fff;
        margin: 0;
        font-size: 40px;
        font-family: 'Proxima Nova Rg';
        padding: 20px 0 0 0;
    }

.altramito {
    background: #c8def6;
    padding: 20px 0 30px 0;
}

.altramito_l img {
    width: 100%;
}

.altramito_r {
    padding-top: 60px;
}

    .altramito_r p {
        padding: 20px 0 20px 0;
        margin: 0;
        font-size: 17px;
        color: #636363;
        line-height: 24px;
        font-family: 'Proxima Nova Rg';
    }

a.blue_btn {
    display: inline-block;
    background: #00aeef;
    padding: 6px 8px 6px 8px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 16px;
}

    a.blue_btn:hover {
        background: #0e78ba;
        text-decoration: none;
    }

.footer {
    padding: 60px 0;
    background: #252525;
}

.footer_box h3 {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer_box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .footer_box ul li {
        width: 100%;
        display: inline-block;
    }

        .footer_box ul li a {
            color: #959595;
            display: block;
            line-height: 30px;
            display: block;
            text-transform: uppercase;
            font-family: 'Proxima Nova Rg';
        }

            .footer_box ul li a:hover {
                color: #fff;
                text-decoration: none;
            }

.footer_box p {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: #959595;
    font-family: 'Raleway', sans-serif;
}

    .footer_box p a {
        color: #959595;
    }

        .footer_box p a:hover {
            color: #fff;
            text-decoration: none;
        }

.footerbottom {
    background: #0f0f0f;
    padding: 15px 0;
}

#banner .owl-controls .owl-nav .owl-prev {
    background: #fff;
    padding: 14px 20px;
    color: grey;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 45%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    box-shadow: 2px 2px 8px ccc;
}

    #banner .owl-controls .owl-nav .owl-prev:hover {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
        color: #000;
    }

#banner .owl-controls .owl-nav .owl-next {
    background: #fff;
    padding: 14px 20px;
    color: grey;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 45%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    box-shadow: 2px 2px 8px ccc;
}

    #banner .owl-controls .owl-nav .owl-next:hover {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
        color: #000;
    }

.owl-theme .owl-controls {
    margin-top: 0 !important;
}

.overlay1 {
    position: absolute;
    bottom: 50px;
    right: 0;
    left:0;
    width:300px;
    margin:0 auto;
}

    .overlay1 h2 {
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        text-align:center;
    }

    .overlay1 p {
        padding: 5px 0;
        margin: 0 0 5px 0;
        font-size: 16px;
        color: #000;
        background: #fff;       
        font-family: 'Raleway', sans-serif;
        background:#fff;
        width:100%;
        text-align:center;
        border-radius:5px;
    }


.overlay2 {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 50px;
    width: 300px;
    margin:0;
}

    .overlay2 h2 {
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        text-align: left;
    }

    .overlay2 p {
        padding: 5px 0 5px 10px;
        margin: 0 0 5px 0;
        font-size: 16px;
        color: #000;
        background: #fff;
        font-family: 'Raleway', sans-serif;
        background: #fff;
        width: 100%;
        text-align: left;
        border-radius: 5px;
    }


.overlay3 {
    position: absolute;
    bottom: 50px;
    right: 50px;    
    width: 300px;
    margin: 0;
}

    .overlay3 h2 {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        text-align: right;
    }

    .overlay3 p {
        padding: 5px 10px 5px 0;
        margin: 0 0 5px 0;
        font-size: 16px;
        color: #fff;      
        font-family: 'Raleway', sans-serif;
        background: #000;
        width: 100%;
        text-align: right;
        border-radius: 5px;
    }


.overlay4 {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 50px;
    width: 300px;
    margin: 0;
}

    .overlay4 h2 {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        background:rgba(255,255,255,0.5);
    }

    .overlay4 p {
        padding: 5px 0 5px 10px;
        margin: 0 0 5px 0;
        font-size: 16px;
        color: #fff;
        background: #000;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        text-align: left;
        border-radius: 5px;
    }







section.homeSlider .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    opacity: 1;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}





@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSD {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}

.owl-item.active .overlay1, .owl-item.active .overlay2, .owl-item.active .overlay3, .owl-item.active .overlay4 {
    animation-name: fadeInUpSD;
    animation-duration: 6s;
    opacity: 1;
}

/*.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*/


.inner_content {
    padding: 65px 0 0 0;
}

    .inner_content h2 {
        font-family: Raleway,sans-serif;
        font-size: 34px;
        padding: 0 0 70px 0;
        text-align: center;
        margin: 0;
    }

.representative_panel span {
    font-size: 16px;
    color: #4c4c4c;
    font-family: 'Proxima Nova Rg';
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
}

.representative_paneltextbox {
    height: 56px;
    line-height: 56px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    color: #555;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
}

.representative_panelbutton {
    border: 0;
    background: #f1632a;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    margin-top: 35px;
    margin-bottom: 15px;
}

* {
    outline: none;
}

.representative_panel p {
    font-size: 16px;
    color: #4c4c4c;
    font-family: 'Proxima Nova Rg';
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 0 60px 0;
    margin: 0;
}

.aboutus {
    padding: 97px 0 0 0;
}

.aboutus_main {
    width: 800px;
    margin: 0 auto;
    box-shadow: 2px 2px 8px #c5c5c5;
    margin-bottom: 50px;
}

.aboutus_banner {
    position: relative;
}

.aboutus_banner_overlay {
    position: absolute;
    top: 126px;
    left: 0;
    width: 100%;
    text-align: center;
}

    .aboutus_banner_overlay h3 {
        font-family: Poppins, Arial, sans-serif;
        line-height: 1.24;
        font-size: 45px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        padding: 0 0 20px 0;
        margin: 0;
    }

    .aboutus_banner_overlay h6 {
        font-family: Poppins, Arial, sans-serif;
        line-height: 1.24;
        font-size: 24px;
        font-weight: normal;
        color: #ffffff;
        text-align: center;
        padding: 0;
        margin: 0;
    }

.bannerbottomabout p {
    padding: 30px 0 50px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: #383535;
    font-family: Poppins, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
}

.bannerbottomabout h2 {
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    color: #383535;
    text-align: center;
    font-family: 'Proxima Nova Rg';
}

.team_box {
    width: 559px;
    margin: 0 auto 30px auto;
    background: #f7f7f7;
    padding: 0 0 30px 0;
}

.team_box_l {
    width: 50%;
    float: left;
}

    .team_box_l img {
        width: 100%;
    }

.team_box_r {
    width: 50%;
    float: left;
    padding: 0 0 0 20px;
    text-align: left;
}

    .team_box_r h3 {
        font-family: 'Poppins', Arial, sans-serif;
        line-height: 1.3;
        font-size: 30px;
        font-weight: 300;
        color: #383535;
        padding: 5px 0 0 0;
        margin: 0;
    }

    .team_box_r h4 {
        font-family: 'Poppins', Arial, sans-serif;
        line-height: 1.3;
        font-size: 30px;
        font-weight: 300;
        color: #383535;
        padding: 5px 0 10px 0;
        margin: 0;
        border-bottom: #ccc solid 1px;
        line-height: 30px;
    }

    .team_box_r p {
        font-size: 16px;
        color: #4c4c4c;
        font-family: 'Proxima Nova Rg';
        display: block;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 5px 15px 0 0;
        margin: 0;
        text-align: left;
        line-height: 26px;
    }

    .team_box_r h5 {
        padding: 20px 0 10px 0;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
        color: #666666;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    .team_box_r ul {
        padding: 0 0 10px 0;
        margin: 0;
        list-style: none;
    }

        .team_box_r ul li {
            font-size: 15px;
            color: #666666;
            font-family: 'Open Sans', Arial, sans-serif;
            font-weight: 400;
            margin-bottom: 10px;
            position: relative;
            padding-right: 10px;
            padding-left: 15px;
        }

            .team_box_r ul li:before {
                background: #000;
                width: 5px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 11px;
                content: "";
            }

.team_box h6 {
    margin: 0;
    color: #000;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    padding: 40px 0 10px 0;
}

.contact_r {
    background: #fff;
    padding: 0;
    min-height: 610px;
}

.contact_l {
    padding-bottom: 50px;
}

    .contact_l label {
        font-size: 16px;
        line-height: 36px;
        font-weight: normal;
        color: #4c4c4c;
        text-align: right;
        display: block;
        padding: 0 0 0 0;
        font-family: 'Raleway', sans-serif;
        font-weight:600;
    }

        .contact_l label span {
            color: red;
        }

    .contact_l .form-control {       
        display: block;
        margin-bottom:15px;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.contact_l p {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #4c4c4c;
    text-align: left;
    display: block;
}

.contact_l p span {
    color: red;
}


.contactsubmit {
    background: #cc6551;
    border: 0;
    color: #fff;
    padding: 0 20px;
    line-height: 42px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 3px;
}

.contact_r h3 {
    color: #797979;
    margin: 0 0 10px 0;
    font-size: 18px;
    padding: 0;
    margin: 0 0 17px 0;
    letter-spacing: 1px;
}

.contact_r p {
    font-size: 16px;
    color: #4c4c4c;
    font-family: Raleway,sans-serif;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 0 20px 0;
    margin: 0;
}

    .contact_r p a {
        color: #4c4c4c;
        text-decoration: none;
    }

.map {
    margin: 15px 0;
    height: 150px;
}


.login_panel {
    padding: 60px 0 0 0;
}

    .login_panel h2 {
        padding: 0;
        margin: 0 0 20px 0;
        font-family: 'Proxima Nova Rg';
        font-size: 34px;
        text-transform: uppercase;
    }

    .login_panel > span {
        padding: 0;
        margin: 0;
        font-family: 'Proxima Nova Rg';
        font-size: 21px;
        line-height: 29px;
        padding: 0 0 70px 0;
        display: block;
        text-align: center;
    }

.loginpage_mid {
    margin: 0 auto 40px auto;
    width: 780px;
}

.login_l {
    background: #7da9d7;
    padding: 42px;
    text-align: center;
}

    .login_l label {
        margin: 0 0 20px 0;
        font-weight: normal;
        color: #fff;
        font-size: 21px;
        font-family: 'Proxima Nova Rg';
        display: block;
    }

.field-validation-error {
    display: block;
}

.login_l .form-control {
    height: 56px;
    width: 100%;
    margin-bottom: 15px;
    background: #fff;
    border: 0;
}

.loginbutton {
    border: 0;
    background: #0058a4;
    padding: 7px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Rg';
    color: #fff;
    font-size: 21px;
    margin: 8px 0 0 0;
}

.login_r {
    background: #fbad62;
    padding: 42px;
    text-align: center;
}

    .login_r h4 {
        margin: 0 0 1px;
        color: #fff;
        font-size: 24px;
        font-family: 'Proxima Nova Rg';
    }

    .login_r p {
        font-size: 20px;
        color: #707070;
        padding: 15px 0 38px 0;
        margin: 0;
        line-height: 22px;
        font-family: 'Proxima Nova Rg';
    }

    .login_r label {
        margin: 0 0 12px 0;
        font-weight: normal;
        color: #fff;
        font-size: 21px;
        font-family: 'Proxima Nova Rg';
    }

    .login_r .form-control {
        height: 56px;
        width: 100%;
        margin-bottom: 27px;
        background: #fff;
        border: 0;
    }

.forgotpass_buttonbutton {
    border: 0;
    background: #f1632a;
    padding: 7px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
}

.field-validation-error, .no-float {
    color: red !important;
    position: absolute;
    bottom: -6px;
}

.cleckhereo a {
    color: #b0d235 !important;
}

    .cleckhereo a:hover {
        color: #000 !important;
    }

.coustomersignin {
    padding: 100px 0 50px 0;
}

.coustomersignintop {
    background: rgba(0, 117, 186, 0.8);
    padding: 15px 0;
}

.coustomertop_l p {
    padding: 0 0 5px 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
    font-weight: 700;
}

    .coustomertop_l p a {
        color: #fff;
        font-size: 14px;
        font-family: 'Proxima Nova Rg';
        font-weight: 700;
        display: inline-block;
    }

    .coustomertop_l p i {
        padding: 0 7px;
        display: inline-block;
    }

.coustomertop_r {
    float: right;
    padding: 25px 0 0 0;
}

    .coustomertop_r a {
        float: left;
        color: #000;
        font-size: 20px;
    }

    .coustomertop_r .search {
        float: left;
        padding-left: 30px;
    }

.simplesearch_input {
    background-position: right;
    background-repeat: no-repeat;
    padding: 5px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    background-color: #FFFFFF;
    width: 200px;
    height: 30px;
}

.simplesearch_button {
    padding: 8px;
    position: absolute;
    margin-left: -30px;
    width: 30px;
    height: 27px;
    background-image: url(../Images/searchicon.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border-style: none;
}

.coustomersigninbottom {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.shopigcartsignin {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    padding: .2em .8em .2em .8em;
    margin-top: 10px;
    margin-left: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: #0072bc;
    border: none;
    float: right;
}

.coustomersigninbottom h2 {
    color: #0054a6;
    font-family: 'Proxima Nova Rg';
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0;
}

.form_container {
    width: auto;
    background-color: transparent;
    padding: 15px 20px;
    border: 1px solid #959595;
}

.cussignin_l .form-group label {
    color: #000000;
    text-decoration: none;
    font-family: 'Proxima Nova Rg';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: normal;
}

.cussignin_l .form-group {
    margin-bottom: 5px;
}

    .cussignin_l .form-group .form-control {
        font-size: 16px;
        font-weight: normal;
        background-color: #FFFFFF;
        width: 100%;
        padding: 3px;
        border: 2px solid #000;
        border-radius: 0;
    }

.customersigninbtnbox {
    padding: 25px 0 40px 0;
    text-align: right;
}

.buttonsstandard, a.buttonsstandard {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    padding: .2em .8em .2em .8em;
    margin-top: 10px;
    margin-left: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: #0072bc;
    border: none;
}

.cussignin_l span {
    font-size: 15px;
    color: #000;
    font-family: 'Proxima Nova Rg';
    display: block;
    padding-bottom: 30px;
}

.cussignin_r h2 {
    color: #0054a6;
    font-family: 'Proxima Nova Rg';
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 0;
}

.cussignin_r p {
    font-size: 15px;
    color: #000;
    font-family: 'Proxima Nova Rg';
    display: block;
    padding-bottom: 0;
}


.cousgetacodevbtn {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    padding: .2em .8em .2em .8em;
    margin-top: 10px;
    margin-left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: #0072bc;
    border: none;
}

.cartnumber {
    float: left;
    padding: 0 15px;
    color: #b0d235 !important;
}

.join_info {
    padding: 24px;
    background: #d3e2f3;
    border-radius: 5px;
    margin: 0 0 30px;
    text-align: center;
}

    .join_info p {
        padding: 0 0 20px 0;
        margin: 0;
        font-size: 20px;
        color: #000;
        font-family: 'Proxima Nova Rg';
        font-weight: bold;
    }

        .join_info p b {
            color: #0058A4;
            font-size: 24px;
            font-weight: bold;
        }

        .join_info p span {
            color: #0058a4;
            font-size: 24px;
            display: block;
            font-weight: normal;
        }

        .join_info p a {
            font-size: 16px;
            color: #0058a4;
            line-height: 18px;
            display: block;
            font-weight: normal;
        }

            .join_info p a:hover {
                text-decoration: none;
            }


.join_wrap {
    margin: 0 auto;
    width: 780px;
}

.treams_l {
    float: left;
    width: 25px;
}

.treams_r {
    float: left;
    width: 230px;
}

.treams_r {
    font-size: 15px !important;
    color: #4c4c4c;
    font-size: 14px;
    font-family: 'Proxima Nova Rg';
}

    .treams_r a {
        font-size: 15px !important;
        color: #b0d235;
    }

.product_main {
    text-align: center;
    background: #f7f7f7;
    padding: 140px 0 0 0;
}

    .product_main h2 {
        color: #40434a;
        font: 600 40px 'Lato', sans-serif;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        padding: 0 0 10px 0;
    }

    .product_main p {
        color: #878b94;
        font: 600 16px/26px 'Lato', sans-serif;
        padding: 0 0 30px 0;
        margin: 0;
    }

    .product_main ul li:first-child {
        min-height: 270px;
        background: url(../images/elevate.jpg) no-repeat right;
        padding: 35px;
        background-size: 90%;
        float: left;
        width: 48%;
        margin-right: 4%;
        list-style-type: none;
        text-align: left;
        background-color: #F37954;
        margin-bottom: 40px;
    }

    .product_main ul li:last-child {
        min-height: 270px;
        background: url(../images/ultra-mito.jpg) no-repeat right;
        padding: 35px;
        background-size: 90%;
        float: left;
        width: 48%;
        list-style-type: none;
        text-align: left;
        background-color: #3E8FC7;
        margin-bottom: 40px;
    }

    .product_main ul li h2 {
        color: #ffede8;
        font: 300 47px/46px 'Lato', sans-serif;
        margin: 0 0 10px 0;
        padding: 0;
        text-transform: unset;
    }

    .product_main ul li:first-child a {
        color: #b65b3d;
        font: 400 16px 'Lato', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        background: #fff;
        border-radius: 20px;
        padding: 10px 15px;
        background: #fff;
        margin-top: 10px;
        display: inline-block;
    }

    .product_main ul li:last-child a {
        color: #246fa3;
        font: 400 16px 'Lato', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        background: #fff;
        border-radius: 20px;
        padding: 10px 15px;
        background: #fff;
        margin-top: 10px;
        display: inline-block;
    }


.join2_main {
    text-align: center;
    background: #f7f7f7;
    padding: 140px 0 0 0;
}




.join_optionheading {
    font-size: 34px !important;
    font-weight: 400 !important;
    padding-bottom: 15px !important;
}

.join_opt_box {
    margin: 0 auto;
    width: 796px;
    text-align: center;
}

.blubox {
    padding: 24px;
    width: 380px;
    background-color: #7da9d7;
    float: left;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.join_opt_box h2 {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 34px;
    line-height: 30px;
    padding: 0 0 20px 0;
    margin: 0;
}

.join2_main ul {
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
}

    .join2_main ul li {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        color: #000;
        line-height: 28px;
        font-size: 26px;
        font-weight: 400;
        font-family: 'Proxima Nova Rg';
        position: relative;
        padding: 0 0 8px 20px;
    }

        .join2_main ul li:before {
            position: absolute;
            top: 13px;
            left: 0;
            width: 8px;
            height: 2px;
            background: #000;
            content: "";
        }


.blubox a {
    border-radius: 3px;
    display: block;
    padding: 3px;
    text-align: center;
    color: #fff;
    background-color: #0058a4;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 26px;
    text-transform: uppercase;
}

.orgbox {
    padding: 24px;
    width: 380px;
    background-color: #fbad62;
    float: right;
    margin-bottom: 40px;
    margin-left: 8px;
    margin-right: 8px;
}


    .orgbox a {
        border-radius: 3px;
        display: block;
        padding: 3px;
        text-align: center;
        color: #fff;
        background-color: #f1632a;
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 26px;
        text-transform: uppercase;
    }

.form-control {
    font-size: 14px;
}

.peoplehealth_panel {
    background-color: rgb(224,224,224);
}

.peoplehealth_panel_banner img {
    width: 100%;
}

.peoplehealth_panel_banner_overlay {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}

    .peoplehealth_panel_banner_overlay h2 {
        padding: 0;
        margin: 0;
        color: #fff;
        color: #fff;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 54px;
        margin-bottom: 20px;
    }

    .peoplehealth_panel_banner_overlay span {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 25px;
        font-family: 'Roboto', sans-serif;
        display: block;
    }

.videosection_perple {
    width: 1147px;
    margin: -220px auto 0 auto;
    position: relative;
}

    .videosection_perple img {
        width: 100%;
    }

    .videosection_perple .play_btnpopup {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 127px;
        height: 81px;
        background: rgba(84, 187, 255, 0.8);
        margin: auto;
        text-align: center;
    }

.play_btnpopup_inner {
    width: 127px;
    height: 81px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.videosection_perple .play_btnpopup i {
    font-size: 35px;
    color: #fff;
    margin: 20px 0 0 0;
}

.videosection_perple:hover .play_btnpopup {
    width: 100%;
    height: 100%;
    background: rgba(84, 187, 255, 0.2);
}

.play_btnpopup .play_btnpopup_inner span {
    color: #fff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    margin: 40px 0 0 0;
    display: none;
}

.play_btnpopup:hover .play_btnpopup_inner span {
    display: block;
}

.peoplehealth_arrow {
    padding: 30px 0;
    text-align: center;
}

.peoplehealth_panel h3 {
    color: #3e3e3e;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 400;
    margin-top: -35px;
    background: #e0e0e0;
    padding: 0 0 30px 0;
    margin: 0;
    text-align: center;
}

.productbox {
    width: 1147px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
}

.productbox_l {
    border: #ccc solid 1px;
    text-align: center;
    padding-bottom: 30px;
    text-align: center;
}

    .productbox_l h4 {
        padding: 0;
        margin: 0;
        color: #3e3e3e;
        font-size: 40px;
        font-weight: 400;
        margin: 15px 0;
        font-family: 'Roboto', sans-serif;
    }

    .productbox_l img {
        width: 100%;
        display: inline-block;
    }

    .productbox_l a {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #60bd0e;
        text-transform: uppercase;
        text-decoration: underline;
        margin: 10px 3px 0 3px;
        display: inline-block;
    }

.productbox_r p {
    text-align: left;
    color: #3e3e3e;
    margin: 0;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
}

.button_panel {
    border-top: 1px solid #e5e5e5;
    padding-bottom: 0;
    padding-top: 30px;
}

.button_panel1 {
    background: #3e3e3e;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
}

.button_panel3 {
    background: #3e3e3e;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    line-height: 23px;
}

.button_panel2 {
    background: #60bd0e;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.productbox_ltop_img {
    width: auto !important;
    margin-top: 30px;
}

.video_panel {
    border-top: #ccc solid 1px;
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
}

.video_box {
    padding: 5px;
    box-shadow: 2px 2px 8px #ccc;
    margin-bottom: 50px;
}

    .video_box img {
        width: 100%;
    }

.videosectionbottombox {
    width: 100% !important;
    margin: 0 !important;
}

    .videosectionbottombox .play_btnpopup {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 38px;
        background: rgba(84, 187, 255, 0.8);
        margin: auto;
        text-align: center;
    }

    .videosectionbottombox .play_btnpopup_inner {
        width: 60px;
        height: 38px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .videosectionbottombox .play_btnpopup i {
        font-size: 15px;
        color: #fff;
        margin: 12px 0 0 0;
    }

    .videosectionbottombox .play_btnpopup .play_btnpopup_inner span {
        color: #fff;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        display: block;
        margin: 20px 0 0 0;
        display: none;
    }

.banner {
    margin: 97px 0 0 0;
    position: relative;
}

    .banner img {
        width: 100%;
    }

.bannertop {
    background: rgba(241, 99, 42, 0.7);
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bannertop2 {
    background: rgba(0, 117, 186, 0.8);
}

.bannertop_l span {
    color: #fff270;
    text-transform: capitalize;
    font-size: 22px;
}

.bannertop2 .bannertop_l span {
    color: #6fd1f5;
    text-transform: capitalize;
    font-size: 22px;
}

.bannertop_l span a, .bannertop_l span b {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    padding: 0 3px;
}

.bannertop_l p {
    padding: 0;
    margin: 0;
}

    .bannertop_l p a {
        font-size: 14px;
        color: #c2de9e;
        padding-right: .9em;
        margin-right: .2em;
        margin-top: .2em;
        text-decoration: none;
        display: inline-block;
        background: url(../images/small_arrows.png) right 6px no-repeat;
        cursor: pointer;
    }

    .bannertop_l p em {
        color: White;
        font-size: 14px;
        font-style: normal;
    }

.bannertop_r h4 {
    text-align: right;
    color: #fff;
    padding-top: 3px;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}

.bannerbottomoverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    z-index: 9;
    width: 100%;
}

    .bannerbottomoverlay h3 {
        background: rgba(250, 173, 98, 0.6);
        display: inline-block;
        padding: 6px 8px 3px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
    }

.bannerbottomoverlay2 h3 {
    background: rgba(111, 209, 245, 0.6);
}

.rowpadding {
    padding: 40px 0;
}

a.green_btn {
    display: inline-block;
    background: #8dc63f;
    border: 1px solid #fff;
    padding: 10px 12px 6px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    line-height: 16px;
}

.bnft_list {
    background: #d8e5f3;
    padding: 18px;
}

    .bnft_list ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .bnft_list ul li {
            background: url(../images/list_icon_black.png) no-repeat left 50%;
            color: #000;
            font-family: 'Proxima Nova Rg';
            font-size: 16px;
            list-style: outside none none;
            padding-left: 16px;
        }

.rowpadding p {
    font-size: 15px;
}

.prdrt_smldesc {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

.prd_ingrdnce ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.prd_ingrdnce.price ul li {
    color: #0058a4;
}

.prd_ingrdnce ul li.ingrd_mn {
    font-size: 20px;
}

.prd_ingrdnce {
    margin: 0 0 25px;
}

.butn_set {
    margin: 0 0 45px;
}

.butn_set a.green_btn {
    font-size: 18px;
    line-height: 14px;
    font-family: 'Proxima Nova Rg';
    padding: 12px 14px;
}

.green_col.elevt {
    background: #fcd9b7;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.green_col {
    background: #8cb23e;
    padding: 35px;
}

.exprs_lndnprods {
    text-align: center;
}

    .exprs_lndnprods ul li {
        list-style: none;
        display: inline-block;
        width: 25%;
        padding: 0 15px;
        margin-right: -4px;
    }

.brnd_box {
    text-align: center;
}

    .brnd_box p {
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 25px;
        min-height: 150px;
    }

.green_col_inr {
    text-align: center;
}

    .green_col_inr ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
    }

.productbanner img {
    width:100%;
}

.overlayproduct {
    position:absolute;
    top:110px;
    left:0;
    text-align:center;
    width:100%;
}

    .overlayproduct h2 {
        padding: 0 0 15px 0;
        margin: 0;
        color: #fff;
        font-size: 55px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }

    .overlayproduct span {
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        display: block;
    }

.productvideo_section_panel {
    margin-top: -400px;
    background: #fff;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 9;
    margin-bottom: 80px;
    position: relative;
}

    .productvideo_section_panel:hover .videoproductoverlay {
        background-color: rgba(84, 187, 255, 0.5);
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .productvideo_section_panel img {
        width: 100%;
    }

.productpagearrow {
    text-align:center;
    padding:15px;
    
}

    .productpagearrow h3 {
        padding: 30px 0 30px 0;
        margin: 0;
        color: #000;
        font-size: 60px;
        font-family: 'Playfair Display', serif;
    }

.productnrepanel {
    background: #e0e0e0;
}

.productboxnre {
    background: #fff;
    padding: 30px 15px;
    margin-bottom:40px;
}

.productboxnre_l {
    border: #ccc solid 1px;
    text-align: center;
    padding: 15px 0 0 0;
}

.productboxnre_l h2 {
    padding: 0;
    margin: 0;
    color: #3e3e3e;
    font: 400 40px 'Roboto', sans-serif;
    margin: 15px 0;
    font-family: 'Proxima Nova Rg';
    text-align: center;
}

    .productboxnre_l h3 {
        padding: 0;
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
        font-family: 'proxima_nova_rgregular';
    }


    .productboxnre_l img {
        width: 80%;
    }

.productboxnre_l a {
    display: inline-block;
    color: #60bd0e;
    font-size: 14px;
    text-transform: uppercase;
    margin: 15px 5px;
}

.productboxnre_r img.soundimg {
    float:left;
    margin:0 20px 20px 0;
}

.productboxnre_r p {
    padding: 0 0 25px 0;
    margin: 0;
    color: #808080 !important;
    font: 300 20px/27px 'Roboto', sans-serif;
    font-family: 'Proxima Nova Rg';
}

.video_panel {
    border-top:#ccc solid 1px;
    padding:30px 0 50px 0;
}

.video_panel_box {
    position:relative;
    border:#ccc solid 1px;
    padding:10px;
}

.video_panel_box img {
    width: 100%;
}

.productoverviewheading {
    color: #3e3e3e;
    font: 400 20px '';
    text-align: left;
    margin-top: 20px;
    font-family: 'Proxima Nova Rg';
}


.productbuttons {
    border-top:#ccc solid 1px;
    padding:15px 0 0 0;
    margin:0px 0 0 0;
}

.productbuttons1 {
    background: #3e3e3e;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font: 300 18px 'Roboto', sans-serif;
    font-family: 'Proxima Nova Rg';
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.productbuttons2 {
    background: #60bd0e;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font: 300 18px 'Roboto', sans-serif;
    font-family: 'Proxima Nova Rg';
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.videoproductoverlay a {
    width: 127px;
    height: 81px;
    background-color: rgba(84, 187, 255, 1);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align:center;
    margin:auto;
}

.productvideo_section_panel:hover .videoproductoverlay a {
    width: 100%;
    height: 100%;
    background-color: rgba(84, 187, 255, 0.3);
}

.productvideo_section_panel .videoproductoverlay span {
    display:none;
}

.productvideo_section_panel:hover .videoproductoverlay span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px;
    margin: auto;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: 'Proxima Nova Rg';
    display:block;
}

.videoproductoverlay a i {
    color: #fff;
    font-size: 35px;
    margin: 20px 0 0 0;
    width:50px;
    height:40px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}










.video_panel_box .videoproductoverlay a {
    width: 60px;
    height: 38px;
    background-color: rgba(84, 187, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
}

.video_panel_box:hover .videoproductoverlay a {
    width: 100%;
    height: 100%;
    background-color: rgba(84, 187, 255, 0.3);
}

.video_panel_box .videoproductoverlay span {
    display:none;
}


.video_panel_box:hover .videoproductoverlay span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100px;
    margin: auto;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: 'Proxima Nova Rg';
    display:block;
}

.video_panel_box .videoproductoverlay a i {
    color: #fff;
    font-size: 20px;
    margin: 20px 0 0 0;
    width: 50px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

img.imagelabel {
    width:90%;
}

#audiomodal .close {
    position:absolute;
    top:10px;
    right:10px;
}

#audiomodal .modal-body {
   border: 3px solid #60bd0e;
   min-height:100px;
   padding:20px;

}

.productbuttons a:visited {
    color:#fff;
}

#productpopupmodaldetails .modal-body {
    border: 3px solid #60bd0e;
    min-height: 100px;
    padding: 20px;
}

#productpopupmodaldetails .modal-dialog {
    width: 1000px;
}

.productmodaldetails h3 {
    padding: 0 0 15px 0;
    margin: 0;
    color: #000;
    font-size: 25px;
    font-family: 'Proxima Nova Rg';
}

.productmodaldetails p {
    padding: 0 0 25px 0;
    margin: 0;
    color: #808080 !important;
    font: 300 20px/27px 'Roboto', sans-serif;
    font-family: 'Proxima Nova Rg';
}

a.popupbuynow {
    background: #60bd0e;
    color: #fff;
    font: 400 20px 'Roboto', sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}





#INGREDIENTS .modal-body {
    border: 3px solid #60bd0e;
    min-height: 100px;
    padding: 20px;
}

#INGREDIENTS .modal-dialog {
    width: 1000px;
}

.homeproduct {
    padding:55px 0;
}

    .homeproduct .heading {
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .homeproduct .sub-heading {
        color: #878b94;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
        margin: 0 auto 30px auto;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }


.footerbottom h1.site-header__logo {
    padding: 0 0 5px 0;
    margin: 0;
}


.footerbottom h1.site-header__logo a {
    font-size: 24px;
    margin: 0;
    color: #fff;
    font-family: 'Proxima Nova Rg';
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.footerbottom .copyright {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
}

    .footerbottom .copyright a {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Proxima Nova Rg';
        color: #fff;
        text-decoration: none;
    }

.footerbottom ul.payment-icons {
    padding:25px 0 0 0;
    margin: 0;
    list-style: none;
}

.footerbottom li.payment-icon {
    display: inline-block;
    vertical-align: middle;
}

#banner .owl-controls .owl-dots {
    position:absolute;
    bottom:15px;
    text-align:center;
    width:100%;
}

    #banner .owl-controls .owl-dots .owl-dot {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        display:inline-block;
        margin:0 3px;
    }

        #banner .owl-controls .owl-dots .owl-dot.active {
            width: 12px;
            height: 12px;
            background: #164d6f;
            border-radius: 50%;
        }


#FeatureRowImageWrapper-about-info {
    max-width: 408px;
    position: relative;
    margin: 0 auto;
}

.feature-row__image-wrapper .feature-row__image {
    width: 100%;
    position: static;
    top: 0;
}

.feature-row__image-wrapper img {
    box-shadow: -15px -15px 0px 0px #8cb23e;
    -webkit-transition: all 0.2s ease;
    transition: all 0.5s ease;
}

#FeatureRowImageWrapper-about-info img:hover {
    box-shadow: 15px 15px 0px 0px #8cb23e;
}

.aboutus_panel {
    padding: 30px 0 55px 0;
    background: #f2f2f2;
}

.feature-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.feature-row__item {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

div#shopify-section-about-info hr.box_seperator {
    margin: 25px 0;
    border-bottom: 1px solid #ddd;
}

.aboutright h2 {
    font-size: 27px;
    text-transform: none;
    letter-spacing: 0;
    margin: 0 0 17.5px;
    font-family: Raleway,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: left !important;
    color: #3d4246;
}

.aboutright p {
    color: #69727b;
    margin: 0 0 19.44444px;
    font-size: 16px;
    line-height: 1.5;
}

.aboutright a {
    font-size: 14px;
    color: #60bd0e;
    text-transform: uppercase;
    background: none;
    border: none;
    display: inline-flex;
    font-weight: 600;
    cursor: pointer;
}

.feature-row {
    padding: 25px 0;
}

#FeatureRowImageWrapper-about-info {
    max-width: 408px;
    position: relative;
    margin: 0 auto;
}

.login-left {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 16%);
}

    .login-left h2 {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 60px;
        font-family: 'Proxima Nova Rg';
        font-size: 34px;
        line-height: 30px;
        padding:0;
        margin-top:0;
    }

.login-left h2:before {
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #2c6085;
    right: 0;
    margin: 0 auto;
}

.logingbtn {
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #282c33;
    min-width: 160px;
    height: 46px;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-appearance: button;
    cursor: pointer;
    font-size:16px;
}

.login-left label {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    display:block;
    margin-bottom:15px;
}

.login-left .form-control {
    margin-bottom:25px;
}

.loginbottom {
    max-width: 100%;
    margin: 30px auto 0px auto;
    text-align: left;
}

    .loginbottom h4 {
        margin: 0 0 17.5px;
        font-family: Raleway,sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 18px;
    }

    .loginbottom h4 a {
        color: #337ab7;
        text-decoration:none;
    }

.top_heading {
    background: #c3d3f2;
    text-align: center;
    font-size: 32px;
    line-height: 70px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}

.join_options {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.customer_box {
    margin: 0 18px;
    width: calc(50% - 40px);
    background: #2b79c3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
}

.customer_box.rct {
    background: #e16242;
}

.customer_box .ctimg {
    width: 100%;
}

.customer_box .option_info {
    padding: 30px;
}

.option_info {
    margin: 0 auto;
    width: 98%;
    text-align: left;
    color: #000;
    line-height: 28px;
    font: normal 26px 'proxima_nova_rgregular';
}

.customer_box h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    color: #fff;
    padding: 0;
    margin: 0 0 17.5px 0;
}

.customer_box span {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 10px 0;
    color: #fff;
}

.customer_box span img {
    margin-right: 10px;
}

.r_btn {
    display: inline-block;
    color: #2b79c3;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 0 35px;
    background: #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 26px;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration:none;
}

    .r_btn:hover {
        text-decoration: none;
    }

    .customer_box.rct .r_btn {
        color: #e16242;
    }

.rowpadding {
    padding: 65px 0;
}

.section-header h2 {
    color: #40434a;
    font-family: "proxima_nova_rgregular";
    line-height: 50px;
    padding: 0;
    margin: 0 0 17px 0;
    text-transform: uppercase;
    font-size: 55px;
}

.productpanel {
    background: #f7f7f7;
}

.section-subheading {
    color: #878b94;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.product_categories_productpage {
    padding-bottom: 50px;
    margin-bottom: 22px;
}


div#shopify-section-related-products {
    padding: 55px 0;
    padding-top: 40px;
    text-align: center;
    background: #fff;
}

    div#shopify-section-related-products p {
        font-size: 16px;
        text-transform: unset;
        margin-bottom: 0;
        padding: 15px;
    }

    div#shopify-section-related-products .product-heading h1 {
        font-size: 28px;
        color: #000;
        margin: 40px 0;
        text-transform: uppercase;
        font-family: 'proxima_nova_rgregular';
    }

        div#shopify-section-related-products .product-heading h1:after {
            background: #60bd0e;
            width: 40px;
            height: 3px;
            display: block;
            content: '';
            margin: 0 auto;
            margin-top: 10px;
        }

    div#shopify-section-related-products .card_item {
        position: relative;
        transition: all .3s ease-in-out;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
        border-bottom: 3px solid #60bd0e;
        min-height: 310px;
        text-align: center;
        margin: 0 15px;
    }

        div#shopify-section-related-products .card_item:hover {
            transform: translateY(-8px);
            transition: 0.6s all ease;
            text-decoration: none;
        }

        div#shopify-section-related-products .card_item img {
            width: 100%;
            height: 230px;
        }

    div#shopify-section-related-products .grid-view-item__image {
        max-width: 100%;
        max-height: 100%;
    }

    div#shopify-section-related-products .slick-prev:before,
    div#shopify-section-related-products .slick-next:before {
        color: #60bd0e;
        font-weight: 600;
        font-size: 40px;
        opacity: 1;
    }

    div#shopify-section-related-products .slick-prev:before {
        display: block;
        content: '\f100';
        font-family: 'FontAwesome';
        animation: slide1 1s ease-in-out infinite;
    }

    div#shopify-section-related-products .slick-next:before {
        display: block;
        content: '\f101';
        font-family: 'FontAwesome';
        animation: slide2 1s ease-in-out infinite;
    }

    div#shopify-section-related-products .slick-prev {
        left: -30px;
    }

    div#shopify-section-related-products .slick-next {
        right: -23px;
    }

@media screen and (max-width: 991px) {
    div#shopify-section-related-products .slick-prev {
        left: -20px;
    }

    div#shopify-section-related-products .slick-next {
        right: -7px;
    }
}

@media screen and (max-width: 767px) {
    div#shopify-section-related-products .product-heading h1 {
        font-size: 24px;
    }

    div#shopify-section-related-products .card_item {
        min-height: auto;
        margin-bottom: 20px !important;
    }

    div#shopify-section-related-products .product-card {
        padding: 0;
    }

    div#shopify-section-related-products .tab-slider {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    div#shopify-section-related-products .page-width {
        padding: 0 20px;
    }

    div#shopify-section-related-products li.grid__item.small--one-whole.medium-up--one-quarter.product-card {
        padding-left: 15px;
    }
    /* div#shopify-section-related-products .card_item {
         min-height: 320px;
         } */
}

.related-products {
    display: flex;
    justify-content: center;
    list-style:none;
}

    .related-products li a:hover {
        text-decoration:none;
    }

.joinformpanel {
    border: #ccc solid 1px;
    padding: 30px;
    margin:50px 0;
}

    .joinformpanel .contact_l label {
        text-align: left;
        font-family: 'Raleway', sans-serif;
        color:#000;
    }

    .joinformpanel .contact_l p {
        font-size:19px;
    }


@media only screen and (min-width:200px) and (max-width:719px) {

    .product_categories img {
        width: 100%;
        height: auto;
    }

    .shopify-section .page-width {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1250px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .shopify-section .active_secound {
        position: initial;
        top: 40px;
        left: -40px;
    }


    .customer_box {
        margin: 0 18px;
        width: calc(100% - 24px) !important;
        background: #2b79c3;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        border-radius: 15px;
        overflow: hidden;
        display: inline-block;
    }

}






