﻿@charset "utf-8";

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|PT+Sans:400,400italic,700,700italic|Montserrat:400,700|Arimo:400,400italic,700,700italic);

/*

font-family: 'Raleway', sans-serif;

font-family: 'PT Sans', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Arimo', sans-serif;

*/

@font-face {
    font-family: 'loveloblack';
    src: url('../fonts/loveloblack-webfont.eot');
    src: url('../fonts/loveloblack-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/loveloblack-webfont.woff2') format('woff2'), url('../fonts/loveloblack-webfont.woff') format('woff'), url('../fonts/loveloblack-webfont.ttf') format('truetype'), url('../fonts/loveloblack-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}



@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova-regular-webfont';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proximanova-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('../fonts/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNovaSemibold.eot') format('embedded-opentype'), url('../fonts/ProximaNovaSemibold.woff2') format('woff2'), url('../fonts/ProximaNovaSemibold.woff') format('woff'), url('../fonts/ProximaNovaSemibold.ttf') format('truetype'), url('../fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'proximanova-regular-webfont', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: normal;
    color: #4c4c4c;
    letter-spacing: 1px;
    padding-top: 0 !important;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0;
    line-height: normal;
}

h1 {
    font-family: 'proxima_nova_rgregular';
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-family: 'proxima_nova_rgregular';
    font-size: 34px;
    line-height: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 10px 0;
}

    p a {
    }

a, img {
    border: 0;
    text-decoration: none;
    outline: none;
}

    a, a:link, a:visited {
        outline: none;
        text-decoration: none;
        color: #b0d235;
    }

        a:hover {
            color: #4c4c4c;
        }

::-webkit-input-placeholder { /* WebKit browsers color:#83221b;*/
}

    ::-webkit-input-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 color:#83221b; opacity:1;*/
    }

    ::-webkit-input-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ color:#83221b; opacity:1;*/
    }

    ::-webkit-input-placeholder:-ms-input-placeholder { /* Internet Explorer 10+  color:#83221b;*/
    }

header#top #logo { /*RB added*/
    float: left;
    margin-right: 2%;
    margin-left: 2%;
}

.row {
    position: relative;
}

.alignleft, .alignnone {
    float: left;
    margin: 0 15px 10px 0;
}

.alignright {
    float: right;
    margin: 0 0 10px 15px;
}

.aligncenter {
    margin: 10px auto;
    display: block;
}

img {
    max-width: 100%;
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    top: 3px;
}



#toggle-nav {
    display: none;
}

header {
    padding: 0px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    /*border-bottom:1px solid rgba(255,255,255,0.3);*/
    background: rgba(255,255,255,0.62); /*background:none;*/
    display: block;
    z-index: 99;
}

.flt_cnt_hld header {
    background: rgba(235,235,235,0.62);
}

header.is-stuck {
    position: fixed;
    background: rgba(255,255,255,0.62);
}

header img.logo {
    width: auto !important;
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    /*min-height: 60px;
    max-height: 80px;*/
}

header.is-stuck .logo {
    padding: 5px 0;
}

.logo a, .logo img {
    display: block;
}

header img.logo {
    height: 60px;
}

header.is-stuck img.logo {
    height: 50px;
}

.right-hdr {
    width: auto !important;
}

nav.mainnav {
    font-family: "proxima_nova_rgregular"; /*font-family: "Open Sans",sans-serif;*/
    float: right;
    margin-top: 0px; /*font-weight:400;*/
}

    nav.mainnav ul.menuholder {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    }

        nav.mainnav ul.menuholder > li {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            position: relative;
        }

            nav.mainnav ul.menuholder > li > a {
                display: block;
                height: 90px;
                padding: 0 10px;
                line-height: 96px;
                font-size: 16px; /*font-size:14px;*/
                color: #404042;
                text-transform: uppercase;
            }

header.is-stuck nav.mainnav ul.menuholder > li > a {
    height: 60px;
    line-height: 64px;
}

nav.mainnav ul.menuholder > li:hover > a, nav.mainnav ul.menuholder > li.active > a {
    background: rgba(0,0,0,0.8);
    color: #fff;
}

header.is-stuck nav.mainnav ul.menuholder > li:hover > a, header.is-stuck nav.mainnav ul.menuholder > li.active > a { /*background: rgba(0,0,0.6);*/
}



nav.mainnav ul.menuholder > li ul.sub-menu {
    position: absolute;
    display: none;
    width: 220px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    left: 0;
    list-style: none;
    padding: 0;
}

nav.mainnav ul.menuholder > li:hover ul.sub-menu {
    display: block;
}

nav.mainnav ul.menuholder > li ul.sub-menu > li {
    border-bottom: 1px solid #ccc;
}

    nav.mainnav ul.menuholder > li ul.sub-menu > li > a {
        color: #3a3a3a;
        height: 35px;
        line-height: 36px;
        /*font-family: "Open Sans",sans-serif;*/
        font-size: 13px;
        padding: 0 15px;
        display: block;
    }

    nav.mainnav ul.menuholder > li ul.sub-menu > li:hover > a {
        background: rgba(58,58,58,0.8);
        color: #fff;
    }


.showcase {
    position: relative; /*z-index:-1;*/
}

.videoholder {
}

.showcase_inner {
    display: block;
    left: 0;
    right: 0;
}

.maincontent {
    position: relative;
    background: #fff;
}

.rowpadding {
    padding: 40px 0;
}

.dark {
    background: #4c4c4c;
    color: #fff;
}

.greenbg {
    color: #fff;
    background: #266f36;
}

.redbg {
    color: #fff;
    background: #990000;
}

.colpadding {
    padding-top: 40px;
    padding-bottom: 40px;
}



.btn {
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    background: none;
    border-radius: 0;
    border-width: 2px;
    font-family: 'Montserrat';
    text-shadow: none;
    box-shadow: none;
}

.btn-info {
    border-color: #b0d235;
    color: #b0d235;
}

    .btn-info:hover {
        border-color: #266f36;
        color: #266f36;
        background: none;
    }

.dark .btn-info {
    border-color: #fff;
    color: #fff;
}

    .dark .btn-info:hover {
        border-color: #fff;
        background: #fff !important;
        color: #3a3a3a;
        background: none;
    }

.imagelink {
    display: block;
}

    .imagelink img {
        display: block;
        margin-bottom: 15px;
    }

.parallax-window {
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

    .parallax-window .container, .parallax-window .container-fluid {
        position: relative;
        z-index: 1;
    }

    .parallax-window:before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: "";
        background: url(../images/grid.png) repeat rgba(0,0,0,0.6);
        z-index: 0;
    }



.img_gal_hold {
    position: relative;
}

    .img_gal_hold img {
        display: block;
    }

    .img_gal_hold a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.7);
        color: #fff;
        text-align: center;
        font-family: 'loveloblack', sans-serif;
        font-size: 18px;
        padding-top: 20%;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
    }

        .img_gal_hold a:hover {
            opacity: 1.0;
        }

        .img_gal_hold a:after {
            content: "";
            background: url(../images/search.png) no-repeat center center;
            border: 2px solid #fff;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            display: block;
            margin: 10px auto 0;
        }



h3.ui-accordion-header {
    border: 1px solid #DDD;
    background: #EEE;
    cursor: pointer;
    position: relative;
    z-index: 9;
    letter-spacing: 0;
    font-size: 14px;
    padding: 0 15px;
    margin: 0;
    line-height: 50px;
    outline: none;
}

    h3.ui-accordion-header.ui-accordion-header-active {
        background: #fff;
    }



.ui-accordion-content {
    border: 1px solid #DDD;
    background: #fff;
    border-top: 0;
    padding: 15px;
    font-size: 14px;
    height: auto !important;
}



footer {
    background: #252525;
    position: relative;
}

    footer ul.footernav {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
        width: 100%;
        text-align: right;
    }

        footer ul.footernav > li {
            list-style: none;
            margin: 0 0 0 20px;
            padding: 0;
            text-align: center;
            display: inline-block;
        }

            footer ul.footernav > li:hover a {
                color: #fff;
            }

.copyright {
    font-size: 14px;
    text-align: right;
}



.footer_top {
    padding: 60px 0;
}

.footer_box h5 {
    color: #fff;
    font-family: 'ProximaNovaSemibold';
    text-transform: uppercase;
}

ul.ftr_link {
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul.ftr_link li {
        list-style: none;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 20px;
        display: inline-block;
        width: 49%;
    }

        ul.ftr_link li a {
            color: #959595;
            display: block;
            line-height: 30px;
        }

            ul.ftr_link li a:hover {
                color: #fff;
            }



    ul.ftr_link.sml {
        padding-top: 40px;
    }

        ul.ftr_link.sml li {
            text-transform: capitalize;
        }



.footer_box ul.adrs {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .footer_box ul.adrs li {
        list-style: none;
        font-size: 15px;
        font-weight: 600;
        line-height: 30px;
        color: #959595;
    }







.footer_bottom {
    background: #0f0f0f;
    padding: 15px 0;
}

.social {
    text-align: right;
    padding-top: 7px;
}

    .social ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .social ul li {
            list-style: none;
            display: inline-block;
            font-size: 28px;
            margin-left: 10px;
        }

            .social ul li a {
                color: #878787;
            }

                .social ul li a:hover {
                    color: #fff;
                }



.footer_btm {
    background: #0f0f0f;
    padding: 22px 0;
}



.green_col {
    background: #8cb23e;
    padding: 35px;
}

    .green_col.pethealth {
        background: #c8def6;
    }

.green_col_inr {
    text-align: center;
}

    .green_col_inr ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
    }

        .green_col_inr ul li {
            list-style: none;
            display: inline-block;
            margin: 0 25px;
        }



    .green_col_inr h1 {
        color: #fff;
        margin: 0;
        letter-spacing: -1px;
    }

    .green_col_inr.otherpage h1 {
        font-size: 34px;
    }

.pethealth .green_col_inr.otherpage h1 {
    color: #0075ba;
}

.three_col_cat {
    position: relative;
}

.cat_content {
    position: absolute;
    width: 198px;
    top: 30px;
    right: 30px;
    z-index: 9;
}

    .cat_content h3 {
        color: #fff;
    }

.bluetext .cat_content h3 {
    color: #0054a6;
}



.bw_block {
    background: url(../images/bg_bw.png) no-repeat center top / cover;
    height: 490px;
    padding: 70px 0;
}

.bw_inr {
    text-align: center;
}

    .bw_inr img {
        margin: 0 0 26px;
    }

    .bw_inr h4 {
        color: #fff;
    }

a.green_btn {
    display: inline-block;
    background: #8dc63f;
    border: 1px solid #fff;
    padding: 10px 12px 6px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    line-height: 16px;
}

    a.green_btn:hover {
        background: #427200;
    }



.prod_sldr {
    background: #c8def6;
    padding: 20px 0 30px 0;
}

.slider_block {
    margin: 0 auto;
    width: 725px;
}

.prod_desc {
    padding-top: 60px;
}

    .prod_desc .labl_logo {
        margin: 0 0 25px;
    }

    .prod_desc p {
        font-size: 17px;
        color: #636363;
        line-height: 24px;
        padding: 0 0 20px;
    }

a.blue_btn {
    display: inline-block;
    background: #00aeef;
    padding: 10px 12px 6px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    line-height: 16px;
}

    a.blue_btn:hover {
        background: #0e78ba;
    }



.brnd_box {
    text-align: center;
}

    .brnd_box .brnd_logo {
        margin: 0 0 15px;
    }

    .brnd_box h4 {
        color: #363636;
    }

    .brnd_box p {
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 25px;
        min-height: 150px;
    }

    .brnd_box a.green_btn {
        font-size: 14px;
        line-height: 18px;
    }



.petfourcol .brnd_box p {
    min-height: 188px;
}



.proddetailpage_top {
    background: rgba(162, 192, 120, 0.8);
    padding: 106px 0 15px;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    top: 0px;
}

.single_brdcrmb {
    margin: 0 0 5px;
}

    .single_brdcrmb ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .single_brdcrmb ul li {
            list-style: none;
            display: inline-block;
            background: url(../images/brcrmb_line.png) no-repeat left 50%;
            padding-left: 19px;
            margin-left: 7px;
            font: normal 21px/21px 'ProximaNovaSemibold';
            color: #41651e;
        }

            .single_brdcrmb ul li:first-child {
                margin-left: 0;
                padding-left: 0;
                background: none;
            }

            .single_brdcrmb ul li a {
                color: #fff;
            }



.text_logo {
    text-align: right;
    font: normal 50px/45px 'proximanova-regular-webfont';
    color: #fff;
    padding-top: 3px;
}



.main_brdcrmb ol {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    color: #fff;
}

    .breadcrumb > li + li::before {
        color: #fff;
        content: "›› ";
        padding: 0 5px;
    }

.main_brdcrmb ol li {
    font-size: 14px;
    font-family: proxima_nova_rgregular;
    letter-spacing: 0;
}

    .main_brdcrmb ol li a {
        color: #fff;
    }

.breadcrumb ol li a {
}

.breadcrumb > .active {
    color: #fff;
}





.proddetailpage_banner {
    text-align: center;
    position: relative;
    padding-top: 91px;
}

    .proddetailpage_banner img {
        width: 100%;
    }

.banner_cont {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    text-align: center;
    z-index: 9;
}

    .banner_cont h3 strong {
        background: rgba(65, 101, 30, 0.5);
        padding: 6px 8px 3px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'proximanova-regular-webfont';
    }



.left_block {
    margin: 0;
}

    .left_block .img_box {
        margin: 0 0 20px;
    }

ul.prdct_des_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul.prdct_des_list li {
        list-style: none;
        background: url(../images/list_icon.png) no-repeat left 50%;
        font: normal 18px/27px 'ProximaNovaSemibold';
        padding-left: 16px;
        color: #8fc447;
    }



.sidebar {
    margin: 0;
}

.butn_set {
    margin: 0 0 45px;
}

    .butn_set a.green_btn {
        font-size: 18px;
        line-height: 14px;
        font-family: 'proxima_nova_rgregular';
        padding: 12px 14px;
    }

.prd_ingrdnce {
    margin: 0 0 25px;
}

    .prd_ingrdnce ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .prd_ingrdnce ul li {
            list-style: none;
            font-size: 15px;
            color: #41651e;
            font-family: 'proxima_nova_rgregular';
            letter-spacing: 0px;
        }

            .prd_ingrdnce ul li.ingrd_mn {
                font-size: 20px;
            }

                .prd_ingrdnce ul li.ingrd_mn small {
                    font-size: 12px;
                    color: #959595;
                }



.prd_ingrdnce_logos ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .prd_ingrdnce_logos ul li {
        list-style: none;
        margin: 0 0 18px;
    }



/*25112015*/

.blue_transp {
    background: rgba(0, 117, 186, 0.8);
}

    .blue_transp .single_brdcrmb ul li {
        color: #6fd1f5;
    }

.banner_cont.blue_inr h3 strong {
    background: rgba(111, 209, 245, 0.6);
}

.prod_benift {
    margin: 0 0 20px;
}

    .prod_benift h5 {
        text-transform: uppercase;
        color: #0058a4;
        font-family: 'proxima_nova_rgregular';
    }

.bnft_list {
    background: #d8e5f3;
    padding: 18px;
}

    .bnft_list ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .bnft_list ul li {
            background: url(../images/list_icon_black.png) no-repeat left 50%;
            color: #000;
            font: 16px/22px "proximanova-regular-webfont";
            list-style: outside none none;
            padding-left: 16px;
        }

.how_works h5 {
    text-transform: uppercase;
    color: #000;
    font-family: 'proxima_nova_rgregular';
    margin: 0 0 10px;
}

.prdrt_smldesc {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
}

.prd_ingrdnce.price ul li {
    color: #0058a4;
}



.ftrLogo {
    margin: 0 0 0px;
}



.exprs_lndnprods {
    text-align: center;
}

    .exprs_lndnprods ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .exprs_lndnprods ul li {
            list-style: none;
            display: inline-block;
            width: 25%;
            padding: 0 15px;
            margin-right: -4px;
        }

.ornge_transp {
    background: rgba(241, 99, 42, 0.7);
}

    .ornge_transp .single_brdcrmb ul li {
        color: #fff270;
    }

.banner_cont.orng_inr h3 strong {
    background: rgba(250, 173, 98, 0.6);
}

.green_col.elevt {
    background: #fcd9b7;
}

    .green_col.elevt h1 {
        color: #636363;
    }

.left_block.elvt_orng h5 {
    color: #f7922b;
}

.left_block.elvt_orng .bnft_list {
    background: #ffface;
}

.sidebar.elvt_orng .prd_ingrdnce.price ul li {
    color: #41651e;
}



.flat_content {
    font-weight: 600;
    padding: 150px 0 60px;
}

.pdf_dwonload {
    margin-bottom: 30px;
}

    .pdf_dwonload a {
        color: #0075ba;
    }

        .pdf_dwonload a img {
            margin-bottom: 10px;
        }

.side_menu {
}

    .side_menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .side_menu ul li {
            display: block;
            font-size: 13px;
        }

            .side_menu ul li a {
                color: #0075ba;
            }

                .side_menu ul li a:hover {
                    text-decoration: underline;
                }



/*4122015*/

.maincontent.without_showcase {
    padding-top: 91px;
}

.prodctpage_info {
    text-align: center;
    margin: 0 0 70px;
}

    .prodctpage_info p {
        font-size: 21px;
        line-height: 29px;
        padding: 0 180px;
    }



.prodctpage_cat {
    text-align: center;
}

    .prodctpage_cat ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .prodctpage_cat ul li {
            list-style: none;
            display: inline-block;
            margin: 0 15px 15px;
            position: relative;
        }

            .prodctpage_cat ul li h3 {
                position: absolute;
                z-index: 9;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 44%;
            }

                .prodctpage_cat ul li h3 strong {
                    color: #fff;
                    font-weight: normal;
                    text-transform: uppercase;
                    font-size: 50px;
                    line-height: 50px;
                    display: inline-block;
                    background: rgba(0,0,0,0.5);
                    padding: 10px 25px;
                }

.deep_orng {
    background: #f7922b;
}



/*9122015*/

.loginpage_mid {
    margin: 0 auto;
    width: 780px;
}

.loginbox {
    background: #7da9d7;
    padding: 42px;
    text-align: center;
}

    .loginbox label {
        font-weight: normal;
        color: #fff;
        font-size: 21px;
        margin: 0 0 10px;
    }

    .loginbox .form-group {
        margin: 0 0 28px;
    }

    .loginbox input[type="text"], .loginbox input[type="password"] {
        height: 56px;
        line-height: 56px;
        border: 0;
    }

    .loginbox input[type="submit"].logingbtn {
        border: 0;
        background: #0058a4;
        padding: 10px 25px;
        border-radius: 4px;
        text-transform: uppercase;
        color: #fff;
        font-size: 21px;
    }

    .loginbox input[type="submit"].sbmtbtn {
        border: 0;
        background: #f1632a;
        padding: 10px 25px;
        border-radius: 4px;
        text-transform: uppercase;
        color: #fff;
        font-size: 21px;
    }

    .loginbox.forgot {
        background: #fbad62;
    }

        .loginbox.forgot h4 {
            margin: 0 0 1px;
            color: #fff;
        }

        .loginbox.forgot p {
            font-size: 20px;
            color: #707070;
            padding-bottom: 38px;
        }



.form_nmlt {
    float: left;
    width: 145px;
    text-align: right;
}

    .form_nmlt label {
        font-size: 18px;
        line-height: 56px;
        font-weight: normal;
    }

        .form_nmlt label span {
            color: #ec1a29;
            font-size: 24px;
        }

.form_inputs {
    margin-left: 155px;
}

.contact_ltform .form-group {
    margin: 0 0 10px;
}

.contact_ltform input[type="text"], .contact_ltform input[type="email"] {
    height: 56px;
    line-height: 56px;
    border: 1px solid #ccc;
}

.contact_ltform textarea {
    min-height: 183px;
    border: 1px solid #ccc;
}

.form_inputs .form_nmlt {
    float: none;
    width: auto;
    text-align: left;
}

    .form_inputs .form_nmlt label {
        line-height: normal;
    }

.contact_ltform input[type="submit"].sbmtbtn {
    border: 0;
    background: #f1632a;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
}

.contact_rt {
    background: #d3e2f3;
    padding: 18px;
}

    .contact_rt h6 {
        color: #0058a4;
        margin: 0 0 2px;
    }

    .contact_rt p {
        padding: 0 0 25px;
    }

.gglmap_icon {
    margin: 0 0 10px;
}

.map_box {
    border: 1px solid #fff;
    height: 125px;
}
/*Join Option Page*/
.join_opt_box {
    margin: 0 auto;
    width: 780px;
    text-align: center;
}

    .join_opt_box h2 {
        color: #fff;
    }

    .join_opt_box a {
        border-radius: 3px;
        display: block;
        padding: 5px;
        text-align: center;
        color: #fff;
        margin-top: 20px;
    }

.blubox {
    padding: 24px;
    width: 48%;
    background-color: #7da9d7;
    float: left;
}

    .blubox a {
        background-color: #0058a4;
         width:85%;
          margin: 0 auto;
          margin-top:20px;
    }

.orgbox {
    padding: 24px;
    width: 48%;
    background-color: #fbad62;
    float: right;
}
    .orgbox a {
         background-color: #f1632a;
          width:80%;
          margin: 0 auto;
          margin-top:20px;
    }
.option_info {
    margin: 0 auto;
    width: 98%;
    text-align: left;
    color: #000;
    line-height: 28px;
    font: normal 26px 'proxima_nova_rgregular';
}
    .option_info p {
    font-size:18px;}
.grnbox {
    padding: 24px;
   
    background-color: #58c471;
}
    .grnbox a {
        background-color: #043810;
        width:55%;
        margin:0 auto;
        margin-top:20px;
    }
    .grnbox .option_info {
    text-align:center;}
/*End Join Option Page*/


.join_wrap {
    margin: 0 auto;
    width: 780px;
}

.join_info {
    padding: 24px;
    background: #d3e2f3;
    border-radius: 5px;
    margin: 0 0 30px;
    text-align: center;
}

.join_infomain {
    font-family: 'ProximaNovaSemibold';
    font-size: 21px;
    line-height: 25px;
    margin: 0 0 20px;
    color: #000;
}

    .join_infomain a {
        color: #000;
    }

        .join_infomain a span {
            color: #0058a4;
        }

.join_info p {
    font-size: 21px;
    color: #000;
}

    .join_info p span {
        color: #0058a4;
    }

        .join_info p span a {
            font-size: 16px;
            color: #0058a4;
        }

.st_selct {
    float: left;
    width: 186px;
    margin-right: 25px;
}

.zip_ttl {
    font-size: 18px;
    line-height: 56px;
    font-weight: normal;
    float: left;
}

.zip_box {
    float: right;
    width: 316px;
}



.join_form .form-group {
    margin: 0 0 10px;
}

.join_form input[type="text"], .join_form input[type="email"], .join_form input[type="password"], .join_form select {
    height: 56px;
    line-height: 56px;
    border: 1px solid #ccc;
}

.join_form input[type="submit"].sbmtbtn {
    border: 0;
    background: #f1632a;
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    float: right;
}

.chk_lt {
    float: left;
    width: 75%;
}

    .chk_lt label {
        font-weight: normal;
        font-size: 15px;
    }

        .chk_lt label strong {
            color: #0058a4;
        }

.join_form .st_selct select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../images/arw_st.jpg) no-repeat right 50%;
}



.logd_user {
    padding: 0 0 0 60px;
    float: left;
}

.is-stuck .logd_user {
    padding: 0 0 0 70px;
}

.logd_user ul {
    /*margin: 0;*/
    padding: 15px 0 0 0;
    list-style: none;
}

    .logd_user ul li {
        list-style: none;
        font-size: 14px;
    }

        .logd_user ul li i {
            width: 18px;
            text-align: center;
        }

header.is-stuck .logd_user ul {
    margin: 0;
    padding: 0;
}

.tp-bannertimer {
    display: none !important;
}

.front_ultra_botls {
    float: left;
}

@media only screen and ( max-width: 1199px ) {
    header#top .main_nav_mobile {
        display: none;
    }

    .logd_user {
        padding: 0 0 0 40px;
    }

    .cat_content {
        right: 10px;
    }

        .cat_content h3 {
            font-size: 20px;
        }



    .petfourcol .brnd_box p {
        min-height: 224px;
    }

    .prodctpage_info p {
        padding: 0 90px;
    }

    ul.ftr_link li {
        font-size: 12px;
    }
}



@media only screen and ( max-width: 991px ) {

    .cart_banner_area {
        padding-top: 0px;
    }

    .logd_user {
        padding: 0 0 0 60px;
        float: left;
    }

    nav.mainnav {
        display: none !important;
    }

    header#top .main_nav_mobile {
        /*display: none !important;*/
        position: relative;
        z-index: 100000;
    }

    header#top col-sm-9 {
        /* margin-left: 0px; */
        min-height: 48px;
        margin-bottom: 0px;
        width: 100% !important;
        float: none;
        z-index: 100;
        position: relative;
    }

    header#top, #header-outer:not([data-permanent-transparent="1"]) {
        height: auto !important;
    }

    header#top {
        height: auto !important;
    }

        header#top #logo {
            margin-top: 7px !important;
        }



        /*header#top .container .logo {
            max-width: 150px;
        }*/

        header#top .container {
            max-width: 800px;
        }
        /*RB added*/
        header#top .header_div {
            /*position: absolute;*/
            left: 0px;
            top: 0px;
            z-index: 1000;
            width: 85% !important;
            margin-bottom: 25px;
            margin-left: 0;
            margin-right: 2%;
        }

    .green_col {
        padding: 35px 0;
    }

    .cat_content {
        width: 138px;
        top: 10px;
        right: 10px;
    }

        .cat_content h3 {
            font-size: 16px;
        }



    .text_logo {
        text-align: left;
        padding-top: 15px;
    }

    .proddetailpage_top {
        padding-top: 15px;
        position: relative;
    }

    .prodctpage_info p {
        padding: 0;
    }



    .loginpage_mid {
        width: 100%;
    }

    .contact_ltform {
        margin: 0 0 30px;
    }

    .join_wrap {
        width: 100%;
    }

    .zip_box {
        width: 265px;
    }



    header {
        position: relative;
    }

        header.is-stuck {
            position: relative;
        }

    /*.logo {
        text-align: center;
        width: 100% !important;
    }

    header .logo img {
        display: inline-block;
    }*/



    #toggle-nav {
        display: block;
        color: #000;
        font-size: 28px;
        text-align: center;
        /*padding-top: 30px;*/
    }

    /*.right-hdr {
        width: 100% !important;
    }*/





    .main_nav_mobile {
        /*float: none;*/
        position: relative;
        top: 0px;
        display: none;
        /*background-color: #1F1F1F;*/
        padding: 0px;
        z-index: 100000;
        margin-bottom: 20px;
    }

        .main_nav_mobile ul.menuholder {
            /*float: none;*/
            list-style: none;
            /*margin: 0 auto;*/
            padding: 0;
            width: auto !important;
        }

            .main_nav_mobile ul.menuholder li {
                float: none;
                width: 100%;
                height: auto;
                line-height: 40px;
                border-bottom: 1px solid #666;
            }


                .main_nav_mobile ul.menuholder li.has_sub:before {
                    float: right;
                    margin-right: 20px;
                    content: "\e259";
                    font-family: 'Glyphicons Halflings';
                }


            .main_nav_mobile ul.menuholder > li > a {
                height: auto;
                line-height: 40px;
                /*display: block;*/
                position: relative;
                padding: 0 10px !important;
                text-transform: uppercase;
                color: #4c4c4c;
            }

    header.is-stuck .main_nav_mobile ul.menuholder > li > a {
        line-height: 40px;
        height: 40px;
    }

    .main_nav_mobile ul.menuholder > li ul.sub-menu {
        display: none;
    }



    .main_nav_mobile ul.menuholder > li ul.sub-menu {
        position: relative; /*display: none;*/
        /*display: block;*/
        width: 100%;
        background: none;
        border: 0;
        left: 0;
        list-style: none;
        padding: 0;
    }


        .main_nav_mobile ul.menuholder > li ul.sub-menu > li {
            border-bottom: 0;
            line-height: 30px;
            height: 30px;
            margin-left: 20px;
        }

            .main_nav_mobile ul.menuholder > li ul.sub-menu > li > a {
                line-height: 30px;
                height: 30px;
                color: #4c4c4c;
            }

                .main_nav_mobile ul.menuholder > li ul.sub-menu > li > a:hover {
                    font-weight: 600;
                    color: #000;
                }

    .main_nav_mobile ul.menuholder > li.active {
        background: rgba(0,0,0,0.8);
    }

        .main_nav_mobile ul.menuholder > li.active > a {
            color: #fff;
        }

        .main_nav_mobile ul.menuholder > li.active ul.sub-menu {
            background: #fff;
        }


    .proddetailpage_banner {
        padding-top: 0;
    }

    /*.logd_user {
        padding: 15px;
        /*text-align: center;
        width: 100%;*/
    /*}*/
    .front_ultra_botls {
        float: none;
    }
}





@media only screen and ( max-width: 767px ) {

    .cat_content {
        right: 10px;
        top: 20%;
        width: 50%;
    }

        .cat_content h3 {
            font-size: 26px;
        }



    .green_col_inr h1 br {
        display: none;
    }



    .slider_block {
        margin: 0 auto;
        width: 100%;
    }

    .prod_img {
        text-align: center;
    }

    .prod_desc {
        text-align: center;
    }

    .ftrLogo {
        text-align: center;
        margin: 0 0 20px;
    }

    .footer_box {
        text-align: center;
        margin: 0 0 20px;
    }

    ul.ftr_link.sml {
        padding-top: 0;
    }

    ul.ftr_link li {
        display: block;
        width: 100%;
    }



    .social {
        text-align: center;
        margin: 0 0 30px;
    }





    .banner_cont {
        top: 44%;
    }



    .brnd_box {
        text-align: center;
        margin: 0 0 30px;
    }

        .brnd_box p {
            min-height: inherit !important;
        }



    .prod_img_dtls {
        margin: 0 0 15px;
    }



    .exprs_lndnprods li {
        padding: 0 0 15px !important;
        width: 100% !important;
    }

    .footer_top .pull-right, .footer_bottom .pull-right {
        float: none !important;
    }



    .loginbox {
        margin: 0 0 30px;
    }



    .join_form .form_nmlt {
        float: none;
        text-align: left;
        width: 100%;
    }

        .join_form .form_nmlt label {
            line-height: normal;
        }

    .join_form .form_inputs {
        margin-left: 0;
    }

    .st_selct {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }

    .zip_ttl {
        line-height: normal;
        width: 100%;
    }

    .zip_box {
        width: 100%;
    }
}



@media only screen and ( max-width: 667px ) {

    header#top #logo {
        width: 100%;
        float: none;
    }

    header img.logo {
        margin: 0 auto;
    }
}



@media only screen and ( max-width: 570px ) {

    .chk_lt {
        float: none;
        margin: 0 0 10px;
        width: 100%;
    }

    .join_form input.sbmtbtn[type="submit"] {
        float: none;
    }
}



@media only screen and ( max-width: 550px ) {
}



@media only screen and ( max-width: 440px ) {

    .banner_cont h3 {
        font-size: 20px;
    }

    .text_logo {
        font-size: 40px;
        line-height: 40px;
    }

    .prod_img_dtls {
        text-align: center;
    }

    .butn_set {
        text-align: center;
    }

    .prd_ingrdnce ul li {
        text-align: center;
    }

    .prd_ingrdnce_logos {
        text-align: center;
    }



    .single_brdcrmb ul li {
        font-size: 20px;
    }

    .prodctpage_cat ul li {
        margin: 0 0 15px;
        width: 100%;
    }



    .form_nmlt {
        float: none;
        text-align: left;
        width: 100%;
    }

        .form_nmlt label {
            line-height: normal;
        }

    .form_inputs {
        margin-left: 0;
    }
}



@media only screen and ( max-width: 380px ) {

    .cat_content h3 {
        font-size: 18px;
    }

    .single_brdcrmb ul li {
        font-size: 16px;
    }
}

@media only screen and ( max-width: 359px ) {

    .banner_cont h3 {
        font-size: 14px;
    }

    .single_brdcrmb ul li {
        font-size: 14px;
    }

    .text_logo {
        font-size: 30px;
        line-height: 30px;
    }

    .loginbox {
        padding: 25px;
    }
}

/*RB code*/
.breadcrumbs a {
    font-size: 14px;
    color: #c2de9e;
    padding-right: .9em;
    margin-right: .2em;
    margin-top: .2em;
    text-decoration: none;
    display: inline-block;
    background: url('../images/small_arrows.png') right 6px no-repeat;
    cursor: pointer;
    font-family: proxima_nova_rgregular;
}

.breadcrumbs a {
    text-decoration: none;
}

    .breadcrumbs a:hover {
        text-decoration: underline;
    }
/*End RB Code*/
