﻿
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<p>&nbsp;</p>

<p><img alt="" src="https://www.moremito.com/upload/20211023105334806.jpg" style="height:4320px; width:946px" /></p>

@*<div class="coustomersignin">
        <div class="coustomersignintop">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="coustomertop_l">
                            <p>Pet Health Products <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">UltraMito™ Pet</a></p>
                            <p>People Health Products <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">UltraMito™ People</a></p>
                            <p>Professional Packs <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">UltraMito™ Rejuvenate</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">UltraMito™ Mind / Perform!</a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">UltraMito™ Pet</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="coustomertop_r">
                            <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                            <a class="cartnumber">0</a>
                            <div class="search">
                                <input type="text" class="simplesearch_input" placeholder="Search" />
                                <input type="submit" class="simplesearch_button" value="">
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="coustomersigninbottom">
                <a class="shopigcartsignin" href="">Shopping Cart Sign-In</a>
                <div class="clearfix"></div>
                <h2>Sign In</h2>

                <div class="form_container">
                    <div class="row">
                        <div class="col-md-6 cols-m-12 col-xs-12">
                            <div class="cussignin_l">
                                <form>
                                    <div class="form-group">
                                        <label>Email Address or UserName</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" />
                                    </div>
                                    <div class="customersigninbtnbox">
                                        <input type="submit" class="buttonsstandard" value="Continue" />
                                        <a class="buttonsstandard" href="">Forgot your Password?</a>
                                    </div>
                                </form>
                                <span>Foxx Legacy Shopping Cart Sign In Page</span>
                            </div>
                        </div>
                        <div class="col-md-6 cols-m-12 col-xs-12">
                            <div class="cussignin_r">
                                <h2>New User</h2>
                                <p>If you have not registered yet, click below.</p>
                                <a class="cousgetacodevbtn" href="">Get A Free Account Now</a>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>*@

